<sa-menu></sa-menu>
<!-- Contenido de la vista -->
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 right">
	<sa-header name-module="PROFESIONAL" path-module="#/Profesional" ></sa-header>
	<div class="main">
		<section class="contentwhite">
			<div class="container-fluid">
				<div class="encabezado">
					<div class="row">
						<h2>{{ constante.title.page }}</h2>
					</div>
				</div>
				<!-- El cuerpo se muestra si no se esta cargando el inicializador -->
				<!-- O si se produjo algun error inicializando -->
				<div class="cuerpo" ng-hide="formControl.loading || formControl.error">
					<div class="row">
						Contenido
					</div>
				</div>
				<!-- El loading se muestra si se esta cargando el inicializador -->
				<sa-loading ng-if="formControl.loading"></sa-loading>
			</div>
		</section>
	</div>
</div>
<!-- /Contenido de la vista -->