<sa-title 
	title-name="title.page"
	title-icon="EDIT"
></sa-title>
<div class="cuerpo" ng-hide="formControl.loading || formControl.error">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft">
			<h4>Indicaciones del paciente: {{data.prescripcion.NombrePaciente}}, {{data.prescripcion.TipoDocumento}}: {{data.prescripcion.NumeroDocumento}}</h4>
			
			<sa-detalle-prescripcion prescripcion="data.prescripcion" es-enfermeria="true" realizar="formControl.realizarPrescripcion(detalle)">
			</sa-detalle-prescripcion>

		</div>
		
	</div>
	<div class="row text-center">
		<label for="cmb_tipo_documento" id="label_indicacion"></label>
		<button class="btn btn-cancelar" ng-click="formControl.volver()">Volver</button>
	</div>
</div>
<sa-loading ng-if="formControl.loading"></sa-loading>
				