<sa-title
	title-name="title.page"
	title-icon="ADD"
></sa-title>
<div class="cuerpo" ng-hide="formControl.loading || formControl.error">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft">
			<h4>Paciente: {{data.prescripcion.NombrePaciente}}, {{data.prescripcion.TipoDocumento}}: {{data.prescripcion.NumeroDocumento}}</h4>
			
			<table class="table table-hover" id="detalle_prescripcion.tpl.html">
				<thead>
			 		<tr >
						<th colspan="3" class="text-center"></th>
					</tr>
					<tr class="thead-azul">
					<tr class="cabecera-tabla"> 
						<th class="text-left">Descripcion</th>
						<th class="text-left">Observaciones</th>
						<th class="text-left">Fecha/Hora Carga</th>
						<th class="text-left">Usuario Carga</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Prioridad</th>
						<th class="text-center">Cargar</th>
					</tr>
				</thead>
				<tbody ng-repeat="detalle in data.prescripcion.Detalles "  ng-hide="formControl.loading || formControl.vacia">
					<tr >
						<td class="row text-left" ng-click="formControl.verMedicamentos([$index])">{{ detalle.Indicacion.Nombre}}</td>
						<td class="row text-left" ng-click="formControl.verMedicamentos([$index])">{{ detalle.ObservacionMedica}}</td>
						<td class="row text-left" ng-click="formControl.verMedicamentos([$index])">{{ detalle.FechaCarga | date:"yyyy/MM/dd HH:mm"}}</td>
						<td class="row text-left" ng-click="formControl.verMedicamentos([$index])">{{ detalle.UsuarioCarga}}</td>
						<td class="row text-center" ng-click="formControl.verMedicamentos([$index])">{{ detalle.Estado}}</td>
						<td class="row text-center" >
							<button type="button" class="{{formControl.colorearPrioridad(detalle.Prioridad)}} btn btn-xs"
									id=""
									uib-tooltip="{{detalle.Prioridad}}" uib-tooltip-placement="top"
									ng-disabled="" 
									ng-click="">
								<sa-icon name="INFO"></sa-icon>
							</button> 
						</td>
						<td ng-if="!detalle.tieneFoja" class="row text-center" >
							<button type="button" class="btn btn-white btn-xs"
									uib-tooltip="Nueva" tooltip-placement="top"
									ng-click="formControl.newFoja($index)">
								<sa-icon name="LIST2"></sa-icon>
							</button>

						</td>
						<td ng-if="detalle.tieneFoja" class="text-center">
							<button type="button" class="btn btn-white btn-xs"
								uib-tooltip="Imprimir" tooltip-placement="top"
								ng-click="formControl.printFoja($index)">
								<sa-icon name="PRINT"></sa-icon>
							</button>
						</td>
					</tr>
					<tr ng-hide="!detalle.verMateriales || detalle.noMateriales">
						<td colspan="7">
							<div class="span9">
								<div class="col-md-10 col-md-offset-1">
									<!-- Second Layer -->
								    <table class="table table-hover table-condensed table-striped">
								        <thead class="levelTwo">
								        	<tr></tr>
								            <tr class="cabecera-tabla-celeste">
								                <th>Descripcion</th>
								                <th>Presentacion</th>
								                <th>Dosis</th>
								                <th>Tipo Dosis</th>
								                <th>Via</th>
								                <th>Cantidad</th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr ng-repeat="material in detalle.Materiales">
									        	<td ng-bind="material.Producto.Nombre"></td>
									        	<td ng-bind="material.Producto.Presentacion"></td>
									        	<td ng-bind="material.Dosis"></td>
									        	<td ng-bind="material.TipoDosis"></td>
									        	<td ng-bind="material.Via"></td>
												<td ng-bind="material.Cantidad"></td>
								        	</tr>
								        </tbody>
								    </table>
								    <!-- End Second Layer -->

								</div>
							</div>
						</td>
					</tr>
					<tr>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 colleft text-center" ng-hide="!detalle.verMateriales || !detalle.noMateriales" >
							<label  >No hay medicamentos asignados</label>
						</div>
					</tr>
				</tbody>

			</table>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 colleft text-center" ng-hide="!formControl.vacia" >
			<label  >No hay prescripciones realizadas...</label>
		</div>
	</div>

</div>
	<div class="row text-center">
		<label for="cmb_tipo_documento" id="label_indicacion"></label>
		<button class="btn btn-cancelar" ng-click="formControl.volver()">Volver</button>
	</div>
<sa-loading ng-if="formControl.loading"></sa-loading>