<sa-title
	title-name="vm.title"
	title-icon="ADD"
></sa-title>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>

<div class="cuerpo" ng-hide="vm.formControl.loading">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h4>Paciente: {{data.paciente.nombre_completo}}, {{data.paciente.TipoDocumento.nombre_tipo_documento}}: {{data.paciente.numero_documento}}</h4>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
					<label for="cmb_tipo_documento">Diagnostico:</label>	
					<input  type="text" 
						placeholder="Diagnostico..." 
						ng-model="formData.diagnostico.titulo_cie_enfermedad"
						class="form-control"
						ng-disabled="true"
						ng-hide="false">
				</div>
				<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 form-group">
					<button ng-hide="!formControl.nuevoPaciente" class="btn btn-default btn-row" ng-click="formControl.cargarDiagnostico()">Diagnostico</button>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1  ">

					<sa-check-box ng-hide="!formControl.nuevoPaciente || !formControl.supervisor"
								label="Urgencia"
								color="red"
								ng-model="formData.esUrgencia"
								ng-change="formControl.urgencia()">
					</sa-check-box>
					<!-- <div class="checkbox" ng-hide="!formControl.nuevoPaciente || !formControl.supervisor">
						<label>
							<input type="checkbox"
							id="scrap_checkbox" 
							ng-model="formData.esUrgencia"
							ng-change="formControl.urgencia()">
							Urgencia
						</label>
					</div> -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 " ng-hide="!formControl.diagnosticoCargado">
					<label for="cmb_tipo_documento" id="label_indicacion">Cargar Nueva Indicacion:</label>
					<select id="select_indicacion"
						class="form-control"
						name="indicaciones"
						ng-model="formData.tipoIndicacion"
						ng-class="validar.error(formSolicitud.ubicacion.$valid)"
						ng-change="formControl.cargarIndicaciones()"
						ng-options="tipoIndicacion.Nombre
									for tipoIndicacion in data.tipoIndicaciones 
									track by tipoIndicacion.Id" 
						required >
						<option value="">--SELECCIONAR--</option>
					</select>
				</div>


				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 ">
					<BR><BR>
					<div class="btn-group pull-right" ng-hide="!formControl.tipoIndicacionCargada">
						<button class="btn btn-default"
							ng-disabled="(!formControl.indicacionTildada && !formControl.indicacionTipeada) || formControl.loading"
							ng-click='formControl.guardar()'>Guardar</button>
						<button class="btn btn-default"
							uib-tooltip="Limpiar"
							name="restart"
							ng-disabled="formControl.loading"
							ng-click="formControl.limpiar()">
							<sa-icon name="REPEAT"></sa-icon>
						</button>
					</div>					
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 "  >
					<table class="table table-hover" id="table_medicamento_practica"  ng-hide="!formControl.tipoIndicacionCargada">
						<thead>
					 		<tr >
								<th colspan="3" class="text-center"></th>
							</tr>
							<tr class="thead-azul">
							<tr class="cabecera-tabla"> 
								<th class="text-left">{{formData.tipoIndicacion.Nombre}}</th>
								<th class="text-center"></th>
							</tr>
						</thead>
						<tbody ng-hide="formControl.loading">
							<tr ng-repeat="indicacion in data.indicacionesFavoritas">
								<th class="row text-left">{{ indicacion.Nombre }}</th>
								<td class="text-center">
									<input type="checkbox" name="indicacion"
									id="indicacion_checkbox" 
									ng-disabled="(formControl.indicacionTildada && !data.indicacionesFavoritas[$index].cargada) || formControl.indicacionTipeada"
									ng-model="data.indicacionesFavoritas[$index].cargada"
									ng-change="formControl.tildarIndicacion([$index])">
								</td>
							</tr>
						</tbody>
					</table>
					<sa-loading ng-if="formControl.loading"></sa-loading>

					<input name="indicacion" 
							id="indicacion" type="text" 
							placeholder="Otro..." 
							ng-model="formData.indicacion"
							uib-typeahead="indicacion as indicacion.Nombre for indicacion in data.indicaciones | filter:$viewValue | limitTo:8" 
							class="form-control"
							typeahead-on-select="formControl.tipearIndicacion()"
							ng-change="formControl.tipearIndicacion()"
							typeahead-select-on-exact="true"
							ng-hide="!formControl.tipoIndicacionCargada">
				</div>
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 form-group"  ng-hide="!formControl.tipoIndicacionCargada">
					<div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  ">
						<label for="cmb_tipo_documento" id="label_via">Pioridad</label>
						<select id="select_via"
							class="form-control"
							name="internacion"
							ng-model="formData.indicacion.Prioridad"
							ng-class="validar.error(formSolicitud.ubicacion.$valid)"
							ng-change="formControl.datoCargado()"
							ng-options="prioridad.Nombre
										for prioridad in data.prioridades 
										track by prioridad.Id" 
							required 
							ng-disabled="!formControl.indicacionTildada && !formControl.indicacionTipeada">
						</select>
					</div>
					<div class="col-xs-5 col-sm-6 col-md-8 col-lg-9 ">
						<button class="btn btn-default btn-row" type="button"
								ng-hide="!formData.esUrgencia"
								ng-disabled="!formControl.indicacionTildada && !formControl.indicacionTipeada"
								ng-click="formControl.verPedidos()">
								Pedidos
						</button>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
						<label >Observaciones</label>
						<textarea type="text" class="form-control " placeholder="Observaciones"
							name="observaciones"
							ng-model="formData.indicacion.ObservacionMedica" 
							ng-disabled="!formControl.indicacionTildada && !formControl.indicacionTipeada">
						</textarea>
					</div>


					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group ">
						<label for="cmb_tipo_documento" id="practica_medica_medicamento_label">Medicamento </label>
						<input name="practica_medica_medicamento" 
								id="practica_medica_medicamento" type="text" 
								placeholder="Medicamento..." 
								ng-model="formData.medicamento"
								uib-typeahead="medicamento as (medicamento.Nombre +' | '+ medicamento.Presentacion) for medicamento in data.medicamentos | filter:$viewValue | limitTo:8" 
								class="form-control"
								typeahead-on-select="formControl.tipearMedicamento()"
								ng-change="formControl.tipearMedicamento()"
								typeahead-select-on-exact="true"
								ng-disabled="!formControl.indicacionTildada && !formControl.indicacionTipeada">
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 form-group ">
						<label for="cmb_tipo_documento" id="practica_medica_medicamento_label">Dosis </label>
						<input type="number" class="form-control"
							name="cantidadDiasInternacion"
							min="1"
							ng-model="formData.medicamento.Dosis"
							ng-disabled="(!formControl.indicacionTildada && !formControl.indicacionTipeada) || !formControl.medicamentoOk || formData.esUrgencia"
							required>
					</div>

					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group ">
						<label for="cmb_tipo_documento" id="label_via">Tipo Dosis</label>
						<select id="select_via"
							class="form-control"
							name="internacion"
							ng-model="formData.medicamento.TipoDosis"
							ng-class="validar.error(formSolicitud.ubicacion.$valid)"
							ng-change="formControl.datoCargado()"
							ng-options="tipo.Nombre
										for tipo in data.tiposDosis 
										track by tipo.Id" 
							required 
							ng-disabled="(!formControl.indicacionTildada && !formControl.indicacionTipeada) || !formControl.medicamentoOk || formData.esUrgencia">
							<option value="">--SELECCIONAR--</option>
						</select>
					</div>

					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group ">
						<label for="cmb_tipo_documento" id="label_via">Via</label>
						<select id="select_via"
							class="form-control"
							name="internacion"
							ng-model="formData.medicamento.Via"
							ng-class="validar.error(formSolicitud.ubicacion.$valid)"
							ng-change="formControl.datoCargado()"
							ng-options="via.Nombre
										for via in data.vias 
										track by via.Id" 
							required 
							ng-disabled="(!formControl.indicacionTildada && !formControl.indicacionTipeada) || !formControl.medicamentoOk || formData.esUrgencia">
							<option value="">--SELECCIONAR--</option>
						</select>
					</div>

					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
						<!-- <span class="input-group-btn"> -->
						<button id="asignar_button" class="btn btn-default btn-row-right" type="button"
								ng-disabled="!formControl.medicamentoCargado"
								ng-click="formControl.newMedicamento()">
								Agregar Medicamento
						</button>
					</div>

					<div ng-hide="!formData.esUrgencia" class="col-xs-8 col-sm-8 col-md-8 col-lg-8  ">
						<label for="cmb_tipo_documento">Descartable </label>
						<input type="text" 
								placeholder="Descartable..." 
								ng-model="formData.descartable"
								uib-typeahead="descartable as (descartable.Nombre +' | '+ descartable.Presentacion) for descartable in data.descartables | filter:$viewValue | limitTo:8" 
								class="form-control"
								typeahead-on-select="formControl.datoCargado()"
								ng-change="formControl.datoCargado()"
								typeahead-select-on-exact="true"
								ng-disabled="!formControl.indicacionTildada && !formControl.indicacionTipeada"
								>
					</div>

					<div ng-hide="!formData.esUrgencia" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<!-- <span class="input-group-btn"> -->
						<button id="asignar_button" class="btn btn-default btn-row" type="button"
								ng-disabled="!formControl.descartableCargado"
								ng-click="formControl.newDescartable()">
								Agregar Descartable
						</button>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<!-- <label for="cmb_tipo_documento" id="accion_enfermeria_label">Medicamentos </label> -->
						<table class="table table-hover" id="table_medicamento_practica" >
							<thead>
						 		<tr >
									<th colspan="3" class="text-center"></th>
								</tr>
								<tr class="thead-azul">
								<tr class="cabecera-tabla"> 
									<th class="text-left">Nro Medicamento</th>
									<th class="text-left">Descripcion</th>
									<th class="text-left">Presentacion</th>
									<th ng-hide="formData.esUrgencia" class="text-left">Dosis</th>
									<th ng-hide="formData.esUrgencia" class="text-left">Tipo Dosis</th>
									<th ng-hide="formData.esUrgencia" class="text-left">Via</th>
									<th ng-hide="!formData.esUrgencia" class="text-center" style="width: 10%;">Cantidad</th>
									<th class="text-center">Eliminar</th>
								</tr>
							</thead>
							<tbody  ng-hide="formControl.indicacionCargada">
								<tr ng-repeat="medicamento in data.medicamentosCarga">
									<th class="row text-left">{{ medicamento.NumeroArticulo }}</th>
									<td class="row text-left">{{ medicamento.Nombre}}</td>
									<td class="row text-left">{{ medicamento.Presentacion}}</td>
									<td ng-hide="formData.esUrgencia" class="row text-left">{{ medicamento.Dosis}}</td>
									<td ng-hide="formData.esUrgencia" class="row text-left">{{ medicamento.TipoDosis.Nombre}}</td>
									<td ng-hide="formData.esUrgencia" class="row text-left">{{ medicamento.Via.Nombre}}</td>
									<td ng-hide="!formData.esUrgencia" class="row text-center">
										<div class="input-group">
								          <span class="input-group-btn">
								              <button type="button" 
													ng-hide=""
													class="btn btn-white btn-xs"
													ng-disabled="medicamento.minimo"
													ng-click="formControl.resta(medicamento)">
													<sa-icon name="MINUS"></sa-icon>
											</button>
								          </span>
								          <input type="text" min="0"
								          			class="form-control input-sm"
													ng-model="medicamento.cantidad"
													ng-disabled="true"
													required>
								          <span class="input-group-btn">
								              <button type="button"
													ng-hide=""
													class="btn btn-white btn-xs"		
													ng-disabled="medicamento.maximo"									
													ng-click="formControl.suma(medicamento)">
													<sa-icon name="NEW"></sa-icon>
											</button>
								          </span>
								      </div>		
									</td>
									<td class="text-center">
										<button type="button" class="btn btn-white btn-xs"
												id=""
												uib-tooltip="Eliminar" uib-tooltip-placement="top"
												ng-disabled="" 
												ng-click="formControl.deleteMedicamento([$index])">
											<sa-icon name="DEL"></sa-icon>
										</button> 
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-hide="formControl.tipoIndicacionCargada || formControl.loading || formControl.nuevoPaciente">

					<BR><BR>
					<label for="cmb_tipo_documento" id="label_indicacion">Indicaciones Actuales</label>
					<sa-detalle-prescripcion prescripcion="data.prescripcion">
					</sa-detalle-prescripcion>

				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<label for="cmb_tipo_documento" id="label_indicacion"></label>
		<button class="btn btn-cancelar" ng-click="formControl.volver()">Volver</button>
	</div>
</div>


<!-- /Contenido de la vista -->