@import '../common/variables';

.card {
    /* Add shadows to create the "card" effect */
    cursor: pointer;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 8px;
    margin-bottom: 26px;
    
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 18px 18px;
}