@import '../common/variables';
.iconos {
	color: $color-white;
	font-size: 1.8em;
	line-height: 1.2em;
	margin-right: 10px;
	margin-left: 4px;
	vertical-align: middle;
}

.icons-home {
	font-size: 50px;
	margin-bottom: 21px;
	// color: $color-azul-sa;
}