/* Mis estilos */
@import '../common/variables';

body {
	font-family: 'open_sansregular';
	font-size: $font-size-general;
	height: 100%;
	margin: 0;
	background-color: $color-gris-clarito;
}

.main {
	padding: 0px 5px 5px 5px;
}

@media screen and (max-width: 600px) {
	.main {
		padding: 10px;
	}
}

a {
	&:hover, &:focus, &:hover {
		text-decoration: none;
	}
}

.white-space-not {
	white-space : normal;
}

#logo_sa_grande {
	width: "234";
	height: "125";
}

.circulito {
	margin-right: 10px;
	width: 15px;
	height: 15px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

.animate-hide {
  transition: linear 0.5s;

}
.animate-hide.ng-hide {
  opacity: 0;
  padding: 0 20px;
}

@import 'navs';
@import 'content';
@import 'columns';
@import 'buttons';
@import 'menu';
@import 'color';
@import 'form';
@import 'header';
@import 'icon';
@import 'login';
@import 'logo';
@import 'modal';
@import 'panel';
@import 'title';
@import 'table';
@import 'tabs';
@import 'text';
@import 'print';
@import 'wrapper';
@import 'footer';
@import 'toast';
@import 'pagination';
@import 'card';
