// Para tabla
@import '../common/variables';
$table-td-padding: 4px;

.table-fina {
	thead {
		tr {
			td, th {
				padding: 2px !important;
			}
		}
	}
	tbody {
		tr {
			td, th {
				padding: 1px !important;
				// border-top: 1px;
			}
		}
	}
}

.cabecera-tabla {
	background-color: $color-azul-sa;
	color:$color-white;
	font-family: "open_sansregular";

	&.azulado {
		background-color: rgb(134, 145, 241) !important;
		color:$color-white;
		font-family: "open_sansregular";
	}

	&.verde {
		background-color: rgb(100, 189, 99) !important;
		color:$color-white;
		font-family: "open_sansregular";
	}
	.dropdown-menu{
		color:$color-black
	}
}



.table-hover>tbody>tr:hover {
	// background-color: #f5f5f5;
	color: black;
}

.table {
	margin-bottom: 10px;

	.input-group .ng-valid {
		margin-bottom: 0px;
	}

	span.ng-valid {
		margin-bottom: 0px;		
	}

	>thead {
		>tr:first-child {
			> th {
				font-family: "open_sanslight";
			}
		}
		>tr {
			>th {
				vertical-align: middle;
				border-bottom: 0px none;
			}
		}
	}

	> tbody {
		> tr {
			> td, >th {
				vertical-align: middle;
				padding: $table-td-padding;

				.btn-block {
					padding: $table-td-padding 2px;
					font-size: $font-size-general;
					margin-bottom: 0px;
				}

				&.normalwrap-text {
					white-space: normal;
				}

				&.nowrap-text {
					white-space: nowrap;
				}

				&.btn-normal {
					button {
						padding: $table-td-padding;
					}
				}

				button {
					padding: 1px 2px;
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}


.table-fixed {
  width: 100%;
  // background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 160px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed-lg tbody {
	height: 250px !important;
}
.table-fixed-xs tbody {
	height: 75px !important;
}
.table-fixed-md tbody {
	height: 150px !important;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr {
  display: flow-root;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #0E74D0;
  border-color: #0d38d0;
  color: whitesmoke !important;
}
.table-cursor-pointer tr{
	cursor: pointer !important;
}

.table-fixed-large tbody{
	height: 500px;
}

.table-requisitos {
	height: 160px !important;
	overflow-y: auto;
	width: 100%;
}

.table-requisitos thead th {
	font-size: 0.9em;
	padding: 1px !important;
	height: 22px;
}

.td-disabled {
	color: darkgrey;
	cursor: not-allowed !important;
}