@import '../common/variables';

h1, h2, h3 {
	font-weight: normal !important;
}

h2 {
	font-size: $font-size-h2;
	color: #07090A;
	font-family: 'open_sanslight';

	.switch-margin-right {
		margin-right: 30px !important;
		font-size: 12px !important;
	}
	
}

h3 {
	font-size: $font-size-h3;
	margin: 10px 0px 10px 0px;
	font-family: "open_sanssemibold";
}