#wrapper {
	margin : 0 0 0 $toggle-menu-size-min;

	-webkit-transition: margin-left ease $toggle-menu-time;
	transition: margin-left ease $toggle-menu-time;

	&.complete {
		margin-left : $toggle-menu-size-full;
		-webkit-transition: margin-left ease $toggle-menu-time;
		transition: margin-left ease $toggle-menu-time;
	}
}