<div id="print-content" ng-hide="vm.formControl.loading">
	<form name= "formTecnico" accept-charset="utf-8" novalidate>
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input>
					<label>Código</label>
					<input type="number" class="form-control" max="999999999" placeholder="0" ng-model="vm.tecnicosDelServicio.Codigo" autofocus sa-enter>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" sa-form-input>
					<label>Nombre</label>
					<input type="text" class="form-control" maxlength="70" ng-model="vm.tecnicosDelServicio.Nombre" sa-enter>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input>
					<label>Matrícula</label>
					<input type="number" name="tecnicosDelServicio" class="form-control" max="999999999" placeholder="0" ng-model="vm.tecnicosDelServicio.Matricula" sa-enter>
				</div>
				
				<!--Combo -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label>Servicio</label>
					<select id="tipoServicio" name="cmbtipoServicio" ng-model="vm.servicioElegido" ng-options="tipoServicio.Nombre for tipoServicio in vm.listadoServicio track by tipoServicio.Id"
					 sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
				
				<!--Combo -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label>Sucursal</label>
					<select id="tipoSucursal" name="cmbtipoServicio" ng-model="vm.sucursalElegida" ng-options="tipoSucursal.Nombre for tipoSucursal in vm.sucursalServicio track by tipoSucursal.Id"
					 sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
		</sa-modal-body>

		<sa-modal-footer>
			<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-punto-click="vm.guardar()" sa-enter>
		</sa-modal-footer>

	</form>
</div>
<sa-loading ng-if="vm.loading"></sa-loading>