<sa-loading ng-if="formControl.loading"></sa-loading>
<sa-modal-header title-name="{{vm.title.name}}" title-icon="LIST">

</sa-modal-header>
<sa-modal-body>

	<!-- <div class="row" ng-if="vm.recursos">
	
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Nombre</th>
						<th class="text-center">Tipo Recurso</th>
						<th class="text-center">Atiende Obra Social</th>
								
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="recurso in vm.recursos" ng-class="{'td-disabled': !recurso.Atiende}" ng-click="vm.selectRow(recurso)">
						<td class="text-center" ng-bind="recurso.Nombre"></td>
						<td class="text-center" ng-bind="recurso.TipoRecurso"></td>
						<td class="text-center" ng-bind="recurso.AtiendeSiNo"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div> -->

	<div class="row" ng-if="vm.recursos">
		<!-- El ng-if va para no cargar la tabla sin datos -->
		<div class="col-xs-12">
			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
				</fw-table-config>
				<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
				</fw-table-sorting-ext>
				<fw-table-rowset data="vm.recursos" click-action="vm.selectRow(row)">
				</fw-table-rowset>
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset>
					<!-- Se define una column con los datos de una columna (opcional)-->
					<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
					<fw-table-column label="'Nombre'" field="'Nombre'">
					</fw-table-column>

					<fw-table-column label="'Tipo Recurso'" field="'TipoRecurso'">
					</fw-table-column>

					<fw-table-column label="'Atiende Obra Social'" field="'AtiendeSiNo'">
					</fw-table-column>

				</fw-table-columnset>

				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter init='true'></fw-table-filter>

				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination page-size="10"></fw-table-pagination>
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>

	</div>


</sa-modal-body>
<sa-modal-footer>
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cerrar">
</sa-modal-footer>
</div>