<form name="formlistas" novalidate>
		<sa-modal-header title-name="Historial de cambios sobre el ítem" title-icon="LIST">
		</sa-modal-header>
	
	
		<sa-modal-body loading="vm.formControl.loading">
			<div class="row fila">
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" sa-form-input>
					<label>Usuario</label>
					<p>{{vm.usuario}}</p>
				</div>
	
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" sa-form-input>
					<label>Fecha / Hora</label>
					<p>{{vm.fechayHora}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" sa-form-input>
						<label>Seleccione el motivo para cambiar el estado a: <b>{{vm.estado}}</b></label>
						<select class="form-control" ng-model="vm.estadoElegido" ng-options="estado.Descripcion for estado in vm.estadoLista track by estado.Id" ng-change="vm.cambioEstado()"
						ng-disabled="!vm.puedeElegirMotivo" sa-enter>
						<option value="">TODOS</option>
						<!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" sa-form-input>
						<label>Observaciones</label>
						<textarea name="observacionEstado" class="form-control noresize" ng-model="vm.observacionEstado">
						</textarea>
	
				</div>
			</div>
		</sa-modal-body>
	
		<sa-modal-footer>
			<input type="submit" class="btn" ng-click="vm.cancelar()" value="Cancelar" sa-enter sa-punto-click="vm.cancelar()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
		</sa-modal-footer>
	</form>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>