.navbar-header {

    // a.navbar-brand {
    //     // display: inline-flex;

    //     // .navbar-brand-text{
                        
    //     // }
    // }
    .logo-hat {

        float: right;
        position: relative;
        left: -10px;
        top: -10px;

        &.argentina-hat {
            height: 21px;
            -ms-transform: rotate(34deg); /* IE 9 */
            -webkit-transform: rotate(34deg); /* Safari 3-8 */
            transform: rotate(34deg);
        }

        &.christmas-hat {
            height: 20px;
        }
    }

 
}

