<div class="row" ng-show="!vm.loading">

		
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row fila">

			<div class="col-xs-6 col-sm-2 col-md-3 col-lg-2">
				<sa-sucursal-combo-filtrado ng-model="vm.sucursal" todas="false">
				</sa-sucursal-combo-filtrado>
			</div>

			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
				<sa-piso-sector-contenedor sucursal="vm.sucursal" piso="vm.piso" sector="vm.sector" deposito="vm.deposito" mostrar-deposito="true">
				</sa-piso-sector-contenedor>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-right">
				<div class="row">
					<div class="col-xs-6">
						<button sa-btn-search ng-click="vm.buscar()" class="btn-row" sa-punto-click="vm.buscar()" id="farmacia-config-buscar-btn">
							Buscar
						</button>
					</div>
					<div class="col-xs-6">
						<button sa-btn-clean ng-click="vm.limpiarFiltros()" class="btn-row" sa-punto-click="vm.limpiarFiltros()" id="farmacia-config-limpiar-btn">
							Limpiar
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<sa-farmacia-configuracion-productos-table data="vm.productosPorDeposito" titulogrid="Productos de {{vm.deposito.Nombre}}"
				    btn-click="vm.agregarNuevoProducto(pObject)" click-edit="vm.editarStockNormal(pObject)" edit-cantidad="vm.editarCantidadMaxima(pObject)"
				    del-producto="vm.borrarProducto(pObject)">
				</sa-farmacia-configuracion-productos-table>
			</div>
		</div>
	</div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>