<sa-modal-header title-name="Entrega de productos del sector: {{vm.sector.Nombre}} en {{vm.piso.Nombre}} de {{vm.sucursal.Nombre}}"
    title-icon="REPLY" loading="vm.loading">

</sa-modal-header>
<sa-modal-body loading="vm.loading">

	<div class="row" ng-if="vm.modosEntrega && vm.modosEntrega.length">
		<div class="col-xs-2">
			<h5>Modo de Entrega: </h5>
			<button type="button" ng-click="vm.changeModoEntrega()" class="btn btn-block btn-info color-warning">{{vm.modoEntrega.Nombre}}</button>
		</div>

		<div class="col-xs-1">

		</div>

		<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 ">
			<label class="label-control">Entregar a:</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="vm.usuarioRetira.UserCompleteName" ng-disabled="true">
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" uib-tooltip="Registrar" tooltip-placement="top" ng-click="vm.registrarRetira()">
						<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-1">

		</div>

		<div class="col-xs-3">
				<h5>Hoja Preparación Previo Entrega</h5>
			<button type="button" sa-btn-print ng-click="vm.imprimirHojaPreparacion()" class="btn btn-block btn-info">Imprimir </button>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-12">

			<table class="table " id="internados_table" ng-show="vm.entregaPorSector">
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-left">N° Internado</th>
						<th class="text-left">Nombre Internado</th>
						<th class="text-left">Habitación</th>
						<th class="text-left">Cama</th>
						<th class="text-center">Entregar
							<label class="material-checkbox" uib-tooltip="Seleccionar Todos" uib-tooltip-placement="top">
								<input type="checkbox" ng-model="vm.seleccionarTodos" ng-change="vm.seleccionarTodosChange()" >
								<span class="check-azul"></span>
							</label>
						</th>
					</tr>
				</thead>
				<!-- BODY -->
				<tbody ng-show="vm.entregaPorSector" ng-repeat="internado in vm.entregaPorSector">
					<tr>
						<th ng-click="vm.verSubdatosInternado(internado)" class="row text-left" ng-class="{'color-gray-pastel-prefactura': internado.showSubData }">
							{{ internado.NumeroInternado}}</th>
						<th ng-click="vm.verSubdatosInternado(internado)" class="row text-left" ng-class="{'color-gray-pastel-prefactura': internado.showSubData }">
							{{ internado.Paciente}}</th>
						<th ng-click="vm.verSubdatosInternado(internado)" class="row text-left" ng-class="{'color-gray-pastel-prefactura': internado.showSubData }">
							{{ internado.Habitacion}}</th>
						<th ng-click="vm.verSubdatosInternado(internado)" class="row text-left" ng-class="{'color-gray-pastel-prefactura': internado.showSubData }">
							{{ internado.Cama}}</th>
						<td class="text-center" ng-class="{'color-gray-pastel-prefactura': internado.showSubData }">
							<label class="material-checkbox">
								<input type="checkbox" ng-model="internado.Entregar" ng-change="vm.changeSelectInternado(internado)">
								<span class="check-azul"></span>
							</label>
						</td>

					</tr>
					<tr ng-show="internado.showSubData">
						<td colspan="12">
							<div class="col-xs-1">
							</div>
							<div class="col-xs-9">
								<!-- SEGUNDO NIVEL DE TABLA -->

								<!-- mostramos las EJECUCIONES Para las DOSIFICACIONES (indicacionMedica.TipoIndicacion.Id == 1)-->
								<div>
									<div class="row fila">
										<div class="col-xs-12" ng-show="internado.ItemsEntregar.length != 0">
											<h2>
												<strong>A Entregar:</strong>
											</h2>
											<table class="table color-verde-pastel-prefactura">
												<thead class="levelTwo">
													<tr></tr>
													<tr class="cabecera-tabla-celeste">
														<th>Producto</th>
														<th>Cantidad Cargada</th>
														<th>Seleccionar</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in internado.ItemsEntregar">
														<td>{{item.Producto.CodigoStockeable}} - {{item.Producto.NombreStockeable}} -
															{{item.Producto.PresentacionStockeable}}</td>
														<td ng-bind="item.CantidadCargada"></td>
														<td class="text-center">
															<label class="material-checkbox">
																<input type="checkbox" ng-model="item.Entregar" ng-change="vm.changeSelectProducto(internado,item)">
																<span class="check-verde"></span>
															</label>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="internado.ItemsEntregar.length == 0">
											<label>No hay productos a Entregar...</label>
										</div>
									</div>

								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>


</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.cancel()">Cancelar</button>
	<button type="button" class="btn btn-success" ng-disabled="vm.loading || vm.entregaPorSector.length == 0" ng-click="vm.guardar()">Entregar</button>
</sa-modal-footer>
