<div ng-if="table.isColumnConfig()">
	<fw-drop-down-container
		btn-container-class="pull-right"
		icon="'MENU'" >
		<fw-drop-down-set>
			<fw-drop-down-item ng-repeat="col in table.cols"
				item="col"
				ng-if="!col.hide"
				label-attribute="label"
				status-attribute="visible">
			</fw-drop-down-item>
			<fw-drop-down-item
				ng-if="table.haveFiltering()"
				item="table.filtering"
				change="table.filtering.changeFunction(table.filtering.status)"
				color="'red'"
				label-attribute="label"
				status-attribute="status">
			</fw-drop-down-item>
			<fw-drop-down-item
				ng-if="table.haveExportation()" ng-repeat="item in table.exportation.getItems()"
				item="item"
				icon="'DOWNLOAD'"
				action="item.action({exportation:item})"
				label-attribute="label">
			</fw-drop-down-item>
		</fw-drop-down-set>
		<fw-drop-down></fw-drop-down>
	</fw-drop-down-container>
</div>