<div class="row">
    <div class="col-xs-3" sa-form-input>
        <label for="">Tipo Producto</label>
        <select class="form-control" name="tipoStockeable" ng-model="vm.tipoStockeable" 
        ng-options="tipoStockeable as tipoStockeable.Nombre for tipoStockeable in vm.tipoStockeableList track by tipoStockeable.Id"
            ng-disabled='disabled' sa-enter autofocus> <option value="">-SELECCIONAR-</option>
        </select>
    </div>

    <div class="col-xs-3" sa-form-input>
        <label class="label-control">Código</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="vm.codigoStockeable" ng-blur="vm.buscarStockeables(false)" ng-disabled="!vm.tipoStockeable.Id"
                min="0" max="99999999999" sa-enter sa-integer>
            <span class="input-group-btn">
                <button class="btn btn-default " uib-tooltip="Buscar Producto" tooltip-placement="top" ng-click="vm.buscarStockeables(true)"
                    sa-enter ng-disabled="!vm.tipoStockeable.Id">
                    <sa-icon name="SEARCH"></sa-icon>
                </button>
                <button class="btn btn-default " uib-tooltip="Borrar" tooltip-placement="top" ng-click="vm.limpiarModel()"
                    sa-enter ng-disabled="!vm.tipoStockeable.Id">
                    <sa-icon name="DEL"></sa-icon>
                </button>
            </span>
        </div>
    </div>

    <div class="col-xs-6" sa-form-input>
        <label class="">Producto</label>
        <input type="text" class="form-control" ng-disabled="true" ng-model="vm.stockeableNombre" sa-enter>
    </div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>