<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<!-- <h4 class="ng-binding">especialidad</h4> -->
			<div class="col-xs-12">
				<label class="label-control" ng-if="ifLabel">SubEspecialidad</label>
				<div class="input-group" >
					<input name="busquedaServicio"
						autocomplete="off"
						uib-tooltip="SubEspecialidad" tooltip-placement="top" tooltip-enable="ifTooltip"
						id="busquedaEspecialidad" type="text"
						placeholder="Buscar subespecialidad..."
						ng-model="filter.nombreEspecialidad"
						ng-disabled="formControl.buscando || disabled"
						uib-typeahead="especialidad as especialidad.Nombre for especialidad in
						data.especialidades | filter:$viewValue | limitTo:12"
						class="form-control text-uppercase"
						typeahead-select-on-exact="true"
						typeahead-on-select="updateModel(filter.nombreEspecialidad)"
						ng-focus="true"
					>
					<span class="input-group-btn">
						<button class="btn btn-default"
							uib-tooltip="Buscar"
							tooltip-placement="top"
							ng-disabled="formControl.buscando || disabled"
							ng-click ="buscar()"
							sa-punto-click ="buscar()"
							sa-enter>
							<sa-icon name="SEARCH"></sa-icon>
						</button>
						<button class="btn btn-default"
							uib-tooltip="Limpiar"
							tooltip-placement="top"
							ng-disabled="formControl.buscando || disabled"
							ng-click ="limpiarDatos()"
							sa-punto-click ="limpiarDatos()"
							sa-enter>
							<sa-icon name="DEL"></sa-icon>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>