<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row fila" name="primera_fila">

            <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
                <sa-sucursal-select sucursal="vm.sucursal" >
                </sa-sucursal-select>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
                <sa-piso-sector-contenedor sucursal="vm.sucursal" piso="vm.piso" sector="vm.sector" deposito="vm.deposito"
                    mostrar-deposito="true" >
                </sa-piso-sector-contenedor>
            </div>

            <div class="col-xs-10 col-sm-3 col-md-3 col-lg-2">
                <div class="row">
                    <div class="col-xs-6">
                        <button sa-btn-search ng-click="vm.buscar()" class="btn-row" sa-punto-click="vm.buscar()" id="stock-buscar-btn">
                            Buscar
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button sa-btn-clean ng-click="vm.limpiar()" class="btn-row" sa-punto-click="vm.limpiar()" id="stock-limpiar-btn">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 ">
                <button sa-btn-print type="button" class="btn-warning btn-row pull-right" ng-click="vm.openReportes()" id="stock-reportes-btn">
                    Reportes
                </button>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <sa-productos-stock-table titulogrid="Productos en Depósito {{vm.deposito.NombreCorto || vm.deposito.Nombre}} | {{vm.sector.Nombre}} | {{vm.piso.NombreCorto || vm.piso.Nombre}}"
            data="vm.productosPorDeposito" color-row="'color-aquaorange-turno'" btn-click="vm.seleccionar(pObject)"
            tipo-accion="vm.opcionSeleccionada" click-menu-agregar-producto="vm.agregarProductoExtra(pObject)"
            data-selected="vm.productosSeleccionados" deposito="vm.deposito">
        </sa-productos-stock-table>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5" style="border-left: 2px solid rgb(189, 187, 187);" ng-show="vm.opcionSeleccionada !== 0">
        <!-- segun la opcion que tengamos ponemos uno u otra tabla -->
        <div class="row">
            <div class="col-xs-4">
                <h3>{{vm.tituloAccion}} </h3>
            </div>
            <div class="col-xs-6" ng-show="vm.opcionSeleccionada === 3 ">
                <label class="material-checkbox" uib-tooltip="Buscador General de Internados" uib-tooltip-placement="top">
                    <input type="checkbox" ng-model="vm.buscadorGeneralInternado" ng-change="vm.seleccionarTodosChange()" id="buscador-general-internado-input">
                    <span class="check-azul">Buscador General de Internados</span>
                </label>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="vm.opcionSeleccionada === 3 && !vm.buscadorGeneralInternado">
                <sa-buscador-internado-por-sector internado="vm.internado" placeholder="'Buscar internado Por Sector..'" sector="vm.sector" >
                </sa-buscador-internado-por-sector>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="vm.opcionSeleccionada === 3 && vm.buscadorGeneralInternado">
                <sa-selector-internado internado="vm.internado" numero-internado="vm.numeroInternado" cols="true"></sa-selector-internado>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <sa-enfermeria-asignacion-por-accion-table data="vm.productosSeleccionados" title-column="Cantidad"
                    tipo-accion="vm.opcionSeleccionada">
                </sa-enfermeria-asignacion-por-accion-table>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <label class="label-control">Observacion:</label>
            <textarea rows="1" class="form-control" id="observaciones-guardar-textarea" name="observaciones" ng-model="vm.observacion"
                maxlength="200" sa-enter >
            </textarea>
        </div>

        <!-- btn guardar -->
        <div class="text-right">
            <div class="btn-group ">
                <button class="btn btn-success" id="enfermeria-guardar-btn" sa-btn-save ng-disabled="vm.saveDisabled" ng-click='vm.disabledSave(); vm.guardar()'>Guardar</button>
            </div>
        </div>

    </div>

</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>