<sa-modal-header loading="vm.loading" title-name="Editar Item Facturado {{vm.productoFacturado.NombreProducto}}" title-icon="EDIT">
</sa-modal-header>
<sa-modal-body loading="vm.loading">
	<form name="modalFarmaciaFacturacion" accept-charset="utf-8" novalidate class="no-valid">
		<div class="row">

			<div class="col-xs-2"  >
				<label class="label-control">Cantidad</label>
				<input type="number" class="form-control" ng-model="vm.productoFacturado.Cantidad" min="1" required="true">
			</div>

			<div class="col-xs-3"  >
				<label>Fecha</label>
				<sa-date-time-picker ng-model="vm.productoFacturado.Fecha " id="1" type="date" required = "true"></sa-date-time-picker>
			</div>

			<div class="col-xs-3" >
				<label>Precio Unitario</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" class="form-control text-right" min="0" name="Valor" ng-model="vm.productoFacturado.PrecioUnitario"
					    sa-input-importe sa-enter ng-disabled="!vm.puedeEditarPrecio">
				</div>
			</div>

			<div class="col-xs-3" >
				<label>Porcentaje Afiliado</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" class="form-control text-right" min="0" max="100" name="Valor" ng-model="vm.productoFacturado.PorcentajeAfiliado"
					    sa-input-importe sa-enter ng-disabled="!vm.puedeEditarPrecio">
				</div>
			</div>

		</div>

	</form>


</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.cerrar()">Cancelar</button>
	<button type="button" sa-btn-save class="btn-success" ng-click="vm.guardar()">Guardar</button>
</sa-modal-footer>