<label>Plan Mutual</label>
<select class="form-control" 
		ng-model="planMutualElegido"
		ng-change="updateModel(planMutualElegido)"
		ng-options="planMutual as planMutual.Nombre for planMutual in data.planesMutual"
		ng-disabled='ngDisabled'
		id="sa-plan-mutual-select"
		sa-enter
		autofocus>
	<option value="" ng-if="valorDefault!==null">{{valorDefault}}</option>
</select>


<!-- 
************-Uso-*************
<sa-new-mutual-selector model="vm.filter.mutualElegida"></sa-new-mutual-selector>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
	<sa-plan-mutual ng-model="vm.filter.IdMutualElegida" id-mutual="vm.filter.mutualElegida.Id"></sa-plan-mutual>
</div> 

-->