<!-- El loading se muestra si se esta cargando el inicializador -->
<div class="loading">
	<br>
	<br>
	<div class="text-blue">
		<!-- <div ng-include="'templateYear.html'"></div> -->
		<!-- <div ng-bind-html="templateChristmas"></div> -->
		<div ng-bind-html="templateSpinner"></div>
		<!-- <div ng-bind-html="fwLoadingMundial"></div> -->
		<span class="sr-only">Cargando...</span>
	</div>
	<br>
	<br>
	<p ng-bind="label"></p>
</div>
<script type="text/ng-template" id="templateYear.html">
  <div id="cssload-cupcake" class="cssload-box">
			<span class="cssload-letter">2</span>
			<div class="cssload-cupcakeCircle cssload-box">
				<div class="cssload-cupcakeInner cssload-box">
					<div class="cssload-cupcakeCore cssload-box"></div>
		
				</div>
			</div>
			<span class="cssload-letter cssload-box">2</span>
			<span class="cssload-letter cssload-box">0</span>
		</div>
</script>