.loading {
	text-align: center;
	max-width: 100%;
}

.loading-navidenio {
	max-width: 130px;
}

.loading-mundial {
	max-width: 200px;
}

.loading-2017 {
	max-width: 200px;
}

.sa-loading-page {
	text-align : center;
}