<sa-title-list title-name="vm.title.page" ></sa-title-list>
<!-- El loading se muestra si se esta cargando el inicializador -->
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<!-- El cuerpo se muestra si no se esta cargando el inicializador -->
<!-- O si se produjo algun error inicializando -->
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="row">
		<form name="formFilter" accept-charset="utf-8" novalidate>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
				<label class="label-control">Tipo Homologación</label>
				<select class="form-control" id="cmb_tipoHomologacion" ng-model="vm.filter.tipoHomologacion" ng-options="tipo.Nombre for tipo in vm.data.tiposHomologaciones track by tipo.Id" ng-change="vm.formControl.changeTipoHomologacion()" sa-enter></select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">
				<label class="label-control">Organización</label>
				<input type="number" placeholder="Codigo" class="form-control" id="codigoMutual" name="codigoMutual" ng-maxlength="10" ng-keypress="vm.formControl.buscarOrganizacionEnter($event)" ng-blur="vm.formControl.buscarOrganizacion()" ng-model="vm.filter.codigoOrganizacion" sa-enter >
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<label class="label-control">Seleccionar Organización</label>
				<div class="input-group">
					<input type="text" placeholder="ORGANIZACION" class="form-control text-uppercase" id="nombreOrganizacion" name="nombreOrganizacion" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreOrganizacion" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Organización" tooltip-placement="top" ng-click="vm.formControl.buscarOrganizaciones()" sa-enter >
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">
				<label class="label-control">Mutual</label>
				<input type="number" placeholder="Codigo" class="form-control" id="codigoMutual" name="codigoMutual" ng-maxlength="10" ng-keypress="vm.formControl.buscarMutualEnter($event)" ng-blur="vm.formControl.buscarMutual()" ng-model="vm.filter.codigoMutual" sa-enter >
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<label class="label-control">Seleccionar Mutual</label>
				<div class="input-group">
					<input type="text" placeholder="MUTUAL" class="form-control text-uppercase" id="nombreMutual" name="nombreMutual" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreMutual" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Mutual" tooltip-placement="top" ng-click="vm.formControl.buscarMutuales()" sa-enter >
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
				<label class="label-control">Sucursal</label>
				<select class="form-control" id="cmb_sucursal" ng-model="vm.filter.sucursal" ng-options="sucursal.Nombre for sucursal in vm.data.sucursales track by sucursal.Id" sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<label class="label-control">Servicio</label>
			<select class="form-control" id="cmb_servicio" ng-model="vm.filter.servicio" ng-options="servicio.Nombre for servicio in vm.data.servicios track by servicio.Id" ng-disabled="!vm.filter.visibleServicio" sa-enter>
				<option value="">TODOS</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1" ng-disabled="!vm.filter.visibleProfesional">
			<label class="label-control">Profesional</label>
			<input type="number" placeholder="Matricula" class="form-control" id="matriculaProfesional" name=" matriculaProfesional" ng-maxlength="10" ng-keypress="vm.formControl.buscarProfesionalEnter($event)" ng-blur="vm.formControl.buscarProfesional()" ng-model="vm.filter.matriculaProfesional" ng-disabled="!vm.filter.visibleProfesional" sa-enter >
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-disabled="!vm.filter.visibleProfesional">
			<label class="label-control">Seleccionar profesional</label>
			<div class="input-group">
				<input type="text" placeholder="PROFESIONAL" class="form-control text-uppercase" id="nombreProfesional" name="nombreProfesional" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreProfesional" ng-disabled="!vm.filter.visibleProfesional" sa-enter >
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" uib-tooltip="Buscar Profesional" tooltip-placement="top" ng-click="vm.formControl.buscarProfesionales()" ng-disabled="!vm.filter.visibleProfesional" sa-enter >
						<sa-icon name="SEARCH"></sa-icon>
					</button>
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1" ng-disabled="!vm.filter.visiblePractica">
			<label class="label-control">Práctica</label>
			<input type="number" placeholder="Codigo" class="form-control" id="codigoPractica" name="codigoPractica" ng-maxlength="10" ng-keypress="vm.formControl.buscarPracticaEnter($event)" ng-blur="vm.formControl.buscarPractica()" ng-model="vm.filter.codigoPractica" ng-disabled="!vm.filter.visiblePractica" sa-enter >
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-disabled="!vm.filter.visiblePractica">
			<label class="label-control">Seleccionar Práctica</label>
			<div class="input-group">
				<input type="text" placeholder="PRACTICA" class="form-control text-uppercase" id="nombrePractica" name="nombrePractica" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombrePractica" sa-enter >
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" uib-tooltip="Buscar Practica" tooltip-placement="top" ng-click="vm.formControl.buscarPracticas()" ng-disabled="!vm.filter.visiblePractica" sa-enter >
						<sa-icon name="SEARCH"></sa-icon>
					</button>
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<label class="label-control">Tipo Documento</label>
			<select class="form-control" id="cmb_tipoDocumento" ng-model="vm.filter.tipoDocumento" ng-options="tipoDocumento.Nombre for tipoDocumento in vm.data.tiposDocumentos track by tipoDocumento.Id" ng-disabled="!vm.filter.visibleTipoDocumento" sa-enter>
				<option value="">TODOS</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group ">
			<button class="btn btn-default btn-loading pull-right" style="margin-left: 10px;" ng-click="vm.formControl.buscarHomologaciones() " sa-enter >Buscar</button>
			<button class="btn btn-default btn-loading pull-right" ng-click="vm.filter.clean()" sa-enter >Limpiar</button>
		</div>
	</div>
	<div class="row fila">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group ">
			<button class="btn btn-default pull-right" uib-tooltip="Agregar Homologacion" style="margin-left: 10px; margin-top: 5px; padding-top: 5px;" tooltip-placement="top" ng-click="vm.formControl.editarHomologacion()" ng-disabled="!vm.validar.puedeAgregar()">
				<sa-icon name="NEW"></sa-icon>
			</button>
		</div>
	</div>
	<!-- COMIENZO DE ZONA DE TABLA -->
	<div class="row table-responsive">
		<div class="col-xs-12">
			<table class="table table-hover table-condensed table-bordered" id="detalle_homologaciones">
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-center" ng-click="vm.sort('Organizacion')">Organización
							<span class="glyphicon sort-icon" ng-show="sortKey=='Organizacion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Mutual')"> Mutual
							<span class="glyphicon sort-icon" ng-show="sortKey=='Mutual'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Sucursal')">Sucursal
							<span class="glyphicon sort-icon" ng-show="sortKey=='Sucursal'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Servicio')" ng-show="vm.filter.visibleServicio">Servicio
							<span class="glyphicon sort-icon" ng-show="sortKey=='Servicio'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Profesional')" ng-show="vm.filter.visibleProfesional">Profesional
							<span class="glyphicon sort-icon" ng-show="sortKey=='Profesional'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('PracticaMedica')" ng-show="vm.filter.visiblePractica">Práctica
							<span class="glyphicon sort-icon" ng-show="sortKey=='PracticaMedica'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('TipoDocumento')" ng-show="vm.filter.visibleTipoDocumento">Tipo Documento
							<span class="glyphicon sort-icon" ng-show="sortKey=='TipoDocumento'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Valor')">Valor
							<span class="glyphicon sort-icon" ng-show="sortKey=='Valor'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center">Acción</th>
					</tr>
				</thead>
				<tbody ng-repeat="homologacion in vm.filter.homologaciones | orderBy:sortKey:reverse|filter:search">
					<tr>
						<td class="row text-center">{{ homologacion.Organizacion}}</td>
						<td class="row text-center">{{ homologacion.Mutual}}</td>
						<td class="row text-center">{{ homologacion.Sucursal}}</td>
						<td class="row text-center" ng-show="vm.filter.visibleServicio">{{ homologacion.Servicio}}</td>
						<td class="row text-center" ng-show="vm.filter.visibleProfesional">{{ homologacion.Profesional}}</td>
						<td class="row text-center" ng-show="vm.filter.visiblePractica">{{ homologacion.PracticaMedica}}</td>
						<td class="row text-center" ng-show="vm.filter.visibleTipoDocumento">{{ homologacion.TipoDocumento}}</td>
						<td class="row text-center">{{ homologacion.Valor}}</td>
						<td class="row text-center" width="100px">
							<button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top" ng-disabled="!vm.validar.puedeEliminar()" ng-click="vm.formControl.eliminarHomologacion(homologacion.Id)">
								<sa-icon name="DEL"></sa-icon>
							</button>
							<button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar" uib-tooltip-placement="top" ng-click="vm.formControl.editarHomologacion(homologacion.Id)" ng-disabled="!vm.validar.puedeEditar()">
								<sa-icon name="EDIT"></sa-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- FIN ZONA TABLA -->
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination  boundary-links="true"
					max-size="9"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged(vm.paginacion.currentPage)"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div>
</div>