<div class="cuerpo" ng-if="!vm.formControl.loading">
	<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.editar(null, null)" btn-new-disabled="vm.formControl.loading"></sa-title>
	<!-- btn-new-if="vm.validar.puedeCrear()" -->
	<form name="formListaDeAparatos" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
				<label>Matrícula</label>
				<input type="number" name="matricula" id="lista-aparatos-matricula-input" ng-model="vm.filter.matricula" placeholder="0" max="99999999999999999999999" sa-enter autofocus>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input>
				<label>Nombre del Aparato</label>
				<input type="text" name="nombre" id="lista-aparatos-nombreaparato-input" class="form-control text-uppercase" ng-model="vm.filter.nombre" maxlength="89" sa-enter>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
				<sa-check-box label="Solo Activos" id="lista-aparatos-activos-slider" ng-model="vm.filter.activos" color="green" sa-enter ng-change="vm.formControl.activoChange()"></sa-check-box>
			</div>
	
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
				<button sa-btn-search
					id="lista-aparatos-buscar-btn"
					ng-click="vm.formControl.buscar()" class="btn-row"
					ng-disabled="!formListaDeAparatos.$valid"
					sa-punto-click="vm.formControl.buscar()" sa-enter>
					Buscar
				</button>
				<button sa-btn-clean
					id="lista-aparatos-limpiar-btn"
					ng-click="vm.formControl.limpiarFiltros()" class="btn-row"
					sa-punto-click="vm.formControl.limpiarFiltros()" sa-enter>
					Limpiar
				</button>
			</div>
		</div>
	</form>
	<div class="row" ng-if="vm.data.listaAparatos.Rows && vm.data.listaAparatos.Columns">
		<div class="col-xs-12">
			<fw-table-container>
				<fw-table-config
					exportable="true"
					sortable="false"
					filtrable="true"
					paginable="true"
					column-config="true">
				</fw-table-config>
				<fw-table-rowset data="vm.data.listaAparatos.Rows">
				</fw-table-rowset>
				<fw-table-columnset data="vm.data.listaAparatos.Columns">	
				</fw-table-columnset>
				<fw-table-buttonset>
					<fw-table-button
						label="'Editar'"
						icon="'EDIT'"
						action="vm.formControl.editar(row, index)">
					</fw-table-button>
					<!-- NO BORRAR, SE ESPERA PARA FUTURA IMPLEMENTACION -->
					<!-- <fw-table-button
						label="'Borrar'"
						icon="'DEL'"
						action="vm.formControl.borrar(row, index)">
					</fw-table-button> -->
				</fw-table-buttonset>
				<fw-table-filter></fw-table-filter>
				<fw-table-export>
					<fw-table-export-csv
						label="'Exportar página a Excel'"
						data="page"
						status="false">
					</fw-table-export-csv>
					<fw-table-export-csv
						label="'Exportar todo a Excel'"
						data="all"
						status="true">
					</fw-table-export-csv>
				</fw-table-export>
				<fw-table-pagination 
					page-size="15" >
				</fw-table-pagination>
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div class="row">
	<br>
	<div class="col-xs-12 text-center">
		<button class="btn btn-cancelar" id="lista-aparatos-volver-btn" ng-click="vm.formControl.volver()" sa-punto-click ="vm.formControl.volver()" sa-enter>
			Volver
		</button>
	</div>
</div>