<div class="userdata Usuario" ng-if="vm.show">
    <div class="nameuser titulo_empresa" >
        <span class="name" ng-class="{ 'btn-white-toolbar': vm.whiteClass}"> {{ vm.nombre_empresa }}</span>
        <!-- <a href="#/User/View">
                <span class="passwordchange">Cambiar Empresa</span>
            </a> -->
        <fw-drop-down-container icon="'MENU'" label="'Cambiar Empresa'" btn-class="passwordchange btn-dropdown-header" ng-show="vm.empresasList.length > 1" 
            required="true">
            <fw-drop-down-set>
                <fw-drop-down-item ng-repeat="empresa in vm.empresasList" color="'red'" item="empresa" label-attribute="NombreEmpresa" status-attribute="PorDefecto" change="vm.changeEmpresa(empresa)">
                </fw-drop-down-item>
            </fw-drop-down-set>
            <fw-drop-down></fw-drop-down>
        </fw-drop-down-container>
    </div>
</div>