<div class="row" ng-if="!vm.formControl.loading">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
		<sa-check-box label="Tiene convenio con ADAC" ng-model="vm.data.tieneConvenioADAC" color="green">
		</sa-check-box>
	</div>
</div>
<div class="row no-valid table-responsive" ng-if="!vm.formControl.loading">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 form-group">
		<table class="table table-hover table-condensed table-bordered">
			<thead>
				<tr class="cabecera-tabla">
					<th class="text-center">Nivel complejidad</th>
					<th class="text-center">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="complejidad in vm.data.listaADAC | orderBy: 'Id'">
					<td class="text-center">{{complejidad.IdComplejidadADAC}}</td>
					<td width="140">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control text-right" ng-model="complejidad.Valor" min= "0" ng-disabled="vm.data.tieneConvenioADAC" sa-input-importe sa-enter>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>