<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-inline">
		<label class="control-label form-group">Tipo de Consecuencia: </label>
		<select ng-model="vm.filter.tipoConsecuenciaElegido" class="form-control form-group"
			ng-options="tipoConsecuencia.Nombre for tipoConsecuencia in vm.data.tiposConsecuencia track by tipoConsecuencia.Id"
			sa-enter>
			<option value="">TODOS</option>
		</select>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-1 col-lg-offset-7">
		<button type="button" class="btn btn-default pull-right" 
			uib-tooltip="Agregar nueva" tooltip-placement="left" uib-dropdown-toggle
			ng-click="vm.formControl.editarClausula(null)"
			sa-punto-click="vm.formControl.editarClausula(null)"
			sa-enter>
			<sa-icon name="PLUS"></sa-icon>
		</button>
	</div>
</div>
<div ng-if="!vm.formControl.loading">
	<fw-table-container>
		<fw-table-rowset data="vm.data.clausulas.Rows"
			filter-expression="vm.formControl.filter(row)">
		</fw-table-rowset>
		<fw-table-columnset data="vm.data.clausulas.Columns">
		</fw-table-columnset>
		<fw-table-buttonset>
			<fw-table-button
				visible="btnEditIf"
				label="'Editar'"
				icon="'EDIT'"
				action="vm.formControl.editarClausula(row)">
			</fw-table-button>
			<fw-table-button
				visible="btnDeleteIf"
				label="'Eliminar'"
				icon="'DEL'"
				action="vm.formControl.borrarClausula(row)">
			</fw-table-button>
		</fw-table-buttonset>
		<fw-table></fw-table>
	</fw-table-container>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>