<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
		<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading" 
			uib-tooltip="Agregar nueva" tooltip-placement="left" uib-dropdown-toggle
			ng-click="vm.formControl.editarListaPrecio(null)"
			sa-punto-click="vm.formControl.editarListaPrecio(null)"
			sa-enter>
			<sa-icon name="PLUS"></sa-icon>
		</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
		<div ng-if="!vm.formControl.loading">
			<fw-table-container>
				<fw-table-rowset data="vm.data.listas.Rows"
					click-action="clickAction(row)">
				</fw-table-rowset>
				<fw-table-columnset data="vm.data.listas.Columns">
				</fw-table-columnset>
				<fw-table-buttonset>
					<fw-table-button
						visible="btnEditIf"
						label="'Editar'"
						icon="'EDIT'"
						action="vm.formControl.editarListaPrecio(row)">
					</fw-table-button>
					<fw-table-button
						visible="btnDeleteIf"
						label="'Eliminar'"
						icon="'DEL'"
						action="vm.formControl.borrarListaPrecio(row, index)">
					</fw-table-button>
				</fw-table-buttonset>
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>