<sa-modal-header loading="vm.loading" title-name="Buscador Internado" title-icon="SEARCH">
</sa-modal-header>
<sa-modal-body loading="vm.loading">


	<div class="row">
	
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
			<label class="label-control">Numero Internado</label>
			<input type="number" min="0" max="999999999" class="form-control" ng-model="vm.numeroInternado" placeholder="Nro Internado..."
			    sa-enter>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
			<label class="label-control">Tipo de fecha</label>
			<select class="form-control" ng-model='vm.tipoFecha' ng-options="tipoFecha as tipoFecha.Nombre for tipoFecha in vm.tiposDeFecha "
				sa-enter ng-change="vm.changeTipoFecha()">
				<option value="">Seleccionar</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"  ng-if="vm.fechaDesde">
			<label for="datePickerDesde ">Fecha Desde</label>
			<sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date"  ng-disabled="!vm.tipoFecha || vm.tipoFecha.Id === 3" ng-change="vm.changeFechaDesde()"></sa-date-time-picker>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"  ng-if="vm.fechaHasta">
			<label for="datePickerDesde ">Fecha Hasta</label>
			<sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date" min="vm.fechaDesdeMin" max="vm.today"  ng-disabled="!vm.tipoFecha || vm.tipoFecha.Id === 3"></sa-date-time-picker>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group">
			<label class="label-control">Apellido y Nombre</label>
			<input type="text-uppercase" class="form-control text-uppercase" ng-model="vm.nombreYApellidoInternado" sa-enter>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
			<label class="label-control ">Nro Documento</label>
			<input type="number" class="form-control" id="txt_nro_doc" name="txtNroDoc" autocomplete="off" ng-model="vm.numeroDocumentoInternado">
		</div>

		<!-- btn buscar -->
		<div class="col-xs-12 col-sm-7 col-md-1 col-lg-1 pull-right">
			<button type="button" sa-btn-search ng-click="vm.buscar()" class="btn-row btn-block">Buscar</button>
		</div>
		<!-- btn limpiar -->
		<div class="col-xs-12 col-sm-7 col-md-1 col-lg-1">
			<button sa-btn-clean ng-click="vm.limpiar()" class="btn-row">Limpiar</button>
		</div>
	</div>

	<!-- ROW TABLA -->
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12" ng-if="vm.internadosList.Rows && vm.internadosList.Rows.length && vm.internadosList.Columns && vm.internadosList.Columns.length">
				<!-- Se define el container que gestiona la tabla-->
				<fw-table-container>
					<fw-table-config exportable="false" sortable="true" paginable="true" column-config="true">
					</fw-table-config>
					<fw-table-sorting sort-change="vm.table.sorting(sorting)">

					</fw-table-sorting>
					<fw-table-rowset data="vm.internadosList.Rows" click-action="vm.selectInternado({row:row})">
					</fw-table-rowset>
					<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
					<fw-table-columnset data="vm.internadosList.Columns">
						<!-- Se define una column con los datos de una columna (opcional)-->
						<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
						<!-- <fw-table-column
								label="'Prueba'"
								field="'otroCampo'">
							</fw-table-column> -->
					</fw-table-columnset>
					<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
					<fw-table-buttonset>
						<fw-table-button visible="true" label="'Seleccionar'" icon="'CHECK-FA'" action="vm.seleccionarI({row})">
						</fw-table-button>
					</fw-table-buttonset>
					<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
					<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
					<fw-table-pagination-ext page-change="vm.getPage(pagination)" page-size="vm.tableOption.PageSize" total-items="vm.internadosList.RowCount"
						current-page="vm.tableOption.CurrentPage">
					</fw-table-pagination-ext>
					<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
					<!-- Opcionalmente se puede redefinir page-size -->
					<!-- <fw-table-pagination page-size="5"></fw-table-pagination> -->
					<!-- Por ultimo el renderizado de la tabla -->
					<fw-table></fw-table>
				</fw-table-container>
			</div>

		</div>
	</div>



</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.cancel()">Cancelar</button>
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.seleccionarInternado()">Seleccionar</button>
</sa-modal-footer>