<sa-title
	title-name="vm.title.name"
	title-icon="{{vm.title.icon}}"

	btn-new-click="vm.formControl.newPaciente()"
	btn-new-disabled="vm.formControl.loading || !vm.validar.puedeAgregar()"

	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading">
</sa-title>

<div class="cuerpo" ng-hide="vm.formControl.loading || !vm.formControl.error">
	<div class="row fila">
		<h4>Búsqueda avanzada</h4>		
		<form name="formFilter" accept-charset="utf-8" novalidate>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
				<sa-tipo-documento-combo
					ng-model="vm.filter.tipoDocumento"
					select-default = "false">
				</sa-tipo-documento-combo>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
				<sa-numero-documento
					ng-model="vm.filter.numeroDocumento"
					ng-required="!vm.filter.nombrePaciente && !vm.filter.apellidoPaciente"
					error="!formFilter.numeroDocumento.$pristine && !formFilter.numeroDocumento.$valid">
				</sa-numero-documento>
				<sa-text-error model="formFilter.numeroDocumento"></sa-text-error>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" >
				<div sa-form-input-validate>
					<label for="txt_apellido_paciente">Apellido de paciente</label>
					<input type="text" id="txt_apellido_paciente"
						name="apellidoPaciente"
						autocomplete="off"
						sa-text
						placeholder="Requiere por lo menos 2 letras." 
						ng-required="vm.filter.nombrePaciente"
						minlength="2"
						ng-model="vm.filter.apellidoPaciente">
				</div>
				<!-- <sa-text-error model="formFilter.apellidoPaciente"></sa-text-error> -->
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 " >
				<div sa-form-input-validate>
					<label for="txt_nombre_paciente">Nombre de paciente</label>
					<input type="text" id="txt_nombre_paciente"
						sa-text
						name="nombrePaciente"
						autocomplete="off"
						placeholder="Requiere por lo menos 2 letras." 
						ng-required="vm.filter.apellidoPaciente"
						minlength="2"
						ng-model="vm.filter.nombrePaciente">
					<!-- <sa-text-error model="formFilter.nombrePaciente"></sa-text-error> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
				<button sa-btn-search
					type="submit"
					ng-click="vm.formControl.searchSP()" class="btn-row"
					sa-punto-click="vm.formControl.searchSP()"  id="btn_buscar_paciente"
					>
					Buscar
				</button>
				<button sa-btn-clean
					ng-click="vm.filter.clean()" class="btn-row"
					uib-tooltip="Limpiar filtros"
					sa-punto-click="vm.filter.clean()" id="btn_clear">
					Limpiar
				</button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-right form-group">
				<label>Estado Empadronamiento</label>
				<table class="table table-bordered table-condensed">
					<tbody>
						<tr ng-repeat="estado in vm.data.estadosEmpadronamientos">
							<td>
								<div class="pull-left">
									<div class="circulito" ng-class="estado.Color"></div>
								</div>
								&nbsp;
								<span ng-bind="estado.Nombre"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-10 col-lg-10 form-group">
				<p class="help-block"><sa-icon name="INFO"></sa-icon> La búsqueda se puede realizar por tipo y número de documento o por nombre y apellido.</p>
			</div>
		</form>
	</div>	

	<div class="row">
		<!-- Para tabla con paginacion por back -->
		<!-- <sa-table-ext data="vm.data.pacientes" page-change="vm.buscarPagina(pagination)" 
			btn-edit-click="vm.formControl.openPaciente(row)"
			btn-edit-if ="vm.validar.puedeEditar()">
		</sa-table-ext>	 -->
		<!-- Para tabla con paginacion por front -->
		<div class="" ng-if="vm.data.pacientes.Rows && vm.data.pacientes.Columns">
			<div class="col-xs-12" >
				<!-- Se define el container que gestiona la tabla-->
				<fw-table-container>
					<fw-table-config
					exportable="false"
					sortable="false"
					filtrable="true"
					paginable="true"
					column-config="true">
					</fw-table-config>
				<fw-table-rowset data="vm.data.pacientes.Rows" id-elements="paciente-list-rows">
				</fw-table-rowset>
				
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset data="vm.data.pacientes.Columns">	
				</fw-table-columnset>

				<fw-table-buttonset>
						<fw-table-button
							visible="vm.validar.puedeEditar()"
							label="'Editar'"
							icon="'EDIT'"
							id-element="paciente-list-btn"
							action="vm.formControl.openPaciente(row)">
						</fw-table-button>
					</fw-table-buttonset>
				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter></fw-table-filter>
				
				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination 
					page-size="10" >
				</fw-table-pagination>
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
				</fw-table-container>
			</div>	
		</div>
	</div>	
</div>
<sa-loading ng-if="vm.formControl.loading" ></sa-loading>