<div class="row fila fila-print" ng-class="{ 'fila-not' : model.Mutual }" >
	<h4 >
		<span ng-bind="title || 'Datos del paciente'"></span>
		<div class="btn-group pull-right">
			<!-- Button Search -->
			<div class="btn btn-success"
				uib-tooltip="Buscar"
				name="search"
				ng-class="btnSearchClass"
				ng-disabled="btnSearchDisabled"
				ng-if="btnSearchIf"
				ng-click="btnSearchClick()">
				<sa-icon name="SEARCH"></sa-icon>
			</div>
		</div>
	</h4>
	<div class="col-xs-3 ">
		<label >Documento</label>
		<div ng-if="model.TipoDocumento" >
			<span ng-if="model.TipoDocumento" ng-bind="model.TipoDocumento.nombre_tipo_documento"></span>
			<span ng-if="!model.TipoDocumento" ng-bind="sinDatos"></span> :
			<span ng-if="model.numero_documento" ng-bind="model.numero_documento"></span>
			<span ng-if="!model.numero_documento" ng-bind="sinDatos"></span>
		</div>
	</div>
	<div class="col-xs-5 ">
		<label >Nombre completo</label>
		<div ng-if="model.nombre_completo" ng-bind="model.nombre_completo"></div>
		<div ng-if="!model.nombre_completo" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-3 ">
		<label >Fecha de nacimiento</label>
		<div ng-if="model.fecha_nacimiento" ng-bind="model.fecha_nacimiento | date:'dd/MM/yyyy'"></div>
		<div ng-if="!model.fecha_nacimiento" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-3 ">
		<label >Edad</label>
		<!-- <div ng-if="model.fecha_nacimiento" ng-bind="model.edad"></div> -->
		<div ng-if="model.fecha_nacimiento" ng-bind="model.fecha_nacimiento | ageFilter"></div>
		<div ng-if="!model.fecha_nacimiento" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-2 ">
		<label >Sexo</label>
		<div ng-if="model.Sexo" ng-bind="model.Sexo.nombre_tipo_sexo"></div>
		<div ng-if="!model.Sexo" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-3 ">
		<label >Estado Civil</label>
		<div ng-if="model.EstadoCivil" ng-bind="model.EstadoCivil.nombre_estado_civil"></div>
		<div ng-if="!model.EstadoCivil" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-4 ">
		<label >Email</label>
		<div ng-if="model.email" ng-bind="model.email"></div>
		<div ng-if="!model.email" ng-bind="sinDatos"></div>
	</div>
	<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
		<label  >Teléfono</label>
		<div ng-if="model.telefono" ng-bind="model.telefono"></div>
		<div ng-if="!model.telefono" ng-bind="sinDatos"></div>
	</div>-->
	<div class="col-xs-6 ">
		<label>Domicilio</label>
		<div ng-if="model.domicilio_completo" >
			<span ng-bind="model.domicilio_completo"></span>,
			<span ng-bind="model.nombre_localidad"></span>,
			<span ng-bind="model.codigo_postal"></span>
		</div>
		<div ng-if="!model.domicilio_completo" ng-bind="sinDatos"></div>
	</div> 
</div>
<div ng-if="model.Mutual && mutual" class="row fila">
	<div class="col-xs-6 ">
		<label >Obra social del paciente</label>
		<div ng-if="model.Mutual" ng-bind="model.Mutual.codigo_mutual + ' - ' + model.Mutual.nombre_mutual"></div>
		<div ng-if="!model.Mutual" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-3 ">
		<label >Plan del paciente</label>
		<div ng-if="model.nombre_plan_mutual" ng-bind="model.nombre_plan_mutual"></div>
		<div ng-if="!model.nombre_plan_mutual" ng-bind="sinDatos"></div>
	</div>
	<div class="col-xs-3 ">
		<label >Número de socio del paciente</label>
		<div ng-if="model.numero_socio_mutual" ng-bind="model.numero_socio_mutual"></div>
		<div ng-if="!model.numero_socio_mutual" ng-bind="sinDatos"></div>
	</div>
</div>