<div class="row fila">
	<div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 pull-right">
		<span class="btn-group btn-group pull-right">
			<button id="entregar" type="button" class="btn btn-default " uib-tooltip="Entregar"
				uib-tooltip-placement="top" ng-click="vm.entregar()">
				Entregar
			</button>
			<button id="limpiarCarga_button" type="button" class="btn btn-default" uib-tooltip="Limpiar Cargas" uib-tooltip-placement="top"
					ng-click="vm.recargar()">
					<sa-icon name="REPEAT"></sa-icon>
			</button>
			<button id="grupos" type="button" class="btn btn-default " uib-tooltip="Ver Grupos" ng-disabled="formControl.loading" uib-tooltip-placement="top"
					ng-click="vm.verGrupos()">
					Grupos
			</button>
		</span>
	</div>
</div>
<div class="row">
	<div class= "col-xs-12 col-sm-6 col-md-6 col-lg-6  btn-row-right scroll-dropdown" >
		<div class="input-group" ng-hide="!vm.cargarProducto">
			<input 	name="producto" 
					id="producto" type="text" 
					placeholder="Nuevo producto..." 
					ng-model="vm.producto"
					uib-typeahead="producto as (producto.Nombre +' * '+ producto.Presentacion + ' | Stock: ' + producto.Stock) for producto in vm.materiales | filter:$viewValue | limitTo:200" 
					class="form-control no-valid"
					typeahead-on-select="vm.seleccionarProducto(producto)"
					ng-change=""
					typeahead-select-on-exact="true">
			<span class="input-group-btn">
				<button id="estado_button" class="btn btn-default " type="button"
						ng-click="vm.nuevoProducto()"
						uib-tooltip="Agregar" 
						uib-tooltip-placement="top">
						<sa-icon name="NEW"></sa-icon>
				</button>
			</span>
		</div>

		<button id="estado_button" class="btn btn-default pull-right" type="button"
				ng-click="vm.nuevoProducto()"
				ng-if="!vm.cargarProducto"
				uib-tooltip="Agregar" 
				uib-tooltip-placement="top">
				<sa-icon name="NEW"></sa-icon>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover no-valid">
			<thead>
				<tr>
					<th colspan="3" class="text-center"></th>
				</tr>
				<tr class="thead-azul">
					<tr class="cabecera-tabla">
						<th class="text-left">Codigo</th>
						<th class="text-left">Descripcion</th>
						<th class="text-left">Presentacion</th>
						<th class="text-left">Stock</th>
						<th class="text-left">Stock Drogueria</th>
						<!-- <th class="text-left">Entregado</th> -->
						<th class="text-center" style="width: 8%;">Cargar</th>
						<th class="text-center">Dejar Pendiente</th>
					</tr>
			</thead>
			<tbody >
				<tr ng-repeat="pendiente in vm.pendientes">

					<td class="row text-left">{{ pendiente.NumeroArticulo}}</td>
					<td class="row text-left">{{ pendiente.Nombre }}</td>
					<td class="row text-left">{{ pendiente.Presentacion }}</td>
					<td ng-if="vm.nuevaCordoba" class="row text-left">{{ pendiente.StockNuevaCordoba }}</td>
					<td ng-if="vm.cerro" class="row text-left">{{ pendiente.StockCerro }}</td>
					<td class="row text-left">{{ pendiente.StockDrogueria }}</td>
					<!-- <td class="row text-left">{{ pendiente.Entregado }}</td> -->
					<td class="col-xs-2 text-center">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="button" 
									class="btn btn-white btn-xs"
									ng-disabled="pendiente.minimo"
									ng-click="vm.resta(pendiente)">
									<sa-icon name="MINUS"></sa-icon>
								</button>
							</span>
							<input type="text" min="0"
								  class="form-control input-sm"
								ng-model="pendiente.Cantidad"
								ng-disabled="true"
								required>
									
							<span class="input-group-btn">
								<button type="button"
									class="btn btn-white btn-xs"											
									ng-click="vm.suma(pendiente)">
									<sa-icon name="NEW"></sa-icon>
								</button>
							</span>
						  </div>		
					</td>

					<!-- <td ng-if="!pendiente.cambiarEstado" ng-click="vm.botonEstadoProducto(pendiente)" class="row text-center" ng-class="pendiente.Color">
						{{ pendiente.Estado}}</td>
					<td ng-if="pendiente.cambiarEstado" class="row text-left">
						<select id="estado_select" class="form-control" ng-model="pendiente.Estado" ng-change="vm.estadoChangedProducto(pendiente)"
							ng-options="estado.nombre_estado 
											for estado in data.estados 
											track by estado.id_estado" required>
						</select>
					</td> -->
					<td class=" text-center">
						<sa-check-box
									color="red"
									ng-model="pendiente.Pendiente"
									ng-change="">
						</sa-check-box>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-hide="!formControl.vacio">
			<label>No hay productos cargados</label>
		</div>
	</div>
</div>
<sa-loading ng-if="formControl.loading"></sa-loading>