<sa-modal-header
	title-name="{{vm.title.page}}"
	title-icon="CHECK" >
</sa-modal-header>
<sa-modal-body loading="vm.formControl.loading">
	<div class="row fila" 
		ng-repeat="tipo in vm.data.observaciones track by $index"
		ng-class="{'fila-not' : $last}">
		<h4 ng-bind="tipo.title"></h4>
		<div class="col-xs-12 ">
			<table class="table table-hover table-bordered">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th>Fecha/hora</th>
						<th>Estado</th>
						<th>Observación</th>
						<th>Usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="observacion in tipo.data">
						<td ng-bind="observacion.fecha_alta | date: 'dd/MM/yyyy - HH:mm'"></td>
						<td ng-bind="observacion.Estado.nombre"></td>
						<td ng-bind="observacion.observaciones"></td>
						<td ng-bind="observacion.UsuarioAlta.Nombre"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</sa-modal-body>
<sa-modal-footer
	btn-ok-click="$close('ok')" >
</sa-modal-footer>