<div class="row fila" ng-class="{ 'fila-print' : print }">
	<h4 ng-bind="title || 'Datos de afiliación'"></h4>
	<div ng-hide="edit || print">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6  ">
			<sa-mutual
				model="model.Mutual">
			</sa-mutual>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
			<label>Plan</label>
			<div ng-if="model.nombre_plan_mutual" ng-bind="model.nombre_plan_mutual"></div>
			<div ng-if="!model.nombre_plan_mutual" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
			<label>N° Afiliado</label>
			<div ng-if="model.numero_afiliado" ng-bind="model.numero_afiliado"></div>
			<div ng-if="!model.numero_afiliado" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
			<label>Tipo de afiliación</label>
			<div ng-if="model.TipoAfiliado" ng-bind="model.TipoAfiliado.Nombre"></div>
			<div ng-if="!model.TipoAfiliado" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-12 form-group" ng-if="manual">
			<label>Manual de procedimiento </label>
			<div ng-if="model.Mutual.procedimiento_internado" ng-bind="model.Mutual.procedimiento_internado"></div>
			<div ng-if="!model.Mutual.procedimiento_internado" ng-bind="sinDatos"></div>
		</div>
	</div>
	<ng-form name="formAfiliacion" ng-if="edit">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group">
			<sa-mutual
				model="model.Mutual"
				btn-search="true"
				required="true">
			</sa-mutual>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2  form-group">
			<label>Plan <span ng-if="model.Mutual.trabaja_plan">(*)</span></label>
			<input type="text" class="form-control"
				name="plan"
				ng-required="model.Mutual.trabaja_plan"
				ng-change="changeForm()"
				ng-model="model.nombre_plan_mutual">
			<sa-text-error model="formAfiliacion.plan"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2  form-group">
			<label>N° Afiliado</label>
			<input type="text" class="form-control"
				name="numeroAfiliado"
				ng-required="true"
				ng-change="changeForm()"
				ng-model="model.numero_afiliado">
			<sa-text-error model="formAfiliacion.numeroAfiliado"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group">
			<label>Tipo de afiliación (*)</label>
			<select class="form-control"
					name="tipoAfilado"
					ng-change="changeForm()"
					ng-model="model.TipoAfiliado"
					ng-options="tipo.Nombre for tipo in tiposAfiliado track by tipo.Id"
					ng-required="true">
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formAfiliacion.tipoAfilado"></sa-text-error>
		</div>
		<div class="col-xs-12  form-group">
			<label>Manual de procedimiento </label>
			<textarea name="procedimientoMutual" class="form-control"
				ng-disabled="true"
				ng-model="model.Mutual.procedimiento_internado">
			</textarea>
		</div>
	</ng-form>
	<!-- For print -->
	<div ng-if="print">
		<div class="col-xs-6  ">
			<sa-mutual
				model="model.Mutual">
			</sa-mutual>
		</div>
		<div class="col-xs-3  ">
			<label>Plan</label>
			<div ng-if="model.nombre_plan_mutual" ng-bind="model.nombre_plan_mutual"></div>
			<div ng-if="!model.nombre_plan_mutual" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-3  ">
			<label>N° Afiliado</label>
			<div ng-if="model.numero_afiliado" ng-bind="model.numero_afiliado"></div>
			<div ng-if="!model.numero_afiliado" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-3  ">
			<label>Tipo de afiliación</label>
			<div ng-if="model.TipoAfiliado" ng-bind="model.TipoAfiliado.Nombre"></div>
			<div ng-if="!model.TipoAfiliado" ng-bind="sinDatos"></div>
		</div>
		<div class="col-xs-3" ng-if="modulada">
			<label>Módulo</label>
			<div>Si</div>
		</div>
	</div>
</div>