<sa-loading ng-if="vm.loading"></sa-loading>
<div ng-if="vm.error" class="text-error text-center">
	Ocurrió un error. 
</div>
<div ng-hide="vm.loading || vm.error">
	<div class="row">
	 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 ">
			<button type="button" class="btn btn-default"
				ng-click="vm.btnNewClick()"
				ng-disabled="vm.btnNewDisabled || vm.btnLoading">
				<sa-icon name="NEW"></sa-icon>
				<span ng-bind="vm.title || 'Agregar observaciones'"></span> </button>
		</div>
	</div>
	<br>
	<div class="row fila">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Fecha hora</th>
						<th class="text-center">Usuario</th>
						<th class="text-center">Observaciones</th>
						<!-- <th class="text-center">Acciones</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="observacion in vm.observaciones">
						<td class="text-center" ng-bind="observacion.fecha_alta | date:'dd/MM/yyyy - HH:mm'"></td>
						<td class="text-center" ng-bind="observacion.UsuarioAlta.Nombre"></td>
						<td class="text-center" ng-bind="observacion.observaciones"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>