<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
		<div sa-form-input-validate>
			<label>Condición IVA</label>
			<select name="condicionImpositivaElegida"
				id="cmb_condicion_impositiva"
				ng-model="vm.filter.idCondicionImpositivaElegida"
				ng-change="vm.formControl.condicionChange()"
				ng-options="condicionImpositiva.Id as condicionImpositiva.Nombre for condicionImpositiva in vm.filter.condicionImpositiva"
				ng-required="true"
				sa-enter>
			<option value="">--SELECCIONAR--</option>
		</select>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
		<div sa-form-input-validate>
			<label>Alícuota</label>
			<select name="alicuota"
				id="cmb_alicuota"
				ng-model="vm.filter.idAlicuotaElegida"
				ng-change="vm.formControl.alicuotaChange()"
				ng-options="alicuota.Id as alicuota.Nombre for alicuota in vm.filter.alicuota"
				ng-required="true"
				sa-enter>
				<option value="">--SELECCIONAR--</option>
			</select>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
		<sa-check-box label="Activo" ng-model="vm.filter.estadoOrganizacion" color="green" id-element="activos-edit-organizacion"
		sa-enter ng-change="vm.formControl.activoChange()"></sa-check-box>
	</div>
</div>