@import '../common/variables';
// Para errores

.ng-submitted {
	.ng-invalid.ng-pristine{
		margin-bottom: 0px;
	}
}
.ng-invalid.ng-pristine{
	margin-bottom: 14px;
}

.ng-invalid.ng-dirty{
	border-color: $color-error;
	margin-bottom: 0px;
}

.ng-valid {
	margin-bottom: 14px;
}

.uib-timepicker .ng-valid {
	margin-bottom: 0px;
}

.input-group {
	
	.ng-valid {
		margin-bottom: 14px;
	}

	.ng-invalid, .input-group-btn{
		// border-color: $color-error;
		margin-bottom: 0px;
		vertical-align: top;
	}
}

.no-valid, .not-valid {
	.ng-valid {
		margin-bottom: 0px;
	}
	margin-bottom: 0px !important;
}

.ng-invalid.ng-dirty:focus {
	color: $font-color;
	border-color: $color-error;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $color-error;
}