/* Declaracion de variables clarika */

$color-azul-sa: #0E74D0;
$color-blue: #022F71;
$color-blue-white: #337ab7;

$color-white: #FFF;
$color-black: #000;
$color-gris: #8FA3AD;
$color-gris-clarito: #E2E7E8;
$color-gris-claro: #868889;
$color-gris-medio: #5F7177;
// $color-gris-oscuro: #5F7177;
$color-shadow: #36464E;
$color-dark: #253135;

// Estados
$color-creado: #61BD6D;
$color-progreso: #F37934;
$color-cirugia: #279DD8;
$color-anulado: #B8312F;
$color-postergado: #F9B428;
$color-faltante: #829093;

$color-requerido: #D14841;

$color-bordo: #B92535;

/* Declaracion de variables propias */
$font-stack:    Helvetica, sans-serif;
$font-size-table: 11px;
$font-size-error: 10px;
$font-size-general: 12px;
$font-size-min: 11px;
$font-size-header: 20px;
$header-height: 45px;
$font-size-h2: 18px;
$font-size-h3: 15px;
$font-size-h4: 14px;
$font-color: #555;

$primary-color: #333;
$color-error: #D2322D;

// Colores para modales, botones
$color-success-bg: #5CB85C;
$color-success-border: #4CAE4C;

$color-warning-bg: #F0AD4E;
$color-warning-border: #EEA236;

$color-info-bg: #5BC0DE;
$color-info-border: #46B8DA;

$color-danger-bg: $color-requerido;
$color-danger-border: $color-requerido;

$color-default-bg: $color-azul-sa;
$color-default-border: $color-azul-sa;

// Para circulitos y estados
$color-verde: green;
$color-verde-pastel: #98D793;
$color-naranja: orange;
// $color-amarillo: #EAE776;
$color-amarillo-pastel: #FEFF92;
$color-amarillo: rgb(254,249,33);
$color-rojo: red;

$color-azul-barra-production: #0277bd;
// $color-gris: grey;
$color-negro: #222222;
$color-azul: blue;
// $barra-azul: #337AB7;

/* Colores for tab */
$color-tab-verde: #1ABC9C;
$color-tab-violeta: #4F5CBA;
$color-tab-naranja: #F78B21;
$color-tab-rosa: #C92366;
$color-tab-verde-claro: #74BC46;
$color-tab-celeste: #36AED8;
$color-tab-rojo: #E24F40;
$color-tab-dark: #445963;

/* Toggle Menu */
$toggle-menu-time : 0.15s;
$toggle-menu-size-full : 190px;
$toggle-menu-size-min : 55px;