<sa-loading ng-if="vm.loading"></sa-loading>
<sa-modal-header title-name="{{vm.title.name}}" title-icon="LIST" ng-show="!vm.loading">

</sa-modal-header>
<sa-modal-body ng-show="!vm.loading">

	<div class="row">
		<div class="col-xs-12">

			<ul class="list-group">
					<li class="list-group-item list-group-item-action" ng-repeat="turno in vm.turnoInfo.MotivosDeCancelacion" ng-bind="turno">Rol 1</li>
			</ul>
		</div>
	</div>


</sa-modal-body>
<sa-modal-footer ng-show="!vm.loading">
	<!-- <input type="submit" id="btnDnp" value="Asignar DNP" class="btn btn-warning" ng-click="vm.asignarSobretrunoDNP()">
	<input type="submit" id="btnReglas" value="Reglas De Turnos" class="btn btn-success" ng-click="vm.abrirReglasDeTurnos()"> -->
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cerrar">
</sa-modal-footer>
</div>