<div id="print-content" ng-hide="vm.formControl.loading">
        <form name="formCuenta" accept-charset="utf-8" novalidate>
            <sa-modal-header
                title-name="{{vm.title.name}}"
                title-icon="{{vm.title.icon}}">
            </sa-modal-header>
            <sa-modal-body>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group" sa-form-input>
                        <label>Sucursal</label>
                        <select name="sucursal"
                            ng-model="vm.filter.IdSucursalElegida"
                            ng-options="sucursal.Id as sucursal.Nombre for sucursal in vm.filter.sucursales"
                            sa-enter>
                            <option value="">TODAS</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group" sa-form-input>
                        <label>Ambito</label>
                        <select name="ambito"
                            ng-model="vm.filter.IdAmbitoElegido"
                            ng-options="ambito.Id as ambito.Nombre for ambito in vm.filter.ambitos"
                            sa-enter>
                            <option value="">TODOS</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
                        <label class="label-control">Mutual</label>
                        <input type="number" placeholder="Código" class="form-control" id="codigoMutual" name="codigoMutual" ng-maxlength="10" ng-keypress="vm.formControl.buscarMutualEnter($event)" ng-blur="vm.formControl.buscarMutual()" ng-model="vm.filter.codigoMutual" sa-enter autofocus>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 form-group">
                        <label class="label-control">Nombre Mutual</label>
                        <div class="input-group">
                            <input type="text" placeholder="MUTUAL" class="form-control text-uppercase" id="nombreMutual" name="nombreMutual" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreMutual" sa-enter >
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-loading" uib-tooltip="Buscar Mutual" tooltip-placement="top" ng-click="vm.formControl.buscarMutuales()" sa-punto-click="vm.formControl.buscarMutuales()" sa-enter >
                                    <sa-icon name="SEARCH"></sa-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group" sa-form-input>
                        <label>Servicio</label>
                        <select name="servicio"
                            ng-model="vm.filter.IdServicioElegido"
                            ng-options="servicio.Id as servicio.Nombre for servicio in vm.filter.servicios"
                            sa-enter>
                            <option value="">TODOS</option>
                        </select>
                    </div>
                </div>    
                <div class="row">    
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 form-group">
                        <sa-prefacturable-selector model='vm.filter.prefacturable' ng-disabled="false" sa-enter></sa-prefacturable-selector>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group" sa-form-input>
                        <label>Tipo Agrupación</label>
                        <select name="tipoAgrupacion"
                            ng-model="vm.filter.IdTipoAgrupacionElegido"
                            ng-options="tipoAgrupacion.Id as tipoAgrupacion.Nombre for tipoAgrupacion in vm.filter.tiposAgrupacion"
                            ng-required  sa-enter>
                            <option value="">--Seleccionar--</option>
                        </select>
                    </div>
                </div>
            </sa-modal-body>
            <sa-modal-footer>
                <input type="submit"
                    class="btn"
                    value="Cancelar"
                    sa-enter
                    ng-click="vm.formControl.cancel()"
                    sa-punto-click="vm.formControl.cancel()">
                <input type="submit" id="btnAgregarEditar" value="Guardar"
                    class="btn btn-default"
                    sa-punto-click="vm.formControl.guardar()"
                    ng-click="vm.formControl.guardar()"
                    ng-disabled="formCuenta.$invalid || !vm.filter.IdTipoAgrupacionElegido > 0"
                    sa-enter>
            </sa-modal-footer>
        </form>
    </div>