<div class="row fila" ng-form="formSaCoberturas">
	<h4 >
		<!-- <span>Mutuales del paciente</span> -->
		<div class="btn-group pull-right">
			<button 
				type="button" 
			  	class="btn btn-default"
			  	uib-tooltip="Nuevo"
				ng-click="btnNewClick()"
				id="btn_nueva_cobertura">
				<sa-icon name="NEW"></sa-icon>
			</button>
		</div>
	</h4>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-valid">
		<table class="table table-hover" id="mutuales_paciente_table">
			<thead>
				<tr></tr>
				<tr class="cabecera-tabla">
					<th class="text-center">Codigo</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Plan</th>
					<th class="text-center">Número de afiliado</th>
					<th class="text-center">Tipo de afiliado</th>
					<th class="text-center">Vigencia Desde</th>
					<th class="text-center">Vigencia Hasta</th>
					<th class="text-center" ng-if="showAsignableTurnos">Asignable en Turnos</th>
					<th class="text-center">Por defecto</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="c in model  | filter:{fecha_baja:'!'}" context-menu="menuOptions" >
					<td class="text-center">{{ c.CodigoMutual}}</td>
					<td class="text-center">
						{{ c.MutualNombre}}
					</td>
					<td class="text-center">{{ c.PlanMutualNombre}}</td>
					<td class="text-center" >
						<div sa-form-input-validate>
							<input type="text"  placeholder="N° Afiliado" 
								name="numeroAfiliado{{$index}}"
								id="numeroAfiliado_{{$index}}"
								ng-model="c.NumeroAfiliado"
								ng-model-options="{ allowInvalid: true}"
								uib-tooltip="INFO: {{c.InformacionNumeroAfiliado}}"
								ng-pattern="c.ReglaFormatoNumeroAfiliado ? c.ReglaFormatoNumeroAfiliado : ''"
								ng-disabled="!c.EsEliminable">
								<span class="text-error" ng-show="formSaCoberturas.numeroAfiliado{{$index}}.$error.pattern">Formato invalido</span>
						</div>
						<!-- Por el momento no es requerido -->
						<!-- ng-required="c.EsEliminable" -->
						<!-- <sa-text-error model="formTabMutuales.numeroAfiliado{{$index}}"></sa-text-error> -->
					</td>
					<td class="text-center">
						<div>
							<select id="cmb_tipo_afiliado"
								name="tipoAfiliado{{$index}}" class="form-control"
								ng-model="c.TipoAfiliadoCobertura"
								ng-options="tipo.Nombre for tipo in data.tiposdeAfiliado track by tipo.Id"
								ng-disabled="!c.EsEliminable" id="tipoAfilidado_{{$index}}"
								sa-enter>
								<option value="">-SELECCIONAR TIPO AFILIADO -</option>
							</select>
						</div>
					</td>
					<td class="text-center" width="10%">
						<!-- <sa-date-picker name="fechaDesde{{$index}}" model="c.FechaDesde" max-date="vm.filter.hasta" ng-disabled="!c.EsEliminable"></sa-date-picker> -->
						<sa-date-time-picker ng-model="c.FechaDesde" id="$index" type="date" max="c.FechaHasta" ng-disabled="!c.EsEliminable"></sa-date-time-picker>
					</td>
					<td class="text-center" width="10%">
						<!-- <sa-date-picker name="fechaHasta{{$index}}" model="c.FechaHasta" min-date="vm.filter.hasta" ng-disabled="!c.EsEliminable"></sa-date-picker> -->
						<sa-date-time-picker ng-model="c.FechaHasta" id="100-$index" type="date" min="c.FechaDesde" ng-disabled="!c.EsEliminable"></sa-date-time-picker>
					</td>
					<td class="text-center" ng-bind="c.VisibleEnTurnos ? 'SI' : 'NO' " ng-if="showAsignableTurnos">
					</td>
					<td class="text-center">
						<sa-check-box ng-model="c.PorDefecto"
							id-element="defecto_cobertura_{{$index}}"
							color="blue"
							ng-disabled="c.PorDefecto"
							ng-change="eventChange(c)">
						</sa-check-box>
						<!-- <input type="checkbox" class="checkbox" name="chkDefectoPlan"
							ng-model="c.PorDefecto"
							ng-disabled="c.PorDefecto"
							ng-change="vm.plan.changeDefecto(c)"> -->
					</td>
					<td class="text-center">
						<!-- <button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Editar" tooltip-placement="top"
							ng-click="vm.formControl.editarPlan(plan)">
							<sa-icon name="EDIT"></sa-icon>
						</button> -->
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Anular" tooltip-placement="top"
							ng-if="btnDeleteIf" id="btn_delete_cobertura_{{$index}}"
							ng-click="btnDeleteClick($index)">
							<sa-icon name="DEL"></sa-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-hide="model.length" class="text-error text-center">No tiene planes cargados</div>		
	</div>
</div>
