<sa-title title-name="vm.title.name" title-icon="LIST"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">

        <form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">


                    <div class="ccol-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaDesde">
                            <label class="control-label">Fecha desde</label>
                            <sa-date-time-picker ng-model="vm.fechaDesde" id="3" type="date" max="vm.fechaHasta" ng-change="vm.changeFechaDesde()" >
                            </sa-date-time-picker>  
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaHasta">
                            <label class="control-label">Fecha hasta</label>
                            <sa-date-time-picker ng-model="vm.fechaHasta" id="4" type="date" min="vm.fechaDesdeMin" max="vm.today">
                            </sa-date-time-picker>  
                    </div>
        
        

                <!-- 
             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                  <label for="datePickerDesde ">Fecha desde</label>
                  <sa-date-picker model="vm.fechaDesde" max-date="vm.fechaHasta"></sa-date-picker>
             </div>
                           
             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                  <label for="datePickerHasta ">Fecha hasta</label>
                  <sa-date-picker model="vm.fechaHasta" max-date="vm.fechaHoy" min-date="vm.fechaDesde"></sa-date-picker>
             </div> -->
 
 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Sucursal</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.sucursalElegida" ng-options="sucursal.Nombre for sucursal in vm.sucursalLista track by sucursal.Id"
                        ng-change="vm.cambioSucursal()" sa-enter>
                        <option value="">TODAS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label>Servicio</label>
					<!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
					<select class="form-control" ng-model="vm.servicioMedicoElegido" ng-options="servicio.Nombre for servicio in vm.servicioLista track by servicio.Id"
						ng-change="vm.cambioServicioMedico()" sa-enter>
						<option value="">TODOS</option>
						<!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
                    <label for="usuario">Usuario</label>
                    <select class="form-control" id="usuariosJerarquia_selector" name="usuariosJerarquia_name" ng-model="vm.usuarioActual" 
						ng-options="usuariosJerarquia as usuariosJerarquia.Nombre for usuariosJerarquia in vm.jerarquia track by usuariosJerarquia.Id">
					<option value="">TODOS</option>
                    </select>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <sa-buscador-dinamico-usuario busqueda-usuario="vm.busquedaUsuario" ></sa-buscador-dinamico-usuario>
                </div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label for="estado">Estado</label>
                    <select class="form-control" id="estado_selector" name="estado_name" ng-model="vm.estadoLoteElegido" 
						ng-change="vm.cambioEstado()" ng-options="estado.Nombre for estado in vm.estadoLoteLista track by estado.Id">
					<option value="">TODOS</option>
                    </select>
                </div> 

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label for="numeroLoteLegacy">Nro de Lote</label>
					<input type="number" id="numeroLoteLegacy" name="numeroLoteLegacy" ng-model="vm.numeroLoteLegacy" min="0"
						sa-enter>
                </div>

				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
                </div>

				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
						sa-enter>Limpiar</button>
				</div>

            </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
                <button type="button" sa-btn-ok class="btn-row btn-block" ng-disabled="vm.tieneSeleccionado()" ng-click="vm.recepcionarSeleccionados(vm.lotesRecepcionLista.Rows)"
                    sa-punto-click="" sa-enter>Recepcionar Seleccionados</button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group" sa-form-input>
                    <button type="button" sa-btn-ok class="btn-row btn-block"  ng-click="vm.exportarLoteExcel()"
                    ng-disabled="!vm.lotesRecepcionLista.Rows.length" sa-punto-click="" sa-enter>Exportar a Excel</button>
            </div>
        </div>

        </form>



		<div class="col-xs-12">
            <div class="row">

                <div class="col-xs-12">

                    <table class="table " id="internados_table" ng-show="vm.lotesRecepcionLista">
                        <thead>
                            <tr class="cabecera-tabla">
                                <th class="text-center">
                                    <label class="material-checkbox" uib-tooltip="Seleccionar Todos" uib-tooltip-placement="top">
                                        <input type="checkbox" ng-model="vm.seleccionarTodos" ng-change="vm.seleccionarTodosChange(vm.lotesRecepcionLista.Rows)">
                                        <span class="check-verde"></span>
                                    </label>
                                </th>
                                <th class="text-left">Número Lote</th>
                                <th class="text-left">Fecha y Hora</th>
                                <th class="text-left">Sucursal</th>
                                <th class="text-left">Servicio</th>
                                <th class="text-left">Usuario</th>
                                <th class="text-left">Mail</th>
                                <th class="text-left">Estado</th>
                                <th class="text-left">Acciones</th>
                            </tr>
                        </thead>
                        <!-- BODY -->
                        <tbody ng-show="vm.lotesRecepcionLista" ng-repeat="lote in vm.lotesRecepcionLista.Rows">
                            <tr>
                                <td class="text-center">
                                    <label class="material-checkbox">
                                        <input type="checkbox" ng-model="lote.Seleccionado" ng-change="vm.seleccionarLote()" ng-disabled ="vm.esVisibleSegunEstado(lote,1)">
                                        <span class="check-verde"></span>
                                    </label>
                                </td>
                                <th>
                                    {{ lote.NroLoteLegacy}}</th>
                                <th>
                                    {{ lote.Fecha | date:'dd/MM/yyyy HH:mm'}}</th>
                                <th>
                                    {{ lote.Sucursal}}</th>    
                                <th>
                                    {{ lote.Servicio}}</th>
                                <th>
                                    {{ lote.UsuarioCreacion}}</th>
                                <th>
                                    {{ lote.UsuarioCreacionMail}}</th>
                                <th>
									{{ lote.EstadoLote}}</th>

                                <td class="col-xs-2 text-center">
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Definitivos Lote {{lote.NroLoteLegacy}}" tooltip-placement="top" ng-click="vm.editarDefinitivo(lote)">
                                        <sa-icon name="EDIT"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Imprimir Lote {{lote.NroLoteLegacy}}" tooltip-placement="top" ng-click="vm.imprimirLote(lote)">
                                        <sa-icon name="PRINT"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Rechazar Lote {{lote.NroLoteLegacy}}" tooltip-placement="top" ng-click="vm.rechazarLotePorId(lote)" ng-disabled ="vm.esVisibleSegunEstado(lote,1)" >
                                            <sa-icon name="DEL"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Receptar Lote {{lote.NroLoteLegacy}}" tooltip-placement="top" ng-click="vm.receptarLotePorId(lote)" ng-disabled ="vm.esVisibleSegunEstado(lote,1)" >
                                        <sa-icon name="OK"></sa-icon>
                                    </button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>