<sa-loading  ng-if="formControl.loading" ></sa-loading>
<div id="print-content" class="container-print" ng-hide="formControl.loading">
	<div class="modal-header">
		<!-- <div class="row fila-print"> -->
		<div class="row">
			<div class="col-xs-3 colleft" >
				<sa-logo></sa-logo>
			</div>
			<div class="col-xs-6 colleft  text-center">
				<h4>Foja de Procedimientos de Guardia Nº {{ data.detalle.Foja.Id }}</h4>
			</div>
			<div class="col-xs-3 colleft pull-right">
				<label class="pull-right">Sucursal: {{ data.prescripcion.Sucursal }} </label>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row fila fila-print">
			<H4>Datos del paciente</H4>
			<div class="col-xs-12 colleft" >
				<div class="col-xs-6 colleft " >
					<label class="">Nombre y Apellido del paciente</label>
					<div ng-bind="data.prescripcion.NombrePaciente"></div>
				</div>
				<div class="col-xs-6 colleft ">
					<label class="">Documento (Tipo y Nº)</label>
					<div ng-bind="data.prescripcion.TipoDocumento + ': ' + data.prescripcion.NumeroDocumento"></div>
				</div>
			</div>
		</div>
		<div class="row fila fila-print">
			<h4>Datos de Procedimiento</h4>
			<div class="col-xs-12 colleft" >
				<div class="col-xs-3 colleft " >
					<label class="">Fecha/Hora de inicio</label>
					<div ng-bind="data.detalle.Foja.FechaInicio | date: 'dd/MM/yyyy HH:mm'"></div>
				</div>
				<div class="col-xs-3 colleft " >
					<label class="">Fecha/Hora de fin</label>
					<div ng-bind="data.detalle.Foja.FechaFin | date: 'dd/MM/yyyy HH:mm'"></div>
				</div>
				<div class="col-xs-12 colleft ">
					<label class="">Diagnóstico Previo</label>
					<div ng-bind="data.detalle.Foja.DiagnosticoPrevio"></div>
				</div>
				<div class="col-xs-12 colleft ">
					<label class="">Diagnóstico Posterior</label>
					<div ng-bind="data.detalle.Foja.DiagnosticoPosterior"></div>
				</div>
				<div class="col-xs-12 colleft " >
					<label class="">Procedimientos</label>
					<div ng-bind="data.detalle.Foja.Procedimiento"></div>
				</div>
				<div class="col-xs-12 colleft " >
					<label class="">Preparación / posición / vía abordaje / hallazgos / Procedimientos</label>
					<div ng-bind="data.detalle.Foja.Preparacion"></div>
				</div>
			</div>
		</div>
		<div class="row fila-print">
			<h4>Equipo Médico</h4>
			<div class="col-xs-12 colleft" >
				<div class="col-xs-12 colleft " >
					<label class="">Cirujano</label>
					<div ng-if="data.detalle.Foja.Cirujano" ng-bind="data.detalle.Foja.MatriculaCirujano + '  ' + data.detalle.Foja.Cirujano"></div>
					<div ng-hide="data.detalle.Foja.Cirujano">No participo</div>
				</div>
				<div class="col-xs-12 colleft " >
					<label class="">Ayudante 1</label>
					<div ng-if="data.detalle.Foja.Ayudante1" ng-bind="data.detalle.Foja.MatriculaAyudante1 + '  ' + data.detalle.Foja.Ayudante1"></div>
					<div ng-hide="data.detalle.Foja.Ayudante1">No participo</div>
				</div>
				<div class="col-xs-12 colleft " >
					<label class="">Ayudante 2</label>
					<div ng-if="data.detalle.Foja.Ayudante2" ng-bind="data.detalle.Foja.MatriculaAyudante2 + '  ' + data.detalle.Foja.Ayudante2"></div>
					<div ng-hide="data.detalle.Foja.Ayudante2">No participo</div>
				</div>
				<div class="col-xs-12 colleft " >
					<label class="">Anestesiologo</label>
					<div ng-if="data.detalle.Foja.Anestesista" ng-bind="data.detalle.Foja.MatriculaAnestesista + '  ' + data.detalle.Foja.Anestesista"></div>
					<div ng-hide="data.detalle.Foja.Anestesista">No participo</div>
				</div>
				<div class="col-xs-12 colleft">
					<label class="">Médico Carga</label>
					<div ng-bind="data.detalle.Foja.UsuarioCreacion"></div>
				</div>
				<div class="col-xs-2 text-center">
					<label class="text-center">Firma y sello</label>
					<img ng-src="{{data.firmaMedico}}" alt="firmaMedico" class="img-responsive"/>
				</div>
				
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<!-- <div class="row fila">
			<div class="col-xs-12 colleft">
				<p class="text-left">
					El abajo firmante, en su caracter de .................................. declara que confía en sus facultativos, y acepta expresamente los exámenes y tratamientos médicos que le practiquen. Y no se opondrá a que con fines educativos o científicos se publiquen o exhiban los estudios que se le efectúen siempre que no se le identifique personalmente, ni se deriven daños materiales o morales para si o los suyos. Además autoriza a emplear todo método científico con el objetivo de alcanzar la exactitud del diagnóstico o corroborarlo.
				</p>
			</div>
		</div> -->
		<!-- <div class="row">
			<div class="col-xs-6 colleft ">
				<div class="pull-left">Usuario: <span>{{ data.user.userName }}</span></div>
			</div>
		</div> -->
	</div>
</div>