
	<!-- <div id="print-content" class="container-print"> -->

		<form name="formPersona" accept-charset="utf-8" novalidate >
			<div class="modal-header">
				<h4>{{data.prescripcion.NombrePaciente}}, {{data.prescripcion.TipoDocumento}}: {{data.prescripcion.NumeroDocumento}}</h4>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
					<h5>{{data.prescripcion.NombreMutual}}, Numero Afiliado: {{data.prescripcion.NumeroAfiliado}}</h4>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
					<button type="button" class="btn btn-white"
						uib-tooltip="Imprimir" tooltip-placement="top"
						ng-click="formControl.print(detalle)">
						<sa-icon name="PRINT"></sa-icon>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<sa-loading ng-if="vm.formControl.loading"></sa-loading>
				<div class="row fila">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4>Practicas</h4>
						<form name="formFilter"  novalidate>
							<div class="table-responsive">
								<table class="table table-hover" ng-hide="formControl.loading || formControl.practicasVacio">
									<thead>
								 		<tr >
											<th colspan="3" class="text-center"></th>
										</tr>
										<tr class="thead-azul"></tr>
										<tr class="cabecera-tabla"> 
											<th class="text-left">Codigo Practica</th>
											<th class="text-left">Descripcion</th>
											<!-- <th class="text-left">Observaciones</th> -->
											<th class="text-left">Medico Carga</th>
											<th class="text-left">Fecha/Hora</th>
											<th class="text-left">Foja</th>
										</tr>
									</thead>
									<tbody ng-repeat="detalle in data.prescripcion.Detalles"  >
										<tr>
											<th class="row text-left">{{ detalle.Indicacion.Id }}</th>
											<td class="row text-left">{{ detalle.Indicacion.Nombre}}</td>
											<!-- <td class="row text-left">{{ detalle.observacion_medica}}</td> -->
											<td class="row text-left">{{ detalle.UsuarioCarga}}</td>
											<td class="row text-left">{{ detalle.FechaCarga | date:"dd/MM/yyyy HH:mm"}}</td>
											<td ng-if="detalle.tieneFoja" class="text-center">
												<button type="button" class="btn btn-white btn-xs"
													uib-tooltip="Imprimir Foja" tooltip-placement="top"
													ng-click="formControl.printFoja(detalle)">
													<sa-icon name="PRINT"></sa-icon>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 colleft text-center" ng-hide="!formControl.practicasVacio" >
									<label  >No hay practicas cargadas...</label>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="row fila">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4>Productos</h4>
						<form name="formFilter"  novalidate>
							<div class="table-responsive">
								<table class="table table-hover" ng-hide="formControl.loading || formControl.productosVacio">
									<thead>
								 		<tr >
											<th colspan="3" class="text-center"></th>
										</tr>
										<tr class="thead-azul"></tr>
										<tr class="cabecera-tabla"> 
											<th class="text-left">Codigo Producto</th>
											<th class="text-left">Descripcion</th>
											<th class="text-left">Presentacion</th>
											<th class="text-left">Enfermero Asigno</th>
											<th class="text-left">Fecha/Hora</th>
										</tr>
									</thead>
									<tbody ng-repeat="detalle in data.prescripcion.Materiales">
										<tr>
											<th class="row text-left">{{ detalle.Producto.NumeroArticulo }}</th>
											<td class="row text-left">{{ detalle.Producto.Nombre}}</td>
											<td class="row text-left">{{ detalle.Producto.Presentacion}}</td>
											<td class="row text-left">{{ detalle.UsuarioUtilizo}}</td>
											<td class="row text-left">{{ detalle.FechaUtilizo | date:"dd/MM/yyyy HH:mm"}}</td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 colleft text-center" ng-hide="!formControl.productosVacio" >
									<label  >No hay productos cargados...</label>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4>Evoluciones</h4>
						<form name="formFilter"  novalidate>
							<div class="table-responsive">
								<table class="table table-hover" ng-hide="formControl.loading || formControl.evolucionesVacio">
									<thead>
								 		<tr >
											<th colspan="3" class="text-center"></th>
										</tr>
										<tr class="thead-azul">
										<tr class="cabecera-tabla">
											<th class="text-left">Evolucion</th>
											<th class="text-left">Agregar</th>
										</tr>
									</thead>
									<tbody ng-repeat="evolucion in data.prescripcion.Evoluciones" >
										<tr>
											<th class="row text-left">{{ evolucion.evolucion }}</th>
											<td class="text-center">
												<!-- <input type="checkbox"
														id="scrap_checkbox" 
														ng-model="evolucion.cargada"
														ng-change="formControl.cargarEvolucion()"> -->
												<sa-check-box 
													ng-model="evolucion.cargada" 
													ng-change="formControl.cargarEvolucion()">
												 </sa-check-box>
														
											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 colleft text-center" ng-hide="!formControl.evolucionesVacio" >
									<label  >No hay evoluciones...</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer" >
				<button type="button"
					class="btn btn-guardar"
					ng-disabled=""
					ng-click="formControl.ok()">Cerrar</button>			
			</div>

	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
	
