<sa-title title-name="vm.title.page" title-icon="LIST" 
	btn-new-click="vm.formControl.new()" btn-new-disabled="vm.formControl.loading"></sa-title>
<div id="cuerpo" ng-hide="vm.formControl.loading">


	<sa-recursos-list ng-model="vm.data.recursos" 
		btn-edit-click="vm.recurso.edit(pRecurso)"
		btn-edit-disabled="vm.formControl.loading && !vm.validar.puedeEditar()"
		btn-edit-if="!vm.formControl.loading"

		btn-view-click="vm.recurso.view(pRecurso)"
		btn-view-disabled="vm.formControl.loading && !vm.validar.puedeVer()"
		btn-view-if="!vm.formControl.loading"

		btn-delete-click="vm.recurso.delete(pRecurso)"
		btn-delete-disabled="vm.formControl.loading && !vm.validar.puedeEliminar()"
		btn-delete-if="!vm.formControl.loading"
		>
	</sa-recursos-list>
	
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>