<form name="formUnidad" novalidate>
	<sa-title title-name="vm.title.name" title-icon="LIST" btn-reload-disabled="vm.formControl.loading"></sa-title>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
			<div sa-form-input-validate>
				<label>Nombre</label>
				<input type="text" name="nombreListaFacturacion" ng-model="vm.nombreLista" sa-enter>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
			<div sa-form-input-validate>
				<label>Descripcion</label>
				<input type="text" name="descripcionListaFacturacion" ng-model="vm.descripcionLista" sa-enter>
			</div>
		</div> 

		
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
			<label for="tipoPrefacturable">Tipo Prefacturable</label>
			<select id="tipoPrefacturable" name="tipoPrefacturable" ng-model="vm.tipoPrefacturable" ng-options="tipoPrefacturable.Nombre for tipoPrefacturable in vm.tipoPrefacturablesCombo track by tipoPrefacturable.Id"
			 sa-enter>
				<option value="">TODOS</option>
			</select>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
			<button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
			<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
			 sa-enter>Limpiar</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">

			<button type="button" class="btn btn-default pull-right" uib-tooltip="Agregar nuevo requisito" tooltip-placement="left" uib-dropdown-toggle
			 ng-click="vm.editarListaFacturacion(null, null)" sa-punto-click="vm.editarListaFacturacion(null, null)" sa-enter>
				<sa-icon name="PLUS"></sa-icon>
			</button>
		
			
			<sa-table-ext data="vm.listadoDeFacturacion" page-change="vm.buscarPagina(pagination)" btn-edit-click="vm.editarListaFacturacion(row.Id, index)"
			 btn-delete-click="vm.eliminar(row, index)">
			</sa-table-ext>
		</div>

	</div>

	<div class="row">
		<br>
		<div class="col-xs-12 text-center">
			<button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
				Volver
			</button>
		</div>
	</div>
	<sa-loading ng-if="vm.loading"></sa-loading>
</form>
