<div class="sa-panel-item" >
	<div class="sa-panel-item-content btn"
		ng-class="btnClass" 
		ng-if="!path">
		
		<div class="sa-panel-item-title" ng-bind="name"></div>
		<span ng-if="icon" ng-class="icon" class="sa-panel-item-icon"></span>
		<sa-icon ng-if="iconName" name="{{iconName}}" class="sa-panel-item-icon"></sa-icon>
	</div>
	<a href="#/{{path}}" class="sa-panel-item-content btn"
		ng-class="btnClass"
		ng-if="path">
		
		<div class="sa-panel-item-title" ng-bind="name"></div>
		<span ng-if="icon" ng-class="icon" class="sa-panel-item-icon"></span>
		<sa-icon ng-if="iconName" name="{{iconName}}" class="sa-panel-item-icon"></sa-icon>
	</a>
</div>