<span ng-class="origen">
	<div id="botonAlertas{{origen}}"  ng-class="[clases]" class="fa button_alertas"  sa-toggle-alertas-click origen = "origen" ng-click="close()">
			<!-- <sa-icon name="BELL" class="fa-2x button_alertas"></sa-icon> -->
			<!-- <span class=" button_alertas"></span> -->
			<span class="button_badge" ng-if="cantidadAlertas > 0" >{{cantidadAlertas}}</span>
	</div>

	<div id="menuAlertas{{origen}}" sa-unchange-alertas-click style="display:none">
		<sa-icon name="TRIANGLE" class="beeper"></sa-icon>
		<div id="alertas" class="alertas scrollbar" >
			<div class="fila">
			    <!-- <h3>
			    	Alertas
			    </h3> -->
			</div>
			<div ng-if="!data.alertas.length >0" class="vacio">
				No hay alertas...
			</div>

			<sa-menu-alertas-item alerta="alerta" ng-repeat="alerta in data.alertas"></sa-menu-alertas-item>
		    <!-- <div style="height:200px;"></div> -->
		    <!-- <div class="seeAll"><a href="#">See All</a></div> -->
		</div>
	</div>
</span>