<div class="row" ng-hide="vm.loading">

	<div class="col-xs-12">

		<div class="row">

			<!-- FECHA DESDE -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
				<label>Fecha Desde</label>
				<sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date">
				</sa-date-time-picker>
			</div>

			<!-- FECHA HASTA -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
				<label>Fecha Hasta</label>
				<sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date">
				</sa-date-time-picker>
			</div>


			<!-- SUCURSAL -->
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group">
				<sa-sucursal-select sucursal="vm.sucursal">
				</sa-sucursal-select>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
				<sa-new-mutual-selector model="vm.mutual" codigo-mutual-edit="vm.codigoMutual"></sa-new-mutual-selector>
			</div>
			<div class="col-xs-2">
				<sa-plan-mutual ng-model="vm.planMutual" id-mutual="vm.mutual.Id" id-plan-elegido="vm.IdPlan" ng-disabled></sa-plan-mutual>
			</div>

			<div class="col-xs-2">
				<sa-check-box ng-model="vm.soloConAgenda" label="Solo con Agenda" color="green"></sa-check-box>
			</div>

			<div class="col-xs-2">
				<sa-check-box ng-model="vm.soloHabilitados" label="Solo Habilitados" color="green"></sa-check-box>
			</div>

			<!-- BTN LIMPIAR -->
			<!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2  pull-right">
					<button type="button" class="btn-block btn-row" sa-btn-clean ng-click="vm.limpiar()">
						Limpiar
					</button>
				</div> -->
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right">
				<button type="button" class="btn-block btn-row" sa-btn-search ng-click="vm.buscar()">
					Buscar
				</button>
			</div>
		</div>



		<div class="row">

			<!-- BLOQUE INFERIOR TABLA -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.data && vm.data.length && vm.columnasTabla && vm.columnasTabla.length">

				<!-- Se define el container que gestiona la tabla-->
				<fw-table-container>
					<fw-table-config exportable="true" sortable="false" filtrable="true" paginable="true" column-config="true">
					</fw-table-config>
					<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
					</fw-table-sorting-ext>
					<fw-table-rowset data="vm.data">
					</fw-table-rowset>
					<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
					<fw-table-columnset data="vm.columnasTabla">

					</fw-table-columnset>

					<fw-table-export>

						<fw-table-export-csv label="'Exportar todo a Excel'" data="all" status="true">
						</fw-table-export-csv>
					</fw-table-export>

					<!-- FILTRADO DINAMICO [Opcional] -->
					<!-- Debe estar configurado en true la configuracion correspondiente -->
					<!-- Solo debería funcionar si se trata de una tabla interna -->
					<fw-table-filter></fw-table-filter>

					<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
					<!-- Opcionalmente se puede redefinir page-size -->
					<fw-table-pagination page-size="10"></fw-table-pagination>
					<!-- Por ultimo el renderizado de la tabla -->
					<fw-table></fw-table>
				</fw-table-container>
			</div>


		</div>

	</div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>