<div id="print-content" ng-hide="vm.formControl.loading">
    <form name="formTecnico" accept-charset="utf-8" novalidate>
        <sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
        </sa-modal-header>
        <sa-modal-body>

            <div class="row">

                <!--Combo -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input>
                    <label>Mes</label>
                    <select class="form-control" ng-model="vm.mesElegido" ng-options="mes.Nombre for mes in vm.meses track by mes.Id" sa-enter autofocus>
                    </select>
                </div>

                <!--Combo -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
                    <label>Año</label>
                    <!-- ng-model » hace el vinculo al Controller -->
                    <input class="form-control" type="number" max="3000" ng-model="vm.corteFacturacion.Anio" sa-enter>
                    <!--ng-init ="vm.anio=2018" // Determina que salga por defecto 2018 para ser texto poner 'comillas'-->
                </div>

                <!--Combo -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input>
                    <label>Sucursal</label>
                    <select id="tipoSucursal" name="cmbtipoServicio" ng-model="vm.sucursalElegida" ng-options="tipoSucursal.Nombre for tipoSucursal in vm.sucursalServicio track by tipoSucursal.Id"
                        sa-enter>
                        <option value="">TODAS</option>
                    </select>
                </div>

            </div>

            <div class="row">
                

                <!--Combo 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input>
                    <label>Servicio</label>
                    <select id="tipoServicio" name="cmbtipoServicio" ng-model="vm.servicioElegido" ng-options="tipoServicio.Nombre for tipoServicio in vm.listadoServicio track by tipoServicio.Id"
                        sa-enter>
                        <option value="">TODOS</option>
                    </select>
                </div>-->

                <!--Combo -->
                <div class="col-xs-12 col-sm-4 col-md-8 col-lg-6 form-group">
                    <sa-selector-servicio-medico ng-model="vm.servicioElegido"></sa-selector-servicio-medico>
                </div>
            
                <!--Combo -->
                <!-- <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 form-group" ng-controller="DatePickerController">
                    <label class="control-label">Fecha de Corte</label>
                    <input type="date" class="form-control" id="fechaCorte" name="fechaCorte" ng-min="vm.startDate" ng-model="vm.fechaCorte" ng-required="true" sa-enter>
                </div> -->

                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 form-group">
                        <label class="control-label">Fecha de Corte</label>
                        <sa-date-time-picker ng-model="vm.fechaCorte" id="fecha-de-corte" type="date" min="vm.startDate" required="true">
                        </sa-date-time-picker>  
                </div>

            </div>


        </sa-modal-body>

        <sa-modal-footer>
            <input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
            <input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-punto-click="vm.guardar()"
                sa-enter>
        </sa-modal-footer>

    </form>
</div>
<sa-loading ng-if="vm.loading"></sa-loading>