<div id="print-content" class="container-print">
		<div class="page" ng-repeat="definitivoNumero in vm.listaDefinitivo">
	
			<sa-modal-header title-name="{{vm.title.name}}" print="true"></sa-modal-header>
	
			<sa-modal-body>
				<div class="row fila">
	
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Definitivo Nro: CONTROL </strong>
									<!-- </label> {{definitivoNumero.numeroDefinitivoLegacy}}</h4> -->
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Sucursal: </strong>
									</label> {{definitivoNumero.sucursal}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Nombre Mutual: </strong>
									</label>
									{{definitivoNumero.codigoMutual + "-"+ definitivoNumero.nombreMutual}}
								</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Tipo Afiliado: </strong>
									</label> {{definitivoNumero.tipoAfiliado}}</h4>
							</div>
						</div>
					</div>
	
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12en el col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Ámbito: </strong>
									</label> {{definitivoNumero.ambito}}</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Servicio: </strong>
									</label>
									{{definitivoNumero.servicio}}
								</h4>
							</div>
						</div>
					</div>
	
					<div class="row fila" ng-repeat="practica in definitivoNumero.defintivoPorCorteDeControl">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							</divclass>
							<table class="table table-bordered table-fina ">
								<thead>
									<tr class="cabecera-tabla">
										<td class="text-center">Fecha</td>
										<td class="text-center">Practica</td>
										<td class="text-center">Descripcióon</td>
										<td class="text-center">Cant.</td>
										<td class="text-center">Profesional</td>
										<td class="text-center">Cuenta</td>
										<td class="text-center">Paciente</td>
										<td class="text-center">Nro Orden</td>
										<td class="text-center">Tipo Af.</td>
										<td class="text-center">Imp. Mutual</td>
										<td class="text-center">imp. Part.</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detallePractica in practica.practicas">
										<td class="text-left">{{detallePractica.Fecha | date:'dd/MM/yyyy'}}</td>
										<td class="text-left">{{detallePractica.CodigoPrefacturable}}</td>
										<td class="text-left">{{detallePractica.Descripcion}}</td>
										<td class="text-left">{{detallePractica.Cantidad}}</td>
										<td class="text-center">{{detallePractica.Profesional}}</td>
										<td class="text-center">{{detallePractica.Cuenta}}</td>
										<td class="text-center">{{detallePractica.NombrePaciente}}</td>
										<td class="text-center">{{detallePractica.Orden}}</td>
										<td class="text-center">{{detallePractica.TipoAfiliado}}</td>
										<td class="text-center">{{detallePractica.ImporteFinanciador}}</td>
										<td class="text-center">{{detallePractica.ImporteParticular}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- <h4>Importe total: {{practica.totalImporte}} </h4>
						<h4>Importe total Afiliado: {{practica.totalImporteAfiliado}} </h4> -->
	
					</div>
				</div>
	
				<!-- <div class="row">
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Total General Afiliado: </strong>
									</label> {{vm.totalGeneralAfiliadoDefinitivo}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Total General Mutual: </strong>
									</label> {{vm.totalGeneralDefinitivo}} </h4>
							</div>
						</div>
					</div>
				</div> -->
	
	
			</sa-modal-body>
		</div>
	</div>