<div class="cuerpo" ng-if="!vm.formControl.loading">	
	<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.nuevo()" btn-new-disabled="vm.formControl.loading"></sa-title>
	<form name="formFilter" accept-charset="utf-8" novalidate>
		<div class="row">				
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" sa-form-input>
				<label class="control-label">Matrícula</label>
				<input type="text" class="form-control" ng-model="vm.filter.numeroMatricula" min="0" max="999999999999" 
				id="lista-profesionales-matricula-input" sa-enter sa-integer>
			</div>			
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group" sa-form-input>
				<label class="control-label">Apellido</label>
				<input type="text" class="form-control text-uppercase" ng-model="vm.filter.apellido" maxlength="60" 
				id="lista-profesionales-apellido-input" sa-enter>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group" sa-form-input>
				<label class="control-label">Nombre</label>
				<input type="text" class="form-control text-uppercase" ng-model="vm.filter.nombre" maxlength="60" 
				id="lista-profesionales-nombre-input" sa-enter>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
				<sa-check-box label="Solo Activos" ng-model="vm.filter.activos" color="green" sa-enter 
				id="lista-profesionales-activos-slider" ng-change="vm.formControl.activoChange()"></sa-check-box>
			</div>
			<button sa-btn-search
				ng-click="vm.formControl.buscar()" class="btn-row"
				ng-disabled="!formFilter.$valid"
				id="lista-profesinales-buscar-btn"
				sa-punto-click="vm.formControl.buscar()" sa-enter>
				Buscar
			</button>
			<button sa-btn-clean
				ng-click="vm.formControl.limpiarFiltros()" class="btn-row"
				id="lista-profesionales-limpiar-btn"
				sa-punto-click="vm.formControl.limpiarFiltros()" sa-enter>
				Limpiar
			</button>
		</div>
	</form>
	<sa-table-ext data="vm.data.profesionales" page-change="vm.formControl.buscarPagina(pagination)" export="vm.table.export(exportation)"
		btn-edit-click="vm.formControl.editar(row)" ></sa-table-ext>
		<!-- NO BORRAR, SE ESPERA PARA FUTURA IMPLEMENTACION -->
		<!-- btn-delete-click="vm.formControl.borrar(row)" -->
	<div class="row">
		<br>
		<div class="col-xs-12 text-center">
			<button class="btn btn-cancelar" ng-click="vm.formControl.volver()" id="lista-profesionales-volver-btn"
			sa-punto-click ="vm.formControl.volver()" sa-enter>
				Volver
			</button>
		</div>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>