<sa-modal-header title-name="Anular Recepción" title-icon="ANULAR">
</sa-modal-header>
<sa-modal-body>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" sa-form-input>
			<label>Motivo Anulación:</label>
			<textarea class="form-control textarea-lg" ng-model="vm.motivoAnulacion" ng-change="vm.habilitarBotonGuardar()"></textarea>
		</div>
	</div>
</sa-modal-body>

<sa-modal-footer>
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
	<input type="submit" id="btnAgregarEditar" value="Aceptar" class="btn btn-default" ng-click="vm.guardar()" ng-disabled="vm.deshabilitarBoton" sa-enter sa-punto-click="vm.guardar()">
</sa-modal-footer>