<!-- <div class="encabezado">
	<div class="row">
		<h2>{{ constante.nombrePagina }}</h2>
	</div>
</div> -->
<div class="cuerpo" id="cuerpo">
	<form name="formSolicitud" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right form-group" ng-show="data.sucursales.length > 1" >
					<label>Sucursal</label>
					<select class="form-control" id="cmb_sucursal" ng-model="filter.sucursal"
						ng-options="sucursal.Nombre for sucursal in data.sucursales track by sucursal.Id"
						ng-change="formControl.cambioSucursal()"
						sa-enter></select>
				</div>
				<uib-tabset >
					<uib-tab ng-repeat="tab in vm.tabs track by $index"
						class="{{ tab.CLASSBG }}"
						role="presentation"
						ng-hide="tab.HIDE"
						active="tab.ACTIVE"
						uib-tooltip="{{tab.TITLE_CONTENT}}"
						disable="tab.DISABLED"
						ng-click="formControl.selectTab(tab)">
						<uib-tab-heading class="{{ tab.CLASS }}">
							{{ tab.TITLE_TAB }}
						</uib-tab-heading>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft">
								<h3>{{tab.TITLE_CONTENT}}</h3>
								
							</div>
						</div>
						<div ng-bind-html="tab.CONTENT | saToHtml" fw-init-bind></div>
						<!-- <div ng-include="tab.CONTENT" ></div> -->
					</uib-tab>
				</uib-tabset>			
			</div>
			
		</div>
		<!-- ng-show = "data.sucursales.length > 1" -->
	</form>
</div>
<sa-loading ng-if="formControl.loading || formControl.loadingInternaciones"></sa-loading>
