<!-- EXAMPLE: [TABLE] Ejemplo de tabla generica personalizable -->
<div class="row">
	<!-- El ng-if va para no cargar la tabla sin datos -->
	<div class="col-xs-12" ng-if="rows && cols">

		<!-- Se define el container que gestiona la tabla-->
		<fw-table-container>
			<!-- CONFIGURACION [Opcional]-->
			<!-- Corresponde a cada funcionalidad de la tabla -->
			<!-- Para que funcionen deben estar en true -->
			<fw-table-config
				exportable="exportation"
				sortable="sorting"
				filtrable="false"
				paginable="pagination"
				column-config="columnConfig">
			</fw-table-config>

			<!-- COLUMNAS (*) [Requerido] -->
			<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
			<fw-table-columnset data="cols">
				<!-- Se define una column con los datos de una columna (opcional)-->
				<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
				<!-- <fw-table-column
					label="'Prueba'"
					field="'otroCampo'">
				</fw-table-column> -->
			</fw-table-columnset>

			<!-- ACCIONES DE FILA [Opcional] -->
			<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
			<fw-table-buttonset>
				<!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
				<fw-table-button
					visible="btnNewIf"
					label="'Nuevo'"
					icon="'NEW'"
					action="btnNewClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
				<fw-table-button
					visible="btnEditIf"
					label="'Editar'"
					icon="'EDIT'"
					action="btnEditClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
				<fw-table-button
					visible="btnPrintIf"
					label="'Imprimir'"
					icon="'PRINT'"
					action="btnPrintClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
				<fw-table-button
					visible="btnDeleteIf"
					label="'Borrar'"
					icon="'DEL'"
					action="btnDeleteClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
				<fw-table-button
					visible="btnViewIf"
					label="'Ver'"
					icon="'EYE_OPEN'"
					action="btnViewClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
				<fw-table-button
					visible="btnPersonalizadoIf"
					label="btnPersonalizadoLabel"
					icon="btnPersonalizadoIcon"
					action="btnPersonalizadoClick({row:row, index:index})"
					id-element="btnIdElement">
				</fw-table-button>
			</fw-table-buttonset>

			<!-- DATOS DE LA TABLA (*) [Requerido] -->
			<fw-table-rowset data="rows"
				click-action="clickAction({row:row})">
			</fw-table-rowset>

			<!-- ORDENAMIENTO [Opcional] -->
			<!-- Se define una forma de ordenamiento-->
			<!-- Puede ser interno (front-end) o externo (back-end) -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<fw-table-sorting-ext
				sort-change="sortChangeInternal(sorting)">
			</fw-table-sorting-ext>
			<!-- <fw-table-sorting></fw-table-sorting> -->

			<!-- FILTRADO DINAMICO [Opcional] -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- Solo debería funcionar si se trata de una tabla interna -->
			<!-- <fw-table-filter></fw-table-filter> -->

			<!-- EXPORTACION [Opcional] -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
			<!-- Exportacion interna -->
			<fw-table-export>
				<fw-table-export-csv
					label="'Exportar página a Excel'"
					status="true">
				</fw-table-export-csv>
				<fw-table-export-csv-ext
					label="'Exportar todo a Excel'"
					status="true"
					export="exportEventInternal(exportation)">
				</fw-table-export-csv-ext>
			</fw-table-export>
			<!-- Exportacion externo -->
			<!-- <fw-table-export-ext export="exportEventInternal(exportation)"></fw-table-export-ext> -->

			<!-- PAGINACION [Opcional] -->
			<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->

			<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<fw-table-pagination-ext
				page-change="pageChangeInternal(pagination)"
				page-size="pageSize"
				total-items="totalItems"
				current-page="data.CurrentPage">
			</fw-table-pagination-ext>

			<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
			<!-- Opcionalmente se puede redefinir page-size -->
			<!-- <fw-table-pagination page-size="5"></fw-table-pagination> -->

			<!-- TABLA (*) [Requerido] -->
			<!-- Por ultimo el renderizado de la tabla -->
			<fw-table></fw-table>
		</fw-table-container>
	</div>
</div>