<form name="formBuscador" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Buscador de Recursos</h4>
	</div>
	<div class="modal-body" ng-hide="vm.formControl.loading || vm.formControl.error">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 colleft form-group">
				<label class="label-control">Tipo Recurso</label>
				<select class="form-control"
					id="cmb_tipoRecurso"
					ng-model="vm.filter.tipoRecurso"
					ng-options="tipo.Nombre for tipo in vm.data.tipos track by tipo.Id"
					ng-change="vm.paginacion.pageChanged()"
					sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
				<label class="label-control ">Nombre</label>
				<input type="text" class="form-control text-uppercase"
				id="txtNombre"
				name="txtNombre"
				ng-change="vm.paginacion.pageChanged()"
				ng-model="vm.filter.nombre" sa-enter>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				<table class="table table-hover table-condensed table-bordered" id="detalle_recursos">
					<thead>
						<tr class="thead-azul">
							<tr class="cabecera-tabla">
								<th class="text-left" ng-click="vm.sort('TipoRecurso')">
									Tipo Recurso
									<span class="glyphicon sort-icon" ng-show="sortKey=='TipoRecurso'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-left" ng-click="vm.sort('Nombre')">
									Nombre
									<span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<!-- <th class="text-center">Seleccionar</th> -->
							</tr>
						</thead>
						<tbody ng-repeat="recurso in vm.filter.recursos | orderBy:sortKey:reverse|filter:search"
							ng-click="vm.formControl.clickFila(recurso)">
							<tr>
								<td class="row text-left">{{ recurso.TipoRecurso}}</td>
								<td class="row text-left">{{ recurso.Nombre}}</td>
								<!-- <td class="row text-center">
									<input type="radio" ng-value="recurso" ng-model="vm.formData.recursoSeleccionado">
								</td> -->
							</tr>
						</tbody>
					</table>
					<div class="row" ng-if="vm.filter.recursos.length">
						<div class="col-sm-12">
							<div class="text-center">
								<div uib-pagination 
								items-per-page="vm.paginacion.pageSize"
								total-items="vm.paginacion.totalItems"
								ng-model="vm.paginacion.currentPage"
								ng-change="vm.paginacion.pageChanged()"
								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<div class="modal-footer" >
			<button type="button"
			class="btn "
			ng-click="vm.formControl.cancel()" sa-enter>Cancelar</button>
<!-- 			<button type="button"
			class="btn btn-default"
			ng-disabled="!vm.formControl.validarForm()"
			ng-click="vm.formControl.ok()" sa-enter>Aceptar</button> -->
		</div>
	</form>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>