<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<label class="label-control" ng-if="ifLabel">Recurso</label>
		<div class="input-group">
			<input name="nombreRecurso" autocomplete="off" type="text" placeholder="Buscar Recurso..." ng-model="data.nombreRecurso"
			 ng-disabled="formControl.buscando || disabled" uib-typeahead="recurso as recurso.Nombre for recurso in
			data.recursos | filter:$viewValue | limitTo:12" class="form-control text-uppercase" typeahead-select-on-exact="true"
			 typeahead-on-select="updateModel(data.nombreRecurso)" ng-focus="true" id="sa-selector-recurso-nombre-input">
			<span class="input-group-btn">
				<button class="btn btn-default" uib-tooltip="Buscar" tooltip-placement="top" ng-disabled="formControl.buscando || disabled"
				 ng-click="buscar()" sa-punto-click="buscar()" sa-enter id="sa-selector-recurso-buscar-btn">
					<sa-icon name="SEARCH"></sa-icon>
				</button>
				<button class="btn btn-default" uib-tooltip="Limpiar" tooltip-placement="top" ng-disabled="formControl.buscando || disabled"
				 ng-click="limpiarDatos()" sa-punto-click="limpiarDatos()" sa-enter id="sa-selector-recurso-limpiar-btn">
					<sa-icon name="DEL"></sa-icon>
				</button>
				<button class="btn btn-default" uib-tooltip="Buscar Recursos En Servicios" tooltip-placement="top" ng-if="buscadorRecursoEnServiciosIf"
				 ng-click="buscarRecursoEnServicios()" sa-punto-click="buscarRecursoEnServicios()" sa-enter id="sa-selector-recurso-recursosservicio-btn">
					<sa-icon name="LIST3"></sa-icon>
				</button>

			</span>
		</div>
	</div>
</div>