<div ng-hide="vm.formControl.loading">
	<form name="formDomicilio" accept-charset="utf-8" novalidate >
		<div class="modal-header">
			<h4 class="modal-title">
				<div ng-if="vm.formControl.esEdit"><sa-icon name="EDIT"></sa-icon> Editar Domicilio</div>
				<div ng-if="vm.formControl.esNew"><sa-icon name="NEW2"></sa-icon> Nuevo Domicilio</div>
			</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="cmb_tipo_domicilio">Tipo de domicilio (*)</label>
						<select id="cmb_tipo_domicilio"
							name="tipoDomicilio" class="form-control"
							ng-required="true"
							ng-model="vm.formData.TipoDomicilio"
							ng-options="tipo.Nombre for tipo in vm.data.tiposDomicilios track by tipo.Id"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
<!-- 				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="txt_calle_domicilio">Calle (*)</label>
						<input type="text" name="calleDomicilio" class="form-control" placeholder="Nombre de la calle"
							ng-model="vm.formData.domicilio.Calle"
							maxlength="100" 
							ng-required="true"
							uib-typeahead="calle for calle in vm.formControl.getCalles($viewValue)"
							typeahead-min-length="3"
							typeahead-loading="vm.formControl.loadingCalle"
							typeahead-no-results="vm.formControl.noCalle">						
						<div ng-show="vm.formControl.noCalle">
							<i class="glyphicon glyphicon-remove"></i> No Results Found
						</div>
						<sa-text-error model="formDomicilio.calleDomicilio"></sa-text-error>
				</div> -->

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_calle_domicilio">Calle (*)</label>
						<input type="text" name="calleDomicilio" placeholder="Nombre de la calle"
							autocomplete="off" 
							id="txt_calle_domicilio"
							ng-model="vm.formData.domicilio.Calle"
							maxlength="50" 
							ng-required="true"
							typeahead-min-length="3"
							typeahead-loading="vm.formControl.loadingCalle"
							typeahead-no-results="vm.formControl.noCalle"
							sa-enter>
						<!-- <i ng-show="vm.formControl.loadingCalle" class="glyphicon glyphicon-refresh"></i> -->
						<div ng-show="vm.formControl.noCalle">
							<i class="glyphicon glyphicon-remove"></i> No Results Found
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_numero_domicilio">Número / Altura (*)</label>
						<input type="text" id="txt_numero_domicilio"
							sa-integer 
							name="numeroDomicilio" 
							class="form-control"
							placeholder="Ej: 168 (* solo se admiten números)"
							autocomplete="off" 
							ng-maxlength="10" 
							ng-model="vm.formData.domicilio.Numero"
							max = "20000"
							min ="1"
							sa-enter>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_piso_domicilio">Piso</label>
						<input type="text" id="txt_piso_domicilio"
							placeholder="Ej: 7"
							maxlength="5" 
							name="pisoDomicilio" 
							autocomplete="off" 
							class="form-control"
							ng-model="vm.formData.domicilio.Piso"
							sa-enter>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_depto_domicilio">Depto.</label>
						<input type="text" id="txt_depto_domicilio"
							name="deptoDomicilio" 
							placeholder="Ej: A"
							autocomplete="off" 
							class="form-control"
							maxlength="5"
							ng-model="vm.formData.domicilio.Departamento"
							sa-enter>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_barrio_domicilio">Barrio</label>
						<input type="text" name="barrioDomicilio" class="form-control" placeholder="Nombre de barrio"
								ng-model="vm.formData.domicilio.Barrio"
								maxlength="50"
								autocomplete="off" 
								id="txt_barrio_domicilio"
						sa-enter>
						<!-- <input type="text" name="barrioDomicilio" class="form-control" placeholder="Nombre de barrio"
								ng-model="vm.formData.domicilio.Barrio"
								maxlength="100"
								uib-typeahead="barrio for barrio in vm.formControl.getBarrios($viewValue)"
								typeahead-min-length="3"
								typeahead-loading="vm.formControl.loadingBarrio"
								typeahead-no-results="vm.formControl.noBarrio"
								sa-enter> -->
							<!-- <i ng-show="vm.formControl.loadingBarrio" class="glyphicon glyphicon-refresh"></i> -->
							<div ng-show="vm.formControl.noBarrio">
								<i class="glyphicon glyphicon-remove"
								sa-enter></i> No Results Found
							</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_codigo_postal">Código Postal</label>
						<input type="text" id="txt_codigo_postal"
							name="cpDomicilio" class="form-control"
							placeholder="Ej: 5000"
							maxlength="10" 
							autocomplete="off" 
							ng-model="vm.formData.domicilio.CodigoPostal"
							sa-enter>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="cmb_pais_domicilio">Pais (*)</label>
						<select id="cmb_pais_domicilio"
							name="paisDomicilio" class="form-control"
							ng-required="true"
							ng-model="vm.formData.pais"
							ng-change="vm.formControl.cargarProvincias(vm.formData.pais.id_pais)"
							ng-options="pais.nombre_pais for pais in vm.data.paises track by pais.id_pais"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-if="vm.data.provincias.length && vm.data.provincias[0].Id">
					<div sa-form-input-validate>
						<label for="cmb_provincia_domicilio">Provincia <span ng-if="vm.data.provincias.length">(*)</span></label>
						<select id="cmb_provincia_domicilio"
							name="provinciaDomicilio" class="form-control"
							ng-model="vm.formData.provincia"
							ng-disabled="vm.data.provincias.length == 1"
							ng-required="vm.data.provincias.length"
							ng-change="vm.formControl.cargarLocalidades(vm.formData.provincia.Id)"
							ng-options="provincia.Nombre for provincia in vm.data.provincias track by provincia.Id"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-if="vm.data.provincias.length && vm.data.provincias[0].Id">
					<div sa-form-input-validate>
						<label for="cmb_localidad_domicilio">Localidad <span ng-if="vm.data.localidades.length">(*)</span></label>
						<select id="cmb_localidad_domicilio"
							name="localidadDomicilio" class="form-control"
							ng-model="vm.formData.Localidad"
							ng-disabled="!vm.data.localidades.length || vm.data.localidades.length == 1"
							ng-required="!vm.formData.Localidad && !vm.formData.domicilio.LocalidadNombre"
							ng-change="vm.formControl.limpiaLocalidades()"
							ng-options="localidad.Nombre for localidad in vm.data.localidades track by localidad.Id"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
					<sa-check-box label="Por defecto" ng-model="vm.formData.domicilio.Defecto" 
						id-element="defecto_domicilio"
						color="blue">
					</sa-check-box>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-hide="(vm.data.provincias.length && vm.data.provincias[0].Id) && vm.formData.Localidad">
					<div sa-form-input-validate>
						<label for="txt_localidad">Localidad (*)</label>
						<input type="text" id="txt_localidad"
							name="localidad" class="form-control"
							maxlength="50" 
							ng-required="!vm.formData.Localidad  && !vm.formData.domicilio.LocalidadNombre"
							ng-change="vm.formControl.limpiaLocalidad()"
							ng-model="vm.formData.domicilio.LocalidadNombre"
							sa-enter>
					</div>
				</div>
				
			</div>
		</div>
		<div class="modal-footer" >
			<button type="button"
				class="btn "
				id="btn_cancelar_domicilio"
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()"
				sa-enter>Cancelar</button>
			<button type="submit"
				class="btn btn-default"
				id="btn_aceptar_domicilio"
				ng-click="vm.formControl.ok(formDomicilio.$valid)"
				sa-punto-click="vm.formControl.ok(formDomicilio.$valid)"
				sa-enter>Aceptar</button>
		</div>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading" ></sa-loading>