<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formSistema" accept-charset="utf-8" novalidate>
		<div class="modal-header" ng-if="!vm.data.editCN">
			<h4 class="modal-title">
				<sa-icon name="NEW"></sa-icon>Nuevo Código Nomenclador 
			</h4>
		</div>
		<div class="modal-header" ng-if="vm.data.editCN">
			<h4 class="modal-title">
				<sa-icon name="EDIT"></sa-icon>Editar Código Nomenclador 
			</h4>
		</div>
		<div class="modal-body">
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-1 col-lg-2" sa-form-input-validate>
					<label for="txt_codigo_codigo_nomenclador">Código *</label>
					<input type="number" id="txt_codigo_codigo_nomenclador" name="codigoCodigoNomenclador" ng-disabled="vm.data.codigoNomenclador.Id >0" ng-model="vm.data.codigoNomenclador.Codigo" max="99999999" sa-enter required>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2" sa-form-input>
					<label for="cmb_subcomponente">Subcódigo</label>
					<select id="cmb_subcomponente" name="cmbSubcomponente" ng-model="vm.filter.subcomponente" ng-options="subcomponente.Nombre for subcomponente in vm.data.subcomponentes track by subcomponente.Id" sa-enter >
						<option value="">NINGUNO</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input-validate>
					<label for="cmb_nomenclador">Nomenclador</label>
					<select id="cmb_nomenclador" name="cmbNomenclador" ng-model="vm.filter.nomenclador" ng-options="nomenclador.Nombre for nomenclador in vm.data.nomencladores track by nomenclador.Id" sa-enter required>
						<option value="">SELECCIONAR</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input-validate>
					<label for="cmb_capitulo">Capítulo</label>
					<select id="cmb_capitulo" name="cmbCapitulo" ng-model="vm.filter.capitulo" ng-options="capitulo.Nombre for capitulo in vm.data.capitulos track by capitulo.Id" sa-enter >
						<option value="">SELECCIONAR</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input-validate>
					<label for="cmb_tipoCodigoNomenclador">Tipo de Código</label>
					<select id="cmb_tipoCodigoNomenclador" name="cmbTipoCodigoNomenclador" ng-model="vm.filter.tipoCodigoNomenclador" ng-options="tipo.Nombre for tipo in vm.data.tiposCodigosNomenclador track by tipo.Id" sa-enter required>
						<option value="">SELECCIONAR</option>
					</select>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group" sa-form-input-validate>
					<label>Nombre (*)</label>
					<input type="text" class="form-control text-uppercase" name="txtNombre" ng-model="vm.data.codigoNomenclador.Nombre" required maxlength="40" sa-enter></imput>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group" >
					<label>Descripción</label>
					<input type="text" class="form-control text-uppercase" name="txtDescripcion" ng-model="vm.data.codigoNomenclador.Descripcion" maxlength="40" sa-enter></imput>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Especialista</label>
					<input type="number" class="form-control" name="txtUnidadEspecialista" ng-model="vm.data.codigoNomenclador.UnidadEspecialista" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Ayudante</label>
					<input type="number" class="form-control" name="txtUnidadAyudante" ng-model="vm.data.codigoNomenclador.UnidadAyudante" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Anestesista</label>
					<input type="number" class="form-control" name="txtUnidadAnestesista" ng-model="vm.data.codigoNomenclador.UnidadAnestesista" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Gastos Operatorio</label>
					<input type="number" class="form-control" name="txtUnidadGastoOperatorio" ng-model="vm.data.codigoNomenclador.UnidadGastoOperatorio" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Gastos Anestesista</label>
					<input type="number" class="form-control" name="txtUnidadGastoAnestesista" ng-model="vm.data.codigoNomenclador.UnidadGastoAnestesista" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Unidad Gastos Instr.</label>
					<input type="number" class="form-control" name="txtUnidadGastoInstrumentista" ng-model="vm.data.codigoNomenclador.UnidadGastoInstrumentista" required sa-enter max="9999"></imput>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_UnidadArancelariaEspecialista">Arancel Especialista</label>
					<select id="cmb_UnidadArancelariaEspecialista" name="cmbUnidadArancelariaEspecialista" ng-model="vm.filter.unidadArancelariaEspecialista" ng-options="tipo.Nombre for tipo in vm.data.unidadesArancelarias track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_UnidadArancelariaAyudante">Arancel Ayudante</label>
					<select id="cmb_UnidadArancelariaAyudante" name="cmbUnidadArancelariaAyudante" ng-model="vm.filter.unidadArancelariaAyudante" ng-options="tipo.Nombre for tipo in vm.data.unidadesArancelarias track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_UnidadArancelariaAnestesista">Arancel Anestesista</label>
					<select id="cmb_UnidadArancelariaAnestesista" name="cmbUnidadArancelariaAnestesista" ng-model="vm.filter.unidadArancelariaAnestesista" ng-options="tipo.Nombre for tipo in vm.data.unidadesArancelarias track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_UnidadArancelariaGasto">Arancel Gasto</label>
					<select id="cmb_UnidadArancelariaGasto" name="cmbUnidadArancelariaGasto" ng-model="vm.filter.unidadArancelariaGasto" ng-options="tipo.Nombre for tipo in vm.data.unidadesArancelarias track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_CodigoUnidad">Código Unidad</label>
					<select id="cmb_CodigoUnidad" name="cmbCodigoUnidad" ng-model="vm.filter.codigoUnidadNomenclador" ng-options="tipo.Nombre for tipo in vm.data.codigosUnidadesNomenclador track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_adacNivelComplejidad">ADAC: Nivel de Complejidad</label>
					<select id="cmb_adacNivelComplejidad" name="cmbAdacNivelComplejidad" ng-model="vm.filter.complejidadAdac" ng-options="tipo.Nombre for tipo in vm.data.complejidadesAdac track by tipo.Id" sa-enter>
						<option value="">0</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_nivelComplejidad">Nivel de Complejidad</label>
					<select id="cmb_nivelComplejidad" name="cmbnivelComplejidad" ng-model="vm.filter.complejidadCN" ng-options="tipo.Nombre for tipo in vm.data.complejidadesCN track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 " sa-form-input-validate>
					<label>Unidad NBU</label>
					<input type="number" class="form-control" name="txtUnidadNBU" ng-model="vm.data.codigoNomenclador.UnidadNbu" required sa-enter max="9999"></imput>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label for="cmb_frecuenciaCodigoNomenclador">Frecuencia</label>
					<select id="cmb_frecuenciaCodigoNomenclador" name="cmbFrecuenciaCodigoNomenclador" ng-model="vm.filter.frecuenciaCodigoNomenclador" ng-options="tipo.Nombre for tipo in vm.data.frecuenciasCodigosNomenclador track by tipo.Id" sa-enter>
						<option value="">NINGUNO</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input-validate>
					<label for="txt_codigo_nbu">Código NBU</label>
					<input type="number" id="txt_codigo_nbu" name="codigoNbu" ng-model="vm.data.codigoNomenclador.CodigoNbu" max="99999999" sa-enter>
				</div>
			</div>
			<div class="row ">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" sa-form-input>
					<sa-check-box label="Require Presupuesto Previo Aprobado" ng-model="vm.data.codigoNomenclador.RequierePresupuestoPrevioAprobado" color="green" sa-enter></sa-check-box>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
					<sa-check-box label="Activo" ng-model="vm.data.codigoNomenclador.Activo" color="green" sa-enter></sa-check-box>
				</div>				
			</div>
		</div>
		<!-- </div> -->
		<div class="modal-footer" ng-hide="vm.formControl.loading">
			<input type="submit" class="btn " ng-click="vm.formControl.cancel()" sa-punto-click="vm.formControl.cancel()" value="Cancelar" sa-enter></imput>
			<input type="submit" id="btnEditar" value="Guardar" class="btn btn-default" ng-click="vm.formControl.ok(formSistema.$valid)" sa-punto-click="vm.formControl.ok(formSistema.$valid)" sa-enter></imput>
		</div>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>