<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 form-group no-valid">
		<label class="label-control">{{labelCodigo}}</label>
		<div class="input-group">
			<input type="text" class="form-control"
				ng-blur="busquedaRapidaCodigoNomenclador()"
				ng-change = "cambioCodigoNomenclador()"
				ng-model="filter.codigo"
				min = "0"
				ng-disabled='disabled'
				sa-enter
				sa-integer>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
						uib-tooltip="Buscar Código Nomenclador" 
						tooltip-placement="top"
						ng-click="searchCodigosNomenclador()"
						sa-punto-click="searchCodigosNomenclador()"
						ng-disabled='disabled'
						sa-enter>
					<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-9 form-group">
		<label class="">{{labelNombre}}</label>
		<input type="text" class="form-control"
			ng-model="filter.nombre"
			ng-disabled="true"
			sa-enter>
	</div>
</div>