<form name="formUnidad" novalidate>
	<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
	</sa-modal-header>

	<sa-modal-body loading="vm.formControl.loading">
		<div class="row ">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div sa-form-input-validate>
					<label>Nombre</label>
					<input type="text" name="nombreUnidadArancelarias" ng-model="vm.unidadArancelaria.Nombre" required sa-enter autofocus >
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div sa-form-input-validate="" class="form-group">
					<label class="control-label">Tipo de Unidad</label>
					<select id="TipoUnidadArancel" name="cmbtipoUnidad" ng-model="vm.tipoUnidadElegida" ng-options="TipoUnidadArancel.Nombre for TipoUnidadArancel in vm.tiposDeUnidadArancelarias track by TipoUnidadArancel.Id"
					 sa-enter class="ng-pristine ng-untouched ng-valid ng-not-empty form-control">
					</select>
				</div>
			</div>
		</div>
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
		<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>