<div ng-hide="vm.formControl.loading">
	<form name="formPersona" accept-charset="utf-8" novalidate >
		<div class="modal-header">
			<h4 class="modal-title">Nueva persona</h4>
		</div>
		<div class="modal-body">
			<div class="row fila">
				<h4>Datos personales de la persona</h4>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label for="tipoDocumentoPersona">Tipo de documento (*)</label>
					<select class="form-control"
						name="tipoDocumentoPersona"
						ng-disabled="true"
						ng-model="vm.data.persona.TipoDocumento"
						ng-options="tipoDocumento.nombre_tipo_documento for tipoDocumento in vm.data.tiposDocumento track by tipoDocumento.id_tipo_documento" 
						required >
						<option value="">--SELECCIONAR--</option>
					</select>
					<sa-text-error model="formPersona.tipoDocumentoPersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5  form-group ">
					<label for="txt_numero_documento">Número de documento (*)</label>
					<input type="text" placeholder="Número documento" class="form-control"
					name="numeroDocumentoPersona"
					minlength="1"
					maxlength="10"
					ng-disabled="true"
					ng-model="vm.data.persona.numero_documento"
					required>
					<sa-text-error model="formPersona.numeroDocumentoPersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label for="">Nombre (*)</label>
					<input type="text" class="form-control"
					name="nombrePersona"
					ng-model="vm.data.persona.nombre" 
					required >
					<sa-text-error model="formPersona.nombrePersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label for="">Apellido (*)</label>
					<input type="text" class="form-control"
					name="apellidoPersona"
					ng-model="vm.data.persona.apellido"
					required>
					<sa-text-error model="formPersona.apellidoPersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label for="cmb_tipo_documento">Estado Civil (*)</label>
					<select class="form-control"
						name="estadoCivilPersona"
						ng-model="vm.data.persona.EstadoCivil"
						ng-options="estadoCivil.nombre_estado_civil for estadoCivil in vm.data.estadosCivil track by estadoCivil.id_estado_civil" 
						required >
						<option value="">--SELECCIONAR--</option>
					</select>
					<sa-text-error model="formPersona.estadoCivilPersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label >Email (*)</label>
					<input type="email" class="form-control"
					name="emailPersona" 
					ng-model="vm.data.persona.email" 
					required>
					<sa-text-error model="formPersona.emailPersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label >Profesión (*)</label>
					<input type="text" class="form-control"
					name="profesionPersona" 
					ng-model="vm.data.persona.profesion" 
					required>
					<sa-text-error model="formPersona.profesionPersona"></sa-text-error>
				</div>
			</div>
			<div class="row fila fila-not">
				<h4>Domicilio de la persona</h4>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label >Calle (*)</label>
					<input type="text" class="form-control"
					name="callePersona" 
					ng-model="vm.data.persona.Domicilio.calle" 
					required>
					<sa-text-error model="formPersona.callePersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label >Número (*)</label>
					<input type="text" class="form-control"
					name="numeroCallePersona" 
					ng-model="vm.data.persona.Domicilio.numero" 
					required>
					<sa-text-error model="formPersona.numeroCallePersona"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  form-group ">
					<label >Barrio (*)</label>
					<input type="text" class="form-control"
					name="barrioPersona" 
					ng-model="vm.data.persona.Domicilio.barrio" 
					required>
					<sa-text-error model="formPersona.barrioPersona"></sa-text-error>
				</div>
			</div>
			<!-- <div class="row fila fila-not" >
				<h4>Teléfono de la persona</h4>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="cmb_tipo_uso_telefono">Tipo de uso (*)</label>
					<select id="cmb_tipo_uso_telefono"
						name="tipoUsoTelefono" class="form-control"
						ng-required="true"
						ng-model="vm.data.persona.Telefono.TipoUso"
						ng-options="tipo.nombre_tipo_uso_telefono for tipo in vm.data.tiposUsoTelefono track by tipo.id_tipo_uso_telefono">
						<option value="">-SELECCIONAR-</option>
					</select>
					<sa-text-error model="formPersona.tipoUsoTelefono"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="cmb_tipo_equipo_telefono">Tipo de equipo (*)</label>
					<select id="cmb_tipo_equipo_telefono"
						name="tipoEquipoTelefono" class="form-control"
						ng-required="true"
						ng-model="vm.data.persona.Telefono.TipoEquipo"
						ng-options="tipo.nombre_tipo_equipo_telefono for tipo in vm.data.tiposEquipoTelefono track by tipo.id_tipo_equipo_telefono">
						<option value="">-SELECCIONAR-</option>
					</select>
					<sa-text-error model="formPersona.tipoEquipoTelefono"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label>Por defecto</label>
					<div class="">
						<label>
							<input type="checkbox" name="defectoTelefono"
							ng-model="vm.data.persona.Telefono.defecto" >
							Si
						</label>
					</div>
				</div>
			</div>
			<div class="row fila" >
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="cmb_pais_telefono">Pais (*)</label>
					<select id="cmb_pais_telefono"
						name="paisTelefono" class="form-control"
						ng-required="true"
						ng-model="vm.formData.pais"
						ng-change="vm.formControl.cargarCodigosArea(vm.formData.pais.id_pais)"
						ng-options="pais.nombre_pais for pais in vm.data.paises track by pais.id_pais">
						<option value="">-SELECCIONAR-</option>
					</select>
						<sa-text-error model="formPersona.paisTelefono"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="cmb_codigo_area">Código de area <span ng-if="vm.data.codigosArea.length">(*)</span></label>
					<select id="cmb_codigo_area"
						name="codigoAreaTelefono" class="form-control"
						ng-required="vm.data.codigosArea.length"
						ng-disabled="!vm.data.codigosArea.length"
						ng-model="vm.data.persona.Telefono.CodigoArea"
						ng-options="codigo.codigo_area for codigo in vm.data.codigosArea track by codigo.id_codigo_area">
						<option value="">-SELECCIONAR-</option>
					</select>
						<sa-text-error model="formPersona.codigoAreaTelefono"></sa-text-error>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="txt_numero_telefono">Número (*)</label>
					<input type="text" id="txt_numero_telefono"
						name="numeroTelefono" class="form-control"
						ng-maxlength="vm.formData.maxlength"
						ng-required="true"
						ng-model="vm.data.persona.Telefono.numero_telefono">
						<sa-text-error model="formPersona.numeroTelefono"></sa-text-error>
				</div>
			</div> -->
		</div>
		<div class="modal-footer" >
			<button type="button"
				class="btn "
				ng-click="vm.formControl.cancel()">Cancelar</button>				
			<button type="button"
				class="btn btn-default"
				ng-disabled="!formPersona.$valid"
				ng-click="vm.formControl.ok()">Agregar</button>
		</div>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>