<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="vm.data" >
		
		<table class="table table-fixed table-cursor-pointer" >
			<thead>
				<tr>
					<th class="col-xs-3 text-center">Empresa</th>
					<th class="col-xs-5 text-center">Habilitada</th>
					<th class="col-xs-4 text-center">PorDefecto</th>
				</tr>
			</thead>
			<tbody style="height: auto;">
				<tr ng-repeat="row in vm.data" ng-click="vm.rowClick(row)" id="empresas-usuario-row-{{$index}}">
					<td class="col-xs-3 text-center" ng-bind="row.NombreEmpresa"></td>
					<td class="col-xs-5 text-center"  >
							<sa-check-box ng-model="row.Habilitada" color="green"
							ng-change="vm.formControl.changeHabilitada(row)" id-element="empresas-usuario-activo-slider-{{$index}}"
							>
							</sa-check-box>
					</td>
					<td class="col-xs-4 text-center"  >
							<sa-check-box ng-model="row.PorDefecto" color="red"
							ng-change="vm.formControl.changePorDefecto(row)" id-element="empresas-usuario-pordefecto-slider-{{$index}}"
							>
							</sa-check-box>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
