<sa-modal-header title-name="Comunicaciones del turno" title-icon="LIST" loading="vm.loading">

</sa-modal-header>
<sa-modal-body loading="vm.loading">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h4>
				<label>
					<strong>Suc/Servicio/Recurso: </strong>
				</label> {{vm.turno.Sucursal}}  - {{vm.turno.Servicio}} - {{vm.turno.Recurso}}</h4>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h4>
				<label>
					<strong>Fecha y Hora: </strong>
				</label> {{vm.turno.Fecha | date:"dd/MM/yy"}} - {{vm.turno.Hora}} - {{vm.turno.Paciente}}</h4>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h4>
				<label>
					<strong>Estado: </strong>
				</label> {{vm.turno.EstadoTurno}} </h4>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h4>
				<label>
					<strong>Estado Confirmación: </strong>
				</label> {{vm.turno.EstadoConfirmacion}} </h4>
		</div>
	</div>


	<div class="row">
		<!-- lista de productos -->
		<div class="col-xs-12" ng-if="vm.data">
			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
				</fw-table-config>
				<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
				</fw-table-sorting-ext>
				<fw-table-rowset data="vm.data" click-action="vm.selectRow(row)">
				</fw-table-rowset>
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset>
					<!-- Se define una column con los datos de una columna (opcional)-->
					<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
					<fw-table-column label="'Id'" field="'Id'">
					</fw-table-column>

					<fw-table-column label="'IdProgramacion'" field="'IdProgramacion'">
					</fw-table-column>

					<fw-table-column label="'Programacion'" field="'Programacion'">
					</fw-table-column>

					<fw-table-column label="'Pasada Bandeja Salida'" field="'PasadaBandejaSalida'">
					</fw-table-column>

					<fw-table-column label="'Fecha Debe Procesarse'" field="'FechaDebeProcesarse'" type="'date'" format="'datetime'">
					</fw-table-column>

					<fw-table-column label="'Fecha Actualización'" field="'FechaActualizacion'" type="'date'">
					</fw-table-column>

					<fw-table-column label="'Estado Confirmación'" field="'EstadoDeConfirmacion'">
					</fw-table-column>

				</fw-table-columnset>

				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter init='true'></fw-table-filter>

				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination page-size="10"></fw-table-pagination>
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>

</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cerrar">
</sa-modal-footer>
</div>