<sa-section>
    <sa-section-item class-item="col-xs-12" type-item="section-item-up">
        <sa-buscador-paciente ng-model="vm.pacienteSeleccionado" btn-mutuales-if="true" btn-ver-turnos-if="true" btn-editar-paciente-if="true"
            ng-change="vm.controlSexoEdad(); vm.checkPrecioParticularMutual()" telefono-if="true" celular-if="true" email-if="true" buscador-nombre-apellido-if="true"
            nombre-apellido-if="false" chkbox-mantener-datos-if="false" mutuales-disabled="vm.deshabilitarCambioDia"
            chkbox-control-edad-if="true" chkbox-control-edad-model="vm.controlEdad" btn-action-extra-if="false">
        </sa-buscador-paciente>
    </sa-section-item>
    <sa-section>

        <sa-section-item class-item="col-xs-12 col-sm-6 col-md-12 col-lg-12" type-item="section-item-up">

            <div class="row fila">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
                    <label>Servicio</label>
                    <input type="text" id="asignarturnorecepcion-servicio-input" name="nombreServicio" placeholder="Servicio Médico" class="form-control text-capitalize no-margin-button"
                        minlength="2" ng-model="vm.data.servicio.Nombre" ng-disabled="true">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
                    <label>Recurso</label>
                    <input type="text" id="asignarturnorecepcion-recurso-input" name="nombreRecurso" placeholder="Recurso" class="form-control text-capitalize no-margin-button"
                        minlength="2" ng-model="vm.data.recurso.Nombre" ng-disabled="true">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
                    <label>Sucursal</label>
                    <input type="text" id="asignarturnorecepcion-sucursal-input" name="nombreSucursal" placeholder="Sucursal" class="form-control text-capitalize no-margin-button"
                        minlength="2" ng-model="vm.data.sucursal.Nombre" ng-disabled="true">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2  form-group" >
                    <button type="button" class="btn btn-warning btn-row pull-right" id="asignarturnorecepcion-requerimientos-btn" ng-click="vm.abrirRequerimientos()" >
                        Requerimientos
                    </button>
                </div>
            </div>



            <div class="row">

                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group">
                            <label class="control-label">Fecha</label>
                            <!-- <sa-date-picker model="vm.data.fechaTurno" sa-enter disabled="vm.deshabilitarCambioDia">
                                            </sa-date-picker> -->
                            <sa-date-time-picker ng-model="vm.data.fechaTurno " id="1" type="date" ng-disabled="true">
                            </sa-date-time-picker>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group">
                            <label>Hora del Turno</label>

                            <!-- <sa-time-picker name="hora" ng-model="vm.horaTurno" required="true" ng-show="vm.mostrarSelectorDeHora" ng-change="vm.cambioHoraTurno();">
                                            </sa-time-picker> -->

                            <sa-date-time-picker ng-model="vm.horaTurno " id="2" type="time" ng-change="vm.cambioHoraTurno()" ng-if="vm.mostrarSelectorDeHora">
                            </sa-date-time-picker>

                            <input type="text" id="asignarturnorecepcion-horaturno-input" name="horaTurno" placeholder="Hora del Turno" class="form-control text-capitalize no-margin-button"
                                ng-model="vm.horaTurno" ng-disabled="true" ng-if="!vm.mostrarSelectorDeHora">
                        </div>

                        <!-- BLOQUES de turnos -->
                        <div class="col-xs-5" ng-show="vm.bloquesTurnos.length > 0">
                            <label>Horarios disponibles: (No se podrán asignar turnos fuera de estos horarios)</label>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="bloque in vm.bloquesTurnos">{{bloque.Sucursal.Nombre}}: De {{bloque.HoraDesde}} a {{bloque.HoraHasta}}</li>

                            </ul>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.existenFeriados || vm.existenRecesos && vm.existenRecesos.length">
                        <div class="col-xs-6" ng-if="vm.existenFeriados">
                            <label class="color-danger" ng-if="vm.existenFeriados.DiaCompleto">{{vm.existenFeriados.Mensaje}} para el día seleccionado</label>
                            <label class="color-warning" ng-if="!vm.existenFeriados.DiaCompleto">
                                {{vm.existenFeriados.Mensaje}} </label>
                        </div>
                        <div class="col-xs-6" ng-if="vm.existenRecesos && vm.existenRecesos.length">
                            <label class="color-warning" ng-repeat="receso in vm.existenRecesos" for="">{{receso.Mensaje}} para el profesional - Observación: {{receso.Observacion}}</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group">
                            <label>Tipo de Turno</label>
                            <!--ng-options="tipoTurno.Nombre for tipoTurno in vm.tiposDeTurno track by tipoTurno.Id"-->
                            <select name="tipoTurno" id="asignarturnorecepcion-tipoturno-select" class="form-control" ng-model="vm.data.tipoDeTurnoSeleccionado" ng-change="vm.filtrarPrestacionesPorTipoDeTurno(); vm.checkPrecioParticularMutual()"
                                ng-options="tipoTurno.Nombre for tipoTurno in vm.tiposDeTurnos track by tipoTurno.Id">
                                <option value="">-SELECCIONAR Tipo de Turno-</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 form-group">
                            <label>Prestaciones</label>
                          
                            <div uib-dropdown class="fw-dropdown-container" auto-close="outsideClick">
                                <button
								class="btn dropdown-toggle btn-default"
								type="button" id="dropdownMenu1"
								uib-dropdown-toggle
								    style="width: 100%;"> {{vm.loadPrestacionesBtn() | limitTo: 50}}
									<span class="caret"></span>
								</button>
                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
                                    <li ng-repeat="prestacion in vm.prestaciones" class="no-valid">
                                        <div class="fw-dropdown-item" ng-click="item.action()">
                                            <div class="fw-dropdown-item-left fw-noselect">
                                                <fw-icon name="{{item.icon}}"></fw-icon>
                                                <span>• {{prestacion.Nombre}}</span>
                                            </div>
                                            <div class="fw-dropdown-item-right text-right">
                                                <sa-check-box ng-model="prestacion.status" color="green">
                                                </sa-check-box>
                                            </div>
                                        </div>
                                        <div ng-if="!$last" class="divider"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control textarea-lg" id="asignarturnorecepcion-observaciones-textarea" ng-model="vm.data.observaciones"></textarea>
                        </div>

                        <!-- columna para observaciones del profesional -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" style="margin-top: 4px;" ng-show="vm.observacionesPlantilla && vm.observacionesPlantilla.length > 0">
                           
                            Obser. del Profesional - Imp. Particular: ${{ vm.data.precioParticularMutualTurno.ImporteTotalParticular }} - Imp. Coseguro: ${{ vm.data.precioParticularMutualTurno.ImporteTotalCoseguro }}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center" ng-repeat="observacion in vm.observacionesPlantilla">
                                            <textarea rows="9" class="form-control textarea-lg" ng-model="observacion.Observacion" placeholder="Observacion" readonly
                                                ></textarea>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <!-- <div class="col-xs-6" ng-show="vm.bloquesTurnos.length > 0">
            
                    <table class="table table-hover">
                        <thead>
                            <tr></tr>
                            <tr class="cabecera-tabla">
                                <th class="text-center">Bloque N°</th>
                                <th class="text-center">Hora Desde</th>
                                <th class="text-center">Hora Hasta</th>
                                <th class="text-center">Sucursal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bloque in vm.bloquesTurnos">
                                <td class="text-center" ng-bind="bloque.IdBloque"></td>
                                <td class="text-center" ng-bind="bloque.HoraDesde"></td>
                                <td class="text-center" ng-bind="bloque.HoraHasta"></td>
                                <td class="text-center" ng-bind="bloque.Sucursal.Nombre"></td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>

            <div class="row">
                <div class="text-center">
                    <div class="btn-group ">
                        <button class="btn btn-cancel" ng-click="vm.volver()" id="asignarturnorecepcion-volver-btn">Volver </button>
                        <button class="btn btn-default" ng-click='vm.asignar()' id="asignarturnorecepcion-asignar-btn" ng-disabled="!vm.puedeAsignarTurno || !vm.puedeAsignarTurnoMutual || vm.loading">Asignar</button>
                    </div>
                </div>
            </div>

        </sa-section-item>
    </sa-section>

</sa-section>