	<sa-title
	title-name="vm.title.page"
	title-icon="EDIT"
	switch-if="true"
	switch-label="Alternar vista"
	switch-model="vm.data.vistaModoCalendario"
	></sa-title>
	<div class="cuerpo" >
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
				<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<label class="label-control">Fecha Desde</label>
						<!-- <sa-date-picker model="vm.data.fechaDesde">
						</sa-date-picker> -->
						<sa-date-time-picker ng-model="vm.data.fechaDesde" id="1" type="date">
						</sa-date-time-picker>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<label class="label-control">Fecha Hasta</label>
						<!-- <sa-date-picker model="vm.data.fechaHasta">
						</sa-date-picker> -->
						<sa-date-time-picker ng-model="vm.data.fechaHasta " id="2" type="date">
						</sa-date-time-picker>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group">					
				<label class="label-control">Observaciones para Turnos:</label>
				<textarea rows="1" class="form-control" id="observaciones"  ng-click="vm.formControl.modalEditarObservacion(1)" readonly id="plantilla-edit-observacionturnos-textarea"
					name="observaciones" ng-model="vm.data.Observaciones.observacionToShow" maxlength="200" sa-enter context-menu="vm.menuContextualObservacionInterna" >
				</textarea>				
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group">
				<label class="label-control">Observaciones Portal Pac.:</label>
				<textarea rows="1" class="form-control" id="observacionesPortal" readonly id="plantilla-edit-observacionturnosportal-textarea"
				name="observacionesPortal" ng-model="vm.data.ObservacionesPortal.observacionToShow" maxlength="200" sa-enter context-menu="vm.menuContextualObservacionPortal" 
				ng-click="vm.formControl.modalEditarObservacion(2)">
				</textarea>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group" >
				<table class="table table-bordered table-condensed">
					<tbody>
						<tr ng-repeat="color in vm.coloresCalendarEvents">
							<td>
								<div class="pull-left">
									<div class="circulito" ng-class="color.color"></div>
								</div>
								&nbsp;<span ng-bind="color.nombre"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				<div class="row">
					
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
						<button type="button" class="btn btn-default btn-row btn-block"
						ng-click="vm.formControl.listaDuracionesDeTurno()" 
						style="margin-top: 0px; margin-bottom: 20px;" id="plantilla-edit-duraciones-btn">
						Duraciones: {{vm.data.cantDuraciones.length}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
						<button type="button" class="btn btn-default btn-row btn-block"
						ng-click="vm.formControl.listaReglasDeTurno(1)" 
						style="margin-top: 0px; margin-bottom: 20px;" id="plantilla-edit-reglas-btn">
						Reglas de Turnos: {{vm.data.reglasDeTurnos.length}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
						<button type="button" class="btn btn-default btn-row btn-block"
						ng-click="vm.formControl.listaReglasDeTurno(2)" 
						style="margin-top: 0px; margin-bottom: 20px;" id="plantilla-edit-reglassobreturnos-btn">
						Reglas Sobreturnos: {{vm.data.reglasDeSobreTurnos.length}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
						<button type="button" class="btn btn-warning btn-row btn-block"
						 style="margin-top: 0px; margin-bottom: 20px;"
						 ng-click="vm.formControl.nuevoSobreturno()" id="plantilla-edit-nuevosobreturno-btn">
						Nuevo Sobreturno
						</button>
					</div>
				</div>
			</div>
					
		</div>
		<!-- FIN PRIMER ROW -->

		<!-- <div class="row">
			<div class="col-xs-12">
				<div class="row">		
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
						<sa-check-box label="Alternar vista" ng-model="vm.data.vistaModoCalendario" color="green">
						</sa-check-box>
					</div>
				</div>
			</div>
		</div> -->
		
		
		<div class="row" >
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!vm.data.vistaModoCalendario">
				<!-- <div class="row">
					<div class="col-xs-12">
						<label class="label-control"> * AQUI ESTARÁ LA VISTA ALTERNATIVA * </label>
					</div>
				</div> -->
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-hover table-condensed table-bordered " id="tablaItemsDePlantilla">
							<thead>
									<tr class="cabecera-tabla">
										<th class="text-center" >
											Día	
										</th>
										<th class="text-center">
											Desde - Hasta
										</th>
										<th class="text-center">
											Duración
										</th>
										<th class="text-center">
											ST
										</th>
										<th class="text-center">
											Sucursal
										</th>
										<th class="text-center">
											Tipo Turno
										</th>
										<th class="text-center">
											Prestaciones
										</th>
										<th class="text-center">
											Sala-Consultorio
										</th>
										<th class="text-center">
											Visible Portal
										</th>
										<th class="text-center">
											Edad/Sexo/Prof
										</th>
										<th class="text-center">
											Cupo
										</th>		
										<th class="text-center">
											Acciones
										</th>			
									</tr>
							</thead>
							<tbody ng-repeat="item in vm.data.plantillaNuevo.Items | orderBy:['IdDia', 'HoraDesde'] " context-menu="vm.menuContextualTabla">
								<tr id="plantilla-edit-list-row-{{$index}}">
									<td class="row text-center" ng-bind="item.Dia"></td>								
									<td class="row text-center" >{{ item.HoraDesde }} - {{ item.HoraHasta }}</td>
									<td class="row text-center" >{{ item.DuracionMinima }} </td>
									<td class="row text-center">{{ item.ST }} </td>
									<td class="row text-center" ng-class="item.SucursalColor">{{ item.Sucursal }} </td>
									<td class="row text-center" >{{ item.TipoTurno }} </td>
									<td class="row text-center" >{{ item.TipoPrestacionesAsignablesCompleto }} </td>
									<td class="row text-center" >{{ item.SalaEspera }} - {{ item.Consultorio }}</td>
									<td class="row text-center" >{{ item.VisibleAutogestionWebTexto }} </td>
									<!--td class="row text-center" > Sexo:{{ item.Sexo }} - Edad:{{ item.EdadMinima}}/{{item.EdadMaxima}} </td-->
									<td class="row text-center" >{{ item.FiltroSexoEdad }} - {{ item.ProfesionalAtiende }} </td>									
									<td class="row text-center" >{{ item.Cupo }} </td>

									<td class="row text-center" > 										
										<button type="button" id="plantilla-edit-list-row-{{$index}}-editaritem" class="btn btn-white btn-xs" uib-tooltip="Editar" uib-tooltip-placement="top" 
											ng-click="vm.accionesSobreItems.editarItem(item)" >
											<sa-icon name="EDIT"></sa-icon>
										</button>

										<button type="button" id="plantilla-edit-list-row-{{$index}}-eliminaritem" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top"
											ng-click="vm.accionesSobreItems.eliminarItem(item)">
											<sa-icon name="TRASH"></sa-icon>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row" >
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="vm.data.vistaModoCalendario">
				<div context-menu="vm.menuContextualCalendar"
					class="calendar calendar-today"
					calendar="calendarPlantilla"
					ui-calendar="vm.uiConfig.calendar">
				</div>
				<label class="label-control"> * Mantenga presionado la tecla Shift para copiar un horario -- Doble-click sobre un evento para editarlo 	</label>
			</div>
		</div>

		<div class="row" >
			<div class="text-center">
				<div class="btn-group ">
					<button class="btn btn-cancel" ng-click="vm.formControl.cancel()" id="plantilla-edit-volver-btn">
					<span >Volver</span>
					</button>
					<button class="btn btn-default" id="plantilla-edit-guardar-btn"
					ng-click='vm.formControl.ok()'
					ng-disabled="!vm.data.fechaDesde || !vm.data.fechaHasta">Guardar</button>
				</div>
			</div>
		</div>

	</div>
	<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>