<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.plantillaActions.new()" btn-new-disabled="vm.formControl.loading || !vm.data.recurso"></sa-title>
<div id="cuerpo">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">


				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group">
					<sa-selector-servicio-medico ng-model="vm.data.servicioMedico" ng-change="vm.formControl.changeServicioMedico()" solo-visibles-turnos="true">
					</sa-selector-servicio-medico>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group ">
					<sa-selector-recurso ng-model="vm.data.recurso" ng-disabled="!vm.data.servicioMedico" idservicio="vm.data.servicioMedico"
					 ng-change="vm.formControl.changeRecurso()" buscador-recurso-en-servicios-if="true">
					</sa-selector-recurso>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group">
					<label class="control-label">Fecha Desde</label>
					<!-- <sa-date-picker model="vm.data.fechaDesde" min-date="vm.data.fecha" sa-enter>
					</sa-date-picker> -->
					<sa-date-time-picker ng-model="vm.data.fechaDesde" id="1" type="date">
					</sa-date-time-picker>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group">
					<label class="control-label">Fecha Hasta</label>
					<!-- <sa-date-picker model="vm.data.fechaHasta" min-date="vm.data.fechaDesde" sa-enter>
					</sa-date-picker> -->
					<sa-date-time-picker ng-model="vm.data.fechaHasta " id="2" type="date" min="vm.data.fechaDesde">
					</sa-date-time-picker>
				</div>

			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">

					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<sa-check-box label="Sin Aplicar" ng-model="vm.data.chboxSinAplicar" color="green" id-element="plantilla-list-sinaplicar-slider">
						</sa-check-box>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
						<sa-check-box label="Aplicados" ng-model="vm.data.chboxAplicados" color="green" id-element="plantilla-list-aplicados-slider">
						</sa-check-box>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
						<sa-check-box label="Anulados" ng-model="vm.data.chboxAnulados" color="green" id-element="plantilla-list-anulados-slider">
						</sa-check-box>
					</div>

				</div>



				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-9 form-group">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" id="plantilla-list-duraciones-btn"
							ng-click="vm.formControl.navegarReglasDuracion()">
								Duraciones: {{vm.data.duraciones.length}}
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" id="plantilla-list-reglasturnos-btn"
							ng-click="vm.formControl.navegarReglasCantidadesDeTurnos(1)">
								Reglas de Turnos: {{vm.data.reglasDeTurnos.length}}
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" id="plantilla-list-reglassobreturnos-btn"
							ng-click="vm.formControl.navegarReglasCantidadesDeTurnos(2)">
								Reglas Sobreturnos: {{vm.data.reglasDeSobreTurnos.length}}
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" id="plantilla-list-prestaciones-btn"
							ng-click="vm.formControl.verPrestaciones()">
								Prestaciones
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" id="plantilla-list-subespecialidades-btn"
							ng-click="vm.formControl.verSubespecialidades()">
								Especialidades
							</button>
						</div>
					</div>


				</div>


				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3 form-group pull-right">
					<div class="row">
						
						<!-- BTN LIMPIAR -->
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  pull-right">
							<button type="button" class="btn-block btn-row" sa-btn-clean ng-click="vm.filter.clean()" id="plantilla-list-limpiar-btn">
								Limpiar
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
							<button type="button" class="btn-block btn-row" sa-btn-search ng-disabled="!vm.data.recurso" ng-click="vm.formControl.buscar()" id="plantilla-list-buscar-btn">
								Buscar
							</button>
						</div>
						

						<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right form-group">
							<button type="button" class="btn btn-default btn-row btn-block" ng-disabled="!vm.data.recurso" ng-click="vm.formControl.buscar()">
								Buscar
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right form-group">
							<button type="button" class="btn btn-default btn-row btn-block" ng-click="vm.filter.clean()">
								Limpiar
							</button>
						</div> -->
					</div>

				</div>

			</div>

		</div>



	</div>

	<table class="table table-hover table-condensed table-bordered table-cursor-pointer" id="detalle_feriados">
		<thead>
			<tr class="thead-azul">
				<tr class="cabecera-tabla">
					<th class="text-center" ng-click="vm.sort('Fecha')">
						Id

					</th>
					<!-- <th class="text-center" ng-click="vm.sort('Fecha')">
														Fecha
														<span class="glyphicon sort-icon" ng-show="sortKey=='Fecha'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th> -->
					<th class="text-center">
						Desde - Hasta
						<span class="glyphicon sort-icon" ng-show="sortKey=='Fecha'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>

					<th class="text-center">
						Items
					</th>
					<th class="text-center">
						Estado
					</th>
					<th class="text-center">
						Observación
					</th>
					<th class="text-center">
						Acciones
					</th>
				</tr>
		</thead>
		<tbody ng-repeat="plantilla in vm.data.plantillas" context-menu="vm.menuOptions">
			<tr id="plantilla-list-row-{{$index}}">
				<td class="row text-center" ng-bind="plantilla.Id"></td>
				<td class="row text-center" ng-bind="vm.formControl.getFechaDesdeHasta(plantilla.FechaDesde,plantilla.FechaHasta)"></td>
				<td class="row text-center">
					<div ng-repeat="horarios in plantilla.ResumenDeHorarios track by $index">
						{{horarios}}
					</div>
				</td>
				<td ng-class="plantilla.ColorEstado" class="row text-center" ng-bind="plantilla.Estado"></td>
				<td class="row text-center">{{plantilla.ObservacionToShow | limitTo: 100}}...</td>
				<td class="row text-center">
					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Ver Detalle" uib-tooltip-placement="top"
					 ng-click="vm.plantillaActions.verDetalle(plantilla.Id)" id="plantilla-list-row-{{$index}}-ver-btn">
						<sa-icon name="EYE_OPEN"></sa-icon>
					</button>

					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Ver turnos que genera la plantilla"
					 uib-tooltip-placement="top" ng-click="vm.plantillaActions.verTurnosPorGenerar(plantilla.Id)" id="plantilla-list-row-{{$index}}-ververturnos-btn">
						<sa-icon name="LIST"></sa-icon>
					</button>

					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Editar" uib-tooltip-placement="top" ng-disabled="!plantilla.PuedeEditar"
					 ng-click="vm.plantillaActions.edit(plantilla)" id="plantilla-list-row-{{$index}}-editarplantilla-btn">
						<sa-icon name="EDIT"></sa-icon>
					</button>

					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Aplicar" uib-tooltip-placement="top"
					 ng-disabled="!plantilla.PuedeAplicar" ng-click="vm.plantillaActions.aplicar(plantilla.Id)" id="plantilla-list-row-{{$index}}-aplicarplantilla-btn">
						<sa-icon name="CHECK"></sa-icon>
					</button>
					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Reprogramar Turnos" uib-tooltip-placement="top"
					 ng-disabled="!plantilla.PuedeReprogramar" ng-click="vm.formControl.reprogramarTurnos(plantilla.Id)" id="plantilla-list-row-{{$index}}-reprogramar-btn">
						<sa-icon name="REPEAT"></sa-icon>
					</button>

					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top"
					 ng-disabled="!plantilla.PuedeEliminar" ng-click="vm.plantillaActions.delete(plantilla.Id)" id="plantilla-list-row-{{$index}}-eliminar-btn">
						<sa-icon name="TRASH"></sa-icon>
					</button>

					<button type="button"  class="btn btn-white btn-xs" uib-tooltip="Ver Auditoria" uib-tooltip-placement="top"
					 ng-click="vm.formControl.verAuditoria(plantilla)" id="plantilla-list-row-{{$index}}-autorizar-btn">
						<sa-icon name="VIEW"></sa-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- .row>-->
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination max-size="10" items-per-page="vm.paginacion.pageSize" total-items="vm.paginacion.totalItems" ng-model="vm.paginacion.currentPage"
				 ng-change="vm.paginacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div>
	<!-- .row>-->
</div>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading>