<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.nuevaRegla()" btn-new-disabled="vm.formControl.loading">
</sa-title>

<div class="row">

	<div class="col-xs-12 ">

		<div class="row">
			<div class="col-xs-2">
				<sa-check-box ng-model="vm.data.mostrarReglasEliminadas"  label="Mostrar Reglas Eliminadas" color="green" ng-change="vm.formControl.changeMostrarReglasEliminadas()"></sa-check-box>
			</div>
			<div class="col-xs-2">
					<button type="button" ng-click="vm.formControl.sincronizarReglas()" class="btn btn-row btn-info">Sincronizar reglas con reglas de sobreturnos</button>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive" style="margin-top: 20px;">
			

		<table class="table table-hover">
			<thead>
				<tr></tr>
				<tr class="cabecera-tabla">
					<th class="text-center">Grupo / Mutual / Plan</th>

					<th class="text-center">Tipo de Prestacion</th>
					<th class="text-center">Prestacion</th>
					<th class="text-center">Tipo De Turno</th>

					<th class="text-center">Sucursal</th>
					<th class="text-center">Dia de la semana</th>

					<th class="text-center">Atiende</th>
					<th class="text-center">Cant.Máxima</th>

					<th class="text-center">Acciones</th>

				</tr>
			</thead>
			<tbody ng-repeat="regla in vm.data.reglas" context-menu="vm.menuOptions" ng-class="{'color-rojo-pastel-prefactura': regla.EstadoActivo == false }">
				<tr>
					<td class="text-center">{{regla.DimensionMutual}}</td>

					<td class="text-center" ng-bind="regla.TipoPrestacion"></td>
					<td class="text-center" ng-bind="regla.Prestacion"></td>
					<td class="text-center" ng-bind="regla.TipoTurno"></td>

					<td class="text-center" ng-bind="regla.Sucursal"></td>
					<td class="text-center" ng-bind="regla.DiaSemana"></td>

					<td class="text-center">{{regla.Atiende?'Si':'No Atiende'}}</td>
					<td class="text-center" ng-bind="regla.CantidadMaxima"></td>

					<td class="text-center">
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar regla" tooltip-placement="top" ng-show="regla.EstadoActivo == true" ng-click="vm.formControl.editarRegla(regla)">
							<sa-icon name="EDIT"></sa-icon>
						</button>

						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Borrar regla" tooltip-placement="top" ng-show="regla.EstadoActivo == true" ng-click="vm.formControl.eliminarRegla(regla)">
							<sa-icon name="DEL"></sa-icon>
						</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
<div class="row">
	<div class="col-xs-12">
		<div class="text-center">
			<div class="btn-group ">
				<button class="btn btn-cancel" ng-click="vm.formControl.volver()">

					<span>Volver</span>
				</button>
				<!-- <button class="btn btn-default"
								ng-click='vm.formControl.ok()'
								ng-disabled="!vm.data.fechaDesde || !vm.data.fechaHasta">Guardar</button> -->
			</div>
		</div>
	</div>
</div>
<sa-loading ng-if="formControl.loading"></sa-loading>