<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
		<label class="label-control">Código Organización</label>
		<div class="input-group">
			<input type="number" class="form-control"
				ng-blur="vm.busquedaRapidaOrganizacion()"
				ng-change= "vm.cambioCodigoOrganizacion()"
				ng-model="vm.codigo"
				id="codigo-organizacion-selector"
				sa-enter>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
                    uib-tooltip="Buscar organización"
                    tooltip-placement="top"
                    ng-click="vm.searchOrganizacion()"
					sa-punto-click="vm.searchOrganizacion()"
					id="codigo-organizacion-selector-btn"
                    sa-enter>
                    <span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
		<label class="">Nombre Organización</label>
		<input type="text" class="form-control"
			ng-model="vm.nombre" id="nombre-organizacion-selector"
			sa-enter>
	</div>
</div>