<sa-title title-name="vm.title.name" title-icon="LIST" btn-print-click="vm.imprimir()" btn-reload-click="vm.activate()"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group" sa-form-input>
                    <button type="button" sa-btn-ok class="btn-row btn-block"  ng-click="vm.exportarExcelItemsCierresRecepcion()"
                    sa-punto-click="" sa-enter>Exportar a Excel</button>
            </div>

            <!-- <button id="refresh_button" type="button" class="btn btn-default pull-right" ng-disabled="false"
            uib-tooltip="Recargar" uib-tooltip-placement="top" ng-click="vm.activate()">
            <sa-icon name="REFRESH"></sa-icon>
            </button> -->
        </div>


            <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.cierreRecepcionDetalle.Items && vm.cierreRecepcionDetalle.Items.Columns && vm.cierreRecepcionDetalle.Items.Columns.length">
                        <!--Tabla de Contenido-->
                        <fw-table-container>
                            <fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
                            </fw-table-config>
                            <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
                            </fw-table-sorting-ext>
                            <fw-table-rowset data="vm.cierreRecepcionDetalle.Items.Rows">
                            </fw-table-rowset>
                            <!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
                            <fw-table-columnset data="vm.cierreRecepcionDetalle.Items.Columns">
                            </fw-table-columnset>
                            <fw-table-export>
                            </fw-table-export>
                            <fw-table-buttonset>
                                <fw-table-button label="'Editar'" icon="'EDIT'" action="vm.editarItem(row, index)"></fw-table-button>
                                <fw-table-button label="'Normal'" icon="'CIRCLE_OK'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Normal',1)" visible-if="vm.esVisibleSegunEstado(row,1,vm.cierreRecepcionDetalle.EsDeParticulares)"></fw-table-button>
                                <fw-table-button label="'Pendiente'" icon="'ANULAR'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Pendiente',2)" visible-if="vm.esVisibleSegunEstado(row,2,vm.cierreRecepcionDetalle.EsDeParticulares)"></fw-table-button>
                                <fw-table-button label="'En Espera'" icon="'FILE'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'En Espera',3)" visible-if="vm.esVisibleSegunEstado(row,3,vm.cierreRecepcionDetalle.EsDeParticulares)"></fw-table-button>
                                <fw-table-button label="'Incobrable'" icon="'HAND_DOWN'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Incobrable',4)" visible-if="vm.esVisibleSegunEstado(row,4,vm.cierreRecepcionDetalle.EsDeParticulares)"></fw-table-button>
                                <fw-table-button label="'Histórico'" icon="'LIST4'" action="vm.historicoSobreItem(row)"></fw-table-button>
                            </fw-table-buttonset>
                            <!-- FILTRADO DINAMICO [Opcional] -->
                            <!-- Debe estar configurado en true la configuracion correspondiente -->
                            <!-- Solo debería funcionar si se trata de una tabla interna -->
                            <fw-table-filter init="true"></fw-table-filter>
                            <!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
                            <!-- Opcionalmente se puede redefinir page-size -->
                            <fw-table-pagination page-size="20"></fw-table-pagination>
                            <!-- Por ultimo el renderizado de la tabla -->
                            <fw-table></fw-table>
                        </fw-table-container>
                    </div>
                </div>
        
        <div class="row">
            <br>
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.cancelar()" sa-punto-click="vm.cancelar()" sa-enter>
                    Cancelar
                </button>
            </div>
            <!-- <div class="col-xs-12 text-center">
                <button class="btn btn-imprimir" ng-click="vm.imprimir()" sa-punto-click="vm.imprmir()" sa-enter>
                    Imprimir
                </button>
            </div> -->
        </div>

    </div>
</div>
