<sa-title title-name="vm.title.name" title-icon="LIST"></sa-title>
<div id="cuerpo">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group">
					<sa-selector-servicio-medico ng-model="vm.servicioMedico" solo-visibles-turnos="true">
					</sa-selector-servicio-medico>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group ">
					<sa-selector-recurso ng-model="vm.recurso" ng-disabled="!vm.servicioMedico" idservicio="vm.servicioMedico"
					 buscador-recurso-en-servicios-if="false">
					</sa-selector-recurso>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 form-group">
				   <sa-sucursal-combo-filtrado if-h3="true" ng-model="vm.sucursal" ></sa-sucursal-combo-filtrado>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
					<sa-prestacion-selector model="vm.prestacion"
					id-servicio="vm.servicioMedico ? vm.servicioMedico.Id : 0"
					id-sucursal="vm.sucursal ? vm.sucursal.Id : 0">
					</sa-prestacion-selector>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
					 sa-enter>Limpiar</button>
				</div>
		
			</div>
		</div>
	</div>

	<div class="row">
		<!-- El ng-if va para no cargar la tabla sin datos -->
		<div class="col-xs-12" ng-if="vm.duracionPrestacion && vm.duracionPrestacion.Rows">
	
			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<!-- CONFIGURACION [Opcional]-->
				<!-- Corresponde a cada funcionalidad de la tabla -->
				<!-- Para que funcionen deben estar en true -->
				<fw-table-config sortable="true" filtrable="true" exportable="true" paginable="true">
					<!-- exportable="false" sortable="false" filtrable="false" paginable="true" column-config="false" -->
				</fw-table-config>
	
				<!-- COLUMNAS (*) [Requerido] -->
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset data= "vm.duracionPrestacion.Columns">
					<!-- Se define una column con los datos de una columna (opcional)-->
					<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
				</fw-table-columnset>
	
				<!-- DATOS DE LA TABLA (*) [Requerido] -->
				<fw-table-rowset data="vm.duracionPrestacion.Rows">
				</fw-table-rowset>
	
				<!-- ACCIONES DE FILA [Opcional] -->
				<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
				<fw-table-buttonset>
				</fw-table-buttonset>
				<!-- ORDENAMIENTO [Opcional] -->
				<!-- Se define una forma de ordenamiento-->
				<!-- Puede ser interno (front-end) o externo (back-end) -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
				</fw-table-sorting-ext> -->
				<fw-table-sorting></fw-table-sorting>
	
				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter></fw-table-filter>
	
				<!-- EXPORTACION [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
				<!-- Exportacion interna -->
				<fw-table-export>
					<fw-table-export-csv label="'Exportar página a Excel'" status="true">
					</fw-table-export-csv>
					<!-- <fw-table-export-csv-ext label="'Exportar todo a Excel'" status="true" export="exportEventInternal(exportation)">
					</fw-table-export-csv-ext> -->
				</fw-table-export>
				<!-- Exportacion externo -->
				<!-- <fw-table-export-ext export="exportEventInternal(exportation)"></fw-table-export-ext> -->
	
				<!-- PAGINACION [Opcional] -->
				<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
	
				<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- <fw-table-pagination-ext page-change="pageChangeInternal(pagination)" page-size="pageSize" total-items="totalItems" current-page="data.CurrentPage">
				</fw-table-pagination-ext> -->
	
				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination page-size="10"></fw-table-pagination>
	
				<!-- TABLA (*) [Requerido] -->
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>
	
</div>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading>