/* Buttons clarika  */
@import '../common/variables';

.btn {
	display: inline-block;
	padding: 6px 20px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
    // cursor: pointer;
}

.btn-cancelar {
	background-color: $color-gris;
	color: $color-white;
}

.btn-borrar {
	background-color: $color-gris;
	color: $color-white;
	float:right;
	margin-top:50px;
	margin-left:10px;
}

.btn-guardar {
	background-color: $color-azul-sa;
	color: $color-white;
	float:right;
	// margin-top:70px;
	margin-top:50px;
	margin-left:10px;
}

.btn-default {
	background-color: $color-azul-sa;
	color: $color-white;
}

.btn-default.disabled, .btn-default[disabled] {
	color: rgb(229,232,234);
}

.btn-see-more {
	width: 60px;
	height: 25px;
	background-color: $color-shadow;
	padding: 0;
	color: $color-white;
	border-radius: 0px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}