@import '../common/variables';

.main {

	label {
		color: $color-gris-medio;
		font-family: "open_sansregular";
		font-size: 13px;
		font-weight: normal;
		margin-top: 12px;
	}
}

.contentwhite {
	background-color: $color-white;
	min-height: 200px;
	padding-top: 15px;

	h2 {
		color: $color-gris-medio;
		font-family: "open_sanslight";
		font-size: 20px;	
		margin-bottom: 15px;
		margin-top: 0px;
	}
}

// .left {
// 	background-color: #253135;
// 	height: 100%;
// 	min-height: 100%;
// 	overflow: hidden;
// 	position: relative;
// }