/* Form Clarika */
@import '../common/variables';

.fila{
	border-bottom: solid 1px $color-gris-clarito;
	padding-bottom: 20px;
	margin-bottom:20px;

	h4 {
		font-size: 19px;
		font-family: "open_sanslight";
		color: $color-azul-sa;	
		padding-left: 15px;
		padding-right: 15px;
	}
}

.no-fila{
	h4 {
		font-size: 19px;
		font-family: "open_sanslight";
		color: $color-azul-sa;	
		padding-left: 10px;
	}
}

// .requerido {
// 	font-family: "open_sansregular";
// 	font-size:12px;
// 	color: $color-requerido;
// }

// .sexo label {
// 	color : $color-gris;
// 	font-family: "open_sansregular";
// 	font-size: 1em;
// 	font-weight: normal;
// 	margin-top:0px;
// }

.form-control {
	color: $color-dark;
}