/* Submenu Clarika */
@import '../common/variables';

.Menulateral {
	a:hover, a:focus {
		color: $color-white;
		font-weight: normal;
		font-family: 'open_sansregular';
		font-size: 1.1em;
	}
} 
.collapse.in {
	-webkit-transition: width 2s;
	/* Safari */
	transition: width 2s;
}

.submenu {

	background-color: $color-black;

	li {

		background-color: $color-black;
		list-style:none;

		a {
			position: relative;
			display: block;
			padding: 10px;
			color: $color-white;
			font-family: "open_sansregular";
			font-size: 0.9em;
			font-weight: normal;
			border-bottom: 1px solid $color-dark;
			width: 100%;

			&:hover {
				color: $color-azul-sa;
				font-size: 0.9em;	
			}

			&.active {
				color: $color-azul-sa;
				font-size: 0.9em;
			}
		}
	}

	.item {
		padding: 8px 0px;
		margin-left: 0px !important;
		margin-left: 30px;
	}
}

.caja-pie {

	position: fixed;
	bottom: 10px;
	width: 260px;

	footer, p {
		font-family: "open_sanslight";
		color: $color-white;
		font-size:12px;
		padding-left:20px;
		padding-right:20px;
	}
	span{
		font-family: "open_sansregular";
	}
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1200;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	font-size: 14px;
	text-align: left;
	list-style: outside none none;
	background-color: #FFF;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}