/* Modal Clarika */
@import '../common/variables';

.modal-header-aviso {
	min-height: 16.4286px;
	padding-bottom: 32px;
	padding-top:10px;
	padding-right:15px;
}

.modal-body-aviso {
	position: relative;
	padding: 15px;

	img {
		margin-bottom:15px;
		margin-left: 125px;
	}
}

.modal-dialog-aviso {
	width: 400px;
	margin: 30px auto;
}

.modal-footer-aviso {
	padding: 15px;
	text-align: center;
}

.modal-header-solicitud {
	min-height: 16.4286px;
	padding-bottom: 32px;
	padding-top:10px;
	padding-right:15px;
}

.modal-body-solicitud {
	position: relative;
	padding: 15px;
}

.modal-dialog-solicitud {
	width: 700px;
	margin: 30px auto;
}

.modal-footer-solicitud {
	padding: 15px;
	text-align: center;
}

.titular-modal {
	font-family: "open_sanssemibold";
	font-size:19px;
	color: $color-shadow;
}

.modal-title {
	font-family: "open_sanslight";
	font-size:26px;
	color: $color-gris-medio;
}

.titular-aviso {
	font-family: "open_sanslight";
	font-size:26px;
    color: $color-gris;
    text-align:center;
    border-bottom: 1px solid $color-gris-clarito;
    padding-bottom: 10px;
    
}

.informacion-aviso {
	font-family: "open_sansregular";
	font-size:13px;
    color : $color-dark;
    text-align:center;
}