/* Pagination  Clarika */
@import '../common/variables';

.pagination {
	li {
		a, span {
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			line-height: 1.42857;
			color: $color-gris-claro;
			text-decoration: none;
			background-color: $color-white;
			//border: 1px solid $color-white;
		}

		a:hover, span:hover, a:focus, span:focus {
			color: $color-white;
			background-color: $color-azul-sa;
			border-color: $color-gris-clarito;
		}
	}
}

.input-pagination{
	width:60px;
	margin-top:0px;
	margin-left:10px;
	display: inline-block;
}

.paginador{
	padding-left: 15px;
}

#wizard .pager {
	padding-left: 10px;
	padding-right: 10px;
	margin: 40px 0;
	text-align: center;
	list-style: none;
}

.pager li > a, .pager li > span {
	padding: 6px 20px;
}

#wizard
.pager li > a,
.pager li > span {
	display: inline-block;
	padding: 6px 20px;
	background-color: $color-gris;
	border-radius: 5px;
	color: $color-white;
	border: none;
	font-family: 'open_sansregular';
	margin-left: 15px;
}

#wizard .btn-default.save {
	float: right;
}

#wizard .pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: $color-gris-clarito;
	cursor: not-allowed;
	background-color: $color-gris-claro;
	font-family: 'open_sansregular';
	margin-left: 0;
}