/* Table Clarika */
@import '../common/variables';

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	font-family: "open_sanslight";
	font-size:15px;
	border-top: 0px none;
	background-color:$color-white;
	/*background-color:$color-azul-sa;*/
	color: $color-dark;
	font-weight:normal;
}

.cabecera-tabla {
	background-color: $color-azul-sa;
	color:$color-white;
	font-family: "open_sansregular";
}

// .tabla-pacientes{
// 	margin-top:70px;
// }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 12px;
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid $color-gris-clarito;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;

	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 0px none;
	}
}

// .col-solicitud, .col-admision, .col-protesis {
// 	font-family: "open_sanslight";
// 	font-size:15px;
// 	padding:10px;

// 	float:left;
// 	border-top: 1px solid $color-gris-clarito;
// 	border-left: 1px solid $color-gris-clarito;
// 	border-right: 1px solid $color-gris-clarito;
// 	color: $color-dark;
// 	text-align:center;
// }

// .col-solicitud {
// 	width:47%;
// }

// .col-admision, .col-protesis{
// 	width:17%;
// }

// .col-iconos{
// 	float:left;
// }