<div ng-hide="login.showLogin">
	Redireccionando...
</div>
<link rel="stylesheet" type="text/css" href="login.style.css" >
<div ng-if="login.showLogin">
	<div class="container-fluid contenedor-login">
		<div class="row">
			<div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>
			<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<sa-logo-grande></sa-logo-grande>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					<form name="formLogin" class="formulario-login" ng-submit="login.login()" role="form">
						<sa-form-login username="login.username" password="login.password" loading="login.dataLoading">
						</sa-form-login>
						<div class="remember">
							<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Para recuperar su contraseña, por favor contáctese
							con el área de sistemas.
						</div>
						<button type="submit" ng-disabled="formLogin.$invalid || login.dataLoading" class="btn btnlogin btn-loading">Ingresar</button>
						<div class="clearfix"></div>
					</form>
				</div>
				<!--cierra formulario-login-->
			</div>
			<div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>
		</div>
		<!--cierra row-->
	</div>
	<!--cierra container-fluid-->
	<sa-work-spinner></sa-work-spinner>
	<div class="linea-login" ng-if="!login.dataLoading"></div>
	<div class="login-footer">
		<sa-footer></sa-footer>
	</div>
</div>