<div>
	<div class="row">
		<h4>Gráfico con todas las camas</h4>
		<div class="col-xs-12 col-lg-6 " ng-if="reporteTotal.data">
			<fw-pie-chart
				title="Total"
				data="reporteTotal.data">
			</fw-pie-chart>
		</div>
	</div>
	<div class="row">
		<h4 ng-click="mostrarGraficosCategorias = !mostrarGraficosCategorias" class="fw-selectable">
			Gráficos por categorías de cama
			<fw-icon ng-if="mostrarGraficosCategorias" name="DOWN"></fw-icon>
			<fw-icon ng-if="!mostrarGraficosCategorias" name="NEXT"></fw-icon>
		</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-if="mostrarGraficosCategorias"
			ng-repeat="item in reporteCategorias track by $index" >
			<fw-pie-chart
				title="{{item.title}}"
				data="item.data">
			</fw-pie-chart>
			<br>
		</div>
	</div>
</div>