<div class="cuerpo" ng-if="!vm.formControl.loading">	
	<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.nuevo()" btn-new-disabled="vm.formControl.loading"></sa-title>
	<form name="formFilter" accept-charset="utf-8" novalidate>
		<div class="row">				
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" sa-form-input>
				<label class="control-label">Matrícula</label>
				<input type="number" class="form-control" ng-model="vm.filter.numeroMatricula" min = "0" sa-enter sa-integer id="soc-prof-matricula-filter-input">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group" sa-form-input>
				<label class="control-label">Buscar por nombre</label>
				<input type="text" class="form-control text-uppercase" ng-model="vm.filter.nombre" maxlength="100" sa-enter id="soc-prof-nombre-filter-input">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
				<sa-check-box label="Solo Activos" ng-model="vm.filter.activos" id-element="soc-prof-solo-activos-slider"
				color="green" sa-enter ng-change="vm.formControl.activoChange()"></sa-check-box>
			</div>
			<button sa-btn-search
				ng-click="vm.formControl.buscar()" class="btn-row" ng-disabled="!formFilter.$valid"
				sa-punto-click="vm.formControl.buscar()" sa-enter id="soc-prof-buscar-btn">
				Buscar
			</button>
			<button sa-btn-clean
				ng-click="vm.formControl.limpiarFiltros()" class="btn-row"
				sa-punto-click="vm.formControl.limpiarFiltros()" sa-enter id="soc-prof-limpiar-btn">
				Limpiar
			</button>
		</div>
	</form>	
	<sa-table-ext data="vm.data.sociedades" page-change="vm.formControl.buscarPagina(pagination)" export="vm.table.export(exportation)"
		btn-edit-click="vm.formControl.editar(row)"></sa-table-ext>
		<!-- NO BORRAR, SE ESPERA PARA FUTURA IMPLEMENTACION -->
		<!-- btn-delete-click="vm.formControl.borrar(row)" -->
	<div class="row">
		<br>
		<div class="row text-center">
			<button class="btn btn-cancelar" ng-click="vm.formControl.volver()" sa-punto-click ="vm.formControl.volver()" sa-enter id="soc-prof-volver-btn">
				Volver
			</button>
		</div>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>