<sa-menu></sa-menu>
<!-- Contenido de la vista -->
<snap-content>
	<div class="right">
		<sa-header name-module="{{ vm.title.module }}" path-module="#/HistoriaClinica" ></sa-header>

		<div class="main">
			<section class="contentwhite">
				<div class="container-fluid">
					<sa-title
						title-name="vm.title.page"
					></sa-title>
					<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
						<sa-system-info info="vm.info" ></sa-system-info>
					</div>
					<sa-loading ng-if="vm.formControl.loading"></sa-loading>
				</div>
			</section>
		</div>
	</div>
</snap-content>
<!-- /Contenido de la vista -->