<div class="row">
	<div class="" ng-class="vm.cols ? 'col-xs-12 col-sm-4 col-md-4 col-lg-6' : 'col-xs-12 col-sm-4 col-md-4 col-lg-4'">
		<label class="label-control">N° Internado</label>
		<div class="input-group">
			<div class="input-group">
				<input type="number" class="form-control" ng-model="vm.numeroInternado" ng-blur="vm.buscarInternadoPorNumeroBlur(vm.numeroInternado, false)"
				    min="0" sa-enter id="selector-internado-numero-input">
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" uib-tooltip="Buscar internado" id="selector-buscar-internado-btn" tooltip-placement="top" ng-click="vm.buscarInternadoPorNumero(vm.numeroInternado, true)"
					    >
						<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
					</button>
					<button class="btn btn-default" uib-tooltip="Limpiar" tooltip-placement="top" id="selector-limpiar-internado-btn" ng-click="vm.limpiarInternado()" >
						<sa-icon name="DEL"></sa-icon>
					</button>
					<button class="btn btn-default" uib-tooltip="Mas informacion del internado" tooltip-placement="top"
					    ng-click="vm.abrirInfoInternado()" ng-disabled="!vm.internado.Id" id="selector-info-internado-btn">
						<sa-icon name="INFO"></sa-icon>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="" ng-class="vm.cols ? 'col-xs-12 col-sm-4 col-md-4 col-lg-6' : 'col-xs-12 col-sm-5 col-md-4 col-lg-5'">
		<label class="">Nombre Y Apellido Internado</label>
		<input type="text" class="form-control" id="selector-internado-nombreapellido-input" ng-model="vm.internado.NombreYApellidoInternado" ng-disabled="true">
	</div>
	<div class="" ng-class="vm.cols ? 'col-xs-12 col-sm-4 col-md-4 col-lg-6' : 'col-xs-12 col-sm-3 col-md-4 col-lg-3'">
		<label class="">Tipo Y Doc. Internado</label>
		<div class="">
			<input type="text" class="form-control" id="selector-internado-documento-input" ng-model="vm.internado.DocumentoYTipoInternado" ng-disabled="true">
		</div>
	</div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>