<div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 form-group">
            <label for="tipo_recurso" >Tipo Recurso</label>
            <select class="form-control" 
                    id="tipo_recurso"
                    ng-model="filter.tipoRecurso" 
                    ng-disabled="disabled" 
                    ng-options="tipo.Nombre for tipo in data.tiposRecursos track by tipo.Id" 
                    sa-enter>
                <!-- <option value="">TODOS</option> -->
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4 form-group">
            <label for="numero_matricula" >Matrícula</label>
            <input type="text"
                    id="numero_matricula" 
                    placeholder="0" 
                    class="form-control" 
                    ng-maxlength="12" 
                    ng-keypress="buscarRecursoEnter($event)" 
                    ng-blur="buscarRecurso()" 
                    ng-model="filter.numeroMatricula" 
                    ng-disabled="disabled" 
                    sa-enter>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 form-group">
            <label for="nombre_recurso" >Nombre Recurso</label>
            <div class="input-group">
                <input id="nombre_recurso" 
                        type="text" 
                        placeholder="RECURSO" 
                        class="form-control text-uppercase" 
                        ng-readonly="true" 
                        ng-model="filter.nombreRecurso" 
                        sa-enter/>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-loading" 
                            uib-tooltip="Buscar Recurso" 
                            tooltip-placement="top" 
                            ng-click="buscarRecursos()" 
                            ng-disabled="disabled" 
                            sa-enter
                            sa-punto-click="buscarRecursos()">
                        <sa-icon name="SEARCH"></sa-icon>
                    </button>
                </span>
            </div>
        </div>
    </div>
    