<div class="row">
	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 form-group">
		<label for="tipo_documento" >Tipo Documento</label>
		<select class="form-control" 
				id="tipo_documento"
				ng-model="filter.tipoDocumento" 
				ng-disabled="disabled" 
				ng-options="tipo.Nombre for tipo in data.tiposDocumentos track by tipo.Id" 
				sa-enter>
			<option value="">TODOS</option>
		</select>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-4 form-group">
		<label for="numero_documento" >Número Documento</label>
		<input type="text"
				id="numero_documento" 
				placeholder="0" 
				class="form-control" 
				ng-maxlength="12" 
				ng-keypress="buscarPacienteEnter($event)" 
				ng-blur="buscarPaciente()" 
				ng-model="filter.numeroDocumento" 
				ng-disabled="disabled" 
				sa-enter>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 form-group">
		<label for="nombre_paciente" >Nombre Paciente</label>
		<div class="input-group">
			<input id="nombre_paciente" 
					type="text" 
					placeholder="PACIENTE" 
					class="form-control text-uppercase" 
					ng-readonly="true" 
					ng-model="filter.nombrePaciente" 
					sa-enter/>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
						uib-tooltip="Buscar Paciente" 
						tooltip-placement="top" 
						id="buscador-paciente-buscar-btn"
						ng-click="buscarPacientes()" 
						ng-disabled="disabled" 
						sa-enter
						sa-punto-click="buscarPacientes()">
					<sa-icon name="SEARCH"></sa-icon>
				</button>
			</span>
		</div>
	</div>
</div>
