<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group">
		<sa-new-mutual-selector model="vm.filter.mutualElegida" codigo-mutual-edit="vm.filter.codigoMutual" ng-disabled="true"></sa-new-mutual-selector>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Vigencia desde</label>
		<sa-date-picker model="vm.filter.vigenciaDesde" disabled="true" max-date="vm.filter.vigenciaHasta"></sa-date-picker>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Vigencia hasta</label>
		<sa-date-picker model="vm.filter.vigenciaHasta" disabled="true" min-date="vm.filter.vigenciaDesde"></sa-date-picker>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Estado</label>
		<input type="text" ng-model="vm.filter.tipoEstadoConvenioElegido" ng-disabled="true">
	</div>
</div>
<form name="formClausula" accept-charset="utf-8" novalidate ng-if="!vm.formControl.loading">
	<div class="row" >
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-5 form-group">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-11 form-group">
					<h4>Condiciones</h4>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 form-group">
					<button class="btn btn-default pull-right"
							tooltip-placement="top"
							uib-tooltip="Agregar condición"
							ng-click="vm.formControl.editarCondicion(null)"
							sa-punto-click="vm.formControl.editarCondicion(null)"
							sa-enter>
						<sa-icon name="PLUS"></sa-icon>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
					<div class="table-responsive">
						<table class="table table-hover table-condensed table-bordered">
							<thead>
								<tr class="cabecera-tabla">
									<td class="text-right">#</td>
									<th class="text-center">Dimensión</th>
									<th class="text-center">Operador</th>
									<th class="text-center">Valor</th>
									<th class="text-center">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="condicion in vm.data.clausulas.Condiciones">
									<td class="text-right">{{condicion.Id}}</td>
									<td class="text-center">{{condicion.NombreDimension}}</td>
									<td class="text-center">{{condicion.NombreOperador}}</td>
									<td class="text-center">{{condicion.ValoresFormateados}}</td>
									<td class="text-center">
										<button type="button" class="btn btn-white btn-xs"
											ng-click="vm.formControl.editarCondicion(condicion, $index)"
											sa-punto-click="vm.formControl.editarCondicion(condicion, $index)"
											sa-enter>
											<sa-icon name="EDIT"></sa-icon>
										</button>
										<button type="button" class="btn btn-white btn-xs"
											ng-click="vm.formControl.borrarCondicion($index)"
											sa-punto-click="vm.formControl.borrarCondicion($index)"
											sa-enter>
											<sa-icon name="DEL"></sa-icon>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-5 col-lg-offset-1 form-group">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-11 form-group">
					<h4>Consecuencias</h4>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 form-group">
					<button class="btn btn-default pull-right"
							tooltip-placement="top"
							uib-tooltip="Agregar consecuencia"
							ng-click="vm.formControl.editarConsecuencia(null)"
							sa-punto-click="vm.formControl.editarConsecuencia(null)"
							sa-enter>
						<sa-icon name="PLUS"></sa-icon>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
					<div class="table-responsive">
						<table class="table table-hover table-condensed table-bordered">
							<thead class="">
								<tr class="cabecera-tabla">
									<td class="text-right">#</td>
									<th class="text-center">Tipo Consecuencia</th>
									<th class="text-center">Resultado</th>
									<th class="text-center">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="consecuencia in vm.data.clausulas.Consecuencias">
										<td class="text-right">{{consecuencia.Id}}</td>
									<td class="text-center">{{consecuencia.NombreSubTipoConsecuencia}}</td>
									<td class="text-center">{{consecuencia.ValoresFormateados}}</td>
									<td class="text-center">
										<button type="button" class="btn btn-white btn-xs"
											tooltip-placement="top"
											ng-click="vm.formControl.editarConsecuencia(consecuencia, $index)"
											sa-punto-click="vm.formControl.editarConsecuencia(consecuencia, $index)"
											sa-enter>
											<sa-icon name="EDIT"></sa-icon>
										</button>
										<button type="button" class="btn btn-white btn-xs"
											tooltip-placement="top"
											ng-click="vm.formControl.borrarConsecuencia($index)"
											sa-punto-click="vm.formControl.borrarConsecuencia($index)"
											sa-enter>
											<sa-icon name="DEL"></sa-icon>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <br> -->
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 form-group">
			<label>Observaciones:</label>
			<input type="text" ng-model="vm.filter.observaciones" class="col-xs-12 col-sm-6 col-md-3 col-lg-12 form-group" sa-enter>
		</div>
	</div> -->
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 form-group" style="margin-bottom: 5px;">
		<label>Observaciones:</label>
		<textarea type="text" style="border-radius:4px; width:100%; margin-bottom:0px;"
			ng-model="vm.filter.observaciones" rows="1" maxlength="255"></textarea>
		<span class="label pull-right" ng-class="(vm.filter.observaciones.length > 245)
			? ((vm.filter.observaciones.length == 255) ? 'label-danger' : 'label-warning') : 'label-default'">
			{{vm.filter.observaciones.length ? vm.filter.observaciones.length : 0}}/255
		</span>
	</div>
	<br>
	<div class="row text-center">
		<button class="btn btn-cancelar" 
				ng-click="vm.formControl.volver()"
				sa-punto-click="vm.formControl.volver()"
				sa-enter>
			Cancelar
		</button>
		<button class="btn btn-default" type="submit"
				ng-click="vm.formControl.guardar()"
				sa-punto-click="vm.formControl.guardar()"
				sa-enter>
			Guardar
		</button>
	</div>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>