<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
		<sa-new-mutual-selector model="vm.filter.mutualElegida" codigo-mutual-edit="vm.filter.codigoMutual" ng-disabled="true"></sa-new-mutual-selector>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Vigencia desde</label>
		<sa-date-picker model="vm.filter.vigenciaDesde" disabled="true" max-date="vm.filter.vigenciaHasta"></sa-date-picker>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Vigencia hasta</label>
		<sa-date-picker model="vm.filter.vigenciaHasta" disabled="true" min-date="vm.filter.vigenciaDesde"></sa-date-picker>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Estado</label>
		<input type="text" ng-model="vm.filter.tipoEstadoConvenioElegido" ng-disabled="true">
	</div>
</div>
<form name="formLista" accept-charset="utf-8" ng-if="!vm.formControl.loading" novalidate>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
			<label>Tipo Prefacturable</label>
			<select class="form-control" 
					ng-model="vm.filter.tipoPrefacturableElegido"
					ng-options="tipoPrefacturables.Nombre for tipoPrefacturables in vm.data.tipoPrefacturables"
					sa-enter
					autofocus>
				<option value="">TODOS</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group" sa-form-input-validate>
			<label>Nombre</label>
			<input type="text" class="form-control text-uppercase" maxlength="100"
				ng-model="vm.filter.nombre" name="Nombre" ng-required="true"
				sa-enter
				required>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 form-group">
			<label>Descripción</label>
			<input type="text" class="form-control" maxlength="250"
			ng-model="vm.filter.descripcion" name="Descripcion"
			sa-enter>
		</div>
	</div>
	<button type="button" class="btn btn-default pull-right" 
			tooltip-placement="top"
			uib-tooltip="Agregar prefacturable"
			ng-click="vm.formControl.editarPrefacturable(null, null)"
			sa-punto-click="vm.formControl.editarPrefacturable(null, null)"
			sa-enter>
		<sa-icon name="PLUS"></sa-icon>
	</button>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
			<div class="table-responsive">
				<table class="table table-hover table-condensed table-bordered">
					<thead>
						<tr class="cabecera-tabla">
							<th class="text-center">Código</th>
							<th class="text-left">Nombre</th>
							<th class="text-center">Tipo de Prefacturable</th>
							<th class="text-right">Importe</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="prefacturable in vm.data.listaPrecioEdit.Items | orderBy: 'Id'">
							<td class="text-center" ng-class="{'color-rojo-pastel-prefactura' : !prefacturable.CodigoPrefacturable}">{{prefacturable.CodigoPrefacturable}}</td>
							<td class="text-left" ng-class="{'color-rojo-pastel-prefactura' : !prefacturable.NombrePrefacturable}">{{prefacturable.NombrePrefacturable}}</td>
							<td class="text-center">{{prefacturable.NombreTipoPrefacturable}}</td>
							<td class="text-right" ng-class="{'color-pendiente-revisar-item-prefactura' : prefacturable.Importe<=0}">${{prefacturable.Importe | number : 2}}</td>
							<td class="text-center">
								<button type="button" class="btn btn-white btn-xs"
									ng-click="vm.formControl.editarPrefacturable(prefacturable, $index)"
									sa-punto-click="vm.formControl.editarPrefacturable(prefacturable, $index)"
									sa-enter>
									<sa-icon name="EDIT"></sa-icon>
								</button>
								<button type="button" class="btn btn-white btn-xs"
									ng-click="vm.formControl.borrarPrefacturable($index)"
									sa-punto-click="vm.formControl.borrarPrefacturable($index)"
									sa-enter>
									<sa-icon name="DEL"></sa-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<div class="row form-group">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-12 form-group">
			<button class="btn btn-cancel" 
					ng-click="vm.formControl.limpiarLista()"
					sa-punto-click="vm.formControl.limpiarLista()"
					sa-enter>
				Limpiar Lista
			</button>
			<!-- ng-disabled="vm.filter.tipoPrefacturableElegido.Id !== 1" -->
			<button class="btn btn-cancel" 					
					ng-click="vm.formControl.selectorImportacion()"
					sa-punto-click="vm.formControl.selectorImportacion()"
					sa-enter>
				Importar desde Excel
			</button>
			<!-- ng-disabled="vm.filter.tipoPrefacturableElegido.Id !== 1" -->
			<button class="btn btn-cancel" 					
					ng-click="vm.formControl.exportarExcel()"
					sa-punto-click="vm.formControl.exportarExcel()"
					sa-enter>
				Exportar a Excel
			</button>
			<button class="btn btn-cancel" 
					ng-click="vm.formControl.exportarPdf()"
					sa-punto-click="vm.formControl.exportarPdf()"
					sa-enter>
				Exportar a Pdf
			</button>
		</div>
	</div>
	<div class="row" ng-if="vm.data.selectorVisible">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
			<fw-file-upload title="Seleccione archivo XLSX a importar" 
							url="Convenio/ListaPrecios/ImportarExcel" 
							data="vm.data.listaPrecioEdit"
							confirmation-message="Esta operación reemplazará la lista de precios por el contenido del archivo seleccionado. ¿Confirma?"
							need-confirmation="true"
							boton-subir="true"
							file-extensions=".xlsx">
			</fw-file-upload>
		</div>
	</div>
	<div class="row text-center">
		<button class="btn btn-cancelar" 
				ng-click="vm.formControl.volver()"
				sa-punto-click="vm.formControl.volver()"
				sa-enter>
			Volver
		</button>
		<button class="btn btn-default" type="submit"
				ng-click="vm.formControl.guardar(formLista.$valid)"
				sa-punto-click="vm.formControl.guardar(formLista.$valid)"
				sa-enter>
			Guardar
		</button>
	</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>