<div id="print-content" class="container-print">
	<sa-modal-header title-name="TURNOS (Por Fecha y Profesional)" print="true">

	</sa-modal-header>
	<sa-modal-body loading="vm.loading">

		<div class="row fila-print">
			<div class="col-xs-12 text-center ">
				<strong>
					Fecha: {{vm.fecha}} Profesional: {{vm.recurso.Nombre}}
				</strong>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover table-fina">
					<thead>
						<tr class="cabecera-tabla">
							<th class="">Hora</th>
							<th class="">ST</th>
							<th class="">Paciente</th>
							<th class=""></th>
							<th class="">Mutual</th>
							<th class="">Telefono</th>
							<th class="">Est. Turno</th>
							<th class="">Observaciones</th>
							<!-- REPORTE COMPLETO -->
							<th ng-if="vm.reporteCompleto" class="">Tipo Turno</th>
							<th ng-if="vm.reporteCompleto" class="">Usuario</th>
							<th ng-if="vm.reporteCompleto" class="">Fecha Asig</th>
							<th ng-if="vm.reporteCompleto" class="">Hora Asig</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="turno in vm.data " class="page">
							<th class="">{{ turno.Hora }}</th>
							<td class="">{{ turno.Tipo }}</td>
							<td class="" style=" font-size: x-small; ">{{ turno.Documento }}</td>
							<td class="nowrap-text">{{ turno.Paciente}}</td>
							<td class="" style="font-size: xx-small;">{{ turno.Mutual | limitTo: 15}}</td>
							<td class="" style="font-size: xx-small; ">{{ turno.Telefono }}</td>
							<td class="" style="font-size: xx-small; ">{{ turno.EstadoTurno }}</td>
							<td class="" style="font-size: xx-small;">{{ turno.Observaciones}}</td>
							<!-- REPORTE COMPLETO -->
							<td ng-if="vm.reporteCompleto" class="" style="font-size: xx-small; ">{{ turno.TipoTurno }}</td>
							<td ng-if="vm.reporteCompleto" class="" style="font-size: xx-small;">{{ turno.UsuarioAsig}}</td>
							<td ng-if="vm.reporteCompleto" class="" style="font-size: xx-small; ">{{ turno.FechaAsig }}</td>
							<td ng-if="vm.reporteCompleto" class="" style="font-size: xx-small;">{{ turno.HoraAsig}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer>
		<div class="row">
			<div class="col-xs-4">
				<div class="pull-left">Observaciones del Profesional:
				</div>
			</div>
			<div class="col-xs-6">
				{{vm.observaciones}}
			</div>
		</div>
	</sa-modal-footer>
</div>