<div class="row fila"  ng-form="formSaNacionalidad">
	<h4 >
		<!-- <span>Nacionalidades del paciente</span> -->
		<div class="btn-group pull-right">
			<button 
				type="button"
				class="btn btn-default"
				uib-tooltip="Nuevo"
				name="new"
				id="sa-nacionalidad-nuevo-btn"
				ng-disabled="btnNewDisabled"
				ng-if="btnNewIf"
				ng-click="btnNewClick()">
				<sa-icon name="NEW"></sa-icon>
			</button>
		</div>
	</h4>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
		<table class="table table-hover" id="sa-nacionalidad-table">
			<thead>
				<tr></tr>
				<tr class="cabecera-tabla">
					<th class="text-center">Nacionalidad</th>
					<th class="text-center">Tipo de Nacionalidad</th>
					<th class="text-center" ng-if="eventChange">Defecto</th>
					<th class="text-center" class="text-center"
						ng-if="btnDeleteIf">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nacionalidad in model"context-menu="menuOptions">
					<td class="text-center">{{ nacionalidad.PaisNombre || 'S/Datos' }}</td>
					<td class="text-center">{{ nacionalidad.TipoNacionalidadNombre || 'S/Datos' }}</td>
					<td class="text-center">
						<sa-check-box ng-model="nacionalidad.Defecto"
							color="blue"
							id-element="defecto_nacionalidad_{{$index}}"
							ng-disabled="nacionalidad.Defecto"
							ng-change="eventChange(nacionalidad)">
						</sa-check-box>
					</td>
					<td class="text-center">
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Anular" tooltip-placement="top"
							id="btn_delete_nacionalidad_{{$index}}"
							ng-if="btnDeleteIf"
							ng-click="btnDeleteClick($index)">
							<sa-icon name="DEL"></sa-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-hide="model.length" class="text-error text-center">No tiene nacionalidad cargados</div>		
	</div>
</div>