<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}" btn-print-click="vm.imprimirLote(vm.loteLista)"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">

		<form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label for="usuario">Usuario</label>
                    <input type="string" id="usuario" name="usuario" ng-model="vm.usuarioActual" max="" ng-disabled="1"
                    sa-enter>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label for="numeroLote">Nro de Lote</label>
					<input type="number" id="numeroLote" name="numeroLote" ng-model="vm.numeroLote" min="0"
						sa-enter>
                </div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
                    <button type="button" sa-btn-ok class="btn-row btn-block" ng-click="vm.receptarLote()" sa-punto-click="" ng-disabled="vm.tieneRegistros()"
                        sa-enter>Receptar lote</button>
               </div>

            </div>
		</form>

        <div class="col-xs-12">
            <div class="row">

                <div class="col-xs-12">

                            <table class="table " id="internados_table" ng-show="vm.loteLista">
                                <thead>
                                    <tr class="cabecera-tabla">
                                        <th class="text-left">Nro Definitivo</th>
                                        <th class="text-left">Fecha</th>
                                        <th class="text-left">Financiador</th>
                                        <th class="text-left">Servicio</th>
                                        <th class="text-left">Tipo Afiliado</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <!-- BODY -->
                                <tbody ng-show="vm.loteLista" ng-repeat="lote in vm.loteLista.Items.Rows">
                                    <tr>

                                        <th >
                                            {{ lote.NroDefinitivo}}</th>
                                        <th >
                                            {{ lote.Fecha | date:'dd/MM/yyyy'}}</th>
                                        <th >
                                            {{ lote.Financiador}}</th>
                                        <th >
                                            {{ lote.Servicio}}</th>                                        
                                        <th >
                                            {{ lote.TipoAfiliado}}</th>

                                            <td class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar Definitivo" tooltip-placement="top" 
                                                        ng-click="vm.editarDefinitivo(lote)">
                                                       <sa-icon name="EDIT"></sa-icon>
                                                </button>
                                                <button type="button" class="btn btn-white btn-xs" uib-tooltip="Imprimir Definitivo" tooltip-placement="top" 
                                                    ng-click="vm.imprimirDefinitivo(lote)">
                                                       <sa-icon name="PRINT"></sa-icon>
                                                </button>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                </div>
    </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>
