<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<label >Nombre completo</label>
		<div ng-bind="model.name"></div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<label >Nombre de usuario</label>
		<div>
			 
			<span ng-bind="model.userName"></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<label >Contraseña de usuario</label>
		<div>
			<button class="btn btn-success btn-sm" 
			ng-click="changePassword(model.userName)"
			ng-disabled="false">Modificar</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<label >Legajo/Matrícula</label>
		<div ng-if="model.employeeId" ng-bind="model.employeeId"></div>
		<div ng-if="!model.employeeId" >Sin Datos</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="debug">
		<label class="label-control">Roles</label>
		<ul>
			<li ng-repeat="rol in model.roles">{{ rol }}</li>
		</ul>
	</div>
</div>