<sa-modal-header title-name="Lista de Iconos" title-icon="LIST">
</sa-modal-header>
<sa-modal-body>

	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th colspan="3 " class="text-center "></th>
					</tr>
					<!-- <tr class="thead-azul "> -->
					<tr class="cabecera-tabla ">
						<!-- <th class="text-left ">Codigo</th> -->
						<th class="text-center ">ICONO </th>
						<th class="text-center ">USO ICONO </th>
						<th class="text-center ">NOMBRE ICONO </th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="icon in vm.iconos ">
						<td class="text-center">
							<button type="button" class="btn btn-white " >
								<sa-icon name="{{icon.name}}"></sa-icon>
							</button>
						</td>
						<td class="text-center ">{{ icon.name }}</td>
						<td class="text-center ">{{ icon.value }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</sa-modal-body>
<sa-modal-footer>
	<div class="row text-center">
		<input type="submit" class="btn" value="Cerrar" sa-enter ng-click="vm.cancel()" sa-punto-click="vm.cancel()">
	</div>
</sa-modal-footer>