<div class="cuerpo">
	<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
	<form name="formSimulador" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" sa-form-input ng-controller="DatePickerController">
					<label class="control-label">Fecha</label>
					<sa-date-picker model="vm.filter.fecha" disabled="false"></sa-date-picker>
				</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-7 form-group">
				<sa-new-mutual-selector model="vm.filter.mutualElegida"></sa-new-mutual-selector>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
				<sa-plan-mutual ng-model="vm.filter.planElegido" id-mutual="vm.filter.mutualElegida.Id"></sa-plan-mutual>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 form-group">
				<button type="button" class="btn btn-default btn-row" tooltip-placement="top" uib-tooltip="Info Financiador"
					ng-click="vm.formControl.infoFinanciador()" sa-punto-click="vm.formControl.infoFinanciador()" 
					ng-disabled="!vm.filter.mutualElegida.Id" sa-enter>
					<sa-icon name="INFO"></sa-icon>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
				<label class="control-label">Ámbito</label>
				<select class="form-control" id="cmb_Ambito" ng-model="vm.filter.ambito" ng-options="ambito.Nombre for ambito in vm.data.ambitos track by ambito.Id"
				 sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
				<label class="control-label">Sucursal</label>
				<select class="form-control" id="cmb_Sucursal" ng-model="vm.filter.sucursal" ng-options="sucursal.Nombre for sucursal in vm.data.sucursales track by sucursal.Id"
				 sa-enter>
					 <option value="">TODAS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
				<label class="label-control">Servicio</label>
				<select class="form-control" id="cmb_Servicio" ng-model="vm.filter.servicio" ng-options="servicio.Nombre for servicio in vm.data.servicios track by servicio.Id"
				 sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2  form-group">
				<label class="label-control">Tipo Afiliación</label>
				<select class="form-control" id="cmb_TipoAfiliado" ng-model="vm.filter.tipoAfiliado" ng-options="tipoAfiliado.Nombre for tipoAfiliado in vm.data.tiposAfiliado track by tipoAfiliado.Id"
				 sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group">
				<label class="label-control">Sexo Paciente</label>
				<select class="form-control" id="cmb_sexo" ng-model="vm.filter.tipoSexo" ng-options="tipoSexo.Nombre for tipoSexo in vm.data.tiposSexo track by tipoSexo.Id"
					sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group">
				<label class="label-control">Tipo Turno</label>
				<select class="form-control" id="cmb_TipoTurno" ng-model="vm.filter.tipoTurno" ng-options="tipoTurno.Nombre for tipoTurno in vm.data.tiposTurno track by tipoTurno.Id"
					sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-5">
				<sa-matricula-profesional 
					model='vm.data.profesional' title='Profesional' mostrarlabelnombre='true' 
					mostrarlabelmatricula='true' tooltip='Buscar profesional'></sa-matricula-profesional>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group">
				<label class="label-control">Condición Medica</label>
				<select class="form-control" id="cmb_condicionMedica" ng-model="vm.filter.condicionMedica" ng-options="condicionMedica.Nombre for condicionMedica in vm.data.condicionesMedicas track by condicionMedica.Id"
					sa-enter>
					<option value="">NINGUNO</option>
				</select>
			</div>

		</div>
		<div class="row">			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group">
                <sa-prestacion-selector model="vm.filter.prestacion"
                id-servicio="vm.filter.servicio ? vm.filter.servicio.Id : 0"
                id-sucursal="vm.filter.sucursal ? vm.filter.sucursal.Id : 0">
				</sa-prestacion-selector>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 form-group">
				<sa-codigo-nomenclador-selector
					label-codigo="CN"
					label-nombre="Seleccionar CN"
					model="vm.filter.codigoNomenclador"></sa-codigo-nomenclador-selector>
				</sa-codigo-nomenclador-selector>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
				<label class="label-control" >Tipo Consecuencia</label>
				<select class="form-control color-info" id="cmb_TipoConsecuencia" ng-model="vm.filter.tipoConsecuencia" 
				ng-options="tipoConsecuencia.Nombre for tipoConsecuencia in vm.data.tiposConsecuencia track by tipoConsecuencia.Id"
					sa-enter>
				</select>
			</div>
		</div>
	</form>
	<div class="row col-xs-12 col-sm-6 col-md-4 col-lg-12">
		<div class="pull-right">
			<button class="btn btn-default  form-group" ng-click="vm.formControl.evaluar()" sa-punto-click="vm.formControl.evaluar()"
			 type="submit" sa-enter>
				Evaluar
			</button>
			<!-- <button class="btn btn-cancelar form-group" ng-click="vm.formControl.volver()" sa-punto-click="vm.formControl.volver()" sa-enter>
				Volver
			</button> -->
		</div>
	</div>
	<div class="row" ng-if="!vm.formControl.loading">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
			<label for="txtResultado">Resultado:</label>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
			<textarea class="form-control" id="txtResultado" ng-model="vm.data.resultado" rows="3" cols="160">
			</textarea>
		</div>
	</div>
	<div class="row" ng-if="!vm.formControl.loading">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
			<label class="text-right">Explicación:</label>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
			<container ng-bind-html="vm.data.explicacion"></container>
		</div>
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
</div>