	<sa-title
	title-name="vm.title.page"
	title-icon="EDIT"
	></sa-title>

<form name="formFeriadoEdit" accept-charset="utf-8" novalidate>
	
	<div class="cuerpo" ng-hide="vm.formControl.loading">
		<div class="row fila">
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 ">

				<div class="row">
					
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 ">
							<label class="control-label">Fecha</label>
							<!-- <sa-date-picker model="vm.data.fecha"
							min-date="vm.today"
							sa-enter>
							</sa-date-picker> -->
							<sa-date-time-picker ng-model="vm.data.fecha" id="3" type="date" min="vm.today">
							</sa-date-time-picker>
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
							<sa-check-box label="Todo el dia" ng-model="vm.data.esTodoElDia" ng-change="vm.formControl.setearHoraParcial()"
							color="green">
							</sa-check-box>
						</div>
					
				</div>
					
				
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" ng-show="!vm.data.esTodoElDia">

				<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
						<label>Hora Desde</label>
						<!-- <sa-time-picker
						name="horaAlta"
						model="vm.data.horaDesde"
						required="true">
						</sa-time-picker> -->
						<sa-date-time-picker ng-model="vm.data.horaDesde" id="4" type="time" > 
						</sa-date-time-picker>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
						<label>Hora Hasta</label>
						<!-- <sa-time-picker
						name="horaAlta"
						model="vm.data.horaHasta"
						required="true">
						</sa-time-picker> -->
						<sa-date-time-picker ng-model="vm.data.horaHasta" id="5" type="time" ng-disabled="true" > 
						</sa-date-time-picker>
					</div>
				</div>
				
				
			</div>
			<div class="col-lg-12">
				<sa-check-box label="Excepciones" ng-model="vm.formControl.chboxExcepciones" ng-change="vm.formControl.setearHoraParcialExcepcion()"
				color="green">
				</sa-check-box>
			</div>
			
			
		</div>

		<div class="row fila" ng-if="vm.formControl.chboxExcepciones">
			<h4 class="ng-binding">Agregar Excepción</h4>
			<div class="form-group ">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 " >
					<sa-sucursal-combo-filtrado
					ng-model="vm.data.sucursal"
					todas="false"
					required>
					</sa-sucursal-combo-filtrado>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
						<sa-selector-servicio-medico ng-disabled="!vm.data.sucursal"
						ng-model="vm.data.servicio" solo-visibles-turnos="true"  idsucursal="vm.data.sucursal.Id">
						</sa-selector-servicio-medico>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 " >
					<sa-selector-recurso ng-model="vm.data.recurso"
					
					idservicio="vm.data.servicio" buscador-recurso-en-servicios-if="true"
					ng-disabled="!vm.data.servicio || !vm.data.sucursal"
					>
					</sa-selector-recurso>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 " ng-show="vm.data.sucursal">
					<sa-check-box label="Trabaja Normalmente" ng-model="vm.data.trabajanormal"
					color="green">
					</sa-check-box>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-8" ng-show="!vm.data.trabajanormal && vm.data.sucursal">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 " >
						<label>
								<strong>Considerar feriado:</strong>
						</label>
						<sa-check-box label="Todo el dia" ng-model="vm.data.trabajanormalExcepcion" ng-change="vm.formControl.setearHoraParcialExcepcion()"
						color="green">
						</sa-check-box>
						
					</div>
					
					<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 " ng-show="!vm.data.trabajanormalExcepcion">
						<label>Hora Desde</label>
						<!-- <sa-time-picker
						name="horaAlta"
						model="vm.data.horaDesdeExcepcion"
						required="true">
						</sa-time-picker> -->
						<sa-date-time-picker ng-model="vm.data.horaDesdeExcepcion" id="1" type="time" required> 
						</sa-date-time-picker>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 " ng-show="!vm.data.trabajanormalExcepcion">
						<label>Hora Hasta</label>
						<!-- <sa-time-picker
						name="horaAlta"
						model="vm.data.horaHastaExcepcion"
						required="true">
						</sa-time-picker> -->
						<sa-date-time-picker ng-model="vm.data.horaHastaExcepcion" id="2" type="time" required ng-disabled="true"> 
						</sa-date-time-picker>
					</div>
					
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="btn-group pull-right">
						<button class="btn btn-default" ng-disabled="!vm.data.sucursal"
						uib-tooltip="Agregar Item"
						name="new"
						ng-click="vm.formControl.agregarItemExcepcion()">
						<sa-icon name="NEW"></sa-icon>
						</button>
						<button class="btn btn-default"
						uib-tooltip="Limpiar Lista"
						name="restart"
						ng-click="vm.formControl.limpiarListaExcepcion()">
						<sa-icon name="DEL"></sa-icon>
						</button>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row fila" ng-show="vm.data.feriado.Excepciones.length != 0">
			<h4 class="ng-binding">Lista Excepciones</h4>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<table class="table table-hover table-condensed table-bordered" id="lista_items">
					<thead>
						<tr class="cabecera-tabla">
							<th class="text-center" ng-click="vm.sort('Sucursal')">
								Sucursal
								<span class="glyphicon sort-icon" ng-show="sortKey=='Sucursal'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="vm.sort('Servicio')">
								Servicio
								<span class="glyphicon sort-icon" ng-show="sortKey=='Servicio'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="vm.sort('Recurso')">
								Recurso
								<span class="glyphicon sort-icon" ng-show="sortKey=='Recurso'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="vm.sort('Recurso')">
								Desde : Hasta
								<span class="glyphicon sort-icon" ng-show="sortKey=='Recurso'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center"> Acciones
							</th>
						</tr>
					</thead>
					<tbody ng-repeat="item in vm.data.feriado.Excepciones | orderBy:sortKey:reverse|filter:search">
						<tr>
							<td class="row text-center">{{ item.Sucursal}}</td>
							<td class="row text-center">{{ item.Servicio}}</td>
							<td class="row text-center">{{ item.Recurso}}</td>
							<td class="row text-center" ng-bind="vm.formControl.getHoraOk(item)"></td>
							<td class="row text-center" width="80px">
								<button type="button"
								class="btn btn-white btn-xs"
								uib-tooltip="Eliminar"
								uib-tooltip-placement="top"
								ng-click="vm.formControl.eliminarExcepcion(item)">
								<sa-icon name="DEL"></sa-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div class="row" ng-if="vm.filter.feriados.length">
			<div class="col-sm-12">
				<div class="text-center">
					<div uib-pagination 
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged()"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<div class="btn-group ">
			
					<sa-btn-back-directive function-cancel="vm.formControl.cancel()" function-ok="vm.formControl.ok()">
						
					</sa-btn-back-directive>

					<button class="btn btn-default" ng-disabled="vm.formControl.controlSave()"
					ng-click='vm.formControl.ok()'>Guardar</button>
				</div>
			</div>
		</div>
	</div>

</form>
