<sa-title title-name="vm.title.page" title-icon="EDIT"></sa-title>
<form name="formFeriadoEdit" accept-charset="utf-8" novalidate>

	<div class="cuerpo" ng-hide="vm.formControl.loading">

		<div class="row fila">


			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">

				<label class="label-control">Recurso</label>
				<div class="input-group">
					<input name="nombreRecurso" autocomplete="off" type="text" placeholder="Buscar Recurso..." ng-model="vm.data.recurso" uib-typeahead="recurso as recurso.Nombre for recurso in
					vm.data.recursosObtenidos | filter:$viewValue | limitTo:12" class="form-control text-uppercase" typeahead-select-on-exact="true" ng-disabled="true"
					 typeahead-on-select="vm.recurso.recursoSeleccionado()" ng-focus="true">
					<span class="input-group-btn">
						<button class="btn btn-default" uib-tooltip="Buscar" tooltip-placement="top" ng-click="vm.recurso.buscar()" sa-punto-click="vm.recurso.buscar()"
						 sa-enter ng-disabled="true">
							<sa-icon name="SEARCH"></sa-icon>
						</button>
						<button class="btn btn-default" uib-tooltip="Limpiar" tooltip-placement="top" ng-disabled="true"
						 ng-click="vm.recurso.limpiarDatosRecurso()" sa-punto-click="vm.recurso.limpiarDatosRecurso()" sa-enter>
							<sa-icon name="DEL"></sa-icon>
						</button>

					</span>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">

				<label class="label-control">Servicio</label>
				<div class="input-group">
					<input name="busquedaServicio" autocomplete="off" uib-tooltip="Servicio Medico" tooltip-placement="top" tooltip-enable="ifTooltip"
					 id="busquedaServicio" type="text" placeholder="Buscar servicio..." ng-model="vm.data.servicio"
					 uib-typeahead="servicio as servicio.Nombre for servicio in
					vm.data.serviciosObtenidos | filter:$viewValue | limitTo:12" class="form-control text-uppercase" typeahead-select-on-exact="true"
					 typeahead-on-select="vm.servicio.servicioSeleccionado()" ng-focus="true" ng-disabled="true">
					<span class="input-group-btn">
						<button class="btn btn-default" uib-tooltip="Buscar" tooltip-placement="top" ng-disabled="true"
						 ng-click="buscar()" sa-punto-click="buscar()" sa-enter>
							<sa-icon name="SEARCH"></sa-icon>
						</button>
						<button class="btn btn-default" uib-tooltip="Limpiar" tooltip-placement="top" ng-disabled="true"
						 ng-click="limpiarDatos()" sa-punto-click="limpiarDatos()" sa-enter>
							<sa-icon name="DEL"></sa-icon>
						</button>

					</span>
				</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2  form-group">
				<label class="label-control">Sucursal</label>
				<select class="form-control" id="cmb_sucursal" ng-model="vm.data.sucursal" ng-options="sucursal as sucursal.Nombre for sucursal in vm.data.sucursales track by sucursal.Id"
				 ng-disabled="!vm.data.servicioSeleccionado" ng-change="vm.formControl.cambioSucursal()" sa-enter>
				</select>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2  form-group" ng-if="vm.data.recurso.IdTipoRecurso == 2 || vm.data.recurso.IdTipoRecurso == 3">
				<label class="label-control">Profesionales</label>
				<select class="form-control" id="cmb_profesional" ng-model="vm.data.profesional" ng-options="profesional as profesional.Nombre for profesional in vm.data.profesionales track by profesional.Id"
				 ng-disabled="!vm.data.servicioSeleccionado" sa-enter>
					<option value="">Seleccionar</option>
				</select>
			</div>
   
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2   form-group">
						<label class="label-control">Fecha Desde</label>
						<!-- <sa-date-picker model="vm.data.fechaDesde" min-date="vm.today">
						</sa-date-picker> -->
						<sa-date-time-picker ng-model="vm.data.fechaDesde" id="1" type="date" ng-change="vm.formControl.changeFechaDesde()">
						</sa-date-time-picker>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2   form-group">
						<label class="label-control">Fecha Hasta</label>
						<!-- <sa-date-picker model="vm.data.fechaHasta" min-date="vm.data.fechaDesde">
						</sa-date-picker> -->
						<sa-date-time-picker ng-model="vm.data.fechaHasta " id="2" type="date" min="vm.fechadesdeMin">
						</sa-date-time-picker>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2  form-group">
						<label class="label-control">Motivo:</label>
						<select class="form-control" id="cmb_motivo" ng-model="vm.data.motivo" ng-options="motivo.Nombre for motivo in vm.data.motivos track by motivo.Id"
						 sa-enter>
							<option value="">Seleccionar</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  form-group">
						<label class="label-control">Observación:</label>
						<!-- <textarea rows="3" class="form-control" id="observacion" required="vm.data.observacionRequerida" name="observacion" ng-model="vm.data.Observacion"
						 maxlength="200" sa-enter>
						</textarea> -->
						<textarea rows="5" class="form-control" ng-model="vm.data.Observacion" required="vm.data.observacionRequerida" ></textarea>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2  ">
						<sa-check-box label="Todos los días de la semana" ng-model="vm.data.todosLosDias" color="green">
						</sa-check-box>

					</div>

				</div>
			</div>


		</div>

		<div class="row fila" ng-show="!vm.data.todosLosDias">

			<h4 class="ng-binding">Agregar dias de la semana específicos</h4>
			<div class="form-group ">
				<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  ">
					<label class="label-control">Dia</label>
					<select class="form-control" id="cmb_diaSemana" ng-model="vm.data.diaSemana" ng-options="diaSemana.Nombre for diaSemana in vm.data.diasSemana track by diaSemana.Id"
					 sa-enter>
					 <option value="">--SELECCIONAR--</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-1 col-lg-1  ">
					<sa-check-box label="Día Completo" ng-model="vm.data.diaCompleto" color="green">
					</sa-check-box>

				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-5" ng-if="!vm.data.diaCompleto">

					<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
						<label class="label-control">Hora Desde</label>
						<sa-time-picker model="vm.data.horaDesde"></sa-time-picker>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
						<label class="label-control">Hora Hasta</label>
						<sa-time-picker model="vm.data.horaHasta"></sa-time-picker>
					</div>
				</div> -->


					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
						<label class="label-control">Hora Desde</label>
						<sa-date-time-picker ng-model="vm.data.horaDesde " id="3" type="time">
						</sa-date-time-picker>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  ">
						<label class="label-control">Hora Hasta</label>
						<sa-date-time-picker ng-model="vm.data.horaHasta " id="4" type="time" >
						</sa-date-time-picker>
					</div>

				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 btn-row">
					<label class="label-control">&nbsp;</label>
					<button class="btn btn-default" uib-tooltip="Agregar Dia Especifico" tooltip-placement="top" 
					 ng-click="vm.formControl.agregarItem()" sa-enter>
						<sa-icon name="NEW"></sa-icon>
					</button>
				</div>
			</div>

		</div>

		<div class="row fila" ng-show="vm.data.receso.Items.length > 0">
			<h4 class="ng-binding">Lista de Dias Afectados</h4>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
				<table class="table table-hover table-condensed table-bordered" id="lista_items">
					<thead>
						<!-- <tr class="thead-azul"> -->
						<tr class="cabecera-tabla">
							<th class="text-center" ng-click="vm.sort('Dia')">
								Dia
								<span class="glyphicon sort-icon" ng-show="sortKey=='Dia'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="vm.sort('HoraDesde')">
								Hora Desde
								<span class="glyphicon sort-icon" ng-show="sortKey=='HoraDesde'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="vm.sort('HoraHasta')">
								Hora Hasta
								<span class="glyphicon sort-icon" ng-show="sortKey=='HoraHasta'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center">
								Acciones
							</th>
						</tr>
					</thead>
					<tbody ng-repeat="item in vm.data.receso.Items track by $index">
						<tr>
							<td class="row text-center">{{ item.DiaSemana}}</td>
							<td class="row text-center">{{ item.HoraDesde}}</td>
							<td class="row text-center">{{ item.HoraHasta}}</td>
							<td class="row text-center" width="80px">
								<button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top" ng-click="vm.formControl.eliminarItem(item)">
									<sa-icon name="DEL"></sa-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="row fila">
			<div class="text-center">
				<div class="btn-group ">
					<button class="btn btn-cancel" ng-click="vm.formControl.cancel()">
						<!-- <span ng-if="!formSolicitud.$pristine">Cancelar</span>
					<span ng-if="formSolicitud.$pristine">Volver</span> -->
						<span>Volver</span>
					</button>
					<button class="btn btn-default" ng-click='vm.formControl.ok()'>Guardar</button>
				</div>
			</div>
		</div>

	</div>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>