<sa-modal-header title-name="{{vm.titulo}}" title-icon="CAM" loading="vm.loading">
</sa-modal-header>
<sa-modal-body loading="vm.loading">

	<div class="row">
		<div class="col-xs-12">
			<sa-bar-code-scanner scan-result="vm.scanResult(pObject)" type-scan="vm.typeOfScan"></sa-bar-code-scanner>
		</div>
	</div>

</sa-modal-body>

<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.cancel()">Cancelar</button>
</sa-modal-footer>
