<div class="col-xs-12 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr></tr>
            <tr class="cabecera-tabla">
                <th class="text-center">Grupo Prestación N°</th>
                <th class="text-center">Nombre Grupo Prestación</th>
                <th class="text-center" ng-if="viewSeleccionarIf">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prestacion in filter.prestaciones">
                <td class="text-center" ng-bind="prestacion.Id"></td>
                <td class="text-center" ng-bind="prestacion.Nombre"></td>
                <td class="text-center" ng-if="viewSeleccionarIf">
                    <sa-check-box ng-model="prestacion.status" color="green" ng-change="changeChk(prestacion)">
                    </sa-check-box>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <div uib-pagination items-per-page="paginacionPrestacion.pageSize" total-items="paginacionPrestacion.totalItems" ng-model="paginacionPrestacion.currentPage"
                ng-change="paginacionPrestacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;">
            </div>
        </div>
    </div>
</div>

</div>
<div ng-if="model.length == 0">
    <h2>Sin Datos</h2>
</div>