<div class="row">
	
	<div class="col-xs-12">
		<div class="row">

			<div class="col-xs-12">
				<label class="label-control">Prestaciones/Procedimiento</label>
				<div class="input-group">
					<input type="text" placeholder="Prestaciones/Procedimiento" class="form-control text-capitalize"
						id="nombrePrestacion"
						name="nombrePrestacion"
						ng-maxlength="200"
						ng-readonly="true"
						ng-model="filter.nombrePrestacion"
						min = "0"
						ng-click ="buscar()"
						sa-enter
						autofocus>
					<span class="input-group-btn">
						<button class="btn btn-default"
						uib-tooltip="Buscar"
						tooltip-placement="top"
						ng-click ="buscar()"
						sa-punto-click ="buscar()"
						sa-enter>
						<sa-icon name="SEARCH"></sa-icon>
						</button>
						<button class="btn btn-default btn-loading"
						uib-tooltip="Limpiar"
						tooltip-placement="top"
						ng-click ="limpiarDatos()"
						sa-punto-click ="limpiarDatos()"
						sa-enter>
						<sa-icon name="DEL"></sa-icon>
						</button>
						
					</span>
				</div>
			</div>
		</div>
	</div>
</div>