<div ng-if="model.length != 0">
	
	<!-- <div class="col-xs-12" ng-if="filter.prestaciones">
		
		<fw-table-container>
		
			<fw-table-config
				sortable="true"
				paginable="true"
				filtrable="true">
			</fw-table-config>
			
			<fw-table-columnset>
				<fw-table-column field="'Id'" label="'Prestacion N°'" class-col="'text-center'">
				</fw-table-column>
			
				<fw-table-column field="'Nombre'" class-col="'text-center'" label="'Nombre Prestacion'">
				</fw-table-column>

				<fw-table-column field="'Activo'" class-col="'text-center'" format="'boolean'">
				</fw-table-column>

			</fw-table-columnset>

			<fw-table-buttonset>
				
				<fw-table-button visible="btnEditIf" label="'Editar'" icon="'EDIT'" action="btnEditClick({row:row, index:index})">
				</fw-table-button>
				<fw-table-button visible="btnDeleteIf" label="'Borrar'" icon="'DEL'" action="btnDeleteClick({row:row, index:index})">
				</fw-table-button>
				<fw-table-button visible="btnViewIf" label="'Ver'" icon="'EYE_OPEN'" action="btnViewClick({row:row, index:index})">
				</fw-table-button>
				
			</fw-table-buttonset>

			<fw-table-rowset data="filter.prestaciones">
			</fw-table-rowset>
			
			<fw-table-sorting></fw-table-sorting>
			<fw-table-filter></fw-table-filter>
			<fw-table-pagination page-size="10"></fw-table-pagination>

			<fw-table></fw-table>

		</fw-table-container> 
	</div> -->

	
	<div class="col-xs-12 table-responsive">
		<table class="table table-hover">
			<thead>
				<tr></tr>
				<tr class="cabecera-tabla">
					<th class="text-center">Prestación N°</th>
					<th class="text-center">Nombre Prestación</th>
					<th class="text-center" ng-if="viewEstadoIf">Estado</th>
					<th class="text-center" ng-if="viewAccionesIf">Acciones</th>
					<th class="text-center" ng-if="viewSeleccionarIf">Seleccionar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="prestacion in filter.prestaciones">
					<td class="text-center" ng-bind="prestacion.Id"></td>
					<td class="text-center" ng-bind="prestacion.Nombre"></td>
					<td class="col-sm-1" ng-if="viewEstadoIf">
						<div class="circulito"
							ng-class="getCol(prestacion.Activo)"
							>
						</div>
					</td>
					
					<td class="text-center" ng-if="viewAccionesIf">
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Ver" tooltip-placement="top"
							ng-if="btnViewIf"
							ng-disabled="btnViewDisabled"
							ng-click="btnViewClick({pPrestacion:prestacion})">
							<sa-icon name="EYE_OPEN"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Editar" tooltip-placement="top"
							ng-if="btnEditIf"
							ng-disabled="btnEditDisabled"
							ng-click="btnEditClick({pPrestacion:prestacion})">
							<sa-icon name="EDIT"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Asignar Prestacion" tooltip-placement="top"
							ng-if="btnAsignarIf"
							ng-disabled="btnAsignarDisabled"
							ng-click="btnAsignarClick({pPrestacion:prestacion})">
							<sa-icon name="UP2"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Activar/Desactivar" tooltip-placement="top"
							ng-if="btnDesactivarIf"
							ng-disabled="btnDesactivarDisabled"
							ng-click="btnDesactivarClick({pPrestacion:prestacion})">
							<sa-icon name="OFF"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Borrar" tooltip-placement="top"
							ng-if="btnDeleteIf"
							ng-disabled="btnDeleteDisabled"
							ng-click="btnDeleteClick({pPrestacion:prestacion})">
							<sa-icon name="DEL"></sa-icon>
						</button>
					</td>

					<td class="text-center" ng-if="viewSeleccionarIf">
						<sa-check-box ng-model="prestacion.status" color="green"
						ng-change="changeChk(prestacion)">
						</sa-check-box>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<div uib-pagination  items-per-page="paginacionPrestacion.pageSize" total-items="paginacionPrestacion.totalItems" ng-model="paginacionPrestacion.currentPage"
					 ng-change="paginacionPrestacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
					</div>
				</div>
			</div>
		</div>
	
</div>
<div ng-if="model.length == 0">
	<h2>Sin Datos</h2>
</div>