<sa-modal-header title-name="Facturar/Devolver Indicación Médica Pendiente de {{vm.internado.NombreYApellidoInternado}} - Nro. Internado: {{vm.internado.NumeroInternado}}"
    title-icon="CHECK" loading="vm.loading">
</sa-modal-header>
<sa-modal-body loading="vm.loading">


	<div class="row fila">
		<div class="col-xs-12" ng-show="vm.itemsFacturarDevolver.Ejecuciones.length > 0">
			<h2>
				<strong>Ejecuciones</strong>
			</h2>
			<table class="table color-verde-pastel-prefactura">
				<thead class="levelTwo">
					<tr></tr>
					<tr class="cabecera-tabla-celeste">
						<th>Producto</th>
						<th>Fecha Programada</th>
						<th>Fecha Ejecución</th>
						<th>Cant. Cargada</th>
						<th>Cant. Entregada</th>
						<th>Facturación</th>
						<th>Ejecución</th>
						<th>Facturar</th>
						<th>Devolver</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ejecucion in vm.itemsFacturarDevolver.Ejecuciones">
						<td>{{ejecucion.Producto}}</td>
						<td ng-bind="ejecucion.FechaProgramada | date : 'dd/MM/yyyy HH:ss'"></td>
						<td>{{ejecucion.FechaEjecucion | date : 'dd/MM/yyyy HH:ss'}}</td>
						<td ng-bind="ejecucion.CantidadCargada"></td>
						<td ng-bind="ejecucion.CantidadEntregada"></td>
						<!-- <td ng-bind="ejecucion.EstadoFacturacion.Nombre"></td> -->
					
						<td class="row text-center" ng-class="{'color-row-deshabilitado': ejecucion.EstadoIndicacion.Id == 2 }">
							<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="ejecucion.EstadoFacturacion.Id == 1"
							 style=" color: red; " uib-tooltip="{{ejecucion.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_facturado" class="btn btn-white " ng-if="ejecucion.EstadoFacturacion.Id == 2"
							 style=" color: green; " uib-tooltip="{{ejecucion.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="ejecucion.EstadoFacturacion.Id == 3"
							 style=" color: darkgoldenrod; " uib-tooltip="{{ejecucion.EstadoFacturacion.Nombre}}"
							 uib-tooltip-placement="top">
								<sa-icon name="REPLY" class="fa-1-3x"></sa-icon>
							</button>
						</td>
					
						<!-- <td ng-bind="ejecucion.EstadoEjecucion.Nombre"></td> -->
						<td class="row text-center" ng-class="{'color-row-deshabilitado': ejecucion.EstadoIndicacion.Id == 2 }">
							<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 1"
							 uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="CLOCK" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_facturado" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 2"
							 style=" color: green; " uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="CHECK" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 3"
							 tyle=" color: red; " uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="DEL" class="fa-1-3x"></sa-icon>
							</button>
						</td>


						<td class="text-center">
							<label class="material-checkbox" ng-if="ejecucion.PuedeFacturar">
								<input type="checkbox" ng-model="ejecucion.Facturar" ng-change="vm.changeCheckAccion(ejecucion, 1)">
								<span></span>
							</label>
						</td>
						<td class="text-center">
							<label class="material-checkbox" ng-if="ejecucion.PuedeDevolver">
								<input type="checkbox" ng-model="ejecucion.Devolver" ng-change="vm.changeCheckAccion(ejecucion, 2)">
								<span></span>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="vm.itemsFacturarDevolver.Ejecuciones.length == 0">
			<label>No hay EJECUCIONES...</label>
		</div>
	</div>

	<!-- mostramos los DESCARTABLES para las DOSIFICACIONES (vm.itemsFacturarDevolver.TipoIndicacion.Id == 1) -->
	<div class="row fila" style="margin-bottom: 20px;">
		<div class="col-xs-12">
			<h2>
				<strong>Descartables</strong>
			</h2>
			<table class="table color-aquaorange-turno" ng-show="vm.itemsFacturarDevolver.Descartables.length > 0">
				<thead class="levelTwo">
					<tr></tr>
					<tr class="cabecera-tabla-celeste">
						<th>Producto</th>
						<th>Cant. Cargada</th>
						<th>Cant. Entregada</th>
						<th>Facturacion</th>
						<th>Facturar</th>
						<th>Devolver</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="descartable in vm.itemsFacturarDevolver.Descartables">
						<td>{{descartable.Producto.CodigoStockeable}} - {{descartable.Producto.NombreStockeable}} - {{descartable.Producto.PresentacionStockeable}}</td>
						<td ng-bind="descartable.CantidadCargada"></td>
						<td ng-bind="descartable.CantidadEntregada"></td>
						<!-- <td ng-bind="descartable.EstadoFacturacion.Nombre"></td> -->

						<td class="row text-center" ng-class="{'color-row-deshabilitado': descartable.EstadoIndicacion.Id == 2 }">
							<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="descartable.EstadoFacturacion.Id == 1"
							 style=" color: red; " uib-tooltip="{{descartable.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_facturado" class="btn btn-white " ng-if="descartable.EstadoFacturacion.Id == 2"
							 style=" color: green; " uib-tooltip="{{descartable.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="descartable.EstadoFacturacion.Id == 3"
							 style=" color: darkgoldenrod; " uib-tooltip="{{descartable.EstadoFacturacion.Nombre}}"
							 uib-tooltip-placement="top">
								<sa-icon name="REPLY" class="fa-1-3x"></sa-icon>
							</button>
						</td>

						<td class="text-center">
							<label class="material-checkbox" ng-if="descartable.PuedeFacturar">
								<input type="checkbox" ng-model="descartable.Facturar" ng-change="vm.changeCheckAccion(descartable,1)">
								<span></span>
							</label>
						</td>
						<td class="text-center">
							<label class="material-checkbox" ng-if="descartable.PuedeDevolver">
								<input type="checkbox" ng-model="descartable.Devolver" ng-change="vm.changeCheckAccion(descartable, 2)">
								<span></span>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="vm.itemsFacturarDevolver.Descartables.length == 0">
				<label>No hay DESCARTABLES...</label>
			</div>
		</div>
	</div>



	<!-- mostramos los AGREGADOS para las INFUSIONES (vm.itemsFacturarDevolver.TipoIndicacion.Id == 2) -->
	<div class="row fila" style="margin-bottom: 20px">
		<div class="col-xs-12">

			<h2>
				<strong>Agregados</strong>
			</h2>
			<table class="table color-celeste-pastel-prefactura" ng-show="vm.itemsFacturarDevolver.Agregados.length > 0">
				<thead class="levelTwo">
					<tr></tr>
					<tr class="cabecera-tabla-celeste">
						<th>Producto</th>
						<th>Unidad</th>
						<th>Suspendido</th>
						<th>Cantidad</th>
						<th>Cant. Cargada</th>
						<th>Cant. Entregada</th>
						<th>Facturación</th>
						<th>Farmacia</th>
						<th>Facturar</th>
						<th>Devolver</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="agregado in vm.itemsFacturarDevolver.Agregados">
						<td>{{agregado.Producto.CodigoStockeable}} - {{agregado.Producto.NombreStockeable}} - {{agregado.Producto.PresentacionStockeable}}</td>
						<td ng-bind="agregado.Unidad"></td>
						<td>{{ agregado.EstaSuspendido ? 'SI' : '-'}}</td>
						<td ng-bind="agregado.Cantidad"></td>
						<td ng-bind="agregado.CantidadCargada"></td>
						<td ng-bind="agregado.CantidadEntregada"></td>

						<!-- <td ng-bind="agregado.EstadoFacturacion.Nombre"></td> -->
						<td class="row text-center" ng-class="{'color-row-deshabilitado': agregado.EstadoIndicacion.Id == 2 }">
							<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="agregado.EstadoFacturacion.Id == 1"
							 style=" color: red; " uib-tooltip="{{agregado.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_facturado" class="btn btn-white " ng-if="agregado.EstadoFacturacion.Id == 2"
							 style=" color: green; " uib-tooltip="{{agregado.EstadoFacturacion.Nombre}}" uib-tooltip-placement="top">
								<sa-icon name="PESOS" class="fa-1-3x"></sa-icon>
							</button>
							<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="agregado.EstadoFacturacion.Id == 3"
							 style=" color: darkgoldenrod; " uib-tooltip="{{agregado.EstadoFacturacion.Nombre}}"
							 uib-tooltip-placement="top">
								<sa-icon name="REPLY" class="fa-1-3x"></sa-icon>
							</button>
						</td>
						
						<td ng-bind="agregado.EstadoFarmacia.Nombre"></td>

						
						<td class="text-center">
							<label class="material-checkbox" ng-if="agregado.PuedeFacturar">
								<input type="checkbox" ng-model="agregado.Facturar" ng-change="vm.changeCheckAccion(agregado, 1)">
								<span></span>
							</label>
						</td>
						<td class="text-center">
							<label class="material-checkbox" ng-if="agregado.PuedeDevolver">
								<input type="checkbox" ng-model="agregado.Devolver" ng-change="vm.changeCheckAccion(agregado, 2)">
								<span></span>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="vm.itemsFacturarDevolver.Agregados.length == 0">
				<label>No hay AGREGADOS...</label>
			</div>
		</div>
	</div>


</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar">
	<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()">
</sa-modal-footer>
