<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formRequisitos" accept-charset="utf-8" novalidate>
		<sa-modal-header
			title-name="{{vm.title.name}}"
			title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
						<div class="table-responsive">
							<table class="table table-hover table-condensed table-bordered">
								<thead>
									<tr class="cabecera-tabla">
										<th class="text-left">Requerido</th>
										<th class="text-left">Nombre</th>
										<th class="text-left">Texto</th>
										<th class="text-center">Información</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="requisito in vm.data.listaRequisitos | orderBy: 'IdTipoRequisitoAdministrativo'" ng-dblclick="vm.formControl.requisitoSeleccion(requisito)">
										<td class="row text-center">
											<input type="radio" 
											ng-checked="requisito.Seleccionado" 
											ng-click="vm.formControl.requisitoSeleccion(requisito)" 
											sa-punto-click="vm.formControl.requisitoSeleccion(requisito)"
											sa-enter/>
										</td>
										<td class="text-left" >{{requisito.Nombre}}</td>
										<!-- uib-tooltip="{{requisito.Descripcion}}"  noresize-->
										<td class="text-left">
											<textarea name="textoInformativo" class="form-control" ng-if="requisito.IdTipoRequisitoAdministrativo == vm.TIPO_REQUISITO.TEXTO_INFORMATIVO" ng-model="requisito.TextoInformativo" ng-disabled="!requisito.Seleccionado"></textarea>
										</td>
										<td class="text-center"><i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="{{requisito.Descripcion}}"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit"
				class="btn"
				value="Cancelar"
				sa-enter
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Aceptar"
				class="btn btn-default"
				ng-disabled="vm.filter.puedeGuardar <= 0"
				sa-punto-click="vm.formControl.guardar(formCondicion.$valid)"
				ng-click="vm.formControl.guardar(formCondicion.$valid)"
				sa-enter>
		</sa-modal-footer>
	</form>
</div>