<sa-modal-header
	title-name="{{vm.cuestionario.Nombre}}"
	title-icon="LIST">
</sa-modal-header>
<sa-modal-body>
	<div class="row" ng-if="vm.extraInfo">
		<div class="col-xs-12 text-center">
			<h4>{{vm.extraInfo}}</h4>
		</div>
	</div>
	<div class="row" ng-repeat="pregunta in vm.cuestionario.Items">
		
		<sa-cuestionario-item pregunta="pregunta" update="vm.update()">
		</sa-cuestionario-item>

	</div>
</sa-modal-body>
<div class="modal-footer" >
	<button type="button"
			ng-if="vm.modal"
			class="btn btn-cancelar"
			ng-disabled=""
			ng-click="vm.cancel()">Cancelar</button>
	<button type="button"
			class="btn btn-default"
			ng-disabled="formControl.loading || vm.faltanRespuestas"
			ng-click="vm.ok()">Aceptar</button>
</div>
<!-- <sa-modal-footer>
	<button type="button" class="btn btn-default"
		ng-click="vm.ok()">Aceptar</button>
	<button type="button" class="btn btn-default"
		ng-click="vm.cancel()">Cancelar</button>
</sa-modal-footer> -->