<sa-title title-name="vm.title.page" title-icon="{{vm.title.icon}}"></sa-title>
<div class="cuerpo" ng-hide="vm.formControl.loading">
	<div class="row fila" ng-if="!vm.data.tipoConsulta">

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group">
			<label class="control-label">Desde</label>
			<!-- <sa-date-picker model="vm.data.fechaDesde" min-date="vm.data.fecha" sa-enter>
			</sa-date-picker> -->
			<sa-date-time-picker ng-model="vm.data.fechaDesde " id="1" type="date" >
					</sa-date-time-picker>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group">
			<label class="control-label">Hasta</label>
			<!-- <sa-date-picker model="vm.data.fechaHasta" min-date="vm.data.fechaDesde" sa-enter>
			</sa-date-picker> -->
			<sa-date-time-picker ng-model="vm.data.fechaHasta" id="2" type="date">
					</sa-date-time-picker>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
			<sa-selector-servicio-medico ng-model="vm.data.servicioMedico" solo-visibles-turnos="true" ng-change="vm.formControl.changeServicioMedico()">
			</sa-selector-servicio-medico>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group ">
			<sa-selector-recurso ng-model="vm.data.recurso" ng-disabled="!vm.data.servicioMedico" idservicio="vm.data.servicioMedico" buscador-recurso-en-servicios-if="true" >
			</sa-selector-recurso>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 ">
				<label>Filtro Estado de Reprogramacion de turnos</label>
				<div uib-dropdown class="fw-dropdown-container" auto-close="outsideClick">
					<button class="btn dropdown-toggle btn-default" type="button" id="dropdownMenu2" uib-dropdown-toggle style="width: 100%;">
						Seleccionar
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
						<li ng-repeat="estado in vm.data.estadosReprogramacion" class="no-valid">
							<div class="fw-dropdown-item">
								<div class="fw-dropdown-item-left fw-noselect">
									<fw-icon name="{{item.icon}}"></fw-icon>
									<span>• {{estado.Nombre}}</span>
								</div>
								<div class="fw-dropdown-item-right text-right">
									<sa-check-box ng-model="estado.status" color="green">
									</sa-check-box>
								</div>
							</div>
							<div ng-if="!$last" class="divider"></div>
						</li>
					</ul>
				</div>

		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
				<button type="button" ng-click="vm.exportarAExcel()" class="btn btn-row btn-info">Exportar a Excel</button>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-right	">
			<button type="button" class="btn-block" sa-btn-clean ng-click="vm.formControl.clean() " sa-enter>Limpiar</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-right">
			<button type="button" class="btn-block" sa-btn-search ng-click="vm.formControl.buscar() " sa-enter>Buscar</button>
		</div>
	</div>
	<div class="row">
		<!-- El ng-if va para no cargar la tabla sin datos -->
		<div class="col-xs-12" ng-if="vm.data.turnosAfectados.Rows && vm.data.turnosAfectados.Rows.length && vm.data.turnosAfectados.Columns && vm.data.turnosAfectados.Columns.length">
			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<fw-table-config exportable="false" sortable="true" paginable="true" column-config="true">
				</fw-table-config>
				<fw-table-sorting sort-change="vm.table.sorting(sorting)">

				</fw-table-sorting>
				<fw-table-rowset data="vm.data.turnosAfectados.Rows" click-action="clickAction({row:row})">
				</fw-table-rowset>
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset data="vm.data.turnosAfectados.Columns">
					<!-- Se define una column con los datos de una columna (opcional)-->
					<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
					<!-- <fw-table-column
					label="'Prueba'"
					field="'otroCampo'">
				</fw-table-column> -->
				</fw-table-columnset>
				<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
				<fw-table-buttonset>
					<!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
					
					<fw-table-button visible="'true'" label="'Reasignar Turno'" visible-if="vm.contextMenu.pendienteTurno({row:row})" icon="'SUCCESS'"
					 action="vm.table.btnReasignarClick({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="btnViewIf" visible-if="vm.contextMenu.pendienteTurno({row:row})" label="'Desiste Reprogramar Turno'"
					 icon="'REPEAT'" action="vm.table.btnDesistirClick({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="btnGestionIf" label="'Gestionar Turno'" visible-if="vm.contextMenu.pendienteTurno({row:row})" icon="'CONF'"
					 action="vm.table.btGestionarClick({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="" visible-if="vm.contextMenu.cancelarDesisteTurno({row:row})"
					 label="'Cancelar Desiste de Reprogramar Turno'" icon="'DEL'" action="vm.table.btnCancelarDesisteReprogramarClick({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="btnCancelarDesisteReprogramarIf" label="'Cancelar Marcado Turno Gestionado'" icon="'REPEAT'" type="'context'"
					 action="vm.table.cancelarMarcadoTurnoGestionado({row:row})" visible-if="vm.contextMenu.cancelarGestionadoTurno({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="btnObservacionTurnoIf" label="'Ver Observación Turno'" icon="'WPFORM'" type="'context'" action="vm.table.verObservacionTurno({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="btnObservacionGestionIf" label="'Ver Observación de la Gestión'" icon="'LIST'" type="'context'" 
					action="vm.table.verObservacionTurno({row:row})" visible-if="vm.contextMenu.observacionTurnoGestionado({row:row})">
					</fw-table-button>
					
					<fw-table-button visible="true" label="'Ver Datos de Contacto Paciente'" icon="'VIEW'" type="'context'" 
					action="vm.table.verDatosContactoPaciente({row:row})">
					</fw-table-button>

					<fw-table-button visible="true" label="'Marcar como Rellamado'" icon="'REGISTERED'" type="'context'" visible-if="row.IdEstadoReprogramacion != 5 && row.IdEstadoReprogramacion == 1"
					action="vm.table.marcarRellamado({row:row})">
					</fw-table-button>

					<fw-table-button visible="true" label="'Cancelar Marcado Rellamado'" icon="'LEFT'" type="'context'" visible-if="row.IdEstadoReprogramacion == 5"
					action="vm.table.cancelarMarcaRellamado({row:row})">
					</fw-table-button>


				</fw-table-buttonset>
				<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
				<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
				<fw-table-pagination-ext page-change="vm.table.getPage(pagination)" page-size="vm.tableOption.PageSize" total-items="vm.data.turnosAfectados.RowCount"
				 current-page="vm.tableOption.CurrentPage">
				</fw-table-pagination-ext>
				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<!-- <fw-table-pagination page-size="5"></fw-table-pagination> -->
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>

	<div class="row">

		<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
				<label>
					<strong>SOBRETURNO</strong>
				</label>
				<div>{{vm.data.plantillaSelected.EsSobreTurno ? 'SI' : 'NO'}}</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
				<label>
					<strong>Tipo</strong>
				</label>
				<div ng-bind="vm.data.plantillaSelected.TipoTurno"></div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
				<label>
					<strong>Duracion</strong>
				</label>
				<div>{{vm.data.plantillaSelected.DuracionMinima}} minutos</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
				<label>
					<strong>Prestaciones</strong>
				</label>
				<div ng-bind="vm.formControl.getPrestacionesDefinidas(vm.data.plantillaSelected)" ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables == 4"></div>
				<div ng-bind="vm.data.plantillaSelected.TipoPrestacionesAsignables" ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables != 4">
				</div>
			</div> -->

	</div>

</div>
<div class="row" style="margin-top: 20px;margin-bottom: 20px;" ng-if="vm.data.tipoConsulta">
	<div class="text-center">
		<button class="btn btn-cancel" ng-click="vm.formControl.volver()">
			<!-- <span ng-if="!formSolicitud.$pristine">Cancelar</span>
					<span ng-if="formSolicitud.$pristine">Volver</span> -->
			<span>Volver</span>
		</button>

	</div>
</div>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>