<div id="print-content" class="container-print" >
	<sa-modal-header
		title-name="Diferencia de Habitación"
		print="true">
	</sa-modal-header>
	<sa-modal-body loading="formControl.loading">
		<div class="row">
			<div class="col-xs-12">
				<div ng-repeat="aval in formData.avalHabitacion track by $index" >
					<p class="text-justify">{{aval}}</p>
				</div>
			</div>
			<div class="col-xs-6 text-center">
				<br>
				<div class="row" >.............................</div>
				<div class="row" >Firma Co-deudor</div>
				<br>
				<div class="row" >.............................</div>
				<div class="row" >Aclaración</div>
				<br>
				<div class="row" >.............................</div>
				<div class="row" >D.N.I</div>
				<br>
				<div class="row" >.............................</div>
				<div class="row" >Domicilio</div>
			</div>
			<div class="col-xs-6 text-center">
				<br>
				<div class="row" >.............................</div>
				<div class="row" >Firma Paciente</div>
				<br>
				<div class="row" >.............................</div>
				<div class="row" >Aclaración</div>
				<br>
				<div class="row" >.............................</div>
				<div class="row" >D.N.I</div>
			</div>
		</div>
	</sa-modal-body>
</div>