<div id="print-content" class="container-print" >
	<sa-modal-header>
		<div class="row">
			<div class="col-xs-3 " >
				<sa-logo></sa-logo>
			</div>
			<div class="col-xs-9 text-center">
				<h4>Informe de Hospitalización</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 ">
				<label class="">Obra Social: {{ data.internacion.Mutual.codigo_mutual }} - {{ data.internacion.Mutual.nombre_mutual }}</label>
			</div>
			<div class="col-xs-6 pull-right">
				<label class="pull-right">Fecha: {{ vm.today | date: 'dd/MM/yyyy' }} </label>
			</div>
		</div>
	</sa-modal-header>
	<sa-modal-body loading="formControl.loading" >
		<sa-paciente-print
			title="Datos del beneficiario"
			model="data.internacion.Paciente" >
		</sa-paciente-print>
		<div class="row fila fila-print">
			<div class="col-xs-3 " >
				<label class="">Acompañante</label>
				<div ng-if="data.internacion.nombre_acompaniante" ng-bind="data.internacion.nombre_acompaniante"></div>
				<div ng-if="!data.internacion.nombre_acompaniante" >S/Datos</div>
			</div>
			<div class="col-xs-6 ">
				<label>Teléfonos</label>
				<ul ng-if="data.internacion.Paciente.Telefonos.length">
					<li ng-repeat="telefono in data.internacion.Paciente.Telefonos track by $index">
						{{ telefono.TelefonoCompleto }}
					</li>
				</ul>
				<div ng-hide="data.internacion.Paciente.Telefonos.length">S/Datos</div>
			</div>
		</div>
		<div class="row fila fila-print">
			<h4>Internación</h4>
			<div class="col-xs-6 ">
				<label class="">Diagnóstico principal</label>
				<div ng-bind="data.internacion.diagnostico"></div>
			</div>
			<div class="col-xs-6 ">
				<label class="">Diagnóstico QX</label>
				<textarea type="text" class="form-control"
					name="operaciones"
					ng-disabled="!formControl.esEditCreado"
					maxlength="255" >
				</textarea>
			</div>
			<div class="col-xs-12 ">
				<label >Movimientos de cama</label>
				<table class="table table-bordered table-condensed table-fina">
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-center">Habitación</th>
							<th class="text-center">Cama</th>
							<th class="text-center">Fecha/Hora Ingreso</th>
							<th class="text-center">Fecha/Hora Egreso</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="movimiento in data.internacion.MovimientosCama">
							<td class="text-center"> {{ movimiento.Cama.Habitacion.numero_habitacion }} </td>
							<td class="text-center"> {{ movimiento.Cama.numero_cama }} </td>
							<td class="text-center"> {{ movimiento.fecha_hora_ingreso | date: 'dd/MM/yyyy - HH:mm' }} </td>
							<td class="text-center"> {{ movimiento.fecha_hora_egreso | date: 'dd/MM/yyyy - HH:mm' }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row fila fila-print ">
			<h4>Observaciones</h4>
			<div class="col-xs-3  ">
				<label>Accidente</label>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="suicidio"
						ng-disabled="true">
						</div>
						Suicidio
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="homocidio" 
						ng-disabled="true">
							
						</div>
						Homicidio
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="otros" 
						ng-disabled="true">
						</div>
						Otros
					</label>
				</div>
			</div>
			<div class="col-xs-3  ">
				<label>Amputaciones</label>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="amputacionMid"
						ng-disabled="true">
						</div>
						MID
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="amputacionMii" 
						ng-disabled="true">
						</div>
						MII
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="amputacionMsd" 
						ng-disabled="true">
						</div>
						MSD
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="amputacionMsi" 
						ng-disabled="true">
						</div>
						MSI
					</label>
				</div>
			</div>
			<div class="col-xs-3  ">
				<label>Observaciones amputación</label>
				<textarea type="text" class="form-control"
					name="observacionesAmputacion"
					rows="4"
					ng-disabled="!formControl.esEditCreado"
					maxlength="255" >
				</textarea>
			</div>
			<div class="col-xs-3  ">
				<label>Operaciones</label>
				<textarea type="text" class="form-control"
					name="operaciones"
					rows="4"
					ng-disabled="!formControl.esEditCreado"
					maxlength="255" >
				</textarea>
			</div>
		</div>
		<div class="row fila fila-print fila-not">
			<h4>Datos de recién nacido</h4>
			<div class="col-xs-3 ">
				<label >Hora</label>
				<table border="0">
					<tbody>
						<tr>
							<td>
								<input type="text" name="hora" class="form-control"
								ng-disabled="true">
							</td>
							<td>:</td>
							<td>
								<input type="text" name="hora" class="form-control"
								ng-disabled="true">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-3 ">
				<label >Nacido por</label>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="suicidio"
						ng-disabled="true">
						</div>
						Parto
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="homocidio" 
						ng-disabled="true">
						</div>
						Cesarea
					</label>
				</div>
			</div>
			<div class="col-xs-3  ">
				<label>Sexo</label>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="suicidio"
						ng-disabled="true">
						</div>
						Masculino
					</label>
				</div>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="homocidio" 
						ng-disabled="true">
						</div>
						Femenino
					</label>
				</div>
			</div>
			<div class="col-xs-3 ">
				<label>Otros</label>
				<div class="checkbox checkbox-print">
					<label>
						<div class="checkbox-print">
						<input type="checkbox" name="otros" 
						ng-disabled="true">
						</div>
						Anestesia
					</label>
				</div>
			</div>
			<div class="col-xs-6  ">
				<label>Peso</label>
				<div class="row">
					<div class="col-xs-3  ">
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMid"
								ng-disabled="true">
								</div>
								F/M 1
							</label>
						</div>
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMii" 
								ng-disabled="true">
								</div>
								F/M 2
							</label>
						</div>
					</div>
					<div class="col-xs-3  ">
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMsd" 
								ng-disabled="true">
								</div>
								F/M 3
							</label>
						</div>
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMsi" 
								ng-disabled="true">
								</div>
								F/M 4
							</label>
						</div>
					</div>
					<div class="col-xs-3  ">
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMsi" 
								ng-disabled="true">
								</div>
								F/M 5
							</label>
						</div>
						<div class="checkbox checkbox-print">
							<label>
								<div class="checkbox-print">
								<input type="checkbox" name="amputacionMsi" 
								ng-disabled="true">
								</div>
								F/M 5
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer >
		<div class="row">
			<div class="col-xs-6  ">
				<div class="pull-left">Usuario: <span>{{ data.user.userName }}</span></div>
			</div>
		</div>
	</sa-modal-footer>
</div>