<div id="print-content" class="container-print">
	<div class="page" >

	<sa-modal-header
		title-name="ORDEN DE PRÓRROGA"
		print="true"
		fecha="vm.today"
		sucursal="data.internacion.Sucursal" >
	</sa-modal-header>
	<sa-modal-body loading="formControl.dataLoading">
		<sa-paciente-print
			model="data.internacion.Paciente">
		</sa-paciente-print>
		<sa-afiliacion-internado
			model="data.internacion">
		</sa-afiliacion-internado>
		<div class="row fila fila-print">
			<h4>Datos de admisión</h4>
			<div class="col-xs-3 " >
				<label class="">Fecha de Preadmision</label>
				<div ng-bind="data.internacion.fecha_solicitud | date : 'dd/MM/yyyy'"></div>
			</div>
			<div class="col-xs-3 " >
				<label class="">Cant. de días de prórroga</label>
				<div ng-bind="data.internacion.IntervencionAdmision.cantidad_dias_solicitados"></div>
			</div>
			<div class="col-xs-3 " >
				<label class="">Establecimiento Asistencial</label>
				<div >Sanatorio Allende S.A.</div>
			</div>
			<div class="col-xs-12 ">
				<label class="">Diagnóstico</label>
				<div ng-bind="data.internacion.IntervencionAdmision.EnfermedadCie.titulo_cie_enfermedad"></div>
			</div>
			<div class="col-xs-12 " >
				<label>Procedimientos</label>
				<ul>
					<li ng-repeat="detalle in data.internacion.IntervencionAdmision.DetallesIntervencion | filter:{id_origen_practica:29}">
						{{ detalle.PracticaMedica.codigo_practica_medica }} - {{ detalle.PracticaMedica.nombre_practica_medica }}
					</li>
				</ul>
			</div>
		</div>
		<div class="row fila-print">
			<h4>Datos del médico solicitante</h4>
			<div class="col-xs-5 ">
				<label class="">Nombre y apellido</label>
				<div ng-bind="data.internacion.IntervencionAdmision.MedicoSolicitante.nombre_completo" ></div>
			</div>
			<div class="col-xs-2 ">
				<label class="">Matrícula</label>
				<div ng-bind="data.internacion.IntervencionAdmision.MedicoSolicitante.numero_matricula" ></div>
			</div>
			<div class="col-xs-3 " >
				<label class="">Firma y sello</label>
				<img ng-src="{{data.firmaMedico}}" alt="firmaMedico" class="img-responsive"/>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer>
		<div class="row fila fila-print" >
				<div class="col-xs-6 text-center">
					<div class="row">..............................</div>
					<div class="row">Firma aclarada</div>
				</div>
				<div class="col-xs-6 text-center">
					<div class="row">..............................</div>
					<div class="row">Sello Obra Social</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6  ">
					<div class="pull-left">Usuario: <span>{{ data.user.userName }}</span></div>
				</div>
			</div>
	</sa-modal-footer>
</div>