<ng-form name="formTabAdmision">
	<div class="row fila">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div fw-form-input>
				<label>Apellido y Nombre de Acompañante</label>
				<input type="text"
					name="acompañanteInternacion" 
					sa-enter
					ng-model="data.internacion.nombre_acompaniante" >
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-if="vm.esAdmision">
			<sa-sucursal-combo
				name="sucursal"
				ng-model="data.internacion.Sucursal"
				loading="formControl.loading"
				ng-required="true">
			</sa-sucursal-combo>
			<sa-text-error model="formTabAdmision.sucursal"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-if="vm.esAdmision">
			<label>Fecha probable de cirugía (*)</label>
			<sa-date-picker
				name="fechaProbableCirugia"
				model="data.internacion.IntervencionAdmision.fecha_cirugia_probable"
				required="true"
				min-date="vm.today">
			</sa-date-picker>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-if="!vm.esAdmision">
			<label>Fecha prob. de cirugía </label>
			<div ng-bind="data.internacion.IntervencionAdmision.fecha_cirugia_probable | date:'dd/MM/yyyy'"></div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div fw-form-input>
				<label>Manual de internado</label>
				<textarea type="text"
					rows="2"
					ng-disabled="true"
					name="manual"
					ng-model="data.internacion.Mutual.procedimiento_internado"
					maxlength="255">
				</textarea>
			</div>
		</div>
	</div>
	<div class="row fila">
		<h4>Datos de facturación</h4>
		<div ng-repeat="tipo in data.tiposPorcentaje">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group">
				<label for="txt_cargo_internacion" ng-bind="tipo.nombre_tipo_porcentaje"></label>
				<input type="number" id="txt_cargo_internacion" class="form-control"
					name="cargoInternacion"
					sa-percentage
					sa-enter
					ng-model="formData.arrayPorcentaje[$index]"
					ng-change="formControl.cargarPorcentajes()"
					>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group">
			<label>Tipo paciente facturación</label>
			<select class="form-control"
					name="tipoPacienteFacturacion"
					ng-model="data.internacion.TipoPacienteFacturacion"
					ng-required="true"
					sa-enter
					ng-options="tipo.nombre for tipo in data.tiposPacienteFacturacion track by tipo.id"
					>
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formTabAdmision.tipoPacienteFacturacion"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group">
			<sa-check-box
				name="facturaEmpresa"
				label="Factura a empresa"
				ng-model="formData.facturaEmpresa"
				ng-change="validar.facturaEmpresa()">
			</sa-check-box>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group">
			<sa-check-box
				name="diferenciaHabitacion"
				label="Habitación a cargo de afiliado"
				ng-model="data.internacion.diferencia_habitacion">
			</sa-check-box>
		</div>
	</div>
</ng-form>