<!-- PACIENTE  -->
<sa-persona-basic
	title="Datos del paciente"
	model="data.internacion.Paciente"
	mutual="false">
</sa-persona-basic>

<sa-afiliacion-internado
	model="data.internacion">
</sa-afiliacion-internado>

<div class="row fila">
	<h4>Teléfonos del paciente</h4>
	<div class="col-xs-6">
		<ul>
			<li ng-repeat="telefono in data.internacion.Paciente.Telefonos">
				{{telefono.TelefonoCompleto}} ({{telefono.TipoEquipoTelefono.Nombre}})
				<span ng-if="telefono.Defecto"> - Por defecto</span>
			</li>
		</ul>
	</div>
</div>

<!-- <sa-telefonos-nuevo		
	ng-model="data.internacion.Paciente.Telefonos"
	tipo-propietario = "Paciente"
	id-propietario ="data.internacion.Paciente.id_persona"
	btn-new-if="false"
	btn-edit-if="false"
	btn-delete-if="false">
</sa-telefonos-nuevo> -->

<!-- <sa-telefonos
	title="Teléfonos del paciente"
	model="data.internacion.Paciente.TelefonosPaciente"

	btn-new-click="paciente.openNewTelefono()">
</sa-telefonos> -->
<!-- ./PACIENTE  -->
<!-- MEDOCO -->
<sa-profesional-basic
	title="Médico de Cabecera"
	model="data.internacion.MedicoCabecera"
	btn-search-if="true"
	btn-search-disabled="formControl.deAlta"
	required="true">
</sa-profesional-basic>
<!-- ./MEDOCO -->
<!-- DATOS PREADMISION -->
<div class="row fila">
	<h4>Datos de preadmisión</h4>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
		<label for="txt_diagnostico">Observaciones preadmision</label>
		<div ng-bind="data.internacion.IntervencionAdmision.observaciones_admision" ></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
		<label for="txt_diagnostico">Diagnóstico</label>
		<div ng-bind="data.internacion.diagnostico"  ></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
		<label for="txt_informe_medico">Resumen de historia clínica</label>
		<div ng-bind="data.internacion.informe_medico" ></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  "
		ng-if="data.internacion.IntervencionAdmision.DetallesIntervencion.length">
		<label>Procedimientos</label>
		<ul>
			<li ng-repeat="detalle in data.internacion.IntervencionAdmision.DetallesIntervencion | filter:{id_origen_practica:29}">
				{{ detalle.PracticaMedica.codigo_practica_medica }} - {{ detalle.PracticaMedica.nombre_practica_medica }}
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
		<label for="txt_informe_medico">Resumen de procedimientos</label>
		<div ng-bind="data.internacion.IntervencionAdmision.nombre_procedimiento" ></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  " ng-if="data.internacion.ProtesisPreadmision.length">
		<label>Materiales y prótesis</label>
		<ul>
			<li ng-repeat="protesis in data.internacion.ProtesisPreadmision | filter: {id_estado_protesis:10}">
				{{ $index + 1 }} : {{ protesis.nombre_protesis }} - {{ protesis.ProveedorPreadmisionAprobado.nombre }}
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
		<label class="">Cant. detallada de días</label>
		<ul>
			<li ng-repeat="dia in data.internacion.DiasInternacion" ng-if="dia.cantidad_dias">
				<span>
					{{ dia.CategoriaHabitacion.nombre_categoria }} : {{ dia.cantidad_dias }}
				</span>
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  ">
		<label class="">Cant. autorizado de días</label>
		<div ng-bind="data.internacion.cantidad_dias_aprobados"></div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  ">
		<label class="">Número de orden</label>
		<div ng-bind="data.internacion.IntervencionAdmision.numero_orden"></div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<sa-check-box
				name="esPresupuesto"
				label="Tiene presupuesto"
				ng-model="data.internacion.es_presupuesto"
				ng-disabled="true">
			</sa-check-box>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  ">
		<sa-check-box
				name="esModulo"
				label="Módulo convenido"
				ng-model="data.internacion.es_modulo"
				ng-disabled="true">
			</sa-check-box>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<div class="pull-right">
			<button type="button" class="btn btn-default"
				ng-disabled="false"
				ng-click="internacion.selectPrint()">
				Otras impresiones
			</button>
		</div>
	</div>
</div>
<!-- ./DATOS PREADMISION  -->