<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formConsecuencia" accept-charset="utf-8" novalidate>
		<sa-modal-header
			title-name="{{vm.title.name}}"
			title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row no-valid">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input-validate>
					<label>Consecuencia</label>
					<select ng-model="vm.filter.subtipoConsecuenciaElegido"
							name="ConsecuenciasElegida" 
							ng-options="subtipoConsecuencia.NombreTipoConsecuencia + ' - ' + subtipoConsecuencia.Nombre for subtipoConsecuencia in vm.data.subtiposConsecuencia track by subtipoConsecuencia.Id" 
							ng-change = "vm.formControl.cambiarConsecuencia()"
							sa-enter
							autofocus>
							<option value="">--SELECCIONAR--</option>
					</select>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" ng-hide="!(vm.data.muestraLogico || vm.data.muestraImporte || vm.data.muestraMagia || vm.data.muestraPorcentaje || vm.data.muestraCombo)" sa-form-input-validate>
					<label ng-hide="vm.data.muestraLogico">Resultado</label>
					<sa-check-box label="{{vm.data.labelLogico}}" ng-model="vm.filter.logico" color="blue" name="logico" ng-hide="!vm.data.muestraLogico"></sa-check-box>

					<div class="input-group" ng-hide="!vm.data.muestraImporte">
						<span class="input-group-addon">$</span>
						<input type="number" class="form-control text-right" ng-model="vm.filter.importe" min='0' name="importe" sa-input-importe sa-enter>
					</div>

					<div class="input-group" ng-hide="!vm.data.muestraPorcentaje">
						<span class="input-group-addon">%</span>
						<input type="number" class="form-control text-right" ng-model="vm.filter.porcentaje" sa-percentage name="porcentaje" ng-required="true" sa-input-importe sa-enter>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 input-group">
						<input type="text" class="form-control" ng-model="vm.filter.valorMagico" disabled='true' name="magico" ng-hide="!vm.data.muestraMagia" sa-enter>
						<span class="input-group-btn" ng-show="vm.data.muestraMagia">
							<button type="submit" class="btn btn-default" ng-click="vm.formControl.buscar()" sa-punto-click="vm.formControl.buscar()" sa-enter>...</button>
						</span>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 form-group" ng-hide="!vm.data.muestraCombo" sa-form-input-validate>
						<select
							id="cmb_ValorConsecuencia"
							name="comboValorConsecuencia"
							ng-model="vm.filter.valorCombo"
							ng-options="valor as valor.Nombre for valor in vm.data.valoresPosibles">
						</select>
					</div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit"
				class="btn"
				value="Cancelar"
				sa-enter
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Aceptar"
				class="btn btn-default"
				ng-disabled="!vm.filter.subtipoConsecuenciaElegido || formConsecuencia.$invalid || (!vm.filter.valorMagico && vm.data.muestraMagia)"
				sa-punto-click="vm.formControl.guardar()"
				ng-click="vm.formControl.guardar()"
				sa-enter>
				<!-- ng-disabled="!vm.filter.dimensionElegida || !vm.filter.operadorElegido" -->
		</sa-modal-footer>
	</form>
</div>