<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formCondicion" accept-charset="utf-8" novalidate>
		<sa-modal-header
			title-name="{{vm.title.name}}"
			title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group">
					<label class="label-control ">Código</label>
					<input type="text" class="form-control"
						ng-model="vm.filter.codigo"
						ng-change="vm.paginacion.pageChanged()"
						autofocus
						sa-enter>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 form-group">
					<label class="label-control ">Nombre</label>
					<input type="text" class="form-control"
						ng-model="vm.filter.nombre"
						ng-change="vm.paginacion.pageChanged()"
						sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-right" ng-show="vm.data.condicion.IdOperador === vm.OPERADOR_CONDICION.DENTRO_DE || vm.data.condicion.IdOperador === vm.OPERADOR_CONDICION.NO_DENTRO_DE" sa-form-input>
					<sa-check-box label="Solo seleccionados" ng-model="vm.filter.soloSeleccionados" ng-change="vm.paginacion.getPage()" color="blue" sa-enter>
					</sa-check-box>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
						<div class="table-responsive">
							<table class="table table-hover table-condensed table-bordered">
								<thead class="">
									<tr class="cabecera-tabla">
										<th class="text-center">Código</th>
										<th class="text-left">Nombre</th>
										<th class="text-center">Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="elemento in vm.filter.elementos | orderBy: 'Id'" 
									ng-dblclick="vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.DENTRO_DE && vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.NO_DENTRO_DE ? vm.formControl.elementoSeleccion(elemento, true) : vm.formControl.elementoSeleccionDentro(elemento)">
										<td class="text-center">{{elemento.Codigo}}</td>
										<td class="text-left">{{elemento.Nombre}}</td>
										<td class="row text-center">
											<input type="radio" 
												name="elemento"
												ng-click="vm.formControl.elementoSeleccion(elemento, false)" 
												ng-if="vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.DENTRO_DE && vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.NO_DENTRO_DE"
												ng-checked="elemento.Seleccionado" 
												sa-enter
												sa-punto-click="vm.formControl.elementoSeleccion(elemento, false)"/>
											<input type="radio"
												ng-click="vm.formControl.elementoSeleccionDentro(elemento)" 
												ng-if="!(vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.DENTRO_DE && vm.data.condicion.IdOperador !== vm.OPERADOR_CONDICION.NO_DENTRO_DE)"
												ng-checked="elemento.Seleccionado" 
												sa-enter
												sa-punto-click="vm.formControl.elementoSeleccionDentro(elemento)"/>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<div uib-pagination
							boundary-links="true"
							max-size="9"
							items-per-page="vm.paginacion.pageSize"
							total-items="vm.paginacion.totalItems"
							ng-model="vm.paginacion.currentPage"
							ng-change="vm.paginacion.pageChanged()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</div>
					</div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit"
				class="btn"
				value="Cancelar"
				sa-enter
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Aceptar"
				class="btn btn-default"
				sa-punto-click="vm.formControl.guardar(formCondicion.$valid)"
				ng-click="vm.formControl.guardar(formCondicion.$valid)"
				sa-enter>
				<!-- ng-disabled="!vm.data.condicion.Valores" -->
		</sa-modal-footer>
	</form>
</div>