<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formItem" accept-charset="utf-8" novalidate>
		<sa-modal-header
			title-name="{{vm.title.name}}"
			title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row no-valid">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-10 form-group">
					<sa-prefacturable-selector model='vm.data.prefacturableEditar' init-tipo='vm.data.initTipo' disabled="vm.data.edicionTipo" sa-enter></sa-prefacturable-selector>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input-validate>
					<label>Importe</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" class="form-control" min="0" name="importe" ng-model="vm.filter.importe" sa-input-importe sa-enter ng-required="true">
					</div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit"
				class="btn"
				sa-punto-click="vm.formControl.cancelar()"
				ng-click="vm.formControl.cancelar()"
				sa-enter
				sa-punto-click="vm.formControl.cancel()"
				value="Cancelar">
			<input type="submit" id="btnAgregarEditar" value="Guardar"
				class="btn btn-default"
				sa-enter
				ng-disabled="!vm.data.prefacturableEditar || formItem.importe.$invalid"
				sa-punto-click="vm.formControl.guardar()"
				ng-click="vm.formControl.guardar()">
		</sa-modal-footer>
	</form>
</div>