<sa-loading ng-if="vm.loading"></sa-loading>
<div id="print-content" class="container-print" ng-hide="vm.loading">
	<div class="page" ng-repeat="internado in vm.data">
		<div class="modal-header ">
			<div class="row">
				<div class="col-xs-3">
					<sa-logo></sa-logo>
				</div>
				<div class="col-xs-12 text-center">
					<h4>Informe por internado</h4>
				</div>
			</div>
		</div>
		<div class="modal-body" ng-hide="vm.vacio">
			<!-- <div class="row fila fila-print"> -->
			<div class="row fila-print">
				<div class="col-xs-6">
					<H5 class="text-left">Sector: {{vm.sector.Nombre}}</H5>
				</div>
				<div class="col-xs-6">
					<H5 class="text-right"> Fecha/Hora: {{vm.fecha | date:"dd/MM/yyyy HH:mm"}}</H5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<H5 class="text-left"> Internado: {{internado.NumeroInternado}} - {{internado.Paciente}} </H5>
				</div>
				<div class="col-xs-6">
					<h5 class="text-right"> Habitacion: {{internado.Habitacion}} - Cama: {{internado.Cama}} </h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<H5 class="text-left"> Mutual: {{internado.Financiador}} - Nro Afiliado: {{internado.NroAfiliado}}</H5>
				</div>
				<!-- <div class="col-xs-4">
					<h5 class="text-right" > Fecha Ingreso: {{internado.FechaAdmision | date:"dd/MM/yyyy HH:mm"}}</h5>
				</div>				 -->
			</div>
			<!-- <div class="row fila-print">
				<div class="col-xs-8">
					<h5 class="text-left" > Diagnóstico: {{internado.Diagnostico}} </h5>
				</div>
				<div class="col-xs-4" ng-show="vm.tieneAltaEnfermeria(internado.FechaAltaEnfermeria)">
					<h5 class="text-left" > INTERNADO CON ALTA ENFERMERIA</h5>
				</div>	
				<br><br>
			</div> -->
			<div class="fila" ng-show="internado.ItemsEntregar && internado.ItemsEntregar.length">
				<table class="table-fina table">
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Nombre</th>
							<th class="text-left">Presentación</th>
							<th class="text-left">Posología</th>
							<th class="text-center">Cantidad</th>

						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="detalle in internado.ItemsEntregar" ng-show="!detalle.Producto.EsAltoRiesgo">
							<td class="text-left">{{ detalle.Producto.CodigoStockeable }}</td>
							<td class="text-left">{{ detalle.Producto.NombreStockeable }}</td>
							<td class="text-left">{{ detalle.Producto.PresentacionStockeable }}</td>
							<td class="text-left">{{ detalle.Posologia }}</td>
							<td class="text-center">{{ detalle.CantidadCargada }}</td>

						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<br>
				<br>
			</div>
			
			<div class="fila" ng-show="vm.existenMedicamentosAltoRiesgo(internado.ItemsEntregar)">

				<h3>
						Medicamentos Alto Riesgo
				</h3>
				
				<table class="table-fina table">
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Nombre</th>
							<th class="text-left">Presentación</th>
							<th class="text-left">Posología</th>
							<th class="text-center">Cantidad</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="detalle in internado.ItemsEntregar" ng-show="detalle.Producto.EsAltoRiesgo">
							<td class="text-left">{{ detalle.Producto.CodigoStockeable }}</td>
							<td class="text-left">{{ detalle.Producto.NombreStockeable }}</td>
							<td class="text-left">{{ detalle.Producto.PresentacionStockeable }}</td>
							<td class="text-left">{{ detalle.Posologia }}</td>
							<td class="text-center">{{ detalle.CantidadCargada }}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="modal-footer">
		</div>
	</div>
</div>
