<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row ">

            <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2">
                <sa-sucursal-select sucursal="vm.sucursal">
                </sa-sucursal-select>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-4">
                <sa-piso-sector-contenedor sucursal="vm.sucursal" piso="vm.piso" sector="vm.sector" mostrar-deposito="false">
                </sa-piso-sector-contenedor>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 " sa-form-input>
                <label for="farmacia-valid-internado_select">Internados</label>
                <div class="input-group">
                    <select id="farmacia-valid-internado_select" class="form-control" ng-disabled="!vm.sector" ng-model="vm.internadoId" ng-change="vm.internacionChanged()">
                        <option ng-repeat="internado in vm.internaciones track by internado.Id" ng-class="internado.Color" ng-value="internado.Id">
                            {{internado.NumeroInternado}} || {{internado.Paciente}} || Hab: {{internado.Habitacion}} Cama: {{internado.Cama}}</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="limpiarCarga_button" type="button" class="btn btn-default" ng-disabled="!vm.internadoId" uib-tooltip="Información Internado"
                            uib-tooltip-placement="top" ng-click="vm.informacionInternado()" id="farmacia-valid-internado-info-btn">
                            <sa-icon name="INFO"></sa-icon>
                        </button>
                        <button id="refresh_button" type="button" class="btn btn-default" ng-disabled="false" uib-tooltip="Recargar" uib-tooltip-placement="top"
                            ng-click="vm.recargar()" id="farmacia-valid-internado-refresh-btn">
                            <sa-icon name="REFRESH"></sa-icon>
                        </button>
                        <button id="estado_button" type="button" class="btn btn-default" ng-disabled="false" uib-tooltip="Info Estados" uib-tooltip-placement="top"
                            ng-click="vm.infoEstados()" id="farmacia-valid-internado-estados-btn">
                            <sa-icon name="QUESTION"></sa-icon>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group pull-right" ng-show="vm.mostrarColorInternados">
                <label >Color Internados</label>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr ng-repeat="estado in vm.estadosInternacion">
                            <td>
                                <div class="pull-left">
                                    <div class="circulito" ng-class="estado.color"></div>
                                </div>
                                &nbsp;&nbsp;{{estado.nombre}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row fila" ng-show="vm.sector && vm.sector.Id">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 pull-right">
                <button type="button" ng-click="vm.entregarVentanilla()" id="farmacia-valid-entregar-prod-btn"
                ng-disabled="!vm.internado.Id" class="btn btn-info pull-right" style="margin-left: 20px;">Entregar Productos</button>
                <button type="button" ng-click="vm.entregar()" class="btn btn-info pull-right" id="farmacia-valid-entregar-btn">Entregar</button>
            </div>
        </div>

        <div class="row" ng-show="vm.indicacionesMedicasPorInternado && vm.indicacionesMedicasPorInternado.length">

            <div class="col-xs-12">
                <!-- componente que muestra las indicaciones medicas -->
                <sa-indicaciones-medicas-farmacia-table data="vm.indicacionesMedicasPorInternado" loading="vm.loading" internado="vm.internado"
                    facturar-devolver-if="false" preparar-indicacion-click="vm.preparaIndicacion({pObject})" asignar-producto-click="vm.asignarProducto({pObject})"
                    cambiar-producto-click="vm.cambiarProducto({pObject})" cambiar-producto-agregado-click="vm.cambiarProductoAgregado({pObject})" 
                    desasignar-producto-click="vm.desasignarProducto({pObject})" eliminar-descartable-click="vm.eliminarDescartable({pObject})">
                </sa-indicaciones-medicas-farmacia-table>
            </div>
        </div>
    </div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>