<div class="row">

<div class="col-xs-12" sa-form-input>
	<label class="">Buscar otro colaborador</label>
	<div class="input-group" > 

	<input name="busquedaUsuario" autocomplete="off" uib-tooltip=""
	 tooltip-placement="top" type="text" placeholder="Mínimo 2 caracteres" ng-model="vm.nombreUsuario" id="buscador-input-usuario-typehead "
	 ng-disabled="vm.loading" uib-typeahead="usuario as (usuario.Nombre) for usuario in vm.usuariosPorNombre | filter:$viewValue | limitTo:30"
	 typeahead-loading="vm.loading" typeahead-min-length="1" typeahead-show-hint="true" ng-change="vm.buscarUsuariosPorNombre()" ng-model-options="{debounce:500}"
	 class="form-control text-uppercase" typeahead-select-on-exact="true"  typeahead-on-select="vm.updateModel(vm.nombreUsuario)"
	 ng-focus="true">
	 <span class="input-group-btn">
		<button class="btn btn-default"
		uib-tooltip="Limpiar"
		tooltip-placement="top"
		ng-click ="vm.limpiarDatos()"
		id="sa-buscador-dinamico-usuario-limpiar-btn"
		sa-punto-click ="vm.limpiarDatos()"
		sa-enter>
		<sa-icon name="DEL"></sa-icon>
		</button>
		
	</span>
</div>


</div>
</div>