<div id="print-content" ng-hide="vm.formControl.loading">
	<form name= "formDocumento" accept-charset="utf-8" novalidate>
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 form-group">
					<sa-tipo-entidad model="vm.entidad" editable="!vm.entidadEditable"></sa-tipo-entidad>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
					<label class="control-label">Fecha Referencia</label>
					<input type="date" class="form-control" id="fechaReferencia" name="fechaReferencia" ng-model="vm.fechaReferencia" sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
					<label>Ámbito de Uso</label>
					<select ng-model="vm.tipoAmbitoElegido"
						ng-options="ambito.Nombre for ambito in vm.tiposAmbito track by ambito.Id"
						ng-change="vm.cambioAmbito()"
						sa-enter>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group" sa-form-input>
					<label>Tipo de Documento</label>
					<select ng-model="vm.tipoDocumentoElegido"
						ng-options="documento.Nombre for documento in vm.tiposDocumento"
						sa-enter>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 form-group" sa-form-input-validate>
					<label>Nombre</label>
					<input type="text" name="NombreDocumento" ng-model="vm.NombreDocumento" sa-enter ng-required="true">
				</div>
			</div>
			<div class="row" ng-if="vm.mostrarCargaDocumento">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group pull-left">
					<label>Subir documento:</label>
					<fw-file-upload title="Seleccione Foto" ng-if="vm.tipoDocumentoElegido.Id == 13 || vm.tipoDocumentoElegido.Id == 34 || vm.tipoDocumentoElegido.Id == 37"
						url="DocumentoAsociado/UploadDocument" 
						boton-subir= "false"
						file="vm.docAsociado"
						file-extensions=".jpg,.jpeg,.png">
					</fw-file-upload>

					<fw-file-upload title="Seleccione Documento" ng-if="!(vm.tipoDocumentoElegido.Id == 13 || vm.tipoDocumentoElegido.Id == 34 || vm.tipoDocumentoElegido.Id == 37)"
					url="DocumentoAsociado/UploadDocument" 
					boton-subir= "false"
					file="vm.docAsociado"
					file-extensions=".pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.csv,.txt,.rtf,.odt,.ods,.odp,.zip,.rar,.xlsm,.docm,.jpg,.jpeg,.png">
				</fw-file-upload>
				</div>
			</div>
			<div class="row" ng-if="!vm.mostrarCargaDocumento">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
					<label>Documento ya cargado</label>
					<input type="text" ng-model="vm.documentoEdicion.NombreArchivo" ng-disabled="true">
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<!-- <input type="submit" class="btn pull-left" ng-click="vm.escanear()" value="Escanear nuevo" sa-enter sa-punto-click="vm.escanear()"> -->
			<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-punto-click="vm.guardar()" sa-enter>
		</sa-modal-footer>
	</form>
</div>
<sa-loading ng-if="vm.loading"></sa-loading>