<sa-section>
    <sa-section-item class-item="col-xs-12" type-item='section-item-up'>
        <div id="cuerpo" ng-hide="vm.loading">
            <div class="row fila fila-not">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 form-group">
                            <select class="form-control" id="recepcion-seleccionar-recepcion-select" ng-model="vm.recepcionModel" ng-change="vm.getServiciosPorRecepcion(); vm.getRecursosPorRecepcion()"
                                ng-options="recepcion.Nombre for recepcion in vm.recepcionesDeUsuario track by recepcion.Id">
                                <option value="">Seleccionar Recepción</option>
                            </select>
                        </div>

                        <div class="col-xs-4" ng-if="vm.esDiaFeriado">
                            <h4 class="color-danger" id="recepcion-dia-feriado-h4" ng-if="vm.esDiaFeriado.DiaCompleto">Atención, el día seleccionado es FERIADO</h4>
                            <h4 class="color-warning" id="recepcion-dia-feriado-parcial-h4" ng-if="!vm.esDiaFeriado.DiaCompleto">Atención, el día seleccionado es FERIADO PARCIAL</h4>
                        </div>

                        <div class="col-xs-3">
                            <button type="button" class="btn btn-warning  btn-block" ng-click="vm.verCalendarioRecurso()" 
                            ng-disabled="vm.getStatusFecha()" id="recepcion-calendario-recurso-btn">
                                Calendario Recurso
                            </button>
                        </div>

                        <div class="col-xs-1 pull-right">
                            <button class="btn btn-default pull-right" uib-tooltip="Refrescar" name="restart" ng-click="vm.refrescar()" id="recepcion-refrescar-btn">
                                <sa-icon name="REPEAT"></sa-icon>
                            </button>
                        </div>

                        <!-- <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3 form-group pull-right">
                            <sa-check-box ng-model="vm.schedulerOn" color="green" ng-change="vm.changeViewModel()" label-right="'Cambiar Vista'" pull-right="true"
                                ng-disabled="!vm.recursosSeleccionados[0].Turnos">
                            </sa-check-box>
                        </div> -->
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 form-group">
                            <select class="form-control" id="recepcion-servicio-select" ng-model="vm.servicioRecepcionModel"
                                ng-options="servicio.Nombre for servicio in vm.serviciosXRecepcion track by servicio.Id"
                                ng-change="vm.getRecursosPorRecepcionYServicio()" ng-disabled="!vm.recepcionModel">
                                <option value="">Seleccionar Servicio</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2 form-group ">
                            <sa-date-time-picker ng-model="vm.fechaSeleccionada" id="1" type="date" ng-disabled="vm.getStatusFecha()"
                                ng-change="vm.changeFechaSeleccionada()">
                            </sa-date-time-picker>
                        </div>

                        <!-- botonera -->
                        <div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1 ">
                                <button type="button" class="btn btn-warning btn-no-pad btn-block" ng-click="vm.asignarSobretrunoDNP()"
                                    ng-disabled="!vm.recursosSeleccionados" id="recepcion-dnp-btn">
                                    DNP
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1 ">
                                <button type="button" class="btn btn-warning btn-no-pad btn-block" id="recepcion-asigturno-btn"
                                ng-click="vm.irAsignacionTurnos()">
                                    Asig. Turnos
                                </button>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-1">
                                <button type="button" class="btn btn-warning btn-no-pad btn-block" id="recepcion-turnospac-btn"
                                ng-click="vm.turnosPaciente()">
                                    Turnos Pac.
                                </button>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 ">
                                <sa-check-box ng-model="vm.obtenerCancelados" color="green" label-right="'Incluir Turnos Cancelados'"
                                    pull-right="true" ng-change="vm.incluirTurnosCancelados()" id="recepcion-turnocancelados-slider">
                                </sa-check-box>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-1 pull-right">
                                <button sa-btn-print type="button" class="btn btn-warning btn-no-pad btn-block"
                                    ng-click="vm.openReportes()" id="recepcion-reportes-btn">
                                    Reportes
                                </button>
                            </div>

                        </div>


                    </div>

                    <div class="row">
                        <!--profesional selector -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <sa-check-box label="Solo con agenda en la fecha" ng-model="vm.soloRecursosConTurnosEnLaFecha"
                                        color="green" ng-change="vm.soloConAgendaHoyChange()" id-element="recepcion-turnosconagenda-slider">
                                    </sa-check-box>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <!-- tabla de recursos a seleccionar -->
                                    <table class="table table-fixed table-cursor-pointer" ng-show="vm.recursosXRecepcion" id="recepcion-profesionales-table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-12">Profesional (Seleccionados:
                                                    {{vm.getCantidadProfesionalesSelected()}})</th>

                                            </tr>
                                        </thead>
                                        <tbody style="height: 400px;">
                                            <tr ng-repeat="recurso in vm.recursosXRecepcion" ng-class="{'color-verde-turno': recurso.selected }"
                                                context-menu="vm.menuOptionsProfesional" id="recepcion-turnos-profesional-table-{{$index}}">
                                                <td class="col-xs-12" uib-tooltip="Matricula: {{recurso.Matricula}}"  uib-tooltip-placement="top"
                                                ng-click="recurso.selected = (recurso.selected) ? false : true; vm.toggleProfesional(recurso);">{{recurso.Nombre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--turno selector -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                            <div class="row">
                                <!-- scheduler -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="vm.schedulerOn">
                                    <div calendar="scheduler" ui-calendar="vm.uiConfig.scheduler" class="calendar calendar-today">
                                    </div>
                                </div>
                                <!-- tabla general-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="!vm.schedulerOn">
                                    <div class="tableturnos table-responsive">

                                        <table class="table table-fixed table-cursor-pointer table-hover" id="recepcion-turnos-table">
                                            <thead>
                                                <tr class="cabecera-tabla">
                                                    <th class="col-xs-1">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                Hora
                                                            </div>
                                                            <div class="col-xs-6">
                                                                ST
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="col-xs-2">Estado</th>
                                                    <th class="col-xs-2">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                Dur.
                                                            </div>
                                                            <div class="col-xs-3">
                                                                Cob.
                                                            </div>
                                                            <div class="col-xs-3">
                                                                Aut.
                                                            </div>
                                                            <div class="col-xs-3">
                                                                Docs.
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="col-xs-2">
                                                        <div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; "
                                                            ng-show="vm.recursosSeleccionados[0].Turnos">
                                                            <input class="text-capitalize" type="text" name="buscar_paciente"
                                                                placeholder="Nombr. Paciente | DNI" ng-model="vm.filterBuscarPaciente"
                                                                ng-model-options="{debounce:500}" ng-change="vm.changeFilterPaciente()"
                                                                autocomplete="off" minlength="2">
                                                        </div>
                                                        <div ng-show="!vm.recursosSeleccionados[0].Turnos">
                                                            Paciente
                                                        </div>
                                                    </th>
                                                    <th class="col-xs-2">Cobertura</th>
                                                    <th class="col-xs-1">Tipo Turno</th>
                                                    <th class="col-xs-2">Prestaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody style="height: 450px !important;" class="bodyturnos" ng-if="vm.recursosSeleccionados[0].Turnos">
                                                <tr ng-repeat="row in vm.recursosSeleccionados[0].Turnos" context-menu="vm.menuOptions"
                                                    ng-class="{'color-aquaorange-turno': row.selected }" class="rowturnos" id="recepcion-turnos-turnos-table-{{$index}}">
                                                    <td class="col-xs-1">
                                                        <div class="row">
                                                            <div class="col-xs-6" ng-class="{'color-turno-duracion-multiple' : row.Duracion.length > 0}">
                                                                {{row.Hora}}
                                                            </div>
                                                            <div class="col-xs-6">
                                                                {{row.ST}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-2" ng-bind="row.Estado" ng-class="row.EstadoColor" 
                                                        uib-tooltip="{{row.Observaciones}}"
                                                        uib-tooltip-placement="bottom"></td>
                                                    <td class="col-xs-2 text-center">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                {{row.Duracion}}
                                                            </div>
                                                            <div class="col-xs-3" uib-tooltip="{{vm.getInfoEstadoCobranza(row)}}"
                                                                uib-tooltip-placement="bottom">
                                                                <button type="button" id="icon_cobrado" class="btn btn-white "
                                                                    ng-if="row.IdEstadoCobranzaCaja == 0" style=" color: green; ">
                                                                    -
                                                                </button>
                                                                <button type="button" id="icon_financiador" class="btn btn-white"
                                                                    ng-if="row.IdEstadoCobranzaCaja == 1" style=" color: green; "
                                                                    >
                                                                    <sa-icon name="CHECK-FA"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_pendiente" class="btn btn-white "
                                                                    ng-if="row.IdEstadoCobranzaCaja == 2" style=" color: red; ">
                                                                    <sa-icon name="PESOS"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_cobrado" class="btn btn-white "
                                                                    ng-if="row.IdEstadoCobranzaCaja == 3" style=" color: green; ">
                                                                    <sa-icon name="PESOS"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_enviado" class="btn btn-white "
                                                                    ng-if="row.IdEstadoCobranzaCaja == 4" style=" color: rgb(180, 170, 20); ">
                                                                    <sa-icon name="PESOS"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_cobradocaja" class="btn btn-white "
                                                                    ng-if="row.IdEstadoCobranzaCaja == 5" style=" color: blue; ">
                                                                    <sa-icon name="PESOS"></sa-icon>
                                                                </button>
                                                            </div>
                                                            <div class="col-xs-3" uib-tooltip="{{vm.getInfoEstadoAutorizacion(row)}}"
                                                            uib-tooltip-placement="bottom">
                                                                <button type="button" id="icon_financiador" class="btn btn-white"
                                                                    ng-if="row.IdEstadoAutorizacion == 1" style=" color: green; ">
                                                                    <sa-icon name="CIRCLE"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_pendiente" class="btn btn-white "
                                                                    ng-if="row.IdEstadoAutorizacion == 2" style=" color: red; ">
                                                                    <sa-icon name="CIRCLE"></sa-icon>
                                                                </button>
                                                                <button type="button" id="icon_cobrado" class="btn btn-white "
                                                                    ng-if="row.IdEstadoAutorizacion == 0" style=" color: green; ">
                                                                    -
                                                                </button>
                                                            </div>
                                                            <div class="col-xs-3"  uib-tooltip="{{vm.getInfoTieneDocumentos(row)}}"
                                                            uib-tooltip-placement="bottom">
                                                                <button type="button" class="btn btn-white " ng-if="row.TieneDocumentos">
                                                                    <sa-icon name="COPY"></sa-icon>
                                                                </button>
                                                                <div ng-if="!row.TieneDocumentos">-</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-2" ng-bind="row.Paciente" uib-tooltip="Documento: {{row.NumeroDocumento}} "
                                                        uib-tooltip-placement="bottom" ng-if="row.IdTipoPaciente != 2"></td>
                                                    <td class="col-xs-2 color-pacientes-vip" ng-bind="row.Paciente"
                                                        uib-tooltip="Doc: {{row.NumeroDocumento}} - Paciente VIP"
                                                        uib-tooltip-placement="bottom" ng-if="row.IdTipoPaciente == 2"></td>

                                                    <td class="col-xs-2" uib-tooltip="{{row.MutualYPlan}}" ng-if="row.MutualYPlan.length >= 3">{{row.MutualYPlan
                                                        | limitTo: 20}}...</td>
                                                    <td class="col-xs-2" ng-if="row.MutualYPlan.length < 2" ng-bind="row.MutualYPlan"></td>
                                                    <td class="col-xs-1" ng-bind="row.TipoTurno"></td>
                                                    <td class="col-xs-2" ng-bind="row.Prestaciones"></td>

                                                </tr>
                                            </tbody>

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <sa-loading ng-if="vm.loading"></sa-loading>
    </sa-section-item>
</sa-section>