
	<!-- <div id="print-content" class="container-print"> -->

		<form name="formPersona" accept-charset="utf-8" novalidate >
			<div class="modal-header">
				<h4 class="modal-title">Foja Guardia</h4>
			</div>
			<div class="modal-body">
			<sa-loading ng-if="formControl.loading"></sa-loading>
				<div class="row fila">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4>Paciente: {{data.prescripcion.NombrePaciente}}, {{data.prescripcion.TipoDocumento}}: {{data.prescripcion.NumeroDocumento}}</h4>
						<h5>Tipo Indicacion: {{data.detalle.Indicacion.TipoIndicacion.Nombre}}</h5>
						<h5>Descripcion: {{data.detalle.Indicacion.Nombre}}</h5>
						<h5 ng-show="formControl.existeObservaciones">Observaciones: {{data.detalle.ObservacionMedica}}</h5>
						<BR>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row fila">
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
								<label for="cmb_tipo_documento" id="nombre_paciente_label">Cirujano: </label>
								<input  type="text" 
										placeholder="Cirujano..." 
										ng-model="formData.cirujano"
										uib-typeahead="medico as (medico.numero_matricula +' / '+ medico.nombre_completo) for medico in data.profesionales | filter:$viewValue | limitTo:8" 
										class="form-control"
										typeahead-on-select="formControl.tipearCirujano()"
										ng-change="formControl.tipearCirujano()"
										typeahead-select-on-exact="true">
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
								<label for="cmb_tipo_documento" id="nombre_paciente_label">Ayudante 1: </label>
								<input  type="text" 
										placeholder="Ayudante 1..." 
										ng-model="formData.ayudante1"
										uib-typeahead="medico as (medico.numero_matricula +' / '+ medico.nombre_completo) for medico in data.profesionales | filter:$viewValue | limitTo:8" 
										class="form-control"
										typeahead-on-select="formControl.tipearAyudante1()"
										ng-change=""
										typeahead-select-on-exact="true">
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
								<label for="cmb_tipo_documento" id="nombre_paciente_label">Ayudante 2: </label>
								<input  type="text" 
										placeholder="Ayudante 2..." 
										ng-model="formData.ayudante2"
										uib-typeahead="medico as (medico.numero_matricula +' / '+ medico.nombre_completo) for medico in data.profesionales | filter:$viewValue | limitTo:8" 
										class="form-control"
										typeahead-on-select="formControl.tipearAyudante2()"
										ng-change=""
										typeahead-select-on-exact="true">
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
								<label for="cmb_tipo_documento" id="nombre_paciente_label">Anestesista: </label>
								<input  type="text" 
										placeholder="Anestesista..." 
										ng-model="formData.anestesista"
										uib-typeahead="medico as (medico.numero_matricula +' / '+ medico.nombre_completo) for medico in data.profesionales | filter:$viewValue | limitTo:8" 
										class="form-control"
										typeahead-on-select="formControl.tipearAnestesista()"
										ng-change=""
										typeahead-select-on-exact="true">
							</div>
						</div>
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  form-group">
										<label>Hora inicio</label>
										 <sa-time-picker
										 	ng-model="formData.fecha_inicio"
										 	model="formData.fecha_inicio"

										 	ng-change="formControl.controlarCampos()">
										 </sa-time-picker>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  form-group">
										<label for="cmb_tipo_documento">Diagnostico Previo:</label>	
										<input  type="text" 
											placeholder="Diagnostico previo" 
											ng-model="formData.diagnosticoPrevio.titulo_cie_enfermedad"
											class="form-control"
											ng-disabled="true"
											ng-hide="false">
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  form-group">
										<button ng-hide="" class="btn btn-default btn-row" ng-click="formControl.cargarDiagnosticoPrevio()">Diagnostico</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 ">
										 <label>Hora fin</label>
										 <sa-time-picker
										 	ng-model="formData.fecha_fin"
										 	model="formData.fecha_fin"

										 	ng-change="formControl.controlarCampos()">
										 </sa-time-picker>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-8 col-lg-8   form-group" >
										<label for="cmb_tipo_documento">Diagnostico Posterior:</label>	
										<input  type="text" 
											placeholder="Diagnostico posterior" 
											ng-model="formData.diagnosticoPosterior.titulo_cie_enfermedad"
											class="form-control"
											ng-disabled="true"
											ng-hide="false">
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 ">
										<button ng-hide="" class="btn btn-default btn-row" ng-click="formControl.cargarDiagnosticoPosterior()">Diagnostico</button>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
								<label for="cmb_tipo_documento">Procedimiento realizado:</label>
								<textarea type="text" class="form-control " placeholder="Procedimiento..."
									name="procedimiento"
									ng-model="data.detalle.Foja.procedimiento" 
									ng-change="formControl.controlarCampos()">
								</textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
								<label for="cmb_tipo_documento">Preparación / posición / vía abordaje / hallazgos / Procedimientos:</label>
								<textarea type="text" class="form-control " placeholder="Preparacion..."
									name="preparacion"
									ng-model="data.detalle.Foja.preparacion" 
									ng-change="formControl.controlarCampos()">
								</textarea>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="modal-footer" >
				<button type="button"
						class="btn btn-cancelar"
						ng-disabled=""
						ng-click="formControl.cancel()">Cancelar</button>				
				<button type="button"
						class="btn btn-default"
						ng-disabled="!formControl.datosCargados"
						ng-click="formControl.ok()">Aceptar</button>
			</div>

	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
