
	<!-- <div id="print-content" class="container-print"> -->

<form name="formDetallePrescripcion" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Detalle del Paciente</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-8 col-sm-7 col-md-6 col-lg-6 ">
				<h3>{{data.prescripcion.NombrePaciente}}, {{data.prescripcion.TipoDocumento}}: {{data.prescripcion.NumeroDocumento}}</h3>
				<h5>Diagnóstico: {{data.prescripcion.Diagnostico}}</h5>
			</div>
			<div class="col-xs-4 col-sm-5 col-md-6 col-lg-6 ">
				<span class="btn-group pull-right">
					<button  class="btn btn-default btn-row"" type="button"
							ng-disabled=""
							ng-click="formControl.verFojas()">
							Fojas
					</button>
					<button  class="btn btn-default btn-row"" type="button"
							ng-disabled="!formControl.alta"
							ng-click="formControl.darAlta()">
							Alta
					</button>
				</span>
			</div>
		</div>
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fw-noselect" >
				<sa-detalle-prescripcion prescripcion="data.prescripcion">
					</sa-detalle-prescripcion>
			</div>

		</div>
		<sa-loading ng-if="vm.formControl.loading"></sa-loading>
	</div>
	<div class="modal-footer" >
		<button type="button"
				class="btn btn-default"
				ng-disabled=" formControl.loading"
				ng-click="formControl.ok()">Aceptar</button>
		<button type="button"
				class="btn btn-cancelar"
				ng-disabled=""
				ng-click="formControl.cancel()">Cancelar</button>				
	</div>