
<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Asignacion de Enfermera</h4>
	</div>
	<div class="modal-body">
		<sa-loading ng-if="vm.formControl.loading"></sa-loading>
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft ">
				<label for="cmb_tipo_documento" id="prestarEnfermera_enfermera_label">Enfermera: </label>

				<input name="busquedaEnfermera" 
				id="busquedaEnfermera" type="text" 
				placeholder="Buscar enfermera..." 
				ng-model="formData.enfermera" 
				uib-typeahead="usuario as usuario.Nombre for usuario in data.enfermeras | filter:$viewValue | limitTo:8" 
				class="form-control"
				typeahead-on-select="formControl.cargarEnfermera()"
				ng-change="formControl.cargarEnfermera()"
				typeahead-select-on-exact="true"
				ng-focus="true">

				<label for="cmb_tipo_documento" ng-hide="!formControl.tieneAsignacionTemporal">Enfermera con asignacion vigente hasta: {{data.asignacionTemporal.fecha_hasta | date:'dd-MM-yyyy HH:mm'}} </label>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft ">
				<table class="table table-hover" id="prestarEnfermera_table">
					<thead>
						<tr >
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="thead-azul">
							<tr class="cabecera-tabla">
								<th class="text-left">Ubicaciones Actuales</th>

							</tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ubicacion in data.ubicacionesPisoEnfermera">
							<th class="row text-left">{{ ubicacion.nombre_ubicacion_piso }}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colleft ">
				<label for="cmb_tipo_documento" id="prestarEnfermera_ubicacion_label">Ubicacion</label>
				<select class="form-control"
					id="prestarEnfermera_ubicacion_select" 
					data-live-search="true"
					name="Piso"
					ng-model="formData.subseccion"
					ng-class="validar.error(formSolicitud.piso.$valid)"
					ng-change="formControl.seleccionarSubseccion()"
					ng-disabled="constante.disabled || formControl.externo"
					ng-options="subseccion.descripcion
					for subseccion in data.subsecciones 
					track by subseccion.id_subseccion"
					required >
					<option value="">--SELECCIONAR--</option>
				</select>
				<BR>
				<button class="btn btn-default"
					id="prestarEnfermera_reasignar_button" 
					ng-click='formControl.reasignarEnfermera()'>Renovar asignacion</button>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<button type="button"
		class="btn btn-default"
		ng-disabled="!formControl.habilitarAceptar"
		ng-click="formControl.ok()">Aceptar</button>
		<button type="button"
		class="btn"
		ng-click="formControl.cancel()">Cancelar</button>
	</div>
</form>

