
<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Asignar a paciente</h4>
	</div>
	<div class="modal-body">
		<div class="row">

			<div class="col-xs-12">
				<h2>
					Asignar a {{data.internado.numero_internado +' | '+ data.internado.nombre_paciente}}:
				</h2>
				<label for="cmb_tipo_documento">Evolucion:  (*)</label>
				<input type="text" class="form-control input-sm" 
						name="observaciones"
						ng-model="formData.observacion"
						maxlength="150"
						ng-change="formControl.cargaObservacion()">

				<table class="table table-hover">
					<thead>
						<tr >
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Nombre</th>
							<th class="text-left">Presentacion</th>
							<th class="text-left">Cantidad a asignar</th>
							<th ng-if="formControl.observacionObligatoria" class="text-center">Cantidad Ya Entregada</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ubicacionDetalle in data.listaAsignados  track by ubicacionDetalle.id_ubicacion_detalle">
							<td class="row text-left">{{ ubicacionDetalle.Producto.nombre }}</th>
							<td	class="row text-left">{{ ubicacionDetalle.Producto.presentacion }}</td>

							<td class="row text-left">{{ ubicacionDetalle.cantidad_productos }}</td>
							<td ng-if="formControl.observacionObligatoria" class="row text-center">
								{{ ubicacionDetalle.cantidad_entregada }}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-xs-12 text-center" ng-hide="!formControl.vacio" >
					<label>No hay productos cargados...</label>
				</div>

				<sa-loading ng-if="formControl.loading"></sa-loading>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<button type="button"
				class="btn btn-default"
				ng-disabled="!formControl.botonAceptar"
				ng-click="formControl.ok()">Aceptar</button>
		<button type="button"
				class="btn btn-cancelar"
				ng-disabled=""
				ng-click="formControl.cancel()">Cancelar</button>
	
	</div>
</form>
