
<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Detalle Movimiento</h4>
	</div>
	<div class="modal-body">
		<div class="row">

			<div class="col-xs-12 ">
				<h2 id="movimientoDetalle_detalle">
					Movimiento: {{data.movimiento.id_movimiento}}
				</h2>

				<table class="table table-hover" id="movimientoDetalle_table">
					<thead>
						<tr >
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="thead-azul">
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Producto</th>
							<th class="text-left">Presentacion</th>
							<th class="text-left">Cantidad</th>
							<th ng-if="!formControl.farmacia" class="text-left">Cancelar</th>
						</tr>
					</thead>
					<tbody ng-hide="formControl.loadingModal" >
						<tr ng-repeat="detalle in data.movimiento.DetallesMovimiento">
							<th class="row text-left">{{ detalle.Producto.numero_articulo }}</th>
							<td class="row text-left">{{ detalle.Producto.nombre }}</td>
							<td class="row text-left">{{ detalle.Producto.presentacion }}</td>
							<td class="row text-left">{{ detalle.cantidad_productos }}</td>
							<td ng-if="!formControl.farmacia" class="row text-left">
								<button type="button"
										ng-hide="detalle.facturado || detalle.descartar || formControl.farmacia || detalle.cancelado"
										class="btn btn-white btn-xs"
										ng-disabled="!formControl.puedeAutorizar"
										uib-tooltip="Cancelar Movimiento" 
										uib-tooltip-placement="top" 
										ng-click="formControl.cancelarDetalle($index)">
								<sa-icon name="TRASH"></sa-icon>
								</button>
								<button type="button"
										ng-hide="(!detalle.descartar && !detalle.cancelado) || formControl.farmacia || detalle.facturado "
										ng-disabled="detalle.cancelado || !formControl.puedeAutorizar"
										class="btn btn-white btn-xs"
										uib-tooltip="Movimiento Cancelado" 
										uib-tooltip-placement="top" 
										ng-click="formControl.cancelarDetalle($index)">
								<sa-icon name="ERROR"></sa-icon>
								</button>
		
							</td>
						</tr>
					</tbody>
				</table>
				<label for="cmb_tipo_documento" ng-hide="!formControl.observacion || formControl.loadingModal">Observacion: {{data.movimiento.observaciones}} </label>
				<sa-loading ng-if="formControl.loadingModal"></sa-loading>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<button type="button" class="btn btn-default"
			ng-disabled="formControl.loadingModal"
			ng-hide="formControl.farmacia || data.movimiento.cancelado"
			ng-click="formControl.ok()">Aceptar</button>
		<button type="button" class="btn btn-cancelar"
			ng-click="formControl.cancel()">Cancelar</button>
	</div>
</form>
