<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="cuerpo" >
	<form name="formEquipo" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
				<div sa-form-input-validate>
					<label>Matrícula</label>
					<input type="number" name="matricula" ng-model="vm.data.equipo.NumeroMatricula" id="edit-equipos-matricula-input"
					min="1" maxlength="6" placeholder="0" ng-required="true" ng-disabled="vm.data.editaMatricula" sa-enter autofocus>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<div sa-form-input-validate>
					<label>Nombre del Equipo</label>
					<input type="text" name="nombre" ng-model="vm.data.equipo.Nombre" maxlength="35" id="edit-equipos-nombre-input" ng-required="true" sa-enter>
				</div>
			</div>
		</div>
		<uib-tabset class="prueba" active="active">
			<uib-tab ng-repeat="tab in vm.tabs"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				index="$index + 1"
				class="{{ tab.CLASSBG }}"
				role="presentation"
				ng-hide="tab.HIDE"
				id="edit-equipos-tab-{{$index + 1}}"
				ui-sref-active ="active"
				ui-sref="{{tab.STATE}}"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
			</uib-tab>
		</uib-tabset>
		<div class="fila">
			<ui-view></ui-view>
		</div>
		<br>
		<div class="row text-center">
			<button class="btn btn-cancelar" 
					ng-click="vm.formControl.volver()"
					id="edit-equipos-volver-btn"
					sa-punto-click="vm.formControl.volver()"
					sa-enter>
				Volver
			</button>
			<button class="btn btn-default"
					ng-click="vm.formControl.guardar(!formEquipo.$invalid)"
					id="edit-equipos-guardar-btn"
					sa-punto-click="vm.formControl.guardar(!formEquipo.$invalid)"
					sa-enter>
				Guardar
			</button>
		</div>
	</form>
</div>