<sa-loading ng-if="vm.loading"></sa-loading>
<sa-modal-header title-name="{{vm.title.name}}" title-icon="LIST">

</sa-modal-header>
<sa-modal-body>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" ng-repeat="sucursal in vm.sucursales">
							{{sucursal.Nombre}}
							<textarea rows="9" class="form-control textarea-xl" ng-model="sucursal.Observacion" placeholder="Observacion para {{sucursal.Nombre}}" 
							ng-class="{'text-edit-cursor' : vm.disabled}"	ng-disabled="vm.disabled"
							 ></textarea>
						</th>
					</tr>
				</thead>

			</table>
		</div>
	</div>


</sa-modal-body>
<sa-modal-footer>
	<button type="button" class="btn " ng-click="vm.cancel()">
		<sa-icon name="DEL"></sa-icon>
		Cancelar
	</button>
	<button type="button" class="btn btn-primary" ng-click="vm.guardar()" ng-if="vm.btnGuardar">
		<sa-icon name="SAVE"></sa-icon>
		Guardar
	</button>
</sa-modal-footer>
</div>