<uib-tabset>
	<uib-tab ng-repeat="tab in vm.tabs track by $index" class="{{ tab.CLASSBG }}" role="presentation" ng-hide="tab.HIDE" active="tab.ACTIVE"
	 uib-tooltip="{{tab.TITLE_CONTENT}}" disable="tab.DISABLED" ng-click="vm.selectTab(tab)" id="farmacia-indicacionesmedicas-tab-{{$index}}">
		<uib-tab-heading class="{{ tab.CLASS }}">
			{{ tab.TITLE_TAB }}
		</uib-tab-heading>
		<div class="row">
			<div class="col-xs-12">
				<h3>{{tab.TITLE_CONTENT}}</h3>
			</div>
		</div>
		<!-- <div ng-include="tab.CONTENT"></div> -->
		<div ng-bind-html="tab.COMPONENT | saToHtml" fw-init-bind></div>
		<!-- <div dynamic="tab.COMPONENT"></div> -->
	</uib-tab>
</uib-tabset>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>