	<sa-title
	title-name="vm.title.page"
	title-icon="LIST"
	btn-new-click="vm.formControl.new()"
	btn-new-disabled="vm.formControl.loading"
	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading"
	></sa-title>
	<div id="cuerpo" ng-hide="vm.formControl.loading">
	
		<h4 ng-show="!vm.data.usuario.Excepciones.length">Sin datos para el usuario </h4>
		<div class="row fila table-responsive" ng-show="vm.data.usuario.Excepciones.length">
			<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Tipo Entidad</th>
						<th class="text-center">Tipo Excepción</th>
						<th class="text-center">Entidades</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="excepcion in vm.data.excepciones">
						<td class="text-center"  ng-bind="excepcion.TipoEntidad.Nombre"></td>
						<td class="text-center"  ng-bind="excepcion.TipoExcepcion.Nombre"></td>
						<td class="text-center" >
							<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Ver" tooltip-placement="top"
							ng-click="vm.formControl.info(excepcion)"
							>
							<sa-icon name="EYE_OPEN"></sa-icon>
							</button>
						</td>
						<td class="text-center">
							<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Editar" tooltip-placement="top"
							ng-click="vm.formControl.edit(excepcion)">
							<sa-icon name="EDIT"></sa-icon>
							</button>
							<button type="button" class="btn btn-white btn-xs"
							uib-tooltip="Borrar" tooltip-placement="top"
							ng-click="vm.formControl.delete(excepcion)">
							<sa-icon name="DEL"></sa-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="table-responsive col-md-12 col-lg-12" ng-show="vm.formControl.showDivInfo || vm.formControl.showDivEdit" style="margin-top: 10px;" >
		<h4 ng-show="vm.formControl.showDivInfo">Ver Excepciones </h4>
		<h4 ng-show="vm.formControl.showDivEdit">Editar Excepciones </h4>
	
	<form name="formEdit" accept-charset="utf-8" novalidate>
			<div class="col-md-12">
				<table class="table table-hover">
					<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Codigo</th>
						<th class="text-center">Nombre</th>
						<th class="text-center" ng-show="vm.formControl.showDivEdit">Seleccionar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entidadExcepcion in vm.filter.entidadExcepciones">
						<td class="text-center" ng-bind="entidadExcepcion.Id" ng-show="vm.formControl.showDivEdit"></td>
						<td class="text-center" ng-bind="entidadExcepcion.IdEntidad" ng-show="!vm.formControl.showDivEdit"></td>
						<td class="text-center" ng-bind="entidadExcepcion.Nombre"></td>
						<td class="text-center" ng-show="vm.formControl.showDivEdit">
							<!-- <div class="checkbox checkbox-print" >
								<label>
									<div class="checkbox-print">
										<input type="checkbox" ng-model="extra1[$index]" ng-checked="entidadExcepcion.checked"
										ng-click="vm.formControl.addEntidadExcepcion(entidadExcepcion,extra1[$index])">
									</div>
								</label>
							</div> -->
							<sa-check-box ng-model="entidadExcepcion.checked" color="green" >
							</sa-check-box>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	
	<div class="col-md-12">
		<div class="text-center">
			<div uib-pagination 
			max-size="10"
			items-per-page="vm.paginacion.pageSize"
			total-items="vm.paginacion.totalItems"
			ng-model="vm.paginacion.currentPage"
			ng-change="vm.paginacion.pageChanged()"
			previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
			</div>
		</div>
	</div>
	</div>
	
	<div class="row fila">
	<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-group" style="margin-top: 20px;">
				<button sa-btn-cancel ng-click="vm.formControl.volver()">
				<span ng-if="!formEdit.$pristine">Cancelar</span>
				<span ng-if="formEdit.$pristine">Volver</span>
				</button>
				<button sa-btn-save
				ng-disabled="formEdit.$pristine"
				ng-click='vm.formControl.save()'>Guardar</button>
			</div>
		</div>
	</div>
	</div>
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>