	<sa-title
	title-name="vm.title.page"
	title-icon="LIST"
	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading"
	></sa-title>
	<div id="cuerpo" ng-hide="vm.formControl.loading">
		<div class="row fila">
			<form name="formFilter" accept-charset="utf-8" novalidate>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_numero_servicio" class="label-control">Nº Rol</label>
					<input type="number" class="form-control no-valid  text-capitalize"
					id="txt_numero_servicio"
					name="idServicio"
					min="0"
					max="9999"
					ng-class="{ error : formFilter.id.$error.number }"
					ng-model="vm.filter.id"
					ng-change="vm.paginacion.pageChanged()">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_nombre_rol" class="label-control ">Nombre Rol</label>
					<input type="text" class="form-control text-capitalize no-valid"
					id="txt_nombre_rol"
					name="nombreRol"
					ng-class="{ error : formFilter.id.$error.number }"
					ng-model="vm.filter.nombreRol"
					ng-change="vm.paginacion.pageChanged()">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-1 pull-left">
					<label for="txt_cantaidad_roles" class="label-control">Cantidad Roles </label>
					<div >
						<strong ng-bind="vm.paginacion.totalItems"></strong>
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-left">
					
					<sa-check-box label="Roles activos" ng-model="vm.filter.rolesActivos"
					color="green" ng-change="vm.paginacion.pageChanged()">
					</sa-check-box>
				</div>


				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
					<button type="button" sa-btn-clean class="btn-row btn-block"
					ng-click="vm.filter.clean()">
					Limpiar
					</button>
				</div>

			</form>
		</div>
		<div class="row table-responsive text-center ">
			<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Rol N°</th>
						<th class="text-center">Nombre Rol</th>
						<th class="text-center">Asignar a Usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rol in vm.filter.roles">
						<td class="text-center" ng-bind="rol.Id"></td>
						<td class="text-center" ng-bind="rol.Nombre"></td>
						<td class="text-center">
							<input type="checkbox" ng-model="rol.Seleccionado"
							ng-click="vm.formControl.openAsignar(rol.Seleccionado, rol)"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" >
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination 
				max-size="10"
				items-per-page="vm.paginacion.pageSize"
				total-items="vm.paginacion.totalItems"
				ng-model="vm.paginacion.currentPage"
				ng-change="vm.paginacion.pageChanged()"
				previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="row fila">
		
		
		<div class="col-sm-12" >
			<h4>Permisos</h4>
			<sa-permisos-x-modulo-list
			ng-model="vm.data.vistaPlana"
			btn-filter-disabled="vm.formControl.loading"
			btn-filter-if="!vm.formControl.loading"
			btn-show-disabled="vm.formControl.loading"
			btn-show-if="!vm.formControl.loading"
			>
			</sa-permisos-x-modulo-list>
		</div>
		
		<div class="col-sm-12">
			<div class="text-center">
				<div class="btn-group" style="margin-top: 20px;">
					<button sa-btn-cancel ng-click="vm.formControl.volver()">
					<span ng-if="!formSolicitud.$pristine">Cancelar</span>
					<span ng-if="formSolicitud.$pristine">Volver</span>
					</button>
					<button sa-btn-save
					ng-click='vm.formControl.save()'>Guardar</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>