<sa-section id="section_general">
	<sa-section-item class-item="col-xs-12" type-item="section-item-up">

		<div class="row">

			<!-- <div class="col-xs-12 col-sm-5 col-md-6 col-lg-2">
				<button type="button" class="btn btn-default btn-block" ng-click="vm.formControl.pacienteSearchBool = !vm.formControl.pacienteSearchBool">
					Cargar Otro Paciente
				</button>
			</div> -->

			<div class="col-xs-12 col-sm-7 col-md-6 col-lg-12">
				<ul class="list-inline">
					<li ng-if="vm.data.pacientes.length != 0" ng-repeat="paciente in vm.data.pacientes">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
							<a ng-click="vm.pacienteControl.select(paciente)" style="cursor: pointer; border-radius: 24px; padding: 5px;" ng-class="{'color-success': paciente.Seleccionado}">
								{{paciente.Nombre}} {{paciente.Apellido}} {{vm.formControl.getMutualPaciente(paciente)}} - {{paciente.TipoDocumento}}: {{paciente.NumeroDocumento}}</a>
							<button type="button" class="btn btn-white btn-xs" style="padding-left: 0px;border-top-width: 0px;border-left-width: 0px;"
							    uib-tooltip="Borrar" tooltip-placement="top" ng-click="vm.pacienteControl.deletePacienteList(paciente)">
								<sa-icon name="DEL"></sa-icon>
							</button>

						</div>

					</li>
				</ul>
			</div>

		</div>

		<sa-buscador-paciente ng-model="vm.data.pacienteBuscar" btn-mutuales-if="true" btn-ver-turnos-if="false" btn-editar-paciente-if="false"
		    telefono-if="false" celular-if="false" email-if="false" buscador-nombre-apellido-if="true" nombre-apellido-if="false" btn-action-extra-if="true"
		    btn-action-extra-disabled="vm.formControl.isMutualActiva()" btn-action-extra-class="'btn-success'" btn-action-extra-icon="'NEW'"
		    ng-show="vm.formControl.pacienteSearchBool" btn-action-extra-click="vm.formControl.agregarPaciente()">
		</sa-buscador-paciente>

		<!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<button type="button" class="btn btn-success btn-sm" ng-click="vm.formControl.agregarPaciente()">
				<sa-icon name="NEW"></sa-icon>
			</button>
		</div> -->


	</sa-section-item>
	<sa-section-item class-item="col-xs-12" type-item='section-item-up'>

		<div ng-hide="vm.formControl.loading">

			<div class="row">

				<div class="col-xs-12 col-sm-7 col-md-6 col-lg-12">

					<div class="row">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="row">

								<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
									<sa-selector-servicio-medico ng-model="vm.data.servicioMedico" if-label="false" ng-change="vm.formControl.cargarDatosPrestacion(vm.data.servicioMedico)"
									    solo-visibles-turnos="true">
									</sa-selector-servicio-medico>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
									<!-- <label>Tipo de Turno</label> -->
									<select name="tipoTurnoPlantilla" class="form-control" ng-model="vm.data.tipoTurno" ng-change="vm.formControl.filtrarPrestacionesPorTipoDeTurno()"
									    ng-options="tipoTurno.Nombre for tipoTurno in vm.data.tiposDeTurno track by tipoTurno.Id">
										<option value="">-SELECCIONAR Tipo Turno-</option>
									</select>
								</div>


								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">

									<div uib-dropdown class="fw-dropdown-container" auto-close="outsideClick">
										<button
										class="btn dropdown-toggle btn-default"
										type="button" id="dropdownMenu1"
										uib-dropdown-toggle
										    ng-disabled="!vm.data.servicioMedico" aria-expanded="true" style="width: 100%;"> {{vm.formControl.loadPrestacionesBtn() | limitTo: 50}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
											<li ng-repeat="prestacion in vm.data.testPrestaciones" class="no-valid">
												<div class="fw-dropdown-item" ng-click="item.action()">
													<div class="fw-dropdown-item-left fw-noselect">
														<fw-icon name="{{item.icon}}"></fw-icon>
														<span>• {{prestacion.Nombre}}</span>
													</div>
													<div class="fw-dropdown-item-right text-right">
														<sa-check-box ng-model="prestacion.status" color="green" >
														</sa-check-box>
													</div>
												</div>
												<div ng-if="!$last" class="divider"></div>
											</li>
										</ul>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
									<sa-sucursal-combo-filtrado if-label="false" ng-model="vm.data.sucursal" todas="true" ng-change="vm.formControl.setCriterioSelected()">
									</sa-sucursal-combo-filtrado>
								</div>

							</div>


						</div>

					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">


								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

									<sa-selector-especialidad ng-model="vm.data.especialidad" if-label="false" idservicio="vm.data.servicioMedico" idsucursal="vm.data.sucursal"
									    ng-disabled="!vm.data.servicioMedico || !vm.data.sucursal">
									</sa-selector-especialidad>

								</div>


								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
									<!-- <sa-selector-recurso ng-model="vm.data.recurso" idservicio="vm.data.servicioMedico" idsucursal="vm.data.sucursal" idespecialidad="vm.data.especialidad"
									    ng-disabled="!vm.data.servicioMedico || !vm.data.sucursal" if-label="false">
									</sa-selector-recurso> -->
									<sa-recursos-selector-por-mutual model="vm.data.recurso" disabled="!vm.data.servicioMedico || !vm.data.sucursal" loading="vm.formControl.loading"
									    prestaciones="vm.data.testPrestaciones" sucursal="vm.data.sucursal" especialidad="vm.data.especialidad" criterio-busqueda="vm.data.criterioSelected"
									    afiliaciones="vm.data.pacienteBuscar.Afiliaciones" if-label="false" on-model-change="vm.formControl.limpiarGrillayCalendar();"
									    buscador-recurso-en-servicios-if="true">
									</sa-recursos-selector-por-mutual>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group ">
									<button type="button" class="btn btn-warning  btn-block" ng-disabled="vm.formControl.isMutualActiva()" ng-click="vm.formControl.agregarCriterio()">
										Agregar Criterio
									</button>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2  form-group">
									<button type="button" class="btn btn-default  btn-block" ng-click="vm.formControl.limpiar()">
										Limpiar
									</button>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-1 form-group ">
									<button type="button" class="btn btn-default pull-right " ng-if="vm.data.gridRecursosBusqueda" ng-click="vm.formControl.toggleBusquedaRecursos()"
									    uib-tooltip="Ver Criterios Busqueda" tooltip-placement="top" ng-disabled="!vm.data.criterios.length">
										<sa-icon name="DOWN"></sa-icon>
									</button>
									<button type="button" class="btn btn-default  pull-right" ng-if="!vm.data.gridRecursosBusqueda" ng-click="vm.formControl.toggleBusquedaRecursos()"
									    uib-tooltip="Ocultar Criterios Busqueda" tooltip-placement="top" ng-disabled="!vm.data.criterios.length">
										<sa-icon name="PREV"></sa-icon>
									</button>
								</div>

							</div>

						</div>
						<div class="col-xs-12" ng-if="vm.data.criterios.length && vm.data.gridRecursosBusqueda">

							<div class="row fila">

								<div class="col-xs-11">

									<!-- <div id="tntGridRecursosSearch" ui-grid="vm.grid.gridOptionsRecursos" ui-grid-selection ui-grid-exporter ui-grid-move-columns>
									</div> -->
									<table class="table table-fixed table-fixed-xs table-cursor-pointer">
										<thead>
											<tr>
												<th class="col-xs-3">Paciente</th>
												<th class="col-xs-2">Servicio</th>
												<th class="col-xs-1">Sucursal</th>
												<th class="col-xs-2">Profesional</th>
												<th class="col-xs-1">Tipo Turno</th>
												<th class="col-xs-2">Prestacion/es</th>
												<th class="col-xs-1">Accion</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="row in vm.data.criterios" ng-class="row.criterioClass.class">
												<td class="col-xs-3" ng-bind="row.nombreObraSocialPaciente"></td>
												<td class="col-xs-2" ng-bind="row.nombreServicio"></td>
												<td class="col-xs-1" ng-bind="row.nombreSucursal" ng-class="row.ColorSucursal"></td>
												<td class="col-xs-2" ng-bind="row.nombreRecurso"></td>
												<td class="col-xs-1" ng-bind="row.nombreTipoTurno"></td>
												<td class="col-xs-2" ng-bind="row.PrestacionesNombres"></td>
												<td class="col-xs-1">
													<button type="button" id="button_eliminar" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top"
													    ng-click="vm.formControl.eliminarCriterioBusqueda(row)">
														<sa-icon name="DEL"></sa-icon>
													</button>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-1 form-group">
									<button type="button" class="btn btn-success  btn-block" ng-disabled="!vm.data.criterios.length" ng-click="vm.formControl.buscar()">
										Buscar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row fila" style=" margin-top: 6px;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-5 col-md-6 col-lg-2">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" ng-show="vm.formControl.toggleColores">
									<table class="table table-bordered table-condensed">
										<tbody>
											<tr ng-repeat="color in vm.coloresEstadoTurno">
												<td>
													<div class="pull-left">
														<div class="circulito" ng-class="color.color"></div>
													</div>
													&nbsp;
													<span ng-bind="color.nombre"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-lg-12">
									<div class="calendar calendario-chico" calendar="calendarAsignacionTurnoMultiples" ui-calendar="vm.uiConfig.calendarTurnoMultiples">
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 16px;" ng-show="vm.data.turnosDisponiblesDelDia">
									<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.abrirObservaciones()">
										Observaciones
									</button>
									<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.abrirRequerimientos()" ng-disabled="false">
										Requerimientos
									</button>
								</div>
							</div>
						</div>


						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" ng-if="vm.data.turnosDisponiblesDelDia.length !== 0">
							<div class="row">
								<sa-tabla-turnos-asignacion-multiple-directive data="vm.data.turnosDisponiblesDelDia" titulogrid="Tur. Disp. del {{vm.data.diaElegidoText}} {{vm.data.diaElegidoTextExtraData}}"
								    multiselect="true" table-class="false" row-selected="vm.formControl.selectTurno(pObject)" btn-otorgar-text="Agregar Turnos"
								    btn-otorgar="vm.turno.seleccionarTurno(pObject)" criterios="vm.data.criterios"></sa-tabla-turnos-asignacion-directive>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" ng-if="vm.data.turnosSeleccionadosPorPaciente.length" style="border-left: 2px solid rgb(189, 187, 187);">
							<div class="row">

								<div class="col-xs-12">
									<h5>Turnos a otorgar</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
									<table class="table table-fixed table-fixed-lg table-cursor-pointer">
										<thead>
											<tr>
												<th class="col-xs-2">Paciente</th>
												<th class="col-xs-3">Día/Hora</th>
												<th class="col-xs-2">Profesional</th>
												<th class="col-xs-2">Sucursal</th>
												<th class="col-xs-2">Tipo Turno</th>
												<th class="col-xs-1">Accion</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="row in vm.data.turnosSeleccionadosPorPaciente" ng-class="{'color-aquaorange-turno': row.selected }">
												<td class="col-xs-2">{{row.nombrePaciente}}</td>
												<td class="col-xs-3">{{row.Fecha | fwPicker: 'date'}} / {{row.Hora}}</td>
												<td class="col-xs-2" ng-bind="row.Recurso"></td>
												<td class="col-xs-2" ng-bind="row.Sucursal" ng-class="row.ColorSucursal"></td>
												<td class="col-xs-2" ng-bind="row.TipoTurno"></td>
												<td class="col-xs-1">
													<button type="button" id="button_eliminar_turno_seleccionado" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top"
													    ng-click="vm.turno.quitarTurno(row)">
														<sa-icon name="DEL"></sa-icon>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="row text-center">
				<button class="btn btn" ng-click="vm.formControl.volver()">
					<span>Volver</span>
				</button>
				<button class="btn btn-success" ng-click='vm.formControl.save()' ng-disabled="vm.data.turnosSeleccionadosPorPaciente.length == 0">Otorgar Turnos</button>
				<!-- <button class="btn btn" ng-click="vm.formControl.volverArriba()">
					<span>Volver arriba</span>
				</button> -->
			</div>

		</div>

	</sa-section-item>
</sa-section>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>