<sa-section>
	<!-- 	<sa-section-item
class-item="col-xs-2 section-left-padding"
type-item="section-left">
sarasasasa
</sa-section-item >
-->
	<sa-section-item class-item="col-xs-12" type-item="section-item-up">
		<sa-buscador-paciente ng-model="vm.data.paciente" btn-mutuales-if="true" btn-ver-turnos-if="true"
		 btn-editar-paciente-if="true" ng-change="vm.formControl.limpiarGrillayCalendar(); vm.formControl.consultarCuestionario(); vm.formControl.buscarSolicitudesDeEstudio()" telefono-if="true" celular-if="true"
		 email-if="true" buscador-nombre-apellido-if="true" nombre-apellido-if="false" chkbox-mantener-datos-if="true"
		 chkbox-mantener-datos-model="vm.formControl.mantenerDatos" chkbox-control-edad-if="true" chkbox-control-edad-model="vm.formControl.controlEdad"
		 reprogramar-turno-paciente="vm.formControl.turnoAReprogamar(idTurnoAReprogramar)" btn-action-extra-if="true"
		 btn-action-extra-class="'btn-info'" btn-action-extra-icon="'CONF'" btn-action-extra-click="vm.formControl.openAjustesPaciente()">
		</sa-buscador-paciente>
	</sa-section-item>
	<sa-section-item class-item="col-xs-12" type-item='section-item-up'>
		<form name="formFilter" class="fila" accept-charset="utf-8" novalidate style="margin-bottom: 2px;" >
			<div class="row" >

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
							<sa-selector-servicio-medico ng-model="vm.data.servicioMedico" if-label="false" ng-change="vm.formControl.cargarDatosPrestacion(vm.data.servicioMedico); 
							vm.formControl.cargarSucursalesXServicio(vm.data.servicioMedico); vm.formControl.limpiarGrillayCalendar(); "
							 solo-visibles-turnos="true">
							</sa-selector-servicio-medico>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
							<!-- <label>Tipo de Turno</label> -->
							<select name="tipoTurnoPlantilla" id="asignacion-select-tipo-turno" class="form-control" ng-model="vm.data.tipoTurno" 
							ng-options="tipoTurno.Nombre for tipoTurno in vm.data.tiposDeTurno track by tipoTurno.Id"
							 ng-change="vm.formControl.limpiarGrillayCalendar(); vm.formControl.filtrarPrestacionesPorTipoDeTurno();">
								<option value="">-SELECCIONAR Tipo Turno-</option>
							</select>
						</div>

						<!-- PRESTACIONES SELECTOR COMUN -->
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" ng-if="!vm.data.showBuscadorPrestacion">

							<div uib-dropdown class="fw-dropdown-container" auto-close="outsideClick" on-toggle="vm.formControl.closePrestacionesMenu(open)">
								<button class="btn dropdown-toggle btn-default" type="button" id="dropdownMenu1" uib-dropdown-toggle 
								uib-tooltip-html="vm.formControl.getItemsNameSelected() | saToHtml" tooltip-placement="top"
								 ng-disabled="!vm.data.servicioMedico" style="width: 100%;"> {{vm.formControl.loadPrestacionesBtn() | limitTo:
									50}}
									<span class="caret"></span>
									<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search pull-right" ng-click=" vm.data.showBuscadorPrestacion = true"  ng-disabled="!vm.data.servicioMedico"
									style="margin-bottom: 5px;	margin-top: 0px;margin-right: 10px;	margin-left: 10px;"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
									<li ng-repeat="prestacion in vm.data.prestacionesObtenidas" class="no-valid">
										<div class="fw-dropdown-item">
											<div class="fw-dropdown-item-left fw-noselect" uib-tooltip="{{prestacion.Prefacturables}}"
											 uib-tooltip-placement="top">
												<fw-icon name="{{item.icon}}"></fw-icon>
												<span>• {{prestacion.Nombre}}</span>
											</div>
											<div class="fw-dropdown-item-right text-right">
												<sa-check-box ng-model="prestacion.status" color="green" 
												ng-change="vm.formControl.limpiarGrillayCalendar();vm.formControl.setearCriterioBusqueda();">
												</sa-check-box>
											</div>
										</div>
										<div ng-if="!$last" class="divider"></div>
									</li>
								</ul>
							</div>
						</div>

						<!-- PRESTACIONES SELECTOR PARA DIAG POR IMAGENES -->
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" ng-if="vm.data.showBuscadorPrestacion" >

							<fw-drop-down-container icon='"DOWN"' label='"Est."' btn-class="btn btn-default" on-toggle="vm.formControl.closePrestacionesMenu(open)">
								<fw-drop-down-set>
									<fw-drop-down-item ng-repeat='item in vm.data.prestacionesObtenidas' color='green' item='item' label-attribute="Nombre"
									 status-attribute='status' > </fw-drop-down-item>
								</fw-drop-down-set>
								<fw-drop-down-input config-open="vm.data.showBuscadorPrestacion"></fw-drop-down-input>
							</fw-drop-down-container>
						</div>

						<!-- SUCURSAL SELECTOR -->
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" ng-click="vm.data.showBuscadorPrestacion = false">
							<div sa-form-input-validate>
								<label for="cmb_sucursal" ng-if="ifLabel">
									<span ng-bind="title || 'Sucursal'"></span>
									<span ng-if="required"> (*)</span>
								</label>
								<select id="cmb_sucursal" name="comboSucursalXServicio" ng-model="vm.data.sucursal" ng-disabled="!vm.data.servicioMedico"
								 ng-options="sucursal.Nombre for sucursal in vm.data.sucursalesXServicio track by sucursal.Id" ng-change="vm.formControl.limpiarGrillayCalendar(); vm.formControl.setearCriterioBusqueda();">
									<option value="">-SELECCIONAR SUC.-</option>
								</select>
							</div>

						</div>

					</div>

				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="vm.data.showBuscadorPrestacion = false">
					<div class="row">

						<!-- selector de especialidad -->
						<!-- lo ocultamos para diagnostico por imagenes (Id == 30) -->
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
							<sa-selector-especialidad ng-model="vm.data.especialidad" if-label="false" idservicio="vm.data.servicioMedico"
							 idsucursal="vm.data.sucursal" ng-disabled="!vm.data.servicioMedico || !vm.data.sucursal" ng-change="vm.formControl.limpiarGrillayCalendar(); vm.formControl.setearCriterioBusqueda();">
							</sa-selector-especialidad>
						</div>

						<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="vm.data.servicioMedico.Id == 30">
							<button type="button" class="btn-block btn-default" sa-btn-search ng-click="vm.formControl.verProfesionalesXAparato()">
								Ver Profesionales - Aparato
							</button>
						</div> -->

						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
							<!-- <sa-selector-recurso ng-model="vm.data.recurso" idservicio="vm.data.servicioMedico" idsucursal="vm.data.sucursal" idespecialidad="vm.data.especialidad"
							 ng-disabled="!vm.data.servicioMedico || !vm.data.sucursal" if-label="false" ng-change="vm.formControl.limpiarGrillayCalendar();">
							</sa-selector-recurso> -->
							<sa-recursos-selector-por-mutual model="vm.data.recurso" disabled="!vm.data.servicioMedico || !vm.data.sucursal"
							 loading="vm.formControl.loading" sucursal="vm.data.sucursal" especialidad="vm.data.especialidad"
							 criterio-busqueda="vm.data.criterioBusqueda" prestaciones="vm.data.prestacionesObtenidas" afiliaciones="vm.data.paciente.Afiliaciones"
							 buscador-recurso-en-servicios-if="true" if-label="false" on-model-change="vm.formControl.limpiarGrillayCalendar();"
							 limpiar="vm.data.limpiarRecurso" on-buscar-recursos-ok="vm.formControl.afterBuscarRecursos()" tipo-recurso="vm.data.tipoRecursoSeleccionado">
							</sa-recursos-selector-por-mutual>
						</div>

						<!-- solo aparece para tipo de recurso == aparato(3) y equipo (2) -->
						<!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2" ng-if="vm.data.tipoRecursoSeleccionado == 3 || vm.data.tipoRecursoSeleccionado == 2">
							<sa-selector-profesional-atiende aparato="vm.data.tipoRecursoSeleccionado" recurso="vm.data.recurso" model="vm.data.recursoAtiende"
							 loading="vm.formControl.loading" servicio="vm.data.servicioMedico" >
							</sa-selector-profesional-atiende>
						</div> -->

						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group">
							<button type="button" class="btn-block" sa-btn-search ng-click="vm.formControl.buscar()">
								Buscar
							</button>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2  form-group" >
							<button type="button" class="btn-block" sa-btn-clean ng-click="vm.formControl.limpiar(false,true); vm.formControl.limpiarRecursoGuardado()">
								Limpiar
							</button>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right" >

							<sa-check-box ng-model="vm.data.checkSobreturnos" ng-change="vm.formControl.limpiarGrillayCalendar();vm.formControl.changeSobreturnos();"
							 ng-disabled="vm.formControl.btnBuscarStatus()" color="red" label-right="'ST'" pull-right="true">
							</sa-check-box>
						</div>
					</div>

				</div>
			</div>
		</form>
		<div class="row" ng-click="vm.data.showBuscadorPrestacion = false">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
				<div class="row ">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fila" ng-if="vm.data.primerTurno">

								<!-- <sa-tabla-turnos-asignacion-directive data="vm.data.primerTurno" titulogrid="Primer Turno Disponible" 
								 multiselect="false" table-class="false" row-selected="vm.formControl.selectPrimerTurno(pObject)">
								</sa-tabla-turnos-asignacion-directive> -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
											<h5 ng-if="!vm.data.checkSobreturnos" ng-bind="'Primer TURNO Disponible'"></h5>
											<h5 ng-if="vm.data.checkSobreturnos" ng-bind="'Primer SOBRETURNO Disponible'"></h5>
										</div>
									</div>
								</div>

								<table class="table table-fixed table-cursor-pointer" ng-if="vm.data.primerTurno">
									<thead>
										<tr>
											<th class="col-xs-5" ng-class="{ 'color-rojo-turno' : vm.data.checkSobreturnos == true }">Recurso</th>
											<th class="col-xs-3" ng-class="{ 'color-rojo-turno' : vm.data.checkSobreturnos == true }">Fecha</th>
											<th class="col-xs-2" ng-class="{ 'color-rojo-turno' : vm.data.checkSobreturnos == true }">Hora</th>
											<th class="col-xs-2" ng-class="{ 'color-rojo-turno' : vm.data.checkSobreturnos == true }">Suc.</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="turno in vm.data.primerTurno" ng-click="vm.formControl.selectPrimerTurno(turno);" ng-class="{'color-aquaorange-turno': turno.selected }"
										 context-menu="vm.data.menuOptions">
											<td class="col-xs-5" ng-bind="turno.Recurso"></td>
											<td class="col-xs-3" ng-bind="turno.Fecha | date:'dd-MM-yyyy'"></td>
											<td class="col-xs-2" ng-bind="turno.Hora"></td>
											<td class="col-xs-2" ng-bind="turno.Sucursal" ng-class="turno.ColorSucursal"></td>

										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4px;" ng-show="vm.data.primerTurno">
								<!-- 
								<textarea rows="9" class="form-control textarea-lg" ng-model="vm.data.observacionesPlantilla" placeholder="Observacion" readonly sa-textarea-visualizable>
								</textarea> -->
								Observaciones de Plantilla - Importe Particular: ${{ vm.data.precioParticularMutualTurno.ImporteTotalParticular }} - Importe Coseguro: ${{ vm.data.precioParticularMutualTurno.ImporteTotalCoseguro }}
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-center" ng-repeat="observacion in vm.data.observacionesPlantilla">
												<textarea rows="9" class="form-control textarea-lg" ng-model="observacion.Observacion" placeholder="Observacion"
												 readonly ng-dblclick="vm.formControl.verObservaciones()"></textarea>
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- <textarea rows="9" class="form-control textarea-lg" ng-model="vm.data.observacionesPlantilla" placeholder="Observacion"
										 readonly sa-textarea-visualizable></textarea> -->
										<!-- <tr ng-repeat="observacion in vm.data.observacionesPlantilla">
											<td class="text-center" ng-bind="observacion.Observacion"></td>
										</tr> -->
									</tbody>
								</table>

							</div>

						</div>

					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" ng-show="vm.formControl.toggleColores">
								<table class="table table-bordered table-condensed">
									<tbody>
										<tr ng-repeat="color in vm.coloresEstadoTurno">
											<td>
												<div class="pull-left">
													<div class="circulito" ng-class="color.color"></div>
												</div>
												&nbsp;
												<span ng-bind="color.nombre"></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="vm.data.primerTurno" style="padding-left: 0px;padding-right: 0px;margin-bottom: 6px;">
								<div class="calendar calendario-chico" calendar="calendarAsignacionTurno" ui-calendar="vm.uiConfig.calendarTurno">
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!vm.formControl.toggleColores" style="padding-right: 0px;padding-left: 0px;">
								<div class="row">

									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-12  form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.abrirRequerimientos()"
										 ng-disabled="!vm.data.turnosDisponiblesDelDia">
											Requerimientos
										</button>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.turnosMultiples()"
										 ng-disabled="!vm.data.paciente.Id || vm.formControl.isMutualActiva()">
											Asignar Turnos Multiples
										</button>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.getListaTurnosGenerados()"
										 ng-disabled="!vm.data.primerTurno && !vm.data.primerTurno.length">
											Lista Completa de Turnos
										</button>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6  form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.getAgenda()" ng-disabled="!vm.data.recurso.Id">
											Agenda
										</button>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6  form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.getRecesosRecurso()"
										 ng-disabled="!vm.data.recurso.Id">
											Recesos
										</button>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12  form-group">
										<button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.verCalendarioRecurso()"
										 ng-disabled="!vm.data.recurso.Id">
											Calendario Recurso
										</button>
									</div>

								</div>

							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px;padding-left: 0px;">

								<sa-tabla-turnos-asignacion-directive data="vm.data.turnosDisponiblesDelDia" titulogrid="Disp. del {{vm.data.diaElegidoText}} {{vm.data.diaElegidoTextExtraData}} "
								 btn-otorgar-text="Otorgar" btn-otorgar="vm.turno.otorgarTurno(pObject)" multiselect="true" duracionturno="vm.data.duracionesTurnoObtenido"
								 sobreturnos="vm.data.checkSobreturnos" ng-click="vm.formControl.limpiarTurnosPrimerosDisponibles()" min-rows="9"
								 table-class="true" table-class-md="vm.data.observacionServRecurso" row-selected="vm.formControl.selectTurno(pObject)">
								</sa-tabla-turnos-asignacion-directive>

								<div ng-if="vm.data.observacionServRecurso" style="margin-left: 12px;margin-right: 12px;">
									Observaciones 
									<textarea rows="9" class="form-control textarea-lg" ng-model="vm.data.observacionServRecurso" placeholder="Observacion" 
											 readonly sa-textarea-visualizable></textarea>
								</div>
		
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="row" ng-if="vm.reprogramacion.volver">
			<div class="text-center">
				<div class="btn-group ">
					<button class="btn btn-cancel" ng-click="vm.formControl.backToState()">
						<span>Volver</span>
					</button>

				</div>
			</div>
		</div>
	</sa-section-item>
</sa-section>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>