<div id="cuerpo" ng-hide="vm.loading">

	<div class="row fila">

		<!-- BLOQUE IZQUIERDA -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

			<div class="row">
				<!-- MUTUAL -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-9 ">

					<sa-new-mutual-selector model="vm.mutual" codigo-mutual-edit="vm.codigoMutual"></sa-new-mutual-selector>
					<!-- <sa-plan-mutual ng-model="vm.planMutual" id-mutual="vm.mutual.Id" id-plan-elegido="vm.IdPlan"></sa-plan-mutual> -->

				</div>

				<!-- BTN AGREGAR MUTUAL -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
					<button type="button" class="btn btn-warning btn-row btn-block" ng-disabled="!vm.mutual" ng-click="vm.agregarMutual()">
						Agregar Mutual
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

					<table class="table table-fixed table-cursor-pointer">
						<thead>
							<tr>
								<th class="col-xs-2">Codigo</th>
								<th class="col-xs-5">Mutual</th>
								<th class="col-xs-3">Plan</th>
								<th class="col-xs-2">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="mutual in vm.mutualesSeleccionadas">
								<td class="col-xs-2" ng-bind="mutual.Codigo"></td>
								<td class="col-xs-5" ng-bind="mutual.Nombre"></td>
								<td class="col-xs-3" ng-bind="mutual.Plan.Nombre"></td>
								<td class="col-xs-2">
									<button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" tooltip-placement="top" ng-click="vm.quitarMutual(mutual)">
										<sa-icon name="DEL"></sa-icon>
									</button>
								</td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<!-- BLOQUE DERECHA -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

			<div class="row">
				<!-- FECHA DESDE -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 form-group">
					<label>Fecha Desde</label>
					<sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date">
					</sa-date-time-picker>
				</div>

				<!-- SERVICIO MEDICO -->
				<div class="col-xs-12 col-sm-6 col-md-5 col-lg-8 form-group">
					<sa-selector-servicio-medico ng-model="vm.servicioMedico"  solo-visibles-turnos="true"
					ng-change="vm.cargarDatosPrestacion(vm.servicioMedico); vm.cargarSucursalesXServicio(vm.servicioMedico); vm.limpiarCriterio();">
					</sa-selector-servicio-medico>
				</div>



			</div>

			<div class="row">

				<!-- TIPO DE TURNO -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
					<label>Tipo de Turno</label>
					<select name="tipoTurnoPlantilla" class="form-control" ng-model="vm.tipoTurno" ng-options="tipoTurno.Nombre for tipoTurno in vm.tiposDeTurno track by tipoTurno.Id">
						<option value="">-SELECCIONAR Tipo Turno-</option>
					</select>
				</div>

				<!-- PRESTACIONES -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 form-group">
					<label>Prestaciones / Procedimiento</label>
					<!-- <div class="dropdown">
						<button class="btn dropdown-toggle btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						 ng-disabled="!vm.servicioMedico" aria-expanded="true" style="width: 100%;"> {{vm.loadPrestacionesBtn() | limitTo: 50}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" id="listaPrestaciones" aria-labelledby="dropdownMenu1" ng-init="vm.handleEventProp()" style="width: 100%;padding-top: 15px;height: auto;	max-height: 300px;overflow-x: hidden;">
							<li ng-if="vm.prestaciones.length != 0" ng-repeat="prestacion in vm.prestaciones">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<a>• {{prestacion.Nombre}}</a>
										</div>
										<div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
											<sa-check-box ng-model="prestacion.status" color="green">
											</sa-check-box>
										</div>
									</div>
								</div>
								<div class="divider">
								</div>
							</li>
							<li ng-if="vm.prestaciones.length == 0">
								<label> • Sin prestaciones en el servicio {{vm.data.servicioMedico.Nombre}}</label>
							</li>
						</ul>
					</div> -->


					<div  uib-dropdown class="fw-dropdown-container"  auto-close="outsideClick">
						<button
						class="btn dropdown-toggle btn-default"
						type="button" id="dropdownMenu1"
						uib-dropdown-toggle
						ng-disabled="!vm.servicioMedico" style="width: 100%;"> {{vm.loadPrestacionesBtn() | limitTo: 50}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
							<li ng-repeat="prestacion in vm.prestaciones" class="no-valid">
								<div class="fw-dropdown-item" >
									<div class="fw-dropdown-item-left fw-noselect">
										<fw-icon name="{{item.icon}}"></fw-icon>
										<span>• {{prestacion.Nombre}}</span>
									</div>
									<div class="fw-dropdown-item-right text-right">
										<sa-check-box ng-model="prestacion.status" color="green">
										</sa-check-box>
									</div>
								</div>
								<div ng-if="!$last" class="divider"></div>
							</li>
						</ul>
					</div>



				</div>
			</div>

			<div class="row">

				<!-- SUCURSAL -->
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-4 form-group">
					<label for="cmb_sucursal" class="label-control">Sucursal</label>
					<select class="form-control" id="cmb_sucursal" name="comboSucursalXServicio" ng-model="vm.sucursal" ng-disabled="!vm.servicioMedico"
					 ng-options="sucursal.Nombre for sucursal in vm.sucursales track by sucursal.Id">
						<option value="">-SELECCIONAR SUC.-</option>
					</select>
				</div>


				<!-- RECURSO -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-8 form-group">
					<sa-selector-recurso ng-model="vm.recurso" ng-disabled="!vm.servicioMedico" idservicio="vm.servicioMedico">
					</sa-selector-recurso>
				</div>


			</div>

			<div class="row">

				<!-- EDAD -->
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3 form-group ">
					<label>Edad</label>
					<input type="number" placeholder="años..." class="form-control " name="edadMinimaPlantilla" min="0" max="150" ng-model="vm.edadCriterio"
					 autocomplete="off">
				</div>

				<!-- CHECK CONTROL EDAD -->
				<div class="col-xs-12 col-sm-6 col-md-1 col-lg-3 form-group">
					<sa-check-box ng-model="vm.controlEdad" color="green" label="Control Edad">
					</sa-check-box>
				</div>

				
				<!-- BTN LIMPIAR -->
				<!-- BTN BUSCAR -->
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3 ">
					<button type="button" class="btn-block btn-row" sa-btn-search ng-click="vm.buscar()">
						Buscar
					</button>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-3  ">
					<button type="button" class="btn-block btn-row" sa-btn-clean ng-click="vm.limpiar()">
						Limpiar
					</button>
				</div>
			</div>

		</div>

	</div>
	<div class="row">

		<!-- BLOQUE INFERIOR TABLA -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.data && vm.data.length && vm.columnasTabla && vm.columnasTabla.length">

			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<fw-table-config exportable="true" sortable="false" filtrable="true" paginable="true" column-config="true">
				</fw-table-config>
				<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
				</fw-table-sorting-ext>
				<fw-table-rowset data="vm.data">
				</fw-table-rowset>
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset data="vm.columnasTabla">

				</fw-table-columnset>

				<fw-table-export>
					
					<fw-table-export-csv label="'Exportar todo a Excel'" data="all" status="true">
					</fw-table-export-csv>
				</fw-table-export>

				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter ></fw-table-filter>

				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination page-size="10"></fw-table-pagination>
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>


	</div>

</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>