<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}" btn-reload-disabled="vm.loading"></sa-title>
<form name="formFilter" accept-charset="utf-8" novalidate>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
			<sa-tipo-entidad model="vm.entidad" editable="true" id-tipo-entidad="vm.IdTipoEntidad"></sa-tipo-entidad>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-8 form-group" style="border: solid 1px #E2E7E8;">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-8 form-group table-requisitos">
					<tree-grid tree-data="vm.arbolDocumentos" tree-control="vm.arbolDocumentos" on-select="vm.seleccionArbol(branch)" icon-leaf="glyphicon glyphicon-file"
					 icon-expand="glyphicon glyphicon-folder-close" icon-collapse="glyphicon glyphicon-folder-open">
					</tree-grid>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 form-group" sa-form-input>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
					<label>Ámbito de Uso</label>
					<select ng-model="vm.tipoAmbitoElegido" ng-options="ambito.Nombre for ambito in vm.tiposAmbito track by ambito.Id" ng-change="vm.cambioAmbito()"
					 sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
					<label>Tipo de Documento</label>
					<select ng-model="vm.tipoDocumentoElegido" ng-options="documento.Nombre for documento in vm.tiposDocumento" sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="row">

				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 form-group" ng-controller="DatePickerController">
					<label class="control-label">Desde</label>
					<input type="date" class="form-control" id="fechaDesde" name="fechaDesde" ng-model="vm.fechaDesde" ng-max="vm.fechaHasta"
					 sa-enter>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 form-group" ng-controller="DatePickerController">
					<label class="control-label">Hasta</label>
					<input type="date" class="form-control" id="fechaHasta" name="fechaHasta" ng-model="vm.fechaHasta" ng-min="vm.fechaDesde"
					 sa-enter>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
					<label>Nombre</label>
					<input type="text" ng-model="vm.NombreDocumento" sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 form-group">
						<button sa-btn-search ng-click="vm.buscar()" class="btn-row" ng-disabled="!formFilter.$valid" sa-punto-click="vm.buscar()"
						 sa-enter>
							Buscar
						</button>
						<button sa-btn-clean ng-click="vm.limpiarFiltros()" class="btn-row" sa-punto-click="vm.limpiarFiltros()" sa-enter>
							Limpiar
						</button>
					</div>
			</div>
		</div>
	</div>
	<sa-listado-documentos-avanzado model="vm.listaDocumentos" entidad-global="vm.entidad" entidad-local="vm.nodoElegido" buscar-pagina="vm.buscarPagina(pagination)">
	</sa-listado-documentos-avanzado>
	<div class="row text-center">
		<br>
		<button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
			Volver
		</button>
	</div>
</form>