<sa-title title-name="vm.title.name" title-icon="LIST"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">

        <form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaDesde">
                            <label class="control-label">Fecha desde</label>
                            <sa-date-time-picker ng-model="vm.fechaDesde" id="3" type="date" max="vm.fechaHasta" ng-change="vm.changeFechaDesde()" >
                            </sa-date-time-picker>  
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaHasta">
                            <label class="control-label">Fecha hasta</label>
                            <sa-date-time-picker ng-model="vm.fechaHasta" id="4" type="date" min="vm.fechaDesdeMin" max="vm.today">
                            </sa-date-time-picker>  
                    </div>

                <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                     <label for="datePickerDesde ">Fecha desde</label>
                     <sa-date-picker model="vm.fechaDesde" max-date="vm.fechaHasta"></sa-date-picker>
                </div>
                   
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                     <label for="datePickerHasta ">Fecha hasta</label>
                     <sa-date-picker model="vm.fechaHasta" max-date="vm.fechaHoy" min-date="vm.fechaDesde"></sa-date-picker>
                </div>
                 -->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Sucursal</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.sucursalElegida" ng-options="sucursal.Nombre for sucursal in vm.sucursalLista track by sucursal.Id"
                        ng-change="vm.cambioSucursal()" sa-enter>
                        <option value="">TODAS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                        <label>Servicio</label>
                        <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                        <select class="form-control" ng-model="vm.servicioMedicoElegido" ng-options="servicio.Nombre for servicio in vm.servicioLista track by servicio.Id"
                            ng-change="vm.cambioServicioMedico()" sa-enter>
                            <option value="">TODOS</option>
                            <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                        </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 form-group" sa-form-input>
                        <sa-new-mutual-selector model="vm.mutualElegida" codigo-mutual-edit="vm.CodigoFinanciador" label-codigo="Código Mutual" labelNombre="NombreMutual"
                            sa-enter>
                        </sa-new-mutual-selector>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
                            <sa-selector-paciente ng-model="vm.idPaciente"></sa-selector-paciente>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
                                <sa-selector-recurso ng-model="vm.recursoElegido" if-label="true"></sa-selector-recurso>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                            <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                            <button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
                                sa-enter>Limpiar</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>

        <div class="col-xs-12">
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.itemsPrefacturados.Columns && vm.itemsPrefacturados.Columns.length">
                        <fw-table-container>
                            <fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
                            </fw-table-config>
                            <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
                            </fw-table-sorting-ext>
                            <fw-table-rowset data="vm.itemsPrefacturados.Rows">
                            </fw-table-rowset>
                            <fw-table-columnset data="vm.itemsPrefacturados.Columns">
                            </fw-table-columnset>
                            <fw-table-export>
                            </fw-table-export>
                            <fw-table-buttonset>
                                <fw-table-button label="'Histórico'" icon="'LIST4'" action="vm.verHistoricoItem(row, index)" ></fw-table-button>
                            </fw-table-buttonset>
                            <fw-table-filter init="true"></fw-table-filter>
                            <fw-table-pagination page-size="10"></fw-table-pagination>
                            <fw-table></fw-table>
                        </fw-table-container>
                    </div> -->

                <sa-table-ext data="vm.itemsPrefacturados" page-change="vm.buscarPagina(pagination)" ng-if="vm.itemsPrefacturados.Rows && vm.itemsPrefacturados.Rows.length"
                    btn-view-click="vm.verHistoricoItem(row, index)">
                </sa-table-ext>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>