<sa-menu></sa-menu>
<!-- Contenido de la vista -->
<snap-content>
	<div class="right">
		<sa-header name-module="{{ vm.title.module }}" path-module="#/Internacion" ></sa-header>

		<div class="main">
			<section class="contentwhite">
				<div class="container-fluid">
					<sa-title title-name="vm.title.page"></sa-title>
					<sa-loading ng-if="vm.formControl.loading"></sa-loading>
					<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
						<div class="row">
							<sa-subsistemas
								system-id="18"
								user-name="{{vm.user.userName}}">
							</sa-subsistemas>
							<sa-panel-item
								name="'ACERCA DE'"
								btn-class="btn-info"
								path="'Internacion/About'"
								icon-name="CONF">
							</sa-panel-item>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</snap-content>
<!-- /Contenido de la vista -->