<form name="formUnidad" novalidate>
    <sa-title title-name="vm.title.name" title-icon="LIST" btn-reload-disabled="vm.formControl.loading"></sa-title>
        

    <!-- El loading se muestra si se esta cargando el inicializador -->

    <!-- <sa-loading ng-if="vm.formControl.loading"></sa-loading> -->

    <!-- El cuerpo se muestra si no se esta cargando el inicializador -->
    <!-- O si se produjo algun error inicializando -->

    <!-- <div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="fila">
        <h4>Tipo de Unidad</h4> -->

    <!-- <form name="formFilter"  novalidate> -->
    <div class="row">
        <!--Input de Nombre-->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
            <div sa-form-input-validate>
                <label>Nombre</label>
                <input type="text" name="nombreUnidadArancelarias" ng-model="vm.nombre" sa-enter>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
            <label for="tipoUnidad">Unidad Arancelaria</label>
            <select id="tipoUnidad" name="cmbtipoUnidad" ng-model="vm.tipoUnidad" ng-options="tipoUnidad.Nombre for tipoUnidad in vm.tiposDeUnidadArancelarias track by tipoUnidad.Id"
                sa-enter>
                <option value="">TODOS</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
            <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
            <button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
                sa-enter>Limpiar</button>
        </div>
    </div>

    <button type="button" class="btn btn-default pull-right" uib-tooltip="Agregar nueva Unidad Arancelaria" tooltip-placement="left"
        uib-dropdown-toggle ng-click="vm.editarUnidadArancelaria(null, null)" sa-punto-click="vm.editarUnidadArancelaria(null, null)"
        sa-enter>
        <sa-icon name="PLUS"></sa-icon>
    </button>



    <!--Combo Nvo- la vm.tiposDeUnidadesArancelarias viene de funcion Controller "getTiposUnidadArancelarias"-->


    <div class="row">
        <!-- <div class="col-xs-12" ng-if="vm.data.unidadArancelaria"> -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
            <fw-table-container>
                <!--Principio de la ordenes sortable, paginable etc-->
                <fw-table-config sortable="true" paginable="true" filtrable="true" exportable="true">
                </fw-table-config>
                <fw-table-columnset>
                    <fw-table-column label="'Id'" field="'Id'">
                    </fw-table-column>
                    <fw-table-column label="'Nombre'" field="'Nombre'">
                    </fw-table-column>
                    <!--format = "'html'", limpio en la grilla vista <br>-->
                    <fw-table-column label="'Tipo de Unidad'" format="'html'" field="'NombreTipoUnidadArancelaria'"></fw-table-column>
                </fw-table-columnset>
                <fw-table-buttonset>
                    <!--ej de atributos= visible, label, todos en la continuacion de la etiqueta
                                                "<fw-table-button visible="btnNewIf"
                                                label="'Ver'"
                                                icon="'EYE_OPEN'"
                                                action="vm.servicio.view(row)"> luego cierro el botton </fw-table-button>
                                                Referencia-1-->
                    <!-- "row" se debe respetar como nombre
                                                pero en este caso representa una UnidadArancelariaDto -->
                    <fw-table-button label="'Editar'" icon="'EDIT'" action="vm.editarUnidadArancelaria(row.Id, index)">
                    </fw-table-button>

                    <fw-table-button label="'Eliminar'" icon="'DEL'" action="vm.eliminar(row, index)">
                        <!--lleva dos parametros,
                    luego en el listcontroller, metodo "eliminar(unidad, indice)" paso los dos parametros-->
                    </fw-table-button>
                </fw-table-buttonset>
                <!--para llenar la grilla >>> "UnidadesArancelariasListController.ts" 
                                        //los datos los asigno a data= -->

                <fw-table-rowset data="vm.unidadArancelarias">
                </fw-table-rowset>
                <!--Fin llena la grilla-->
                <!--Fin de la ordenes sortable, paginable etc-->
                <fw-table-sorting></fw-table-sorting>
                <fw-table-filter></fw-table-filter>
                <fw-table-export>
                    <fw-table-export-csv label="'Exportar página a Excel'" status="true">
                    </fw-table-export-csv>
                    <!--Uso para exportacion externa "csv-ext" lo maneja el back-end-->
                    <!-- <fw-table-export-csv-ext label="'Exportar todo a Excel'" status="true" export="exportEventInternal(exportation)">
                                                </fw-table-export-csv-ext> -->
                    <fw-table-export>
                        <!--Regulo la cantidad de columnas a mostrar-->
                        <fw-table-pagination page-size="20"></fw-table-pagination>
                        <!--Fin de la ordenes sortable, paginable etc-->
                        <fw-table></fw-table>
            </fw-table-container>

            <div class="row">
                <br>
                <div class="row text-center">
                    <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                        Volver
                    </button>
                </div>
            </div>

        </div>
    </div>

    </div>
    <sa-loading ng-if="vm.formControl.loading"></sa-loading>
</form>