<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="cuerpo" >
	<form name="formContrato" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
				<sa-contratable-selector model='vm.filter.contratableElegido'
					matricula-contratable-edit="vm.filter.matricula"
					id-tipo-contratable-edit="vm.filter.idTipoContratable"
					ng-disabled="!vm.filter.esNuevo" sa-enter></sa-contratable-selector>
			</div>
			<!-- <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
				<label class="control-label">Fecha inicio</label>
				<input type="date" class="form-control" id="fechadesde" name="desde" ng-model="vm.filter.desde" ng-min="vm.filter.startDate" ng-max="vm.filter.hasta" ng-required="true" sa-enter> 
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
				<label class="control-label">Fecha fin</label>
				<input type="date" class="form-control" id="fechahasta" name="hasta" ng-model="vm.filter.hasta" ng-min="vm.filter.desde" ng-required="true" sa-enter> 
			</div> -->
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
					<label class="control-label">Fecha inicio</label>
					<sa-date-time-picker ng-model="vm.filter.desde" id="2" type="date" required="true" min="vm.filter.startDate" max="vm.filter.hasta"  ng-change="vm.filter.changeFechaDesde()" >
					</sa-date-time-picker>  
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
					<label class="control-label">Fecha fin</label>
					<sa-date-time-picker ng-model="vm.filter.hasta" id="3" type="date" required="true"  min="vm.filter.fechadesdeMin">
					</sa-date-time-picker>  
			</div>
		</div>
		<uib-tabset class="prueba" active="active">
			<uib-tab ng-repeat="tab in vm.tabs"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				index="$index + 1"
				class="{{ tab.CLASSBG }}"
				role="presentation"
				ng-hide="tab.HIDE"
				id="contratos-internos-edit-tab-{{$index}}"
				ui-sref-active ="active"
				ui-sref="{{tab.STATE}}"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
			</uib-tab>
		</uib-tabset>
		<div class="fila">
			<ui-view></ui-view>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group text-center">
				<button class="btn btn-cancelar" 
					ng-click="vm.formControl.volver()"
					sa-punto-click="vm.formControl.volver()"
					id="contratos-internos-edit-volver-btn"
					sa-enter>
					Volver
				</button>
				<button class="btn btn-default"
					ng-click="vm.formControl.guardar()"
					sa-punto-click="vm.formControl.guardar()"
					id="contratos-internos-edit-guardar-btn"
					sa-enter>
					Guardar
				</button>
			</div>
		</div>
	</form>
</div>