<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="row">
		<form name="formListado" accept-charset="utf-8" novalidate>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
				<label class="label-control">Desde</label>
				<input type="date" class="form-control" id="fechaDesde" name="fechaDesde" ng-model="vm.filter.fecActualD" ng-max="{{vm.filter.fecActualH}}" ng-required="true" sa-enter autofocus>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
				<label class="label-control ">Hasta</label>
				<input type="date" class="form-control" id="fechaHasta" name="fechaHasta" ng-model="vm.filter.fecActualH" ng-min="{{vm.filter.fecActualD}}" ng-required="true" sa-enter>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2" sa-form-input-validate>
				<label class="label-control">Organización</label>
				<input type="number" placeholder="Codigo" class="form-control" sa-integer id="codigoOrganizacion" name="codigoOrganizacion" ng-maxlength="10" ng-keypress="vm.formControl.buscarOrganizacionEnter($event)" ng-blur="vm.formControl.buscarOrganizacion()" ng-model="vm.filter.codigoOrganizacion" sa-enter ng-required="false">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " sa-form-input-validate>
				<label class="label-control">Nombre Organización</label>
				<div class="input-group">
					<input type="text" placeholder="ORGANIZACION" class="form-control text-uppercase" id="nombreOrganizacion" name="nombreOrganizacion" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreOrganizacion" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Organización" tooltip-placement="top" ng-click="vm.formControl.buscarOrganizaciones()" sa-enter sa-punto-click="vm.formControl.buscarOrganizaciones()">
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input-validate>
				<label class="label-control">Servicio</label>
				<select class="form-control" id="cmb_servicio" ng-model="vm.filter.servicio" ng-options="servicio.Nombre for servicio in vm.data.servicios track by servicio.Id" sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<script type="text/ng-template" id="group-template.html">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title" style="color:#fa39c3">
							<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
								<span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
							</a>
						</h4>
					</div>
					<div class="panel-collapse collapse" uib-collapse="!isOpen">
						<div class="panel-body" style="text-align: right" ng-transclude></div>
					</div>
				</div>
			</script>
			<uib-accordion close-others="oneAtATime">
				<div uib-accordion-group heading="Búsqueda avanzada" class="panel-default">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group">
							<label>Sucursal</label>
							<select class="form-control" id="cmb_sucursal" ng-model="vm.filter.sucursal" ng-options="sucursal.Nombre for sucursal in vm.data.sucursales track by sucursal.Id" sa-enter>
								<option value="">TODOS</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 form-group">
							<sa-selector-paciente ng-model="vm.filter.idPaciente" class="" ></sa-selector-paciente>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Matrícula Profesional</label>
							<input type="number" placeholder="0" class="form-control" id="matriculaProfesional" name=" matriculaProfesional" ng-maxlength="10" ng-keypress="vm.formControl.buscarProfesionalEnter($event)" ng-blur="vm.formControl.buscarProfesional()" ng-model="vm.filter.matriculaProfesional" sa-enter />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Nombre Profesional</label>
							<div class="input-group">
								<input type="text" placeholder="PROFESIONAL" class="form-control text-uppercase" id="nombreProfesional" name="nombreProfesional" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreProfesional" sa-enter >
								<span class="input-group-btn">
									<button class="btn btn-default btn-loading" uib-tooltip="Buscar Profesional" tooltip-placement="top" ng-click="vm.formControl.buscarProfesionales()" sa-enter sa-punto-click="vm.formControl.buscarProfesionales()">
										<sa-icon name="SEARCH"></sa-icon>
									</button>
								</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Estado Autorización</label>
							<select class="form-control" id="cmb_estadoAutorizacion" ng-model="vm.filter.estadoAutorizacion" ng-options=" estadoAut.Nombre for estadoAut in vm.data.estadoAutorizacion track by estadoAut.Id" sa-enter>
								<option value="">TODOS</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Estado Respuesta</label>
							<select class="form-control" id="cmb_estadoCodigoRespuesta" ng-model="vm.filter.estadoCodigoRespuesta" ng-options="estadoCodigoRespuesta.Nombre for estadoCodigoRespuesta in vm.data.estadoCodigoRespuestaAutorizacion track by estadoCodigoRespuesta.Id" sa-enter>
								<option value="">TODOS</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Tipo Mensaje</label>
							<select class="form-control" id="cmb_tipoMensajeAutorizador" ng-model="vm.filter.tipoMensaje" ng-options=" tipoMensaje.Nombre for tipoMensaje in vm.data.tipoMensajeAutorizador track by tipoMensaje.Id" sa-enter>
								<option value="">TODOS</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Número Práctica</label>
							<input type="number" name="input" class="form-control" ng-model="vm.filter.practica" sa-enter>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Número Solicitud</label>
							<input type="number" name="input" class="form-control" ng-model="vm.filter.nroSolicitud" sa-enter>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
							<label class="label-control">Número Paciente</label>
							<input type="number" name="input" class="form-control" ng-model="vm.filter.numeroPaciente" sa-enter>
						</div>
					</div>
				</div>
			</uib-accordion>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
			<div class="pull-right">
				<button sa-btn-clean class="btn btn-default " ng-click="vm.filter.clean()" sa-enter sa-punto-click="vm.filter.clean()">Limpiar</button>
				<button sa-btn-search class="btn-loading" ng-click="vm.formControl.buscarAutorizaciones()" sa-punto-click="vm.formControl.buscarAutorizaciones()"  sa-enter >Buscar</button>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
			<div class="pull-right">
				<button class="btn btn-default" uib-tooltip="Reprocesar Masivo" tooltip-placement="top" value = "Reprocesar" name = "Reprocesar" ng-click="vm.formControl.reenviarAutorizaciones()" sa-punto-click="vm.formControl.reenviarAutorizaciones()" sa-enter>
					<sa-icon name="REPEAT"></sa-icon>
				</button>
				<button class="btn btn-default" uib-tooltip="Agregar Autorización" style="margin-left: 10px;" tooltip-placement="top" ng-click="vm.formControl.agregarAutorizacion()" sa-punto-click="vm.formControl.agregarAutorizacion()" sa-enter>
					<sa-icon name="NEW"></sa-icon>
				</button>
			</div>
		</div>
	</div>
	<!-- COMIENZO DE ZONA DE TABLA -->
	<div class="row table-responsive">
		<div class="col-xs-12">
			<table class="table table-hover table-condensed table-bordered" id="detalle_autorizaciones">
				<thead>
					<tr class="cabecera-tabla thead-azul">
						<th class="text-center">
							<input type="checkbox" ng-model="vm.filter.checkAll" ng-change="vm.formControl.checkItems()"/>
						</th>
						<th class="text-center" ng-click="vm.sort('Id')">Código
							<span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('NroSolicitud')">Solicitud
							<span class="glyphicon sort-icon" ng-show="sortKey=='NroSolicitud'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('FechaAlta')">Fecha
							<span class="glyphicon sort-icon" ng-show="sortKey=='FechaAlta'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('TipoMensajeAutorizador')">Msj
							<span class="glyphicon sort-icon" ng-show="sortKey=='TipoMensajeAutorizador'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Organizacion')">Organización
							<span class="glyphicon sort-icon" ng-show="sortKey=='Organizacion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Paciente')">Paciente
							<span class="glyphicon sort-icon" ng-show="sortKey=='Paciente'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('TipoDocumento')">T Doc
							<span class="glyphicon sort-icon" ng-show="sortKey=='TipoDocumento'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('NroDoc')">Nro Doc
							<span class="glyphicon sort-icon" ng-show="sortKey=='NroDoc'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('EstadoAutorizacion')">Estado Proceso
							<span class="glyphicon sort-icon" ng-show="sortKey=='EstadoAutorizador'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('EstadoCodigoRespuestaAutorizacionNombre')">Respuesta
							<span class="glyphicon sort-icon" ng-show="sortKey=='EstadoCodigoRespuestaAutorizacionNombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('Nrotransaccion')">Nro Trans
							<span class="glyphicon sort-icon" ng-show="sortKey=='Nrotransaccion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('CoseguroTotal')">Coseguro
							<span class="glyphicon sort-icon" ng-show="sortKey=='CoseguroTotal'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="vm.sort('ObservacionesRespuesta')">Observaciones
							<span class="glyphicon sort-icon" ng-show="sortKey=='ObservacionesRespuesta'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody ng-repeat="autorizacion in vm.filter.autorizaciones | orderBy:sortKey:reverse|filter:search">
					<tr>
						<td class="row text-center">
							<input type="checkbox" ng-model="autorizacion.Seleccionado" ng-disabled="!autorizacion.PuedeReenviar" />
							<button type="button" class="btn btn-white btn-xs" uib-tooltip="Mas Info" uib-tooltip-placement="top" ng-show= "autorizacion.TieneHijos && !autorizacion.VerHijos" ng-click="vm.formControl.verHijos(autorizacion.Id)">
								<sa-icon name="PLUS"></sa-icon>
							</button>
							<button type="button" class="btn btn-white btn-xs" uib-tooltip="Menos Info" uib-tooltip-placement="top" ng-show= "autorizacion.TieneHijos && autorizacion.VerHijos" ng-click="vm.formControl.verHijos(autorizacion.Id)">
								<sa-icon name="MINUS"></sa-icon>
							</button>
						</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.Id}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.NroSolicitud}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.FechaAlta | date:"dd/MM/yy HH:mm"}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.TipoMensajeAbreviadoAutorizador}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.Org}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.Paciente}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.TipoDoc}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.NroDoc}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" ng-class="autorizacion.EstadoAutorizacionColor" class="row text-center">{{ autorizacion.EstadoAutorizacion}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" ng-class="autorizacion.EstadoCodRtaAutColor" class="row text-center">{{ autorizacion.EstadoCodRtaAutNombre}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.Nrotrans}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" class="row text-center">{{ autorizacion.Cos}}</td>
						<td ng-click="vm.formControl.verItemsDetalle(autorizacion.Id)" ng-class="autorizacion.CodRtaAutColor" class="row text-center">{{ autorizacion.ObsRta}}</td>
						<td class="row">
							<button type="button" id="autorizacion_button_reenviar" class="btn btn-white btn-xs"  ng-show= autorizacion.PuedeReenviar ng-click="vm.formControl.reenviarAutorizacion(autorizacion.Id)">
								<sa-icon name="REPEAT"></sa-icon>
							</button>
							<button type="button" id="autorizacion_button_consultar" class="btn btn-white btn-xs" ng-show= autorizacion.PuedeConsultar ng-click="vm.formControl.consultarAutorizacion(autorizacion.Id)">
								<sa-icon name="CHECK"></sa-icon>
							</button>
							<button type="button" id="autorizacion_button_editar" class="btn btn-white btn-xs"  ng-show= autorizacion.PuedeEditar ng-click="vm.formControl.editarAutorizacion(autorizacion.Id)">
								<sa-icon name="EDIT"></sa-icon>
							</button>
							<button type="button" id="autorizacion_button_anular" class="btn btn-white btn-xs"  ng-show= autorizacion.PuedeAnular ng-click="vm.formControl.anularAutorizacion(autorizacion.Id)">
								<sa-icon name="DEL"></sa-icon>
							</button>
							<button type="button" id="autorizacion_button_imprimir" class="btn btn-white btn-xs"  ng-show= autorizacion.PuedeImprimir ng-click="vm.formControl.imprimirOrden(autorizacion.IdAutOrden)">
								<sa-icon name="PRINT"></sa-icon>
							</button>
							<button type="button" id="autorizacion_button_detalle" class="btn btn-white btn-xs"  ng-click="vm.formControl.verDetalle(autorizacion.Id)">
								<sa-icon name="LIST3"></sa-icon>
							</button>
						</td>
					</tr>
					<tr class="animate-hide" ng-hide="!autorizacion.VerItems" >
						<td colspan="14">
							<div class="col-md-10 col-md-offset-1">
								<table class="table table-hover table-condensed table-bordered table-striped">
									<thead class="levelTwo ">
										<tr></tr>
										<tr class="cabecera-tabla">
											<th class="text-center">Código</th>
											<th class="text-center">Nombre</th>
											<th class="text-center">Cantidad</th>
											<th class="text-center">Respuesta</th>
											<th class="text-center">Cantidad Autorizada</th>
											<th class="text-center">Coseguro</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in autorizacion.Items">
											<td ng-bind="item.Codigo" class="text-center"></td>
											<td ng-bind="item.Practica"  class="text-center"></td>
											<td ng-bind="item.Cant" class="text-center"></td>
											<td ng-bind="item.Resp" class="text-center"></td>
											<td ng-bind="item.CantAut" class="text-center"></td>
											<td ng-bind="item.Cos" class="text-center"></td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-left" >Datos Afiliación:
									<div ng-bind="autorizacion.DatosAfi"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="animate-hide" ng-hide="!autorizacion.VerHijos">
						<td colspan="14">
							<div class="col-md-10">
								<table class="table table-hover table-condensed table-bordered table-striped">
									<thead class="levelTwo">
										<tr></tr>
										<tr class="cabecera-tabla">
											<th class="text-center">Código</th>
											<th class="text-center">Fecha</th>
											<th class="text-center">Msj</th>
											<th class="text-center">Estado Proceso</th>
											<th class="text-center">Respuesta</th>
											<th class="text-center">Número Transacción</th>
											<th class="text-center">Coseguro</th>
											<th class="text-center">Observaciones</th>
											<th class="text-center">Acciones</th>
										</tr>
									</thead>
									<tbody ng-repeat="hijo in autorizacion.Hijos | orderBy:sortKey:reverse|filter:search">
										<tr>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.Id}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.FechaAlta | date:"dd/MM/yy HH:mm"}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.TipoMensajeAbreviadoAutorizador}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" ng-class="hijo.EstadoAutorizacionColor" class="row text-center">{{ hijo.EstadoAutorizacion}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" ng-class="hijo.EstadoCodRtaAutColor" class="row text-center">{{ hijo.EstadoCodRtaAutNombre}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.Nrotrans}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.Cos}}</td>
											<td ng-click="vm.formControl.verItemsDetalle(hijo.Id)" class="row text-center">{{ hijo.ObsRta}}</td>
											<td class="row text-center">
												<button type="button" id="autorizacionh_button_reenviar" class="btn btn-white btn-xs" uib-tooltip="Reprocesar" uib-tooltip-placement="top" ng-show= hijo.PuedeReenviar ng-click="vm.formControl.reenviarAutorizacion(hijo.Id)">
													<sa-icon name="REPEAT"></sa-icon>
												</button>
												<button type="button" id="autorizacionh_button_consultar" class="btn btn-white btn-xs" uib-tooltip="Consultar" uib-tooltip-placement="top" ng-show= hijo.PuedeConsultar ng-click="vm.formControl.consultarAutorizacion(hijo.Id)">
													<sa-icon name="CHECK"></sa-icon>
												</button>
												<button type="button" id="autorizacionh_button_editar" class="btn btn-white btn-xs" uib-tooltip="Editar" uib-tooltip-placement="top" ng-show= hijo.PuedeEditar ng-click="vm.formControl.editarAutorizacion(hijo.Id)">
													<sa-icon name="EDIT"></sa-icon>
												</button>
												<button type="button" id="autorizacionh_button_anular" class="btn btn-white btn-xs" uib-tooltip="Anular" uib-tooltip-placement="top" ng-show= hijo.PuedeAnular ng-click="vm.formControl.anularAutorizacion(hijo.Id)">
													<sa-icon name="DEL"></sa-icon>
												</button>
												<button type="button" id="autorizacionh_button_imprimir" class="btn btn-white btn-xs" uib-tooltip="Imprimir Orden" uib-tooltip-placement="top" ng-show= hijo.PuedeImprimir ng-click="vm.formControl.imprimirOrden(hijo.Id)">
													<sa-icon name="PRINT"></sa-icon>
												</button>
												<button type="button" id="autorizacionh_button_detalle" class="btn btn-white btn-xs" uib-tooltip="Ver Detalle" uib-tooltip-placement="top" ng-click="vm.formControl.verDetalle(hijo.Id)">
													<sa-icon name="LIST3"></sa-icon>
												</button>
											</td>
										</tr>
										<tr class="animate-hide" ng-hide="!hijo.VerItems" >
											<td colspan="14">
												<div class="col-md-10">
													<table class="table table-hover table-condensed table-bordered table-striped">
														<thead class="levelTwo">
															<tr></tr>
															<tr class="cabecera-tabla">
																<th class="text-center">Código</th>
																<th class="text-center">Nombre</th>
																<th class="text-center">Cantidad</th>
																<th class="text-center">Respuesta</th>
																<th class="text-center">Cantidad Autorizada</th>
																<th class="text-center">Coseguro</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="itemHijo in hijo.Items">
																<td class="text-center" ng-bind="itemHijo.Codigo"></td>
																<td class="text-center" ng-bind="itemHijo.Practica"></td>
																<td class="text-center" ng-bind="itemHijo.Cant"></td>
																<td class="text-center" ng-bind="itemHijo.Resp"></td>
																<td class="text-center" ng-bind="itemHijo.CantAut"></td>
																<td class="text-center" ng-bind="itemHijo.Cos"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- FIN ZONA TABLA, que zona?-->
	<div class="row">		
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination  boundary-links="true"
					max-size="9"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged(vm.paginacion.currentPage)"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<button class="btn btn-cancelar" 
				ng-click="vm.formControl.volver()"
				sa-punto-click="vm.formControl.volver()"
				sa-enter>
			Volver
		</button>
	</div>
</div>