<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<form name="formFilter" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1 form-group">
				<label class="label-control">Mutual</label>
				<input type="number" placeholder="Código" class="form-control" id="codigoMutual" name="codigoMutual" ng-maxlength="10" ng-keypress="vm.formControl.buscarMutualEnter($event)" ng-blur="vm.formControl.buscarMutual()" ng-model="vm.filter.codigoMutual" sa-enter autofocus>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
				<label class="label-control">Nombre Mutual</label>
				<div class="input-group">
					<input type="text" placeholder="MUTUAL" class="form-control text-uppercase" id="nombreMutual" name="nombreMutual" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreMutual" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Mutual" tooltip-placement="top" ng-click="vm.formControl.buscarMutuales()" sa-punto-click="vm.formControl.buscarMutuales()" sa-enter>
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1 form-group">
				<label class="label-control">Práctica</label>
				<input type="number" placeholder="Código" class="form-control" id="codigoPractica" name="codigoPractica" ng-maxlength="10" ng-keypress="vm.formControl.buscarPracticaEnter($event)" ng-blur="vm.formControl.buscarPractica()" ng-model="vm.filter.codigoPractica" sa-enter >
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" ng-disabled="!vm.filter.visiblePractica">
				<label class="label-control">Nombre Práctica</label>
				<div class="input-group">
					<input type="text" placeholder="PRACTICA" class="form-control text-uppercase" id="nombrePractica" name="nombrePractica" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombrePractica" sa-enter>
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Práctica" tooltip-placement="top" ng-click="vm.formControl.buscarPracticas()" sa-punto-click="vm.formControl.buscarPracticas()" sa-enter>
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
				<label class="label-control">Tipo</label>
				<select class="form-control" id="cmb_tipoExcepcion" ng-model="vm.filter.tipoExcepcion" ng-options="tipo.Nombre for tipo in vm.data.tiposExcepciones track by tipo.Id" sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<div class="pull-right">
					<button sa-btn-clean class="btn-loading" ng-click="vm.filter.clean()" sa-punto-click="vm.filter.clean()" sa-enter >Limpiar</button>
					<button sa-btn-search class="btn-loading" ng-click="vm.formControl.buscarExcepciones() " sa-punto-click="vm.formControl.buscarExcepciones()" sa-enter >Buscar</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<button class="btn btn-default pull-right" uib-tooltip="Agregar Excepción" style="margin-left: 10px; margin-top: 5px; padding-top: 5px;" tooltip-placement="top" ng-click="vm.formControl.editarExcepcion()" sa-punto-click="vm.formControl.editarExcepcion()" ng-disabled="!vm.validar.puedeAgregar()">
					<sa-icon name="NEW"></sa-icon>
				</button>
			</div>
		</div>
		<!-- COMIENZO DE ZONA DE TABLA -->
		<div class="row table-responsive">
			<div class="col-xs-12">
				<table class="table table-hover table-condensed table-bordered" id="lista_excepciones">
					<thead>
						<tr class="thead-azul">
							<tr class="cabecera-tabla">
								<th class="text-center" ng-click="vm.sort('Mutual')">Mutual
									<span class="glyphicon sort-icon" ng-show="sortKey=='Mutual'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-center" ng-click="vm.sort('PracticaMedica')">Práctica
									<span class="glyphicon sort-icon" ng-show="sortKey=='PracticaMedica'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-center" ng-click="vm.sort('TipoExcepcion')">Tipo
									<span class="glyphicon sort-icon" ng-show="sortKey=='TipoExcepcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-center" ng-click="vm.sort('Observacion')">Observación
									<span class="glyphicon sort-icon" ng-show="sortKey=='Observacion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-center">Acción</th>
							</tr>
						</thead>
						<tbody ng-repeat="excepcion in vm.filter.excepciones | orderBy:sortKey:reverse|filter:search">
							<tr>
								<td class="row text-center">{{ excepcion.Mutual}}</td>
								<td class="row text-center">{{ excepcion.PracticaMedica}}</td>
								<td class="row text-center">{{ excepcion.TipoExcepcion}}</td>
								<td class="row text-center">{{ excepcion.Observacion}}</td>
								<td class="row text-center" width="100px">
									<button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar" uib-tooltip-placement="top" ng-disabled="!vm.validar.puedeEditar()" ng-click="vm.formControl.editarExcepcion(excepcion.Id)" sa-punto-click="vm.formControl.editarExcepcion(excepcion.Id)" sa-enter>
										<sa-icon name="EDIT"></sa-icon>
									</button>
									<button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" uib-tooltip-placement="top" ng-click="vm.formControl.eliminarExcepcion(excepcion.Id)" ng-disabled="!vm.validar.puedeEliminar()" sa-punto-click="vm.formControl.eliminarExcepcion(excepcion.Id)" sa-enter>
										<sa-icon name="DEL"></sa-icon>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- FIN ZONA TABLA -->
		<div class="row" ng-if="vm.filter.excepciones.length">
			<div class="col-sm-12">
				<div class="text-center">
					<div uib-pagination  items-per-page="vm.paginacion.pageSize" total-items="vm.paginacion.totalItems" ng-model="vm.paginacion.currentPage" ng-change="vm.paginacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<button class="btn btn-cancelar" 
					ng-click="vm.formControl.volver()"
					sa-punto-click="vm.formControl.volver()"
					sa-enter>
				Volver
			</button>
		</div>
	</form>
</div>