<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div class="cuerpo" ng-hide="vm.formControl.loading">
	<form name="formExcepcionView" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-1 form-group">
				<label class="label-control">Mutual</label>
				<input type="number" placeholder="Código" class="form-control" id="codigoMutual" name="codigoMutual" ng-maxlength="10" ng-keypress="vm.formControl.buscarMutualEnter($event)" ng-blur="vm.formControl.buscarMutual()" ng-model="vm.filter.codigoMutual" sa-enter autofocus>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 form-group">
				<label class="label-control">Nombre Mutual</label>
				<div class="input-group">
					<input type="text" placeholder="MUTUAL" class="form-control text-uppercase" id="nombreMutual" name="nombreMutual" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombreMutual" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Mutual" tooltip-placement="top" ng-click="vm.formControl.buscarMutuales()" sa-punto-click="vm.formControl.buscarMutuales()" sa-enter >
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-1 form-group">
				<label class="label-control">Práctica</label>
				<input type="number" placeholder="Código" class="form-control" id="codigoPractica" name="codigoPractica" ng-maxlength="10" ng-keypress="vm.formControl.buscarPracticaEnter($event)" ng-blur="vm.formControl.buscarPractica()" ng-model="vm.filter.codigoPractica" sa-enter >
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 form-group">
				<label class="label-control">Nombre Práctica</label>
				<div class="input-group">
					<input type="text" placeholder="PRACTICA" class="form-control text-uppercase" id="nombrePractica" name="nombrePractica" ng-maxlength="200" ng-readonly="true" ng-model="vm.filter.nombrePractica" sa-enter >
					<span class="input-group-btn">
						<button class="btn btn-default btn-loading" uib-tooltip="Buscar Practica" tooltip-placement="top" ng-click="vm.formControl.buscarPracticas()" sa-punto-click="vm.formControl.buscarPracticas()" sa-enter >
							<sa-icon name="SEARCH"></sa-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
				<label class="label-control">Tipo</label>
				<select class="form-control" id="cmb_tipoExcepcion" ng-model="vm.filter.tipoExcepcion" ng-options="tipo.Nombre for tipo in vm.data.tiposExcepciones track by tipo.Id" required sa-enter></select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<label class="label-control">Observación</label>
				<textarea rows="3" class="form-control" id="observacionExcepcion" maxlength="200" name="observacionExcepcion" ng-model="vm.data.observacion" ></textarea>
			</div>
		</div>
		<div class="row text-center">
			<button class="btn btn-cancel" ng-click="vm.formControl.cancel()" sa-punto-click="vm.formControl.cancel()" sa-enter>Cancelar</button>
			<button class="btn btn-default" ng-disabled='vm.formControl.validarForm()' ng-click='vm.formControl.ok()' sa-punto-click='vm.formControl.ok()' sa-enter>Guardar</button>
		</div>
	</form>
</div>