<div uib-dropdown auto-close="outsideClick" is-open="status.isopen" auto-close="outsideClick" ng-class="dropdown.btnContainerClass" class="fw-dropdown-container" on-toggle="onToggle(open)">
	<!-- <button type="button" class="btn" ng-class="dropdown.btnClass"
		id="btn-open-options-drop"
		tooltip-placement="left" uib-dropdown-toggle>
		<fw-icon name="{{dropdown.icon}}"></fw-icon>
		<span ng-bind="dropdown.label"></span>
	</button> -->
	<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; " uib-tooltip-html="dropdown.getItemsNameSelected() | saToHtml" tooltip-placement="top">
		<input class="text-uppercase" id="btn-open-options-drop" type="search" name="btn_open_options" placeholder="Buscar Prestación...." ng-model="vm.filterTipoIndMed"
		 ng-change="vm.pageChanged()()" autocomplete="off" ng-click="toggleDropdown($event)">
	</div>
	<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options-drop">
		<li ng-repeat="item in dropdown.getIntemsFiltered(vm.filterTipoIndMed)" class="no-valid">
			<div class="fw-dropdown-item" ng-click="item.action()">
				<div class="fw-dropdown-item-left fw-noselect">
					<fw-icon name="{{item.icon}}"></fw-icon>
					<span ng-bind="item.label"></span>
				</div>
				<div class="fw-dropdown-item-right" ng-if="item.isCheckeable()">
					<sa-check-box  class="pull-right"
						color={{item.color}}
						stop-propagation="false"
						ng-model="item.status"
						ng-disabled="item.status && dropdown.required"
						ng-change="changeStatus(item)"></sa-check-box>
				</div>
			</div>
			<div ng-if="!$last" class="divider"></div>
		</li>
	</ul>
	
</div>

