<div uib-dropdown auto-close="outsideClick" ng-class="dropdown.btnContainerClass" class="fw-dropdown-container">
	<button type="button" class="btn" ng-class="dropdown.btnClass"
		id="btn-open-options"
		tooltip-placement="left" uib-dropdown-toggle>
		<fw-icon name="{{dropdown.icon}}"></fw-icon>
		<span ng-bind="dropdown.label"></span>
	</button>
	<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options">
		<li ng-repeat="item in dropdown.items" class="no-valid">
			<div class="fw-dropdown-item" ng-click="item.action()">
				<div class="fw-dropdown-item-left fw-noselect">
					<fw-icon name="{{item.icon}}"></fw-icon>
					<span ng-bind="item.label"></span>
				</div>
				<div class="fw-dropdown-item-right" ng-if="item.isCheckeable()">
					<sa-check-box  class="pull-right"
						color={{item.color}}
						stop-propagation="false"
						ng-model="item.status"
						ng-disabled="item.status && dropdown.required"
						ng-change="changeStatus(item)"></sa-check-box>
				</div>
			</div>
			<div ng-if="!$last" class="divider"></div>
		</li>
	</ul>
	
</div>