<ng-form name="formTabPaciente">
	<!-- PACIENTE -->
	<sa-persona-basic
		title="Datos del paciente"
		model="data.solicitud.Paciente"
		btn-search-if="vm.formControl.esEditCreado || !vm.formControl.externo"
		btn-search-class="{ 'btn-danger' : !data.solicitud.Paciente }"
		btn-search-disabled="!vm.formControl.esEditCreado || vm.formControl.externo"
		btn-search-click="vm.paciente.openSelector()" 
		
		btn-edit-if="true"
		btn-edit-click="vm.paciente.edit()" 
		>
	</sa-persona-basic>
	<input ng-show="false" type="text"
		name="pacienteCargado"
		ng-required="true"
		ng-model="data.solicitud.Paciente">

	<div class="row fila" ng-if="data.solicitud.Paciente.Telefonos">
		<h4>Teléfonos del paciente</h4>
		<div class="col-xs-6">
			<ul>
				<li ng-repeat="telefono in data.solicitud.Paciente.Telefonos">
					{{telefono.TelefonoCompleto}} ({{telefono.TipoEquipoTelefono.Nombre}})<span ng-if="telefono.Defecto"> - Por defecto</span>
				</li>
			</ul>
		</div>
	</div>
	<input ng-show="false" type="number"
		min="1"
		name="telefonosCargados"
		ng-required="true"
		ng-model="data.solicitud.Paciente.Telefonos.length">
	<span class="text-error" ng-if="data.solicitud.Paciente && !data.solicitud.Paciente.Telefonos.length">Los teléfonos son requeridos</span>
	<!-- <sa-telefonos
		ng-if="data.solicitud.Paciente.TelefonosPaciente"

		title="Teléfonos del paciente"
		model="data.solicitud.Paciente.TelefonosPaciente"
		
		btn-new-click="vm.paciente.openNewTelefono()"
		>
	</sa-telefonos> -->

	<!-- MEDICO SOLICITANTE -->
	<sa-profesional-basic 
		title="Datos del médico solicitante"
		model="data.solicitud.MedicoSolicitante"
		btn-search-disabled="!vm.formControl.esEditCreado || vm.constante.matriculaMedico || vm.formControl.externo"
		btn-search-if="true"
		required="true" >
	</sa-profesional-basic>

	<!-- MEDICO CIRUGIA / CABECERA -->
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  ">
			<sa-check-box
				name="requiereProtesis"
				label="Requiere registrar médico de cabecera/cirugía"
				ng-model="vm.formData.requiereMedicoCirujano"
				ng-disabled="!vm.formControl.esEditCreado">
			</sa-check-box>
			<!-- <div class="checkbox">
				<label>
					<input type="checkbox" name="requiereProtesis"
						ng-model="vm.formData.requiereMedicoCirujano"
						ng-disabled="!vm.formControl.esEditCreado">
					Requiere registrar médico de cabecera/cirugía
				</label>
			</div> -->
		</div>
	</div>
	<div ng-hide="!vm.formData.requiereMedicoCirujano">
		<sa-profesional-basic
			title="Datos del médico de cabecera/cirugía"
			model="data.solicitud.MedicoCabecera"
			btn-search-if="true"
			btn-search-disabled="!vm.formControl.esEditCreado"
			required="vm.formData.requiereMedicoCirujano">
		</sa-profesional-basic>
	</div>
</ng-form>