<ng-form name="formTabAdmision">
	<!-- <div class="row"> -->
	<sa-afiliacion-internado
		model="data.solicitud"
		edit="true"
		manual="true">
	</sa-afiliacion-internado>
	<div class="row fila fila-not">
		<h4>Datos de autorización</h4>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
			<sa-cantidad-dias-internacion
				model="data.solicitud.DiasInternacion"
				cantidad="vm.formData.cantidadDias"
				btn-new-if="true"
				btn-new-disabled="!vm.formControl.esEditEnProcesoIntervencion"
				required="true" >
			</sa-cantidad-dias-internacion>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
			<label for="cmb_dificultad" >Dificultad Gestion (*)</label>
			<select 
				id="cmb_dificultad"
				name="dificultadGestionAdmision"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
				ng-model="vm.formData.dificultadGestionAdmision"
				ng-options="dificultad.nombre_dificultad_gestion for dificultad in data.dificultadesGestion track by dificultad.id_dificultad_gestion" 
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formTabAdmision.dificultadGestionAdmision"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
			<label for="cmb_estado_admision" >Estado Admision (*)</label>
			<select
				id="cmb_estado_admision"
				name="estadoAdmision"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
				ng-model="vm.formData.estadoAdmision"
				ng-options="estado.nombre_estado_admision for estado in data.estadosAdmision track by estado.id_estado_admision" 
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formTabAdmision.estadoAdmision"></sa-text-error>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 form-group" 
			ng-if="vm.formControl.esAdmisionAutorizada() ">
			<label for="txt_fecha_autorizacion">Fecha de autorización (*)</label>
			<sa-date-picker
				name="fechaAutorizacion"
				model="vm.formData.fechaAutorizacion"
				disabled="!vm.formControl.esEditEnProcesoIntervencion"
				required="vm.formControl.esEditEnProcesoIntervencion"
				max-date="vm.today" >
			</sa-date-picker>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 " sa-form-input ng-if="vm.formControl.esAdmisionAutorizada()">
			<label for="txt_numero_orden">Número de orden (*)</label>
			<input type="text" name="numeroOrden"
				sa-integer
				placeholder=""
				maxlength="15" 
				ng-model="vm.formData.numeroOrden"
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
			<sa-text-error model="formTabAdmision.numeroOrden"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 " sa-form-input ng-if="vm.formControl.esAdmisionAutorizada()">
			<label for="txt_numero_orden">Cantidad días autorizados (*)</label>
			<input type="number" name="cantidadDiasAutorizados"
				placeholder=""
				ng-model="vm.formData.cantidadDiasAutorizados"
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
			<sa-text-error model="formTabAdmision.cantidadDiasAutorizados"></sa-text-error>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 " sa-form-input>
			<label for="txt_observacion_admision" >Observaciones (*)</label>
			<textarea type="text" rows="4" placeholder="Observaciones sobre la autorización"
				maxlength="255" 
				name="observacionesAdmision"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
				ng-model="vm.formData.observacionesAdmision"
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
			</textarea>
			<sa-text-error model="formTabAdmision.observacionesAdmision"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 " sa-form-input>
			<label for="txt_diagnostico_admision" >Diagnóstico (*)</label>
			<textarea type="text" rows="4" placeholder="Diagnóstico sobre la admisión"
				id="txt_diagnostico_admision"
				maxlength="255" 
				name="diagnosticoAdmision"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
				ng-model="vm.formData.diagnosticoAdmision"
				ng-required="vm.formControl.esEditEnProcesoIntervencion">
			</textarea>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<sa-check-box
				name="esPresupuesto"
				label="Tiene presupuesto"
				ng-model="data.solicitud.es_presupuesto"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion">
			</sa-check-box>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<sa-check-box
				name="esModulo"
				label="Módulo convenido"
				ng-model="data.solicitud.es_modulo"
				ng-disabled="!vm.formControl.esEditEnProcesoIntervencion">
			</sa-check-box>	
		</div>
		<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
			<label for="cmb_prioridad_solicitud" >Otros</label>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="esPresupuesto"
						ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
						ng-model="data.solicitud.es_presupuesto">
					Tiene presupuesto
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="esModulo" 
						ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
						ng-model="data.solicitud.es_modulo">
					Módulo convenido
				</label>
			</div>
		</div> -->
	</div>
	<div class="row fila fila-not">
		<h4>Datos del procedimiento</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" sa-form-input>
			<label>Resumen del/los procedimientos</label>
			<textarea 
				maxlength="255" 
				name="nombreElementoOpcional"
				ng-disabled="true"
				ng-model="data.solicitud.IntervencionAdmision.nombre_procedimiento">
			</textarea>
		</div>
	</div>
	<sa-procedimientos-intervencion
		model="vm.formData.detallesIntervencion"
		origen-administrativo="true"
		btn-new-if="true"
		btn-new-disabled="!vm.formControl.esEditEnProcesoIntervencion"
		btn-delete-if="true"
		btn-delete-disabled="!vm.formControl.esEditEnProcesoIntervencion"
		required="true"
		 >
	</sa-procedimientos-intervencion>

	<div class="row fila pull-right">
		<button class="btn btn-default"
			uib-tooltip="Imprimir Orden de Internación"
			ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
			ng-click="vm.solicitud.printOrden()">
			Imprimir Orden
		</button>
		<button class="btn btn-default"
			uib-tooltip="Imprimir RP"
			ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
			ng-click="vm.solicitud.printRP()">
			Imprimir RP
		</button>
		<button class="btn btn-default"
			uib-tooltip="Imprimir Pedido de materiales"
			ng-disabled="!vm.formControl.esEditEnProcesoIntervencion || data.solicitud.ProtesisPreadmision.length <= 0"
			ng-click="vm.solicitud.printPedidoMateriales()">
			Imprimir Materiales
		</button>
		<button class="btn btn-default"
			uib-tooltip="Imprimir Prequirurgicos"
			ng-disabled="!vm.formControl.esEditEnProcesoIntervencion"
			ng-click="vm.solicitud.printPrequirurgicos()">
			Imprimir Prequirutgicos
		</button>
	</div>
</ng-form>