<ng-form name="formTabInforme">
	<div class="row fila">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group ">
			<sa-sucursal-combo
				name="sucursal"
				loading="vm.formControl.loading"
				ng-model="data.solicitud.Sucursal"
				ng-disabled="!vm.formControl.esEditCreado || data.turnoCirugia"
				ng-required="true">
			</sa-sucursal-combo>
			<sa-text-error model="formTabInforme.sucursal"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-hide="vm.formControl.esUrgente" sa-form-input>
			<label>Estado Paciente (*)</label>
			<select
				name="estadoPaciente"
				ng-required="!vm.formControl.esUrgente"
				ng-model="data.solicitud.EstadoPaciente"
				ng-disabled="!vm.formControl.esEditCreado"
				ng-options="estadoPaciente.nombre_estado_paciente for estadoPaciente in data.estadosPaciente track by estadoPaciente.id_estado_paciente"
				>
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formTabInforme.estadoPaciente"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
			<label>Tipo Internación (*)</label>
			<select
				name="tipoInternacion"
				ng-model="data.solicitud.TipoInternacion"
				ng-disabled="!vm.formControl.esEditCreado"
				ng-change="vm.formControl.habilitarCirugia()"
				ng-options="tipoInternacion.nombre_tipo_internacion for tipoInternacion in data.tiposInternacion track by tipoInternacion.id_tipo_internacion" 
				required>
				<option value="">--SELECCIONAR--</option>
			</select>
			<sa-text-error model="formTabInforme.tipoInternacion"></sa-text-error>
		</div>
	</div>
	<div class="row fila">
		<h4>Resumen de historia clínica y diagnóstico</h4>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" sa-form-input>
			<label>Resumen de Historia Clínica (*)</label>
			<textarea type="text" rows="4" placeholder="Resumen de informe médico"
				name="informeMedico"
				ng-disabled="!vm.formControl.esEditCreado"
				ng-model="data.solicitud.informe_medico"
				maxlength="255"
				required>
			</textarea>
			<sa-text-error model="formTabInforme.informeMedico"></sa-text-error>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" sa-form-input>
			<label>Diagnóstico médico (*)</label>
			<textarea type="text" rows="4" placeholder="Diagnóstico médico"
				name="diagnosticoMedico"
				ng-disabled="!vm.formControl.esEditCreado"
				ng-model="data.solicitud.diagnostico"
				maxlength="255"
				required>
			</textarea>
			<sa-text-error model="formTabInforme.diagnosticoMedico"></sa-text-error>
		</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group ">
			<sa-diagnostico-cie
				model="data.solicitud.EnfermedadCie"
				btn-search="true"
				btn-search-disabled="!vm.formControl.esEditCreado"
				required="true">
			</sa-diagnostico-cie>
		</div> -->
	</div>
	<div class="row fila">
		<h4>Datos del Internación</h4>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group"
			ng-hide="vm.formControl.esUrgente" >
			<label>Fecha probable de internación (*)</label>
			<sa-date-picker
				name="fechaProbableInternacion"
				model="data.solicitud.fecha_admision_probable"
				disabled="!vm.formControl.esEditCreado"
				required="!vm.formControl.esUrgente"
				min-date="vm.today"
				max-date="data.solicitud.IntervencionAdmision.fecha_cirugia_probable"
			></sa-date-picker>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<sa-cantidad-dias-internacion
				model="data.solicitud.DiasInternacion"
				cantidad="data.solicitud.cantidad_dias_internacion"
				btn-new-if="true"
				btn-new-disabled="!vm.formControl.esEditCreado"
				required="vm.formControl.esEditCreado"
				>
			</sa-cantidad-dias-internacion>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-show="vm.formData.esQuirurgico">
			<label>Fecha probable de cirugía (*)</label>
			<sa-date-picker
				name="fechaProbableCirugia"
				model="data.solicitud.IntervencionAdmision.fecha_cirugia_probable"
				min-date="data.solicitud.fecha_admision_probable || vm.today"
				required="vm.formData.esQuirurgico" >
			</sa-date-picker>
		</div>
		<div class="col-xs-12-col-sm-4 col-md-2 col-lg-1" ng-show="vm.formData.esQuirurgico">
			<button type="button" class="btn btn-default btn-row "
				uib-tooltip="Cargar fecha"
				ng-disabled="!vm.formControl.esEditCreado || !data.solicitud.Paciente.id_paciente"
				ng-click="vm.turno.cargar()" >
				<sa-icon name="SEARCH"></sa-icon>
				Turnos
			</button>
			<sa-loading-min ng-if="vm.turno.loading"></sa-loading-min>
		</div>
		<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-controller="DatePickerController" ng-show="vm.formData.esQuirurgico">
			<label>Fecha probable de cirugía (*)</label>
			<span class="input-group">
				<div class="form-control"
					ng-disabled="true"
					ng-bind="data.solicitud.IntervencionAdmision.fecha_cirugia_probable | date: 'dd/MM/yyyy'">
				</div>
				<input type="text" class="form-control"
					name="fechaProbableCirugia"
					uib-datepicker-popup
					ng-model="data.solicitud.IntervencionAdmision.fecha_cirugia_probable"
					is-open="opened2"
					min-date="data.solicitud.fecha_admision_probable || vm.today"
					max-date="maxDateCommon"
					ng-show="false"
					ng-required="vm.formData.esQuirurgico" >
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						uib-tooltip="Calendario"
						ng-click="open2($event)"
						ng-hide="false"
						ng-disabled="!vm.formControl.esEditCreado && !vm.formControl.esEditEnProcesoIntervencion">
						<sa-icon name="CALENDAR"></sa-icon>
					</button>
					<button type="button" class="btn btn-default"
						uib-tooltip="Cargar fecha"
						ng-disabled="!vm.formControl.esEditCreado || !data.solicitud.Paciente.id_paciente"
						ng-click="vm.turno.cargar()" >
						<sa-icon name="SEARCH"></sa-icon>
					</button>
					<sa-loading-min ng-if="vm.turno.loading"></sa-loading-min>
				</span>
			</span>
			<sa-text-error ng-disabled="!vm.formControl.esEditCreado" model="formTabInforme.fechaProbableCirugia"></sa-text-error>
		</div> -->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group " ng-show="vm.formData.esQuirurgico">
			<sa-prequirurgicos-internacion
				model="data.solicitud.Prequirurgicos"
				btn-disabled="!vm.formControl.esEditCreado"
				required="false">
			</sa-prequirurgicos-internacion>
			<!-- No es requerido a pedido de Sorvera -->
		</div>
	</div>
	<div class="row fila fila-not">
		<h4>Carga de procedimientos</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" sa-form-input>
			<label>Resumen para procedimientos (*)</label>
			<textarea placeholder="Resumen opcional para procedimientos"
				name="nombreElementoOpcional"
				ng-disabled="!vm.formControl.esEditCreado"
				ng-required="true"
				ng-model="data.solicitud.IntervencionAdmision.nombre_procedimiento"
				maxlength="255" >
			</textarea>
			<sa-text-error model="formTabInforme.nombreElementoOpcional"></sa-text-error>
		</div>
	</div>
	<sa-procedimientos-intervencion
		model="data.solicitud.IntervencionAdmision.DetallesIntervencion"
		origen-medico="true"
		tipo-internacion="data.solicitud.TipoInternacion"
		btn-new-if="true"
		btn-new-disabled="!vm.formControl.esEditCreado"
		btn-delete-if="true"
		btn-delete-disabled="!vm.formControl.esEditCreado"
		required="true" >
	</sa-procedimientos-intervencion>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  form-group " ng-show="vm.formData.esQuirurgico">
			<label>Requiere protesis y/o elementos &nbsp;
			<div class="btn-group">
				<label class="btn btn-warning" ng-model="vm.formData.requiereProtesis" uib-btn-radio="true"
					ng-disabled="!vm.formControl.esEditCreado"
					ng-click="vm.validar.requiereProtesis()">Si</label>
				<label class="btn btn-warning" ng-model="vm.formData.requiereProtesis" uib-btn-radio="false"
					ng-disabled="!vm.formControl.esEditCreado"
					ng-click="vm.validar.requiereProtesis()">No</label>
			</div>
			</label>
		</div>
	</div>
</ng-form>