<ng-form name="formTabProtesis">
	<div class="row">
		<h4>Prótesis</h4>
		<div class="col-xs-12">
			<sa-protesis-intervencion
				model="data.solicitud.ProtesisPreadmision"
				user="vm.user"
				full="true"
				changed="vm.formControl.protesisChanged"
				btn-edit-if="true"
				btn-edit-disabled="!vm.formControl.esEditEnProcesoProtesis"
				btn-observaciones-if="true">
			</sa-protesis-intervencion>
		</div>
	</div>
	<sa-presupuesto-protesis-list
		id-intervencion="data.solicitud.IntervencionAdmision.id_intervencion_admision"
		btn-edit-if="true"
		btn-print-if="true">
	</sa-presupuesto-protesis-list>
	<div class="row">
		<div class="col-xs-12 text-center">
			<!-- <button class="btn btn-guardar"
				ng-disabled="data.solicitud.ProtesisPreadmision.length==0 || !vm.formControl.esEditEnProcesoProtesis"
				ng-click="vm.solicitud.printPresupuesto()">Imprimir Presupuesto</button> -->
			<button class="btn btn-guardar"
				ng-disabled="data.solicitud.ProtesisPreadmision.length==0 || !vm.formControl.esEditEnProcesoProtesis"
				ng-click="vm.solicitud.printPedidoMateriales()">Imprimir Pedido</button>
		</div>
	</div>
</ng-form>