<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Buscar Internado</h4>
	</div>
	<div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 ">
					<label class="label-control">Nro. Desde</label>
					<input type="number" 
							min="0" 
							max="999999999" 
							class="form-control" 
							ng-model="vm.filter.codigoDesde" 
							ng-change="vm.formControl.replicarCodigo()"
							placeholder="Nro Internado..." 
							sa-enter autofocus>
					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 ">
					<label class="label-control">Nro. Hasta</label>
					<input type="number" 
							min="0" max="999999999" 
							class="form-control" 
							ng-model="vm.filter.codigoHasta"
							placeholder="Nro Internado..." 
							sa-enter>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
					<label class="label-control">Tipo de fecha</label>
					<select class="form-control" 
							ng-model='vm.filter.opcionComboTipoFecha' 
							ng-options="tipoFecha.tipoFecha for tipoFecha in vm.filter.comboTipoFecha track by tipoFecha.id"
							sa-enter>
					</select>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"> 
					<label class="control-label">Fecha Desde</label>
					<sa-date-picker model="vm.filter.fechaDesde"
									max-date="vm.filter.fechaHasta"
									disabled='vm.filter.opcionComboTipoFecha.id == 3'
									sa-enter>
					</sa-date-picker>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"> 
					<label class="control-label">Fecha Hasta</label>
					<sa-date-picker model="vm.filter.fechaHasta"
									min-date="vm.filter.fechaDesde"
									disabled='vm.filter.opcionComboTipoFecha.id == 3'
									sa-enter>
					</sa-date-picker>
				</div>
			</div>
			<div class="row fila">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
					<label class="label-control">Nombre</label>
					<input type="text-uppercase" 
							class="form-control text-uppercase" 
							ng-model="vm.filter.nombre"
						   	sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
					<label class="label-control">Apellido</label>
					<input type="text-uppercase" 
							class="form-control text-uppercase" 
							ng-model="vm.filter.apellido"
						   	sa-enter>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3 form-group">
					<label class="label-control">Número documento</label>
					<input type="number" 
							min="0" max="999999999999" 
							class="form-control" 
							ng-model="vm.filter.nroDocumento"
						   	sa-enter>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-1 col-lg-1">
					<button class="btn btn-default btn-row-right" 
						    ng-click="vm.filter.filtrarInternados()"
							sa-punto-click="vm.filter.filtrarInternados()"
							type="button"
							sa-enter>
						Buscar
					</button>
				</div>
			</div>
			<div class="row fila fila-not ">
				<h4 class="ng-binding">Internados</h4>
				 <div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 ">
				 	<sa-loading ng-if="vm.formControl.loading"></sa-loading>	
					<table class="table table-hover table-condensed table-bordered" ng-if="!vm.formControl.loading">
						<thead>						 		
							<tr class="thead-azul">
								<tr class="cabecera-tabla"> 
									<th class="text-left" ng-click="vm.sortBy('NumeroInternado')">
										Número
										<span 	class="glyphicon sort-icon" 
												ng-show="sortKey=='NumeroInternado'" 
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
										</span>
									</th>
									<th class="text-left" ng-click="vm.sortBy('NombreInternado')">
										Nombre
										<span 	class="glyphicon sort-icon" 
												ng-show="sortKey=='NombreInternado'" 
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
										</span>
									</th>
									<th class="text-left" ng-click="vm.sortBy('NumeroDocumento')">
										Documento
										<span 	class="glyphicon sort-icon" 
												ng-show="sortKey=='NumeroDocumento'" 
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
										</span>
									</th>
									<th class="text-left" ng-click="vm.sortBy('FechaAdmision')">
										Fecha Ingreso
										<span	class="glyphicon sort-icon" 
												ng-show="sortKey=='FechaAdmision'" 
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
										</span>
									</th>
									<th class="text-left" ng-click="vm.sortBy('FechaAltaMedica')">
										Fecha Alta
										<span 	class="glyphicon sort-icon" 
												ng-show="sortKey=='FechaAltaMedica'" 
												ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
										</span>
									</th>
									<th class="text-center">Seleccionar</th>
								</tr>
							</tr>
						</thead>
						<tbody ng-repeat="internado in vm.filter.internados">
							 <tr>
								<td class="row text-left">{{internado.NumeroInternado}}</td>
								<td class="row text-left">{{internado.NombreInternado}}</td>
								<td class="row text-left">{{internado.NumeroDocumento}}</td>
								<td class="row text-left">{{internado.FechaAdmision | date : 'dd/MM/yyyy'}}</td>
								<td class="row text-left">{{internado.FechaAltaMedica | date : 'dd/MM/yyyy'}}</td>
								<td class="row text-center">
									<input type="radio" ng-value="internado" ng-model="vm.formData.internadoSeleccionado"
										ng-click="vm.formControl.internadoSeleccion()" sa-enter>
								</td>
							</tr>							
						</tbody>
					</table>
					<div ng-if="vm.filter.internados.length">
						<div class="col-sm-12">
							<div class="text-center">
								<div
									uib-pagination
									items-per-page="vm.paginacion.pageSize"
									total-items="vm.paginacion.totalItems"
									ng-model="vm.paginacion.currentPage"
									ng-change="vm.paginacion.pageChanged()"
									previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button"
			class="btn btn-default" 
			ng-click="vm.formData.returnInternado()"
			sa-punto-click="vm.formData.returnInternado()" 
			ng-disabled="!vm.formControl.internadoElegido" 
			sa-enter>Aceptar</button>
		<button type="button"
			class="btn btn-borrar"
			ng-click="vm.formControl.cancel()"
			sa-punto-click="vm.formControl.cancel()"
			sa-enter>Cancelar</button>
	</div>
</form>