<div id="print-content" class="container-print" >
	<sa-modal-header
		title-name="{{ vm.title.page }}"
		sucursal="vm.sucursal"
		print="true" >
	</sa-modal-header>
	<sa-modal-body loading="vm.formControl.loading">
		<div class="row ">
			<div class="col-xs-12" >
				<table class="table table-hover table-fina">
					<thead>
						<tr class="cabecera-tabla">
							<th class="text-center">N° Int.</th>
							<th class="">Nombre</th>
							<th class="text-center">Sexo</th>
							<th class="">Médico de cabecera</th>
							<th class="">Mutual</th>
							<th class="text-center">Ingreso</th>
							<th class="text-center">Diagnóstico</th>
							<th class="text-center">Días autorizados</th>
							<th class="text-center">Días solicitados</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="internacion in vm.data.internaciones | orderBy:vm.order.value:vm.order.reverse" class="page">
							<th class="text-center">{{ internacion.numero_internado }}</th>
							<td >{{ internacion.nombre_paciente }}</td>
							<td class="text-center">{{ internacion.sexo_paciente | limitTo:1 }}</td>
							<td class="">
								<div ng-if="!internacion.nombre_medico_cabecera" ng-bind="internacion.nombre_medico_solicitante"></div>
								<div ng-if="internacion.nombre_medico_cabecera" ng-bind="internacion.nombre_medico_cabecera"></div>
							</td>
							<td class="">{{ internacion.codigo_mutual }} - {{ internacion.nombre_mutual_busqueda || internacion.nombre_mutual }}</td>
							<td class="text-center">{{ internacion.fecha_admision | date: 'dd/MM/yy' }}</td>
							<td class="">{{internacion.diagnostico}}</td>
							<td class="text-center">{{ internacion.CantidadTotalDiasSolicitados }}</td>
							<td class="text-center">{{ internacion.CantidadTotalDiasAutorizados }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer>
		<div class="row">
			<div class="col-xs-6  ">
				<div class="pull-left">Usuario: <span>{{ vm.data.user.userName }}</span></div>
			</div>
		</div>
	</sa-modal-footer>
</div>