<div id="print-content" class="container-print" >
	<sa-modal-header
		fecha="vm.today"
		print="true"
		sucursal="data.internacion.Sucursal">
		HOJA DE ADMISIÓN - INTERNADO: {{ data.internacion.numero_internado }}
	</sa-modal-header>
	<sa-modal-body loading="formControl.loading">
		<sa-paciente-print
			title="Datos del paciente"
			model="data.internacion.Paciente" >
		</sa-paciente-print>
		<sa-afiliacion-internado
			print="true"
			model="data.internacion">
		</sa-afiliacion-internado>
		<div class="row fila fila-print">
			<h4>Datos de admisión</h4>
			<div class="col-xs-3  " >
				<label class="">Fecha/Hora de ingreso</label>
				<div ng-bind="data.internacion.fecha_admision | date: 'dd/MM/yyyy HH:mm'"></div>
			</div>
			<div class="col-xs-3  " >
				<label class="">Habitacion</label>
				<div ng-bind="data.internacion.CamaActual.Habitacion.numero_habitacion"></div>
			</div>
			<div class="col-xs-3  " >
				<label class="">Cama</label>
				<div ng-bind="data.internacion.CamaActual.numero_cama"></div>
			</div>
			<div class="col-xs-12  ">
				<label class="">Diagnóstico</label>
				<div ng-bind="data.internacion.diagnostico"></div>
			</div>
			<div class="col-xs-6  ">
				<label class="">Nombre y apellido del profesional (Cabecera)</label>
				<div ng-bind="data.internacion.MedicoCabecera.nombre_completo"></div>
			</div>
		</div>
		<div class="row fila fila-print">
			<div class="col-xs-12">
				<label class="">Motivo de ingreso:</label>
				<br>
			</div>
			<div class="col-xs-12">
				<label class="">Ant. Enf. Actual</label>
				<br>
			</div>
		</div>
		<div class="row fila fila-print">
			<h4>3-Ant. Patológico</h4>
			<div class="col-xs-12">
				<label class="">Sistémicos</label>
			</div>
			<div class="col-xs-12">
				<label class="">Quirúrgicos</label>
			</div>
			<div class="col-xs-12">
				<label class="">Tóxicos Alérgicos</label>
			</div>
			<div class="col-xs-12">
				<label class="">Epidemiológicos</label>
			</div>
			<div class="col-xs-12">
				<label class="">Ginecoobst.</label>
			</div>
			<div class="col-xs-12">
				<label class="">Medicamentos</label>
			</div>
			<div class="col-xs-12">
				<label class="">Familiares</label>
				<br>
			</div>
		</div>
		<div class="row fila fila-print">
			<h4>4-Internaciones previas</h4>
			<div class="col-xs-12">
				<label class="">Mes_Año Causa Diagnostico</label>
				<br>
			</div>
		</div>
		<div class="row fila-print">
			<h4>5-Estudios recientes realizados</h4>
			<div class="col-xs-12">
				<label class="">Resultados - Fecha</label>
			</div>
		</div>
	</sa-modal-body>
</div>