<span class="input-group">
	<div class="form-control"
		ng-disabled="true"
		ng-bind="vm.model | date: 'dd/MM/yyyy'">
	</div>
	<input type="text" class="form-control"
		id="txt_fecha"
		name="fecha"
		uib-datepicker-popup
		ng-model="vm.model"
		is-open="vm.opened"
		datepicker-options="vm.dateOptions"
		min-date="vm.minDate || vm.minDateCommon"
		ng-show="false"
		max-date="vm.maxDate || vm.maxDateCommon"
		ng-required="vm.required"
		ng-class="{ error : !vm.disabled}"
		ng-change="vm.changeInterno()">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default"
			uib-tooltip="Calendario"
			ng-click="vm.open($event)"
			ng-disabled="vm.disabled"
			sa-enter>
			<sa-icon name="CALENDAR"></sa-icon>
		</button>
	</span>
</span>
<span class="help-block text-error" ng-show="!vm.disabled && vm.required && !vm.model">Requerido.</span>