<div id="print-content" class="container-print">
    <sa-modal-header title-name="Administrador de Documentos Asociados" print="true"></sa-modal-header>
    <sa-modal-body>
        <div class="row fila">
            <div class="col-xs-6 ">
                <div class="row">
                    <h4>Entidad Elegida</h4>
                </div>
                <div ng-bind="vm.resolve.entidadElegida.Nombre"></div>
            </div>
            <div class="col-xs-6 ">
                <div class="row">
                    <h4>Entidad Filtrada</h4>
                </div>
                <div ng-bind="vm.resolve.entidadFiltrada.Nombre"></div>
            </div>
        </div>
        <div class="row">
            <h4>Listado Documentos</h4>
            <div class="col-xs-12 ">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="cabecera-tabla">
                            <th class="text-center">Nombre Documento</th>
                            <th class="text-center">Nombre Archivo</th>
                            <th class="text-center">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="documento in vm.resolve.listado.Rows | orderBy: 'Id'">
                            <td class="text-left">{{documento.NombreDocumento}}</td>
                            <td class="text-left">{{documento.NombreArchivo}}</td>
                            <td class="text-center">{{documento.Fecha | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </sa-modal-body>
    <!-- <div class="row fila fila-print">
				<div>&nbsp;</div> -->
</div>