<form name="formCantidadDias" accept-charset="utf-8" novalidate>
	<sa-modal
		title-name="Cargar cantidad de días"
		btn-cancel-click="vm.formControl.cancel()"
		btn-ok-click="vm.formControl.ok()"
		btn-ok-disabled="!formCantidadDias.$valid"

		loading="vm.formControl.loading">

		<div class="row">
			<div ng-repeat="categoria in vm.data.categoriasHabitacion track by categoria.id_categoria_habitacion" >
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  form-group">
					<label for="">{{categoria.nombre_categoria}}</label>
					<input type="number" name="categoria{{$index}}" class="form-control"
						min="0"
						max="99"
						ng-model="vm.formData.cantidadDias[$index].cantidad_dias"
						ng-required="true">
				</div>
			</div>
		</div>
	</sa-modal>
</form>