<form name="formSolicitud" accept-charset="utf-8" novalidate>
	<sa-modal-header title-name="Anular solicitud">
	</sa-modal-header>
	<sa-modal-body loading="vm.formControl.loading">
		<sa-persona-basic
			model="vm.data.solicitud.Paciente"
			title="Datos del paciente">
		</sa-persona-basic>
		<div class="row fila ">
			<h4>Datos de admisión</h4>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 " >
				<label class="">Fecha de Preadmision</label>
				<div ng-bind="vm.data.solicitud.fecha_solicitud | date: 'dd/MM/yyyy'"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 " >
				<label class="">Cantidad de días</label>
				<div ng-bind="vm.data.solicitud.cantidad_dias_internacion"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " >
				<label class="">Diagnóstico</label>
				<div ng-bind="vm.data.solicitud.diagnostico"></div>
			</div>
		</div>
		<div class="row fila fila-not">
			<h4>Motivo de anulación</h4>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 " >
				<textarea class="form-control"
					maxlength="255" 
					ng-model="vm.data.solicitud.motivo_baja"
					ng-required="true">
					
				</textarea>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 " >
				<label>Usuario:</label>
				<div ng-bind="vm.data.solicitud.usuario_baja"></div>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer
		btn-ok-click="vm.formControl.ok()"
		btn-ok-disabled="!formSolicitud.$valid"
		btn-cancel-click="vm.formControl.cancel()">
	</sa-modal-footer>
</form>