<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div id="print-content" class="container-print" ng-hide="vm.formControl.loading">
	<div class="page" ng-repeat="prequirurgico in vm.data.solicitud.Prequirurgicos track by $index">
		<sa-modal-header
			fecha="vm.today"
			print="true" >
			PREQUIRURGICO - SERVICIO: {{ prequirurgico.ServicioMedico.nombre_servicio_medico }}
		</sa-modal-header>
		<sa-modal-body>
			<sa-paciente-print
				title="Datos del paciente"
				model="vm.data.solicitud.Paciente" >
			</sa-paciente-print>
			<sa-afiliacion-internado
				print="true"
				model="vm.data.solicitud">
			</sa-afiliacion-internado>
			<div class="row fila fila-print">
				<h4>Datos del médico solicitante</h4>
				<div class="col-xs-5 ">
					<label class="">Nombre y apellido</label>
					<div ng-bind="vm.data.solicitud.MedicoSolicitante.nombre_completo" ></div>
				</div>
				<div class="col-xs-2 ">
					<label class="">Matrícula</label>
					<div ng-bind="vm.data.solicitud.MedicoSolicitante.numero_matricula" ></div>
				</div>
				<div class="col-xs-3 ">
					<label class="">Firma y sello</label>
					<img ng-src="{{vm.data.firmaMedico}}" alt="firmaMedico" class="img-responsive"/>
				</div>
			</div>
			<div class="row fila-print">
				<h4>Datos de admisión</h4>
				<div class="col-xs-12 " >
					<label>Diagnóstico</label>
					<div ng-bind="vm.data.solicitud.diagnostico"></div>
				</div>
				<div class="col-xs-12 " >
					<label>Prácticas médicas</label>
					<ul>
						<li ng-repeat="detalle in prequirurgico.Detalles track by $index">
							{{ detalle.PracticaMedica.codigo_practica_medica }} - {{ detalle.PracticaMedica.nombre_practica_medica }}
						</li>
					</ul>
				</div>
				<div class="col-xs-12 " >
					<label class="">Observaciones</label>
					<div ng-bind="prequirurgico.observaciones"></div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<div class="row">
				<div class="col-xs-6  ">
					<div class="pull-left">Usuario: <span>{{ vm.data.user.userName }}</span></div>
				</div>
			</div>
		</sa-modal-footer>
	</div>
</div>