<sa-modal-header title-name="Agregar producto a deposito: {{vm.deposito.NombreCorto}}" title-icon="NEW" loading="vm.loading">

</sa-modal-header>
<sa-modal-body loading="vm.loading">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-3" ng-show="vm.tiposProductos && vm.tiposProductos.length > 0" sa-form-input>
					<label for="tipo_stockeable">Tipo Producto</label>
					<select class="form-control ng-valid" id="f-add-producto-tipoproducto" ng-model="vm.tipoProducto" ng-change="vm.selectTipoProducto()"
					    ng-options="tipoProducto as tipoProducto.Nombre for tipoProducto in vm.tiposProductos">
						<option value="">Seleccionar</option>
					</select>
				</div>

				<div class="col-xs-2" sa-form-input>
					<label>Codigo</label>
					<input class="text-capitalize" type="number" name="buscar_codigo" id="f-add-producto-codigo" placeholder="Codigo" ng-model="vm.filterCodigo" ng-change="vm.limpiarDatosTable()"
					    autocomplete="off" id="agregar-producto-codigo-input">
				</div>

				<div class="col-xs-3" sa-form-input>
					<label>Nombre</label>
					<input class="text-capitalize" type="text" name="buscar_nombre" placeholder="Nombre" id="f-add-producto-nombre" ng-model="vm.filterNombre" ng-change="vm.limpiarDatosTable()"
					    autocomplete="off" id="farmacia-agregar-producto-stocknombre-input">
				</div>

				<div class="col-xs-2">
					<button type="button" sa-btn-search class="btn-row" ng-click="vm.buscar()" id="farmacia-agregar-buscar-btn">Buscar</button>
				</div>

				<div class="col-xs-2 pull-right">
					<button type="button" sa-btn-clean class="btn-row" id="farmacia-agregar-limpiar-btn">Limpiar</button>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-9" style="border-right: 2px solid rgb(189, 187, 187);"
				ng-if="vm.productos.Rows && vm.productos.Rows.length && vm.productos.Columns && vm.productos.Columns.length">
					<!-- Se define el container que gestiona la tabla-->
					<fw-table-container>
						<fw-table-config exportable="false" sortable="true" paginable="true" column-config="true">
						</fw-table-config>
						<fw-table-sorting sort-change="vm.table.sorting(sorting)">
						</fw-table-sorting>
						<fw-table-rowset data="vm.productos.Rows" click-action="vm.selectProducto({row:row})">
						</fw-table-rowset>
						<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
						<fw-table-columnset data="vm.productos.Columns">
							<!-- Se define una column con los datos de una columna (opcional)-->
							<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
							<!-- <fw-table-column
									label="'Prueba'"
									field="'otroCampo'">
								</fw-table-column> -->
						</fw-table-columnset>
						<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
						<fw-table-buttonset>
							<!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
						</fw-table-buttonset>
						<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
						<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
						<fw-table-pagination-ext page-change="vm.getPage(pagination)" page-size="vm.tableOption.PageSize" total-items="vm.productos.RowCount"
						    current-page="vm.tableOption.CurrentPage">
						</fw-table-pagination-ext>
						<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
						<!-- Opcionalmente se puede redefinir page-size -->
						<!-- <fw-table-pagination page-size="5"></fw-table-pagination> -->
						<!-- Por ultimo el renderizado de la tabla -->
						<fw-table></fw-table>
					</fw-table-container>
				</div>

				<div class="col-xs-3" ng-if="vm.productoSeleccionado" sa-form-input >
					<!-- input de stock normal -->
					<label>Stock Normal</label>
					<input type="number" class="form-control" id="farmacia-agregar-producto-stocknormal-input" ng-model="vm.stockNormal" sa-enter min="0">
				</div>
				<div class="col-xs-3" ng-if="vm.productoSeleccionado" sa-form-input >
						<!-- input de stock normal -->
						<label>Cantidad Máxima Utilizable </label>
						<input type="number" class="form-control" ng-model="vm.cantidadMaxima" id="farmacia-agregar-producto-cantmaxima-input" sa-enter min="0">
					</div>
			</div>

		</div>

	</div>

</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<button type="button" sa-btn-save class="btn-success" ng-click="vm.guardar()" id="farmacia-agregar-producto-guardar-btn">Guardar</button>
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" id="farmacia-agregar-producto-cancelar-btn">
</sa-modal-footer>