<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 form-group">
        <h4>Profesional por Defecto</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 form-group">
        <sa-matricula-profesional model='vm.filter.profesionalDefecto' title='Matrícula' 
            mostrarlabelnombre='true' mostrarlabelmatricula='true' tooltip='Buscar'>
        </sa-matricula-profesional>
    </div>
</div>
<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading"
    uib-tooltip="Agregar nuevo" tooltip-placement="left" uib-dropdown-toggle
    ng-click="vm.formControl.editarConfiguracion(null, null)"
    id="edit-equipos-profesionales-agregar-btn"
    sa-punto-click="vm.formControl.editarConfiguracion(null, null)"
    sa-enter>
<sa-icon name="PLUS"></sa-icon>
</button>
<div class="row">
    <div class="col-xs-12" ng-if="!vm.formControl.loading">
        <fw-table-container>
            <fw-table-rowset data="vm.data.configuraciones.Rows"
                click-action="clickAction()">
            </fw-table-rowset>
            <fw-table-columnset data="vm.data.configuraciones.Columns">
            </fw-table-columnset>
            <fw-table-buttonset>
                <fw-table-button
                    visible="btnEditIf"
                    label="'Editar'"
                    icon="'EDIT'"
                    action="vm.formControl.editarConfiguracion(row.Id, row.NumeroMatriculaProfesional)">
                </fw-table-button>
                <fw-table-button
                    visible="true"
                    label="'Eliminar'"
                    icon="'DEL'"
                    action="vm.formControl.borrarConfiguracion(row)">
                </fw-table-button>
            </fw-table-buttonset>
            <fw-table></fw-table>
        </fw-table-container>
    </div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>