<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading"
    uib-tooltip="Agregar nuevo" tooltip-placement="left" uib-dropdown-toggle
    ng-click="vm.formControl.editarProfesionalAtencion(null, null)"
    id="edit-equipos-profesionalesatencion-agregar-btn"
        sa-punto-click="vm.formControl.editarProfesionalAtencion(null, null)"
    sa-enter>
<sa-icon name="PLUS"></sa-icon>
</button>
<div class="row">
    <div class="col-xs-12" ng-if="!vm.formControl.loading">
        <fw-table-container>
            <fw-table-rowset data="vm.data.ProfesionalesQueLoAtienden.Rows"
                click-action="clickAction()">
            </fw-table-rowset>
            <fw-table-columnset data="vm.data.ProfesionalesQueLoAtienden.Columns">
            </fw-table-columnset>
            <fw-table-buttonset>
                <fw-table-button
                    visible="true"
                    label="'Eliminar'"
                    icon="'DEL'"
                    action="vm.formControl.borrarProfesionalAtencion(index)">
                </fw-table-button>
            </fw-table-buttonset>
            <fw-table></fw-table>
        </fw-table-container>
    </div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>

