<div id="cuerpo" ng-hide="vm.formControl.loading ">
    <div class="row fila fila-not">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-3">
                    <sa-sucursal-combo-filtrado if-h3="true" ng-model="vm.data.sucursal" todas="false" ng-change="vm.formControl.changeSucursal()"> 
                    </sa-sucursal-combo-filtrado>
                </div>

                <div class="col-xs-1">
                </div>

                <div class="col-xs-3 btn-row">
                    <sa-check-box ng-model="vm.data.showGrupoDePrestaciones" color="green" id-element="centroservicio-mostrar-grupo-prestaciones-slider"
                    label-right="'Mostrar Grupo De Prestaciones'" pull-right="true"></sa-check-box>
                </div>
            </div>
        </div>

        <div class="col-xs-6">

            <sa-servicios-en-sucursal-table sucursal="vm.data.sucursal" servicios-en-sucursal="vm.data.servicios" loading="vm.formControl.loading"
                servicio-seleccionado="vm.data.servicioSelected">
            </sa-servicios-en-sucursal-table>

        </div>

        <div class="col-xs-6" style="border-left: 2px solid rgb(189, 187, 187);" ng-show="vm.data.servicioSelected.Id">
            <sa-recursos-en-servicio-en-sucursal-table loading="vm.formControl.loading" servicio="vm.data.servicioSelected" sucursal="vm.data.sucursal"
                recurso-seleccionado="vm.data.recursoSelected" on-prestacion-selected="vm.data.prestacionSelected" id-jefe-servicio="vm.data.servicioSelected.IdProfesionalJefeServicio">
            </sa-recursos-en-servicio-en-sucursal-table>
        </div>

        <div class="col-xs-6" style="border-top: 2px solid rgb(189, 187, 187);padding-top: 6px;" ng-show="vm.data.servicioSelected.Id">
            
            <div ng-show="!vm.data.showGrupoDePrestaciones">
                <sa-prestaciones-en-servicio-en-sucursal-table loading="vm.formControl.loading" servicio="vm.data.servicioSelected" sucursal="vm.data.sucursal"
                prestacion-selected="vm.data.prestacionSelected" on-recurso-selected="vm.data.recursoSelected">
                </sa-prestaciones-en-servicio-en-sucursal-table>
            </div>

            <div ng-show="vm.data.showGrupoDePrestaciones">
                <sa-grupo-prestaciones-en-servicio-en-sucursal-table sucursal="vm.data.sucursal" servicio="vm.data.servicioSelected" loading="vm.formControl.loading">
                </sa-grupo-prestaciones-en-servicio-en-sucursal-table>
            </div>
        </div>

        <div class="col-xs-6" style="border-top: 2px solid rgb(189, 187, 187); 
        border-left: 2px solid rgb(189, 187, 187);padding-top: 6px;" ng-show="vm.data.recursoSelected.Id">

            <div ng-show="!vm.data.showGrupoDePrestaciones">
                <sa-prestaciones-del-recurso-en-servicio-en-sucursal-table sucursal="vm.data.sucursal" servicio="vm.data.servicioSelected"
                recurso="vm.data.recursoSelected" loading="vm.formControl.loading">
                </sa-prestaciones-del-recurso-en-servicio-en-sucursal-table>
            </div>

            <div ng-show="vm.data.showGrupoDePrestaciones">
                <sa-grupo-prestaciones-del-recurso-en-servicio-en-sucursal-table sucursal="vm.data.sucursal" 
                servicio="vm.data.servicioSelected" recurso="vm.data.recursoSelected" loading="vm.formControl.loading">
                </sa-grupo-prestaciones-del-recurso-en-servicio-en-sucursal-table>
            </div>

           
        </div>

        <div class="col-xs-6" style="border-top: 2px solid rgb(189, 187, 187); 
                border-left: 2px solid rgb(189, 187, 187);padding-top: 6px;" ng-show="!vm.data.recursoSelected.Id && vm.data.prestacionSelected">
           
                <sa-recursos-por-prestacion-en-servicio-en-sucursal-table prestacion="vm.data.prestacionSelected" 
                sucursal="vm.data.sucursal" servicio="vm.data.servicioSelected">
                </sa-recursos-por-prestacion-en-servicio-en-sucursal-table>
        </div>

    </div>

</div>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>