<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="cuerpo" >
	<form name="formSolicitud" accept-charset="utf-8" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
				<sa-new-mutual-selector model="vm.filter.mutualElegida" codigo-mutual-edit="vm.filter.codigoMutual" ng-disabled="!vm.filter.esNuevo"></sa-new-mutual-selector>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
				<label class="control-label">Vigencia desde</label>
				<sa-date-picker model="vm.filter.vigenciaDesde" disabled="false" max-date="vm.filter.vigenciaHasta"></sa-date-picker>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
				<label class="control-label">Vigencia hasta</label>
				<sa-date-picker model="vm.filter.vigenciaHasta" disabled="false" min-date="vm.filter.vigenciaDesde"></sa-date-picker>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
				<label class="label-control">Estado</label>
				<select class="form-control" id="cmb_Estado" ng-model="vm.filter.estadoConvenio" 
					ng-options="estado.Nombre for estado in vm.filter.estadosConvenio track by estado.Id"
					ng-change="vm.formControl.cambioEstado()"
				 	sa-enter>
				</select>
			</div>
		</div>
		<uib-tabset class="prueba" active="active">
			<uib-tab ng-repeat="tab in vm.tabs"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				index="$index + 1"
				class="{{ tab.CLASSBG }}"
				role="presentation"
				ng-hide="tab.HIDE"
				ui-sref-active ="active"
				ui-sref="{{tab.STATE}}"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
			</uib-tab>
		</uib-tabset>
		<ui-view></ui-view>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group text-center">
				<button class="btn btn-cancelar"
						ng-click="vm.formControl.volver()"
						sa-punto-click="vm.formControl.volver()"
						sa-enter>
					Volver
				</button>
				<button class="btn btn-default"
						ng-click="vm.formControl.guardar()"
						sa-punto-click="vm.formControl.guardar()"
						sa-enter>
					Guardar
				</button>
			<div>
		</div>
	</form>
</div>