<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.nuevo(null)">
</sa-title>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
		<sa-new-mutual-selector model="vm.filter.mutualElegida" codigo-mutual-edit="vm.filter.codigoMutual" ng-disabled="false"></sa-new-mutual-selector>
	</div>
	<!-- <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Vigencia al</label>
		<input type="date" class="form-control" id="fechaVigencia" ng-min="vm.filter.startDate" name="fechaVigencia" ng-model="vm.filter.fechaVigencia" sa-enter>
	</div> -->

	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
			<label class="control-label">Vigencia al</label>
			<sa-date-time-picker ng-model="vm.filter.fechaVigencia" id="1" type="date" min="vm.filter.startDate" >
			</sa-date-time-picker>  
	</div>


	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Estado</label>
		<select ng-model="vm.filter.tipoEstadoConvenioElegido" ng-options="estado.Nombre for estado in vm.data.tiposEstadoConvenio track by estado.Id"
			sa-enter>
			<option value="">TODOS</option>
		</select>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Tipo Mutual</label>
		<select ng-model="vm.filter.tipoMutualElegida" ng-options="tipo.Nombre for tipo in vm.data.tiposMutual track by tipo.Id"
			sa-enter>
			<option value="">TODOS</option>
		</select>
	</div>
</div>
<div class="row">
	<!-- <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
		<label class="control-label">Últ. actualiz. antes de</label>
		<input type="date" class="form-control" id="ultimaActualizacionAntesDe" ng-min="vm.filter.startDate" name="ultimaActualizacionAntesDe" ng-model="vm.filter.ultimaActualizacionAntesDe" sa-enter> 
	</div> -->

	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
			<label class="control-label">Últ. actualiz. antes de</label>
			<sa-date-time-picker ng-model="vm.filter.ultimaActualizacionAntesDe" id="2" type="date" min="vm.filter.startDate" >
			</sa-date-time-picker>  
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
		<button sa-btn-search ng-click="vm.formControl.buscar()" class="btn-row" sa-punto-click="vm.formControl.buscar()" sa-enter>
			Buscar
		</button>
		<button sa-btn-clean ng-click="vm.formControl.limpiarFiltros()" class="btn-row" sa-punto-click="vm.formControl.limpiarFiltros()"
			sa-enter>
			Limpiar
		</button>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group" sa-form-input>
			<button type="button" sa-btn-ok class="btn-row btn-block"  ng-click="vm.formControl.exportarConveniosExcel()"
			sa-punto-click="" sa-enter>Exportar a Excel</button>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<sa-table-ext data="vm.data.convenios" page-change="vm.formControl.buscarPagina(pagination)" btn-edit-click="vm.formControl.editarConvenio(row)"
			btn-delete-click="vm.formControl.borrarConvenio(row)" btn-personalizado-label="'Copiar'" btn-personalizado-icon="'COPY'"
			btn-personalizado-click="vm.formControl.copiarConvenio(row)">
		</sa-table-ext>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row text-center">
			<button class="btn btn-cancelar" ng-click="vm.formControl.volver()" sa-punto-click="vm.formControl.volver()" sa-enter>
				Volver
			</button>
		</div>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>