<div id="cuerpo" ng-hide="vm.loading">

    <div class="row">

        <div class="col-xs-12">

            <div class="row">

                <div class="col-xs-4">
                    <div class="row">
                        <!-- SELEC TIPO BUSQUEDA FECHA -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
                            <label>Tipo Fecha</label>
                            <select name="selectTipoFecha" class="form-control" ng-model="vm.tipoFecha" ng-options="tipoFecha.Nombre for tipoFecha in vm.tiposDeFecha track by tipoFecha.Id">
                                <option value="">-SELECCIONAR</option>
                            </select>
                        </div>

                        <!-- FECHA DESDE -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
                            <label>Fecha Desde</label>
                            <sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date">
                            </sa-date-time-picker>
                        </div>

                        <!-- FECHA HASTA -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
                            <label>Fecha Hasta</label>
                            <sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date">
                            </sa-date-time-picker>
                        </div>
                    </div>
                </div>


                <!-- SUCURSAL -->
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group">
                    <label for="cmb_sucursal" class="label-control">Sucursal</label>
                    <select class="form-control" id="cmb_sucursal" name="comboSucursalXServicio" ng-model="vm.sucursal" ng-options="sucursal.Nombre for sucursal in vm.sucursales track by sucursal.Id">
                        <option value="">-SELECC. SUC.-</option>
                    </select>
                    <!-- <sa-sucursal-combo-filtrado if-h3="true" ng-model="vm.sucursal" todas="true"></sa-sucursal-combo-filtrado> -->
                </div>

                <!-- SERVICIO MEDICO -->
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 form-group">
                    <sa-selector-servicio-medico ng-model="vm.servicioMedico" solo-visibles-turnos="true" idsucursal="vm.sucursal.Id" ng-disabled="vm.disabledServicio()"
                        ng-change="vm.cargarDatosPrestacion(vm.servicioMedico); vm.limpiarCriterio(); vm.setServicioId();">
                    </sa-selector-servicio-medico>
                </div>


                <!-- RECURSO -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
                    <sa-selector-recurso ng-model="vm.recurso" ng-disabled="vm.disabledSucursal()" idservicio="vm.servicioMedico" idsucursal="vm.sucursal">
                    </sa-selector-recurso>
                </div>

            </div>

            <div class="row fila">
                <!-- TIPO DE TURNO -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
                    <label>Tipo de Turno</label>
                    <select name="tipoTurnoPlantilla" class="form-control" ng-model="vm.tipoTurno" ng-options="tipoTurno.Nombre for tipoTurno in vm.tiposDeTurno track by tipoTurno.Id">
                        <option value="">-SELECCIONAR</option>
                    </select>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
                    <label>Prestaciones / Procedimiento</label>
                    <select name="tipoPrestacion" class="form-control" ng-model="vm.prestacionSeleccionada" ng-options="prestacion.Nombre for prestacion in vm.prestaciones track by prestacion.Id"
                        ng-disabled="!vm.servicioMedico">
                        <option value="">-SELECCIONAR</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2 form-group">
                    <label>Estado de Turnos</label>
                    <div uib-dropdown class="fw-dropdown-container" auto-close="outsideClick">
                        <button class="btn dropdown-toggle btn-default" type="button" id="dropdownMenu2" uib-dropdown-toggle style="width: 100%;">
                            Seleccionar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-open-options" style="width: 100%;">
                            <li ng-repeat="estado in vm.tiposEstadoTurno" class="no-valid">
                                <div class="fw-dropdown-item">
                                    <div class="fw-dropdown-item-left fw-noselect">
                                        <fw-icon name="{{item.icon}}"></fw-icon>
                                        <span>• {{estado.Nombre}}</span>
                                    </div>
                                    <div class="fw-dropdown-item-right text-right">
                                        <sa-check-box ng-model="estado.status" color="green">
                                        </sa-check-box>
                                    </div>
                                </div>
                                <div ng-if="!$last" class="divider"></div>
                            </li>
                        </ul>
                    </div>

                </div>
                

                <div class="col-xs-5">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
                            <sa-check-box label="Solo con agenda activa" ng-model="vm.soloAgendaActiva" color="green">
                            </sa-check-box>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
                            <sa-check-box label="Incluir turnos libres" ng-model="vm.incluirTurnosLibres" color="green">
                            </sa-check-box>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
                            <sa-check-box label="Solo activos" ng-model="vm.soloActivos" color="green">
                            </sa-check-box>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
                            <sa-check-box label="Incluir Observación" ng-model="vm.incluirObservacionBool" color="green" ng-change="vm.incluirObservacion()">
                            </sa-check-box>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
                    <sa-selector-especialidad ng-model="vm.especialidad" if-label="false" idservicio="vm.servicioMedico"
                     idsucursal="vm.sucursal" ng-disabled="!vm.servicioMedico || !vm.sucursal">
                    </sa-selector-especialidad>
                </div>

            </div>

            <div class="row fila">
                <div class="col-xs-12">
                    <!-- selector de filtro de servicios multiples -->
                    <div class="row">
                        <div class="col-xs-2">
                            <sa-check-box label="Filtrar por Servicios Medicos" ng-model="vm.filtroServicioMedico" color="green" ng-change="vm.changeFiltroServicioMedico()">
                            </sa-check-box>
                        </div>
                      
                        <div class="col-xs-2" ng-if="vm.filtroServicioMedico">
                            <button type="button" class="btn btn-row btn-warning" ng-click="vm.abrirSelectorServiciosMultiples()">Selecc. Varios Servicios</button>
                        </div>

                        <div class="col-xs-5" ng-if="vm.serviciosSeleccionados && vm.serviciosSeleccionados.length > 0 && vm.filtroServicioMedico">
                            <table class="table table-fixed table-cursor-pointer">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">Id</th>
                                        <th class="col-xs-8">Servicio Medico</th>
                                        <th class="col-xs-2">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody style="height: 100px;">
                                    <tr ng-repeat="servicio in vm.serviciosSeleccionados">
                                        <td class="col-xs-2" ng-bind="servicio.Id"></td>
                                        <td class="col-xs-8" ng-bind="servicio.Nombre"></td>
                                        <td class="col-xs-2">
                                            <button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" tooltip-placement="top" ng-click="vm.quitarServicio(servicio)">
                                                <sa-icon name="DEL"></sa-icon>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-xs-2">
                            <sa-check-box label="Incluir motivo de cancelación" ng-model="vm.incluirMotivoDeCancelacionBool" ng-change="vm.changeMotivoCancelacionBool()" color="green">
                            </sa-check-box>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <sa-check-box label="Filtrar por mutual" ng-model="vm.filtroMutual" color="green">
                    </sa-check-box>

                    <div class="row" ng-if="vm.filtroMutual">
                        <!-- MUTUAL -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-9 ">
                            <sa-new-mutual-selector model="vm.mutual" codigo-mutual-edit="vm.codigoMutual"></sa-new-mutual-selector>
                        </div>

                        <!-- BTN AGREGAR MUTUAL -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                            <button type="button" class="btn btn-warning btn-row btn-block" ng-disabled="!vm.mutual" ng-click="vm.agregarMutual()">
                                Agregar Mutual
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.filtroMutual">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                            <table class="table table-fixed table-cursor-pointer">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">Codigo</th>
                                        <th class="col-xs-8">Mutual</th>
                                        <th class="col-xs-2">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mutual in vm.mutualesSeleccionadas">
                                        <td class="col-xs-2" ng-bind="mutual.Codigo"></td>
                                        <td class="col-xs-8" ng-bind="mutual.Nombre"></td>
                                        <td class="col-xs-2">
                                            <button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" tooltip-placement="top" ng-click="vm.quitarMutual(mutual)">
                                                <sa-icon name="DEL"></sa-icon>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
                    <sa-check-box label="Filtrar por paciente" ng-model="vm.filtroPaciente" color="green">
                    </sa-check-box>
                    <div class="row">
                        <div class="col-xs-12">

                            <sa-buscador-paciente ng-model="vm.paciente" btn-mutuales-if="false" btn-ver-turnos-if="false" btn-editar-paciente-if="false"
                                telefono-if="false" celular-if="false" email-if="false" buscador-nombre-apellido-if="true" nombre-apellido-if="false"
                                ng-if="vm.filtroPaciente" btn-action-extra-if="false" selector-grande="true">
                            </sa-buscador-paciente>
                        </div>
                    </div>

                </div>

            </div>

            <!-- BTN BUSCAR -->
            <div class="row">

               
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right">
                    <button type="button" class="btn-block btn-row" sa-btn-search ng-click="vm.buscar()">
                        Buscar
                    </button>
                </div>
                <!-- BTN LIMPIAR -->
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2  pull-right">
                    <button type="button" class="btn-block btn-row" sa-btn-clean ng-click="vm.limpiar()">
                        Limpiar
                    </button>
                </div>
            
            </div>

        </div>


    </div>



    <div class="row">

        <!-- BLOQUE INFERIOR TABLA -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.data && vm.data.length && vm.columnasTabla && vm.columnasTabla.length">

            <!-- Se define el container que gestiona la tabla-->
            <fw-table-container>
                <fw-table-config exportable="true" sortable="false" filtrable="true" paginable="true" column-config="true">
                </fw-table-config>
                <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
                </fw-table-sorting-ext>
                <fw-table-rowset data="vm.data">
                </fw-table-rowset>
                <!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
                <fw-table-columnset data="vm.columnasTabla">

                </fw-table-columnset>

                <fw-table-export>

                    <fw-table-export-csv label="'Exportar todo a Excel'" data="all" status="true">
                    </fw-table-export-csv>
                </fw-table-export>

                <!-- FILTRADO DINAMICO [Opcional] -->
                <!-- Debe estar configurado en true la configuracion correspondiente -->
                <!-- Solo debería funcionar si se trata de una tabla interna -->
                <fw-table-filter></fw-table-filter>

                <!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
                <!-- Opcionalmente se puede redefinir page-size -->
                <fw-table-pagination page-size="10"></fw-table-pagination>
                <!-- Por ultimo el renderizado de la tabla -->
                <fw-table></fw-table>
            </fw-table-container>
        </div>


    </div>

</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>