<div class="row">
	<div class="col-xs-12">

		<div class="row fila">
			<h4>BASICOS</h4>
			<div class="col-xs-3">
				<sa-sucursal-combo id="" ng-model="vm.sucursal" ng-click="vm.clickElement(1)">
				</sa-sucursal-combo>
			</div>
			<div class="col-xs-3">
				<sa-sucursal-combo-filtrado if-h3="true" ng-model="vm.data.sucursal" todas="true" ng-click="vm.clickElement(2)">
				</sa-sucursal-combo-filtrado>
			</div>

			<div class="col-xs-3">
				<sa-selector-servicio-medico ng-model="vm.servicioMedico" if-label="true" ng-click="vm.clickElement(3)">
				</sa-selector-servicio-medico>
			</div>

			<div class="col-xs-3">
				<sa-selector-recurso ng-model="vm.recurso" if-label="true" ng-click="vm.clickElement(4)">
				</sa-selector-recurso>
			</div>
		</div>

		<div class="row fila">
			<div class="col-xs-8 ">
				<label>Buscador/Selector Paciente</label>
				<sa-buscador-paciente ng-model="vm.data.paciente" buscador-nombre-apellido-if="true" ng-click="vm.clickElement(5)" selector-grande="true">
				</sa-buscador-paciente>
			</div>
			<div class="col-xs-4">

			</div>
		</div>

		<div class="row fila">

			<div class="col-xs-2">
				<label for="fechaDesdeName">Fecha DatePicker</label>
				<sa-date-picker name="fechaDesdeName" model="vm.fecha1" ng-click="vm.clickElement(6)">
				</sa-date-picker>
			</div>
			<div class="col-xs-2">
				<label for="datePickerDesde ">Fecha Datetimepicker</label>
				<sa-date-time-picker ng-model="vm.fecha2 " id="1" type="date" ng-click="vm.clickElement(7)">
				</sa-date-time-picker>
			</div>

			<div class="col-xs-4">
				
				<fw-drop-down-container icon="'MENU'" label="'Dropdown de opciones'" ng-click="vm.clickElement(9)">
					<fw-drop-down-set>
						<fw-drop-down-item
							ng-repeat="item in vm.dropdownOptions"
							color="'green'" 
							item="item"
							label-attribute="Nombre"
							status-attribute="Activado"
						    action="vm.changeItem(item)">
						</fw-drop-down-item>
					</fw-drop-down-set>
					<fw-drop-down></fw-drop-down>
				</fw-drop-down-container>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-6">
				<sa-new-mutual-selector model="vm.mutualElegida" labelCodigo="Código Mutual" labelNombre="NombreMutual" ng-click="vm.clickElement(8)"></sa-new-mutual-selector>
			</div>
		</div>

	</div>
</div>