<sa-title title-name="vm.title.name" title-icon="LIST" btn-new-click="vm.generarNuevoDefinitivo()"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">

        <form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaDesde">
                            <label class="control-label">Fecha desde</label>
                            <sa-date-time-picker ng-model="vm.fechaDesde" id="3" type="date" max="vm.fechaHasta" ng-change="vm.changeFechaDesde()" >
                            </sa-date-time-picker>  
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaHasta">
                            <label class="control-label">Fecha hasta</label>
                            <sa-date-time-picker ng-model="vm.fechaHasta" id="4" type="date" min="vm.fechaDesdeMin" max="vm.today">
                            </sa-date-time-picker>  
                    </div>

                    
                <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                     <label for="datePickerDesde ">Fecha desde</label>
                     <sa-date-picker model="vm.fechaDesde" max-date="vm.fechaHasta"></sa-date-picker>
                </div>
            
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
                    <label for="datePickerHasta ">Fecha hasta</label>
                    <sa-date-picker model="vm.fechaHasta" max-date="vm.fechaHoy" min-date="vm.fechaDesde"></sa-date-picker>
                </div> -->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Sucursal</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.sucursalElegida"
                        ng-options="sucursal.Nombre for sucursal in vm.sucursalLista track by sucursal.Id"
                        ng-change="vm.cambioSucursal()" sa-enter>
                        <option value="">TODAS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Servicio</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.servicioMedicoElegido"
                        ng-options="servicio.Nombre for servicio in vm.servicioLista track by servicio.Id"
                        ng-change="vm.cambioServicioMedico()" sa-enter>
                        <option value="">TODOS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Ámbito</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.ambitoElegida"
                        ng-options="ambito.Nombre for ambito in vm.ambitoLista track by ambito.Id"
                        ng-change="vm.cambioAmbito()" sa-enter>
                        <option value="">TODOS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
                    <label for="numeroDefinitivo">Nro Definitivo</label>
                    <input type="number" id="numeroDefinitivo" name="numeroDefinitivo" ng-model="vm.numeroDefinitivo"
                     min="0" max="99999999" sa-enter>
                </div>
            </div>
           <div class="row">      
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label for="numeroLote">Nro Lote</label>
                    <input type="number" id="numeroLote" name="numeroLote" ng-model="vm.numeroLote" min="0" max="99999999"
                        sa-enter>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group" sa-form-input>
                    <sa-new-mutual-selector model="vm.mutualElegida" codigo-mutual-edit="vm.CodigoFinanciador"
                        label-codigo="Código Mutual" labelNombre="NombreMutual" sa-enter>
                    </sa-new-mutual-selector>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Filtro Fecha</label>
                    <select class="form-control" ng-model="vm.tipoFechaDefinitivoElegido"
                        ng-options="tipoFecha.Nombre for tipoFecha in vm.tipoFechaDefinitivoLista track by tipoFecha.Id"
                        ng-change="vm.cambioFiltroFecha()" sa-enter>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>


                <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" sa-form-input>
                    <label for="usuario">Usuario</label>
                    <select class="form-control" id="usuariosJerarquia_selector" name="usuariosJerarquia_name" ng-model="vm.usuarioActual" ng-disabled="vm.loading"
                        ng-options="usuariosJerarquia as usuariosJerarquia.Nombre for usuariosJerarquia in vm.jerarquia track by usuariosJerarquia.Id">
                    </select>
                </div> -->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()"
                        sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()"
                        sa-punto-click="vm.limpiarFiltros()" sa-enter>Limpiar</button>
                </div>

            </div>
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
                <button type="button" sa-btn-ok class="btn-row btn-block" ng-disabled="vm.tieneSeleccionado()"
                    ng-click="vm.generarLote()" sa-punto-click="" sa-enter>Pasar seleccionados a lote</button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group" sa-form-input>
                <button type="button" sa-btn-ok class="btn-row btn-block" ng-click="vm.exportarDefinitivosExcel()"
                    sa-punto-click="" ng-disabled='!vm.definitivosLista.Rows.length' sa-enter>Exportar a Excel</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
                    <button type="button" sa-btn-ok class="btn-row btn-block" ng-disabled="vm.tieneSeleccionado()"
                    ng-click="vm.imprimirDefinitivosSeleccionados(vm.definitivosLista.Rows)" sa-punto-click="" sa-enter>Imprimir Definitivos</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
                <button type="button" sa-btn-ok class="btn-row btn-block" ng-disabled="vm.tieneSeleccionado()"
                ng-click="vm.imprimirLotesSeleccionados(vm.definitivosLista.Rows)" sa-punto-click="" sa-enter>Imprimir Lotes</button>
            </div>

        </div>

        </form>


        <div class="col-xs-12">
            <div class="row">

                <div class="col-xs-12">

                    <table class="table " id="internados_table" ng-show="vm.definitivosLista">
                        <thead>
                            <tr class="cabecera-tabla">
                                <th class="text-center">
                                    <label class="material-checkbox" uib-tooltip="Seleccionar Todos"
                                        uib-tooltip-placement="top">
                                        <input type="checkbox" ng-model="vm.seleccionarTodos"
                                            ng-change="vm.seleccionarTodosChange(vm.definitivosLista.Rows)">
                                        <span class="check-verde"></span>
                                    </label>
                                </th>
                                <th class="text-left">Número</th>
                                <th class="text-left">Fecha</th>
                                <th class="text-left">Fec. Recep.</th>
                                <th class="text-left">Ámbito</th>
                                <th class="text-left">Financiador</th>
                                <th class="text-left">Servicio</th>
                                <th class="text-left">Tipo Af.</th>
                                <th class="text-left">Usuario</th>
                                <th class="text-left">Estado</th>
                                <th class="text-left">Lote</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <!-- BODY   -->
                        <tbody ng-show="vm.definitivosLista" ng-repeat="definitivo in vm.definitivosLista.Rows"  >
                            <tr>
                                <td class="text-center">
                                    <label class="material-checkbox">
                                        <input type="checkbox" ng-model="definitivo.Seleccionado"
                                            ng-change="vm.seleccionarDefinitivo()" ng-disabled="definitivo.NombreEstado === 'Anulado'">
                                        <span class="check-verde"></span>
                                    </label>
                                </td>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.NroDefinitivoLegacy}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.Fecha | date:'dd/MM/yy HH:mm'}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.FechaRecepcion | date:'dd/MM/yy HH:mm'}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.Ambito}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.Financiador}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.Servicio}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.TipoAfiliado}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}" uib-tooltip="{{definitivo.UsuarioNombre}}" tooltip-placement="top" tooltip-append-to-body="true">
                                    {{ definitivo.Usuario}} </th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.NombreEstado}}</th>
                                <th ng-class = "{'color-rojo-definitivos' : definitivo.NombreEstado === 'Anulado'}">
                                    {{ definitivo.Lote}}</th>

                                <td class="col-xs-2 text-center">
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar Defintivo {{definitivo.NroDefinitivoLegacy}}"
                                        tooltip-placement="top" ng-click="vm.editarDefinitivo(definitivo)">
                                        <sa-icon name="EDIT"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Imprimir Definitivo {{definitivo.NroDefinitivoLegacy}}"
                                        tooltip-placement="top" ng-click="vm.imprimir(definitivo)">
                                        <sa-icon name="PRINT"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Anular Defintivo {{definitivo.NroDefinitivoLegacy}}"
                                        tooltip-placement="top" ng-click="vm.Anular(definitivo)">
                                        <sa-icon name="ANULAR"></sa-icon>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" uib-tooltip="Imprimir Lote  {{definitivo.Lote}}"
                                        tooltip-placement="top" ng-click="vm.imprimirLote(definitivo.Lote)" >
                                        <sa-icon name="PRINT"></sa-icon>
                                    </button>                                    
                                    <button type="button" class="btn btn-white btn-xs"
                                        uib-tooltip="Exportar a Excel Defintivo {{definitivo.NroDefinitivoLegacy}}" tooltip-placement="top"
                                        ng-click="vm.exportarItemsDefinitivoExcel(definitivo.Id)">
                                        <sa-icon name="EXCEL"></sa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
   
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>