<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-if="vm.data" >
	
	<table class="table table-fixed table-cursor-pointer" >
		<thead>
			<tr>
				<th class="col-xs-3 text-center">Servicio N°</th>
				<th class="col-xs-5 text-center">Nombre Servicio</th>
				<th class="col-xs-4 text-center">Sucursal</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in vm.data" ng-click="vm.rowClick(row)"  ng-class="{'color-rojo-pastel-prefactura': row.selected }">
				<td class="col-xs-3 text-center" ng-bind="row.IdServicio"></td>
				<td class="col-xs-5 text-center" ng-bind="row.Servicio" ></td>
				<td class="col-xs-4 text-center" ng-bind="row.Sucursal" ng-class="row.ColorSucursal"></td>
			</tr>
		</tbody>
	</table>
	
</div>
