<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formCuentas" accept-charset="utf-8" novalidate>
		
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 form-group" sa-form-input-validate>
					<label>Nombre</label>
					<input type="text" class="form-control" name="Nombre" ng-required="true" maxlength="100" ng-model="vm.cuenta.Nombre" sa-enter>
				</div>
			</div>
		</sa-modal-body>

		<sa-modal-footer>
			<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar(formSistema.$valid)">
			<!--<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" sa-punto-click="vm.formControl.guardar()"
			 ng-click="vm.formControl.guardar()" ng-disabled="formCuenta.$invalid || !vm.filter.cuenta" sa-enter>-->
		</sa-modal-footer>

	</form>
</div>
<sa-loading ng-if="vm.loading"></sa-loading>