<sa-modal-header loading="vm.loading" title-name="{{vm.title.name}}" title-icon="EDIT">
</sa-modal-header>

<sa-modal-body loading="vm.loading">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
			<sa-selector-internado internado="vm.internado" numero-internado="vm.numeroInternado" >
			</sa-selector-internado>
		</div>
	</div>
	<div class="row fila" ng-if="vm.internado">

	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.internado">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<h4>
						<label>
							<strong>Fecha Admisión: </strong>
						</label> {{vm.internado.FechaAdmision | date : 'dd/MM/yyyy'}} </h4>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<h4>
						<label>
							<strong>Fecha Alta Medica: </strong>
						</label> {{vm.internado.FechaAltaMedica | date : 'dd/MM/yyyy'}} </h4>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
					<div class="btn-row">
							<sa-check-box ng-model="vm.todosLosProductos" color="green" label-right="'Todos los productos'" ></sa-check-box>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>

	<div class="row" ng-if="vm.internado && !vm.todosLosProductos">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-10">
			<sa-buscador-dinamico-producto stockeable="vm.stockeable" borrar-datos="false">
			</sa-buscador-dinamico-producto>
		</div>

	</div>


	
	<div class="row" ng-if="vm.internado">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
			<label>% Medicamentos</label>
			<div class="input-group ">
				<span class="input-group-addon">%</span>
				<input type="number" class="form-control text-right no-valid" min="0" max="100"
					ng-model="vm.porcentajeMedicamentos" >
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
			<label>% Descartables</label>
			<div class="input-group ">
				<span class="input-group-addon">%</span>
				<input type="number" class="form-control text-right no-valid" min="0" max="100"
					ng-model="vm.porcentajeDescartables" >
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
			<label for="datePickerDesde ">Fecha Desde</label>
			<sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date" ng-change="vm.changeFechaDesde()">
			</sa-date-time-picker>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
			<label for="datePickerDesde ">Fecha Hasta</label>
			<sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date" min="vm.fechadesdeMin">
			</sa-date-time-picker>
		</div>

	</div>

</sa-modal-body>

<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading && formMedicPorcentaje.$invalid" ng-click="vm.cancel()">Cancelar</button>
	<button type="button" class="btn btn-success" ng-disabled="vm.loading" ng-click="vm.guardar()">Guardar</button>
</sa-modal-footer>