<div class="row">
	<div class="col-xs-12 " ng-if="vm.data">
		<div class="tableturnos table-responsive">
			<table class="table table-fixed table-cursor-pointer table-hover">
				<thead>
					<tr class="cabecera-tabla">

						<th class="col-xs-6">Producto</th>
						<th class="col-xs-6">
							<div class="col-xs-3" ng-if="vm.tipoAccion === 1 || vm.tipoAccion === 6">
								Stock Normal
							</div>
							<div class="col-xs-3">
								Stock Actual
							</div>
							<div class="col-xs-6 text-center">
								{{vm.titleColumn}}
							</div>
						</th>
					</tr>
				</thead>
				<tbody style="height: 195px !important;" class="bodyturnos">
					<tr ng-repeat="row in vm.data" context-menu="vm.menuOptions" class="rowturnos" context-menu="vm.menuOptions">

						<td class="col-xs-6">
							<strong>{{row.Nombre}}</strong>
							<br/> {{row.Presentacion}}</td>

						<td class="col-xs-6">
							<div class="col-xs-3" ng-bind="row.StockNormal" ng-if="vm.tipoAccion === 1 || vm.tipoAccion === 6">

							</div>
							<div class="col-xs-3" ng-bind="row.StockActual">

							</div>
							<div class="col-xs-6 text-center">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" ng-hide="" class="btn btn-white btn-xs" ng-disabled="" ng-click="vm.resta(row)">
											<sa-icon name="MINUS"></sa-icon>
										</button>
									</span>
									<input type="text" min="0" class="form-control input-sm" ng-model="row.cantidadAgregar" ng-disabled="true">
									<span class="input-group-btn">
										<button type="button" ng-hide="" class="btn btn-white btn-xs" ng-disabled="" ng-click="vm.suma(row)">
											<sa-icon name="NEW"></sa-icon>
										</button>
									</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</div>