<form name="formRequisito" novalidate>
    <sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
    </sa-modal-header>

    <sa-modal-body loading="vm.formControl.loading">
        <div class="row ">
            <!--Nombre-->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 form-group">
                <div sa-form-input-validate>
                    <label>Bateria</label>
                    <input type="text" name="nombrePlantillaTexto" ng-disabled="true" ng-model="vm.nombre" autofocus sa-enter>
                    <!-- Se coloca vm.bateriaEdit.Nombre debido a que "bateriEdit" lo captamos desde el  -->
                </div>
            </div>

            <!--Servicios-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input-validate>
                <label>Servicio Propietario</label>
                <select id="idServicio" name="servicio" ng-disabled="true" ng-model="vm.servicioElegidoPropietario" ng-options="servicio as servicio.Nombre for servicio in vm.serviciosPropietario" sa-enter>
                </select>
            </div>

            <!-- Profesional Propósito-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div sa-form-input-validate>
                    <label>Profesional Propietario</label>
                    <input type="text" name="profesionalPropietario" ng-disabled="true" ng-model="vm.profesionalPropietario" autofocus sa-enter>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Servicio Propietario-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" sa-form-input-validate>
                <!-- Se coloca validate para que el campo sea olbigado / Poner ng-required:"true" -->
                <label>Servicio Efector</label>
                <select id="idServicio" name="servicio" ng-model="vm.servicioElegidoEfector" ng-required="true" ng-options="servicio as servicio.Nombre for servicio in vm.serviciosEfector" ng-change="vm.changeServicioEfector()">
                </select>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8" sa-form-input-validate>
                <sa-prestacion-selector model="vm.prestacionElegida" ng-required="true" codigo-prestacion-edit="vm.itemBateriaEdit.IdPrestacionMedica" id-servicio="vm.servicioElegidoEfector ? vm.servicioElegidoEfector.Id : 0">
                </sa-prestacion-selector>
            </div>

        </div>

    </sa-modal-body>
    <sa-modal-footer>
        <input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
        <input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
    </sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>