<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formListaDimensionable" accept-charset="utf-8" novalidate>
		<sa-modal-header
			title-name="{{vm.title.name}}"
			title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group">
					<label class="label-control ">Código</label>
					<input type="text" class="form-control"
						ng-model="vm.filter.codigo"
						ng-change="vm.paginacion.pageChanged()"
						autofocus
						sa-enter>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 form-group">
					<label class="label-control ">Nombre</label>
					<input type="text" class="form-control"
						ng-model="vm.filter.nombre"
						ng-change="vm.paginacion.pageChanged()"
						sa-enter>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 form-group">
					<label class="label-control ">Descripción</label>
					<input type="text" class="form-control"
						ng-model="vm.filter.descripcion"
						ng-change="vm.paginacion.pageChanged()"
						autofocus
						sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" sa-form-input>
					<label>Tipo de Lista</label>
					<select id="tipoLista" name="cmbTipoLista" ng-model="vm.filter.listaElegida" ng-options="tipoLista.Nombre for tipoLista in vm.data.tiposLista track by tipoLista.Id" ng-change="vm.paginacion.pageChanged()"
					 sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <tr class="cabecera-tabla">
                                    <th class="text-center">Código</th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-left">Tipo de Lista</th>
                                    <th class="text-center">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lista in vm.filter.listas | orderBy: 'Id'" ng-dblclick="vm.formControl.listaSeleccion(lista, true)">
                                    <td class="text-center">{{lista.Id}}</td>
                                    <td class="text-left">{{lista.Nombre}}</td>
                                    <td class="text-left">{{lista.Descripcion}}</td>
                                    <td class="text-left">{{lista.NombreTipoLista}}</td>
                                    <td class="row text-center">
                                        <input type="radio" 
                                            name="lista"
                                            ng-click="vm.formControl.listaSeleccion(lista, false)" 
                                            ng-checked="lista.Seleccionado" 
                                            sa-enter
                                            sa-punto-click="vm.formControl.listaSeleccion(lista, false)"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<div uib-pagination
							boundary-links="true"
							max-size="9"
							items-per-page="vm.paginacion.pageSize"
							total-items="vm.paginacion.totalItems"
							ng-model="vm.paginacion.currentPage"
							ng-change="vm.paginacion.pageChanged()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</div>
					</div>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit"
				class="btn"
				value="Cancelar"
				sa-enter
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Aceptar"
				class="btn btn-default"
				sa-punto-click="vm.formControl.guardar(formListaDimensionable.$valid)"
				ng-click="vm.formControl.guardar(formListaDimensionable.$valid)"
				sa-enter>
		</sa-modal-footer>
	</form>
</div>