<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
		<label for="">Tipo Entidad</label>
		<select class="form-control" 
            name="tipoEntidad" ng-model="vm.tipoEntidadElegida"
            ng-options="tiposEntidad as tiposEntidad.Nombre for tiposEntidad in vm.tiposEntidad"
            ng-change= "vm.cambioTipoEntidad()" ng-disabled='!vm.editable'
            sa-enter autofocus>
		</select>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group">
		<label class="label-control">{{vm.tipoEntidadElegida.DescripcionCodigo}}</label>
		<div class="input-group">
			<input type="text" class="form-control"
				ng-blur="vm.busquedaRapidaEntidad()"
				ng-change= "vm.cambioCodigoEntidad()"
				ng-model="vm.codigo"
				ng-disabled='!vm.editable'
				sa-enter>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
                    uib-tooltip="Buscar entidad"
                    tooltip-placement="top"
                    ng-click="vm.searchEntidades()"
                    sa-punto-click="vm.searchEntidades()"
                    ng-disabled='vm.tipoEntidadElegida.UsaBusquedaGenerica || !vm.editable' sa-enter>
                    <span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-7 form-group">
		<label class="">Nombre</label>
		<input type="text" class="form-control"
			ng-model="vm.nombre"
			ng-disabled="true"
			sa-enter>
	</div>
</div>