<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<h2>
			<sa-icon name="LIST"></sa-icon>
			<span ng-bind-html="vm.title.name | saToHtml"></span>
		</h2>

		<!-- <sa-title title-name="vm.title.name" title-icon="LIST" btn-reload-click="vm.recargar()"
			btn-reload-disabled="vm.loading"></sa-title> -->

		<div class="row fila" style="padding-bottom: 0px;">

			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-4" >
						<div class="row">
							<div class="col-xs-12" ng-if="vm.fecha">
								<label for="datePickerDesde ">Fecha</label>
								<sa-date-time-picker ng-model="vm.fecha" id="1" type="date"
									ng-change="vm.changeFecha(); vm.esFechaFeriado();"></sa-date-time-picker>
							</div>
							<div class="col-xs-12" ng-if="vm.esDiaFeriado">
								<h4 class="color-danger" ng-if="vm.esDiaFeriado.DiaCompleto">Atención, el día
									seleccionado es
									FERIADO</h4>
								<h4 class="color-warning" ng-if="!vm.esDiaFeriado.DiaCompleto">Atención, el día
									seleccionado es
									FERIADO PARCIAL</h4>
							</div>

						</div>
					</div>


					<div class="col-xs-8">

						<div class="row">
							<div class="col-xs-12">
								<label class="material-checkbox">
									<input type="checkbox" ng-model="vm.fechaAsignacionCheck"
										ng-change="vm.buscar(); vm.setVistaColumnas(vm.fechaAsignacionCheck);">
									<span class="check-verde">Fecha Asignación / Dias Demora</span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<label class="material-checkbox">
									<input type="checkbox" ng-model="vm.situacionConfirmacionCheck"
										ng-change="vm.buscar(); vm.setVistaColumnas(vm.situacionConfirmacionCheck);">
									<span class="check-verde">Sit. Confirmación de turnos</span>
								</label>
							</div>
						</div>



						<div class="row">
							<div class="col-xs-12">
								<label class="material-checkbox">
									<input type="checkbox" ng-model="vm.mutualRecepcionCheck" ng-change="vm.buscar();">
									<span class="check-verde">Ver Mutual Recepción</span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<label for=""><strong ng-if="vm.consultorio.Id">{{vm.consultorio.Nombre}} <label for=""
											ng-if="vm.consultorio.IdSala">({{vm.consultorio.NombreSala}})</label>
									</strong>
									<strong ng-if="!vm.consultorio.Id">No hay un consultorio
										seleccionado</strong></label>
								<button type="button" class="btn btn-warning" ng-click="vm.editarConsultorio()"
									uib-tooltip="Editar consultorio" uib-tooltip-placement="bottom">
									<sa-icon name="EDIT"></sa-icon>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-xs-2" >

				<div class="row">
					<div class="col-xs-12">
						<button type="button" class="btn color-rojo-turno btn-block"
							ng-click="vm.buscarHistoriaClinica()" ng-hide="vm.ENV.NAME == 'production'">
							Buscar Historia Clinica
						</button>
					</div>
					<div class="col-xs-12">
						<button type="button" class="btn btn-warning btn-block" ng-click="vm.verAgendaMedico()">
							Ver Agenda Medica
						</button>
					</div>

					<div class="col-xs-12">
						<button type="button" class="btn btn-warning btn-block" ng-click="vm.verCalendarioRecurso()">
							Calendario Recurso
						</button>
					</div>
					<div class="col-xs-12">
						<sa-check-box ng-model="vm.obtenerCancelados" color="green"
							label-right="'Incluir Turnos Cancelados'" pull-right="true"
							ng-change="vm.changeIncluirTurnosCancelados()" style="margin-bottom: 0px;">
						</sa-check-box>
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="row">
					<div class="col-xs-10 "
						ng-if="vm.relacionesSucServJefeList && vm.relacionesSucServJefeList.length > 1">
						<label for="sucursal">Sucursal/Servicio</label>
						<select class="form-control ng-valid" id="sucursal_servicio"
							ng-model="vm.relacionSucursalServicioJefe" ng-change="vm.cambiarSucursalServicioSelect()"
							ng-options="relacion as (relacion.Sucursal + ' | ' + relacion.Servicio) for relacion in vm.relacionesSucServJefeList">
						</select>
					</div>


				</div>
				<div class="row">
					<div class="col-xs-10 " ng-if="vm.agendasVisualizables && vm.agendasVisualizables.length">
						<label for="sucursal">Agendas Visualizables</label>
						<select class="form-control ng-valid" ng-model="vm.agendaVisualizada"
							ng-change="vm.changeAgendaVisualizable()"
							ng-options="agenda as agenda.Recurso for agenda in vm.agendasVisualizables">
						</select>
					</div>

				</div>
			</div>


		</div>

		<!-- ROW TABLA -->
		<div class="row" ng-if="vm.turnosPorRecurso && vm.turnosPorRecurso.length">

			<!-- tabla general-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<div class="tableturnos table-responsive">

					<table class="table table-fixed table-cursor-pointer table-hover">
						<thead>
							<tr class="cabecera-tabla" style="padding-right: 16px !important;">
								<th class="col-xs-1">
									<div class="row">
										<div class="col-xs-6">
											Hora
										</div>
										<div class="col-xs-6">
											ST
										</div>
									</div>
								</th>
								<th class="col-xs-1">Estado</th>
								<th class="col-xs-1">
									<div class="row">

										<div class="col-xs-6">
											Cob.
										</div>
										<div class="col-xs-6">
											Aut.
										</div>

									</div>
								</th>
								<th class="" ng-class="{1:'col-xs-2', 2:'col-xs-1', 3:'col-xs-1'}[vm.columnasNumber]">
									<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; "
										ng-show="vm.turnosPorRecurso">
										<input class="text-capitalize" type="text" name="buscar_paciente"
											placeholder="Nombr. Paciente | DNI" ng-model="vm.filterBuscarPaciente"
											ng-model-options="{debounce:500}" ng-change="vm.changeFilterPaciente()"
											autocomplete="off" minlength="2">
									</div>
									<div ng-show="!vm.turnosPorRecurso">
										Paciente
									</div>
								</th>
								<th class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-2'}[vm.columnasNumber]"
									ng-if="!vm.mutualRecepcionCheck">Cobertura</th>
								<th class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-2'}[vm.columnasNumber]"
									ng-if="vm.mutualRecepcionCheck">Cobertura
									Recep.</th>

								<th class="" ng-class="{1:'col-xs-1', 2:'col-xs-1', 3:'col-xs-1'}[vm.columnasNumber]">
									Tipo Turno</th>
								<th class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-1'}[vm.columnasNumber]">
									Prestaciones</th>

								<th class="col-xs-2">
									<div class="row" style="margin-right: -5px !important;">
										<div class="col-xs-4">
											Hora Llam
										</div>
										<div class="col-xs-4">
											Hora Recep.
										</div>
										<div class="col-xs-4">
											Espera
										</div>
									</div>
								</th>

								<th class="col-xs-1" ng-if="vm.fechaAsignacionCheck">
									<div class="row">
										<div class="col-xs-6">
											Asign.
										</div>
										<div class="col-xs-6">
											Días Demora
										</div>
									</div>


								</th>


								<th class="col-xs-1" ng-if="vm.situacionConfirmacionCheck">Confir. Turno</th>

							</tr>
						</thead>
						<tbody style="height: 330px !important; overflow-x: hidden;" class="bodyturnos"
							ng-if="vm.turnosPorRecurso">
							<tr ng-repeat="row in vm.turnosPorRecurso" context-menu="vm.menuOptions"
								ng-class="{'color-aquaorange-turno': row.selected }" class="rowturnos">
								<td class="col-xs-1">
									<div class="row">
										<div class="col-xs-6"
											ng-class="{'color-turno-duracion-multiple' : row.Duracion.length > 0}">
											{{row.Hora}}
										</div>
										<div class="col-xs-6">
											{{row.ST}}
										</div>
									</div>
								</td>
								<td class="col-xs-1" ng-bind="row.Estado" ng-class="row.EstadoColor"></td>
								<td class="col-xs-1 text-center">
									<div class="row">

										<div class="col-xs-6" uib-tooltip="{{vm.getInfoEstadoCobranza(row)}}"
											uib-tooltip-placement="bottom">
											<button type="button" id="icon_cobrado" class="btn btn-white "
												ng-if="row.IdEstadoCobranzaCaja == 0" style=" color: green; ">
												-
											</button>
											<button type="button" id="icon_financiador" class="btn btn-white"
												ng-if="row.IdEstadoCobranzaCaja == 1" style=" color: green; ">
												<sa-icon name="CHECK-FA"></sa-icon>
											</button>
											<button type="button" id="icon_pendiente" class="btn btn-white "
												ng-if="row.IdEstadoCobranzaCaja == 2" style=" color: red; ">
												<sa-icon name="PESOS"></sa-icon>
											</button>
											<button type="button" id="icon_cobrado" class="btn btn-white "
												ng-if="row.IdEstadoCobranzaCaja == 3" style=" color: green; ">
												<sa-icon name="PESOS"></sa-icon>
											</button>
											<button type="button" id="icon_enviado" class="btn btn-white "
												ng-if="row.IdEstadoCobranzaCaja == 4"
												style=" color: rgb(180, 170, 20); ">
												<sa-icon name="PESOS"></sa-icon>
											</button>
											<button type="button" id="icon_cobradocaja" class="btn btn-white "
												ng-if="row.IdEstadoCobranzaCaja == 5" style=" color: blue; ">
												<sa-icon name="PESOS"></sa-icon>
											</button>
										</div>
										<div class="col-xs-6" uib-tooltip="{{vm.getInfoEstadoAutorizacion(row)}}"
											uib-tooltip-placement="bottom">
											<button type="button" id="icon_financiador" class="btn btn-white"
												ng-if="row.IdEstadoAutorizacion == 1" style=" color: green; ">
												<sa-icon name="CIRCLE"></sa-icon>
											</button>
											<button type="button" id="icon_pendiente" class="btn btn-white "
												ng-if="row.IdEstadoAutorizacion == 2" style=" color: red; ">
												<sa-icon name="CIRCLE"></sa-icon>
											</button>
											<button type="button" id="icon_cobrado" class="btn btn-white "
												ng-if="row.IdEstadoAutorizacion == 0" style=" color: green; ">
												-
											</button>
										</div>

									</div>
								</td>
								<td class="" ng-bind="row.Paciente" uib-tooltip="Documento: {{row.NumeroDocumento}} "
									ng-class="{1:'col-xs-2', 2:'col-xs-1', 3:'col-xs-1'}[vm.columnasNumber]"
									uib-tooltip-placement="bottom" ng-if="row.IdTipoPaciente != 2"></td>
								<td class=" color-pacientes-vip" ng-bind="row.Paciente"
									uib-tooltip="Doc: {{row.NumeroDocumento}} - Paciente VIP"
									ng-class="{1:'col-xs-2', 2:'col-xs-1', 3:'col-xs-1'}[vm.columnasNumber]"
									uib-tooltip-placement="bottom" ng-if="row.IdTipoPaciente == 2"></td>

								<td class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-2'}[vm.columnasNumber]"
									uib-tooltip="{{row.MutualYPlan}}"
									ng-if="row.MutualYPlan.length >= 3 && !vm.mutualRecepcionCheck">
									{{row.MutualYPlan | limitTo: 20}}...</td>
								<td class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-2'}[vm.columnasNumber]"
									ng-if="row.MutualYPlan.length < 2  && !vm.mutualRecepcionCheck"
									ng-bind="row.MutualYPlan"></td>

								<td class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-1'}[vm.columnasNumber]"
									uib-tooltip="{{row.MutualYPlanFacturado}}"
									ng-if="row.MutualYPlanFacturado.length >= 3 && vm.mutualRecepcionCheck">{{row.MutualYPlanFacturado | limitTo:
									20}}...</td>
								<td class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-1'}[vm.columnasNumber]"
									ng-if="row.MutualYPlanFacturado.length < 2 && vm.mutualRecepcionCheck"
									ng-bind="row.MutualYPlanFacturado"></td>

								<td class="" ng-class="{1:'col-xs-1', 2:'col-xs-1', 3:'col-xs-1'}[vm.columnasNumber]"
									ng-bind="row.TipoTurno"></td>

								<td class="" ng-class="{1:'col-xs-2', 2:'col-xs-2', 3:'col-xs-1' }[vm.columnasNumber]"
									ng-bind="row.Prestaciones"></td>


								<td class="col-xs-2">
									<div class="row" style="margin-right: -5px !important;">
										<div class="col-xs-4">
											{{row.FechaLlamada}}
											<span style=" color: red; " ng-if="row.VolverALlamar"
												uib-tooltip="Volver a llamar" uib-tooltip-placement="bottom">
												<sa-icon name="PHONE"></sa-icon>
											</span>
										</div>
										<div class="col-xs-4">
											{{row.HoraRecepcion}}
										</div>
										<div class="col-xs-4">
											{{row.DemoraEnSala}}
										</div>
									</div>
								</td>


								<td class="col-xs-1" ng-if="vm.fechaAsignacionCheck">
									<div class="row">
										<div class="col-xs-6">
											{{row.FechaAsignacion | date: 'dd/MM/yy'}}
										</div>
										<div class="col-xs-6">
											{{row.DiasDemora}}
										</div>
									</div>
								</td>


								<td class="col-xs-1" ng-if="vm.situacionConfirmacionCheck">{{row.EstadoConfirmacion}}
								</td>


							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>

	</div>
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>