<div class="row-fila">
	<div class="col-xs-12">
		<h4>CLASES Y COLORES</h4>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

				<table class="table table-fixed">
					<thead>
						<tr>
							<th class="col-xs-12">Clase</th>
						</tr>
					</thead>
					<tbody style="height: 150px;">
						<tr>
							<td class="col-xs-12" ng-click="">
								<div class="panel panel-default">
									<div class="panel-body color-celeste-sucursales">
										'color-celeste-sucursales' (nueva cordoba)
									</div>
									<div class="panel-body color-verde-sucursales">
										'color-verde-sucursales' (cerro)
									</div>
									<div class="panel-body color-verde">
										'color-verde'
									</div>
									<div class="panel-body color-naranja">
										'color-naranja'
									</div>
									<div class="panel-body color-amarillo">
										'color-amarillo'
									</div>
									<div class="panel-body color-rojo">
										'color-rojo'
									</div>
									<div class="panel-body color-gris">
										'color-gris'
									</div>
									<div class="panel-body color-negro">
										'color-negro'
									</div>
									<div class="panel-body color-azul">
										'color-azul'
									</div>
									<div class="panel-body color-violeta">
										'color-violeta'
									</div>
									<div class="panel-body solicitud-creado">
										'solicitud-creado'
									</div>
									<div class="panel-body solicitud-progreso">
										'solicitud-progreso'
									</div>
									<div class="panel-body solicitud-cirugia">
										'solicitud-cirugia'
									</div>
									<div class="panel-body solicitud-anulado">
										'solicitud-anulado'
									</div>
									<div class="panel-body solicitud-postergado">
										'solicitud-postergado'
									</div>
									<div class="panel-body solicitud-faltante">
										'solicitud-faltante'
									</div>
									<div class="panel-body color-danger">
										'color-danger'
									</div>

									<div class="panel-body color-info">
										'color-info'
									</div>
									<div class="panel-body color-warning">
										'color-warning'
									</div>
									<div class="panel-body color-success">
										'color-success'
									</div>
									<div class="panel-body color-verde-turno">
										'color-verde-turno'
									</div>
									<div class="panel-body color-celeste-turno">
										'color-celeste-turno'
									</div>
									<div class="panel-body color-rojo-turno">
										'color-rojo-turno'
									</div>
									<div class="panel-body color-blanco-turno">
										'color-blanco-turno'
									</div>
									<div class="panel-body color-amarillo-turno">
										'color-amarillo-turno'
									</div>


									<div class="panel-body color-gris-turno">
										'color-gris-turno'
									</div>
									<div class="panel-body color-aquaorange-turno">
										'color-aquaorange-turno'
									</div>
									<div class="panel-body color-turno-duracion-multiple">
										'color-turno-duracion-multiple'
									</div>
									<div class="panel-body color-rojo-pastel-prefactura">
										'color-rojo-pastel-prefactura'
									</div>
									<div class="panel-body color-verde-pastel-prefactura">
										'color-verde-pastel-prefactura'
									</div>
									<div class="panel-body color-blanco-pastel-prefactura">
										'color-blanco-pastel-prefactura'
									</div>
									<div class="panel-body color-verde-autorizacion">
										'color-verde-autorizacion'
									</div>
									<div class="panel-body color-rojo-autorizacion">
										'color-rojo-autorizacion'
									</div>
									<div class="panel-body color-amarillo-autorizacion">
										'color-amarillo-autorizacion'
									</div>
									<div class="panel-body color-naranja-autorizacion">
										'color-naranja-autorizacion'
									</div>
									<div class="panel-body color-pacientes-vip">
										'color-pacientes-vip'
									</div>
									<div class="panel-body turnos-Atendido-color">
										'turnos-Atendido-color'
									</div>
									<div class="panel-body color-lila">
										'color-lila'
									</div>
									<div class="panel-body color-rosa">
										'color-rosa'
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>