<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Cambiar Producto</h4>
	</div>
	<div class="modal-body">
		<div class="row" >
			<div class= "col-xs-12">
				<!-- <input 	name="producto" 
					id="producto" type="text" 
					placeholder="Nuevo producto..." 
					ng-model="formData.producto"
					uib-typeahead="producto as (producto.Nombre +' * '+ producto.Presentacion + ' | Stock: ' + producto.Stock) for producto in data.materiales | filter:$viewValue | limitTo:200" 
					class="form-control"
					typeahead-on-select="formControl.productoSeleccionado()"
					ng-change="formControl.productoSeleccionado()"
					typeahead-select-on-exact="true"> -->
					<div class="row">
						<!-- El ng-if va para no cargar la tabla sin datos -->
						<div class="col-xs-12" ng-if="data.materiales">
					
							<fw-table-container>
								<fw-table-config sortable="true" paginable="true" filtrable="true">
									<!-- exportable="false" sortable="false" filtrable="false" paginable="true" column-config="false" -->
								</fw-table-config>
					
								<!-- COLUMNAS (*) [Requerido] -->
								<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
								<fw-table-columnset>					
									<fw-table-column field="'Nombre'">
									</fw-table-column>
									<fw-table-column field="'Presentacion'">
									</fw-table-column>
									<fw-table-column field="'Stock'">
									</fw-table-column>
								</fw-table-columnset>
					
								<!-- DATOS DE LA TABLA (*) [Requerido] -->
								<fw-table-rowset data="data.materiales" click-action="formControl.productoSeleccionado(row)"></fw-table-rowset>
								<fw-table-sorting></fw-table-sorting>
								<fw-table-filter></fw-table-filter>
								<fw-table-pagination page-size="10"></fw-table-pagination>
								<fw-table></fw-table>
							</fw-table-container>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<!-- <button type="button"
			class="btn btn-default"
			ng-disabled=" formControl.loading || !formControl.productoCargado"
			ng-click="formControl.ok()">Aceptar</button> -->
		<button type="button"
			class="btn btn-cancelar"
			ng-click="formControl.cancel()">Cancelar</button>
	</div>
</form>