
<sa-loading ng-if="formControl.loading"></sa-loading>
<div id="print-content" class="container-print" ng-hide="formControl.loading"  >
	<div class="page"  ng-repeat="internado in data.internacionesPrint">
		<div class="modal-header ">
			<div class="row" >
				<div class="col-xs-3" >
					<sa-logo></sa-logo>
				</div>
				<div class="col-xs-12 text-center">
					<h4>Informe por internado</h4>
				</div>
			</div>
		</div> 
		<div class="modal-body" ng-hide="formControl.vacio">
			<!-- <div class="row fila fila-print"> -->
			<div class="row fila-print">
				<div class="col-xs-6">
					<H5 class="text-left">Piso: {{data.ubicacion.nombre_ubicacion_piso}}</H5>
				</div>
				<div class="col-xs-6">
					<H5 class="text-right"> Fecha/Hora: {{data.fecha_hora | date:"dd/MM/yyyy HH:mm"}}</H5>
				</div>				
			</div> 
			<div class="row">
				<div class="col-xs-6">
					<H5 class="text-left" > Internado:  {{internado.NumeroInternado}},  {{internado.NombrePaciente}} </H5>
				</div>
				<div class="col-xs-6">
					<h5 class="text-right" > Habitacion: {{internado.NumeroHabitacion}} - Cama: {{internado.NumeroCama}} </h5>
				</div>							
			</div>
			<div class="row">
				<div class="col-xs-8">
					<H5 class="text-left" > Mutual:  {{internado.NombreMutual}} - Nro Afiliado:  {{internado.NumeroAfiliado}}</H5>
				</div>
				<div class="col-xs-4">
					<h5 class="text-right" > Fecha Ingreso: {{internado.FechaAdmision | date:"dd/MM/yyyy HH:mm"}}</h5>
				</div>				
			</div>
			<div class="row fila-print">
				<div class="col-xs-8">
					<h5 class="text-left" > Diagnóstico: {{internado.Diagnostico}} </h5>
				</div>
				<div class="col-xs-4" ng-if="internado.fecha_alta_enfermeria != null">
					<h5 class="text-left" > INTERNADO CON ALTA </h5>
				</div>	
				<br><br>
			</div>
			<div class="fila" ng-show="internado.hayDosificaciones">
				<h5 class="text-left">Dosificaciones</h5>
				<table class="table-fina table" >
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Descripción</th>
							<th class="text-left">Presentación</th>
							<th class="text-left">Via</th>
							<th class="text-left">Dosis</th>
							<th class="text-left">Cada</th>
							<th class="text-center">Duplica</th>
							<th class="text-center">Cantidad</th>
							<th class="text-center">Estado</th>
							<!-- <th class="text-left">Fecha / Hora</th> -->
							<!-- <th class="text-left">Usuario</th> -->
							<!-- <th class="text-center">Movimiento</th> -->
						</tr>
					</thead>
 
					<tbody>
						<tr ng-repeat="detalle in internado.Dosificaciones track by $index">
							<td class="text-left">{{ detalle.numero_articulo }}</td>
							<td class="text-left">{{ detalle.nombre }}</td>
							<td class="text-left">{{ detalle.presentacion }}</td>
							<td class="text-left">{{ detalle.via }}</td>
							<td class="text-left">{{ detalle.dosis_calculado }}</td>
							<td class="text-left">{{ detalle.cada_calculado }}</td>
							<td class="text-center">{{ detalle.duplica }}</td>
							<td class="text-center">{{ detalle.cantidad_cargada }}</td>
							<td ng-if="detalle.Estado.id_estado == 100" class="text-center">{{ detalle.Estado.nombre_estado }}</td>
						</tr>
					</tbody>
				</table> 
			</div>
			<div ng-show="internado.hayAgregados">
				<h5 class="text-left" > Agregados </h5>
				<table class="table-fina table" >
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Descripción</th>
							<th class="text-left">Presentación</th>
							<th class="text-left">Unidad</th>
							<th class="text-center">Cantidad</th>
							<th class="text-center">Estado</th>
							<!-- <th class="text-left">Fecha / Hora</th> -->
							<!-- <th class="text-left">Usuario</th> -->
							<!-- <th class="text-center">Movimiento</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detalle in internado.Agregados">
							<td class="text-left">{{ detalle.numero_articulo }}</td>
							<td class="text-left">{{ detalle.nombre }}</td>
							<td class="text-left">{{ detalle.presentacion }}</td>
							<td class="text-left">{{ detalle.unidad }}</td>
							<td class="text-center">{{ detalle.cantidad_cargada }}</td>
							<td ng-if="detalle.Estado.id_estado == 100" class="text-center">{{ detalle.Estado.nombre_estado }}</td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
		<div class="col-xs-12 text-center" ng-hide="!formControl.vacio" >
			<label  >No hay productos pendientes</label>
		</div>
		<div class="modal-footer" >
		</div>
	</div>
</div>
