
<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Detalle Entrega de {{data.ubicacion.nombre_ubicacion_piso}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 btn-row">
				<div class="form-group">
					<label class="label-control">Entregar a:</label>
					<div class="input-group">
						<input 	type="text" class="form-control"
								ng-model="data.usuarioRetira.userCompleteName"
								ng-disabled="true">
						<span class="input-group-btn">
							<button class="btn btn-default btn-loading" 
									uib-tooltip="Registrar" 
									tooltip-placement="top" 
									ng-click ="formControl.registrarRetira()"
									sa-punto-click ="formControl.registrarRetira()"
									sa-enter>
								<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
				<span class="btn-group btn-group-sm pull-right">
					<button id="print" type="button" 
							class="btn btn-default "
							uib-tooltip="Imprimir" 
							uib-tooltip-placement="top"
							ng-click="formControl.print()">
						<sa-icon name="PRINT"></sa-icon>
					</button>
				</span>
				<!-- <H5 >Piso: {{data.ubicacion.nombre_ubicacion_piso}}</H5> -->
			</div>

			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" >
					<thead>
						<tr>
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="thead-azul">
						<tr class="cabecera-tabla">
							<th class="text-left">Nombre</th>
							<th class="text-left">Documento</th>
						</tr>
					</thead>
					<tbody ng-hide="formControl.loading" ng-repeat="paciente in data.pacientesCargados">
						<tr ng-click="formControl.verProductos([$index])">
							<td ng-class="paciente.color" class="row text-left">{{ paciente.Nombre }}</td>
							<td class="row text-left">{{ paciente.TipoDocumento }}  {{paciente.NumeroDocumento}}</td>
						</tr>
						<tr ng-hide="!paciente.verProductos" >
							<td colspan="7">
								<div class="span9">
									<div class="col-md-11">
										<!-- Second Layer -->
										<table class="table table-hover table-condensed table-striped">
											<thead class="levelTwo">
												<tr></tr>
												<tr class="cabecera-tabla-celeste">
												 	<th>Codigo</th>
													<th>Descripcion</th>
													<th>Presentacion</th>
													<th>Cantidad</th>
													<!-- <th>Estado</th> -->
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="producto in paciente.Productos track by $index">
													<td ng-bind="producto.Material.NumeroArticulo"></td>
													<td ng-bind="producto.Material.Nombre"></td>
													<td ng-bind="producto.Material.Presentacion"></td>
													<td ng-bind="producto.Cantidad"></td>
													<!-- <td ng-if="producto.Estado.id_estado == 100" ng-bind="producto.Estado.nombre_estado"></td> -->
												</tr>
											</tbody>
										</table>
										<!-- End Second Layer -->

									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<sa-loading ng-if="formControl.loading"></sa-loading>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<button type="button"
			class="btn btn-default"
			ng-disabled=" formControl.loading"
			ng-click="formControl.ok()">Aceptar</button>
		<button type="button"
			class="btn btn-cancelar"
			ng-disabled=""
			ng-click="formControl.cancel()">Cancelar</button>
	</div>
</form>
