<div class="row">
<!-- 	<h4>Busqueda</h4>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " id="ubicacion">
		<label for="cmb_tipo_documento" id="internado_label">Internado: </label>
		<input name="internado" 
				id="internado" type="text"
				placeholder="Buscar por internado..." 
				ng-model="formData.internacion"
				uib-typeahead="internacion as (internacion.numero_internado +' | '+ internacion.nombre_paciente) for internacion in data.internaciones | filter:$viewValue | limitTo:8" 
				class="form-control"
				typeahead-on-select="formControl.internacionChanged()"
				ng-change="formControl.internacionChanged()"
				typeahead-select-on-exact="true">
	</div> -->
	<sa-busqueda-internado
		ng-model="formData.internacion"
		ng-change="internacionChanged()"
		clean = "limpiar()"
		nombre-if="true"
		documento-if = "true"
		fecha-alta-if= "false"
		fecha-ingreso-if="false">
	</sa-busqueda-internado>
</div>
<div class="text-left" ng-if="filter.internadoSeleccionado != null">
	<label class="text-left" > Mutual:  {{filter.internadoSeleccionado.NombreMutual}} - Nro Afiliado:  {{filter.internadoSeleccionado.NumeroAfiliado}} - Fecha Ingreso: {{filter.internadoSeleccionado.FechaAdmision | date:"dd/MM/yyyy"}} - Fecha Alta: {{filter.fechaAltaMedica}} - Diagnóstico: {{filter.internadoSeleccionado.Diagnostico}}</label >	
</div>
<div class="row fila">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="ubicacion">
		<label for="internado_select">Internados con pendientes</label>
		<div class="input-group">
			<select id="internado_select" class="form-control"
				ng-model="formData.internacion"
				ng-change=""
				ng-options="(internado.NumeroInternado +' || ' +internado.NombrePaciente +' || Habitacion:' + internado.NumeroHabitacion + ' Cama: ' + internado.NumeroCama)
				for internado in data.internacionesPendientes 
				track by internado.numero_internado" 
				required >
				<option value="">Seleccionar</option>
			</select>
			<span class="input-group-btn">
				<button id="recargar_button" type="button" 
						class="btn btn-default"
						uib-tooltip="Recargar" 
						uib-tooltip-placement="top"
						ng-click="getInternacionesPendientes()">
					<sa-icon name="REPEAT"></sa-icon>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" ng-hide="!formControl.internacionCargada">
		<span class="btn-group pull-right">
			<button id="control_button" class="btn btn-default btn-row" type="button"
					ng-click="viewFacturado()" uib-tooltip="Ver Facturado" 
						uib-tooltip-placement="top" ng-disabled="formControl.enfermeria">
					Facturado
			</button>
			<button id="control_button" class="btn btn-default btn-row" type="button"
					ng-click="guardar()" uib-tooltip="Guardar" 
					uib-tooltip-placement="top" ng-disabled="!formControl.hayCambios || formControl.enfermeria">
					Guardar
			</button>
			<button id="control_button" class="btn btn-default btn-row" type="button"
					ng-click="internacionChanged()" uib-tooltip="Limpiar" 
						uib-tooltip-placement="top">
					<sa-icon name="REPEAT"></sa-icon>
			</button>
		</span>
	</div>
</div>	

<div class="row fila" ng-hide="!formControl.internacionCargada || !formControl.hayDosificaciones">
	<div class="col-xs-12" >
		<h4>Dosificaciones</h4>
		<table class="table table-hover" id="dosificaciones_table" ng-hide="formControl.loading ">
			<thead>
				<tr >
					<th colspan="3" class="text-center"></th>
				</tr>
				<!-- <tr class="thead-azul"> -->
				<tr class="cabecera-tabla">
					<th class="text-left">Codigo</th>
					<th class="text-left">Descripcion</th>
					<th class="text-left">Presentacion</th>
					<th class="text-left">Fecha/Hora</th>
					<th class="text-left">Estado</th>
				</tr>
			</thead>
			<tbody  ng-repeat="pedido in data.dosificaciones" >
				<tr>
					<th ng-click="verTomas(pedido)" class="row text-left">{{ pedido.Material.numero_articulo }}</th>
					<th ng-click="verTomas(pedido)" class="row text-left">{{ pedido.Material.nombre }}</th>
					<th ng-click="verTomas(pedido)" class="row text-left">{{ pedido.Material.presentacion }}</th>
					<td	ng-click="verTomas(pedido)" class="row text-left">{{ pedido.Fecha | date:"dd/MM/yyyy HH:mm"}}</td>
					<td	ng-click="verTomas(pedido)" class="row text-left" ng-class="pedido.Color">{{ pedido.Estado}}</td>
				</tr>
				<tr ng-hide="!pedido.verTomas" >
					<td colspan="7">
						<div class="span9">
							<div class="col-md-11">
								<!-- Second Layer -->
								<table class="table table-hover table-condensed table-striped">
									<thead class="levelTwo">
										<tr></tr>
										<tr class="cabecera-tabla-celeste">
											<th>Fecha Programada</th>
											<th>Fecha Toma</th>
											<th>Enfermera</th>
											<th>Estado</th>
										 	<th>Cantidad</th>
											<th class="text-center">Facturacion</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="toma in pedido.Detalles">
											<td >{{ toma.FechaProgramada | date:"dd/MM/yyyy HH:mm"}}</td>
											<td >{{ toma.Fecha | date:"dd/MM/yyyy HH:mm"}}</td>
											<td ng-bind="toma.NombreEnfermera"></td>
											<td ng-class="toma.Color" ng-bind="toma.Estado"></td>
											<td ng-bind="toma.CantidadEntregada"></td>
											<td  class="row text-center">
												<button type="button" 
														id="facturar_button"
														ng-hide="toma.facturado || toma.devuelto || toma.newFacturacion || toma.newDevolucion"
														ng-disabled="toma.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Facturar" 
														uib-tooltip-placement="top"
														ng-click="facturarToma(pedido, toma)">
												<sa-icon name="NEW"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.newFacturacion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Facturacion" 
														uib-tooltip-placement="top"
														ng-click="facturarToma(pedido, toma)">
												<sa-icon name="DEL"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.facturado"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya facturado" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="OK"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-hide="toma.facturado || toma.devuelto || toma.newFacturacion || toma.newDevolucion"
														ng-disabled="toma.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionToma(pedido, toma)">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.devuelto"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya devuelto" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.newDevolucion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionToma(pedido, toma)">
												<sa-icon name="DEL"></sa-icon>
												</button>
					
											</td>
										</tr>
									</tbody>
								</table>
								<table class="table table-hover table-condensed table-striped" ng-hide="!pedido.hayDescartables">
									<thead class="levelTwo">
										<tr></tr>
										<tr class="cabecera-tabla-celeste">
										 	<th>Codigo</th>
											<th>Nombre</th>
											<th>Presentacion</th>
											<th>Fecha</th>
											<th>Estado</th>
											<th>Cantidad</th>
											<th class="text-center">Facturacion</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="toma in pedido.Descartables">
											<td class="row text-left">{{ toma.Material.numero_articulo }}</td>
											<td class="row text-left">{{ toma.Material.nombre }}</td>
											<td class="row text-left">{{ toma.Material.presentacion }}</td>
											<td	class="row text-left">{{ toma.Fecha | date:"dd/MM/yyyy HH:mm"}}</td>
											<td	class="row text-left" ng-class="pedido.Color">{{ toma.Estado}}</td>
											<td class="row text-left">{{ toma.CantidadEntregada }}</td>
											<td  class="row text-center">
												<button type="button" 
														id="facturar_button"
														ng-hide="toma.facturado || toma.devuelto || toma.newFacturacion || toma.newDevolucion"
														ng-disabled="toma.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Facturar" 
														uib-tooltip-placement="top"
														ng-click="facturarDesca(pedido, toma)">
												<sa-icon name="NEW"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.newFacturacion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Facturacion" 
														uib-tooltip-placement="top"
														ng-click="facturarDesca(pedido, toma)">
												<sa-icon name="DEL"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.facturado"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya facturado" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="OK"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-hide="toma.devuelto || toma.newFacturacion || toma.newDevolucion"
														ng-disabled="toma.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionDesca(pedido, toma)">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.devuelto"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya devuelto" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="toma.newDevolucion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionDesca(pedido, toma)">
												<sa-icon name="DEL"></sa-icon>
												</button>
					
											</td>
										</tr>
									</tbody>
								</table>
								<!-- End Second Layer -->
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" ng-hide="!formControl.internacionCargada  || !formControl.hayInfusiones">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		<h4>Infusiones</h4>
		<table class="table table-hover" id="infusiones_table">
			<thead>
				<tr >
					<th colspan="3" class="text-center"></th>
				</tr>
				<!-- <tr class="thead-azul"> -->
				<tr class="cabecera-tabla">
					<th class="text-left">Infusion</th>
					<th class="text-left">Volumen</th>
					<th class="text-left">Goteo</th>

					<th class="text-left">Fecha/Hora</th>
					<th class="text-left">Estado</th>
				</tr>
			</thead>
			<tbody  ng-repeat="infusion in data.infusiones">
				<tr >
					<th ng-click="verAgregados(infusion)" class="row text-left">{{ infusion.Infusion}}</th>
					<th ng-click="verAgregados(infusion)" class="row text-left">{{ infusion.Goteo }} {{infusion.UnidadMedida}}</th>
					<th ng-click="verAgregados(infusion)" class="row text-left">{{ infusion.Volumen }} cc</th>
					<td ng-click="verAgregados(infusion)"	class="row text-left">{{ infusion.Fecha | date:"dd/MM/yyyy HH:mm"}}</td>
					<td ng-click="verAgregados(infusion)"	class="row text-left" ng-class="infusion.Color">{{ infusion.Estado}}</td>

				</tr>
				<tr ng-hide="!infusion.verAgregados" >
					<td colspan="7">
						<div class="span9">
							<div class="col-md-11">
								<!-- Second Layer -->
								<table class="table table-hover table-condensed table-striped" ng-hide="infusion.noAgregados">
									<thead class="levelTwo">
										<tr></tr>
										<tr class="cabecera-tabla-celeste">
										 	<th>Codigo</th>
											<th>Descripcion</th>
											<th>Presentacion</th>
											<th>Cantidad</th>
											<th>Estado</th>
											<th class="text-center">Facturacion</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="agregado in infusion.Detalles">
											<td ng-bind="agregado.Material.numero_articulo"></td>
											<td ng-bind="agregado.Material.nombre"></td>
											<td ng-bind="agregado.Material.presentacion"></td>
											<td ng-bind="agregado.CantidadEntregada"></td>
											<td ng-class="agregado.Color" ng-bind="agregado.Estado"></td>
											<td  class="row text-center">
												<button type="button" 
														id="facturar_button"
														ng-hide="agregado.facturado || agregado.devuelto || agregado.newFacturacion || agregado.newDevolucion"
														ng-disabled="agregado.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Facturar" 
														uib-tooltip-placement="top"
														ng-click="facturarAgregado(infusion, agregado)">
												<sa-icon name="NEW"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="agregado.newFacturacion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Facturacion" 
														uib-tooltip-placement="top"
														ng-click="facturarAgregado(infusion, agregado)">
												<sa-icon name="DEL"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="agregado.facturado"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya facturado" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="OK"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-hide="agregado.facturado || agregado.devuelto || agregado.newFacturacion || agregado.newDevolucion"
														ng-disabled="agregado.noEntregados || formControl.enfermeria"
														class="btn btn-white btn-xs"
														uib-tooltip="Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionAgregado(infusion, agregado)">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="agregado.devuelto"
														class="btn btn-white btn-xs"
														uib-tooltip="Ya devuelto" 
														uib-tooltip-placement="top"
														ng-click="">
												<sa-icon name="REPLY"></sa-icon>
												</button>

												<button type="button" 
														id="facturado_button"
														ng-show="agregado.newDevolucion"
														class="btn btn-white btn-xs"
														uib-tooltip="Cancelar Devolucion" 
														uib-tooltip-placement="top"
														ng-click="devolucionAgregado(infusion, agregado)">
												<sa-icon name="DEL"></sa-icon>
												</button>
					
											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 text-center" ng-hide="!infusion.verAgregados || !infusion.noAgregados" >
									<label  >No hay agregados..</label>
								</div>
								<!-- End Second Layer -->
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-xs-12 text-center" ng-hide="!formControl.vacio" >
	<label  >No hay productos pendientes</label>
</div>
<div class="col-xs-12 text-center">
	<sa-loading ng-if="formControl.loading"></sa-loading>
</div>