<div class="row fila">
	<h4>Busqueda</h4>
	<form name="formFilter" novalidate>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group " ng-controller="DatePickerController">				
			<label for="txt_fecha_movimiento" id="fecha_movimiento_label" class="control-label">Fecha Desde</label>
			<span class="input-group">
				<div class="form-control"
					ng-bind="formData.fecha_desde | date: 'dd/MM/yyyy'">
				</div>
				<input type="text"  class="form-control" 
					uib-datepicker-popup
					ng-model="formData.fecha_desde"
					is-open="opened1"
					min-date="minDateCommon"
					max-date="formData.fecha_hasta"
					placeholder="Filtrar por fecha..." 
					ng-show="false"
					ng-change="getInforme()"
					ng-required="">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						id="calendario_button" 
						uib-tooltip="Calendario"
						ng-disabled="" 
						ng-click="open1($event)">
						<sa-icon name="CALENDAR"></sa-icon>
					</button>
				</span>
			</span>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group" ng-controller="DatePickerController">				
			<label for="txt_fecha_movimiento" id="fecha_movimiento_label" class="control-label">Fecha Hasta</label>
			<span class="input-group">
				<div class="form-control"
					ng-bind="formData.fecha_hasta | date: 'dd/MM/yyyy'">
				</div>
				<input type="text"  class="form-control" 
				uib-datepicker-popup
				ng-model="formData.fecha_hasta"
				is-open="opened1"
				min-date="formData.fecha_desde"
				max-date="today"
				placeholder="Filtrar por fecha..." 
				ng-show="false"
				ng-change="getInforme()"
				ng-required="">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						id="calendario_button" 
						uib-tooltip="Calendario"
						ng-disabled="" 
						ng-click="open1($event)">
						<sa-icon name="CALENDAR"></sa-icon>
					</button>
				</span>
			</span>
		</div>
		<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
			<label for="cmb_tipo_documento" id="descartable_label">Producto </label>
			<input name="descartable" 
					id="descartable" type="text" 
					placeholder="Filtrar por producto..." 
					ng-model="filter.descartable"
					uib-typeahead="descartable as descartable.nombre for descartable in data.materiales | filter:$viewValue | limitTo:8" 
					class="form-control"
					typeahead-on-select="paginacion.filterDescartable()"
					ng-change="paginacion.filterDescartable()"
					typeahead-select-on-exact="true">
		</div> -->
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 form-group">
				<label for="cmb_tipo_documento" id="piso_label">Sucursal</label>
				<select id="piso_select" class="form-control"
					name="Sucursal"
					ng-model="formData.sucursal"
					ng-change="formControl.cambiaSucursal()"
					ng-options="sucursal.descripcion 
								for sucursal in data.sucursales 
								track by sucursal.id_sucursal"
					required >
				</select>
			</div>
			<sa-ubicacion-piso
				sucursal="sucursal"
				changed="ubicacionChanged(ubicacion)">
			</sa-ubicacion-piso>
		</div>
	</form>
</div>
<div class="row fila" ng-hide="formControl.loading">
	<h4>Filtrar</h4>
	<div class="col-xs-12 ">
		<div id="tntGridServices" 
			ui-grid="gridOptions"
			ui-grid-selection
			ui-grid-move-columns >
		</div>
	</div>
</div>
