<div class="row">
	<div class="btn-group pull-right">
		<button id="asignar_button" class="btn btn-default" type="button"
			ng-disabled="!formControl.ubicacionCargada"
			ng-click="nuevoAjuste()">
			Guardar
		</button>
		<button type="button" 
			class="btn btn-default"
			uib-tooltip="Imprimir Stock" 
			uib-tooltip-placement="top"
			ng-click="printStock()"
			ng-disabled="!formControl.ubicacionCargada">
			<sa-icon name="PRINT"></sa-icon>
		</button>
		<button id="limpiarCarga_button" type="button" 
			class="btn btn-default"
			uib-tooltip="Limpiar" 
			uib-tooltip-placement="top"
			ng-click="limpiar()">
			<sa-icon name="REPEAT"></sa-icon>
		</button>
	</div>
</div>
<div class="row">
	<sa-ubicacion-piso
		sucursal="sucursal"
		changed="ubicacionChanged(ubicacion)"
		limpiar="formControl.limpiar">
	</sa-ubicacion-piso>
	
	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1" id="ubicacion">
		<label for="cmb_tipo_documento" id="label_ubicacion">Tipo</label>
		<select id="select_ubicacion"
			class="form-control"
			name="tipoUbicacion"
			ng-model="formData.tipoUbicacion"
			ng-change="ubicacionChanged()"
			ng-options="ubicacion.nombre_tipo_ubicacion_detalle
						for ubicacion in data.tiposUbicacion 
						track by ubicacion.id_tipo_ubicacion_detalle" 
			required >
		</select>
	</div>

	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 scroll-dropdown">
		<label for="cmb_tipo_documento" id="descatable_label">Producto </label>
		<input name="producto" 
			id="producto" type="text" 
			placeholder="Nuevo producto..." 
			ng-model="formData.descartableNuevo"
			ng-disabled="!formControl.ubicacionCargada"
			uib-typeahead="producto as (producto.nombre +' * '+ producto.presentacion) for producto in data.materiales | filter:$viewValue | limitTo:200" 
			class="form-control"
			typeahead-on-select="nuevoMaterial(producto)"
			ng-change=""
			typeahead-select-on-exact="true">
	</div>

	<table class="table table-hover" id="descartables_table">
		<thead>
			<tr >
				<th colspan="3" class="text-center"></th>
			</tr>
			<!-- <tr class="thead-azul"> -->
			<tr class="cabecera-tabla">
				<th class="text-left">Codigo</th>
				<th class="text-left">Producto</th>
				<th class="text-left">Presentacion</th>
				<th class="text-left">Cantidad maxima</th>
				<th class="text-left" style="width: 10%;">Nueva cantidad maxima</th>
				<th class="text-left">Stock normal</th>
				<!-- <th class="text-left">Nuevo stock minimo</th> -->
				<th class="text-left" style="width: 10%;">Nuevo stock normal</th>
				<!-- <th class="text-center">Agregar</th> -->
			</tr>
		</thead>
		<tbody ng-hide="formControl.loading || formControl.error || formControl.vacio">
			<tr ng-repeat="ubicacionDetalle in data.ubicacionesDetalle  | filter:formData.descartableNuevo.nombre | orderBy:'+Producto.nombre'">
				<th class="row text-left">{{ ubicacionDetalle.Producto.numero_articulo }}</th>
				<th class="row text-left">{{ ubicacionDetalle.Producto.nombre }}</th>
				<td	class="row text-left">{{ ubicacionDetalle.Producto.presentacion }}</td>
				<td class="row text-left">{{ ubicacionDetalle.cantidad_maxima }}</td>
				<td class="text-left">
			
						<input type="number" min="0"
						class="form-control input-sm"
						ng-model="ubicacionDetalle.nueva_cantidad_maxima"
						ng-disabled="false"
						required>


				</td>
				<td class="row text-left">{{ ubicacionDetalle.stock_minimo }}</td>

				<td class="text-left">
					<div class="input-group">

						<input type="number" min="0"
						class="form-control input-sm"
						ng-model="ubicacionDetalle.cantidad_productos"
						ng-disabled="false"
						required>
						<span class="input-group-btn">
							<button id="cargarProducto_button"
									type="button" 
									class="btn btn-white btn-xs"
									uib-tooltip="Eliminar" 
									ng-hide="ubicacionDetalle.cargado"
									uib-tooltip-placement="top"
									ng-click="deleteUbicacionDetalle(ubicacionDetalle)">
								<sa-icon name="TRASH"></sa-icon>
							</button>
						</span>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<div class="col-xs-12 text-center" ng-hide="!formControl.vacio" >
		<label>No hay productos cargados</label>
	</div>
	<sa-loading ng-if="formControl.loading"></sa-loading>
</div>
