<sa-loading ng-if="formControl.loading"></sa-loading>
<div id="print-content" class="container-print" ng-hide="formControl.loading">
	<div class="modal-header">
		<!-- <div class="row fila-print"> -->
		<div class="row">
			<div class="col-xs-3" >
				<sa-logo></sa-logo>
			</div>
			<!-- <div class="col-xs-6  text-center">
			</div> -->
			<!-- <div class="col-xs-3 pull-right">
				<label class="pull-right">Sucursal: {{ constante.movimiento.Sucursal.descripcion }} </label>
			</div> -->
		</div>
	</div>
	<div class="modal-body">
		<div class="row fila fila-print" >
			<div class="col-xs-12">
				<h4>{{constante.title}} {{constante.ubicacion.nombre_ubicacion_piso}}</h4>
				<table class="table-fina table " ng-show="!formControl.vacio && !formControl.loading">
					<thead>
						<tr >
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="cabecera-tabla">
							<th class="text-left">Codigo</th>
							<th class="text-left">Descripción</th>
							<th class="text-left">Presentación</th>
							<th class="text-center">Cantidad</th>

							<!-- <th class="text-left">Stock Anterior</th> -->
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="detalle in constante.ubicacion.DetalleStock | orderBy : 'Producto.nombre' ">
							<td class="row text-left">{{ detalle.Producto.numero_articulo }}</td>
							<td class="row text-left">{{ detalle.Producto.nombre }}</td>
							<td class="row text-left">{{ detalle.Producto.presentacion }}</td>
							<td class="row text-center">{{ detalle.stock_actual }}</td>
							<!-- <td class="row text-left">{{ detalle.stock_anterior }}</td> -->
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<div ng-if="formControl.vacio">
			<h5>No hay productos..</h5>
		</div>
	</div>
</div>
