<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Detalle Facturacion</h4>
	</div>
	<div class="modal-body">
		<div class="row fila">
			<h4>
				Facturado de: {{data.internacion.NumeroInternado}}  ||  {{data.internacion.NombreInternado}}
			</h4>
		</div>

		<div class="row fila">
			<h4>Filtrar</h4>
			<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 group scroll-dropdown">
				<label for="cmb_tipo_documento" id="buscar_movimiento_label">Producto: </label>
				<!-- <input placeholder="Codigo..." class="form-control" ng-model="filter.codigo_material" ng-change="formControl.getPage()"> -->
				<input 	name="producto" 
						id="producto" type="text" 
						placeholder="Producto..." 
						ng-model="filter.material"
						autocomplete="false"
						uib-typeahead="producto as (producto.nombre +' | '+ producto.presentacion) for producto in data.materiales | filter:$viewValue | limitTo:200" 
						class="form-control no-valid"
						typeahead-on-select="formControl.getPage()"
						ng-change="formControl.getPage()"
						typeahead-select-on-exact="true">
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-6 group ">
				<label for="cmb_tipo_documento" id="usuario_label">Origen </label>
				<select class="form-control"
				name="sistema"
				ng-model="filter.origen"
				ng-class="validar.error(formSolicitud.usuario.$valid)"
				ng-change="formControl.getPage()"
				ng-disabled=""
				ng-options="sistema for sistema in data.sistemas" 
				required >
					<option value="">--TODOS--</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 btn-row">
				<div class="form-group">
					<label class="label-control">Entregar a:</label>
					<div class="input-group">
						<input 	type="text" class="form-control"
								ng-model="data.usuarioRetira.userCompleteName"
								ng-disabled="true">
						<span class="input-group-btn">
							<button class="btn btn-default btn-loading" 
									uib-tooltip="Registrar" 
									tooltip-placement="top" 
									ng-click ="formControl.registrarRetira()"
									sa-punto-click ="formControl.registrarRetira()"
									sa-enter>
								<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					
				</div>
			</div>
			<div class= "col-xs-12 col-sm-6 col-md-5 col-lg-4 btn-row-right" ng-if="!formControl.facturacion" >
				<div class="input-group btn-row-right" ng-hide="!formControl.cargarProducto">
					<input 	name="producto" 
							id="producto" type="text" 
							placeholder="Nuevo producto..." 
							ng-model="formData.productoNuevo"
							autocomplete="false"
							uib-typeahead="producto as (producto.nombre +' * '+ producto.presentacion + ' | Stock: ' + producto.stock) for producto in data.materiales | filter:$viewValue | limitTo:20" 
							class="form-control no-valid"
							typeahead-on-select="formControl.nuevoProducto()"
							ng-change=""
							typeahead-select-on-exact="true">
					<span class="input-group-btn">
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click="formControl.agregarProducto()">
								<sa-icon name="NEW"></sa-icon>
						</button>
					</span>
				</div>
				<button id="estado_button" class="btn btn-default pull-right btn-row-right" type="button"
						ng-if="!formControl.cargarProducto"
						ng-click="formControl.agregarProducto()"
						uib-tooltip="Nuevo Producto" 
						uib-tooltip-placement="top">
						<sa-icon name="NEW"></sa-icon>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" >
					<thead>
						<tr >
							<th colspan="3" class="text-center"></th>
						</tr>
						<tr class="thead-azul">
						<tr class="cabecera-tabla">
							<td class="text-left">Codigo</td>
							<td class="text-left">Nombre</td>
							<td class="text-left">Presentacion</td>
							<td class="text-left">Stock</td>
							<td class="text-left">Stock Drogueria</td>
							<td class="text-left">Usuario</td>
							<td class="text-left">Fecha</td>
							<td class="text-left">Origen</td>
							<td class="text-center" style="width: 12%;">Cantidad</td>
							<!-- <th class="text-center">Facturar</th> -->
						</tr>
					</thead>
					<tbody ng-hide="formControl.loading">
						<tr ng-repeat="facturacion in filter.facturaciones">
							<td class="row text-left">{{ facturacion.Material.numero_articulo }}</td>
							<td class="row text-left">{{ facturacion.Material.nombre }}</td>
							<td class="row text-left">{{ facturacion.Material.presentacion }}</td>
							<td ng-if="formControl.nuevaCordoba" class="row text-left">{{ facturacion.Material.stock_nueva_cordoba }}</td>
							<td ng-if="formControl.cerro" class="row text-left">{{ facturacion.Material.stock_cerro }}</td>
							<td class="row text-left">{{ facturacion.Material.stock_drogeria }}</td>
							<td class="row text-left">{{ facturacion.nombre_usuario }}</td>
							<td class="row text-left">{{ facturacion.fecha | date:"dd/MM/yyyy"}}</td>
							<td class="row text-left">{{ facturacion.sistema }}</td>
							<td class="row text-center">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" 
											class="btn btn-white btn-xs"
											ng-disabled="facturacion.minimo || facturacion.deshabilitado"
											ng-click="formControl.resta(facturacion)">
											<sa-icon name="MINUS"></sa-icon>
										</button>
									</span>
									<input type="text" min="0"
							  			class="form-control input-sm"
										ng-model="facturacion.cantidad"
										ng-disabled="true"
										required>
											
									<span class="input-group-btn">
										<button type="button"
											ng-disabled="facturacion.deshabilitado"
											class="btn btn-white btn-xs"
											ng-click="formControl.suma(facturacion)">
											<sa-icon name="NEW"></sa-icon>
										</button>
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row" ng-hide="formControl.loading">
					<div class="col-sm-12">
						<div class="text-center">
							<div uib-pagination  boundary-links="true"
							id="paginator"
							max-size="9"
							items-per-page="paginacion.pageSize"
							total-items="paginacion.totalItems"
							ng-model="paginacion.currentPage"
							ng-change="formControl.getPage()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
							</div>
						</div>
					</div>
				</div><!-- .row>-->
			</div>
		</div>
		<sa-loading ng-if="formControl.loading"></sa-loading>
	</div>
	<div class="modal-footer" >
		<button type="button"
				class="btn btn-default"
				ng-disabled=" formControl.loading"
				ng-click="formControl.ok()">Aceptar</button>
		<button type="button"
				class="btn btn-cancelar"
				ng-disabled=""
				ng-click="formControl.cancel()">Cancelar</button>
	
	</div>
</form>