<form name="formPersona" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Detalle Grupos</h4>
	</div>
	<div class="modal-body">
		<div class="row" >
			<div class= "col-xs-12 col-sm-4 col-md-4 col-lg-3 scroll-dropdown">
				<div class="input-group" ng-if="formControl.cargarGrupo">
					<input 	name="grupo" 
							id="grupo" type="text" 
							placeholder="Nombre..." 
							ng-model="formData.grupoNuevo"
							ng-disabled=""
							class="form-control no-valid"
							ng-change="">
					<span class="input-group-btn">
						
						
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click="formControl.guardarGrupo()"
								ng-disabled="formControl.editandoGrupo"
								uib-tooltip="Agregar" 
								uib-tooltip-placement="top">
								<sa-icon name="NEW"></sa-icon>
						</button>
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click="formControl.guardarGrupo()"
								ng-disabled="!formControl.editandoGrupo"
								uib-tooltip="Editar" 
								uib-tooltip-placement="top">
								<sa-icon name="EDIT"></sa-icon>
						</button>
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click=""
								ng-disabled="true"
								uib-tooltip="Eliminar" 
								uib-tooltip-placement="top">
								<sa-icon name="DEL"></sa-icon>
						</button>
					</span>
				</div>
				<span class="btn-group pull-right" ng-if="!formControl.cargarGrupo">
					<button id="estado_button" class="btn btn-default" type="button"
							ng-disabled=""
							uib-tooltip="Agregar" 
							uib-tooltip-placement="top"
							ng-click="formControl.agregarGrupo()">
							<sa-icon name="NEW"></sa-icon>
					</button>
					<button id="estado_button" class="btn btn-default" type="button"
							ng-disabled="!formControl.grupoSeleccionado"
							uib-tooltip="Editar" 
							uib-tooltip-placement="top"
							ng-click="formControl.editarGrupo()">
							<sa-icon name="EDIT"></sa-icon>
					</button>
					<button id="estado_button" class="btn btn-default" type="button"
							ng-disabled="!formControl.grupoSeleccionado"
							ng-click="formControl.eliminarGrupo()"
							uib-tooltip="Eliminar" 
							uib-tooltip-placement="top">
							<sa-icon name="DEL"></sa-icon>
					</button>
				</span>

			</div>
			<div class= "col-xs-12 col-sm-8 col-md-8 col-lg-9 btn-right scroll-dropdown" >
				<div class="input-group" ng-hide="!formControl.cargarProducto">
					<input 	name="producto" 
							id="producto" type="text" 
							placeholder="Nuevo producto..." 
							ng-model="formData.productoNuevo"
							uib-typeahead="producto as (producto.Nombre +' * '+ producto.Presentacion + ' | Stock: ' + producto.Stock) for producto in data.materiales | filter:$viewValue | limitTo:200" 
							class="form-control"
							typeahead-on-select="formControl.nuevoProducto(producto)"
							ng-change=""
							typeahead-select-on-exact="true">
					<span class="input-group-btn">
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click="formControl.agregarProducto()"
								uib-tooltip="Agregar" 
								uib-tooltip-placement="top">
								<sa-icon name="NEW"></sa-icon>
						</button>
						<button id="estado_button" class="btn btn-default " type="button"
								ng-click=""
								ng-disabled="true"
								uib-tooltip="Eliminar" 
								uib-tooltip-placement="top">
								<sa-icon name="DEL"></sa-icon>
						</button>
					</span>
				</div>
				<span class="btn-group pull-right" ng-if="!formControl.cargarProducto">
					<button id="estado_button" class="btn btn-default" type="button"
							ng-click="formControl.agregarProducto()"
							uib-tooltip="Agregar" 
							uib-tooltip-placement="top">
							<sa-icon name="NEW"></sa-icon>
					</button>
					<button id="estado_button" class="btn btn-default" type="button"
							ng-click="formControl.eliminarProducto()"
							uib-tooltip="Eliminar"
							ng-disabled="!formControl.materialSeleccionado"
							uib-tooltip-placement="top">
							<sa-icon name="DEL"></sa-icon>
					</button>
				</span>
			</div>
		</div>
		<div class="row" style="margin-top: 5px;">

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 table-responsive" >
				<table class="table table-fixed table-fixed-large table-cursor-pointer" ng-class="{'table-fixed-lg': tableClass}">
					<thead>
						<tr> 
							<!-- <th class="text-left">Nro Indicacion</th> -->
							<th class="col-xs-12">Nombre</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="grupo in data.grupos" ng-class="grupo.Color" ng-hide="formControl.loading">
							<td class="col-xs-12"  ng-click="formControl.selectGrupo(grupo)" ng-bind="grupo.Nombre" ></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 table-responsive">
				<table class="table table-fixed table-fixed-large table-cursor-pointer" ng-class="{'table-fixed-lg': tableClass}">
					<thead>
						<tr > 
							<th class="col-xs-1">Codigo</th>
							<th class="col-xs-4">Nombre</th>
							<th class="col-xs-3">Presentacion</th>
							<th class="col-xs-1">Stock</th>
							<th class="col-xs-1">Stock D.</th>
							<th class="col-xs-2 text-center">Cantidad</th>

						</tr>
					</thead>
					<tbody >
						<tr ng-repeat="material in data.materialesGrupo"  ng-hide="formControl.loading || formControl.vacio" ng-class="material.Color">
							<td ng-click="formControl.selectMaterial(material)" class="col-xs-1">{{ material.Material.NumeroArticulo }}</td>
							<td ng-click="formControl.selectMaterial(material)" class="col-xs-4">{{ material.Material.Nombre }}</td>
							<td ng-click="formControl.selectMaterial(material)" class="col-xs-3">{{ material.Material.Presentacion }}</td>
							<td ng-click="formControl.selectMaterial(material)" ng-if="formControl.nuevaCordoba" class="col-xs-1">{{ material.Material.StockNuevaCordoba }}</td>
							<td ng-click="formControl.selectMaterial(material)" ng-if="formControl.cerro" class="col-xs-1">{{ material.Material.StockCerro }}</td>
							<td ng-click="formControl.selectMaterial(material)" class="col-xs-1">{{ material.Material.StockDrogueria }}</td>
							<td class="col-xs-2 text-center">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" 
											class="btn btn-white btn-xs"
											ng-disabled="material.minimo || material.deshabilitado"
											ng-click="formControl.resta(material)">
											<sa-icon name="MINUS"></sa-icon>
										</button>
									</span>
									<input type="text" min="0"
							  			class="form-control input-sm"
										ng-model="material.Cantidad"
										ng-disabled="true"
										required>
											
									<span class="input-group-btn">
										<button type="button"
											ng-disabled="material.deshabilitado"
											class="btn btn-white btn-xs"
											ng-click="formControl.suma(material)">
											<sa-icon name="NEW"></sa-icon>
										</button>
									</span>
							  	</div>		
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12">
				<sa-loading ng-if="formControl.loading"></sa-loading>
			</div>
			<!-- <div ng-hide="!constante.pedido.entregado" class="col-xs-12">
				<label for="cmb_tipo_documento">Total entregadas: {{constante.pedido.dosis_pendientes}}</label>
			</div> -->

		</div>

	</div>
	<div class="modal-footer" >
		<button type="button"
				class="btn btn-default"
				ng-disabled=" formControl.loading"
				ng-click="formControl.ok()">Aplicar</button>
		<button type="button"
				class="btn btn-cancelar"
				ng-disabled=""
				ng-click="formControl.cancel()">Cerrar</button>
	</div>
</form>