<sa-loading ng-if="vm.loading"></sa-loading>

<div id="print-content" class="container-print" ng-hide="vm.loading">
	<style>
		@media print {
			body * {
				visibility: hidden;
			}
			#print-content * {
				visibility: visible;
				overflow: visible;
			}
			.modal {
				position: absolute;
				left: 0;
				top: 0;
				margin: 0;
				padding: 0;
				min-height: 550px;
				visibility: visible;
				/**Remove scrollbar for printing.**/
				overflow: visible !important;
			}
			div.page {
				size: A5;
			}
			li {
				page-break-after: auto;
			}
		}
	</style>
	<div class="modal-header">
		<!-- <div class="row fila-print"> -->
		<div class="row">
			<div class="col-xs-3">
				<sa-logo></sa-logo>
			</div>
			<div class="col-xs-6  text-center">
				<h4>Remito Nº {{ vm.data.Id }}</h4>
			</div>
			<!-- <div class="col-xs-3 pull-right">
				<label class="pull-right">Sucursal: {{ constante.movimiento.Sucursal.descripcion }} </label>
			</div> -->
		</div>
	</div>
	<div class="modal-body">
		<div class="row fila fila-print">
			<H4 class="text-right"> Fecha/Hora: {{vm.data.Fecha | date:"dd/MM/yyyy HH:mm"}}</H4>
			<H4 class="text-left">Destino de la mercaderia: {{vm.data.Destinatario }}</H4>
			<table class="table-fina table ">
				<thead>
					<tr>
						<th colspan="3" class="text-center"></th>
					</tr>
					<tr class="cabecera-tabla">
						<th class="text-left">Codigo</th>
						<th class="text-left">Descripción</th>
						<th class="text-left">Presentación</th>
						<th class="text-center">Cantidad</th>
						<!-- <th class="text-left">Stock Anterior</th> -->
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="detalle in vm.data.Detalle">
						<td class="row text-left">{{ detalle.CodigoStockeable  }}</td>
						<td class="row text-left">{{ detalle.NombreStockeable  }}</td>
						<td class="row text-left">{{ detalle.PresentacionStockeable  }}</td>
						<td class="row text-center">{{ detalle.Cantidad }}</td>
						<!-- <td class="row text-left">{{ detalle.stock_anterior }}</td> -->
					</tr>
				</tbody>

			</table>

			<table class="table table-fina" width="50">
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-left"></th>
						<th class="text-left"></th>
						<th class="text-left"></th>
						<th class="text-left"></th>
						<!-- <th class="text-left">Stock Anterior</th> -->
					</tr>
				</thead>
				<div>
					<tbody>
						<tr>
							<td class="row text-left">{{ }}</td>
							<td class="row text-left">{{ }}</td>
							<td class="row text-left">{{ }}</td>
							<td class="row text-right" style="padding-right: 60px;">Total: {{vm.totalCantidadItems}} </td>
							<!-- <td class="row text-left">{{ detalle.stock_anterior }}</td> -->
						</tr>
					</tbody>
				</div>
			</table>
		</div>
	</div>
	<div class="modal-footer">

	</div>
</div>