<form name="formRequisito" novalidate>
	<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
	</sa-modal-header>

	<sa-modal-body loading="vm.formControl.loading">
		<div class="row ">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div sa-form-input-validate>
					<label>Nombre</label>
					<input type="text" name="nombrerequisitoAdministrativo" ng-model="vm.requisitoAdministrativo.Nombre" required sa-enter autofocus>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div sa-form-input-validate>
					<label>Descripción</label>
					<input type="text" name="requisitoAdministrativo" ng-model="vm.requisitoAdministrativo.Descripcion" required sa-enter>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
				<div sa-form-input-validate="" class="form-group">
					<label class="control-label">Tipo de Unidad</label>
					<select id="TipoUnidadRequis" name="cmbtipoUnidad" ng-model="vm.tipoRequisitoElegido" ng-options="TipoUnidadRequis.Nombre for TipoUnidadRequis in vm.tipoDeUnidadRequisito track by TipoUnidadRequis.Id"
						sa-enter class="ng-pristine ng-untouched ng-valid ng-not-empty form-control">
					</select>
				</div>
			</div>
		</div>
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
		<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>


<!--Para q levante el modulo, importe en la app.ts gral(carpeta principal), el modulo edti, list etc -->