<div ng-hide="vm.formControl.loading">
	<form name="formViewServicio" accept-charset="utf-8" novalidate>
		<div class="modal-header">
			<h4 class="modal-title">
			<sa-icon name="NEW"></sa-icon>Excepciónes de Usuario
			</h4>
		</div>
		<div class="modal-body">
			
			
			
			<div class="row" >
				<h4 >Agregar Excepción</h4>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
					<label for="" ><strong>Tipo Entidad</strong></label>
					<select class="form-control"
						name="tipoEntidad"
						ng-model="vm.data.tipoEntidadExcepcion.Nombre"
						ng-options="tipoEntidadExcepcion.Nombre for tipoEntidadExcepcion in vm.data.tipoEntidadExcepcion"
						ng-change="vm.formControl.getEntidadExcepcion(vm.data.tipoEntidadExcepcion.Nombre)"
						>
						<option value="">--SELECCIONAR--</option>
					</select>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
					<label for="" ><strong>Tipo Excepción</strong></label>
					<select class="form-control"
						name="tipoExcepcion"
						ng-model="vm.data.tipoExcepcion.Nombre"
						ng-options="tipoExcepcion.Nombre for tipoExcepcion in vm.data.tipoExcepcion "
						
						>
						<option value="">--SELECCIONAR--</option>
					</select>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 " >
					<label>Nombre</label>
					<input type="text" class="form-control"
					name="pathSistema"
					ng-model="vm.filter.Nombre"
					ng-change="vm.paginacion.pageChanged()"
					ng-disabled="!vm.data.tipoExcepcion.Nombre"
					autocomplete="off"
					>
				</div>
				
				<div class="table-responsive col-md-12 col-lg-12"
					style="margin-top: 10px;" ng-show="vm.data.tipoExcepcion.Nombre">
					<div class="col-md-12">
						<table class="table table-hover">
							<thead>
							<tr></tr>
							<tr class="cabecera-tabla">
								<th class="text-center">Codigo</th>
								<th class="text-center">Nombre</th>
								<th class="text-center" >Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="entidadExcepcion in vm.filter.entidadExcepciones">
								<td class="text-center" ng-bind="entidadExcepcion.Id"></td>
								<td class="text-center" ng-bind="entidadExcepcion.Nombre"></td>
								<td class="text-center" >
									<!-- <div class="checkbox checkbox-print" >
										<label>
											<div class="checkbox-print">
												<input type="checkbox" ng-model="extra[$index]"
												ng-click="vm.formControl.addEntidadExcepcion(entidadExcepcion,extra[$index])">
											</div>
										</label>
									</div> -->
									<sa-check-box ng-model="entidadExcepcion.checked" color="green">
									</sa-check-box>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-12">
					<div class="text-center">
						<div uib-pagination 
						max-size="10"
						items-per-page="vm.paginacion.pageSize"
						total-items="vm.paginacion.totalItems"
						ng-model="vm.paginacion.currentPage"
						ng-change="vm.paginacion.pageChanged()"
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	<div class="modal-footer" ng-hide="vm.formControl.loading">
		<input type="submit" sa-btn-cancel ng-click="vm.formControl.cancel()" value="Cancelar">
		<input type="submit" id="btnAgregarEditar" value="Guardar" sa-btn-save
		ng-click="vm.formControl.ok()" >
	</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading" ></sa-loading>