<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formSistema" accept-charset="utf-8" novalidate>
		<div class="modal-header">
			<h4 class="modal-title">
			<sa-icon name="NEW"></sa-icon>
			Asignar Roles a Usuario "{{vm.data.usuario.Nombre}}"
		</h4>		</div>
		<div class="modal-body">
			<div class="row ">
				<div class="row table-responsive text-center ">
					<div class="col-xs-12">
						<table class="table table-hover">
							<thead>
							<tr></tr>
							<tr class="cabecera-tabla">
								<th class="text-center">Rol N°</th>
								<th class="text-center">Nombre Rol</th>
								<th class="text-center">Asignado a Usuario</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rol in vm.filter.roles">
								<td class="text-center" ng-bind="rol.Id"></td>
								<td class="text-center" ng-bind="rol.Nombre"></td>
								<td class="text-center">
									<input type="checkbox" ng-model="rol.Seleccionado" 
										    />								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" >
				<div class="col-sm-12">
					<div class="text-center">
						<div uib-pagination 
						max-size="10"
						items-per-page="vm.paginacion.pageSize"
						total-items="vm.paginacion.totalItems"
						ng-model="vm.paginacion.currentPage"
						ng-change="vm.paginacion.pageChanged()"
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="row ">
			
			<h4>Permisos</h4>
			<sa-permisos-x-modulo-list
			ng-model="vm.data.usuario.VistaPlana"
			btn-filter-disabled="vm.formControl.loading"
			btn-filter-if="!vm.formControl.loading"
			btn-show-disabled="vm.formControl.loading"
			btn-show-if="!vm.formControl.loading"
			>
			</sa-permisos-x-modulo-list>
			
			
		</div>
	</div>
</div>
<div class="modal-footer" ng-hide="vm.formControl.loading">
	<input type="submit" id="btnAgregarEditar" value="Guardar"
	class="btn btn-default"
	ng-click="vm.formControl.ok()" >
	<input type="submit"
	class="btn "
	ng-click="vm.formControl.cancel()" value="Cancelar">
</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>