<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formUsuarioEdit" accept-charset="utf-8" novalidate>
		<div class="modal-header">
			<h4 class="modal-title">
				<sa-icon name="EDIT"></sa-icon>
				Editar Usuario
			</h4>
		</div>
		<div class="modal-body">
			<div class="row ">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " sa-form-input-validate>
					<label>Nombre (*)</label>
					<input type="text" placeholder="Ingrese Nombre" class="text-capitalize" ng-model="vm.data.usuario.Nombre" required>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " sa-form-input-validate>
					<label>Nombre de Usuario (*)</label>
					<input type="email" placeholder="Ingrese email" name="userUsuario" ng-model="vm.data.usuario.UserName " ng-disabled="true"
					    required>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng_if=vm.formControl.isAllende>
					<label>Contraseña (*)</label>

					<div class="input-group">
						<input type="password" placeholder="Ingrese contraseña " class="form-control" name="passwordN" ng-attr-type="{{ showpassword ? 'text' : 'password' }}"
						    ng-model="vm.data.usuario.Password" ng-pattern="vm.data.regPass" ng-keyup="vm.formControl.compare()" autocomplete="Off">
						<span class="input-group-btn">
							<button type="button" class="btn btn-white" ng-mousedown="showpassword = !showpassword">
								<sa-icon name="EYE_OPEN"></sa-icon>
							</button>
						</span>
					</div>

					<span ng-show="passwordForm.passwordN.$error.pattern" class="labellogin">
						Entre 8-14 caracteres - alfanumerico
					</span>


				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " ng-if=vm.formControl.isAllende>
					<label>Repetir Contraseña (*)</label>
					<div class="input-group">
						<input type="password" placeholder="Repita contraseña" class="form-control" name="passwordNR" ng-model="vm.data.Password2"
						    ng-attr-type="{{ showpassword2 ? 'text' : 'password' }}" ng-keyup="vm.formControl.compare()" autocomplete="Off">
						<span class="input-group-btn">
							<button type="button" class="btn btn-white" ng-mousedown="showpassword2 = !showpassword2">
								<sa-icon name="EYE_OPEN"></sa-icon>
							</button>
						</span>
					</div>

					<span ng-show="!vm.formControl.isconfirm" class="labellogin">
						Las contraseñas deben coincidir
					</span>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " sa-form-input-validate>
					<label for="cmb_activo">Activo</label>
					<select class="form-control" id="cmb_activo" ng-model="vm.data.usuario.Activo" ng-options="estadoUsuario.activo as estadoUsuario.texto for estadoUsuario in vm.statusUsuario"
					    required>
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>

				<div>

					<sa-empresas-usuario-edit data="vm.data.usuario.EmpresasHabilitadas">

					</sa-empresas-usuario-edit>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<sa-check-box label="Copiar Desde Otro Usuario" ng-model="vm.formControl.copiarUsuario" color="green">
					</sa-check-box>
				</div>


			</div>



			<div class="row" ng-show="vm.formControl.copiarUsuario">

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
					<label for="txt_numero_usuarios" class="label-control">Legajo</label>
					<input type="number" class="form-control" id="txt_numero_usuarios" name="idUsuario" min="0" max="9999" ng-class="{ error : formFilter.id.$error.number }"
					    ng-model="vm.filter.legajo" ng-change="vm.paginacion.pageChanged()">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_nombre_usuario" class="label-control ">Nombre</label>
					<input type="text" class="form-control text-capitalize" id="txt_nombre_usuario" name="nombre" ng-class="{ error : formFilter.id.$error.number }"
					    ng-model="vm.filter.nombre" ng-change="vm.paginacion.pageChanged()">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_nombre_usuario" class="label-control ">Nombre Usuario</label>
					<input type="text" class="form-control" id="txt_nombre_usuario" name="nombreUsuario" ng-class="{ error : formFilter.id.$error.number }"
					    ng-model="vm.filter.nombreUsuario" ng-change="vm.paginacion.pageChanged()">
				</div>


				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-right">
					<button type="button" class="btn btn-default btn-row btn-block" ng-click="vm.filter.clean()">
						Limpiar
					</button>
				</div>

			</div>



			<div class="row table-responsive text-center " ng-show="vm.formControl.copiarUsuario">
				<div class="col-xs-12">
					<table class="table table-hover">
						<thead>
							<tr></tr>
							<tr class="cabecera-tabla">
								<th class="text-center">Legajo</th>
								<th class="text-center">Tipo Usuario</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Nombre de Usuario</th>
								<th class="text-center">Estado</th>
								<th class="text-center">Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-repeat="usuario in vm.filter.usuarios | orderBy : vm.order.value:vm.order.reverse"> -->
							<tr ng-repeat="usuario in vm.filter.usuariosToSelect">
								<td class="text-center" ng-bind="usuario.Legajo"></td>
								<td class="text-center" ng-bind="usuario.Tipo"></td>
								<td class="text-center" ng-bind="usuario.Nombre"></td>
								<td class="text-center" ng-bind="usuario.UserName"></td>
								<td class="col-sm-1">
									<div class="circulito" ng-class="{ 'color-verde' : usuario.Activo == true, 'color-rojo' : usuario.Activo == false }">
									</div>
								</td>
								<td class="text-center">
									<input type="radio" ng-value="usuario" ng-model="vm.formData.recursoSeleccionado">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" ng-show="vm.formControl.copiarUsuario">
				<div class="col-sm-12">
					<div class="text-center">
						<div uib-pagination max-size="10" items-per-page="vm.paginacion.pageSize" total-items="vm.paginacion.totalItems" ng-model="vm.paginacion.currentPage"
						    ng-change="vm.paginacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</div>
					</div>
				</div>
			</div>


		</div>
</div>
<div class="modal-footer" ng-hide="vm.formControl.loading">
	<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-disabled="formUsuarioEdit.$invalid  || !vm.formControl.puedeGuardarConPass()"
	    ng-click="vm.formControl.ok() ">
	<input type="submit" class="btn " ng-click="vm.formControl.cancel()" value="Cancelar">
</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>