<div class="cuerpo">
        <sa-title title-name="vm.title.page" title-icon="LIST"></sa-title>
            <form name="formFilter" accept-charset="utf-8" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group" sa-form-input>
                        <label>Tipo Agrupación</label>
                        <select name="tipoAgrupación"
                            ng-model="vm.filter.IdTipoAgrupacionElegido"
                            ng-options="tipoAgrupacion.Id as tipoAgrupacion.Nombre for tipoAgrupacion in vm.filter.tiposAgrupacion"
                            ng-required  sa-enter>
                            <option value="">--TODOS--</option>
                        </select>
                    </div>				
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                        <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.formControl.buscar()" sa-enter>Buscar</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                        <button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.formControl.limpiarFiltros()" sa-enter>Limpiar</button>
                    </div>
                </div>
            </form>
        <button type="button" class="btn btn-default pull-right" 
            uib-tooltip="Agregar nuevo" tooltip-placement="left" uib-dropdown-toggle
            ng-click="vm.formControl.editarRegla()"
            sa-punto-click="vm.formControl.editarRegla()"
            sa-enter>
            <sa-icon name="PLUS"></sa-icon>
        </button>
        <sa-table-ext data="vm.data.reglas" page-change="vm.formControl.buscarPagina(pagination)" 
            btn-edit-click="vm.formControl.editarRegla(row.Id)" btn-delete-click="vm.formControl.borrarRegla(row)"></sa-table-ext>
        <div class="row">
            <br>
            <div class="row text-center">
                <button class="btn btn-cancelar" ng-click="vm.formControl.volver()" sa-punto-click ="vm.formControl.volver()" sa-enter>
                    Volver
                </button> 
            </div>
        </div>
    </div>