<div>
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group pull-right">
				<button id="guardar_button" class="btn btn-default"
						ng-click='controlarUbicacionInternacion()' 
						ng-hide="formControl.loading || formControl.error"
						ng-disabled="!formControl.ubicacionCargada || formControl.loading">Guardar
				</button>
				<button id="upa_button" class="btn btn-default"
						ng-click='cuestionarioUpa()' 
						ng-hide="formControl.loading || formControl.error"
						ng-disabled="!formControl.internacionCargada || !formControl.ubicacionCargada || formControl.loading">UPA
				</button>
				<button type="button" 
						class="btn btn-default"
						uib-tooltip="Utilizados" 
						uib-tooltip-placement="top"
						ng-click="printUtilizados()"
						ng-disabled="!formControl.ubicacionCargada || formControl.loading">
					<sa-icon name="PRINT"></sa-icon>
				</button>
				<button type="button" 
						class="btn btn-default"
						uib-tooltip="Stock Actual" 
						uib-tooltip-placement="top"
						ng-click="print()"
						ng-disabled="!formControl.ubicacionCargada || formControl.loading">
					<sa-icon name="PRINT"></sa-icon>
				</button>
				<button id="limpiar_carga_button" type="button" 
						class="btn btn-default"
						uib-tooltip="Limpiar Cargas" 
						uib-tooltip-placement="top"
						ng-click="limpiar()">
					<sa-icon name="REPEAT"></sa-icon>
				</button>
				<button type="button" 
						class="btn btn-default"
						uib-tooltip="Ayuda" 
						uib-tooltip-placement="top"
						ng-click="help()"
						ng-disabled="">
					<sa-icon name="QUESTION-CIRCLE-O-LG"></sa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" ng-hide="!formControl.veTodosLosPisos">
			<label for="cmb_tipo_documento" id="piso_label">Piso</label>
			<select class="form-control"
			id="piso_select" 
			name="Piso"
			ng-model="formData.piso"
			ng-change="pisoChanged()"
			ng-disabled="formControl.externo"
			ng-options="piso.descripcion 
						for piso in data.pisos 
						track by piso.id_piso"
			required >
				<option value="">--SELECCIONAR--</option>
			</select>
		</div>

		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="ubicacion">
			<label for="cmb_tipo_documento" id="label_ubicacion">Ubicacion</label>
			<select id="select_ubicacion"
				class="form-control"
				name="Ubicacion"
				ng-model="formData.ubicacion"
				ng-change="ubicacionChanged()"
				ng-options="ubicacion.nombre_ubicacion_piso
							for ubicacion in data.ubicaciones 
							track by ubicacion.id_ubicacion" 
				required >
				<option value="">--SELECCIONAR--</option>
			</select>
		</div>

		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1" id="tipoUbicacion">
			<label for="cmb_tipo_documento" id="label_ubicacion">Tipo</label>
			<select id="select_ubicacion"
				class="form-control"
				name="tipoUbicacion"
				ng-model="formData.tipoUbicacion"
				ng-change="ubicacionChanged()"
				ng-options="ubicacion.nombre_tipo_ubicacion_detalle
							for ubicacion in data.tiposUbicacion 
							track by ubicacion.id_tipo_ubicacion_detalle" 
				required >
			</select>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="nro_internado">
			<label id="nro_internado_label">Internado </label>
			<input 	type="text" 
					placeholder="Numero Internado | Nombre Paciente" 
					ng-model="formData.internacion"
					ng-disabled="formData.esScrap || !formControl.ubicacionCargada"
					uib-typeahead="internacion as (internacion.numero_internado +' | '+ internacion.nombre_paciente) for internacion in data.internaciones | filter:$viewValue | limitTo:8"
					class="form-control"
					typeahead-on-select="validarInternacion()"
					ng-change="validarInternacion()"
					typeahead-select-on-exact="true">
		</div>
		
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
			<BR>
			<div class="checkbox">
				<label>
					<input id="scrap_checkbox" type="checkbox" name="esScrap"
					ng-disabled=""
					ng-model="formData.esScrap"
					ng-change="">
					Scrap
				</label>
			</div>
		</div>

	</div>
	<div class="row" >
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
			<label for="cmb_tipo_documento" id="descatable_label">Producto </label>
			<input name="descartable" 
					id="descartable" type="text" 
					placeholder="Buscar producto..." 
					ng-model="filter.producto"
					ng-disabled=""
					uib-typeahead="material as (material.nombre +' | '+ material.presentacion) for material in data.materialesFiltro | filter:$viewValue | limitTo:8" 
					class="form-control"
					typeahead-on-select="filtrar()"
					ng-change="filtrar()"
					typeahead-select-on-exact="true">
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-12">
			<table class="table table-hover" >
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-left">Producto</th>
						<th class="text-left">Presentacion</th>
						<th class="text-left">Stock actual</th>
						<th class="text-center" style="width: 10%;">Asignar</th>
						<th class="text-left" style="width: 5%;"></th>
						<th class="text-left">Producto</th>
						<th class="text-left">Presentacion</th>
						<th class="text-left">Stock actual</th>
						<th class="text-center" style="width: 10%;">Asignar</th>
					</tr>
				</thead>
				<tbody ng-hide="formControl.loading || formControl.error">
					<tr ng-repeat="detalle in filter.ubicacionesDetalle" ng-if="$index % 2 == 0">
						<th	class="row text-left">{{ filter.ubicacionesDetalle[$index].Producto.nombre }}	</th>
						<td class="row text-left">{{ filter.ubicacionesDetalle[$index].Producto.presentacion }}</td>
						<td class="row text-left">{{ filter.ubicacionesDetalle[$index].stock_actual }}</td>
						<td class="row text-center">
							<div class="input-group">
								<span class="input-group-btn">
									<button type="button" 
										ng-hide=""
										class="btn btn-white btn-xs"
										ng-disabled="filter.ubicacionesDetalle[$index].minimo"
										ng-click="resta(filter.ubicacionesDetalle[$index])">
										<sa-icon name="MINUS"></sa-icon>
									</button>
								</span>
								<input type="text" min="0"
										class="form-control input-sm"
										ng-model="filter.ubicacionesDetalle[$index].cantidad_productos"
										ng-disabled="true"
										required>
								<span class="input-group-btn">
									<button type="button"
											ng-hide=""
											class="btn btn-white btn-xs"		
											ng-disabled="filter.ubicacionesDetalle[$index].maximo"
											ng-click="suma(filter.ubicacionesDetalle[$index])">
											<sa-icon name="NEW"></sa-icon>
									</button>
								</span>
							</div>
						</td>
						<td class="row text-left"></td>
						<th	class="row text-left">{{ filter.ubicacionesDetalle[$index+1].Producto.nombre }}	</th>
						<td class="row text-left">{{ filter.ubicacionesDetalle[$index+1].Producto.presentacion }}</td>
						<td class="row text-left">{{ filter.ubicacionesDetalle[$index+1].stock_actual }}</td>
						<td class="row text-center">
							<div class="input-group">
								<span class="input-group-btn">
									<button type="button" 
										ng-hide=""
										class="btn btn-white btn-xs"
										ng-disabled="filter.ubicacionesDetalle[$index+1].minimo"
										ng-click="resta(filter.ubicacionesDetalle[$index+1])">
										<sa-icon name="MINUS"></sa-icon>
									</button>
								</span>
								<input type="text" min="0"
										class="form-control input-sm"
										ng-model="filter.ubicacionesDetalle[$index+1].cantidad_productos"
										ng-disabled="true"
										required>
								<span class="input-group-btn">
									<button type="button"
										ng-hide=""
										class="btn btn-white btn-xs"
										ng-disabled="filter.ubicacionesDetalle[$index+1].maximo"
										ng-click="suma(filter.ubicacionesDetalle[$index+1])">
										<sa-icon name="NEW"></sa-icon>
									</button>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<sa-loading ng-if="formControl.loading"></sa-loading>
		</div>
	</div>
</div>