<sa-title
	title-name="vm.title.page"
	title-icon="LIST"

	btn-print-click="vm.formControl.printAll()"
	btn-print-disabled="vm.formControl.error || vm.formControl.loading"

	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading"
></sa-title>
<!-- El loading se muestra si se esta cargando el inicializador -->
<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<!-- El cuerpo se muestra si no se esta cargando el inicializador -->
<!-- O si se produjo algun error inicializando -->
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="row fila">
		<h4>Búsqueda avanzada</h4>
		<form name="formFilter"  novalidate>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="sucursal" >Sucursal Habilitadas</label>
					<select class="form-control "
						id="sucursal"
						ng-model="vm.filter.sucursal"
						ng-change="vm.paginacion.pageChanged()"
						ng-options="sucursal.Nombre for sucursal in vm.data.sucursales track by sucursal.Id">
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="" class="label-control ">Nombre del paciente</label>
					<input type="text" placeholder="Nombre del paciente" class="form-control"
						name="nombreCompletoPaciente"
						ng-model="vm.filter.nombreCompletoPaciente"
						ng-change="vm.paginacion.pageChanged()">
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="" class="label-control ">Código de mutual</label>
					<input type="text" placeholder="Código" class="form-control"
						name="codigoMutual"
						ng-model="vm.filter.codigoMutual"
						ng-change="vm.paginacion.pageChanged()">
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="" class="label-control ">Nombre de mutual</label>
					<input type="text" placeholder="Nombre de la mutual" class="form-control"
						name="nombreMutual"
						ng-model="vm.filter.nombreMutual"
						ng-change="vm.paginacion.pageChanged()">
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1 ">
				<div sa-form-input>
					<label for="cmb_tipo_habitacion_fisica" class="label-control">Tipo Habitación</label>
					<select class="form-control"
						id="cmb_tipo_habitacion_fisica"
						ng-model="vm.filter.tipoHabitacionFisica"
						ng-change="vm.paginacion.pageChanged()"
						ng-options="tipoHabitacion.nombre_tipo_habitacion for tipoHabitacion in vm.data.tiposHabitacionFisica track by tipoHabitacion.id_tipo_habitacion_fisica">
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="cmb_cargo_afiliado" >Hab. cargo afiliado</label>
					<select class="form-control"
						id="cmb_cargo_afiliado"
						ng-model="vm.filter.cargoAfiliado"
						ng-change="vm.paginacion.pageChanged()" >
						<option value="">TODAS</option>
						<option value="true">SI</option>
						<option value="false">NO</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="cmb_alta_medica_pendiente" >Alta pendiente</label>
					<select class="form-control"
						id="cmb_alta_medica_pendiente"
						ng-model="vm.filter.altaPendiente"
						ng-change="vm.paginacion.pageChanged()" >
						<option value="">TODAS</option>
						<option value="medica">Médica</option>
						<option value="enfermeria">Enfermería</option>
						<option value="administrativa">Administrativa</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="" class="label-control ">Dias internado minimo</label>
					<input type="number" placeholder="Dias mínimo de internacion" class="form-control"
						name="diasInternado"
						min="0"
						max="9999"
						ng-model="vm.filter.diasInternado"
						ng-change="vm.paginacion.pageChanged()">
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="cmb_tiene_valor_upa" >Valor UPA</label>
					<select class="form-control"
						id="cmb_tiene_valor_upa"
						ng-model="vm.filter.valorUpaMinimo"
						ng-change="vm.paginacion.pageChanged()" >
						<option value="">TODAS</option>
						<option value="false">NO TIENE</option>
						<option value="0">Mayor o igual a 0</option>
						<option value="1">Mayor o igual a 1</option>
						<option value="2">Mayor o igual a 2</option>
						<option value="3">Mayor o igual a 3</option>
						<option value="4">Mayor o igual a 4</option>
						<option value="5">Mayor o igual a 5</option>
						<option value="6">Mayor o igual a 6</option>
						<option value="7">Mayor o igual a 7</option>
						<option value="8">Mayor o igual a 8</option>
						<option value="9">Mayor o igual a 9</option>
						<option value="10">Mayor o igual a 10</option>
						<option value="11">Mayor o igual a 11</option>
						<option value="12">Mayor o igual a 12</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="cmb_tiene_valor_upa" >Tiene cama</label>
					<select class="form-control"
						id="cmb_tiene_valor_upa"
						ng-model="vm.filter.tieneCama"
						ng-change="vm.paginacion.pageChanged()" >
						<option value="">TODAS</option>
						<option value="true">SI TIENE</option>
						<option value="false">NO TIENE</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1">
				<div sa-form-input>
					<label for="" class="label-control ">N° de internado</label>
					<input type="number" placeholder="Número de internado" class="form-control"
						name="numeroInternado"
						ng-model="vm.filter.numeroInternado"
						ng-change="vm.paginacion.pageChanged()">
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 col-xl-1 pull-right">
					<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.filter.clean()">Limpiar</button>
			</div>
		</form>
	</div>
	<div class="row ">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
			<div class="btn-group">
				<a class="btn btn-warning" ui-sref-active="active" ui-sref="internado.list.all.censo">Censo</a>
				<a class="btn btn-warning" ui-sref-active="active" ui-sref="internado.list.all.camas">Camas</a>
				<a class="btn btn-warning" ui-sref-active="active" ui-sref="internado.list.all.prorrogas">Prorrogas</a>
				<a class="btn btn-danger" ui-sref-active="active" ui-sref="internado.list.all.upa">UPA</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group pull-right">
			<select class="form-control"
				id="cmb_orderby"
				ng-model="vm.order"
				ng-change="vm.paginacion.pageChanged()"
				ng-options="order.descripcion for order in vm.listOrderBy track by order.id">
				<option value="">ORDENAR POR</option>
			</select>
		</div>
	</div>
	<div class="row" >
		<ui-view><sa-loading></sa-loading></ui-view>
	</div><!-- .row>-->
	<div>
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination
					boundary-links="true"
					max-size="9"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged()"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div><!-- .row>-->
</div>