<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8">
		<div class="text-center">
			<div uib-pagination
				items-per-page="table.pagination.pageSize"
				total-items="table.pagination.totalItems"
				ng-model="table.pagination.currentPage"
				ng-change="pageChanged(table.pagination, table.id)"
				previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 pull-right" >
		<div ng-click="mostrar = !mostrar" class="fw-noselect">
			<label class="fw-selectable">Items por página</label>
			<span ng-if="!mostrar" class="badge" ng-bind="table.pagination.pageSize"></span>
		</div>
		<span class="input-group" ng-if="mostrar" ng-init="pageSize = table.pagination.pageSize">
			<input type="number" name="pageSize" class="form-control"
				fw-enter-click="pageSizeChanged(pageSize, table.pagination, table.id)"
				ng-model="pageSize"
				ng-required="true"
				min="1"
				ng-max="1000">
			<span class="input-group-btn" >
				<button type="button" class="btn btn-success"
					ng-click="pageSizeChanged(pageSize, table.pagination, table.id)"
					ng-disabled="!table.pagination.pageSize">
					<fw-icon name="CHECK"></fw-icon>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 pull-right fw-noselect">
		<label>Cantidad de items: </label>
		<span class="badge" ng-bind="table.pagination.totalItems"></span>
	</div>
</div>