<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
<div class="row fila">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Código</label>
		<input type="text" ng-model="vm.filter.codigo" ng-disabled="true" id="codigo-lista-edit-facturacion-mutual">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 form-group" sa-form-input>
		<label>Nombre completo</label>
		<input type="text" ng-model="vm.filter.nombreCompleto" ng-disabled="true" id="nombre-completo-lista-edit-facturacion-mutual">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
		<label>Nombre corto</label>
		<input type="text" ng-model="vm.filter.nombreCorto" ng-disabled="true" id="nombre-corto-lista-edit-facturacion-mutual">
	</div>
</div>
<form name="formLista" ng-if="!vm.formControl.loading" novalidate>
	<div class="row">
		<h4>Lista de facturación del financiador</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group" sa-form-input-validate>
			<label>Nombre</label>
			<input type="text" class="form-control text-uppercase" maxlength="100" ng-model="vm.filter.nombreLista" name="Nombre" ng-required="true"
				id="nombre-lista-edit-facturacion-mutual" sa-enter autofocus required>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group">
			<label>Descripción</label>
			<input type="text" class="form-control" maxlength="250" ng-model="vm.filter.descripcion" name="Descripcion" sa-enter id="descripcion-lista-edit-facturacion-mutual">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
			<label>Tipo Prefacturable</label>
			<select class="form-control" ng-model="vm.filter.tipoPrefacturableElegido" ng-options="tipoPrefacturables.Nombre for tipoPrefacturables in vm.data.tipoPrefacturables"
			 sa-enter id="tipo-prefacturable-lista-edit-facturacion-mutual-cmb">
				<option value="">TODOS</option>
			</select>
		</div>
	</div>
	<button type="button" class="btn btn-default pull-right" tooltip-placement="top" uib-tooltip="Agregar prefacturable" ng-click="vm.formControl.editarPrefacturable(null, null)"
		sa-punto-click="vm.formControl.editarPrefacturable(null, null)" sa-enter id="agrega-prefacturable-lista-edit-facturacion-mutual-btn">
		<sa-icon name="PLUS"></sa-icon>
	</button>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
			<fw-table-container>
				<fw-table-rowset data="vm.data.listaFacturacionMutual.Items.Rows" id-elements="lista-edit-facturacion-mutual-rows">
				</fw-table-rowset>
				<fw-table-columnset data="vm.data.listaFacturacionMutual.Items.Columns">
				</fw-table-columnset>
				<fw-table-buttonset>
					<fw-table-button
						visible="btnEditIf"
						label="'Editar'"
						icon="'EDIT'"
						id-element="lista-edit-facturacion-mutual-btn"
						action="vm.formControl.editarPrefacturable(row, index)">
					</fw-table-button>
					<fw-table-button
						visible="true"
						label="'Eliminar'"
						icon="'DEL'"
						id-element="lista-edit-facturacion-mutual-btn"
						action="vm.formControl.borrarPrefacturable(row, index)">
					</fw-table-button>
				</fw-table-buttonset>
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>
	<br>
	<div class="row form-group">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-12 form-group">
			<button class="btn btn-cancel" ng-click="vm.formControl.limpiarLista()" sa-punto-click="vm.formControl.limpiarLista()" sa-enter>
				Limpiar Lista
			</button>
			<button class="btn btn-cancel" ng-disabled="vm.data.listaFacturacionMutual.Id === 0" ng-click="vm.formControl.selectorImportacion()"
			 sa-punto-click="vm.formControl.selectorImportacion()" sa-enter>
				Importar desde Excel
			</button>
			<button class="btn btn-cancel" ng-disabled="vm.data.listaFacturacionMutual.Id === 0" ng-click="vm.formControl.exportarExcel()"
			 sa-punto-click="vm.formControl.exportarExcel()" sa-enter>
				Exportar a Excel
			</button>
		</div>
	</div>
	<div class="row" ng-if="vm.data.selectorVisible">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
			<fw-file-upload title="Seleccione archivo XLSX a importar" url="ListasFacturacionMutual/ImportarExcel" data="vm.data.listaFacturacionMutual"
			 confirmation-message="Esta operación reemplazará la lista de prefacturables por el contenido del archivo seleccionado. ¿Desea continuar?"
			 need-confirmation="true" boton-subir="true" file-extensions=".xlsx">
			</fw-file-upload>
		</div>
	</div>
	<div class="row text-center">
		<button class="btn btn-cancelar" ng-click="vm.formControl.cancelar()" sa-punto-click="vm.formControl.cancelar()" sa-enter>
			Cancelar
		</button>
		<button class="btn btn-default" type="submit" ng-click="vm.formControl.guardar(formLista.$valid)" sa-punto-click="vm.formControl.guardar(formLista.$valid)"
		 sa-enter>
			Guardar
		</button>
	</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>