<form name="formprefactura" novalidate>
	<sa-modal-header title-name="{{vm.title.name}}" title-icon="vm.title.icon">
	</sa-modal-header>

	<sa-modal-body >
		<sa-prefacturable-selector model='vm.prefacturableElegido' init-tipo='vm.initTipo' ng-disabled="false" sa-enter></sa-prefacturable-selector>
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
		<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" 
		sa-enter sa-punto-click="vm.guardar()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>


<!--Para q levante el modulo, importe en la app.ts gral(carpeta principal), el modulo edti, list etc -->