<form name="formprefactura" novalidate>
	<sa-modal-header title-name="{{vm.title.name}}" title-icon="vm.title.icon">
	</sa-modal-header>

	<sa-modal-body>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
				El financiador necesita codigo de seguridad de credencial o token virtual para poder autorizar
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 form-group">
				<label>CSC</label>
				<input type="number" ng-model="vm.csc" class="form-control" maxlength="6"
				 sa-enter id="pref-amb-edit-csc-input">
			</div>
		</div>
		
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
		<input type="submit" id="btnAgregarEditar" value="Continuar Autorizando" class="btn btn-default" ng-click="vm.guardar()"
			sa-enter sa-punto-click="vm.guardar()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>


<!--Para q levante el modulo, importe en la app.ts gral(carpeta principal), el modulo edti, list etc -->