<form name="formListaFacturacion" novalidate>
    <button type="button" class="btn btn-default pull-right" uib-tooltip="Agregar nueva lista" tooltip-placement="left" uib-dropdown-toggle
        ng-click="vm.formControl.editarListaFacturacion(null, null)" sa-punto-click="vm.formControl.editarListaFacturacion(null, null)" sa-enter
        id="lista-facturacion-mutual-edit-agrega-lista-btn">
        <sa-icon name="PLUS"></sa-icon>
    </button>
    <fw-table-container>
        <fw-table-rowset data="vm.data.listasMutual.Rows" id-elements="lista-facturacion-mutual-edit-rows">
        </fw-table-rowset>
        <fw-table-columnset data="vm.data.listasMutual.Columns">
        </fw-table-columnset>
        <fw-table-buttonset>
            <fw-table-button
                visible="btnEditIf"
                label="'Editar'"
                icon="'EDIT'"
                id-element="lista-facturacion-mutual-edit-btn"
                action="vm.formControl.editarListaFacturacion(row.Id, index)">
            </fw-table-button>
            <fw-table-button
                visible="true"
                label="'Eliminar'"
                icon="'DEL'"
                id-element="lista-facturacion-mutual-edit-btn"
                action="vm.formControl.eliminar(row, index)">
            </fw-table-button>
        </fw-table-buttonset>
        <fw-table></fw-table>
    </fw-table-container>
    <sa-loading ng-if="vm.loading"></sa-loading>
</form>