<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		<div sa-form-input-validate>
			<label>Regla</label>
			<input type="text"
				name="reglaFormatoNumeroAfil"
				ng-model="vm.filter.ReglaFormatoNumeroAfiliado" 
				ng-blur="vm.formControl.reglaFormatoNumeroAfiliadoBlur()"
				ng-required="false"
				ng-disabled="true"
				maxlength="35"
				id="reglaFormatoNumeroAfiliadoReglasAfiliado"
				sa-enter>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		<div sa-form-input-validate>
			<label>Máscara</label>
			<input type="text"
				name="MascaraNumeroAfil"
				ng-model="vm.filter.MascaraNumeroAfiliado" 
				ng-blur="vm.formControl.mascaraNumeroAfiliadoBlur()"
				ng-required="false"
				maxlength="30"
				id="mascaraNumeroAfiliadoBlur"
				sa-enter>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		<div sa-form-input-validate>
			<label>Ejemplo</label>
			<input type="text"
				name="ejemploNroAfil"
				ng-model="vm.filter.EjemploFormatoNumeroAfiliado" 
				ng-blur="vm.formControl.ejemploFormatoNumeroAfiliadoBlur()"
				maxlength="30"
				ng-required="false"
				id="ejemploNroAfiliadoReglasAfiliado"
				sa-enter>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div sa-form-input-validate>
			<label>Información Nro Afiliado</label>
			<textarea
			    type="text"
			    class="form-control"
				name="informacionNroAfil"
				ng-model="vm.filter.InformacionNumeroAfiliado"
				ng-blur="vm.formControl.informacionNumeroAfiliadoBlur()"
				maxlength="255"
				ng-required="false"
				rows="10"
				id="informacionNroAfiliadoReglasAfiliado">
		</div>
	</div>
</div>
