<ng-form name="formTabResponsables">
	<div class="row fila">
		<h4 >
			<span>Responsables del paciente</span>
			<div class="btn-group pull-right">
				<button
					id="btn_nuevo_responsable"
					type="button"
					class="btn btn-default"
					ng-click="vm.responsable.open()"
					uib-tooltip="Nuevo">
					<sa-icon name="NEW"></sa-icon>
				</button>
			</div>
		</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
			<table class="table table-hover" id="tabla_responsables">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Documento</th>
						<th class="text-center">Nombre y apellido</th>
						<th class="text-center">Relacion</th>
						<!-- <th class="text-center">Defecto</th> -->
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="responsable in vm.data.paciente.PacientesResponsables" context-menu="menuOptionsR">
						<td class="text-center">
							<div ng-bind="responsable.TipoDocumentoPacienteNombre + ': ' + responsable.NumeroDocumentoPaciente"></div>
						</td>
						<td class="text-center">
							<div ng-bind="responsable.PacienteNombre"></div>
						</td>
						<td class="text-center">{{ responsable.TipoRelacionPacienteNombre || 'S/Datos' }}</td>
						<!--<td>
							 <select id="cmb_tipo_relacion"
								name="tipoRelacion{{$index}}" class="form-control"
								ng-model="responsable.TipoRelacion"
								ng-required="true"
								ng-options="tipoRelacion.nombre_relacion
									for tipoRelacion in vm.data.tiposRelacionPaciente
									track by tipoRelacion.id_tipo_relacion">
								<option value="">-SELECCIONAR-</option>
							</select>
						</td> -->
						<!-- <td class="text-center"> -->
							<!-- <sa-check-box ng-model="responsable.Defecto"
								color="blue"
								ng-disabled="responsable.Defecto"
								ng-change="vm.responsable.changeDefecto(responsable)">
							</sa-check-box> -->
<!-- 							<input type="checkbox" class="checkbox" name="chkDefectoResponsable"
								ng-model="responsable.Defecto"
								ng-disabled="responsable.Defecto"
								ng-change="vm.responsable.changeDefecto(responsable)"> -->
						<!-- </td> -->
						<td class="text-center">
							<!-- <button type="button" class="btn btn-white btn-xs"
								uib-tooltip="Editar" tooltip-placement="top"
								ng-click="vm.responsable.edit(responsable)">
								<sa-icon name="EDIT"></sa-icon>
							</button> -->
							<button type="button" class="btn btn-white btn-xs" id="btn_delete"
								uib-tooltip="Anular" tooltip-placement="top"
								ng-click="vm.responsable.delete($index)">
								<sa-icon name="DEL"></sa-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-hide="vm.data.paciente.PacientesResponsables.length" class="text-error text-center">No tiene responsables cargados</div>
		</div>
	</div>
</ng-form>