<form name="formServicioEdit" accept-charset="utf-8" ng-hide="vm.formControl.loading" novalidate>
	<sa-modal-header title-name="Editar Servicio" title-icon="EDIT">
	</sa-modal-header>
	<sa-modal-body loading="vm.formControl.loading">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<div sa-form-input-validate>
					<label>Nombre</label>
					<input type="text" name="nombreServicio" ng-model="vm.data.servicio.Nombre" ng-disabled="1" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-12 col-md-12 col-lg-4 ">
				<sa-check-box label="Permite turno web" ng-model="vm.data.servicio.PermiteTurnoWeb" color="green" sa-enter></sa-check-box>
			</div>
			<div class="col-xs-6 col-sm-12 col-md-12 col-lg-4 ">
				<sa-check-box label="Asignar técnico en prefactura" ng-model="vm.data.servicio.AsignarTecnicoPrefactura" color="green" sa-enter></sa-check-box>
			</div>
			<div class="col-xs-6 col-sm-12 col-md-12 col-lg-4 ">
				<sa-check-box label="Enviar a Caja al receptar" ng-model="vm.data.servicio.EnviarACajaAlReceptar" color="green" sa-enter></sa-check-box>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div sa-form-input-validate>
					<label>Observación para Turnos</label>
					<textarea name="observacionServicio" class="form-control noresize" ng-model="vm.data.servicio.ObservacionTurno">
					</textarea>
				</div>
			</div>
		</div>
	</sa-modal-body>
	<sa-modal-footer>
		<input type="submit" sa-btn-cancel ng-click="vm.formControl.cancel()" value="Cancelar">
		<input type="submit" id="btnAgregarEditar" value="Guardar" sa-btn-save ng-click="vm.formControl.ok(formServicioEdit.$valid)">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>