<form name="formServicioNew" accept-charset="utf-8"
	ng-hide="vm.formControl.loading" novalidate>
	<div class="modal-header">
		<h4 class="modal-title">
		<sa-icon name="NEW"></sa-icon>
		Nuevo Servicio Medico
		</h4>
	</div>
	<div class="modal-body">
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
				<div sa-form-input-validate>
					<label>Nombre (*)</label>
					<input type="text"
					name="nombreServicio"
					ng-model="vm.data.servicio.Nombre"
					required>
				</div>
			</div>
			<div class="col-xs-6 col-sm-12 col-md-12 col-lg-3 ">
					<sa-check-box label="Permite turno web" ng-model="vm.data.servicio.PermiteTurnoWeb" color="green" sa-enter></sa-check-box>
				</div>
				<div class="col-xs-6 col-sm-12 col-md-12 col-lg-3 ">
					<sa-check-box label="Asignar técnico en prefactura" ng-model="vm.data.servicio.AsignarTecnicoPrefactura" color="green" sa-enter></sa-check-box>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
					<div sa-form-input-validate>
						<label>Observación para Turnos</label>
						<textarea name="observacionServicio" class="form-control noresize" ng-model="vm.data.servicio.Observacion">
						</textarea>
					</div>
				</div>
			</div>
	</div>
	<div class="modal-footer" ng-hide="vm.formControl.loading">
		<input type="submit"
			sa-btn-cancel
			ng-click="vm.formControl.cancel()" value="Cancelar">
		<input type="submit" id="btnAgregarEditar" value="Guardar"
			sa-btn-save
			ng-click="vm.formControl.ok(formServicioNew.$valid)" >
	</div>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>