<sa-modal-header title-name="Documentos" title-icon="CARPETA">
</sa-modal-header>
<sa-modal-body>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group" sa-form-input>
			<label for="tipoDocumento">Tipo Documento</label>
			<select id="tipoDocumento" name="tipoDocumento" ng-model="vm.tipoDocumentoElegido" ng-change="vm.cambiarTipoDocumento()"
			 ng-options="tipoDocumento.Nombre for tipoDocumento in vm.tipoDocumentoSelect track by tipoDocumento.Id" sa-enter>
			</select>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group pull-left">
			<sa-listado-documentos-basico model="vm.documentosAsociados" url="vm.url" data="vm.docAsociado" boton-subir="true" file-extensions="vm.extensionesArchivos"
			 id-tipo-entidad-contenedora-documentos="vm.idTipoEntidadContenedoraDocumentos" id-entidad-contenedora-documentos="vm.idEntidadContenedoraDocumentos">
			</sa-listado-documentos-basico>
		</div>
	</div>
</sa-modal-body>

<sa-modal-footer>
	<input type="submit" id="btnAgregarEditar" value="Aceptar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
</sa-modal-footer>


<!--Para q levante el modulo, importe en la app.ts gral(carpeta principal), el modulo edti, list etc -->