<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 form-group">
		<input type="text" class="form-control" placeholder="Seleccionar archivo" disabled="true" value="{{file.name}}" aria-label="Seleccionar archivo" aria-describedby="basic-addon2">
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 form-group">
		<button class="btn btn-primary no-valid" ngf-select ng-model="file" name="file" ngf-max-size="20MB" ngf-min-height="100" 
			ngf-accept="{{extensions}}" accept="{{extensions}}" sa-enter>Buscar</button>
		<button class="btn btn-success no-valid" ng-show="file && {{botonSubir}}" ng-click="subir()" sa-punto-click="subir()" sa-enter>Subir</button>
		<button class="btn btn-warning no-valid" ng-show="file" ng-click="limpiar()" sa-punto-click="limpiar()" sa-enter>Limpiar</button>
	</div>
</div>