<div class="row">
	<div class="col-xs-12">
		<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}"></sa-title>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
		<label class="control-label">Fecha Desde</label>
		<sa-date-time-picker ng-model="vm.fechaDesde" id="1" type="date" ng-change="vm.changeFechaDesde();vm.buscarTurnos()">
		</sa-date-time-picker>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
		<label class="control-label">Fecha Hasta</label>

		<sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date" min="vm.fechadesdeMin" ng-change="vm.buscarTurnos()">
		</sa-date-time-picker>
	</div>


	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
		<label for="txt_nombre_servicio" class="label-control ">Servicio</label>
		<input type="text" class="form-control text-uppercase" id="txt_nombre_servicio" name="nombreServicio" ng-disabled="true"
		 ng-model="vm.servicio.Nombre">
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
		<label for="txt_nombre_recurso" class="label-control ">Recurso</label>
		<input type="text" class="form-control text-uppercase" id="txt_nombre_recurso" name="nombreRecurso" ng-disabled="true"
		 ng-model="vm.recurso.Nombre">
	</div>
</div>


<div class="row">

	<div class="col-xs-12">
		<h3 ng-if="vm.listaTurnos">Seleccionar Turnos Para Receso ({{vm.getTurnosSelected()}})</h3>
		<table class="table table-responsive" id="turnos_recesos_list" ng-if="vm.listaTurnos">
			<thead>
				<tr class="cabecera-tabla">
					<th class="text-center">
						<label class="material-checkbox" uib-tooltip="Seleccionar Todos" uib-tooltip-placement="top">
							<input type="checkbox" ng-model="vm.seleccionarTodos" ng-change="vm.seleccionarTodosChange()">
							<span class="check-rojo"></span>
						</label>
					</th>
					<th class="text-left">Fecha</th>
					<th class="text-left">Hora</th>
					<th class="text-left">ST</th>
					<th class="text-left">Estado</th>
					<th class="text-left">Dur.</th>
					<th class="text-left">Sucursal</th>
					<th class="text-left">Paciente</th>
					<th class="text-left">Financiador</th>
					<th class="text-left">Tipo Turno</th>
					<th class="text-left">Prestación</th>
					<th class="text-left">Fecha Asignación</th>

				</tr>
			</thead>
			<!-- BODY -->
			<tbody ng-if="vm.listaTurnos" ng-repeat="turno in vm.dataFilter">
				<tr>
					<td class="text-center">
						<label class="material-checkbox" >
							<input type="checkbox" ng-model="turno.ConRecesoIndividual" ng-change="vm.checkRow(turno)">
							<span class="check-rojo"></span>
						</label>
					</td>
					<th>
						{{ turno.Fecha | date:'dd/MM/yyyy'}}</th>
					<th>
						{{ turno.Hora}}</th>
					<th>
						{{ (turno.EsSobreTurno) ? 'SI' : 'NO'}}</th>
					<th ng-class="turno.ColorEstado">
						{{ turno.NombreEstado}}</th>
					<th>
						{{ turno.Duracion}}</th>
					<th ng-class="turno.ColorSucursal">
						{{ turno.NombreSucursal}}</th>
					<th>
						{{ turno.Paciente}}</th>
					<th>
						{{ turno.MutualYPlan}}</th>
					<th>
						{{ turno.TipoTurno}}</th>
					<th>
						{{ turno.Prestaciones}}</th>
					<th>
						{{ turno.FechaAlta}}</th>
					
				</tr>
			</tbody>
		</table>
	</div>

</div>

<!-- Paginacion zone -->
<div class="col-xs-12">
		<div class="text-center ">
			<div uib-pagination boundary-links="true " max-size="9 " items-per-page="vm.paginacion.pageSize " total-items="vm.paginacion.totalItems "
			 ng-model="vm.paginacion.currentPage " ng-change="vm.pageChanged() " previous-text="&lsaquo; " next-text="&rsaquo; "
			 first-text="&laquo; " last-text="&raquo; ">
			</div>
		</div>
	</div>

<div class="row fila">
	<div class="text-center">
		<div class="btn-group ">
			<button class="btn btn-cancel" ng-click="vm.cancel()">
				<span>Volver</span>
			</button>
			<button class="btn btn-default" ng-click='vm.save()' ng-disabled="vm.listaTurnos.length == 0">Guardar Receso Individual</button>
		</div>
	</div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>