<div class="modal-header" ng-hide="loading">
	<div ng-if="!print">
		<div ng-if="titleIf">
			<h4 class="modal-title">
				<sa-icon name="{{titleIcon}}"></sa-icon>&nbsp;
				<span ng-bind="titleName || 'Título del modal'"></span>
			</h4>
		</div>
		<div ng-if="!titleIf" ng-transclude></div>
	</div>
	<div ng-if="print">
		<div class="row fila-print">
			<div class="col-xs-3 " >
				<sa-logo></sa-logo>
			</div>
			<div class="col-xs-6 text-center">
				<div ng-if="!titleIf" ng-transclude></div>
				<div ng-if="titleIf">
					<h4 class="modal-title">
						<span ng-bind="titleName || 'Título del modal'"></span>
					</h4>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="row">
					<div class="col-xs-12" ng-if="fecha">
						<span class="pull-right">Fecha: {{ fecha | date : 'dd/MM/yyyy' }}</span>
					</div>
					<div class="col-xs-12" ng-if="sucursal">
						<label class="pull-right">Sucursal: {{ sucursal.descripcion || sucursal.Nombre }} </label>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>