<div ng-hide="vm.formControl.loading">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-select-option-title">
            <span ng-class="QUESTION"></span>
            {{ vm.title.page }}
        </h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="card" ng-repeat="option in vm.data.options" id="modal-select-option-{{$index}}" ng-click="vm.selectOption(option)" ng-class="{'td-disabled' : option.disabled}">
                <div class="container" >
                    <strong>{{option.label}}</strong>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn " ng-click="vm.formControl.cancel()">
        <sa-icon name="DEL"></sa-icon>
        Cancelar
    </button>
</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>