<div ng-hide="vm.formControl.loading">
	<div class="modal-header">
		<h4 class="modal-title">
			<span ng-class="vm.title.icon"></span>
			{{ vm.title.page }}
		</h4>
	</div>
	<div class="modal-body">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4px;">

				<textarea rows="9" class="form-control textarea-xl"  placeholder="Ingrese texto..." ng-readonly="vm.formControl.readOnly" 
				ng-model="vm.data.textAreaData" ng-maxlength="vm.maxlength" >
				</textarea>
				<span class="label pull-right" ng-class="(vm.data.textAreaData.length > vm.maxlength - 10) 
						? ((vm.data.textAreaData.length == vm.maxlength) ? 'label-danger' : 'label-warning') : 'label-default'">
						{{vm.data.textAreaData.length ? vm.data.textAreaData.length : 0}}/{{vm.maxlength}}
				</span>
			</div>

		</div>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn " ng-click="vm.formControl.cancel()" id="modal-text-area-bnt-cancelar">
		<sa-icon name="DEL"></sa-icon>
		Cancelar
	</button>
	<button type="button" class="btn btn-primary" ng-click="vm.guardar()" ng-if="vm.data.options.guardarOption" ng-disabled="!vm.data.textAreaData" id="modal-text-area-bnt-guardar">
		<sa-icon name="SAVE"></sa-icon>
		Guardar
	</button>
</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>