<div id="modal-validar-warning" ng-hide="vm.formControl.loading">
	<form name="formSistema" accept-charset="utf-8" novalidate>
		<sa-modal-header
		title-name="{{vm.title.page}}"
		title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
		<div class="row">
			
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="itemWarning in vm.data.warningsMsj">
						<strong>{{itemWarning}}</strong>
					</li>
				</ul>
			</div>

			<div class="col-xs-12">
				<label>Desea continuar de todas maneras?</label>
			</div>
		</div>
		
		</sa-modal-body>
		<sa-modal-footer>
		<input type="submit"
		class="btn" id="btn-cancelar"
		ng-click="vm.formControl.cancel()" value="NO">
		<input type="submit" id="btnAgregarEditar" value="SI"
		class="btn btn-default"
		ng-click="vm.formControl.ok()">
		</sa-modal-footer>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>