<form name="formCantidadDias" accept-charset="utf-8" novalidate ng-hide="vm.formControl.loading">

	<div class="modal-header" style="padding-bottom: 5px;padding-top: 5px;">
		<h4 class="modal-title">
			<sa-icon name="EYE_OPEN"></sa-icon>
			Plantilla - Servicio: {{vm.data.plantilla.Servicio}} - Recurso: {{vm.data.plantilla.Recurso}}
		</h4>
	</div>

	<div class="modal-body">

		<div class="row">

			<div ng-class="{'col-xs-2' : 'vm.data.showLista'}" ng-show="vm.data.showLista">
				<ul class="list-group">
					<li class="list-group-item fw-selectable" ng-repeat="itemLista in vm.data.plantillaLista" ng-click="vm.formControl.changeItem(itemLista)"
					    ng-class="{'color-aquaorange-turno': itemLista.Id === vm.itemPlantilla.itemSeleccionado.Id}">
						{{itemLista.FechaDesde | date : 'dd/MM/yy'}} - {{itemLista.FechaHasta | date : 'dd/MM/yy'}}
					</li>
				</ul>
			</div>

			<div ng-class=" vm.data.showLista ? 'col-xs-10' : 'col-xs-12'">

				<div class="row">

					<div class="col-xs-12 col-sm-6 col-md-1 col-lg-1 form-group " ng-if="vm.data.plantillaLista">
						<button type="button" class="btn btn-default btn-row " ng-if="!vm.data.showLista" ng-click="vm.data.showLista = (vm.data.showLista) ? false : true;">
							<sa-icon name="NEXT"></sa-icon>
						</button>
						<button type="button" class="btn btn-default btn-row " ng-if="vm.data.showLista" ng-click="vm.data.showLista = (vm.data.showLista) ? false : true;">
							<sa-icon name="DOWN"></sa-icon>
						</button>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" style="margin-top: 12px;">
						<label>
							<strong>Fecha Desde</strong>
						</label>
						<div ng-bind="vm.data.plantilla.FechaDesde"></div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" style="margin-top: 12px;">
						<label>
							<strong>Fecha Hasta</strong>
						</label>
						<div ng-bind="vm.data.plantilla.FechaHasta"></div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>Estado</strong>
						</label>
						<div ng-bind="vm.data.plantilla.Estado"></div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" style="margin-top: 12px;">
						<button type="button " class="btn btn-warning" ng-click="vm.formControl.verObservacion(vm.data.plantilla.Observaciones) ">
							Ver Observación</button>
					</div>


					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group" style="margin-top: 12px;">
						<sa-check-box ng-model="vm.data.sobreturnosFilter" color="green" ng-change="vm.formControl.mostrarSobreturnosChange()" label-right="'Mostrar Sobreturnos'"
						    pull-right="true">
						</sa-check-box>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<sa-check-box ng-model="vm.data.calendarView" color="green" label-right="'Cambiar Vista'" ng-change="vm.formControl.cambiarVista();" pull-right="true">
						</sa-check-box>
					</div>

				</div>

				<div class="row" ng-show="vm.data.calendarView">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="calendar calendar-today" calendar="calendarPlantillaView" ui-calendar="vm.uiConfig.calendarView">
						</div>
					</div>
				</div>

				<div class="row" ng-show="!vm.data.calendarView">

					<div class="col-xs-12">
						<table class="table table-hover table-condensed table-bordered " id="tablaItemsDePlantilla">
							<thead>
								<tr class="cabecera-tabla">
									<th class="text-center">
										Día
									</th>
									<th class="text-center">
										Desde - Hasta
									</th>
									<th class="text-center">
										Duración
									</th>
									<th class="text-center">
										ST
									</th>
									<th class="text-center">
										Sucursal
									</th>
									<th class="text-center">
										Tipo Turno
									</th>
									<th class="text-center">
										Prestaciones
									</th>
									<th class="text-center">
										Sala-Consultorio
									</th>
									<th class="text-center">
										Visible Portal
									</th>
									<th class="text-center">
										Edad/Sexo/Prof
									</th>
									<th class="text-center">
										Cupo
									</th>

								</tr>
							</thead>
							<tbody ng-repeat="item in vm.itemsPlantilla.itemsCompleto | orderBy:['IdDia', 'HoraDesde'] " ng-click="vm.formControl.clickVerItemPlantilla(item)">
								<tr>
									<td class="row text-center" ng-bind="item.Dia"></td>
									<td class="row text-center">{{ item.HoraDesde }} - {{ item.HoraHasta }}</td>
									<td class="row text-center">{{ item.DuracionMinima }} </td>
									<td class="row text-center">{{ item.ST }} </td>
									<td class="row text-center" ng-class="item.SucursalColor">{{ item.Sucursal }} </td>
									<td class="row text-center" ng-class="{ 'color-violeta-turno-reservado' : item.IdTipoTurno === 4 }">{{ item.TipoTurno }} </td>
									<td class="row text-center">{{ item.nombreTipoPrestacionesAsignables }} </td>
									<td class="row text-center">{{ item.SalaEspera }} - {{ item.Consultorio }}</td>
									<td class="row text-center">{{ item.VisibleAutogestionWebTexto }} </td>									
									<td class="row text-center">{{ item.FiltroDeEdadSexoProfesional }}</td>
									<td class="row text-center">{{ item.Cupo }} </td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row" ng-hide="!vm.data.plantillaSelected">

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>SOBRETURNO</strong>
						</label>
						<div>{{vm.data.plantillaSelected.EsSobreTurno ? 'SI' : 'NO'}}</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>Tipo</strong>
						</label>
						<div ng-bind="vm.data.plantillaSelected.TipoTurno"></div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>Duracion</strong>
						</label>
						<div>{{vm.data.plantillaSelected.DuracionMinima}} minutos</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>Prestaciones</strong>
						</label>
						<div ng-bind="vm.formControl.getPrestacionesDefinidas(vm.data.plantillaSelected)" ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables == 4"></div>
						<div ng-bind="vm.formControl.getGrupoPrestacionesDefinidas(vm.data.plantillaSelected)" ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables == 5"></div>
						<div ng-bind="vm.data.plantillaSelected.TipoPrestacionesAsignables" uib-tooltip="{{vm.data.prestacionesOpcionTodasDelRecurso}}" 
						ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables == 3"></div>
						
						<div ng-bind="vm.data.plantillaSelected.TipoPrestacionesAsignables" ng-if="vm.data.plantillaSelected.IdTipoPrestacionesAsignables <= 2">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" style="margin-top: 12px;">
						<label>
							<strong>{{vm.data.tituloProfesional}}</strong>
						</label>
						<div>{{vm.data.plantillaSelected.ProfesionalAtiende}}</div>
					</div>

				</div>

			</div>


		</div>


	</div>


	<div class="modal-footer" ng-hide="vm.formControl.loading">
		<input type="submit" id="btnExportarPdf" value="Exportar PDF" class="btn btn-success" ng-click="vm.formControl.exportarPdf()">
		<input type="submit" id="btnExportarExcel" value="Exportar XLS" class="btn btn-success" ng-click="vm.formControl.exportarExcel()">
		<input type="submit" id="btnReglas" value="Reglas De Turnos" class="btn btn-success" ng-click="vm.formControl.abrirReglasDeTurnos()">
		<input type="submit" id="btnAgregarEditar" value="Aceptar" class="btn btn-default" ng-click="vm.formControl.ok()">

	</div>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>