<form name="formBuscador" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Impacto aplicar plantilla </h4>
	</div>
	<div class="modal-body" >
	
		<div class="row">
		<h4><strong>ATENCION: al aplicar la plantilla seleccionada se produciran los siguientes cambios</strong>  </h4>

			<div class="col-xs-12">

				<table class="table table-hover table-condensed table-bordered" >
					<thead>
						<tr class="thead-azul">
							<tr class="cabecera-tabla">
								<th class="text-center" >
									Id Plantilla
								</th>
								<th class="text-center" >
									Detalle
								</th>
								<th class="text-center" >
									Fecha Desde
								</th>
								<th class="text-center" >
									Fecha Hasta
								</th>
								<th class="text-center" >
									Turnos potencialmente afectados
								</th>
								<!-- <th class="text-center">Seleccionar</th> -->
							</tr>
						</thead>
						<tbody ng-repeat="plantillaOpt in vm.data.plantilla"
							>
							<tr>
								<td class="row text-center">{{ plantillaOpt.IdPlantillaTurno}}</td>
								<td class="text-center">{{ plantillaOpt.Detalle}}</td>
								<td class="text-center">{{ plantillaOpt.PlantillaFechaDesde  | fwPicker:'date'}}</td>
								<td class="text-center">{{ plantillaOpt.PlantillaFechaHasta | fwPicker:'date'}} </td>
								<td class="row text-center">{{ plantillaOpt.TurnosPotencialmenteAfectados}}</td>
								<!-- <td class="row text-center">
									<input type="radio" ng-value="recurso" ng-model="vm.formData.recursoSeleccionado">
								</td> -->
							</tr>
						</tbody>
					</table>
			
				</div>
				
			</div>

			<h4 ><strong>Desea aplicarla de todas maneras?</strong>  </h4>
		</div>
		<div class="modal-footer" >
			<button type="button"
			class="btn "
			ng-click="vm.formControl.cancel()" sa-enter>NO</button>
			<button type="button"
			class="btn btn-default"
			ng-click="vm.formControl.ok()" sa-enter>SI</button>
		</div>
	</form>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>