<div id="reglas-cantidades" ng-hide="vm.formControl.loading">
	<form name="formReglasCantidades" accept-charset="utf-8" novalidate>

		<div class="modal-header">
			<h4 class="modal-title">
				<sa-icon name="LIST"></sa-icon>
				{{vm.title.page}}
			</h4>
		</div>
		<div class="modal-body">
			<div class="row">

				<div class="col-xs-2">
					Seleccione opción:
				</div>

				<div class="col-xs-2">
					<div class="btn-group">	

						<div class="radio">
							<input type="radio" ng-model="vm.formControl.optionMutual" value="mutual" >Mutual
						</div>
						<div class="radio">
							<input type="radio" ng-model="vm.formControl.optionMutual" value="grupomutual">Grupo Mutual
						</div>
					</div>

				</div>

				<div ng-switch="vm.formControl.optionMutual">
					<div ng-switch-when="mutual">
						<div class="col-xs-8">

							<sa-new-mutual-selector model="vm.data.mutualElegida" codigo-mutual-edit="vm.data.codigoMutual" ng-disabled="vm.data.grupoMutual" habilitadas="true"></sa-new-mutual-selector>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
									<sa-plan-mutual ng-model="vm.data.planMutual" id-mutual="vm.data.mutualElegida.Id" id-plan-elegido="vm.data.IdPlanElegido"></sa-plan-mutual>
								</div>
							</div>
						</div>
					</div>
					<div ng-switch-when="grupomutual">
						<div class="col-xs-8 form-group">
							<label id="grupo_mutual_label">Grupo de Mutales: </label>
							<input type="text" placeholder="Grupo De Mutual..." ng-model="vm.data.grupoMutual" ng-disabled="vm.data.mutualElegida" uib-typeahead="grupoMutual as (grupoMutual.Nombre +' / '+ grupoMutual.Codigo) for grupoMutual in vm.data.grupoDeMutuales | filter:$viewValue | limitTo:10"
							 class="form-control" typeahead-on-select="vm.formControl.limpiarMutual()" ng-change="vm.formControl.limpiarMutual()"
							 typeahead-select-on-exact="true">
						</div>
					</div>
				</div>


				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
					<label>Tipo de Prestación</label>
					<select name="tipoPrestacion" class="form-control" ng-model="vm.data.idTipoPrestacion" ng-options="tipoPrestacion.Id as tipoPrestacion.Nombre for tipoPrestacion in vm.data.tiposPrestaciones">
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
					<label>Prestaciones</label>
					<select name="prestacion" class="form-control" ng-model="vm.data.idPrestacion" ng-options="prestacion.Id as prestacion.Nombre for prestacion in vm.data.prestaciones">
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
					<label>Tipo de Turno</label>
					<select name="tipoTurno" class="form-control" ng-model="vm.data.idTipoTurno" ng-options="tipoTurno.Id as tipoTurno.Nombre for tipoTurno in vm.data.tiposDeTurno">
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
					<sa-sucursal-combo-filtrado ng-model="vm.data.Sucursal" todas="false">
					</sa-sucursal-combo-filtrado>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
					<label>Día de Semana</label>
					<select name="diaSemana" class="form-control" ng-model="vm.data.idDiaSemana" ng-options="diaSemana.Id as diaSemana.Nombre for diaSemana in vm.data.diasDeSemana">
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>


				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div>
						<label>Atiende?</label>
						<sa-check-box ng-model="vm.data.atiende" color="green">
						</sa-check-box>

					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" ng-if="vm.data.atiende">
					<label>Cantidad máxima</label>
					<input type="number" placeholder="turnos..." class="form-control " name="cantidadMaxima" min="0" max="150" ng-model="vm.data.cantidadMaxima"
					 autocomplete="off" required>
				</div>

			</div>
		</div>

</div>
<div class="modal-footer" ng-hide="vm.formControl.loading">
	<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.formControl.ok()">
	<input type="submit" class="btn " ng-click="vm.formControl.cancel()" value="Cancelar">
</div>
</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>