
	<sa-modal-header
    title-name="{{vm.title.page}}"
    title-icon="CHECK" >
</sa-modal-header>

<sa-modal-body loading="vm.formControl.loading">
    <div class="row">
        <!-- El ng-if va para no cargar la tabla sin datos -->
        <div class="col-xs-12" ng-if="vm.data.turnosPorGenerar.Rows && vm.data.turnosPorGenerar.Columns">
            <!-- Se define el container que gestiona la tabla-->
            <fw-table-container>
            <fw-table-config
            exportable="false"
            sortable="false"
            paginable="true"
            column-config="true">
            </fw-table-config>
            <fw-table-sorting
            sort-change="vm.table.sorting(sorting)">					
            </fw-table-sorting>
            <fw-table-rowset data="vm.data.turnosPorGenerar.Rows"
            click-action="clickAction({row:row})">
            </fw-table-rowset>
            <!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
            <fw-table-columnset data="vm.data.turnosPorGenerar.Columns">
            <!-- Se define una column con los datos de una columna (opcional)-->
            <!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
            <!-- <fw-table-column
                label="'Prueba'"
                field="'otroCampo'">
            </fw-table-column> -->
            </fw-table-columnset>
            <!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
            <fw-table-buttonset>				
            </fw-table-buttonset>
            <!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
            <!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
            <fw-table-pagination-ext
            page-change="vm.table.getPage(pagination)"
            page-size="vm.tableOption.PageSize"
            total-items="vm.data.turnosPorGenerar.RowCount"
            current-page="vm.tableOption.CurrentPage">				
            </fw-table-pagination-ext>
            <fw-table-export>
				
			</fw-table-export>
            <!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
            <!-- Opcionalmente se puede redefinir page-size -->
            <!-- <fw-table-pagination page-size="5"></fw-table-pagination> -->
            <!-- Por ultimo el renderizado de la tabla -->
            <fw-table></fw-table>
            </fw-table-container>
        </div>
    
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right  form-group">
                    <button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.exportarAExcel()" >
                        Exportar a Excel
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pull-right  form-group">
                    <button type="button" class="btn btn-warning  btn-block" ng-click="vm.formControl.exportarAPdf()" >
                        Exportar a PDF
                    </button>
                </div>
            </div>
        </div>

    </div>		
</sa-modal-body>

<sa-modal-footer>
    <button type="button" class="btn btn-block"
        ng-click="$dismiss('cancel')">
        CANCELAR
    </button>
</sa-modal-footer>
