<form name="formNewAlerta" accept-charset="utf-8" novalidate>
	<div class="modal-header">
		<h4 class="modal-title">Nueva Alerta</h4>
	</div>

	<div class="modal-body" ng-hide="vm.formControl.loading">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  form-group">
				<label for="cmb_tipo_origen" class="label-control">Origen</label>
				<select class="form-control " id="cmb_tipo_origen" ng-required="true" ng-model="vm.formData.tipoOrigen" ng-change="vm.formControl.selectTipoOrigen()"
				 ng-options="tipoOrigen.Nombre for tipoOrigen in vm.data.tiposOrigen track by tipoOrigen.Id">
					<option value="">Seleccionar</option>
				</select>

			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
				<label for="cmb_tipo_alerta">Tipo Alerta</label>
				<select class="form-control ng-valid" id="cmb_tipo_alerta" ng-model="vm.formData.tipoAlerta" ng-change="vm.formControl.selectTipoAlerta()"
				 ng-options="tipoAlerta.Nombre for tipoAlerta in vm.data.tiposAlerta track by tipoAlerta.Id">
					<option value="">Seleccionar</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 form-group">
				<label for="cmb_tipo_criticidad">Criticidad</label>
				<select class="form-control" id="cmb_tipo_criticidad" ng-required="true" ng-model="vm.formData.tipoCriticidad" ng-change="vm.paginacion.pageChanged()"
				 ng-options="tipoCriticidad.Nombre for tipoCriticidad in vm.data.tiposCriticidad track by tipoCriticidad.Id">
					<option value="">Seleccionar</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 form-group">
				<label for="cmb_tipo_visualizacion">Visualizacion</label>
				<select class="form-control" id="cmb_tipo_visualizacion" ng-required="true" ng-model="vm.formData.tipoVisualizacion" ng-change="vm.paginacion.pageChanged()"
				 ng-options="tipoVisualizacion.Nombre for tipoVisualizacion in vm.data.tiposVisualizacion track by tipoVisualizacion.Id">
					<option value="">Seleccionar</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 form-group">
				<label for="cmb_tipo_notificacion">Icono</label>
				<div class="dropdown" name="cmb_tipo_notificacio">
					<button class="btn dropdown-toggle btn-default" type="button" id="cmb_tipo_notificacio" data-toggle="dropdown" aria-haspopup="true"
					 aria-expanded="true" ng-model="vm.formData.tipoNotificacion " ng-required="true ">
					<span ng-if="!vm.formControl.hayTipoNotificacion ">
						Seleccionar
					</span>
					<span ng-if="vm.formControl.hayTipoNotificacion ">
						{{vm.formData.tipoNotificacion.Nombre}}
					</span>
					<span class="caret "></span>
					</button>
					<ul class="dropdown-menu " 
							aria-labelledby="cmb_tipo_notificacion " >
						<li 
							ng-repeat="tipoNotificacion in vm.data.tiposNotificacion " ng-if="$index % 4==0 ">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<div class="alerta-image " ng-class=" 'toast-' + vm.data.tiposNotificacion[$index].Nombre " ng-click="vm.formControl.selectTipoNotificacion(vm.data.tiposNotificacion[$index]) "></div>
								<div class="alerta-image " ng-class=" 'toast-' + vm.data.tiposNotificacion[$index+1].Nombre " ng-click="vm.formControl.selectTipoNotificacion(vm.data.tiposNotificacion[$index+1]) "></div>
								<div class="alerta-image " ng-class=" 'toast-' + vm.data.tiposNotificacion[$index+2].Nombre " ng-click="vm.formControl.selectTipoNotificacion(vm.data.tiposNotificacion[$index+2]) "></div>
								<div class="alerta-image " ng-class=" 'toast-' + vm.data.tiposNotificacion[$index+3].Nombre " ng-click="vm.formControl.selectTipoNotificacion(vm.data.tiposNotificacion[$index+3]) "></div>
							</div>
							
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group ">
				<label for="inputDescripcion " >Descripcion</label>
				<input class="form-control ng-valid " 
						type="text "
						ng-model="vm.formData.descripcion "
						name="inputDescripcion " 
						id="inputDescripcion " 
						placeholder="Descripcion... "
						maxlength="200"
						ng-required="true ">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group ">
				<label for="datePickerDesde " >Fecha Desde</label>
				<sa-date-time-picker ng-model="vm.formData.fechaDesde " id="1" type="datetime-local" > 
				</sa-date-time-picker>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group ">
				<label for="datePickerHasta " >Fecha Hasta</label>
				<sa-date-time-picker ng-model="vm.formData.fechaHasta " id="2" type="datetime-local">
				</sa-date-time-picker>
			</div>

		</div>

		<div class="row ">
			<div class="col-xs-10">

				<sa-destinos-alerta tipo-destino="vm.formData.destino " id-destino="vm.formData.idDestino ">
				</sa-destinos-alerta>
			</div>

			<div class="col-xs-2 pull-right"  ng-show="vm.formControl.usuarios ">
					<label for="txt_cantaidad_camas">Cantidad de elementos</label>
					<div>
						<strong ng-bind="vm.paginacion.totalItems"></strong>
					</div>
			</div>
		</div>

		<div class="row " ng-show="vm.formControl.usuarios ">
			<div class="col-xs-12">
				<table class="table table-hover ">
					<thead>
						<tr >
							<th colspan="3 " class="text-center "></th>
						</tr>
						<!-- <tr class="thead-azul "> -->
						<tr class="cabecera-tabla ">
							<!-- <th class="text-left ">Codigo</th> -->
							<th class="text-left ">Nombre Usuario</th>
							<th class="text-left ">Nombre Completo</th>
							<th class="text-left ">
								<sa-check-box
									ng-model="vm.formControl.marcarTodos " ng-change="vm.formControl.selectMarcarTodos() ">
								</sa-check-box>
							</th>
						</tr>
					</thead>
					<tbody ng-hide="formControl.loading || formControl.error || formControl.vacio ">
						<tr ng-repeat="usuario in vm.filter.usuarios ">
							<td class="row text-left ">{{ usuario.UserName }}</td>
							<td class="row text-left ">{{ usuario.Nombre }}</td>
							<td	class="row text-left " ng-click="vm.formControl.selectMarcar(usuario) ">
								<sa-check-box
									ng-model="usuario.cargado ">
								</sa-check-box>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 ">
				<div class="text-center ">
					<div uib-pagination  boundary-links="true "
						max-size="9 "
						items-per-page="vm.paginacion.pageSize "
						total-items="vm.paginacion.totalItems "
						ng-model="vm.paginacion.currentPage "
						ng-change="vm.paginacion.pageChanged() "
						previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer " ng-hide="vm.formControl.loading">
		<button type="button "
			class="btn btn-default " 
			ng-click="vm.formControl.guardar() "
			sa-punto-click="vm.formControl.guardar() " 
			ng-disabled="formNewAlerta.$invalid || !vm.formControl.hayDestino " 
			sa-enter>
			Aceptar</button>
		<button type="button "
			class="btn "
			ng-click="vm.formControl.cancel() ">
			Cancelar</button>
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
</form>