<div class="row">

	<div class="col-xs-12 col-sm-4 col-md-10 col-lg-2 form-group">
		<label for="destino" >Destino</label>
		<select class="form-control "
			id="destino"
			ng-model="tipoDestino"
	
			ng-options="destino.Nombre for destino in data.tiposDestino track by destino.Nombre">
			<option value="">TODOS</option>
		</select>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 form-group" ng-if="formData.tipoDestino.paciente">
		<sa-selector-paciente
		ng-model="formData.idPaciente"
		ng-change="cambioPaciente()">
		</sa-selector-paciente>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 form-group" ng-if="formData.tipoDestino.rol">
		<sa-selector-rol 
			ng-model="formData.idRol"
			ng-change="cambioRol()">
		</sa-selector-rol>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 form-group" ng-if="formData.tipoDestino.usuario">
		<sa-selector-usuario 
			ng-model="formData.idUsuario"
			ng-change="cambioUsuario()">
		</sa-selector-usuario>
	</div>
</div>