<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
		<label>Tipo Contratable</label>
		<select class="form-control" 
			ng-model="filter.tipoContratableElegido"
			ng-options="tiposContratable.Id as tiposContratable.Nombre for tiposContratable in data.tiposContratable"
			ng-change = "cambioTipoContratable()"
			ng-disabled='disabled'
			sa-enter
			id="sa-contratable-selector-tipo-select"
			autofocus>
		</select>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 form-group">
		<label class="label-control">Matrícula</label>
		<div class="input-group">
			<input type="text" class="form-control"
				ng-blur="busquedaRapidaContratable()"
				ng-change = "cambioMatriculaContratable()"
				ng-model="filter.matricula"
				ng-disabled='disabled'
				placeholder="0"
				id="sa-contratable-selector-matricula-input"
				sa-enter
				min="0"
				max=""
				sa-integer>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
						uib-tooltip="Buscar contratable" 
						tooltip-placement="top"
						id="sa-contratable-selector-search-btn"
						ng-click="searchContratable()"
						sa-punto-click="searchContratable()"
						ng-disabled='disabled'
						sa-enter>
					<span ng-class="icono.SEARCH" class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 form-group">
		<label class="">Profesional</label>
		<input type="text" class="form-control"
			ng-model="filter.nombre"
			ng-disabled="true"
			id="sa-contratable-selector-profesional-input"
			sa-enter>
	</div>
</div>