<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
		<label class="label-control" ng-show="{{mostrarlabelcodigo}}">{{title}}</label>
		<div class="input-group">
			<input type="text" class="form-control text-uppercase"
				ng-model="filter.codigo"
				ng-change="cambioCodigoTecnico()"
				ng-blur="busquedaRapidaTecnico()"
				placeholder="0"
				id="sa-tecnico-codigotecnico-input"
				maxlength="155"
				sa-enter>
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
					uib-tooltip="{{tooltip}}"
					tooltip-placement="top"
					ng-click="searchTecnico()"
					sa-punto-click="searchTecnico()"
					id="sa-tecnico-search-btn"
					sa-enter>
					<sa-icon name="SEARCH"></sa-icon>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
		<label ng-show="{{mostrarlabelnombre}}" id="sa-tecnico-nombre-label">Nombre</label>
		<input type="text" class="form-control"
			ng-model="filter.nombre"
			id="sa-tecnico-nombre-input"
			ng-disabled="true"
			sa-enter>
	</div>
</div>