<sa-title
	title-name="vm.title.page"
	title-icon="VIEW"
	small="vm.title.small"

	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading"
></sa-title>
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<form name="formSolicitud" accept-charset="utf-8" novalidate>
		<uib-tabset>
			<uib-tab ng-repeat="tab in vm.tabs track by $index"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				class="{{ tab.CLASSBG }}"
				ng-hide="tab.HIDE"
				active="tab.ACTIVE"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<h3>{{tab.TITLE_CONTENT}}</h3>
					</div>
				</div>
				<div ng-include="tab.CONTENT" ></div>
				<br>
				<div class="text-center">
					<div class="btn-group ">
						<button class="btn btn-cancel" ng-click="vm.formControl.volver()">
							<!-- <span ng-if="!formSolicitud.$pristine">Cancelar</span>
							<span ng-if="formSolicitud.$pristine">Volver</span> -->

							<span >Volver</span>

						</button>
						<button class="btn btn-cancel"
							ng-if="tab.ID != 1"
							ng-click="vm.formControl.previousTab(tab.ID)">Anterior</button>
						<button class="btn btn-info"
							ng-if="tab.ID != vm.tabs.length"
							ng-click="vm.formControl.nextTab(tab.ID)">Siguiente</button>
					<!-- 	<button class="btn btn-default"
							ng-disabled="!vm.validar.form()"
							ng-click='vm.formControl.save()'>Guardar</button> -->
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		
		<div class="row ">
		
		</div>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>