<sa-title title-name="vm.title.page" title-icon="LIST"></sa-title>
<div id="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
			<div sa-form-input-validate>
				<label>Nombre Servicio</label>
				<input type="text" name="nombreServicio" ng-model="vm.formControl.nombreServicio" sa-enter autofocus>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
			<button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.formControl.buscar()" sa-punto-click="vm.formControl.buscar()"
			 sa-enter>Buscar</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
			<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.formControl.limpiarFiltros()" sa-punto-click="vm.formControl.limpiarFiltros()"
			 sa-enter>Limpiar</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" ng-if="vm.data.listadoServicio">
			<sa-table-ext data="vm.data.listadoServicio" page-change="vm.formControl.buscarPagina(pagination)" btn-edit-click="vm.servicio.edit(row)"
			 btn-delete-click="vm.servicio.delete(row, index)" export="vm.table.export(exportation)">
			</sa-table-ext>
		</div>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>