<sa-loading ng-if="vm.formControl.loading"></sa-loading>
<div ng-if="!vm.formControl.loading">
    <sa-modal-header title-name="Otorgar Turnos" title-icon="OK">
    </sa-modal-header>
    <sa-modal-body>
        <div class="row">
            <div ng-if="vm.data.pacientes">
                <sa-detalle-turno ng-repeat="paciente in vm.data.pacientes" paciente-con-turnos="paciente">
                </sa-detalle-turno>
            </div>
        </div>
    </sa-modal-body>
    <sa-modal-footer>
        <input type="submit" class="btn " ng-click="vm.formControl.cancel()" value="Cancelar">
        <input type="submit" id="btnAgregarEditar" value="Otorgar Turnos" class="btn btn-default" ng-click="vm.formControl.ok()">
    </sa-modal-footer>
</div>