<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="gridOptions.data">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 " >
			<h5 ng-bind="titulogrid"></h5>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  ng-if="btnOtorgarText">
			<button type="button" class="btn btn-default btn-block"
			
			ng-click="btnClick()">
			{{btnOtorgarText}}
			</button>
			
		</div>
		
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="gridOptions.data">
	<div id="tntGridServices"
		ui-grid="gridOptions"
		ui-grid-selection
		ui-grid-exporter
		ui-grid-move-columns>
	</div>
</div>