<div class="row">
	<div class="col-xs-12">

		<div class="row">
			<h4>MODALES</h4>
			<div class="col-xs-12">
				<button type="button" ng-click="vm.clickElemento(1); vm.openConfirmSave();" class="btn btn-default">'ConfirmSave'</button>
				<button type="button" ng-click="vm.clickElemento(2); vm.openValidarWarning();" class="btn btn-default">'validarWarning'</button>
				<button type="button" ng-click="vm.clickElemento(3); vm.openSelectoptionModal();" class="btn btn-default">'selectOptionModal'</button>
				<button type="button" ng-click="vm.clickElemento(4); vm.openTextAreaModal();" class="btn btn-default">'textAreaModal'</button>
				<button type="button" ng-click="vm.clickElemento(5); vm.openOpcionesDeConfiguracion();" class="btn btn-default">'openOpcionesDeConfiguracion'</button>
				<button type="button" ng-click="vm.clickElemento(6); vm.openEditInputGenerico();" class="btn btn-default">'openEditInputGenerico'</button>
			</div>

		</div>

	</div>
</div>