<form name="formBuscador" accept-charset="utf-8" novalidate ng-hide="vm.formControl.loading || vm.formControl.error" autocomplete="off">
	<div class="modal-header">
		<h4 class="modal-title">Buscador de Pacientes</h4>
	</div>
	<div class="modal-body">
		<div class="row ">
			<h4>Filtros</h4>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 form-group">
				<label class="label-control">Tipo Documento</label>
				<select class="form-control" id="buscador-paciente-tipodocumento-select" ng-model="vm.filter.tipoDocumento"  ng-options="tipo.Nombre for tipo in vm.data.tipos track by tipo.Id"
				    sa-enter>
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
				<label class="label-control ">Nro Documento</label>
				<input type="text" class="form-control" id="buscador-paciente-documento-input" name="txtNroDoc"  autocomplete="off" 
				    ng-model="vm.filter.numero">
			</div>

			<!-- input nombre para buscador nuevo, con parecidos -->
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group" ng-if="vm.formControl.esSelectorNew">
				<label class="label-control">N o m b r e</label>
				<div id="nn">
					<input type="text" class="form-control text-capitalize" id="buscador-paciente-nombre-input" name="txt_nnn" autocomplete="off" minlength="2" sa-text
						ng-model="vm.filter.nombre" autofocus />

				</div>
			</div>

			
			<!-- input apellido para buscador nuevo, con parecidos -->

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group" ng-if="vm.formControl.esSelectorNew">
				<label class="label-control ">Apellido</label>
				<div id="ap">
					<input type="text" class="form-control text-capitalize" id="buscador-paciente-apellido-input" name="txt_gg" autocomplete="off" minlength="2" sa-text
						ng-model="vm.filter.apellido" />
				</div>
			</div>
			<!--  -->
			<!-- input con compatibilidad para viejo buscador, busca por nombre Y apellido -->
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group" ng-if="!vm.formControl.esSelectorNew">
				<label class="label-control ">Apellido y Nombre</label>
				<input type="text" class="form-control text-capitalize" id="buscador-paciente-nombreyapellido-input" autocomplete="off" name="txt_nom" ng-change="vm.paginacion.pageChanged()"
				    ng-model="vm.filter.nombreyapellido" />
			</div>
			<!--  -->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group pull-right">
				<button class="btn btn-default btn-block" ng-click="vm.formControl.buscar()" id="buscador-paciente-buscar-btn">Buscar</button>

			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 form-group pull-right">
				<button class="btn btn-default btn-block" ng-click="vm.formControl.limpiar()" id="buscador-paciente-limpiar-btn">Limpiar</button>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				<table class="table table-hover table-condensed table-bordered" id="buscador-paciente-lista-pacientes-table">
					<thead>
						<tr class="thead-azul"></tr>
						<tr class="cabecera-tabla">
							<th class="text-left"  ng-if="!vm.formControl.esSelectorNew">Nombre y Apellido
								<span class=" " ></span>
							</th>
							<th class="text-left"  ng-if="vm.formControl.esSelectorNew" >
								<!-- <span class=" " ></span> -->
								<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
									<input class="text-capitalize" type="text" name="buscar_paciente" placeholder="Nombre" ng-change="vm.paginacion.pageChanged()"
									ng-model="vm.filterNombre" autocomplete="off"
									>
								</div>
								
							</th>
							<th class="text-left" ng-if="vm.formControl.esSelectorNew">
								<!-- <span class=" " ></span> -->
									<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
										<input class="text-capitalize" type="text" name="buscar_paciente" placeholder="Apellido" ng-change="vm.paginacion.pageChanged()"
										ng-model="vm.filterApellido" autocomplete="off"
										 >
									</div>
							</th>
							<th class="text-left" >Tipo Documento
								<span class=" " ></span>
							</th>
							<th class="text-left" >
								<span class=" " ></span>
								<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
									<input class="text-capitalize" type="number" name="buscar_paciente" placeholder="Numero Documento" ng-change="vm.paginacion.pageChanged()"
									ng-model="vm.filterNroDocumento" >
								</div>
							</th>
							<th class="text-left" >Fecha Nacimiento
								<span class=" " ></span>
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entidad in vm.filter.pacientes | orderBy:sortKey:reverse|filter:search" ng-class="{'color-aquaorange-turno': entidad.Id === vm.formData.pacienteSeleccionado.Id}">
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)" ng-if="!vm.formControl.esSelectorNew">{{ entidad.NombreCompleto}}</td> 
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)" ng-if="vm.formControl.esSelectorNew">{{ entidad.Nombre}}</td>
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)" ng-if="vm.formControl.esSelectorNew">{{ entidad.Apellido}}</td>
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)">{{ entidad.TipoDocumento}}</td>
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)">{{ entidad.NumeroDocumento}}</td>
							<td class="row text-left" ng-click="vm.formControl.selectItem(entidad.Id)" ng-dblclick="vm.formControl.selectItemAndClose(entidad.Id)">{{ entidad.FechaNacimiento | date:"dd/MM/yy"}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<div uib-pagination items-per-page="vm.paginacion.pageSize" total-items="vm.paginacion.totalItems" ng-model="vm.paginacion.currentPage"
							    ng-change="vm.paginacion.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

							</div>
						</div>
					</div>
				</div>
				<!-- FIN PAG -->
				<!-- BLOQUE INFERIOR TABLA -->
				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.data.pacientes && vm.data.pacientes.length && vm.columnasTabla && vm.columnasTabla.length">
				
					<fw-table-container>
						<fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
						</fw-table-config>
						<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
						</fw-table-sorting-ext>
						<fw-table-rowset data="vm.data.pacientes" action="vm.formControl.selectItem(row.I)">
						</fw-table-rowset>
					
						<fw-table-columnset data="vm.columnasTabla">
				
						</fw-table-columnset>
							
					
						<fw-table-filter init='true'></fw-table-filter>

						<fw-table-pagination page-size="10"></fw-table-pagination>

						<fw-table></fw-table>
					</fw-table-container>
				</div> -->

			</div>

		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="vm.formControl.nuevoPaciente()" id="buscador-paciente-nuevo-paciente-btn"
		ng-if="vm.formControl.esSelectorNew && vm.formControl.nuevoPacienteIf">Nuevo Paciente</button>
		<button type="button" class="btn " ng-click="vm.formControl.cancel()" id="buscador-paciente-cancel-btn">Cancelar</button>
		<button type="button" class="btn btn-default" ng-disabled="!vm.formControl.validarForm()" id="buscador-paciente-aceptar-btn"
		ng-click="vm.formControl.ok()">Aceptar</button>
	</div>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>