<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
		<label class="label-control" ng-show="{{mostrarlabelcodigo}}">{{title}}</label>
		<div class="input-group">
			<input type="number" class="form-control"
				sa-integer
				ng-model="filter.matricula"
				ng-change="cambioMatriculaProfesional()"
				ng-blur="busquedaRapidaProfesional()"
				ng-disabled="disabled"
				sa-enter
				id="profesional-selector-matricula-input"
				min= "0">
			<span class="input-group-btn">
				<button class="btn btn-default btn-loading" 
					uib-tooltip="{{tooltip}}"
					tooltip-placement="top"
					ng-click="searchProfesional()"
					sa-punto-click="searchProfesional()"
					ng-disabled="disabled"
					id="profesional-selector-buscar-btn"
					sa-enter>
					<sa-icon name="SEARCH"></sa-icon>
				</button>
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
		<label class="" ng-show="{{mostrarlabelnombre}}">Nombre</label>
		<input type="text" class="form-control"
			ng-model="filter.nombre"
			ng-disabled="true"
			id="profesional-selector-nombre-input"
			sa-enter>
	</div>
</div>