<form name="formProfesional" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Buscar Profesional</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-2 col-lg-2 form-group">
				<label class="label-control">Matrícula</label>
				<input type="number" min="0" max="999999999" class="form-control" ng-model="vm.filter.matricula" ng-change="vm.paginacion.pageChanged()" 
				sa-enter autofocus>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 form-group">
				<div >
					<label class="label-control">Nombre</label>
					<input type="text-uppercase" class="form-control text-uppercase" ng-model="vm.filter.nombre" 
							ng-change="vm.paginacion.pageChanged()"
							sa-enter>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-2 form-group">
				<div >
					<label class="label-control">Servicio</label>
					<select class="form-control"
						ng-model="vm.filter.servicioElegido"
						ng-options="servicio.Nombre for servicio in vm.filter.servicios track by servicio.Id"
						ng-change="vm.paginacion.pageChanged()"
						sa-enter>
					<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-2 form-group">
				<div >
					<label class="label-control">Sucursal</label>
					<select class="form-control"
						ng-model="vm.filter.sucursalElegida"
						ng-change="vm.paginacion.pageChanged()"
						ng-options="sucursal.Nombre for sucursal in vm.filter.sucursales track by sucursal.Id"
						sa-enter>
					<option value="">TODAS</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row fila fila-not ">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
				<sa-loading ng-if="vm.formControl.loading"></sa-loading>	
				<table class="table table-hover table-condensed table-bordered" ng-if="!vm.formControl.loading">
					<thead>						 		
						<tr class="thead-azul">
							<tr class="cabecera-tabla"> 
								<th class="text-left" ng-click="vm.sort('Matricula')">
									Matrícula
									<span class="glyphicon sort-icon" ng-show="sortKey=='Matricula'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-left" ng-click="vm.sort('Nombre')">
									Nombre
									<span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
							</tr>
						</tr>
					</thead>
					<tbody ng-repeat="profesional in vm.filter.profesionales | orderBy:sortKey:reverse|filter:search">
							<tr ng-click="vm.formControl.profesionalSeleccion(profesional)">
							<td class="row text-left">{{profesional.Matricula}}</td>
							<td class="row text-left">{{profesional.Nombre}}</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="vm.filter.profesionales.length">
					<div class="col-sm-12">
						<div class="text-center">
							<div uib-pagination 
								items-per-page="vm.paginacion.pageSize"
								total-items="vm.paginacion.totalItems"
								ng-model="vm.paginacion.currentPage"
								ng-change="vm.paginacion.pageChanged()"
								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button"
			class="btn btn-borrar" 
			ng-click="vm.formControl.cancel()" 
			sa-punto-click="vm.formControl.cancel()" 
			sa-enter>Cancelar</button>
	</div>
</form>