<form name="formPracticas" accept-charset="utf-8" novalidate >
	<div class="modal-header">
		<h4 class="modal-title">Buscar Práctica</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-2 col-lg-5 form-group">
				<div class="input-group ">
					<div class="col-xs-12 col-sm-8 col-md-2 col-lg-5 form-group">
						<label class="label-control">Código (Desde)</label>
						<input type="number" min="0" max="999999999" class="form-control" ng-model="vm.filter.codigoDesde" ng-change="vm.formControl.replicarCodigo()" sa-enter autofocus>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-2 col-lg-1 form-group">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-2 col-lg-5 form-group">
						<label class="label-control">Código (Hasta)</label>
						<input type="number" min="0" max="999999999" class="form-control" ng-model="vm.filter.codigoHasta"
								sa-enter>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-6 form-group">
				<div class="">
					<label class="label-control">Nombre</label>
					<input type="text-uppercase" class="form-control text-uppercase" ng-model="vm.filter.nombre"
							sa-enter>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-7 form-group">
				<div class="">
					<label class="label-control">Descripción</label>
					<input type="text-uppercase" class="form-control text-uppercase" ng-model="vm.filter.descripcion"
							sa-enter>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group">
				<div class="input-group ">
					<button class="btn btn-default btn-row" 
							ng-click="vm.filter.filtrarPracticas()"
							sa-punto-click="vm.filter.filtrarPracticas()" 
							type="button" 
							sa-enter>
						Buscar
					</button>
				</div>
			</div>
		</div>
		<div class="row fila fila-not ">
				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
				<sa-loading ng-if="vm.formControl.loading"></sa-loading>	
				<table class="table table-hover table-condensed table-bordered" ng-if="!vm.formControl.loading">
					<thead>						 		
						<tr class="thead-azul">
							<tr class="cabecera-tabla"> 
								<th class="text-left" ng-click="vm.sort('Codigo')">
									Código
									<span class="glyphicon sort-icon" ng-show="sortKey=='Codigo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-left" ng-click="vm.sort('Nombre')">
									Nombre
									<span class="glyphicon sort-icon" ng-show="sortKey=='Nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-left" ng-click="vm.sort('Descripcion')">
									Descripción
									<span class="glyphicon sort-icon" ng-show="sortKey=='Descripcion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="text-center">Seleccionar</th>
							</tr>
						</tr>
					</thead>
					<tbody ng-repeat="practica in vm.filter.practicas | orderBy:sortKey:reverse|filter:search">
							<tr>
							<td class="row text-left">{{practica.Codigo}}</td>
							<td class="row text-left">{{practica.Nombre}}</td>
							<td class="row text-left">{{practica.Descipcion}}</td>
							<td class="row text-center">
								<input type="radio" ng-value="practica" ng-model="vm.formData.practicaSeleccionada"
										ng-click="vm.formControl.practicaSeleccion()" sa-enter>
							</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="vm.filter.practicas.length">
					<div class="col-sm-12">
						<div class="text-center">
							<div uib-pagination 
								items-per-page="vm.paginacion.pageSize"
								total-items="vm.paginacion.totalItems"
								ng-model="vm.paginacion.currentPage"
								ng-change="vm.paginacion.pageChanged()"
								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button"
			class="btn btn-default" 
			ng-click="vm.formData.returnPractica()" 
			sa-punto-click="vm.formData.returnPractica()" 
			ng-disabled="!vm.formControl.practicaElegida" 
			sa-enter>Aceptar</button>
		<button type="button"
			class="btn btn-borrar" 
			ng-click = "vm.formControl.cancel()" 
			sa-punto-click = "vm.formControl.cancel()" 
			sa-enter>Cancelar</button>
	</div>
</form>