<br>
<div class="row no-valid table-responsive" ng-if="!vm.formControl.loading">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
		<table class="table table-hover table-condensed table-bordered" id="contratos-internos-ajuste-table">
			<thead>
				<tr class="cabecera-tabla">
					<th class="text-center">Nombre</th>
					<th class="text-center">Tipo</th>
					<th class="text-center">Importe</th>
					<th class="text-center">Cuenta</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ajuste in vm.data.listaAjuste | orderBy: 'Id'" id="contratos-internos-ajuste-row-{{$index}}">
					<td class="text-center">{{ajuste.Nombre}}</td>
					<td class="text-center">{{ajuste.TipoConcepto}}</td>
					<td width="140">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control text-right" ng-model="ajuste.Importe" min= "0" id="contratos-internos-ajuste-importe-input-{{$index}}"
							sa-input-importe sa-enter>
						</div>
					</td>
					<td width="140">
						<input type="number" class="form-control text-right" ng-model="ajuste.NumeroCuenta" min= "0" id="contratos-internos-ajuste-cuenta-input-{{$index}}"
						sa-integer sa-enter>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>