<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading"
	uib-tooltip="Agregar nueva" tooltip-placement="left" uib-dropdown-toggle
	ng-click="vm.formControl.editarCuenta(null, null)"
	sa-punto-click="vm.formControl.editarCuenta(null, null)"
	sa-enter>
	<sa-icon name="PLUS"></sa-icon>
</button>
<div class="row">
	<div class="col-xs-12" ng-if="!vm.formControl.loading">
		<fw-table-container>
			<fw-table-rowset data="vm.data.cuentas.Rows" id-elements="lista-edit-facturacion-mutual-rows"
				click-action="clickAction()">
			</fw-table-rowset>
			<fw-table-columnset data="vm.data.cuentas.Columns">
			</fw-table-columnset>
			<fw-table-buttonset>
				<fw-table-button
					visible="btnEditIf"
					label="'Editar'"
					icon="'EDIT'"
					id-element="lista-edit-cuentas-btn"
					action="vm.formControl.editarCuenta(row.Id, row.NumeroCuenta)">
				</fw-table-button>
				<fw-table-button
					visible="true"
					label="'Eliminar'"
					icon="'DEL'"
					id-element="lista-eliminar-cuentas-btn"
					action="vm.formControl.borrarCuenta(row)">
				</fw-table-button>
			</fw-table-buttonset>
			<fw-table></fw-table>
		</fw-table-container>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>