<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading" uib-tooltip="Agregar nueva" tooltip-placement="left"
 uib-dropdown-toggle ng-click="vm.formControl.editarFacturaDirecta(null, null)" sa-punto-click="vm.formControl.editarFacturaDirecta(null, null)"
 sa-enter id="contratos-internos-facturadirec-new-btn">
	<sa-icon name="PLUS"></sa-icon>
</button>
<div class="row">
	<div class="col-xs-12" ng-if="!vm.formControl.loading">
		<fw-table-container>
			<fw-table-rowset data="vm.data.facturacionDirecta.Rows" click-action="clickAction()" id-elements="contratos-internos-facturadirec-rows">
			</fw-table-rowset>
			<fw-table-columnset data="vm.data.facturacionDirecta.Columns">
			</fw-table-columnset>
			<fw-table-buttonset>
				<fw-table-button visible="btnEditIf" label="'Editar'" icon="'EDIT'" action="vm.formControl.editarFacturaDirecta(row.Id)" id-elements="contratos-internos-facturadirec-editar-btn">
				</fw-table-button>
				<fw-table-button visible="true" label="'Eliminar'" icon="'DEL'" action="vm.formControl.borrarFacturacionDirecta(row)" id-elements="contratos-internos-facturadirec-borrar-btn">
				</fw-table-button>
			</fw-table-buttonset>
			<fw-table></fw-table>
		</fw-table-container>
	</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>