<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
		<label>Banco</label>
		<select name="banco"
			class="form-control" 
			ng-model="vm.filter.IdBancoElegido"
			ng-change="vm.formControl.bancoChange()"
			id="contratos-internos-pagos-banco-select"
			ng-options="banco.Id as banco.Nombre for banco in vm.filter.bancos"
			sa-enter>
			<option value="">--SELECCIONAR--</option>
		</select>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
		<label>Sucursal</label>
		<input type="number" class="form-control text-left" ng-model="vm.filter.sucursal" id="contratos-internos-pagos-sucursal-input"
		min="0" max="9999999999999" ng-blur="vm.formControl.sucursalChange()" name="sucursal" sa-enter>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
		<label>Tipo Cuenta</label>
		<select name="cuenta"
			class="form-control"
			ng-model="vm.filter.IdTipoCuentaBancoElegido"
			ng-change="vm.formControl.cuentaChange()"
			id="contratos-internos-pagos-tipocuenta-select"
			ng-options="cuenta.Id as cuenta.Nombre for cuenta in vm.filter.cuentas"
			sa-enter>
			<option value="">--SELECCIONAR--</option>
		</select>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
		<label>Número Cuenta</label>
		<input type="number" class="form-control text-left" ng-model="vm.filter.numeroCuenta" id="contratos-internos-pagos-nrocuenta-input"
		min="0" max="99999999999999999" ng-blur="vm.formControl.numeroCuentaChange()" name="numeroCuenta" sa-enter>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
		<label>CBU</label>
		<input type="number" class="form-control text-left" ng-model="vm.filter.cbu" min="0" max="99999999999999999" id="contratos-internos-pagos-cbu-input"
		ng-blur="vm.formControl.cbuChange()" name="cbu" sa-enter>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
		<label>Alias CBU</label>
		<input type="text" class="form-control text-right" ng-model="vm.filter.alias" ng-blur="vm.formControl.aliasChange()" id="contratos-internos-pagos-aliascbu-input"
		maxlength="50" name="alias" sa-enter>
	</div>
</div>