<br>
<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-1 form-group">
		<sa-check-box label="Retiene IIBB" ng-model="vm.filter.ingresos" id-element="contratos-internos-retencion-retieniibb-slider"
		color="green"></sa-check-box>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 form-group">
		<div class="form-group">
			<label>Alícuota</label>
			<input type="number" class="form-control text-right" ng-disabled="!vm.filter.ingresos" ng-model="vm.filter.importe" id="contratos-internos-retencion-alicouta-input"
			min='0' max="99999999999999" ng-change="vm.formControl.importeChange()" name="importe" sa-input-importe sa-enter>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
			<label>Tipo Retención Comercio e Industria</label>
			<select name="retencion"
				class="form-control"
				ng-model="vm.filter.IdTipoRetencionComercioIndustriaElegido"
				ng-change="vm.formControl.retencionChange()"
				id="contratos-internos-retencion-tiporet-select"
				ng-options="retencion.Id as retencion.Nombre for retencion in vm.filter.retenciones"
				sa-enter>
				<option value="">NINGUNO</option>
			</select>
		</div>
	</div>
</div>