<div class="row">

	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
				<h3 style="padding-left: 0px;">Indicaciones Médicas de {{vm.internado.Paciente}} - Nro. Internado:
					{{vm.internado.NumeroInternado}} - (Total: {{vm.data.length}} - Filtradas: {{vm.dataFilter.length}})</h3>
			</div>
			<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 ">
				<sa-check-box ng-model="vm.tienePendienteFiltro" color="blue" label-right="'Tienen Pendiente Suministrar'" ng-change="vm.pageChanged()"></sa-check-box>
			</div> -->
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 pull-right">
				<sa-check-box ng-model="vm.mostrarFiltros" color="green" label-right="'Filtros'" ></sa-check-box>
			</div>
		</div>
	</div>


	<div class="col-xs-12" style="overflow: auto;">
		<table class="table table-responsive " id="indicacionesmedicas_table" ng-show="vm.data">
			<thead>
				<tr class="cabecera-tabla">
					<th class="text-left">Fecha/Hora Ind. Med</th>

					<th class="text-left" ng-show="!vm.mostrarFiltros">Tipo Ind. Med.</th>
					<th class="text-left" ng-show="vm.mostrarFiltros">
						<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
							<input class="text-capitalize" type="search" name="filter_tipo_ind_med" placeholder="Tipo Ind. Med." ng-model="vm.filterTipoIndMed"
							 ng-change="vm.pageChanged()()" autocomplete="off">
						</div>
					</th>

					<th class="text-center" ng-if="!vm.facturarDevolverIf">Urg.</th>

					<th class="text-left" ng-show="!vm.mostrarFiltros">Descripción Producto</th>
					<th class="text-left" ng-show="vm.mostrarFiltros">
						<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
							<input class="text-capitalize" type="search" name="filter_producto" placeholder="Descripción Producto" ng-model="vm.filterProducto"
							 ng-change="vm.pageChanged()()" autocomplete="off">
					</th>
					<th class="text-left">Monodroga</th>
					<th class="text-left">Posología</th>

					<th class="text-left" ng-show="!vm.mostrarFiltros">Est.</th>
					<th class="text-left" ng-show="vm.mostrarFiltros">
						<fw-drop-down-container icon='"DOWN"' label='"Est."' ng-if="vm.mostrarFiltros && vm.estadosIndicacionMedica"
						 btn-class="btn btn-default">
							<fw-drop-down-set>
								<fw-drop-down-item ng-repeat='item in vm.estadosIndicacionMedica' color='green' item='item' label-attribute="Nombre"
								 status-attribute='Activado' change='vm.pageChanged()()'> </fw-drop-down-item>
							</fw-drop-down-set>
							<fw-drop-down></fw-drop-down>
						</fw-drop-down-container>
					</th>

					<th class="text-left" ng-show="!vm.mostrarFiltros">Ejecuc.</th>
					<th class="text-left" ng-show="vm.mostrarFiltros">
						<fw-drop-down-container icon='"DOWN"' label='"Ejecuc."' ng-if="vm.mostrarFiltros && vm.estadosEjecucionIndicacionMedica"
						 btn-class="btn btn-default">
							<fw-drop-down-set>
								<fw-drop-down-item ng-repeat='item in vm.estadosEjecucionIndicacionMedica' color='green' item='item'
								 label-attribute="Nombre" status-attribute='Activado' change='vm.pageChanged()()'> </fw-drop-down-item>
							</fw-drop-down-set>
							<fw-drop-down></fw-drop-down>
						</fw-drop-down-container>
					</th>

					<th class="text-center">Acción</th>
				</tr>
			</thead>
			<!-- BODY -->
			<tbody ng-show="vm.data" ng-repeat="indicacionMedica in vm.dataFilter">
				<tr>
					<th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-left" 
					ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2, 'color-amarillo-pendiente-enfermeria' : indicacionMedica.TienePendiente && indicacionMedica.TipoIndicacion.Id == 1,'color-amarillo' : indicacionMedica.TienePendienteActivo }">
					{{indicacionMedica.FechaHora | date:"dd/MM/yy"}}   -   {{indicacionMedica.FechaHora | date:"HH:mm"}} 
					<sa-icon ng-if="indicacionMedica.EstaMalFormulado" uib-tooltip="Indicación Mal Formulada"
					uib-tooltip-placement="top" name="CANCEL" class="fa-1-3x" style="color: red"></sa-icon></th>

					<th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-left" ng-class="indicacionMedica.ColorVia">
						<div>
							{{indicacionMedica.TipoIndicacion.Nombre}}
							<sa-icon ng-if="indicacionMedica.ObservacionMedica.length" uib-tooltip="Observación Medica: {{indicacionMedica.ObservacionMedica}}"
							 uib-tooltip-placement="top" name="COMMENTING" class="fa-1-3x" style="color: black"></sa-icon>
							<sa-icon ng-if="indicacionMedica.Producto.TipoAntibiotico.Id == 2" name="COPYRIGHT" uib-tooltip="Tipo Antibiótico: {{indicacionMedica.Producto.TipoAntibiotico.Nombre}}"
							 uib-tooltip-placement="top" class="fa-1-3x" style="color: goldenrod"></sa-icon>
							<sa-icon ng-if="indicacionMedica.Producto.TipoAntibiotico.Id == 3" name="REGISTERED" uib-tooltip="Tipo Antibiótico: {{indicacionMedica.Producto.TipoAntibiotico.Nombre}}"
							 uib-tooltip-placement="top" class="fa-1-3x" style="color: red"></sa-icon>
							<span uib-tooltip="Indicacion con marca de SOS" uib-tooltip-placement="top" ng-if="indicacionMedica.EsSOS" style="color: black;">(SOS)</span>
						</div>
						<div ng-if="indicacionMedica.Producto.TipoAntibiotico.Id != 1 || indicacionMedica.Producto.TipoAntibiotico.Id != 0">

						</div>
					</th>

					<td ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-center" ng-if="!vm.facturarDevolverIf"
					 ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }">
						<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="indicacionMedica.TieneUrgenciaFarmacia"
						 style=" color: red; " uib-tooltip="Tiene Urgencia Farmacia" uib-tooltip-placement="top">
							<sa-icon name="WARNING" class="fa-1-3x"></sa-icon>
						</button>
						<button type="button" id="icon_facturado" class="btn btn-white" ng-if="indicacionMedica.TieneUrgencia && !indicacionMedica.TieneUrgenciaFarmacia"
						 style=" color: green; " uib-tooltip="Tiene Urgencia" uib-tooltip-placement="top">
							<sa-icon name="WARNING" class="fa-1-3x"></sa-icon>
						</button>
					</td>

					<th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-left" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }"
					 ng-if="indicacionMedica.EsAltoRiesgo">{{indicacionMedica.descripcionProducto}}
						<sa-icon ng-if="indicacionMedica.EsAltoRiesgo" name="EXCLAMACION" class="fa-1-3x" style="color: red" uib-tooltip="Medicamento Alto Riesgo"
						 uib-tooltip-placement="top"></sa-icon>
					</th>
					<th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-left" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }"
					 ng-if="!indicacionMedica.EsAltoRiesgo">{{ indicacionMedica.descripcionProducto}}</th>

					 <th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }"
					 class="row text-left">{{ indicacionMedica.monodroga}}</th>

					<th ng-click="vm.verSubDatosIndicacion(indicacionMedica)" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }"
					 class="row text-left">{{ indicacionMedica.Posologia}}</th>


					<td ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-center" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }">
						<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="indicacionMedica.EstadoIndicacion.Id == 1"
						 style=" color: green; " uib-tooltip="{{indicacionMedica.EstadoIndicacion.Nombre}}" uib-tooltip-placement="top">
							<sa-icon name="OK" class="fa-1-3x"></sa-icon>
						</button>
						<button type="button" id="icon_facturado" class="btn btn-white" ng-if="indicacionMedica.EstadoIndicacion.Id == 2"
						 style=" color: gray; " uib-tooltip="{{indicacionMedica.EstadoIndicacion.Nombre}}" uib-tooltip-placement="top">
							<sa-icon name="ANULAR" class="fa-1-3x"></sa-icon>
						</button>
					</td>


					<td ng-click="vm.verSubDatosIndicacion(indicacionMedica)" class="row text-center" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }">
						<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="indicacionMedica.EstadoEjecucion.Id == 1"
						 uib-tooltip="{{indicacionMedica.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
							<sa-icon name="CLOCK" class="fa-1-3x"></sa-icon>
						</button>
						<button type="button" id="icon_facturado" class="btn btn-white " ng-if="indicacionMedica.EstadoEjecucion.Id == 2"
						 style=" color: green; " uib-tooltip="{{indicacionMedica.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
							<sa-icon name="CHECK" class="fa-1-3x"></sa-icon>
						</button>
						<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="indicacionMedica.EstadoEjecucion.Id == 3"
						 tyle=" color: red; " uib-tooltip="{{indicacionMedica.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
							<sa-icon name="DEL" class="fa-1-3x"></sa-icon>
						</button>
					</td>

					<td class="text-center hidden-xs hidden-sm visible-md visible-lg" ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }">
						<button id="verdetalle_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Ver Detalle"
						 uib-tooltip-placement="top" ng-click="vm.verDetalle(indicacionMedica)">
							<sa-icon name="VIEW"></sa-icon>
						</button>
						<button id="imprimirZebra_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Imprimir Stickers Zebra"
						 uib-tooltip-placement="top" ng-click="vm.imprimirZebra({pObject:indicacionMedica})">
							<sa-icon name="PRINT2"></sa-icon>
						</button>
						<button id="puedeColocarSuero_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Colocar Suero" ng-if="indicacionMedica.PuedeColocarSuero"
						uib-tooltip-placement="top" ng-click="vm.colocarSuero({pObject:indicacionMedica})">
						   <sa-icon name="PLUS-SQUARE-2"></sa-icon>
					   </button>
					   <button id="puedeVerSUeros_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Ver Sueros" ng-if="indicacionMedica.TipoIndicacion.Id == 2"
						uib-tooltip-placement="top" ng-click="vm.verSueros({pObject:indicacionMedica})">
						   <sa-icon name="LIST"></sa-icon>
					   </button>
					</td>

					<td class="text-center visible-xs visible-sm hidden-md hidden-lg"  ng-class="{'color-row-deshabilitado': indicacionMedica.EstadoIndicacion.Id == 2 }">
						<button type="button" uib-tooltip="Ver Detalle"
						uib-tooltip-placement="top" ng-click="vm.verDetalle(indicacionMedica)" class="btn btn-block btn-success">Ver Detalle</button>	

						<button id="imprimirZebra_button" type="button" uib-tooltip="Imprimir Stickers Zebra"
						uib-tooltip-placement="top" ng-click="vm.imprimirZebra({pObject:indicacionMedica})" class="btn btn-block btn-success">Impr. Sticker</button>	

						<button id="puedeColocarSuero_button" type="button" uib-tooltip="Colocar Suero" ng-if="indicacionMedica.PuedeColocarSuero"
						uib-tooltip-placement="top" ng-click="vm.colocarSuero({pObject:indicacionMedica})" class="btn btn-block btn-success">Colocar Suero</button>	

						<button id="VerSueros_button" type="button" uib-tooltip="Ver Sueros" ng-if="indicacionMedica.TipoIndicacion.Id == 2"
						uib-tooltip-placement="top" ng-click="vm.verSueros({pObject:indicacionMedica})" class="btn btn-block btn-success">Ver Sueros</button>	
	
						</td>



				</tr>
				<tr ng-show="indicacionMedica.showSubData">
					<td colspan="12">
						<div class="col-xs-1">

						</div>
						<div class="col-xs-11">
							<!-- SEGUNDO NIVEL DE TABLA -->

							<!-- mostramos las EJECUCIONES Para las DOSIFICACIONES (indicacionMedica.TipoIndicacion.Id == 1)-->
							<div ng-show="indicacionMedica.TipoIndicacion.Id == 1">
								<div class="row fila">
									<div class="col-xs-12" ng-show="indicacionMedica.Ejecuciones.length > 0">
										<h2>
											<strong>Ejecuciones</strong>
										</h2>
										<table class="table color-verde-pastel-prefactura">
											<thead class="levelTwo">
												<tr></tr>
												<tr class="cabecera-tabla-celeste">
													<th>Fecha Programada</th>
													<th>Fecha Suministrado</th>
													<th>Suministrado</th>
													<th>Usuario</th>
													<th>Observación</th>
													<th ng-if="vm.facturarDevolverIf">Facturar</th>
													<th ng-if="vm.facturarDevolverIf">Devolver</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="ejecucion in indicacionMedica.Ejecuciones">
													<td ng-bind="ejecucion.FechaProgramada | date : 'dd/MM/yy HH:mm'"></td>
													<td>{{ejecucion.FechaEjecucion | date : 'dd/MM/yy HH:mm'}}</td>
													
													<td>

														<button type="button" id="icon_sinfacturar" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 1"
														 uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
															<sa-icon name="CLOCK" class="fa-1-3x"></sa-icon>
														</button>
														<button type="button" id="icon_facturado" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 2"
														 style=" color: green; " uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
															<sa-icon name="CHECK" class="fa-1-3x"></sa-icon>
														</button>
														<button type="button" id="icon_devuelto" class="btn btn-white " ng-if="ejecucion.EstadoEjecucion.Id == 3"
														 tyle=" color: red; " uib-tooltip="{{ejecucion.EstadoEjecucion.Nombre}}" uib-tooltip-placement="top">
															<sa-icon name="DEL" class="fa-1-3x"></sa-icon>
														</button>

													</td>
													<td>{{ejecucion.NombreEnfermera}}</td>
													<td>{{ejecucion.Observaciones}}-</td>
													<td ng-if="vm.facturarDevolverIf" class="text-center">
														<label class="material-checkbox" ng-if="ejecucion.PuedeFacturar">
															<input type="checkbox" ng-model="ejecucion.Facturar" ng-change="vm.changeCheckAccion(indicacionMedica,ejecucion, 1, 1)">
															<span></span>
														</label>
													</td>
													<td ng-if="vm.facturarDevolverIf" class="text-center">
														<label class="material-checkbox" ng-if="ejecucion.PuedeDevolver">
															<input type="checkbox" ng-model="ejecucion.Devolver" ng-change="vm.changeCheckAccion(indicacionMedica,ejecucion, 2, 1)">
															<span></span>
														</label>
													</td>
													<td class="">
														<button id="suministrar_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Suministrar"
														 ng-if="ejecucion.PuedeSuministrar" uib-tooltip-placement="top" ng-click="vm.suministrar({pObject:ejecucion})">
															<sa-icon name="MEDIKIT"></sa-icon>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="indicacionMedica.Ejecuciones.length == 0">
										<label>No hay EJECUCIONES...</label>
									</div>
								</div>

								<!-- mostramos los DESCARTABLES para las DOSIFICACIONES (indicacionMedica.TipoIndicacion.Id == 1) -->
								<div class="row fila" style="margin-bottom: 20px;">
									<div class="col-xs-12">
										<h2>
											<strong>Descartables</strong>
										</h2>
										<table class="table color-aquaorange-turno" ng-show="indicacionMedica.Descartables.length > 0">
											<thead class="levelTwo">
												<tr></tr>
												<tr class="cabecera-tabla-celeste">
													<th>Producto</th>


													<th ng-if="vm.facturarDevolverIf">Facturar</th>
													<th ng-if="vm.facturarDevolverIf">Devolver</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="descartable in indicacionMedica.Descartables">
													<td>{{descartable.Producto.CodigoStockeable}} - {{descartable.Producto.NombreStockeable}} -
														{{descartable.Producto.PresentacionStockeable}}</td>

													<td ng-if="vm.facturarDevolverIf" class="text-center">
														<label class="material-checkbox" ng-if="descartable.PuedeFacturar">
															<input type="checkbox" ng-model="descartable.Facturar" ng-change="vm.changeCheckAccion(indicacionMedica,descartable, 1, 2)">
															<span></span>
														</label>
													</td>
													<td ng-if="vm.facturarDevolverIf" class="text-center">
														<label class="material-checkbox" ng-if="descartable.PuedeDevolver">
															<input type="checkbox" ng-model="descartable.Devolver" ng-change="vm.changeCheckAccion(indicacionMedica,descartable, 2, 2)">
															<span></span>
														</label>
													</td>
													<td class="text-center">
														<button id="eliminar_descartable_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar Descartable"
														 ng-if="descartable.PuedeEliminar" uib-tooltip-placement="top" ng-click="vm.eliminarDescartable({pObject:descartable})">
															<sa-icon name="DEL"></sa-icon>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="indicacionMedica.Descartables.length == 0">
											<label>No hay DESCARTABLES...</label>
										</div>
									</div>
								</div>

							</div>

							<!-- mostramos los AGREGADOS para las INFUSIONES (indicacionMedica.TipoIndicacion.Id == 2) -->
							<div ng-show="indicacionMedica.TipoIndicacion.Id == 2" class="row fila" style="margin-bottom: 20px">
								<h2>
									<strong>Agregados</strong>
								</h2>
								<table class="table color-celeste-pastel-prefactura" ng-show="indicacionMedica.Agregados.length > 0">
									<thead class="levelTwo">
										<tr></tr>
										<tr class="cabecera-tabla-celeste">
											<th>Producto</th>
											<th>Monodroga</th>
											<th>Cantidad</th>
											<th>Unidad</th>
											<th>Suspendido</th>


											<th ng-if="vm.facturarDevolverIf">Facturar</th>
											<th ng-if="vm.facturarDevolverIf">Devolver</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="agregado in indicacionMedica.Agregados">
											<td>{{agregado.Producto.CodigoStockeable}} - {{agregado.Producto.NombreStockeable}} -
												{{agregado.Producto.PresentacionStockeable}}
												<sa-icon ng-if="agregado.Producto.TipoAntibiotico.Id == 2" name="COPYRIGHT" uib-tooltip="Tipo Antibiótico: {{agregado.Producto.TipoAntibiotico.Nombre}}"
												 uib-tooltip-placement="top" class="fa-1-3x" style="color: orange"></sa-icon>
												<sa-icon ng-if="agregado.Producto.TipoAntibiotico.Id == 3" name="REGISTERED" uib-tooltip="Tipo Antibiótico: {{agregado.Producto.TipoAntibiotico.Nombre}}"
												 uib-tooltip-placement="top" class="fa-1-3x" style="color: red"></sa-icon>
											</td>
											<td ng-bind="agregado.Producto.Droga"></td>
											<td ng-bind="agregado.Cantidad"></td>
											<td ng-bind="agregado.Unidad"></td>

											<td ng-if="!agregado.EstaSuspendido">-</td>
											<td ng-if="agregado.EstaSuspendido" ng-class="{'color-row-deshabilitado': agregado.EstaSuspendido }">
												<button type="button" id="icon_suspe" class="btn btn-white" style=" color: gray; " uib-tooltip="Suspendida"
												 uib-tooltip-placement="top">
													<sa-icon name="ANULAR" class="fa-1-3x"></sa-icon>
												</button></td>


											<td ng-if="vm.facturarDevolverIf" class="text-center">
												<label class="material-checkbox" ng-if="agregado.PuedeDevolver">
													<input type="checkbox" ng-model="agregado.Devolver" ng-change="vm.changeCheckAccion(indicacionMedica,agregado, 2, 3)">
													<span></span>
												</label>
											</td>

											<td class="text-center">

												<button id="cambiar_producto_button" type="button" class="btn btn-white btn-xs" uib-tooltip="Cambiar Producto Agregado"
												 ng-if="agregado.PuedeCambiarProducto" uib-tooltip-placement="top" ng-click="vm.cambiarProductoAgregado({pObject:agregado})">
													<sa-icon name="REFRESH"></sa-icon>
												</button>

												<button id="ver_observacion_agregado" type="button" class="btn btn-white btn-xs" uib-tooltip="Observación Agregado: {{agregado.Observacion}}"
												 ng-if="agregado.Observacion.length" uib-tooltip-placement="top">
													<sa-icon name="COMMENTING"></sa-icon>
												</button>

											</td>
										</tr>
									</tbody>
								</table>
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 text-center" ng-show="indicacionMedica.Agregados.length == 0">
									<label>No hay AGREGADOS...</label>
								</div>
							</div>

							<!-- End SEGUNDO NIVEL DE TABLA -->

						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Paginacion zone -->
	<div class="col-xs-12">
		<div class="text-center ">
			<div uib-pagination boundary-links="true " max-size="9 " items-per-page="vm.paginacion.pageSize " total-items="vm.paginacion.totalItems "
			 ng-model="vm.paginacion.currentPage " ng-change="vm.pageChanged() " previous-text="&lsaquo; " next-text="&rsaquo; "
			 first-text="&laquo; " last-text="&raquo; ">
			</div>
		</div>
	</div>

</div>