<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row fila">

            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <sa-sucursal-select sucursal="vm.sucursal">
                </sa-sucursal-select>
            </div>


            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <div sa-form-input>
                    <label for="piso_selector" id="piso_label">Piso</label>
                    <select class="form-control" id="piso_selector" name="piso_name" ng-model="vm.piso"
                        ng-options="piso as piso.Nombre for piso in vm.pisosList">
                        <option value="">--SELECC. PISO--</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <div sa-form-input>
                    <label for="sector_selector" id="sector_label">Sector</label>
                    <select class="form-control" id="sector_selector" name="Sector" ng-model="vm.sector"
                        ng-options="sector as sector.Nombre for sector in vm.sectorsList">
                        <option value="">--SELECC. SECTOR--</option>
                    </select>
                </div>
            </div>


            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" sa-form-input>
                <label for="internado_select">Internados</label>
                <div class="input-group">
                    
                    <input class="form-control ng-valid" type="text" name="seleccionador_internado" placeholder="Internado..." ng-model="vm.internado.NombreMostrar"
                     ng-click="vm.seleccionarInternado()" autocomplete="off" ng-disabled="!vm.sector.Id">
                    
                    <span class="input-group-btn">
                        <button id="limpiarCarga_button" type="button" class="btn btn-default" ng-disabled="!vm.internadoId"
                            uib-tooltip="Información Internado" uib-tooltip-placement="top" ng-click="vm.informacionInternado()">
                            <sa-icon name="INFO"></sa-icon>
                        </button>
                        <button id="refresh_button" type="button" class="btn btn-default" ng-disabled="false"
                            uib-tooltip="Recargar" uib-tooltip-placement="top" ng-click="vm.recargar()">
                            <sa-icon name="REFRESH"></sa-icon>
                        </button>
                        <button id="estado_button" type="button" class="btn btn-default" ng-disabled="false"
                            uib-tooltip="Info Estados" uib-tooltip-placement="top" ng-click="vm.infoEstados()">
                            <sa-icon name="QUESTION"></sa-icon>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label for="datePickerDesde ">Fecha Indicaciones Medicas</label>
                <sa-date-time-picker ng-model="vm.fecha" id="1" type="date" ng-disabled="!vm.internadoId"></sa-date-time-picker>
            </div>

            <!-- se descomenta => no anda el qr -->
            <!-- <div class="col-xs-3" style="margin-top: 22px;">
				<button type="button" class=" btn btn-success" ng-click="vm.validarMedicamentoInternado()">Validar Indicación con Internado</button>
			</div> -->

            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group pull-right" ng-show="vm.mostrarColorInternados">
                <label>Color Internados</label>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr ng-repeat="estado in vm.estadosInternacion">
                            <td>
                                <div class="pull-left">
                                    <div class="circulito" ng-class="estado.color"></div>
                                </div>
                                &nbsp;&nbsp;{{estado.nombre}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-show="vm.indicacionesMedicasPorInternado && vm.indicacionesMedicasPorInternado.length">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- componente que muestra las indicaciones medicas -->
                <sa-indicaciones-medicas-enfermeria-table data="vm.indicacionesMedicasPorInternado" loading="vm.loading"
                    internado="vm.internado" suministrar-click="vm.suministrarEjecucion({pObject})"
                    imprimir-zebra-click="vm.imprimirZebra({pObject})" colocar-suero-click="vm.colocarSuero({pObject})" ver-sueros-cargados-click="vm.verSuero({pObject})">
                </sa-indicaciones-medicas-enfermeria-table>
            </div>
        </div>
    </div>
    
</div>
<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>


<script type="text/ng-template" id="internado-select.tpl.html">
    <a class="" ng-class="match.model.Color">
        <span ng-bind="match.model.TipoDocumento"></span> | 
        <span ng-bind="match.model.Nombre"></span>
        <span class="pull-right">
            | <span ng-bind="match.model.TipoAfiliado.Nombre"></span>
        </span>
    </a>
  </script>