<sa-modal-header
	title-name="Nuevo presupuesto de prótesis"
	title-icon="NEW2">
</sa-modal-header>
<sa-modal-body loading="vm.loading">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<label>Fecha de	creación</label>
			<div ng-bind="vm.today | date:'dd/MM/yyyy'"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<label>Fecha de vencimiento</label>
			<sa-date-picker
				model="vm.fechaVencimiento"
				min-date="vm.today">
			</sa-date-picker>
		</div>
	</div>
	<div class="row">
		<h4>Prótesis</h4>
		<div class="col-xs-12">
			<table class="table table-hover table-bordered">
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-center">Nombre</th>
						<th class="text-center">Marca sugerida</th>
						<th class="text-center">Observaciones</th>
						<th class="text-center">Prioridad</th>
						<th>Precio</th>
						<th>Seleccionar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="protesis in vm.presupuesto.Detalles">
						<td class="" ng-bind="protesis.Nombre"></td>
						<td class="" ng-bind="protesis.NombreMarcaSugerida"></td>
						<td class="text-left" ng-bind="protesis.Observaciones"></td>
						<td class="text-left" ng-bind="protesis.NombrePrioridad"></td>
						<td class="text-right" ng-bind="protesis.PrecioProtesisActual | currency"></td>
						<td class="text-center"><sa-check-box ng-model="protesis.incluir"></sa-check-box></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</sa-modal-body>
<sa-modal-footer>
	<button type="button" class="btn "
		ng-disabled="vm.loading"
		ng-click="vm.cancel()">Cancelar</button>
	<button type="button" class="btn btn-default"
		ng-disabled="vm.loading"
		ng-click="vm.ok()">Aceptar</button>
</sa-modal-footer>