<sa-modal-header title-name="Excepciones por Programacion" title-icon="LIST" loading="vm.loading">

</sa-modal-header>
<sa-modal-body loading="vm.loading">

	<div class="row">
		<!-- lista de productos -->
		<div class="col-xs-12" ng-if="vm.excepciones">
			<!-- Se define el container que gestiona la tabla-->
			<fw-table-container>
				<fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
				</fw-table-config>
				<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
				</fw-table-sorting-ext>
				<fw-table-rowset data="vm.excepciones" click-action="vm.selectRow(row)">
				</fw-table-rowset>
				<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
				<fw-table-columnset>
					<!-- Se define una column con los datos de una columna (opcional)-->
					<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->
					<fw-table-column label="'Id'" field="'Id'">
					</fw-table-column>

					<fw-table-column label="'Sucursal'" field="'Sucursal'">
					</fw-table-column>

					<fw-table-column label="'Servicio'" field="'Servicio'">
					</fw-table-column>

					<fw-table-column label="'Tipo Recurso'" field="'TipoRecurso'">
					</fw-table-column>

					<fw-table-column label="'Recurso'" field="'Recurso'">
					</fw-table-column>

					<fw-table-column label="'Tipo Excepción'" field="'ConfirmarTurnosTexto'">
					</fw-table-column>

				</fw-table-columnset>

				<!-- FILTRADO DINAMICO [Opcional] -->
				<!-- Debe estar configurado en true la configuracion correspondiente -->
				<!-- Solo debería funcionar si se trata de una tabla interna -->
				<fw-table-filter init='true'></fw-table-filter>

				<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
				<!-- Opcionalmente se puede redefinir page-size -->
				<fw-table-pagination page-size="10"></fw-table-pagination>
				<!-- Por ultimo el renderizado de la tabla -->
				<fw-table></fw-table>
			</fw-table-container>
		</div>
	</div>

</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<input type="submit" class="btn" ng-click="vm.cancel()" value="Cerrar">
</sa-modal-footer>
</div>