<ng-form name="formTabPrestacionMedica">
	<sa-title
		btn-new-click="vm.recurso.new()"
		btn-new-disabled="vm.formControl.loading"
	></sa-title>
	<div id="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error || vm.data.recursos.length == 0" >
		<div class="row fila" ng-hide="vm.data.recursos.length <= vm.paginacion.pageSize">
			<h4>Búsqueda avanzada</h4>
			<form name="formFilter" accept-charset="utf-8" novalidate>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_numero_servicio" class="label-control">Nº Recurso</label>
					<input type="number" class="form-control"
						id="txt_numero_servicio"
						name="idServicio"
						min="0"
						max="9999"
						ng-class="{ error : formFilter.id.$error.number }"
						ng-model="vm.filter.id"
						ng-change="vm.paginacionRecursos.pageChanged()">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="txt_nombre_prestacion" class="label-control ">Nombre Recurso</label>
					<input type="text" class="form-control text-uppercase"
						id="txt_nombre_prestacion"
						name="nombrePrestacion"
						ng-class="{ error : formFilter.id.$error.number }"
						ng-model="vm.filter.nombrePrestacion"
						ng-change="vm.paginacionRecursos.pageChanged()">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
					<label for="cmb_sucursal" class="label-control">Tipo Recurso</label>
					<select class="form-control"
						id="cmb_sucursal"
						ng-model="vm.filter.tipoRecurso"
						ng-change="vm.paginacionRecursos.pageChanged()"
						ng-options="tipoRecurso.Nombre for tipoRecurso in vm.data.tipoRecursos track by tipoRecurso.Id">
						<option value="">TODOS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 pull-left">
					<label for="txt_cantaidad_camas" class="label-control">Cantidad Recursos </label>
					<div >
						<strong ng-bind="vm.paginacionRecursos.totalItems"></strong>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
					<button type="button" class="btn btn-default btn-row btn-block"
						ng-click="vm.filter.clean()">
						Limpiar
					</button>
				</div>
			</form>
		</div>
		<sa-recursos-list
			ng-model="vm.filter.recursos"
			
			tooltip-option="Especialidad o Prestacion"

			view-estado-if="true"

			btn-view-click="vm.recurso.view(pRecurso)"
			btn-view-disabled="vm.formControl.loading"
			btn-view-if="!vm.formControl.loading"

			btn-add-click="vm.recurso.add(pRecurso)"
			btn-add-disabled="vm.formControl.loading"
			btn-add-if="!vm.formControl.loading"

			btn-desactivar-click="vm.recurso.desactivar(pRecurso)"
			btn-desactivar-disabled="vm.formControl.loading"
			btn-desactivar-if="!vm.formControl.loading"

			btn-delete-click="vm.recurso.delete(pRecurso)"
			btn-delete-disabled="vm.formControl.loading"
			btn-delete-if="!vm.formControl.loading"

			>
		</sa-recursos-list>
						
		<div class="row" ng-hide="vm.data.recursos.length <= vm.paginacionRecursos.pageSize">
			<div class="col-sm-12">
				<div class="text-center">
					<div uib-pagination 
						max-size="10"
						items-per-page="vm.paginacionRecursos.pageSize"
						total-items="vm.paginacionRecursos.totalItems"
						ng-model="vm.paginacionRecursos.currentPage"
						ng-change="vm.paginacionRecursos.pageChanged()"
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
					</div>
				</div>
			</div>
		</div><!-- .row>-->
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
	<div ng-hide="vm.data.recursos.length != 0">
		<h2>Sin Datos</h2>
	</div>
</ng-form>
