<ng-form name="formTabPrestacionMedica">
	<sa-title
		btn-new-click="vm.prestacion.new()"
		btn-new-disabled="vm.formControl.loading"
	></sa-title>
	<div id="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error || vm.data.prestaciones.length == 0" >
		<sa-prestacion-list
			ng-model="vm.data.prestaciones"

			view-estado-if="true"
			items-per-page="6"

			view-acciones-if="true"

			btn-desactivar-click="vm.prestacion.desactivar(pPrestacion)"
			btn-desactivar-disabled="vm.formControl.loading"
			btn-desactivar-if="!vm.formControl.loading"

			btn-delete-click="vm.prestacion.delete(pPrestacion)"
			btn-delete-disabled="vm.formControl.loading"
			btn-delete-if="!vm.formControl.loading"

			>
		</sa-prestacion-list>
	</div>
	<sa-loading ng-if="vm.formControl.loading"></sa-loading>
	<!-- <div ng-hide="vm.data.prestaciones.length != 0">
		<h2>Sin Datos</h2>
	</div> -->
</ng-form>