<sa-modal-header
	title-name="Seleccionar entidad"
	title-icon="LIST">
</sa-modal-header>
<sa-modal-body>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group">
			<label>Tipo Entidad</label>
			<select class="form-control" name="tipoEntidad" ng-model="vm.tipoEntidadElegida"
				ng-options="tiposEntidad as tiposEntidad.Nombre for tiposEntidad in vm.tiposEntidad" sa-enter autofocus>
			</select>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group">
			<label class="label-control">{{vm.tipoEntidadElegida.DescripcionCodigo}}</label>
			<input type="text" class="form-control" ng-model="vm.codigo" sa-enter>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" ng-model="vm.nombre" sa-enter>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group">
			<button sa-btn-search
				ng-click="vm.buscar()" class="btn-row"
				sa-punto-click="vm.buscar()" sa-enter>
				Buscar
			</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group">
			<button sa-btn-clean
				ng-click="vm.limpiarFiltros()" class="btn-row"
				sa-punto-click="vm.limpiarFiltros()" sa-enter>
				Limpiar
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="cabecera-tabla">
						<th class="text-center">Tipo Entidad</th>
						<th class="text-center">Código</th>
						<th class="text-center">Nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entidad in vm.listadoEntidadesFiltradas | orderBy: 'Codigo'" ng-dblclick="vm.entidadSeleccion(entidad)">
						<td class="text-center">{{entidad.NombreTipoEntidad}}</td>
						<td class="text-center">{{entidad.Codigo}}</td>
						<td class="text-left">{{entidad.Nombre}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 form-group">
			<div class="text-center">
				<div uib-pagination 
					max-size="10"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.pageChanged()"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div>
</sa-modal-body>
<sa-modal-footer>
	<div class="row text-center">
		<input type="submit" class="btn" value="Cancelar" sa-enter ng-click="vm.cancel()" sa-punto-click="vm.cancel()">
	</div>
</sa-modal-footer>