<sa-loading ng-if="vm.loading"></sa-loading>
<div ng-show="!vm.loading">

	<sa-modal-header title-name="Reporte de Turnos por Fecha y Profesional" title-icon="PRINT">
	</sa-modal-header>

	<sa-modal-body>
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group ">
				<label for="datePickerHasta ">Fecha</label>
				<sa-date-time-picker ng-model="vm.fecha" id="1" type="date">
				</sa-date-time-picker>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 form-group">
				<label for="">Servicio</label>
				<select class="form-control" id="id_servicio" ng-model="vm.servicio" 
				ng-options="servicio.Nombre for servicio in vm.servicios track by servicio.Id"
				ng-change="vm.cargarSucursalesXServicio(vm.servicio);vm.cargarRecursosXServicio(vm.servicio);">
					<option value="">Seleccionar Servicio</option>
				</select>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 form-group ">
				<!-- <sa-selector-recurso ng-model="vm.recurso" ng-disabled="!vm.servicio" idservicio="vm.servicio">
				</sa-selector-recurso> -->
				<label for="">Recurso</label>
				<select class="form-control" id="id_recurso" ng-model="vm.recurso" ng-disabled="!vm.servicio.Id"
				ng-options="recurso.Nombre for recurso in vm.recursos track by recurso.Id">
					<option value="">Seleccionar Recurso</option>
				</select>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 form-group">
				<label for="">Sucursal</label>
				<select class="form-control" id="id_sucursal" ng-model="vm.sucursal" ng-disabled="!vm.servicio"
				ng-options="sucursal.Nombre for sucursal in vm.sucursalesXServicio">
					<option value="">Seleccionar Sucursal</option>
				</select>
			</div>

		</div>

	</sa-modal-body>
	<sa-modal-footer>

 		<button type="button" class="btn" sa-btn-print ng-click="vm.imprimir()" >Imprimir</button>
		<button type="button" class="btn btn-borrar" ng-click="vm.cancel()">Cerrar</button>


	</sa-modal-footer>

</div>