<sa-title title-name="vm.title.page" title-icon="LIST" btn-new-click="vm.formControl.new()"
    btn-new-disabled="vm.formControl.loading && !vm.validar.puedeAgregar()"
    btn-reload-click="vm.formControl.reloadPage()" btn-reload-disabled="vm.formControl.loading">
</sa-title>
<div class="row">
    <!-- Filtros Prestación / Nombre / Código Nomenclador-->
    <div class="col-xs-12">
        <fw-table-container>
            <fw-table-config sortable="true" paginable="true" filtrable="true" exportable="true">
            </fw-table-config>
            <!--Modal / Filtros Buscadores-->

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <label>Prestación N°</label>
                    <input type="number" class="form-control" max="999999999" placeholder="0"
                        ng-model="vm.formControl.codigo" sa-enter>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group" sa-form-input>
                    <label>Nombre de Prestación</label>
                    <input type="text" class="form-control" maxlength="70" ng-model="vm.formControl.nombre" sa-enter>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 form-group">
                    <sa-prefacturable-selector model='vm.formControl.prefacturable' ng-disabled="false" sa-enter>
                    </sa-prefacturable-selector>
                </div>
            </div>

            <div class="row">



                <!--Botones -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group text-right" sa-form-input>
                    <button type="button" sa-btn-search class="btn-row" ng-click="vm.formControl.buscar()"
                        sa-punto-click="vm.formControl.buscar()" sa-enter>Buscar</button>
                    <button type="button" sa-btn-clean class="btn-row" ng-click="vm.formControl.limpiarFiltros()"
                        sa-punto-click="vm.formControl.limpiarFiltros()" sa-enter>Limpiar</button>
                </div>
            </div>
        </fw-table-container>
        <sa-table-ext data="vm.data.listadoPrestaciones" page-change="vm.formControl.buscarPagina(pagination)"
            btn-edit-click="vm.formControl.editarPrestacion(row)"
            btn-delete-click="vm.formControl.borrarPrestacion(row, index)" export="vm.table.export(exportation)">
        </sa-table-ext>
    </div>

    <div class="col-xs-12 text-center">
        <br>
        <button class="btn btn-cancelar" ng-click="vm.formControl.volver()" sa-punto-click="vm.formControl.volver()"
            sa-enter>
            Volver
        </button>
    </div>

</div>

<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>