<sa-title title-name="vm.title.name" title-icon="LIST" btn-new-click="vm.formControl.editar(null)"></sa-title>
<form name="formOrganizacion" accept-charset="utf-8" novalidate>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" sa-form-input>
			<label class="control-label">Código</label>
			<input type="text" class="form-control" ng-model="vm.filter.codigo" min="0" id="codigo-list-organizacion" sa-enter sa-integer>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group" sa-form-input>
			<label class="control-label">Razón Social</label>
			<input type="text" class="form-control text-uppercase" ng-model="vm.filter.nombre" id="razon-social-list-organizacion" sa-enter>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
			<sa-check-box label="Solo Activos" ng-model="vm.filter.soloActivos" color="green" id-element="solo-activos-list-organizacion"
			sa-enter ng-change="vm.formControl.activoChange()"></sa-check-box>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<button sa-btn-search ng-click="vm.formControl.buscar()" class="btn-row" sa-punto-click="vm.formControl.buscar()" id="buscar-list-organizacion-btn" sa-enter>
				Buscar
			</button>
			<button sa-btn-clean ng-click="vm.formControl.limpiarFiltros()" class="btn-row" sa-punto-click="vm.formControl.limpiarFiltros()"
				id="limpiar-list-organizacion-btn" sa-enter>
				Limpiar
			</button>
		</div>
	</div>
</form>
<sa-table-ext data="vm.data.organizaciones" page-change="vm.formControl.buscarPagina(pagination)" export="vm.table.export(exportation)"
	btn-edit-click="vm.formControl.editar(row.Id)" btn-Delete-Click="vm.formControl.borrar(row, $index)" btn-id-element="list-organizacion-btn">
</sa-table-ext>
<div class="row">
	<div class="row text-center">
		<button class="btn btn-cancelar" ng-click="vm.formControl.volver()" sa-punto-click="vm.formControl.volver()" id="volver-list-organizacion-btn" sa-enter>
			Volver
		</button>
	</div>
</div>