<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.pregunta.Visible">
    <div class="row fila">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>
            {{vm.pregunta.Nombre}} <span ng-if="vm.pregunta.Requerido">*</span>
        </h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="mw-pregunta-answers" ng-switch="vm.pregunta.TipoDeDato">
                <div ng-switch-when="text">
                    <input class="form-control" 
                            type="text" 
                            ng-model="vm.pregunta.Valor"  
                            placeholder="" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="textarea">
                    <textarea msd-elastic 
                            class="form-control" 
                            ng-model="vm.pregunta.Valor"  
                            placeholder="" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                    </textarea>
                </div>
                <div ng-switch-when="radio">
                    <div class="radio" ng-repeat="answer in vm.pregunta.Valores">
                        <label>
                            <input type="radio" 
                                    ng-model="vm.pregunta.Seleccionado" 
                                    ng-value="answer" 
                                    name="answer-for-pregunta-{{vm.pregunta.Id}}" 
                                    ng-change="vm.onUpdate()" 
                                    ng-required="vm.pregunta.Requerido && !vm.pregunta.HabilitarOtro" 
                                    ng-disabled="vm.pregunta.SoloLectura">
                                    
                        {{answer.Nombre}}
                        </label>
                    </div>
                    <div class="radio" ng-if="vm.pregunta.HabilitarOtro">
                        <label>
                            <input type="radio" 
                                    ng-model="vm.pregunta.HabilitarOtro" 
                                    ng-value="true" 
                                    name="other-answer-for-pregunta-{{vm.pregunta.Id}}" 
                                    ng-change="vm.onUpdate()" 
                                    ng-disabled="vm.pregunta.SoloLectura"><span>Otro...</span>:
                        </label>
                        <span class="form-inline">
                            <input type="text" 
                                    name="other-answer-for-pregunta-{{vm.pregunta.Id}}" 
                                    ng-model="vm.pregunta.other" 
                                    class="form-control" 
                                    ng-disabled="!vm.pregunta.HabilitarOtro || vm.pregunta.SoloLectura"
                                    ng-required="vm.pregunta.HabilitarOtro">
                        </span>
                    </div>
                </div>

                <div ng-switch-when="checkbox">
                    <div class="checkbox" ng-repeat="answer in vm.pregunta.Valores">
                        <label>
                            <input type="checkbox" 
                                    name="answer-for-pregunta-{{vm.pregunta.Id}}" 
                                    ng-model="answer.Seleccionado" 
                                    ng-click="vm.toggleSelectedAnswer(answer)" 
                                    ng-disabled="vm.pregunta.SoloLectura">
                                    {{answer.Nombre}}
                        </label>
                    </div>
                    <div class="checkbox"  ng-if="vm.pregunta.HabilitarOtro">
                        <label>
                            <input type="checkbox" 
                            name="answer-for-pregunta-{{vm.pregunta.Id}}" 
                            ng-model="vm.pregunta.HabilitarOtro" 
                            ng-change="vm.onUpdate()" 
                            ng-disabled="vm.pregunta.SoloLectura">
                            <span>Otro...</span>:
                        </label>
                        <span class="form-inline">
                            <input type="text" 
                            ng-model="vm.pregunta.other" 
                            name="other-answer-for-pregunta-{{vm.pregunta.Id}}" 
                            class="form-control" 
                            ng-disabled="!vm.pregunta.HabilitarOtro || vm.pregunta.SoloLectura" 
                            ng-required="vm.pregunta.HabilitarOtro">
                        </span>

                    </div>
                    <input type="hIdden" 
                    ng-model="vm.selectedAnswer"
                    ng-required="vm.pregunta.Requerido &&!vm.pregunta.HabilitarOtro"/>
                </div>
                <div ng-switch-when="select">
                    <select ng-options="answer as answer.Nombre for answer in vm.pregunta.Valores" 
                    ng-model="vm.pregunta.Seleccionado" 
                    ng-change="vm.onUpdate()"
                    class="form-control"  
                    ng-disabled="vm.pregunta.SoloLectura" 
                    ng-required="vm.pregunta.Requerido"></select>
                </div>

                <div ng-switch-when="number" class="form-inline">
                    <input class="form-control" 
                            min="{{vm.pregunta.min}}" 
                            max="{{vm.pregunta.max}}"  
                            type="number" 
                            ng-model="vm.pregunta.Valor" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="date" class="form-inline">
                    <input class="form-control" 
                            type="date" 
                            ng-model="vm.pregunta.Valor" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="datetime" class="form-inline">
                    <input class="form-control" 
                            type="datetime" 
                            ng-model="vm.pregunta.Valor" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="time" class="form-inline">
                    <input class="form-control" 
                            type="time" 
                            ng-model="vm.pregunta.Valor" 
                            ng-required="vm.pregunta.Requerido" 
                            ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="email" class="form-inline">
                    <input class="form-control" 
                    type="email" 
                    ng-model="vm.pregunta.Valor" 
                    ng-required="vm.pregunta.Requerido" 
                    ng-readonly="vm.pregunta.SoloLectura">
                </div>
                <div ng-switch-when="range" class="mw-range">
                    <input class="" 
                    ng-attr-min="{{vm.pregunta.min}}" 
                    ng-attr-max="{{vm.pregunta.max}}" 
                    type="range" 
                    ng-model="vm.pregunta.Valor" 
                    ng-required="vm.pregunta.Requerido" 
                    ng-readonly="vm.pregunta.SoloLectura">
                    <strong class="mw-range-value-label">{{vm.pregunta.Valor}}</strong>
                </div>
                <div ng-switch-when="url" class="form-inline">
                    <input class="form-control" 
                    type="url" 
                    ng-model="vm.pregunta.Valor" 
                    ng-required="vm.pregunta.Requerido" 
                    ng-readonly="vm.pregunta.SoloLectura">
                </div>
            </div>
        </div>

    </div>

</div>

        <!-- <div ng-switch-when="grId">
            <div class="table-responsive">
                <table class="table table-condensed table-striped" border="0" cellpadding="5" cellspacing="0">
                    <thead>
                    <tr>
                        <td></td>
                        <td ng-repeat="col in ::vm.pregunta.grId.cols">
                            <label>{{::vm.print(col.label)}}</label>
                        </td>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="row in ::vm.pregunta.grId.rows">
                        <td>
                            {{::vm.print(row.label)}}
                        </td>
                        <td ng-repeat="col in ::vm.pregunta.grId.cols" ng-switch="vm.pregunta.grId.cellInputType">
                            <input ng-switch-when="radio"  type="radio" ng-model="vm.pregunta[row.Id]" ng-value="col.Id" name="answer-for-pregunta-{{row.Id}}" ng-required="vm.pregunta.Requerido" ng-disabled="vm.pregunta.SoloLectura">
                            <input ng-switch-when="checkbox"  type="checkbox" ng-model="vm.pregunta[row.Id][col.Id]" name="answer-for-pregunta-{{row.Id}}-{{col.Id}}" ng-required="vm.pregunta.Requerido"  ng-disabled="vm.pregunta.SoloLectura">
                            <input ng-switch-default  ng-attr-type="{{vm.pregunta.grId.cellInputType}}" ng-model="vm.pregunta[row.Id][col.Id]" name="answer-for-pregunta-{{row.Id}}-{{col.Id}}" ng-required="vm.pregunta.Requerido" ng-disabled="vm.pregunta.SoloLectura" ng-class="'form-control'">
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div> -->
        <!-- <div ng-switch-when="division" class="division-list" ng-form="vm.divisionForm">
            <div class="form-inline" style="margin-bottom: 5px" ng-repeat="item in vm.pregunta.Valores">
                <div class="form-group">
                    <label>
                        {{item.Nombre}}
                    </label>
                    <input type="number" 
                    class="form-control" 
                    ng-model="vm.pregunta[item.Id]" 
                    min="0" 
                    max="{{vm.pregunta.quantity}}" 
                    required style="wIdth: 80px" 
                    ng-change="vm.computeDivisionSum()" 
                    ng-readonly="vm.pregunta.SoloLectura">
                    <span>{{::vm.print(vm.pregunta.unit)}}</span>
                </div>

            </div>
            <div class="form-inline" style="margin-bottom: 5px">
                <div class="form-group">
                    <label translate="mwForm.pregunta.division.assignedSumLabel">
                        Przydzielono
                    </label>
                    <input type="number" class="form-control strict-valIdation" ng-model="vm.divisionSum" min="{{vm.pregunta.quantity}}" max="{{vm.pregunta.quantity}}" style="wIdth: 80px" readonly>
                    <span>{{vm.pregunta.unit}} <span translate="mwForm.pregunta.division.fromRequiredLabel">z wymaganych</span> <strong>{{vm.pregunta.quantity}}</strong> {{vm.pregunta.unit}}  <i ng-show="vm.divisionForm.$valId" class="fa fa-check" style="color:#008000;"></i></span>
                </div>

            </div>

        </div> -->

        <!-- <mw-priority-list ng-switch-when="priority" pregunta-response="vm.pregunta" pregunta="vm.pregunta" read-only="vm.pregunta.SoloLectura"></mw-priority-list> -->
