<div ng-hide="vm.formControl.loading">
	<form name="formTelefono" accept-charset="utf-8" novalidate >
		<div class="modal-header">
			<h4 class="modal-title">
				<div ng-if="vm.formControl.esEdit"><sa-icon name="EDIT"></sa-icon> Editar Telefono</div>
				<div ng-if="vm.formControl.esNew"><sa-icon name="NEW2"></sa-icon> Nuevo Telefono</div>
			</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="cmb_tipo_uso_telefono">Tipo de uso (*)</label>
						<select id="cmb_tipo_uso_telefono"
							name="tipoUsoTelefono" class="form-control"
							ng-required="true"
							ng-model="vm.formData.telefono.TipoUso"
							ng-options="tipo.Nombre for tipo in vm.data.tiposUsoTelefono track by tipo.Id"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="cmb_tipo_equipo_telefono">Tipo de equipo (*)</label>
						<select id="cmb_tipo_equipo_telefono"
							name="tipoEquipoTelefono" class="form-control"
							ng-required="true"
							ng-model="vm.formData.telefono.TipoEquipo"
							ng-options="tipo.Nombre for tipo in vm.data.tiposEquipoTelefono track by tipo.Id"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
					<sa-check-box label="Por defecto" ng-model="vm.formData.telefono.Defecto"
						id-element="defecto_telefono"
						color="blue">
					</sa-check-box>
				</div>				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="cmb_pais_telefono">Pais (*)</label>
						<select id="cmb_pais_telefono"
							name="paisTelefono" class="form-control"
							ng-required="true"
							ng-model="vm.formData.pais"
							ng-change="vm.formControl.cargarCodigosArea(vm.formData.pais.id_pais)"
							ng-options="pais.nombre_pais for pais in vm.data.paises track by pais.id_pais"
							sa-enter>
							<option value="">-SELECCIONAR-</option>
						</select>
					</div>
				</div>
<!-- 				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  form-group">
					<label for="cmb_codigo_area">Código de area <span ng-if="vm.data.codigosArea.length">(*)</span></label>
					<select id="cmb_codigo_area"
						name="codigoAreaTelefono" class="form-control"
						ng-required="vm.data.codigosArea.length"
						ng-disabled="!vm.data.codigosArea.length"
						ng-model="vm.formData.telefono.CodigoArea"
						ng-options="codigo.codigo_area for codigo in vm.data.codigosArea track by codigo.id_codigo_area">
						<option value="">-SELECCIONAR-</option>
					</select>
						<sa-text-error model="formTelefono.codigoAreaTelefono"></sa-text-error>
				</div> -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_numero_codigo_area" uib-tooltip="Valor mayor a 0 y mas de 2 caracteres" tooltip-placement="top">Código de area (*)</label>
						<input type="text" id="txt_numero_codigo_area"
							sa-integer 
							name="numeroCodigoArega" 
							autocomplete="off" 
							class="form-control"
							ng-required="true"
							ng-maxlength="vm.formData.maxlengthCodigoArea"
							ng-minlength="vm.formData.minlengthCodigoArea"
							ng-model="vm.formData.telefono.CodigoArea"
							min ="1"
							sa-enter>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div sa-form-input-validate>
						<label for="txt_numero_telefono">Número (*)</label>
						<input type="text" id="txt_numero_telefono" autofocus
							sa-integer 
							name="numeroTelefono" 
							autocomplete="off" 
							class="form-control"
							ng-maxlength="vm.formData.maxlength"
							ng-minlength="vm.formData.minlength"
							ng-required="true"
							ng-model="vm.formData.telefono.Numero"
							sa-enter>
					</div>	
				</div>
			</div>
		</div>
		<div class="modal-footer" >
			<button type="button"
				class="btn"
				ng-click="vm.formControl.cancel()"
				sa-punto-click="vm.formControl.cancel()"
				id="btn_cancel_telefono"
				sa-enter>Cancelar</button>
			<button type="submit"
				id="btn_aceptar_telefono"
				class="btn btn-default"
				ng-click="vm.formControl.ok(formTelefono.$valid)"
				sa-punto-click="vm.formControl.ok(formTelefono.$valid)"
				sa-enter>Aceptar</button>
		</div>
	</form>
</div>
<sa-loading ng-if="vm.formControl.loading" ></sa-loading>