<button type="button" class="btn btn-default pull-right" ng-if="!vm.formControl.loading"
    uib-tooltip="Agregar nuevo" tooltip-placement="left" uib-dropdown-toggle
    ng-click="vm.formControl.editar(null)"
    id="edit-profesionales-seguros-agregar-btn"
    sa-punto-click="vm.formControl.editar(null)"
    sa-enter>
    <sa-icon name="PLUS"></sa-icon>
</button>
<div class="row">
<div class="col-xs-12" ng-if="!vm.formControl.loading">
    <fw-table-container>
        <fw-table-rowset data="vm.data.seguros.Rows"
            click-action="clickAction()">
        </fw-table-rowset>
        <fw-table-columnset data="vm.data.seguros.Columns">
        </fw-table-columnset>
        <fw-table-buttonset>
            <fw-table-button
                visible="btnEditIf"
                label="'Editar'"
                icon="'EDIT'"
                action="vm.formControl.editar(row.Id)">
            </fw-table-button>
            <fw-table-button
                visible="true"
                label="'Eliminar'"
                icon="'DEL'"
                action="vm.formControl.borrar(row)">
            </fw-table-button>
        </fw-table-buttonset>
        <fw-table></fw-table>
    </fw-table-container>
</div>
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>