<div class="sa-dashboard-header" >
	{{title}}
</div>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="item" ng-repeat="item in widgets">
			<div class="sa-widget-header">
				<span ng-bind="item.title"></span>
				<div class="sa-widget-header-buttons">
					<button class="btn btn-default pull-right">
						<sa-icon name="DEL"></sa-icon>
					</button>
					<button class="btn btn-default pull-right">
						<sa-icon name="CONFIG"></sa-icon>
					</button>
				</div>
			</div>
			<div class="sa-widget-body"></div>
		</li>
	</ul>
</div>