<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formProfesionalExterno" accept-charset="utf-8" novalidate>
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}"></sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
					<label>Matrícula (*)</label>
					<input type="text" class="form-control" min="0" max="999999" maxlength="6" ng-model="vm.data.profesionalEdit.NumeroMatricula" 
						ng-required="true" sa-enter sa-integer autofocus id="prof-ext-edit-matricula-input">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group" sa-form-input>
					<label>Nombre (*)</label>
					<input type="text" class="text-uppercase form-control" maxlength="50" ng-model="vm.data.profesionalEdit.Nombre" id="prof-ext-edit-nombre-input"
					ng-required="true" sa-enter>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 form-group" sa-form-input>
					<label>Apellido (*)</label>
					<input type="text" class="text-uppercase form-control" maxlength="50" ng-model="vm.data.profesionalEdit.Apellido" id="prof-ext-edit-apellido-input"
					ng-required="true" sa-enter>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group" sa-form-input>
					<label>Tipo Doc.</label>
					<select name="tipoDocumento" ng-model="vm.filter.IdTipoDocumentoElegido" 
						ng-options="tipoDocumento.Id as tipoDocumento.Nombre for tipoDocumento in vm.filter.tiposDocumento"
					 	sa-enter id="prof-ext-edit-tipodoc-select">
						<option value="">-SELECCIONAR-</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
					<div sa-form-input-validate>
						<label>Número Documento</label>
						<input type="text" name="numeroDocumento" placeholder="0" ng-model="vm.data.profesionalEdit.NumeroDocumento" ng-required="false"
						min="0" max="9999999999999" sa-enter sa-integer id="prof-ext-edit-numerodoc-input">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-7 form-group" sa-form-input>
					<label>Especialidad</label>
					<input type="text" class="text-uppercase form-control" maxlength="70" ng-model="vm.data.profesionalEdit.Especialidad" 
					sa-enter id="prof-ext-edit-especialidad-input">
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit" class="btn" value="Cancelar" sa-enter ng-click="vm.formControl.cancel()" 
			sa-punto-click="vm.formControl.cancel()" id="prof-ext-edit-cancel-btn">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" sa-punto-click="vm.formControl.guardar()"
			 ng-click="vm.formControl.guardar()" ng-disabled="formProfesionalExterno.$invalid || !vm.data.profesionalEdit" sa-enter id="prof-ext-edit-guardar-btn">
		</sa-modal-footer>
	</form>
</div>