<sa-title title-name="vm.title.name" title-icon="LIST" btn-new-click="vm.editarCorteFacturacion(null, null)" btn-reload-click="vm.formControl.reloadPage()"
    btn-reload-disabled="vm.formControl.loading">
</sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">
        <form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">
                
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Mes</label>
                    <!--Para cargar los meses y quede TODAS se creo en config » mesesConstan.ts-->
                    <select class="form-control" ng-model="vm.mes" ng-options="mes.Nombre for mes in vm.meses track by mes.Id" sa-enter>
                        <option value="">TODAS</option><!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <label>Año</label>
                    <!-- ng-model » hace el vinculo al Controller -->
                    <input class="form-control" type="number"  maxlength="4" ng-model="vm.anio" sa-enter>
                    <!--ng-init ="vm.anio=2018" // Determina que salga por defecto 2018 para ser texto poner 'comillas'-->
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 form-group" sa-form-input>
                    <button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()" sa-enter>Limpiar</button>
                </div>

            </div>
        </form>

        
        <sa-table-ext data="vm.listadoCorteFacturacion" page-change="vm.buscarPagina(pagination)" btn-edit-click="vm.editarCorteFacturacion(row.Id, index)"
             btn-delete-click="vm.eliminarCorteFacturacion(row, index)">
        </sa-table-ext>

        <div class="row">
            <br>
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>
