<!-- Se define el container que gestiona la tabla-->
<fw-table-container>

    <!-- CONFIGURACION [Opcional]-->
    <!-- Corresponde a cada funcionalidad de la tabla -->
    <!-- Para que funcionen deben estar en true -->
    <fw-table-config sortable="true" filtrable="true" exportable="true" paginable="true">
        <!-- exportable="false" sortable="false" filtrable="false" paginable="true" column-config="false" -->
    </fw-table-config>

    <!-- COLUMNAS (*) [Requerido] -->
    <!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
    <fw-table-columnset>
        <!-- Se define una column con los datos de una columna (opcional)-->
        <!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->

        <fw-table-column field="'Mes'" label="'Mes'" class-col="'text-center'">
        </fw-table-column>
        <fw-table-column field="'Anio'" label="'Año'" class-col="'text-center'">
        </fw-table-column>
        <fw-table-column field="'NombreSucursal'" label="'Sucursal'" class-col="'text-center'">
        </fw-table-column>
        <fw-table-column field="'NombreServicio'" label="'Servicio'" class-col="'text-center'">
        </fw-table-column>
        <fw-table-column field="'FechaCorte'" label="'Fecha de Corte'" class-col="'text-center'">
        </fw-table-column>



    </fw-table-columnset>

    <!-- DATOS DE LA TABLA (*) [Requerido] -->

    <fw-table-rowset data="vm.listadoCorteFacturacion.Rows">
    </fw-table-rowset>

    <!-- ACCIONES DE FILA [Opcional] -->
    <!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
    <fw-table-buttonset>
        <!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
        <fw-table-button label="'Editar'" icon="'EDIT'" action="vm.editarCorteFacturacion(row.Id)">
        </fw-table-button>
        <fw-table-button label="'Borrar'" icon="'DEL'" action="vm.borrarCorteFacturacion(row, index)">

        </fw-table-button>

    </fw-table-buttonset>

    <!-- ORDENAMIENTO [Opcional] -->
    <!-- Se define una forma de ordenamiento-->
    <!-- Puede ser interno (front-end) o externo (back-end) -->
    <!-- Debe estar configurado en true la configuracion correspondiente -->
    <!-- <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
            </fw-table-sorting-ext> -->
    <fw-table-sorting></fw-table-sorting>

    <!-- FILTRADO DINAMICO [Opcional] -->
    <!-- Debe estar configurado en true la configuracion correspondiente -->
    <!-- Solo debería funcionar si se trata de una tabla interna -->
    <fw-table-filter></fw-table-filter>

    <!-- EXPORTACION [Opcional] -->
    <!-- Debe estar configurado en true la configuracion correspondiente -->
    <!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
    <!-- Exportacion interna -->
    <fw-table-export>
        <fw-table-export-csv label="'Exportar página a Excel'" status="true">
        </fw-table-export-csv>
        <!-- <fw-table-export-csv-ext label="'Exportar todo a Excel'" status="true" export="exportEventInternal(exportation)">
                </fw-table-export-csv-ext> -->
    </fw-table-export>
    <!-- Exportacion externo -->
    <!-- <fw-table-export-ext export="exportEventInternal(exportation)"></fw-table-export-ext> -->

    <!-- PAGINACION [Opcional] -->
    <!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->

    <!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
    <!-- Debe estar configurado en true la configuracion correspondiente -->
    <!-- <fw-table-pagination-ext page-change="pageChangeInternal(pagination)" page-size="pageSize" total-items="totalItems" current-page="data.CurrentPage">
            </fw-table-pagination-ext> -->

    <!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
    <!-- Opcionalmente se puede redefinir page-size -->
    <fw-table-pagination page-size="10"></fw-table-pagination>

    <!-- TABLA (*) [Requerido] -->
    <!-- Por ultimo el renderizado de la tabla -->
    <fw-table></fw-table>
</fw-table-container>