<div id="print-content" ng-hide="vm.formControl.loading">
    <form name="formSeguro" accept-charset="utf-8" novalidate>
        <sa-modal-header
            title-name="{{vm.title.name}}"
            title-icon="{{vm.title.icon}}">
        </sa-modal-header>
        <sa-modal-body>
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
                    <label class="control-label">Fecha Desde</label>
                    <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" ng-model="vm.filter.fechaDesde" ng-min="vm.filter.startDate" ng-max="vm.filter.fechaHasta" ng-required="true" sa-enter>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
                    <label class="control-label">Fecha Hasta</label>
                    <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" ng-model="vm.filter.fechaHasta" ng-min="vm.filter.fechaDesde" ng-required="true" sa-enter>
                </div> -->


                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
                        <label class="control-label">Fecha Desde</label>
                        <sa-date-time-picker ng-model="vm.filter.fechaDesde" id="1" type="date" min="vm.filter.startDate" max="vm.filter.fechaHasta" ng-change="vm.filter.changeFechaDesde()" required="true">
                        </sa-date-time-picker>  
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group ">
                        <label class="control-label">Fecha Hasta</label>
                        <sa-date-time-picker ng-model="vm.filter.fechaHasta" id="2" type="date" min="vm.filter.fechadesdeMin" required="true" >
                        </sa-date-time-picker>  
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
                    <label>Compañía</label>
                    <select name="compania"
                        ng-model="vm.filter.idCompania"
                        ng-options="compania.Id as compania.Nombre for compania in vm.data.companias"
                        ng-required="true"
                        sa-enter>
                    </select>
                </div> -->

                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group" sa-form-input>
                        <label class="">Compañia de Seguros</label>
                        <div class="input-group" > 
                        <input name="busquedaSeguro" autocomplete="off" uib-tooltip=""
                         tooltip-placement="top" type="text" placeholder="Ingrese parte del nombre" ng-model="vm.filter.companiaSeguro" id="buscador-input-seguro-typehead "
                         ng-disabled="vm.loading" uib-typeahead="compania as (compania.Nombre) for compania in vm.data.companias | filter:$viewValue | limitTo:30"
                         typeahead-loading="vm.loading" typeahead-min-length="1" typeahead-show-hint="true" ng-change="vm.filter.companiaSeguro" ng-model-options="{debounce:500}"
                         class="form-control text-uppercase" typeahead-select-on-exact="true"  typeahead-on-select="vm.formControl.updateModel()"
                         ng-focus="true">
                         <span class="input-group-btn">
                            <button class="btn btn-default"
                            uib-tooltip="Limpiar"
                            tooltip-placement="top"
                            ng-click ="vm.formControl.limpiarDatos()"
                            id="sa-buscador-dinamico-seguro-limpiar-btn"
                            sa-punto-click ="vm.formControl.limpiarDatos()"
                            sa-enter>
                            <sa-icon name="DEL"></sa-icon>
                            </button>
                        </span>
                    </div>
                    </div>





                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
                    <label>Número de Póliza</label>
                    <input type="text"
                        name="numeroPoliza"
                        ng-model="vm.filter.numeroPoliza" 
                        ng-required="true"
                        maxlength="70"
                        sa-enter>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
                    <label>Monto asegurado</label>
                    <input type="number"
                        name="montoAsegurado"
                        placeholder="0"
                        ng-model="vm.filter.montoAsegurado" 
                        ng-required="true"
                        max="99999999"
                        sa-input-importe
                        sa-enter>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
                    <label>Prima</label>
                    <input type="number"
                        name="prima"
                        placeholder="0"
                        ng-model="vm.filter.prima" 
                        ng-required="false"
                        max="99999999"
                        sa-input-importe
                        sa-enter>
                </div>
            </div>
        </sa-modal-body>
        <sa-modal-footer>
            <input type="submit"
                class="btn"
                value="Cancelar"
                sa-enter
                ng-click="vm.formControl.cancel()"
                sa-punto-click="vm.formControl.cancel()">
            <input type="submit" id="btnAgregarEditar" value="Guardar"
                class="btn btn-default"
                sa-punto-click="vm.formControl.guardar()"
                ng-click="vm.formControl.guardar()"
                ng-disabled="formSeguro.$invalid"
                sa-enter>
        </sa-modal-footer>
    </form>
</div>