<sa-modal-header title-name="Editar Stock Normal del producto: {{vm.producto.Nombre}}" title-icon="EDIT" loading="vm.loading">

	</sa-modal-header>
	<sa-modal-body loading="vm.loading">
		<div class="row">
			<div class="col-xs-12">
	
				<div class="row">
	
					<div class="col-xs-4"  sa-form-input >
						<!-- input de stock normal -->
						<label>Stock Normal Actual</label>
						<input type="number" class="form-control" ng-model="vm.producto.StockNormal" id="farm-edit-stnormal-input" sa-enter ng-disabled="true">
					</div>

					<div class="col-xs-4"  sa-form-input >
						<!-- input de stock normal -->
						<label>Nuevo Stock Normal</label>
						<input type="number" class="form-control" ng-model="vm.stockNormalNuevo" id="farm-edit-stnormalnew-input" sa-enter min="0">
					</div>
				</div>
	
			</div>
	
		</div>
	
	</sa-modal-body>
	<sa-modal-footer loading="vm.loading">
		<button type="button" sa-btn-save class="btn-success" ng-click="vm.guardar()" id="farm-edit-stcant-btn-guardar">Guardar</button>
		<input type="submit" class="btn" ng-click="vm.cancel()" id="farm-edit-stcant-btn-cancelar" value="Cancelar">
	</sa-modal-footer>