<sa-modal-header loading="vm.loading" title-name="{{vm.title.name}}" title-icon="VIEW">
</sa-modal-header>
<sa-modal-body loading="vm.loading">

	<div class="row">
		<div class="col-xs-12">
			<h3>Telefonos:</h3>
		</div>
		<div class="col-xs-10" ng-repeat="telefono in vm.paciente.Telefonos">

			<div class="input-group">
				<input  type="text" id="tel_{{$index}}" class="form-control text-uppercase" ng-readonly="true" ng-model="telefono.TelefonoCompleto"
				/> 
				<!-- <label for="" >{{telefono.TelefonoCompleto}}</label> -->
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" ng-click="vm.copiarCodigo('tel_' + $index)" id="btn_copiar_telefono_defecto">
						COPIAR TEL {{telefono.Defecto ? 'POR DEFECTO' : '' }}
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-10">
				<h3>Email:</h3>
			<div class="input-group">
				<input  type="text" class="form-control text-uppercase" id="mail_copy" ng-readonly="true" ng-model="vm.paciente.Email"
				 sa-enter />
				<span class="input-group-btn">
					<button class="btn btn-default btn-loading" ng-click="vm.copiarCodigo('mail_copy')">
						COPIAR EMAIL
					</button>
				</span>
			</div>
		</div>
	</div>

</sa-modal-body>
<sa-modal-footer loading="vm.loading">
	<button type="button" class="btn btn-default" ng-disabled="vm.loading" ng-click="vm.cancel()" id="btn_cerrar">Cerrar</button>
</sa-modal-footer>