<div class="row fila">

	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-7">
		<!-- filtro de internado -->
		<sa-selector-internado internado="vm.internado" numero-internado="vm.numeroInternado"></sa-selector-internado>
	</div>


	<div class="col-xs-2">
		<label for="datePickerDesde ">Fecha Desde</label>
		<sa-date-time-picker ng-model="vm.fechaDesde " id="1" type="date" ng-change="vm.changeFechaDesde()"></sa-date-time-picker>
	</div>

	<div class="col-xs-2">
		<label for="datePickerDesde ">Fecha Hasta</label>
		<sa-date-time-picker ng-model="vm.fechaHasta " id="2" type="date" min="vm.fechadesdeMin"></sa-date-time-picker>
	</div>

	<div class="col-xs-4 col-sm-4 col-md-2 col-lg-3" sa-form-input>
		<label for="tipoIndicacion_selector" id="tipoIndicacion_label">Tipo Indicacion</label>
		<select class="form-control" id="tipoIndicacion_selector" name="tipoIndicacion_name" ng-model="vm.tipoIndicacion" ng-disabled="vm.loading"
		    ng-options="tipoIndicacion as tipoIndicacion.Nombre for tipoIndicacion in vm.tiposIndicacionList">
			<option value="">TODOS</option>
		</select>
	</div>

	<div class="col-xs-4 col-sm-4 col-md-2 col-lg-3" sa-form-input>
		<label for="estadoIndicacion_selector" id="estadoIndicacion_label">Estado Indicación</label>
		<select class="form-control" id="estadoIndicacion_selector" name="estadoIndicacion_name" ng-model="vm.estadoIndicacion" ng-disabled="vm.loading"
		    ng-options="estadoIndicacion as estadoIndicacion.Nombre for estadoIndicacion in vm.estadoIndicacionList">
			<option value="">TODOS</option>
		</select>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 pull-right">
		<div class="row">
			<div class="col-xs-6">
				<button sa-btn-search ng-click="vm.buscar()" id="farmacia-listado-indicaciones-buscar-btn" class="btn-row" sa-punto-click="vm.buscar()">
					Buscar
				</button>
			</div>
			<div class="col-xs-6">
				<button sa-btn-clean ng-click="vm.limpiar()" id="farmacia-listado-indicaciones-limpiar-btn" class="btn-row pull-right" sa-punto-click="vm.limpiar()">
					Limpiar
				</button>
			</div>
		</div>
	</div>

</div>

<div class="row" ng-show="vm.indicaciones && vm.indicaciones.length">
	<div class="col-xs-12">
		<sa-indicaciones-medicas-farmacia-table data="vm.indicaciones" loading="vm.loading" internado="vm.internado" facturar-devolver-if="false">
		</sa-indicaciones-medicas-farmacia-table>
	</div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>