<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formCuenta" accept-charset="utf-8" novalidate>
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 form-group" sa-form-input>
					<label>Sucursal</label>
					<select name="sucursal" ng-model="vm.filter.IdSucursalElegida" ng-options="sucursal.Id as sucursal.Nombre for sucursal in vm.filter.sucursales"
					    sa-enter>
						<option value="">TODAS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" sa-form-input>
					<label>Ambito</label>
					<select name="ambito" ng-model="vm.filter.IdAmbitoElegido" ng-options="ambito.Id as ambito.Nombre for ambito in vm.filter.ambitos"
					    sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 form-group" sa-form-input>
					<label>Servicio</label>
					<select name="servicio" ng-model="vm.filter.IdServicioElegido" ng-options="servicio.Id as servicio.Nombre for servicio in vm.filter.servicios"
					    sa-enter>
						<option value="">TODAS</option>
					</select>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" sa-form-input>
					<label>Recurso Atiende</label>
						<sa-selector-recurso ng-model="vm.filter.Recurso" if-label="false" ></sa-selector-recurso>
					</div>					
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" sa-form-input>
					<label>Día de la semana</label>
					<select name="dia" ng-model="vm.filter.IdDiaSemanaElegido" ng-options="dia.Id as dia.Nombre for dia in vm.filter.dias" sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" sa-form-input>
					<label>Tipo día del mes</label>
					<select name="tipodiames" ng-model="vm.filter.IdTipoDiaDelMesElegido" ng-options="tipoDiaDelMes.Id as tipoDiaDelMes.Nombre for tipoDiaDelMes in vm.filter.tiposDiaDelMes"
					    sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
			</div>	
			<div class="row">			
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 ">		
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<sa-check-box label="Rango de Horas" ng-model="vm.filter.TienePeriodo" color="green" sa-enter></sa-check-box>
					</div>		
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 ">
					<label>Hora Desde</label>
					<sa-date-time-picker ng-model="vm.filter.Desde" id=2 type="time" ng-disabled="!vm.filter.TienePeriodo"> 
					</sa-date-time-picker>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 ">
					<label>Hora Hasta</label>
					<sa-date-time-picker ng-model="vm.filter.Hasta" id=3 type="time" ng-disabled="!vm.filter.TienePeriodo" > 
					</sa-date-time-picker>
				</div>
			</div>
			<div class="row">	
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" sa-form-input>
					<label>Tipo CN</label>
					<select name="tipocodigonomenclador" ng-model="vm.filter.IdTipoCodigoNomencladorElegido" ng-options="tipoCodigoNomenclador.Id as tipoCodigoNomenclador.Nombre for tipoCodigoNomenclador in vm.filter.tiposCodigoNomenclador"
					    sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 form-group">
					<sa-prefacturable-selector model='vm.filter.prefacturable' ng-disabled="false" sa-enter></sa-prefacturable-selector>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 form-group">
					<sa-cuenta-profesional model='vm.filter.profesional' title='Cuenta (*)' mostrarlabelnombre='true' mostrarlabelcuenta='true'
					    tooltip='Buscar'></sa-cuenta-profesional>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit" class="btn" value="Cancelar" sa-enter ng-click="vm.formControl.cancel()" sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" sa-punto-click="vm.formControl.guardar()"
			    ng-click="vm.formControl.guardar()" ng-disabled="formCuenta.$invalid || !vm.filter.profesional" sa-enter>
		</sa-modal-footer>
	</form>
</div>