<div id="print-content" ng-hide="vm.formControl.loading">
	<form name="formCuenta" accept-charset="utf-8" novalidate>
		<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
		</sa-modal-header>
		<sa-modal-body>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 form-group" sa-form-input>
					<sa-contratable-selector model='vm.filter.contratableElegido' matricula-contratable-edit="vm.filter.matricula" id-tipo-contratable-edit="vm.filter.idTipoContratable"
					 ng-disabled="!vm.filter.esNuevo" sa-enter>
					</sa-contratable-selector>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group" sa-form-input>
					<label>Sucursal</label>
					<select name="sucursal" ng-model="vm.filter.IdSucursalElegida" ng-options="sucursal.Id as sucursal.Nombre for sucursal in vm.filter.sucursales"
					 sa-enter>
						<option value="">TODAS</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" sa-form-input>
					<label>Ámbito</label>
					<select name="ambito" ng-model="vm.filter.IdAmbitoElegido" ng-options="ambito.Id as ambito.Nombre for ambito in vm.filter.ambitos"
					 sa-enter>
						<option value="">TODOS</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 form-group" sa-form-input>
					<sa-new-mutual-selector model="vm.filter.mutualElegida" codigo-mutual-edit="vm.filter.CodigoFinanciador" label-codigo="Código Mutual"
					 labelNombre="NombreMutual" sa-enter>
					</sa-new-mutual-selector>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 form-group">
					<sa-check-box label="Factura directo al financiador" ng-model="vm.filter.facturaDirectoTilde">
					</sa-check-box>
				</div>
			</div>
		</sa-modal-body>
		<sa-modal-footer>
			<input type="submit" class="btn" value="Cancelar" sa-enter ng-click="vm.formControl.cancel()" sa-punto-click="vm.formControl.cancel()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" sa-punto-click="vm.formControl.guardar()"
			 ng-click="vm.formControl.guardar()" ng-disabled="" sa-enter>
		</sa-modal-footer>
	</form>
</div>