<sa-title title-name="vm.title.name" title-icon="LIST"></sa-title>
<div class="row">
    <!-- El ng-if va para no cargar la tabla sin datos -->
    <div class="col-xs-12">

        <form name="formFilter" accept-charset="utf-8" novalidate>
            <div class="row">


                    <div class="ccol-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaDesde">
                            <label class="control-label">Fecha desde</label>
                            <sa-date-time-picker ng-model="vm.fechaDesde" id="3" type="date" max="vm.fechaHasta" ng-change="vm.changeFechaDesde()" >
                            </sa-date-time-picker>  
                    </div>
                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 form-group " ng-if="vm.fechaHasta">
                            <label class="control-label">Fecha hasta</label>
                            <sa-date-time-picker ng-model="vm.fechaHasta" id="4" type="date" min="vm.fechaDesdeMin" max="vm.today">
                            </sa-date-time-picker>  
                    </div>
        


			<!-- 
	     		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
					<label for="datePickerDesde ">Fecha desde</label>
					<sa-date-picker model="vm.fechaDesde" max-date="vm.fechaHasta"></sa-date-picker>
			   </div>
									 
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2" sa-form-input ng-controller="DatePickerController">
					<label for="datePickerHasta ">Fecha hasta</label>
					<sa-date-picker model="vm.fechaHasta" max-date="vm.fechaHoy" min-date="vm.fechaDesde"></sa-date-picker>
				</div> -->

                 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label>Sucursal</label>
                    <!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
                    <select class="form-control" ng-model="vm.sucursalElegida" ng-options="sucursal.Nombre for sucursal in vm.sucursalLista track by sucursal.Id"
                        ng-change="vm.cambioSucursal()" sa-enter>
                        <option value="">TODAS</option>
                        <!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
                    </select>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
					<label>Servicio</label>
					<!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
					<select class="form-control" ng-model="vm.servicioMedicoElegido" ng-options="servicio.Nombre for servicio in vm.servicioLista track by servicio.Id"
						ng-change="vm.cambioServicioMedico()" sa-enter>
						<option value="">TODOS</option>
						<!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" sa-form-input>
                    <label for="usuario">Usuario</label>
                    <select class="form-control" id="usuariosJerarquia_selector" name="usuariosJerarquia_name" ng-model="vm.usuarioActual" 
						ng-options="usuariosJerarquia as usuariosJerarquia.Nombre for usuariosJerarquia in vm.jerarquia track by usuariosJerarquia.Id">
					<option value="">TODOS</option>
                    </select>
				</div> 
			</div>		

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<sa-buscador-dinamico-usuario busqueda-usuario="vm.busquedaUsuario" ></sa-buscador-dinamico-usuario>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
                    <label for="estado">Estado</label>
                    <select class="form-control" id="estado_selector" name="estado_name" ng-model="vm.estadoElegido" 
						ng-change="vm.cambioEstado()" ng-options="estado.Nombre for estado in vm.estadoLista track by estado.Id">
					<option value="">TODOS</option>
                    </select>
                </div> 


				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-search class="btn-row btn-block" ng-click="vm.buscar()" sa-punto-click="vm.buscar()" sa-enter>Buscar</button>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 form-group" sa-form-input>
					<button type="button" sa-btn-clean class="btn-row btn-block" ng-click="vm.limpiarFiltros()" sa-punto-click="vm.limpiarFiltros()"
						sa-enter>Limpiar</button>
				</div>
	

			</div>

			<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group" sa-form-input>
							<button type="button" sa-btn-ok class="btn-row btn-block"  ng-click="vm.exportarItemsPendientesExcel()"
							ng-disabled="!vm.itemsPendientes.Rows.length" sa-punto-click="" sa-enter>Exportar a Excel</button>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group" sa-form-input>
							<button type="button" sa-btn-ok class="btn-row btn-block"  ng-click="vm.generarCierre()"
							sa-punto-click="" sa-enter>{{vm.textoBotonCierre}}</button>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group">
							<sa-check-box label="Cierre definitivo" ng-model="vm.tildeDefinitivo" ng-change="vm.cambioTildeDefinitivo()">
							</sa-check-box>
					</div>
				
			</div>

        </form>

		<div class="col-xs-12">
            <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.itemsPendientes.Rows && vm.itemsPendientes.Columns && vm.itemsPendientes.Columns.length">
					<fw-table-container>
						<fw-table-config exportable="false" sortable="false" filtrable="false" paginable="true" column-config="true">
						</fw-table-config>
						<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
						</fw-table-sorting-ext>
						<fw-table-rowset data="vm.itemsPendientes.Rows">
						</fw-table-rowset>
						<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
						<fw-table-columnset data="vm.itemsPendientes.Columns">
						</fw-table-columnset>
						<fw-table-export>
						</fw-table-export>
						<fw-table-buttonset>
							<fw-table-button label="'Editar'" icon="'EDIT'" action="vm.editarItem(row, index)"></fw-table-button>
							<fw-table-button label="'Normal'" icon="'CIRCLE_OK'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Normal',1)" visible-if="vm.esVisibleSegunEstado(row,1)"></fw-table-button>
							<fw-table-button label="'Pendiente'" icon="'ANULAR'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Pendiente',2)" visible-if="vm.esVisibleSegunEstado(row,2)"></fw-table-button>
							<fw-table-button label="'En Espera'" icon="'FILE'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'En Espera',3)" visible-if="vm.esVisibleSegunEstado(row,3)"></fw-table-button>
							<fw-table-button label="'Incobrable'" icon="'HAND_DOWN'" action="vm.asignarMotivoFacturableNoFacturable(row, index, 'Incobrable',4)" visible-if="vm.esVisibleSegunEstado(row,4)"></fw-table-button>
							<fw-table-button label="'Histórico'" icon="'LIST4'" action="vm.verHistoricoItem(row)"></fw-table-button>
						</fw-table-buttonset>
						<!-- FILTRADO DINAMICO [Opcional] -->
						<!-- Debe estar configurado en true la configuracion correspondiente -->
						<!-- Solo debería funcionar si se trata de una tabla interna -->
						<fw-table-filter init="true"></fw-table-filter>
						<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
						<!-- Opcionalmente se puede redefinir page-size -->
						<fw-table-pagination-ext page-size="vm.itemsPendientes.PageSize" total-Items="vm.itemsPendientes.RowCount" page-change="buscarPagina(pagination)"></fw-table-pagination-ext>
						<!-- Por ultimo el renderizado de la tabla -->
						<fw-table></fw-table>
					</fw-table-container>
		
				</div>	
			</div>
		</div>

        <!-- <div class="col-xs-12">
            <div class="row">
                 <sa-table-ext data="vm.itemsPendientes" page-change="vm.buscarPagina(pagination)" ng-if="vm.itemsPendientes.Rows && vm.itemsPendientes.Rows.length"
					btn-view-click="vm.verHistoricoItem(row, index)">
				 </sa-table-ext> 
            </div>
        </div> -->


        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-cancelar" ng-click="vm.volver()" sa-punto-click="vm.volver()" sa-enter>
                    Volver
                </button>
            </div>
        </div>

    </div>
</div>

<sa-loading-modal ng-if="vm.loading"></sa-loading-modal>