<sa-title title-name="vm.title.name" title-icon="{{vm.title.icon}}" btn-reload-disabled="vm.formControl.loading"></sa-title>
<form name="formUnidad" novalidate>
	<!-- El loading se muestra si se esta cargando el inicializador -->

	<!-- <sa-loading ng-if="vm.formControl.loading"></sa-loading> -->

	<!-- El cuerpo se muestra si no se esta cargando el inicializador -->
	<!-- O si se produjo algun error inicializando -->

	<!-- <div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
        <div class="fila">
            <h4>Tipo de Unidad</h4> -->

	<!-- <form name="formFilter"  novalidate> -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
	<div class="row">
		<!--Input de Nombre-->

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
			<div sa-form-input-validate>
				<label>Nombre</label>
				<input type="text" name="nombrePlantillaTextoEdit" ng-model="vm.nombrePlantillaTextoEdit" autofocus sa-enter>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
			<div sa-form-input-validate>
				<label>Descripción</label>
				<input type="text" name="descripcionPlantillaTextoEdit" ng-model="vm.descripcionPlantillaTextoEdit" sa-enter>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
			<label for="tipoProposito">Tipo Propósito</label>
			<select id="tipoProposito" name="tipoProposito" ng-model="vm.tipoPropositoElegido" ng-change="vm.seleccionaTipoProposito()" ng-options="tipoProposito.Nombre for tipoProposito in vm.tiposProposito track by tipoProposito.Id"
			 sa-enter>
			</select>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 form-group" sa-form-input>
			<label for="tipoFormato">Tipo Formato</label>
			<select id="tipoFormato" name="tipoFormato" ng-model="vm.tipoFormatoElegido" ng-options="tipoFormato.Nombre for tipoFormato in vm.tiposFormato track by tipoFormato.Id"
			 sa-enter>
			</select>
		</div>
	</div>

	<div class="row">
		<!--Etiquetas-->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3" class="text-center "></th>
						</tr>
						<tr class="cabecera-tabla ">
							<th class="text-left ">Nombre</th>
							<th class="text-left ">Etiqueta</th>
						</tr>
					</thead>
					<tbody >
						<tr ng-repeat="etiqueta in vm.etiquetasPorTipoProposito ">
							<td class="row text-left ">{{ etiqueta.Nombre }}</td>
							<td class="row text-left"><a href="">{{ etiqueta.Tag }}</a></td>
							</td>
						</tr>
					</tbody>
				</table>
		</div>

			<!--Plantilla de Texto-->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 form-group">
				<label class="label-control " ng-if="vm.tipoFormatoElegido.Id !== 2">Plantilla de Texto</label>
				<label class="label-control " ng-if="vm.tipoFormatoElegido.Id === 2">Plantilla de Texto</label>
				<label class="label-control " style="color:red;" ng-if="vm.tipoFormatoElegido.Id === 2"> - Recuerde eliminar el formato antes de guardar con el botón 'Tx' de abajo.</label>
				<br>
				<div id="texto" name="texto" ckeditor="vm.optionCk" ng-model="vm.texto"></div>
		</div>
	</div>


	<div class="row">
		<br>
		<div class="row text-center">
			<input type="submit" class="btn" ng-click="vm.cancelar()" value="Cancelar" sa-enter sa-punto-click="vm.cancelar()">
			<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.Guardar()" sa-enter sa-punto-click="vm.Guardar()">

		</div>
	</div>
	</div>
</form>
<sa-loading ng-if="vm.loading"></sa-loading>