<form name="formRolesEdit" accept-charset="utf-8" ng-hide="vm.formControl.loading" novalidate>

	<div class="modal-header">
		<h4 class="modal-title">
			<sa-icon name="EDIT"></sa-icon>
			Editar Rol
		</h4>
	</div>

	<div class="modal-body">
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
				<label>Nombre (*)</label>
				<input type="text" class="form-control text-uppercase" name="pathSistema" ng-class="validar.error(formSistema.pathSistema.$valid)"
				 ng-model="vm.data.rol.Nombre" id="roles-edit-nombresistema-input">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
				<label>Abreviación Rol (*)</label>
				<input type="text" class="form-control" name="pathSistema" ng-class="validar.error(formSistema.pathSistema.$valid)" 
				ng-model="vm.data.rol.Abreviatura " id="roles-edit-abreviacionrol-input" >
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
				<label for="">Sistema App</label>
				<select class="form-control" name="tipoSistemasApp" ng-model="vm.data.sistema" ng-change="vm.formControl.sistemaChanged()"
				ng-options="sistema.Nombre for sistema in vm.data.sistemasApp track by sistema.Id" ng-disabled="true" id="roles-edit-tiposistemas-select">
					<option value="">--SELECCIONAR--</option>
				</select>
			</div>

		</div>

		<h4>Agregar Permisos al Rol</h4>
		<sa-permisos-x-modulo-list ng-model="vm.filter.data" btn-filter-disabled="vm.formControl.loading" btn-filter-if="!vm.formControl.loading"
		 btn-show-disabled="vm.formControl.loading" btn-show-if="!vm.formControl.loading">
		</sa-permisos-x-modulo-list>

	</div>
	</div>

	<div class="modal-footer" ng-hide="vm.formControl.loading">
		<input type="submit" sa-btn-cancel ng-click="vm.formControl.cancel()" value="Cancelar" id="roles-edit-cancelar-btn">
		<input type="submit" id="btnAgregarEditar" value="Guardar" sa-btn-save ng-click="vm.formControl.ok()" id="roles-edit-guardar-btn">
	</div>

</form>

<sa-loading ng-if="vm.formControl.loading"></sa-loading>