<div class="row">
	<!-- El ng-if va para no cargar la tabla sin datos -->
	<div class="col-xs-12" ng-if="model">

		<!-- Se define el container que gestiona la tabla-->
		<fw-table-container>
			<!-- CONFIGURACION [Opcional]-->
			<!-- Corresponde a cada funcionalidad de la tabla -->
			<!-- Para que funcionen deben estar en true -->
			<fw-table-config sortable="true" filtrable="true" exportable="true" paginable="true">
				<!-- exportable="false" sortable="false" filtrable="false" paginable="true" column-config="false" -->
			</fw-table-config>

			<!-- COLUMNAS (*) [Requerido] -->
			<!-- Se define un columnset en el cual se setean (opcional) las columnas por datos -->
			<fw-table-columnset>
				<!-- Se define una column con los datos de una columna (opcional)-->
				<!-- Se pueden agregar las columnas por datos y además agregarlas de a una. -->

				<fw-table-column field="'Id'" label="'Recurso N°'">
				</fw-table-column>
				<fw-table-column field="'Nombre'" label="'Nombre Recurso'">
				</fw-table-column>
				<fw-table-column field="'TipoRecurso'" label="'Tipo Recurso'">
				</fw-table-column>
			</fw-table-columnset>

			<!-- DATOS DE LA TABLA (*) [Requerido] -->
			<fw-table-rowset data="model">
			</fw-table-rowset>

			<!-- ACCIONES DE FILA [Opcional] -->
			<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
			<fw-table-buttonset>
				<!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
				<fw-table-button
					label="'Ver'"
					icon="'EYE_OPEN'"
					action="btnViewClick({pRecurso:row})">
				</fw-table-button>
				<fw-table-button 
					label="'Editar'" 
					icon="'EDIT'" 
					action="btnEditClick({pRecurso:row})">
				</fw-table-button>
				<fw-table-button 
					label="'Borrar'" 
					icon="'DEL'" 
					action="btnDeleteClick({pRecurso:row})">
				</fw-table-button>

			</fw-table-buttonset>

			<!-- ORDENAMIENTO [Opcional] -->
			<!-- Se define una forma de ordenamiento-->
			<!-- Puede ser interno (front-end) o externo (back-end) -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- <fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
            </fw-table-sorting-ext> -->
			<fw-table-sorting></fw-table-sorting> 

			<!-- FILTRADO DINAMICO [Opcional] -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- Solo debería funcionar si se trata de una tabla interna -->
			<fw-table-filter></fw-table-filter>

			<!-- EXPORTACION [Opcional] -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->
			<!-- Exportacion interna -->
			<fw-table-export>
                <fw-table-export-csv label="'Exportar página a Excel'" status="true">
                </fw-table-export-csv>
                <!-- <fw-table-export-csv-ext label="'Exportar todo a Excel'" status="true" export="exportEventInternal(exportation)">
                </fw-table-export-csv-ext> -->
            </fw-table-export>
			<!-- Exportacion externo -->
			<!-- <fw-table-export-ext export="exportEventInternal(exportation)"></fw-table-export-ext> -->

			<!-- PAGINACION [Opcional] -->
			<!-- Si se desea paginacion pueden ser de 2 (dos) tipos: -->

			<!-- Paginacion externa : se usa con el back-end: se deben setear todos los datos -->
			<!-- Debe estar configurado en true la configuracion correspondiente -->
			<!-- <fw-table-pagination-ext page-change="pageChangeInternal(pagination)" page-size="pageSize" total-items="totalItems" current-page="data.CurrentPage">
            </fw-table-pagination-ext> -->

			<!-- Paginacion interna : no se necesita definir ningun valor, se toman los por defecto.-->
			<!-- Opcionalmente se puede redefinir page-size -->
			<fw-table-pagination page-size="10"></fw-table-pagination>

			<!-- TABLA (*) [Requerido] -->
			<!-- Por ultimo el renderizado de la tabla -->
			<fw-table></fw-table>
		</fw-table-container>
	</div>
</div>



<!-- <div class="row table-responsive">
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr></tr>
				<tr class="cabecera-tabla">
					<th class="text-center">Recurso N°</th>
					<th class="text-center">Nombre Recurso</th>
					<th class="text-center">Tipo Recurso</th>
					<th class="text-center" ng-if="viewEstadoIf">Estado</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recurso in model">
					<td class="text-center" ng-bind="recurso.Id"></td>
					<td class="text-center" ng-bind="recurso.Nombre"></td>
					<td class="text-center" ng-bind="recurso.TipoRecurso"></td>
					<td class="col-sm-1" ng-if="viewEstadoIf">
						<div class="circulito" ng-class="getCol(recurso.Activo)">
						</div>
					</td>
					<td class="text-center">
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Ver" tooltip-placement="top" ng-if="btnViewIf" ng-disabled="btnViewDisabled"
						    ng-click="btnViewClick({pRecurso:recurso})">
							<sa-icon name="EYE_OPEN"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Editar" tooltip-placement="top" ng-if="btnEditIf" ng-disabled="btnEditDisabled"
						    ng-click="btnEditClick({pRecurso:recurso})">
							<sa-icon name="EDIT"></sa-icon>
						</button>

						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Asignar Recurso" tooltip-placement="top" ng-if="btnAsignarIf"
						    ng-disabled="btnAsignarDisabled" ng-click="btnAsignarClick({pRecurso:recurso})">
							<sa-icon name="UP2"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Agregar {{tooltipOption}}" tooltip-placement="top" ng-if="btnAddIf"
						    ng-disabled="btnAddDisabled" ng-click="btnAddClick({pRecurso:recurso})">
							<sa-icon name="NEW"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Desactivar" tooltip-placement="top" ng-if="btnDesactivarIf"
						    ng-disabled="btnDesactivarDisabled" ng-click="btnDesactivarClick({pRecurso:recurso})">
							<sa-icon name="OFF"></sa-icon>
						</button>
						<button type="button" class="btn btn-white btn-xs" uib-tooltip="Borrar" tooltip-placement="top" ng-if="btnDeleteIf" ng-disabled="btnDeleteDisabled"
						    ng-click="btnDeleteClick({pRecurso:recurso})">
							<sa-icon name="DEL"></sa-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->