<form name="formlistas" novalidate>
	<sa-modal-header title-name="{{vm.title.name}}" title-icon="{{vm.title.icon}}">
	</sa-modal-header>


	<sa-modal-body loading="vm.formControl.loading">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
				<label>Sucursal</label>
				<!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
				<select class="form-control" ng-model="vm.sucursalElegida" ng-options="sucursal.Nombre for sucursal in vm.sucursalLista track by sucursal.Id"
				 ng-change="vm.cambioSucursal()" sa-enter>
					<option value="">TODAS</option>
				</select>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
				<label>Servicio</label>
				<!--Para cargar todas las Sucursales es importante obtener sucursalElegida-->
				<select class="form-control" ng-model="vm.servicioMedicoElegido" ng-options="servicio.Nombre for servicio in vm.servicioLista track by servicio.Id" ng-change="vm.cambioServicioMedico()"
					sa-enter>
					<option value="">TODOS</option>
					<!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
				</select>
				
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" sa-form-input>
					<label>Estado</label>
					<select class="form-control" ng-model="vm.estadoElegido" ng-options="estado.Nombre for estado in vm.estadosLista track by estado.Id" ng-change="vm.cambioEstado()"
					sa-enter>
					<option value="">TODOS</option>
					<!--Se coloca un solo Value como manera predeterminada, el resto lo obtenemos desde config » mesesConstan.ts -->
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" sa-form-input>
				<sa-prefacturable-selector model='vm.prefacturableElegido' init-tipo='vm.initTipo' ng-disabled="false" sa-enter></sa-prefacturable-selector>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1" sa-form-input>
					<button type="button" sa-btn-search class="btn-row" ng-click="vm.cargarItem()" sa-punto-click="vm.cargarItem()" sa-enter>Cargar</button>
			</div>
	
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1" sa-form-input>
					<button type="button" sa-btn-clean class="btn-row" ng-click="vm.cancelarItem()" sa-punto-click="vm.cancelarItem()"
						sa-enter>Cancelar</button>
			</div>
		</div>


		<sa-table-ext data="vm.grupoPracticasEdit.Items" page-change="vm.buscarPagina(pagination)" ng-if="vm.grupoPracticasEdit.Items.Rows"
		 btn-delete-click="vm.eliminarItem(row, index)">
		</sa-table-ext>
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancel()" value="Cancelar" sa-enter sa-punto-click="vm.cancel()">
		<input type="submit" id="btnAgregarEditar" value="Guardar" class="btn btn-default" ng-click="vm.guardar()" sa-enter sa-punto-click="vm.guardar()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>