<sa-modal-header
	title-name="{{vm.title.page}}"
	title-icon="LIST"
	loading="vm.formControl.loading" >
</sa-modal-header>
<sa-modal-body loading="vm.formControl.loading">
	<div class="row">
		<div class="col-xs-12" >
			<div class="panel-action-list " 
				ng-repeat="action in vm.data.acciones track by $index">
				<button class="btn btn-block" ng-class="action.Color"
					ng-click="vm.formControl.ok(action)">
					<div class="panel-heading" ng-bind="action.Nombre"></div>
					<span ng-class="action.Icono" class="icons-home"></span>
					<p class="white-space-not" ng-bind="action.Descripcion"></p>
				</button>
			</div>
		</div>
		<div class="col-xs-12" >
			<button class="btn btn-block" 
				ng-click="vm.formControl.cancel()">
				Cancelar
			</button>
		</div>
	</div>
</sa-modal-body>