<form name="formLogin" ng-submit="vm.formControl.ok()" role="form" accept-charset="utf-8" >
	<sa-modal-header
		title-name="Cambiar contraseña"></sa-modal-header>
	<sa-modal-body loading="vm.dataLoading">
		<div class="row contenedor-login">
			<div class="col-xs-12">
				<div class="form-group">		
					<div class="labellogin">
						<span class="glyphicon glyphicon-lock " aria-hidden="true"></span>
						Debe cambiar su contraseña para poder continuar...
					</div>	
				</div>
			</div>
			<div class="col-xs-12 ">
				<sa-form-login 
					username="vm.username"
					username-disabled="true"
					password="vm.old_password"
					loading="vm.dataLoading">
				</sa-form-login>
				<div class="form-group">
					<label for="new_password" class="labellogin">Nueva contraseña</label>
					<input type="password" class="form-control btn-loading"
						id="new_password"
						name="new_password"
						placeholder="Ingrese contraseña"
						ng-disabled="vm.dataLoading"
						ng-model="vm.new_password"
						ng-change="vm.formControl.validate()"
						required ng-pattern="vm.regPass">

						<span ng-show="formLogin.new_password.$error.pattern" class="labellogin">
							Entre 8-14 caracteres - alfanumerico
						</span>
					<!-- <span ng-show="!formLogin.new_password.$pristine && vm.formControl.corta" class="labellogin">
						  (*) La contraseña debe contener 8 caracteres
					</span> -->
				</div>
				<div class="form-group">
					<label for="new_password2" class="labellogin">Repita su nueva contraseña</label>
					<input type="password" class="form-control btn-loading"
						id="new_password2"
						name="new_password2"
						placeholder="Ingrese contraseña"
						ng-disabled="vm.dataLoading"
						ng-model="vm.new_password2"
						ng-change="vm.formControl.validate()"
						required>
					<span ng-show="!formLogin.new_password2.$pristine && vm.formControl.noSonIguales" class="labellogin">
						  (*) Las contraseñas ingresadas deben coincidir
					</span>
				</div>
			</div>
		</div>
		<div class="row"><div class="linea-login"></div></div>
		<div class="row">
			<br>
			<div class="pull-right">
				<button type="submit" class="btn btn-default btn-loading"
					ng-disabled="formLogin.$invalid || vm.dataLoading || vm.formControl.noSonIguales" >Ingresar</button>
				<button type="button"
					class="btn "
					ng-click="vm.formControl.cancel()">Cancelar</button>
			</div>
		</div>
	</sa-modal-body>
</form>