<div>
	<div class="form-group">
		<label for="username" class="labellogin">Usuario</label>
		<input type="text" class="form-control"
		id="username"
		name="username"
		ng-disabled="loading || usernameDisabled"
		placeholder="Ingrese nombre de usuario o mail"
		ng-model="username"
		required>
	</div>
	<div class="form-group">
		<label for="password" class="labellogin">Contraseña</label>
		<input type="password" class="form-control btn-loading"
			id="password"
			name="password"
			placeholder="Ingrese contraseña"
			ng-disabled="loading"
			ng-keypress="isCapslock($event)"
			ng-model="password"
			required>
		<span style="color: white;" ng-if="showIsCapLock">La tecla Block Mayús está activa.</span>
	</div>
</div>