
				<sa-title
				title-name="vm.title.page"
				title-icon="LIST"
				btn-new-click="vm.rol.new()"
				btn-new-disabled="vm.formControl.loading || !vm.validar.puedeCrear()" 
				btn-reload-click="vm.formControl.reloadPage()"
				btn-reload-disabled="vm.formControl.loading"
				></sa-title>
				<div id="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
					<div class="row fila">
						<h4>Búsqueda avanzada</h4>
						<form name="formFilter" accept-charset="utf-8" novalidate>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
								<label for="roles-list-nrol-filter-input" class="label-control">Nº Rol</label>
								<input type="number" class="form-control"
								id="roles-list-nrol-filter-input"
								name="idServicio"
								min="0"
								max="9999"
								ng-class="{ error : formFilter.id.$error.number }"
								ng-model="vm.filter.id"
								ng-change="vm.paginacion.pageChanged()">
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
								<label for="roles-list-nombre-filter-input" class="label-control ">Nombre Rol</label>
								<input type="text" class="form-control text-capitalize"
								id="roles-list-nombre-filter-input"
								name="nombreRol"
								ng-class="{ error : formFilter.id.$error.number }"
								ng-model="vm.filter.nombreRol"
								ng-change="vm.paginacion.pageChanged()">
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-left">
								<label for="txt_cantaidad_roles" class="label-control">Cantidad Roles </label>
								<div >
									<strong ng-bind="vm.paginacion.totalItems" id="roles-list-cant-label"></strong>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
								<button type="button" sa-btn-clean class="btn-row btn-block"
								ng-click="vm.filter.clean()" id="roles-list-limpiar-btn">
								Limpiar
								</button>
							</div>
						</form>
					</div>
					<div class="row table-responsive text-center ">
						<div class="col-xs-12">
							<table class="table table-hover">
								<thead>
								<tr></tr>
								<tr class="cabecera-tabla">
									<th class="text-center">Rol N°</th>
									<th class="text-center">Nombre Rol</th>
									<th class="text-center">Abreviatura</th>
									<th class="text-center">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="rol in vm.filter.roles" id="roles-list-row-{{$index}}">
									<td class="text-center" ng-bind="rol.Id"></td>
									<td class="text-center" ng-bind="rol.Nombre"></td>
									<td class="text-center" ng-bind="rol.Abreviatura"></td>

									<td class="text-center">
										<!-- <button type="button" class="btn btn-white btn-xs"
											uib-tooltip="Ver Rol" tooltip-placement="top"
											ng-click="vm.roles.view(rol)">
											<sa-icon name="EYE_OPEN"></sa-icon>
										</button> -->
										<button type="button" class="btn btn-white btn-xs"
										uib-tooltip="Editar Rol" tooltip-placement="top"
										ng-disabled="!vm.validar.puedeEditar()" id="roles-list-edit-btn-{{$index}}"
										ng-click="vm.rol.edit(rol)">
										<sa-icon name="EDIT"></sa-icon>
										</button>
										<button type="button" class="btn btn-white btn-xs"
										uib-tooltip="Borrar Rol" tooltip-placement="top"
										ng-disabled="!vm.validar.puedeEliminar()" id="roles-list-borrar-btn-{{$index}}"
										ng-click="vm.rol.delete(rol)">
										<sa-icon name="DEL"></sa-icon>
										</button>
										
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row" >
					<div class="col-sm-12">
						<div class="text-center">
							<div uib-pagination 
							max-size="10"
							items-per-page="vm.paginacion.pageSize"
							total-items="vm.paginacion.totalItems"
							ng-model="vm.paginacion.currentPage"
							ng-change="vm.paginacion.pageChanged()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
							</div>
						</div>
					</div>
					</div><!-- .row>-->
				</div>
				<sa-loading ng-if="vm.formControl.loading"></sa-loading>
	