fw-column-initializer {
	width: 100%;
	//display: block;

	.fw-table-column-header {
		//display: block;

		.fw-table-column-header-text {
			display: table-cell;
			// color: red;
		}
	
		.fw-table-column-header-icon {
			display: table-cell;
			// color: black;
		}
	}
}