<form name="formlistas" novalidate>
	<sa-modal-header title-name="Generar nuevo definitivo" title-icon="LIST">
	</sa-modal-header>

	<sa-modal-body loading="vm.formControl.loading">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" sa-form-input>
				<label for="usuario">Usuario</label>
				<select class="form-control" id="usuariosJerarquia_selector" name="usuariosJerarquia_name" ng-model="vm.usuarioElegido" ng-disabled="vm.loading"
					ng-options="usuariosJerarquia as usuariosJerarquia.Nombre for usuariosJerarquia in vm.jerarquia track by usuariosJerarquia.Id" ng-change="vm.buscarCierres()">
				</select>
			</div> 
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<sa-buscador-dinamico-usuario busqueda-usuario="vm.busquedaUsuario"></sa-buscador-dinamico-usuario>
			</div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group">
					<sa-check-box label="Definitivo" ng-model="vm.tildeDefinitivo">
					</sa-check-box>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<button type="button" sa-btn-ok class="btn-row btn-block"
				ng-click="vm.buscarCierres()" sa-punto-click="" sa-enter>Buscar cierres</button>
			</div>
		</div>

		<div class="row">
			<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.cierresParaDefinitivos && vm.cierresParaDefinitivos.Columns && vm.cierresParaDefinitivos.Columns.length">
				<fw-table-container>
					<fw-table-config exportable="false" sortable="false" filtrable="true" paginable="true" column-config="true">
					</fw-table-config>
					<fw-table-sorting-ext sort-change="sortChangeInternal(sorting)">
					</fw-table-sorting-ext>
					<fw-table-rowset data="vm.cierresParaDefinitivos.Rows">
					</fw-table-rowset>
					<fw-table-columnset data="vm.cierresParaDefinitivos.Columns">
					</fw-table-columnset>
					<fw-table-export>
					</fw-table-export>
					<fw-table-buttonset>
						<fw-table-button label="'Incluir'" icon="'OK'" action="vm.seleccionaCierreParaDefinitivo(row, index, 1)" visible-if="vm.esVisibleSegunEstado(row,1)" ></fw-table-button>
						<fw-table-button label="'No Incluir'" icon="'DEL'" action="vm.seleccionaCierreParaDefinitivo(row, index, 0)" visible-if="vm.esVisibleSegunEstado(row,0)"></fw-table-button>
					</fw-table-buttonset>
					
					<fw-table></fw-table>

				</fw-table-container>
			</div> -->
			<div class="col-xs-12">

				<table class="table " id="internados_table" ng-show="vm.cierresParaDefinitivos">
					<thead>
						<tr class="cabecera-tabla">
							<th class="text-left">Nro. Cierre</th>
							<th class="text-left">Fecha</th>
							<th class="text-left">Usuario</th>
							<th class="text-center">
								<label class="material-checkbox" uib-tooltip="Seleccionar Todos" uib-tooltip-placement="top">
									<input type="checkbox" ng-model="vm.seleccionarTodos" ng-change="vm.seleccionarTodosChange(vm.cierresParaDefinitivos.Rows)" >
									<span class="check-verde"></span>
								</label>
							</th>
						</tr>
					</thead>
					
					<tbody ng-show="vm.cierresParaDefinitivos" ng-repeat="cierre in vm.cierresParaDefinitivos.Rows">
						<tr>
							<th >
								{{ cierre.NroCierreLegacy}}</th>
							<th >
								{{ cierre.FechaCierre | date:'dd/MM/yyyy'}}</th>
							<th >
								{{ cierre.Usuario}}</th>
							<td class="text-center" >
								<label class="material-checkbox">
									<input type="checkbox" ng-model="cierre.Seleccionado" ng-change="vm.seleccionarCierre()">
									<span class="check-verde"></span>
								</label>
							</td>
	
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</sa-modal-body>

	<sa-modal-footer>
		<input type="submit" class="btn" ng-click="vm.cancelar()" value="Cancelar" sa-enter sa-punto-click="vm.cancelar()">
		<input type="submit" id="btnAgregarEditar" value="Generar" class="btn btn-default" ng-click="vm.generarDefinitivo()" sa-enter sa-punto-click="vm.generarDefinitivo()" ng-disabled="vm.tieneSeleccionado()">
	</sa-modal-footer>
</form>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>