<sa-loading ng-if="formControl.loading"></sa-loading>
<sa-modal-header title-name="{{vm.resolve.Title}}" title-icon="CONF">
</sa-modal-header>
<sa-modal-body>

	<div class="row">
		<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
						<tr></tr>
						<tr class="cabecera-tabla">
							<th class="text-center">Configuracion</th>
							<th class="text-center">Estado</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.opcionesConfig">
							<td class="text-center" ng-bind="item.Configuracion"></td>
							<td class="text-center" >
									<sa-check-box ng-model="item.Status" id-element="modal-config-options-slider-{{$index}}">
									</sa-check-box>
							</td>
							
						</tr>
					</tbody>
				</table>
		</div>
	</div>

</sa-modal-body>
<sa-modal-footer>
	<input type="submit" class="btn btn-info " ng-click="vm.cancel()" value="Cerrar" id="btn-cancelar">
	<input type="submit" class="btn btn-success" ng-click="vm.guardar() " value="Guardar" id="btn-guardar">
</sa-modal-footer>
</div>