<sa-title
	title-name="vm.title.page"
	title-icon="NEW2"
	date="vm.today"

	btn-search-click="vm.formControl.buscarPlantillas()"
	btn-search-disabled="!data.solicitud.MedicoSolicitante"

	btn-reload-click="vm.formControl.reloadPage()"
></sa-title>
<div class="cuerpo" >
	<form name="formSolicitud" accept-charset="utf-8" novalidate sa-valid-refresh valid-if="formSolicitud.$dirty">
		<uib-tabset class="prueba" active="vm.tabCtrl.active">
			<uib-tab ng-repeat="tab in vm.tabs track by $index"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				index="tab.index"
				class="{{ tab.CLASSBG }}"
				role="presentation"
				ng-hide="tab.HIDE"
				active="tab.ACTIVE"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<h3>{{tab.TITLE_CONTENT}}</h3>
					</div>
				</div>
				<!-- <div ng-include="tab.CONTENT" ></div> -->
				<div ng-bind-html="tab.CONTENT | saToHtml" fw-init-bind></div>
				<br>
				<div class="text-center">
					<div class="btn-group ">
						<button class="btn btn-cancel"
							ng-click="vm.formControl.cancel()">Cancelar</button>
						<button class="btn btn-cancel"
							ng-if="tab.index != 1"
							ng-click="vm.formControl.previousTab(tab.index)">Anterior</button>
						<button class="btn btn-info"
							ng-if="!(vm.formData.requiereProtesis && tab.index == vm.tabs.length) &&
							!(!vm.formData.requiereProtesis && tab.index == vm.tabs.length-1)"
							tabindex="8"
							ng-click="vm.formControl.nextTab(tab.index)">Siguiente</button>
						<button class="btn btn-default"
							ng-disabled='!formSolicitud.$valid'
							ng-click='vm.formControl.save()'>Guardar</button>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		<div class="row text-center">
			(*) Campos obligatorios
		</div>
		<div class="row ">
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabPaciente.$valid"
				class="text-error">
				Datos incompletos en solapa Paciente
			</div>
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabInforme.$valid"
				class="text-error">
				Datos incompletos en solapa Informe
			</div>
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabPrescripcion.$valid"
				class="text-error">
				Datos incompletos en solapa Elementos
			</div>
		</div>
	</form>
</div>