<sa-title
	title-name="vm.title.page"
	title-icon="EDIT"
	small="vm.title.small"
	alertas="vm.alertaPaciente"
	btn-reload-click="vm.formControl.reloadPage()"
></sa-title>
<!-- <sa-loading ng-if="vm.formControl.loading"></sa-loading> -->
<!-- <div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error"> -->
<div class="cuerpo" >
	<form name="formSolicitud" accept-charset="utf-8" novalidate>
		<uib-tabset  active="vm.tabCtrl.active">
			<uib-tab ng-repeat="tab in vm.tabs track by $index"
				uib-tooltip="{{tab.TITLE_CONTENT}}"
				class="{{ tab.CLASSBG }}"
				ng-hide="tab.HIDE"
				index="tab.index"
				active="tab.ACTIVE"
				disable="tab.DISABLED">
				<uib-tab-heading class="{{ tab.CLASS }}">
					{{ tab.TITLE_TAB }}
				</uib-tab-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<h3>{{tab.TITLE_CONTENT}}</h3>
					</div>
				</div>
				<!-- <div ng-include="tab.CONTENT" ></div> -->
				<div ng-bind-html="tab.CONTENT | saToHtml" fw-init-bind></div>
				<br>
				<div class="text-center">
					<div class="btn-group ">
						<button class="btn btn-cancel" ng-click="vm.formControl.volver()">
							<span ng-if="!formSolicitud.$pristine">Cancelar</span>
							<span ng-if="formSolicitud.$pristine">Volver</span>
						</button>
						<button class="btn btn-cancel"
							ng-if="tab.index != 1"
							ng-click="vm.formControl.previousTab(tab.index)">Anterior</button>
						<button class="btn btn-info"
							ng-if="tab.index != vm.tabs.length"
							ng-click="vm.formControl.nextTab(tab.index)">Siguiente</button>
						<button class="btn btn-default"
							ng-disabled="!vm.validar.form()"
							ng-click='vm.formControl.save()'>Guardar</button>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		<div class="row text-center">
			(*) Campos obligatorios
		</div>
		<div class="row ">
			<div ng-if="!formSolicitud.formTabPaciente.$valid &&
				(vm.formControl.esEditCreado || vm.formControl.esEditEnProcesoIntervencion)"
				class="text-error">
				Datos incompletos en solapa Paciente
			</div>
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabInforme.$valid &&
				vm.formControl.esEditCreado"
				class="text-error">
				Datos incompletos en solapa Informe
			</div>
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabPrescripcion.$valid &&
				vm.formControl.esEditCreado"
				class="text-error">
				Datos incompletos en solapa Prescripción
			</div>
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabAdmision.$valid &&
				vm.formControl.esEditEnProcesoIntervencion"
				class="text-error">
				Datos incompletos en solapa Autorización
			</div>
			<!-- <div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabProtesis.$valid &&
				vm.formControl.esEditEnProcesoProtesis"
				class="text-error">
				Datos incompletos en solapa Materiales y prótesis
			</div> -->
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabHuesos.$valid &&
				vm.formControl.esEditEnProcesoHuesos"
				class="text-error">
				Datos incompletos en solapa Banco de Huesos
			</div>
			<!-- <div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabEsterilizacion.$valid &&
				vm.formControl.esEditPendiente"
				class="text-error">
				Datos incompletos en solapa Esterilización
			</div> -->
			<div ng-if="!formSolicitud.$pristine && !formSolicitud.formTabCirugia.$valid &&
				vm.formControl.esEditPendiente"
				class="text-error">
				Datos incompletos en solapa Cirugía
			</div>
		</div>
	</form>
</div>