<sa-title
	title-name="vm.title.page"
	title-icon="LIST"
	small="vm.title.sucursal"

	btn-reload-click="formControl.reloadPage()"
	btn-reload-disabled="formControl.loading"
></sa-title>
<sa-loading ng-if="formControl.loading"></sa-loading>
<div id="cuerpo" ng-hide="formControl.loading || formControl.error">
	<div class="row fila">
		<form name="formFilter" accept-charset="utf-8" novalidate>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
				<label for="txt_numero_habitacion" class="label-control">Nº Habitación</label>
				<input type="number" class="form-control"
					id="txt_numero_habitacion"
					name="numeroHabitacion"
					min="0"
					max="999"
					ng-class="{ error : formFilter.numeroHabitacion.$error.number }"
					ng-model="vm.filter.numeroHabitacion"
					ng-change="vm.paginacion.pageChanged()">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " ng-if="formControl.esAll">
				<label for="cmb_categoria_habitacion" class="label-control">Categorías Habitación</label>
				<select class="form-control"
					id="cmb_categoria_habitacion"
					ng-model="vm.filter.categoriaHabitacion"	
					ng-change="formControl.getTiposFisicaByCategoria(vm.filter.categoriaHabitacion)"
					ng-options="categoria.nombre_categoria for
						categoria in data.categoriasHabitacion 
						track by categoria.id_categoria_habitacion">
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " ng-if="formControl.esAll">
				<label for="cmb_tipo_habitacion_fisica" class="label-control">Tipo Habitación</label>
				<select class="form-control"
					id="cmb_tipo_habitacion_fisica"
					ng-model="vm.filter.tipoHabitacionFisica"
					ng-change="vm.paginacion.pageChanged()"
					ng-disabled="!data.tiposHabitacionFisica.length"
					ng-options="tipoHabitacion.nombre_tipo_habitacion for
						tipoHabitacion in data.tiposHabitacionFisica
						track by tipoHabitacion.id_tipo_habitacion_fisica">
					<option ng-if="!data.tiposHabitacionFisica.length" value="">TODOS</option>
					<option ng-if="data.tiposHabitacionFisica.length" value="">--SELECCIONAR--</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " ng-if="formControl.esAll">
				<label for="cmb_estado_cama" class="label-control">Estado Cama</label>
				<select class="form-control"
					id="cmb_estado_cama"
					ng-model="vm.filter.estadoCama"
					ng-change="vm.paginacion.pageChanged()"
					ng-options="estado.nombre_estado_cama for estado in data.estadosCama track by estado.id_estado_cama">
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " ng-if="formControl.esAll">
				<label for="cmb_sucursal" class="label-control">Sucursales habilitadas</label>
				<select class="form-control"
					id="cmb_sucursal"
					ng-model="vm.filter.sucursal"
					ng-change="vm.paginacion.pageChanged()"
					ng-disabled="!formControl.esAll"
					ng-options="sucursal.Nombre for sucursal in data.sucursales track by sucursal.Id">
					<option value="">TODOS</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
				<label for="txt_cantaidad_camas" class="label-control">Cantidad camas</label>
				<div >
					<strong ng-bind="vm.paginacion.totalItems"></strong>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
				<button type="button" class="btn btn-default btn-row btn-block"
					ng-click="vm.filter.clean()">
					Limpiar
				</button>
			</div>
		</form>
	</div>
	<div class="row table-responsive">
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Hab.</th>
						<th class="text-center">Cama</th>
						<th class="text-center" ng-if="formControl.esAll">Tiempo transcurrido</th>
						<th class="text-center" ng-if="formControl.esAll">Sucursal</th>
						<th class="text-center" ng-if="formControl.esAll">Tipo Habitación</th>
						<th class="text-center" ng-if="formControl.esAll">Observaciones</th>
						<th class="text-center">Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cama in vm.filter.camas">
						<td class="text-center" ng-bind="cama.numero_habitacion"></td>
						<td class="text-center" ng-bind="cama.numero_cama"></td>
						<td class="text-center" ng-if="formControl.esAll">
							<div am-time-ago="cama.fecha_hora_cambio" uib-tooltip="{{ cama.fecha_hora_cambio | date: 'dd/MM/yyyy HH:mm' }}"></div>
						</td>
						<td class="text-center" ng-if="formControl.esAll" ng-bind="cama.nombre_sucursal"></td>
						<td class="text-center" ng-if="formControl.esAll" ng-bind="cama.nombre_tipo_habitacion_fisica"></td>
						<td class="text-center" ng-if="formControl.esAll" ng-bind="cama.observaciones_cama"></td>
						<td class="">
							<button type="button" class="btn btn-block"
								ng-disabled="formControl.stateLoading"
								ng-class="cama.EstadoCama.color"
								ng-click="formControl.selectState(cama)">
								{{cama.EstadoCama.nombre_estado_cama}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div><!-- .row>--> 
	<div class="row" >
		<div class="col-sm-12">
			<div class="text-center">
				<div uib-pagination 
					max-size="5"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged()"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div><!-- .row>-->
</div>