<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
	<h3 id="recursos-porprestacion-servicio-sucursal-title">Recursos que realizan la prestación {{vm.prestacion.Nombre}} (Cant: {{vm.recursosXPrestacion.length}})</h3>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<div class="tableturnos table-responsive">
		<table class="table table-fixed table-cursor-pointer table-hover">
			<thead>
				<tr class="cabecera-tabla">
					<th class="col-xs-4 text-center  color-verde-sucursales">Id/Codigo</th>
					<th class="col-xs-8 text-center  color-verde-sucursales">Nombre Recurso</th>
				</tr>
			</thead>
			<tbody class="bodyturnos">
				<tr ng-repeat="row in vm.recursosXPrestacion" class="rowturnos" id="recursos-porprestacion-servicio-sucursal-row-{{$index}}">
					<td class="col-xs-4 text-center ">{{row.IdElemento}}</td>
					<td class="col-xs-8 text-center">{{row.Nombre}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>