<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
		<label>CUIT</label>
		<input type="text"
			name="cuit"
			ng-model="vm.filter.cuit" 
			ng-required="false"
			maxlength="25"
			ng-change="vm.formControl.cuitChange()"
			id="soc-prof-general-cuit-input"
			sa-enter>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" sa-form-input-validate>
		<label>Número IIBB</label>
		<input type="text"
			name="numeroIibb"
			placeholder="0"
			ng-model="vm.filter.numeroIibb" 
			ng-change="vm.formControl.numeroIibbChange()"
			ng-required="false"
			id="soc-prof-general-iibb-input"
			maxlength="120"
			sa-enter
			sa-integer>
	</div>
	<!-- <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group" ng-controller="DatePickerController">
        <label class="control-label">Fecha Vigencia Eximición IIBB</label>
		<input type="date" class="form-control" id="fechaVigenciaEximicionIibb" name="fechaVigenciaEximicionIibb" ng-model="vm.filter.fechaVigenciaEximicionIibb" ng-required="false" sa-enter>
	</div> -->

	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group">
			<label class="control-label">Fecha Vigencia Eximición IIBB</label>
			<sa-date-time-picker ng-model="vm.filter.fechaVigenciaEximicionIibb" id="1" type="date" >
			</sa-date-time-picker>  
	</div>


	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 form-group">
			<label for="soc-prof-general-servicio-select">Servicio</label>
			<select id="soc-prof-general-servicio-select"
				name="servicio" class="form-control"
				ng-model="vm.filter.idServicioPorDefecto"
				ng-required="false"
				ng-change="vm.formControl.servicioPorDefectoChange()"                
				ng-options="servicio.Id as servicio.Nombre for servicio in vm.data.servicios"
				sa-enter>
				<option value="">-SELECCIONAR-</option>
			</select>
		</div>		
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" sa-form-input-validate>
		<label>Observaciones</label>
		<textarea name="observaciones" class="form-control noresize" id="soc-prof-general-observacioes-textarea" 
		ng-model="vm.filter.observaciones" ng-change="vm.formControl.observacionesChange()" ng-required="false" maxlength="250"></textarea>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 form-group">
		<sa-check-box label="Activo" ng-model="vm.filter.activo" color="green" sa-enter ng-change="vm.formControl.activoChange()" id-element="soc-prof-general-activo-slider"></sa-check-box>
	</div>
</div>