<div class="row">
	<div class="col-xs-12" ng-if="vm.data">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
				<h3 id="{{vm.idElement}}-titulo">{{vm.titulogrid}}</h3>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
				<button type="button" class="btn btn-default pull-right" ng-click="vm.btnClick()" 
				uib-tooltip="{{vm.tooltipBtn}}" uib-tooltip-placement="top" id="{{vm.idElement}}-new-btn">
					<sa-icon name="NEW"></sa-icon>
				</button>
			</div>
		</div>
	</div>

	<div class="col-xs-12 " ng-if="vm.data">
		<div class="tableturnos table-responsive">
			<table class="table table-fixed table-cursor-pointer table-hover">
				<thead>
					<tr class="cabecera-tabla">
						<th class="col-xs-2 text-center">
							<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
								<input class="text-capitalize" type="search" name="buscar_id" placeholder="Id/Cod." ng-model="vm.filterBuscarId" 
								 ng-change="vm.getItemsFiltered()"  autocomplete="off" id="{{vm.idElement}}-idcodigo-filter-input">
							</div>
						</th>
						<th class="col-xs-4 text-center">
							<div fw-form-input class="fw-table-filter no-valid" style=" margin-top: 0px; ">
								<input class="text-uppercase" type="text" name="buscar_item" placeholder="{{vm.columns.primera}}" ng-model="vm.filterBuscarItem"
								  ng-change="vm.getItemsFiltered()"  autocomplete="off" id="{{vm.idElement}}-nombre-filter-input">
							</div>
						</th>
						<th class="col-xs-2 text-center">Visible Portal</th>
						<th class="col-xs-2 text-center">Activo</th>
						<th class="col-xs-2 text-center">Acciones</th>
					</tr>
				</thead>
				<tbody class="bodyturnos" id="{{vm.tableId}}">
					<tr ng-repeat="row in vm.dataFilter" ng-class="{'{{vm.colorRow}}': row.selected }" class="rowturnos" context-menu="vm.contextOptions" 
					id="{{vm.idElement}}-row-{{$index}}">
						<td class="col-xs-2 text-center" ng-click="vm.rowClick(row)">{{row.IdElemento}}</td>
						<td class="col-xs-4 text-center" ng-click="vm.rowClick(row)">
							<sa-icon name="USER-CIRCLE" ng-if="row.esJefeServicio" uib-tooltip="Es Jefe de Servicio" tooltip-placement="top"></sa-icon>
							{{row[vm.columns.primeraBind]}}</td>
						<td class="col-xs-2 text-center">
							<sa-check-box ng-model="row.VisiblePortalWeb" color="green" ng-change="vm.changeVisiblePortal({pObject:row})" 
							id-element="{{vm.idElement}}-visibleportal-slider-{{$index}}">
							</sa-check-box>
						</td>
						<td class="col-xs-2 text-center">
							<sa-check-box ng-model="row.Activo" color="green" ng-change="vm.changeActivo({pObject:row})"
							id-element="{{vm.idElement}}-activo-slider-{{$index}}">
							</sa-check-box>
						</td>
						<td class="col-xs-2 text-center">
							<button type="button" class="btn btn-white btn-xs" uib-tooltip="Eliminar" tooltip-placement="top" ng-disabled="btnViewDisabled"
							 ng-click="vm.deleteClick({pObject:row})" id="{{vm.idElement}}-del-btn-{{$index}}">
								<sa-icon name="DEL"></sa-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>