<sa-title 
	title-name="vm.title.page"
	title-icon="NEW2"
	btn-reload-disabled="formControl.loading"
	btn-reload-click="formControl.reloadPage()"
	alertas="vm.alertaPaciente"
	>
</sa-title>
<div class="cuerpo" ng-hide="formControl.loading || formControl.error">
	<form name="formSolicitud" accept-charset="utf-8" novalidate>
		<sa-tabs model="tabs"></sa-tabs>
		<div class="row text-center">
			(*) Campos obligatorios
		</div>
		<br>
		<div class="row text-center">
				<button sa-btn-cancel icon="NONE"
					ng-click="formControl.volver()">
					<span ng-if="!formSolicitud.$pristine">Cancelar</span>
					<span ng-if="formSolicitud.$pristine">Volver</span>
				</button>
				<button sa-btn-save
					ng-disabled='!validar.form() || formSolicitud.$pristine'
					ng-click='formControl.guardar()'>Guardar</button>
				<button 
					sa-btn-save
					ng-disabled='!validar.form()'
					ng-click='formControl.admitir()'>Guardar y Admitir</button>
		</div>
		<div class="text-error"
			ng-if="!data.internacion.Paciente.Telefonos || !data.internacion.Paciente.Telefonos.length">
			Datos incompletos en solapa Paciente (Teléfonos)
		</div>
	</form>
</div>
<sa-loading ng-if="formControl.loading"></sa-loading>