<sa-title
	title-name="vm.title.page"
	title-icon="LIST"

	btn-new-click="vm.internacion.new()"
	btn-new-disabled="vm.formControl.loading"

	btn-reload-click="vm.formControl.reloadPage()"
	btn-reload-disabled="vm.formControl.loading"
></sa-title>
<div class="cuerpo" ng-hide="vm.formControl.loading || vm.formControl.error">
	<div class="row fila">
		<h4>Búsqueda avanzada</h4>
		<form name="formFilter" accept-charset="utf-8" novalidate>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group">
				<sa-sucursal-combo
					ng-model="vm.filter.sucursal">
				</sa-sucursal-combo>
			</div>
			<!-- <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-group">
				<sa-tipo-documento-combo
					old="true"
					ng-model="vm.filter.tipoDocumento">
				</sa-tipo-documento-combo>
			</div> -->
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
				<div fw-form-input>
					<label for="txt_numero_documento">Número de documento</label>
					<input type="text" placeholder="Numero documento"
						name="numeroDocumento"
						min="0"
						ng-disabled="vm.formControl.externo"
						ng-model="vm.filter.numeroDocumento">
					<sa-text-error model="formFilter.numeroDocumento"></sa-text-error>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
				<div fw-form-input>
					<label for="txt_nombre" >Nombre del paciente</label>
					<input type="text" placeholder="Nombre del paciente"
						name="nombreCompletoPaciente"
						ng-disabled="vm.formControl.externo"
						ng-model="vm.filter.nombreCompletoPaciente" >
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
				<div fw-form-input>
					<label for="txt_numero_solicitud" >Número de solicitud</label>
					<input type="number" placeholder="Número de solicitud" 
						name="numeroSolicitud"
						min="0"
						ng-model="vm.filter.numeroSolicitud"  >
					<sa-text-error model="formFilter.numeroSolicitud"></sa-text-error>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 pull-right">
				<button type="button" class="btn-row btn-block" sa-btn-search ng-click="vm.internacion.buscar()">Buscar</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 pull-right">
				<button type="button" class="btn-row btn-block" sa-btn-clean ng-click="vm.filter.clean()">Limpiar</button>
			</div>
		</form>
	</div>
	<div id="printArea" class="row table-responsive">
		<div class="col-xs-12">
			<table class="table table-hover table-bordered">
				<thead>
					<tr></tr>
					<tr class="cabecera-tabla">
						<th class="text-center">Nº</th>
						<th class="text-center">Origen</th>
						<th class="text-center">Prioridad</th>
						<th class="text-center">Sucursal</th>
						<th >Documento</th>
						<th >Paciente</th>
						<th >Profesional</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="internacion in vm.filter.internaciones"
						ng-dblclick="vm.admitir(internacion.id_internacion)" >
						<th class="row text-center">{{ internacion.id_internacion }}</th>
						<td class="text-center">
							<div ng-bind="internacion.OrigenSolicitud.nombre_origen_solicitud"></div>
						</td>
						<td class="text-center">
							<div ng-bind="internacion.PrioridadSolicitud.nombre_prioridad_solicitud"></div>
						</td>
						<td class="text-center">{{ internacion.Sucursal.descripcion }}</td>
						<td>{{internacion.Paciente.TipoDocumento.nombre_tipo_documento}}-{{internacion.Paciente.numero_documento}}</td>
						<td ng-bind="internacion.Paciente.nombre_completo"></td>
						<td ng-bind="internacion.MedicoSolicitante.nombre_completo"></td>
						<td class="text-center">
							<button type="button" class="btn btn-white btn-xs"
								uib-tooltip="Admitir" tooltip-placement="top"
								ng-disabled="!vm.validar.puedeAdmitir()"
								ng-click="vm.admitir(internacion.id_internacion)">
								<sa-icon name="CHECK"></sa-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-hide="vm.filter.internaciones.length" class="text-error text-center">No hay registros.</div>
	</div><!-- .row>-->
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center">
				<div
					uib-pagination
					boundary-links="true"
					max-size="9"
					items-per-page="vm.paginacion.pageSize"
					total-items="vm.paginacion.totalItems"
					ng-model="vm.paginacion.currentPage"
					ng-change="vm.paginacion.pageChanged(vm.paginacion.currentPage)"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</div>
			</div>
		</div>
	</div><!-- .row>-->
</div>
<sa-loading ng-if="vm.formControl.loading"></sa-loading>