<!-- ToDo: Quitar stypes -->
<sa-title title-name="vm.title.page" title-icon="{{ vm.title.icon }}"></sa-title>
<!--<sa-loading ng-if="vm.dataLoading"></sa-loading> -->
<!-- <div id="cuerpo" ng-hide="vm.dataLoading || vm.formControl.error"> -->
<div id="cuerpo" ng-hide="vm.formControl.loading ">
    <div class="row fila fila-not">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3 col-xs-12">

                    <sa-sucursal-combo-filtrado if-h3="true" ng-model="vm.data.sucursal" todas="false" ng-change="vm.formControl.changeSucursal(vm.data.sucursal)">
                    </sa-sucursal-combo-filtrado>

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6" ng-show="vm.data.servicios">

            <sa-tabla-con-activo-mas-visible-portal-web data="vm.data.servicios" table-class="true" click-row-func="vm.formControl.selectServicio(pObject)"
                columns="vm.columnsServicios" color-row="'color-rojo-pastel-prefactura'" titulogrid="Servicios en sucursal {{vm.data.sucursal.Nombre}} (Cant: {{vm.data.servicios.length}})"
                btn-click="vm.formControl.addServicios()" tooltip-btn="Agregar Servicio a Sucursal" delete-click="vm.formControl.deleteServicio(pObject)"
                change-activo="vm.formControl.changeActivoServicio(pObject)" change-visible-portal="vm.formControl.changeVisiblePortalServicio(pObject)">
            </sa-tabla-con-activo-mas-visible-portal-web>


        </div>

        <div class="col-lg-6 col-md-6" style="border-left: 2px solid rgb(189, 187, 187);" ng-show="vm.data.servicioSeleccionado">

            <sa-tabla-con-activo-mas-visible-portal-web data="vm.data.recursos" table-class="true" click-row-func="vm.formControl.selectRecurso(pObject)"
                columns="vm.columnsRecursos" color-row="'color-aquaorange-turno'" titulogrid="Recursos de {{vm.data.servicioSeleccionado.Servicio}} en {{vm.data.sucursal.Nombre}} (Cant: {{vm.data.recursos.length}}) "
                btn-click="vm.formControl.addRecursos()" tooltip-btn="Agregar Recurso a {{vm.data.servicioSeleccionado.Servicio}}"
                delete-click="vm.formControl.deleteRecurso(pObject)" change-activo="vm.formControl.changeActivoRecurso(pObject)"
                change-visible-portal="vm.formControl.changeVisiblePortalRecurso(pObject)">
            </sa-tabla-con-activo-mas-visible-portal-web>

        </div>

        <div class="col-lg-6 col-md-6" style="border-top: 2px solid rgb(189, 187, 187);padding-top: 6px;" ng-show="vm.data.servicioSeleccionado">
            <sa-tabla-con-activo-mas-visible-portal-web data="vm.data.especialidades" table-class="true" click-row-func="vm.formControl.selectEspecialidad(pObject)"
                columns="vm.columnsEspecialidadesXServicio" color-row="'color-verde-sucursales'" titulogrid="Especialidades de {{vm.data.servicioSeleccionado.Servicio}} en {{vm.data.sucursal.Nombre}} (Cant: {{vm.data.especialidades.length}})"
                btn-click="vm.formControl.addEspecialidadAServicio()" tooltip-btn="Agregar Especialidad a {{vm.data.servicioSeleccionado.Servicio}}"
                delete-click="vm.formControl.deleteEspecialidadXServicio(pObject)" change-activo="vm.formControl.changeActivoEspecialidadXServicio(pObject)"
                change-visible-portal="vm.formControl.changeVisiblePortalEspecialidadXServicio(pObject)">
            </sa-tabla-con-activo-mas-visible-portal-web>

        </div>

        <div class="col-lg-6 col-md-6" style="border-top: 2px solid rgb(189, 187, 187); 
        border-left: 2px solid rgb(189, 187, 187);padding-top: 6px;"
            ng-show="vm.data.recursoSeleccionado">

            <sa-tabla-con-activo-mas-visible-portal-web data="vm.data.especialidadesDelRecurso" table-class="true"
                click-row-func="vm.formControl.selectEspecialidadXRecurso(pObject)" columns="vm.columnsEspecialidadesXRecurso"
                color-row="'color-verde-sucursales'" titulogrid="Especialidades que realiza {{vm.data.recursoSeleccionado.Nombre}} (Cant: {{vm.data.prestacionesDelRecurso.length}})"
                btn-click="vm.formControl.addEspecialidadAServicioYRecurso()" tooltip-btn="Asignar Especialidad a Recurso"
                delete-click="vm.formControl.deleteEspecialidadXRecurso(pObject)" change-activo="vm.formControl.changeActivoEspecialidadXRecurso(pObject)"
                change-visible-portal="vm.formControl.changeVisiblePortalEspecialidadXRecurso(pObject)">
            </sa-tabla-con-activo-mas-visible-portal-web>

        </div>

        <div class="col-lg-6 col-md-6" style="border-top: 2px solid rgb(189, 187, 187); 
        border-left: 2px solid rgb(189, 187, 187);padding-top: 6px;"
            ng-show="!vm.data.recursoSeleccionado && vm.data.especialidadSeleccionada">

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                <h3>Recursos que realizan la especialidad {{vm.data.especialidadSeleccionada.Nombre}} (Cant:
                    {{vm.recursosXEspecialidad.length}})</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="tableturnos table-responsive">
                    <table class="table table-fixed table-cursor-pointer table-hover">
                        <thead>
                            <tr class="cabecera-tabla">
                                <th class="col-xs-4 text-center  color-verde-sucursales">Id/Codigo</th>
                                <th class="col-xs-8 text-center  color-verde-sucursales">Nombre Recurso</th>
                            </tr>
                        </thead>
                        <tbody class="bodyturnos">
                            <tr ng-repeat="row in vm.recursosXEspecialidad" class="rowturnos">
                                <td class="col-xs-4 text-center ">{{row.Id}}</td>
                                <td class="col-xs-8 text-center">{{row.Nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>

</div>
<sa-loading-modal ng-if="vm.formControl.loading"></sa-loading-modal>