<div class="row">
	<!-- <div class="col-xs-12">
		<button class="btn btn-info"
			ng-if="!gridOptions.enableFiltering"
			ng-click="toggleFiltering()">
			Ver Filtros de grilla
		</button>
		<button class="btn btn-info"
			ng-if="gridOptions.enableFiltering"
			ng-click="toggleFiltering()">
			Ocultar Filtros de grilla
		</button>
		<div class=" pull-right" >
			<button class="btn btn-info btn-sm"
				ng-disabled="!isSelected() || btnEditDisabled"
				ng-if="btnViewIf"
				ng-click="edit()">
				<sa-icon name="EDIT"></sa-icon>
			</button>
			<button class="btn btn-info btn-sm"
				ng-disabled="!isSelected() || btnViewDisabled"
				ng-if="btnViewIf"
				ng-click="view()">
				<sa-icon name="EYE_OPEN"></sa-icon>
			</button>
		</div>
	</div> -->
	<div class="col-xs-12" ng-if="data && data.length">
		<fw-table-container>
			<fw-table-config paginable="true" exportable="true" sortable="true" filtrable="true">
			</fw-table-config>
			<fw-table-columnset>
				<fw-table-column
					field="'numero_internado'"
					label="'N° Internado'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_prioridad_solicitud_preadmision'"
					label="'Prioridad Solicitud'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'nombre_estado_preadmision'"
					label="'Estado Preadmision'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'nombre_estado_internacion'"
					label="'Estado internación'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_tipo_alta_internacion'"
					label="'Tipo Alta'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'nombre_tipo_documento'"
					label="'Tipo documento'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'numero_documento'"
					label="'N° Documento'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_paciente'"
					label="'Nombre paciente'"
				></fw-table-column>
				<fw-table-column
					field="'sexo_paciente'"
					label="'Sexo'"
				></fw-table-column>
				<fw-table-column
					field="'numero_habitacion'"
					label="'Habitación'"
				></fw-table-column>
				<fw-table-column
					field="'numero_cama'"
					label="'Cama'"
				></fw-table-column>
				<fw-table-column
					field="'Edad'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_medico_cabecera'"
					label="'Médico cabecera'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_mutual'"
					label="'Mutual'"
				></fw-table-column>
				<fw-table-column
					field="'numero_afiliado'"
					label="'N° Afiliado'"
				></fw-table-column>
				<fw-table-column
					field="'nombre_tipo_paciente_facturacion'"
					label="'Tipo Pac. Facturación'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'fecha_admision'"
					label="'Ingreso'"
					type="'date'"
					format="'date'"
				></fw-table-column>
				<fw-table-column
					field="'CantidadTotalDiasSolicitados'"
					label="'Días solicitados'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'CantidadTotalDiasAutorizados'"
					label="'Días autorizados'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'CantidadTotalDiasReales'"
					label="'Días reales'"
					visible="false"
				></fw-table-column>
				<fw-table-column
					field="'diagnostico'"
					label="'Diagnóstico'"
				></fw-table-column>
			</fw-table-columnset>
			<fw-table-rowset data="data">
			</fw-table-rowset>
			<!-- ACCIONES DE FILA [Opcional] -->
			<!-- Se definen los botones de la lista de "Acciones" u "Opciones" -->
			<fw-table-buttonset>
				<!-- Cada boton tiene label para tooltip, nombre de icono de iconList, accion (function) y si es visible-->
				<fw-table-button
					visible="btnEditIf"
					label="'Editar'"
					icon="'EDIT'"
					action="edit(row)">
				</fw-table-button>
				<fw-table-button
					visible="btnViewIf"
					label="'Ver'"
					icon="'EYE_OPEN'"
					action="view(row)">
				</fw-table-button>
			</fw-table-buttonset>
			<fw-table-export>
				<fw-table-export-csv label="'Exportar página a Excel'" status="true">
				</fw-table-export-csv>
				<fw-table-export-csv label="'Exportar todo a Excel'" status="true" data="all">
				</fw-table-export-csv>
			</fw-table-export>
			<fw-table-filter></fw-table-filter>
			<fw-table-pagination></fw-table-pagination>
			<fw-table-sorting></fw-table-sorting>
			<fw-table></fw-table>
		</fw-table-container>
		<!-- <div id="tntGridServices" ng-if="data && data.length"
			ui-grid="gridOptions"
			ui-grid-selection
			ui-grid-exporter
			ui-grid-move-columns
			ui-grid-resize-columns>
		</div> -->
	</div>
</div>