<div class="row" sa-escape="mostrarNuevoParticipante = false">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right form-group">
		<button class="btn btn-default pull-right"
			tooltip-placement="top"
			id="sa-cargarparticipante-buscar-btn"
			uib-tooltip="Agregar participante"
			ng-disabled="limiteParticipantes || !editable"
			ng-click="mostrarNuevoParticipante = !mostrarNuevoParticipante"
			sa-punto-click="mostrarNuevoParticipante = !mostrarNuevoParticipante"
			sa-enter>
			<span ng-class="icono.SEARCH" class="glyphicon glyphicon-plus"></span>
		</button>
	</div>
</div>
<div class="row" ng-hide="!mostrarNuevoParticipante" sa-escape="mostrarNuevoParticipante = false">
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-2 form-group">
		<label>Tipo</label>
		<select class="form-control"
			ng-model="filter.tipoComponenteElegido"
			id="sa-cargarparticipante-tipo-select"
			ng-options="tipo as tipo.Nombre for tipo in filter.listaComponentes"
			ng-disabled="false"
			sa-enter>
		</select>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
		<sa-profesional-selector model='filter.participante'
			title='Matrícula' mostrarlabelnombre='true' mostrarlabelcodigo='true' tooltip='Buscar profesional' disabled="filter.deshabilitarProfesional" sa-enter>
		</sa-profesional-selector>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 form-group">
		<button class="btn btn-default btn-row"
			ng-click="cargarParticipanteNuevo()"
			id="sa-cargarparticipante-cargar-btn"
			sa-punto-click ="cargarParticipanteNuevo()"
			ng-disabled="!filter.participante && !filter.deshabilitarProfesional"
			sa-enter>
			Cargar
		</button>
		<button class="btn btn-cancelar btn-row" id="sa-cargarparticipante-cancelar-btn"
			ng-click='mostrarNuevoParticipante = false; filter.participante = null; focoAgregarParticipante()'
			sa-punto-click='mostrarNuevoParticipante = false; filter.participante = null; focoAgregarParticipante()'
			sa-enter>
			Cancelar
		</button>
	</div>
</div>