<div class="page">
<div id="print-content" class="container-print">
		<sa-modal-header title-name="{{vm.title.name}}" print="true"></sa-modal-header>
		<sa-modal-body>
			<div class="row fila">
				<div class="col-xs-4 ">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
							<h4>
								<label>
									<strong>Cierre nro </strong>
								</label> {{vm.nroCierreLegacy}}</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-4 ">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
							<h4>
								<label>
									<strong>Fecha</strong>
								</label> {{vm.fechaCierre | date:'dd/MM/yyyy HH:mm'}}</h4>
						</div>
					</div>
				</div>

				<div class="col-xs-4 ">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
							<h4>
								<label>
									<strong>Usuario </strong>
								</label> {{vm.nombreUsuarioCierre}}</h4>
						</div>
					</div>
				</div>


			</div>
			<div class="row fila" ng-repeat="itemCierre in vm.listaCierre">
				<h2>* Servicio: {{itemCierre.nombreServicio}}</h2>
				<div class="row" ng-repeat="cierre in itemCierre.practicasPorFinanciador">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						</divclass>

						<h3>{{cierre.financiador}}</h3>
						<table class="table table-bordered table-fina ">
							<thead>
								<tr class="cabecera-tabla">
									<td class="text-center">Fecha</td>
									<td class="text-center">Paciente</td>
									<td class="text-center">DNI</td>
									<td class="text-center">T.Af</td>
									<td class="text-center">Profesional</td>
									<td class="text-center">Practica</td>
									<td class="text-center">Cant.</td>
									<td class="text-center">Imp. Part.</td>
									<td class="text-center">Imp. Mut.</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="practica in cierre.practicas">
									<td class="text-left">{{practica.Fecha | date:'dd/MM/yyyy'}}</td>
									<td class="text-left">{{practica.NombrePaciente}}</td>
									<td class="text-center">{{practica.DNI}}</td>
									<td class="text-center">{{practica.TipoAfiliado}}</td>
									<td class="text-center">{{practica.Profesional}}</td>
									<td class="text-center">{{practica.CodigoPrefacturable}}</td>
									<td class="text-center">{{practica.Cantidad}}</td>
									<td class="text-center">{{practica.ImporteParticular}}</td>
									<td class="text-center">{{practica.ImporteFinanciador}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-xs-3">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<h4>
							<label>
								<strong>Total Particular: </strong>
							</label> {{vm.totalParticular | currency}}</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
						<h4>
							<label>
								<strong>Total Mutual: </strong>
							</label> {{vm.totalMutual | currency}} </h4>
					</div>
				</div>
			</div>

		</sa-modal-body>
</div>
</div>

<!-- <div class="page"></div> -->

<div id="print-content" class="container-print">
		<div class="page" ng-repeat="definitivoNumero in vm.listaDefinitivo">
	
			<sa-modal-header title-name="{{vm.title.name}}" print="true"></sa-modal-header>
	
			<sa-modal-body>
				<div class="row fila">
	
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Definitivo Nro: </strong>
									</label> {{definitivoNumero.numeroDefinitivoLegacy}}</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Sucursal: </strong>
									</label> {{definitivoNumero.sucursal}}</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Mes Facturación: </strong>
									</label> {{definitivoNumero.mesFacturacion}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Nombre Mutual: </strong>
									</label>
									{{definitivoNumero.nombreMutual}}
								</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Tipo Afiliado: </strong>
									</label> {{definitivoNumero.tipoAfiliado}}</h4>
							</div>
						</div>
					</div>
	
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Plan Mutual: </strong>
									</label> {{definitivoNumero.planMutual}}</h4>
							</div>
							<div class="col-xs-12en el col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Ámbito: </strong>
									</label> {{definitivoNumero.ambito}}</h4>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<h4>
									<label>
										<strong>Servicio: </strong>
									</label>
									{{definitivoNumero.servicio}}
								</h4>
							</div>
						</div>
					</div>
	
					<div class="row fila" ng-repeat="practica in definitivoNumero.defintivoPorCorteDeControl">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							</divclass>
							<table class="table table-bordered table-fina ">
								<thead>
									<tr class="cabecera-tabla">
										<td class="text-center">N° Aut.</td>
										<td class="text-center">Matric.</td>
										<td class="text-center">Cuenta</td>
										<td class="text-center">Practica</td>
										<td class="text-center">Afiliado</td>
										<td class="text-center">Fec. Prac.</td>
										<td class="text-center">Cant.</td>
										<td class="text-center">% Fc</td>
										<td class="text-center">% In</td>
										<td class="text-center">% Af</td>
										<td class="text-center">Unitario</td>
										<td class="text-center">Total</td>
	
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detallePractica in practica.practicas">
										<td class="text-left">{{detallePractica.Orden}}</td>
										<td class="text-left">{{detallePractica.Profesional}}</td>
										<td class="text-left">{{detallePractica.Cuenta}}</td>
										<td class="text-center">{{detallePractica.CodigoPrefacturable}}</td>
										<td class="text-center">{{detallePractica.NombrePaciente}}</td>
										<td class="text-center">{{detallePractica.Fecha | date:'dd/MM/yyyy'}}</td>
										<td class="text-left">{{detallePractica.Cantidad}}</td>
										<td class="text-left">{{detallePractica.PorcentajePractica}}</td>
										<td class="text-center">{{detallePractica.PorcentajeIncremento}}</td>
										<td class="text-center">{{detallePractica.PorcentajeAfiliado}}</td>
										<td class="text-center">{{detallePractica.ImporteFinanciador}}</td>
										<td class="text-center">{{detallePractica.ImporteFinanciador}}</td>
	
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
								<div class="col-xs-6">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
											<h4>
												<label>
													<strong>Total General Afiliado: </strong>
												</label> {{practica.totalImporteAfiliado | currency}}</h4>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
											<h4>
												<label>
													<strong>Total General Mutual: </strong>
												</label> {{practica.totalImporte | currency}} </h4>
										</div>
									</div>
								</div>
							</div>
			
					 	<!-- <h4>Importe total: {{practica.totalImporte | currency}}     Importe total Afiliado: {{practica.totalImporteAfiliado | currency}} </h4> -->
					</div>
				</div>
	
	
	
			</sa-modal-body>
		</div>
</div>

	<!-- <div class="page"></div> -->
	<div class="page" ng-repeat="definitivoDelLote in vm.definitivosDelLote">
		<div id="print-content" class="container-print">
	
			<sa-modal-header title-name="{{vm.title.name}}" print="true"></sa-modal-header>
			<sa-modal-body>
	
	
				<div class="row fila">
	
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
							<h4>
								<label>
									<strong>Lote Nro: </strong>
								</label> {{vm.nroLoteLegacy}}</h4>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
							<h4>
								<label>
									<strong>Fecha Impresión: </strong>
								</label> {{vm.fechaImpresionLote | date:"dd/MM/yyyy HH:mm" }}</h4>
						</div>
	
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
							<h4>
								<label>
									<strong>Operador: </strong>
								</label> {{vm.operadorLote}}</h4>
						</div>
	
					</div>
	
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
							<h4>
								<label>
									<strong>Sucursal: </strong>
								</label> {{vm.sucursalLote}}</h4>
						</div>
					</div>
	
				</div>
	
	
				<h4>* Servicio: {{definitivoDelLote.servicio}}</h4>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					</divclass>
					<table class="table table-bordered table-fina ">
						<thead>
							<tr class="cabecera-tabla">
								<td class="text-center">Nro Definitivo</td>
								<td class="text-center">Tipo Afiliado</td>
								<td class="text-center">Financiador</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detalleDefinitivo in definitivoDelLote.definitivos">
								<td class="text-left">{{detalleDefinitivo.NroDefinitivo}}</td>
								<td class="text-left">{{detalleDefinitivo.TipoAfiliado}}</td>
								<td class="text-center">{{detalleDefinitivo.Financiador}}</td>
							</tr>
						</tbody>
					</table>
				</div>
	
		</div>
	
	
	
		</sa-modal-body>
	</div>
		
		