@import '../../../css/common/variables';
.switch{
	background : #dcdcdc;
	width: 42px;
    height: 20px;
	small {
		width: 20px;
		height: 20px;
	}
	
}
.checked.red {
		background: $color-danger-bg;
		border-color: $color-danger-border;
	}
.checked.green {
		background: $color-success-bg;
		border-color: $color-success-border;
	}
.checked.blue {
		background: $color-info-bg;
		border-color: $color-info-border;
	}
.checked.orange {
		background: $color-warning-bg;
		border-color: $color-warning-border;
	}
.sa-check-box {
	// Se comenta ya que  no tiene uso
	// padding-top : 5px;
}
.sa-switch-label {
	display: flex !important;
}
.sa-switch-label-right {
	margin-left: 4px;
	padding-top: 3px;
}
