<div class="modal-header">
	<h4 class="modal-title"><sa-icon name="NEW2"></sa-icon> Seleccionar impresión</h4>
</div>
<div class="modal-body">
	<div ng-repeat="typePrint in vm.data.typesPrint track by $index" 
		ng-click="vm.formData.clickRadio(typePrint)"
		ng-dblclick="vm.formData.dblclickRadio()">
		<div style="cursor: pointer;"><input type="radio" ng-value="typePrint" ng-model="vm.formData.typePrint"> {{ typePrint.Descripcion }}</div>
	</div>
	<div ng-if="!vm.data.typesPrint.length">
		No hay impresiones disponibles.
	</div>
</div>
<div class="modal-footer" >
	<div ng-if="!vm.data.typesPrint.length">
		<button type="button"
			class="btn btn-default"
			ng-click="vm.formControl.cancel()">Aceptar</button>
	</div>
	<div ng-if="vm.data.typesPrint.length">
		<button type="button"
			class="btn"
			ng-click="vm.formControl.cancel()">Cancelar</button>
		<button type="button"
			class="btn btn-default"
			ng-disabled="!vm.formData.typePrint"
			ng-click="vm.formControl.ok()">Aceptar</button>
	</div>
</div>